<div class="activity_list_wrap">
	<img src="\themes\App\mobile\img\LifeGo\LifeGo01.svg">
	<img src="\themes\App\mobile\img\LifeGo\LifeGo02.svg">
	<img src="\themes\App\mobile\img\LifeGo\LifeGo03.svg">
</div> 
