	<div class="process_bar">
		<div class="process_bar_data_1">
{*			<div name="process_bar_t" class="process_bar_t process_bar_t_1">1</div><i name="process_bar_fas" class="fas_h fa-angle-double-right"></i>*}
{*			<div name="process_bar_t" class="process_bar_t_1">2</div><i name="process_bar_fas" class="fas_h fa-angle-double-right"></i>*}
{*			<div name="process_bar_t" class="process_bar_t_1">3</div><i name="process_bar_fas" class="fas_h fa-angle-double-right"></i>*}
{*			<div name="process_bar_t" class="process_bar_t_1">4</div><i name="process_bar_fas" class="fas_h fa-angle-double-right"></i>*}
{*			<div name="process_bar_t" class="process_bar_t_1">5</div>*}
		</div>
		<div class="process_bar_data_2">
{*			<div name="process_bar_tx" class="process_bar_t_1">區域</div><div name="process_bar_linex" class="process_bar_line_h"></div>*}
{*			<div name="process_bar_tx" class="process_bar_t_1">用途</div><div name="process_bar_linex" class="process_bar_line_h"></div>*}
{*			<div name="process_bar_tx" class="process_bar_t_1">型態</div><div name="process_bar_linex" class="process_bar_line_h"></div>*}
{*			<div name="process_bar_tx" class="process_bar_t_1">類別</div><div name="process_bar_linex" class="process_bar_line_h"></div>*}
{*			<div name="process_bar_tx" class="process_bar_t_1">條件</div><div name="process_bar_linex" class="process_bar_line_h"></div>*}
		</div>
	</div>