{$breadcrumbs_htm}
{include file='../../in_life/in_life_type.tpl'}
    <div class="join_life_wrap" style="margin: 0 auto;">
        <div class="content_block_wrap" style="width: 90%;">
            <img src="/themes/Rent/img/inlifeindex/img_1.svg" alt="" class="">
        </div>
        <div class="content_block_wrap " style="width: 90%;">
            <img src="/themes/Rent/img/inlifeindex/img_2.svg" alt="" class="">
        </div>
        <div class="content_block_wrap" style="width: 90%;">
            <img src="/themes/Rent/img/inlifeindex/img_3.svg" alt="" class="">
        </div>
        <div class="content_block_wrap" style="width: 90%;">
            <img src="/themes/Rent/img/inlifeindex/img_4.svg" alt="" class="">
        </div>
    </div>
{$carousel_js}
