/**
 æ¨£æ¿
 */
@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(admin-color.css);
#admin_menu a, li, *:not(.btn), *:not(div.tooltip){
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-transition:all 0.3s;
}
.form-wrapper .form-group {
	padding-left: unset;
	padding-right: unset;
	margin-right: unset;
	margin-left: unset;
}
.btn.checkbox{
	padding-top: 6px;
	min-height: unset;
}
.btn.checkbox:before{
	font-family: 'Glyphicons Halflings';
	vertical-align: bottom;
	content: "\e157";
}
.btn.checkbox.active:before{
	content: "\e067";
}
.float-right{
	float: right;
}
.bootstrap-tagsinput .tag{
	line-height: 2.2em;
}
span.span.input-group{
	display: table;
}
body,html{
	min-height: 100vh;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 14px;
}
.hidden{
	display:none;
}
/* ç™»å…¥ Start*/
.row.Loging{
	margin-right: unset;
	margin-left: unset;
}
.Loging legend{
	margin: 0;
	top: 0;
	display: inline-block;
}
#content.Loging{
	margin-left:0;
}
/* ç™»å…¥ End*/
.panel-heading .pull-right.input-group.w180 {
	margin-top: -4px;
}
.dropdown-menu{
	text-shadow:none;
}
.w180{
	width:180px;
}
.mw100{
	min-width: 100px;
}
td{
	vertical-align:middle;
}
input[type="color"] {
	width: 43px;
}
.table tr.myDragClass td {
	-moz-transform: translate(5px, 10px);
	-ms-transform: translate(5px, 10px);
	-webkit-transform: translate(5px, 10px);
	transform: translate(5px, 10px);
}
.breadcrumb{	//éºµåŒ…å±‘
margin-bottom:10px;
}
.panel-footer .btn {
	margin: 0 5px;
}
#content{
	position: relative;
	margin-left:180px;
	padding: 15px;
}
/* ä¸»é¸å–® Start */
#admin_menu{
	width:180px;
	height: 100%;
	display: table-cell;
	padding-bottom: 35px;
	position: fixed;
	padding-top: 10px;
	z-index: 10;
}
#admin_menu a{
	display:block;
	padding: 5px 10px;
	white-space:nowrap;
}
#admin_menu a i{
	display: inline-block;
	width: 1em;
	margin-right: 0.2em;
}
#admin_menu>ul>li>a>span{
	margin-left: 10px;
}
.menu_close #admin_menu{
	width: 34px;
	overflow: initial;
}
.menu_close #admin_menu>ul>li>a>span{
	display: none;
}
.menu_close #admin_menu ul.submenu,
.menu_close #admin_menu li.active>ul.submenu{
	display: none;
}
.menu_close #admin_menu li:hover ul.submenu,
.menu_close #admin_menu li.active:hover>ul.submenu{
	display: inline-block;
	position: absolute;
	left:0;
}
.menu_close #content {
	margin-left: 34px;
}
#admin_menu ul{
	margin:0;
}
#admin_menu .menu-collapse{
	margin-bottom: 50px;
	display: inline-block;
	width: 100%;
	padding: 15px 0;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}
#admin_menu a{
	text-shadow: 1px 1px 0 #333;
}
#admin_menu .submenu {
	position: absolute;
	right: -180px;
	z-index: 41;
	top: 0;
	width: 180px;
	display: none;
}
#admin_menu li .submenu,
#admin_menu li.active .submenu {
	margin-left: 34px;
}
#admin_menu li.active .submenu {
	position:relative;
	display:block;
	right:0;
	width: 146px;
}
#admin_menu li:hover .submenu{
	display: inline-block;
}
#admin_menu ul li{
	display:block;
	position: relative;
}
#admin_menu ul li.hover:not(.active):before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 10px 8px 0;
	border-color: transparent #363A41 transparent transparent;
	background-color: transparent;
	margin-top: 6px;
	position: absolute;
	z-index: 1;
	right: 0;
}
/* ä¸»é¸å–® End */
body.media{
	overflow: auto;
	margin-top: 0 !important;
}
.minbar a,
#footer a{
	margin:0 0.5em;
}
#top_bar{
	max-width: calc(100vw - 30px);
}
#top_bar_button{
	min-height:50px;
	margin-bottom: 20px;
}
.no-float{
	float:none !important;
	padding-top: 15px;
}
#main{
	display: table;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 35px;
}
.pointer{
	cursor:pointer;
}
.minbar {
	position: fixed;
	top: 0;
	height: 40px;
	width: 100%;
	text-align: right;
	z-index: 100;
	line-height:40px;
}
.tab-count{
	padding: 0 15px;
}
/* footer Start */
#footer{
	text-align:center;
	position: fixed;
	width: 100%;
	bottom: -30px;
	line-height: 30px;
	left: 0;
	height: 30px;
	-webkit-animation: footer_in 0.3s 0.2s ease both;
	-moz-animation: footer_in 0.3s 0.2s ease both;
	-ms-animation: footer_in 0.3s 0.2s ease both;
	-o-animation: footer_in 0.3s 0.2s ease both;
	animation: footer_in 0.3s 0.2s ease both;
	z-index: 100;
}
#footer .label-tooltip{
	background-color:inherit;
}
#footer .execution_time{
	position:absolute;
	left:5px;
}
#footer .execution_time .glyphicon{
	margin-right: 5px;
}
/* footer End */
.price_div .table-bordered>tbody>tr>td{
	padding:0;
	vertical-align:middle;
}
.h23{
	margin:0;
	height:22px;
}
.payment_v_btn,.payment_v2_btn{
	cursor:pointer;
	vertical-align:-webkit-baseline-middle;
}
.rotate-90 {
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.col-2>label{
	text-indent:1em;
}
.col-3>label{
	text-indent:2em;
}
.count_tabs li{
	cursor:pointer;
}
a,a:hover,a:focus{
	text-decoration:none;
}
.btn .icon{
	display:block;
}
/* åˆ—è¡¨ç¯©é¸ Start */
.field_list input[type=checkbox]{
	min-width: unset;
}
.field_list .input-group>*{
	width: unset;
}
.field_list {
	left: 15px;
	position: absolute;
	display: inline-block;
	z-index: 0;
	margin-bottom: 3em;
	padding: 5px;
	border-radius: 10px;
	margin-top: -18px;
}
.field_list:hover{
	z-index: 3;
	margin-top: -40px;
}
.field_list,.list .field_list:hover,.minbar{
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-transition:all 0.3s;
}
.field_list .field{
	z-index: 3;
	display: none;
}
.field_list .checkbox label{
	display: block;
}
.field_list .up{
	font-size: 10px;
}
.field_list .title,
.field_list .up{
	cursor: pointer;
}
.field_list.active{
	margin-top: -40px;
	z-index: 11;
}
/* åˆ—è¡¨ç¯©é¸ End */
/* åˆ—è¡¨ Start*/
.list .table{
	width: 100%;
	max-width: unset;
}
.list .table .thead th{
	white-space:nowrap;
}
.list .pieces {
	margin: 7px 15px 0 7px;
}
.list .pieces input{
	width: 5em;
}
.list tr th{
	position: relative;
}
.list table thead .edit_div,
.list table tbody .edit_div{
	vertical-align: middle;
}
.list th .th_title {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px;
	height: 100%;
	width: 100%;
	z-index: 10;
}
.edit_div{
	width:150px;
}
.edit_div .btn{
	margin:0 5px;
}
td.edit_div {
	padding: 0 !important;
}
.edit_div .btn {
	margin: 0;
}
/* åˆ—è¡¨ End*/
label.required:before{
	content:"*";
	vertical-align: middle;
}
.switch samp{
	display:inline-block;
	height: 20px;
	margin: 6px;
}
.switch samp input{
	vertical-align: text-bottom;
}
.drag_group{
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor:move;
}
.drag_group .positions {
	display: inline-block;
	padding: 0 5px;
	width: 43px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: 5px;
}
.page-title {
	float: left;
	margin-top: 10px;
}
/* æ¬Šé™è¨­å®š Start */
.Competence table{
	width: 100%;
}
.Competence td{
	padding:0.5em;
}
.Competence .child td:nth-child(1){
	text-indent:1em;
}
.Competence input[type="checkbox"]{
	vertical-align: text-top;
}
/* æ¬Šé™è¨­å®š End */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {float:none;display:inline-block;vertical-align: top;}
@media (min-width: 1200px){.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{float:none;display:inline-block;vertical-align: top;}}
@media (min-width: 992px){.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{float:none;display:inline-block;vertical-align: top;}}
@media (min-width: 768px){.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9{float:none;display:inline-block;vertical-align: top;}}
@media (max-width: 991px){
	.list .table,.list .table thead,.list  .table tbody ,.list .edit_div,.list .table thead tr th{
		display: block;
		margin: 0;
		width: 100%;
	}
	.list .table thead tr th{
		border-top: 0;
		height: 53px;
	}
	.list table {
		border-width: 0;
	}
	.list .table thead tr{
		vertical-align: top;
		display: inline-block;

	}
	.list .table thead tr:first-child{
		width: 30%;
	}
	.list .table thead tr:last-child{
		width: 70%;
	}
	.list .table tbody tr,
	.list .table tbody tr td {
		display: block;
	}
	.list .table thead,
	.list .table tbody tr{
		margin-bottom: 10px;
	}
	.list .table thead,
	.list .table tbody tr td {
		min-height: 40px;
		text-align: left;
		position: relative;
		padding-left: 35%;
		width: 100%;
	}
	.list tbody td:before{
		position: absolute;
		top: 4px;
		left: 12px;
		width: 30%;
		padding-right: 10px;
		text-align: right;
		font-style: italic;
	}
	.list .table tbody tr td.edit_div, .list .edit_div{
		text-align: right;
	}
}