:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}
.Breadcrumb {
    margin-top: -10px;
}
.alert.alert-danger {
    z-index: 99;
    position: fixed;
    top: 30%;
    left: 5%;
    width: 90%;
}
.house_check_wrap {
    margin-top: -30px;
}
.head_group {
    width: 1280px;
}

.head {
    display: flex;
        color: #ccc;
        margin-top: 20px;
        z-index: 9;
}
.head .logo {
    height: 80px;
    overflow: hidden;
    background: url('/img/logos/logo-b-03.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    cursor: pointer;
}
.head .logoxb {
    height: 80px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
}
.head .hyperlink {
    width: 70%;
    text-align: center;
}
.head .hyperlink label {
  vertical-align: bottom;
  padding-top: 48px;
  font-size: 14pt;
  padding-left: 10px;
  position: relative;
  display: inline-block;
  margin: 0rem;
}
.head .hyperlink label .l_2 {
  position: absolute;
width: 15em;
text-align: start;
display: flex;
color: #999;
}
.head .hyperlink label .l_2 label {
    height: 12pt;
}
.head .hyperlink label.wall:after {
  content: " ";
  border-right: 1px solid #ccc;
  padding-right: 10px;
  display: unset;
}
.head .hyperlink label .dropdown-toggle {
    padding: 0px !important;
        color: #666;
}
.head .hyperlink .d-menu {
    margin-top: 22px;
    margin-left: -50px;
}
.dropdown-toggle::before {
    content: none;
}
.head .hyperlink .d-menu a {
    font-size: 14pt;
}
.head .logon {
    width: 15%;
    margin: auto;
    text-align: center;
}
.head .share {
    width: 5%;
    text-align: center;
    margin: auto;
}
.head .share i{
  font-size: 16pt;
}

.footer {
    top: 4997px;
}
/*
.footer img {
  width: 7%;
  margin: 1% 4%;
} */
.main {
    width: 1280px;
    margin: auto;
}
.main .banner img {
    width: 100%;
}

.h-menu.now_here:before {
    background: rgb(230 245 195);
    width: -webkit-fill-available;
    content: " ";
    height: 440px;
    position: absolute;
    left: 0px;
    bottom: -15px;
    z-index: 0;
    margin-right: -10px;
}

.mediaViewInfo {
  --web-view-name: Web 1280 – 2;
  --web-view-id: Web_1280__2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Web_1280__2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Web_1280__2 {
  position: absolute;
  width: 1280px;
  height: 5107px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: Web 1280 – 2;
  --web-view-id: Web_1280__2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#certificateTech {
  fill: rgba(231,247,249,1);
}
.certificateTech {
  position: absolute;
  overflow: visible;
  width: 1801px;
  height: 860px;
  left: -336px;
  top: 2299px;
}
#Rectangle_1888 {
  position: absolute;
  width: 1281px;
  height: 642px;
  left: -1px;
  top: 750px;
  overflow: visible;
}
#Rectangle_1884 {
  position: absolute;
  width: 1281px;
  height: 600px;
  left: 0px;
  top: 78px;
  overflow: visible;
}
#Group_1237 {
  position: absolute;
  width: 291px;
  height: 94px;
  left: 424px;
  top: 141px;
  overflow: visible;
}
#Group_1237-1 {
  position: absolute;
width: 100%;
height: 160px;
left: 0px;
top: 120px;
overflow: visible;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 0.5;
}
#__ {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.541));
  left: 0px;
  top: 58px;
  position: absolute;
  overflow: visible;
  width: 292px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: rgba(255,255,255,1);
  font-size: 40px;
    color: rgba(255,255,255,1);
}

#__title{
    font-size: 44px;
    color: rgba(255,255,255,1);
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    left: 126px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.541));
}

# {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.541));
  left: 66px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 161px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: rgba(255,255,255,1);
  text-decoration: underline;
}

#Group_1236-1,#Group_1236{
  top: 800px;
}
#Group_1236-1 {
  position: absolute;
  width: 100%;
  height: 173px;
  left: 0px;

  overflow: visible;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 0.5;
}
#Group_1236 {
  position: absolute;
  width: 530px;
  height: 128px;
  left: 375px;

  overflow: visible;
}
#_bb {
  left: 185px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 161px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: rgba(0,0,0,1);
}
#_bc {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
left: -145px;
top: 92px;
position: absolute;
overflow: visible;
width: 831px;
height: 68px;
text-align: center;
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 40px;
color: rgba(0,0,0,1);
}
#Group_666 {
  position: absolute;
  width: 1280px;
  height: 71px;
  left: 0px;
  top: 5042.563px;
  overflow: visible;
}
#Rectangle_946_bf {
  fill: url(#Rectangle_946_bf);
}
.Rectangle_946_bf {
  position: absolute;
  overflow: visible;
  width: 1280px;
  height: 71px;
  left: 0px;
  top: 0px;
}
#_LIFE_MASTER_TECHNOLOGY_COMPAN {
  left: 416.729px;
  top: 29px;
  position: absolute;
  overflow: visible;
  width: 565px;
  white-space: nowrap;
  text-align: center;
  font-family: Tempus Sans ITC;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(54,54,54,1);
}
#Group_557 {
  position: absolute;
  width: 68.868px;
  height: 30.334px;
  left: 322px;
  top: 24.437px;
  overflow: visible;
}
#Group_1241 {
  position: absolute;
  width: 1090px;
  height: 971px;
  left: 95px;
  top: 3253px;
  overflow: visible;
}
#Rectangle_1882 {
  fill: rgba(246,254,255,1);
}
.Rectangle_1882 {
  position: absolute;
  overflow: visible;
  width: 1090px;
  height: 971px;
  left: 0px;
  top: 0px;
}
#Textbox_-_Filled {
  position: absolute;
  width: 772px;
  height: 221px;
  left: 159px;
  top: 529px;
  overflow: visible;
}
#Rectangle_526 {
  fill: rgba(255,255,255,1);
  stroke: rgba(29,116,143,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_526 {
  position: absolute;
  overflow: visible;
  width: 772px;
  height: 221px;
  left: 0px;
  top: 0px;
}
#_bm {
  left: 461px;
  top: 22px;
  position: absolute;
  overflow: visible;
  width: 161px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: rgba(29,116,143,1);
  text-decoration: underline;
}
#___ {
  opacity: 0.94;
  left: 141px;
  top: 147px;
  position: absolute;
  overflow: visible;
  width: 802px;
  white-space: nowrap;
  line-height: 26px;
  margin-top: -1px;
  text-align: center;
  font-family: PMingLiU-ExtB;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(29,116,143,1);
}
#Group_351 {
  position: absolute;
  width: 772px;
  height: 61px;
  left: 159px;
  top: 218px;
  overflow: visible;
}
#Rectangle_526_bp {
  fill: rgba(255,255,255,1);
  stroke: rgba(29,116,143,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_526_bp {
  position: absolute;
  overflow: visible;
  width: 772px;
  height: 61px;
  left: 0px;
  top: 0px;
}
#_ {
  left: 31px;
  top: 16px;
  position: absolute;
  overflow: visible;
  width: 87px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -2px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(29,116,143,1);
}
#__br {
  left: 395px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(29,116,143,1);
}
#Group_351_bs {
  position: absolute;
  width: 772px;
  height: 62px;
  left: 159px;
  top: 292px;
  overflow: visible;
}
#Rectangle_526_bt {
  fill: rgba(255,255,255,1);
  stroke: rgba(29,116,143,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_526_bt {
  position: absolute;
  overflow: visible;
  width: 772px;
  height: 62px;
  left: 0px;
  top: 0px;
}
#_bu {
  left: 18px;
  top: 17.999px;
  position: absolute;
  overflow: visible;
  width: 101px;
  white-space: nowrap;
  line-height: 23px;
  margin-top: -1.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(29,116,143,1);
}
#__bv {
  left: 395px;
  top: 14.999px;
  position: absolute;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(29,116,143,1);
}
#Group_351_bw {
  position: absolute;
  width: 772px;
  height: 61px;
  left: 159px;
  top: 369px;
  overflow: visible;
}
#Rectangle_526_bx {
  fill: rgba(255,255,255,1);
  stroke: rgba(29,116,143,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_526_bx {
  position: absolute;
  overflow: visible;
  width: 772px;
  height: 61px;
  left: 0px;
  top: 0px;
}
#__by {
  left: 395px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(29,116,143,1);
}
#Group_351_bz {
  position: absolute;
  width: 772px;
  height: 62px;
  left: 159px;
  top: 443.999px;
  overflow: visible;
}
#Rectangle_526_b {
  fill: rgba(255,255,255,1);
  stroke: rgba(29,116,143,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_526_b {
  position: absolute;
  overflow: visible;
  width: 772px;
  height: 62px;
  left: 0px;
  top: 0.001px;
}
#__b {
  left: 52px;
  top: 14.001px;
  position: absolute;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(29,116,143,1);
}
#__ca {
  left: 395px;
  top: 14.001px;
  position: absolute;
  overflow: visible;
  width: 67px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(29,116,143,1);
}
#_b {
  left: 177px;
  top: 386px;
  position: absolute;
  overflow: visible;
  width: 101px;
  white-space: nowrap;
  line-height: 23px;
  margin-top: -1.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(29,116,143,1);
}
#Group_359 {
  position: absolute;
  width: 151.824px;
  height: 28px;
  left: 177.176px;
  top: 765px;
  overflow: visible;
}
#Path_236 {
  fill: transparent;
  stroke: rgba(29,116,143,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_236 {
  overflow: visible;
  position: absolute;
  width: 23.36px;
  height: 26.161px;
  left: 0.001px;
  top: 3.331px;
  transform: matrix(1,0,0,1,0,0);
}
#_ca {
  left: 25.824px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 127px;
  white-space: nowrap;
  line-height: 23px;
  margin-top: -1px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: rgba(29,116,143,1);
  text-decoration: underline;
}
#Component_22__5 {
  position: absolute;
  width: 194px;
  height: 47px;
  left: 548px;
  top: 4106px;
  overflow: visible;
}
#Rectangle_847 {
  fill: rgba(163,200,214,1);
}
.Rectangle_847 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 212px;
  height: 65px;
  left: 0px;
  top: 0px;
}
#_cb {
  left: 75px;
  top: 3px;
  position: absolute;
  overflow: visible;
  width: 55px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: rgba(29,116,143,1);
}
#_cc {
  left: 558px;
    top: 2376px;
    position: absolute;
    overflow: visible;
    width: 161px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: rgba(0,0,0,1);
}
#Group_1304 {
  position: absolute;
  width: 675.45px;
  height: 527.723px;
  left: 307px;
  top: 2509.212px;
  overflow: visible;
}
#_cd {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.361));
  position: absolute;
  width: 337.695px;
  height: 527.723px;
  left: 367.755px;
  top: 0px;
  overflow: visible;
}
#_ce {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.49));
  position: absolute;
  width: 337.695px;
  height: 527.723px;
  left: -30px;
  top: 0px;
  overflow: visible;
}
#puzzle2 {
  position: absolute;
  width: 1280px;
  height: 834px;
  left: 0px;
  top: 1423px;
  overflow: visible;
}
#Path_20816 {
  opacity: 0.34;
  fill: rgba(255,255,255,1);
}
.Path_20816 {
  overflow: visible;
  position: absolute;
  width: 346px;
  height: 332px;
  left: 511px;
  top: 1554px;
  transform: matrix(1,0,0,1,0,0);
}
#_cf {
  left: 596px;
  top: 1648.605px;
  position: absolute;
  overflow: visible;
  width: 161px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#_cg {
  left: 308px;
  top: 1690.618px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(94,148,238,1);
  font-size: 40px;
}
#_ch {
  left: 347px;
  top: 1964.618px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(94,148,238,1);
  font-size: 40px;
}
#_ci {
  left: 948px;
  top: 1946.618px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(94,148,238,1);
  font-size: 40px;
}
#_cj {
  left: 879px;
  top: 1677.618px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(94,148,238,1);
  font-size: 40px;
}
#Group_1316 {
  position: absolute;
  width: 1281px;
  height: 692px;
  left: 0px;
  top: 4297px;
  overflow: visible;
}
#Rectangle_852_cm {
  fill: url(#Rectangle_852_cm);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_852_cm {
  position: absolute;
  overflow: visible;
  width: 1281px;
  height: 692px;
  left: 0px;
  top: 0px;
}
#Map {
  position: absolute;
  width: 417px;
  height: 520.204px;
  left: 719px;
  top: 149px;
  overflow: visible;
}
#Path_235 {
  opacity: 0.63;
  fill: rgba(241,249,255,1);
}
.Path_235 {
  overflow: visible;
  position: absolute;
  width: 416.386px;
  height: 519.729px;
  left: 0.58px;
  top: 0.475px;
  transform: matrix(1,0,0,1,0,0);
}
#Intersection_2 {
  fill: rgba(255,255,255,1);
}
.Intersection_2 {
  overflow: visible;
  position: absolute;
  width: 417px;
  height: 520px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Places {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 954px;
  top: 450px;
  overflow: visible;
}
#Rectangle_305 {
  fill: transparent;
}
.Rectangle_305 {
  position: absolute;
  overflow: visible;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#Path_114 {
  fill: rgba(251,38,38,1);
}
.Path_114 {
  overflow: visible;
  position: absolute;
  width: 39.53px;
  height: 47.975px;
  left: 2.999px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#_0800-010-568____________03358 {
  opacity: 0.87;
    left: 143px;
    top: calc(163px + 35px);
    position: absolute;
    overflow: visible;
    width: 598px;
    height: 325px;
    line-height: 55px;
    margin-top: -21px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}

#_0800-010-568____________03358 a{
  color:#fff;
}

#_cu {
  left: 561px;
  top: 32px;
  position: absolute;
  overflow: visible;
  width: 161px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: rgba(255,255,255,1);
}
#ID330-71_1132F____2F_No113_Xin {
  width: 580px;
    line-height: 30px;
    margin-top: -3px;
    font-size: 20px;
    white-space: break-spaces;
    margin-left: 3em;
    top: -2.2em;
    cursor: pointer;
}
#Group_1315 {
  position: absolute;
  width: 1282px;
  height: 78px;
  left: -1px;
  top: 0px;
  overflow: visible;
}
#Rectangle_1886 {
  fill: rgba(255,255,255,1);
}
.Rectangle_1886 {
  position: absolute;
  overflow: visible;
  width: 1282px;
  height: 78px;
  left: 0px;
  top: 0px;
}
#Component_24__19 {
  position: absolute;
  width: 1281px;
  height: 60px;
  left: 0px;
  top: 18px;
  overflow: visible;
}
#Group_348 {
  position: absolute;
  width: 553px;
  height: 14px;
  left: 309px;
  top: 21px;
  overflow: visible;
}
#_c {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_da {
  left: 73px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_db {
  left: 147px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_dc {
  left: 220px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 51px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#__c {
  left: 293px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 44px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_dd {
  left: 367px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_de {
  left: 440px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_df {
  left: 513px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#logo-1090109-1 {
  position: absolute;
  width: 103px;
  height: 42px;
  left: 116px;
  top: 0px;
  overflow: visible;
}
#Group_347 {
  position: absolute;
  width: 104px;
  height: 34px;
  left: 1073px;
  top: 11px;
  overflow: visible;
}
#Component_209__8 {
  position: absolute;
  width: 104px;
  height: 34px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_1 {
  fill: rgba(255,255,255,1);
  stroke: rgba(59,179,195,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1 {
  position: absolute;
  overflow: visible;
  width: 104px;
  height: 34px;
  left: 0px;
  top: 0px;
}
#___dc {
  left: 26px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#Rectangle_850_de {
  fill: url(#Rectangle_850_de);
}
.Rectangle_850_de {
  position: absolute;
  overflow: visible;
  width: 1281px;
  height: 4px;
  left: 0px;
  top: 56px;
}

  .dialogboxbk {
      z-index: 98;
      width: 100%;
      height: 100%;
      background: #000000bf;
      /* display: none; */
      position: fixed;
      top: 0px;
      left: 0px;
  }

  .dialogbox {
    position: absolute;
bottom: 5%;
width: 80%;
height: 800px;
border-radius: 20px;
width: 1280px;
left: 0px;
top: 3250px;
  }

.dialogbox .title {
    text-align: center;
    font-size: -webkit-xxx-large;
    font-weight: bold;
    color: #0f6387;
    margin: 50px;
}

.dialogbox .title_2 {
    text-align: center;
    font-size: larger;
    margin: 15px;
    color: #0f6387;
    font-size: 24px;
}

.dialogbox .border {
    display: flex;
    border: 2px solid #0f6387;
    border-radius: 15px;
    padding: 8px;
    background: #fff;
}

.dialogbox .border div {
    width: 50%;
    display: flex;
    line-height: 2.5rem;
    font-size: 20px;
}

.dialogbox .border label {
    border: 1px #0f6387 solid;
    margin: 8px;
}

.dialogbox .border input {
    border: 0px;
    width: 70%;
}

.dialogbox .border textarea {
    border: 0px;
    width: 100%;

}


.dialogbox {
    color: #0f6387;
}

.wid80 {
    width: 60%;
    margin: 15px auto;
}

.but {
    margin: auto;
    width: 200px;
    background: #5dabbc;
    color: #093a4f;
    font-size: xx-large;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}

.txt_area {
    height: 200px;
}

.attach {
    text-decoration: underline;
    font-size: larger;
}

i.far.fa-times-circle {
    top: 20px;
    position: absolute;
    right: 20px;
    font-size: 32pt;
    opacity: 0.4;
    display: none;
}

i.far.fa-times-circle:hover {

    opacity: 1;
}

input.fileupload {
    display: none;
}
.but_1 {
  width: 200px;
  background: #a3c8d6;
  color: #1d748f;
  font-size: xx-large;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  font-weight: bold;
  font-size: 27px;
    line-height: 45px;
}
.SMS input[type="text"] {
    height: 55px;
    border: 0px;
    background: unset;
    border-bottom: 2px solid #0f6387;
    text-align: center;
    margin-left: 10px;
}

.SMS {
    display: flex;
    margin: auto;
    width: fit-content;
    margin-top: 50px;
}

.SMS input[type="text"]::-webkit-input-placeholder{
    font-size:16pt;
}
