
.head .logon a{
    color: #a4c655;
}

.head .logon a:hover{
    color: #5cb8c5;
}

.head .share {
    width: 5%;
    text-align: center;
    margin: auto;
}

.head .share i{
    font-size: 16pt;
}

svg.svg-inline--fa.fa-share-alt.fa-w-14 {
    padding: 0px;
    color: #c3d700;
    font-size: 20pt;
    cursor: pointer;
}

svg.svg-inline--fa.fa-share-alt.fa-w-14:hover {
    color: #5cb8c5;
}
