.main {
    width: 100%;
}

.topbanner svg {
  width: 4rem;
  height: auto;
}

.topbanner div {
    text-align: center;
}

.topbanner .logo {
    background: url(/img/nested_group/4/welcome_icon_10.svg);
    background-position-y: -3rem;
    background-repeat: no-repeat;
    background-position-x: center;
    overflow: hidden;
}

.form_title span{
    font-size: xx-large;
    border-bottom: 3px solid #fcd13e;
}

.topbanner {
    background: #eee;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 16%), 0 2px 5px 0 rgb(0 0 0 / 26%);
}

.form_body .title label{
    font-size: x-large;
    width: 100%;
    /* text-align-last: justify; */
    text-align: end;
}

.form_body .input, .form_body .input input, .input.textarea textarea {
    border: 1px solid #ababab2e !important;
    border-radius: 10px;
    background: #eeeeee;
}

.form_row, .form_title_row {
    margin: 3rem;
}

.form_footer {
    width: 100%;
    background: #DEF5EF;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
}

.footer {
    display: none;
}

.form_footer .line.pass {
    background: #81CCF4;
    height: 1px;
}

.form_footer .line {
    background: #FFF;
    border: 1px solid #81CCF4;
    height: 1px;
}

.form_footer .Circle label {
    margin: auto 0;
}

.form_footer .Circle .circle {
    background: #FFF;
    border-radius: 50px;
    text-align: center;
    height: 5vh;
    font-size: 2rem;
    display: inline-table;
    max-width: 3vw;
    line-height: 8.5vh;
    color: #81CCF4;
    border: 4px solid #fcd13e;
    padding: 0 1.2vw;
}

.form_footer .Circle .circle.pass {
    background: #81CCF4;
    border-radius: 50px;
    text-align: center;
    height: 3rem;
    display: inline-table;
    color: #fff;
    max-width: 3rem;
}

.form_footer .Circle .circle.pass.number {
    max-width: 5vw;
}

.form_footer .title label {
    font-size: x-large;line-height: 8rem;color: #c2d84e;
    }

.form_footer {}

.form_footer .Circle {
    margin: auto;
    }


.form_row {
    overflow-x: hidden;
}

.form_end {
    height: 7rem;
}


.carousel {
    background: #e3e3e3;
    border: 3px solid #eeeeee;
    font-size: x-large;
    margin: auto;
    width: 60%;
    border-radius: 15px;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #fff;
}

.carousel:hover {
    background: #eeeeee;
    border: 3px solid #e3e3e3;
    color: #353535;
    font-weight: bold;
}


.carousel a {
    color: #fff;
}

.carousel:hover a{
    color: #353535;
}

.carousel svg {
    font-size: 3rem;
    vertical-align: sub;
}

.form_submit > div {
    display: flex;
}

.input_list {
    display: flex;
    padding-top: 0px;
}

.input_list input {
    margin: 1%;
    border-radius: 10px;
    background: #eeeeee;
    width: inherit;
    border: 1px solid #ababab2e !important;
}

.input_list input:last-child {
    margin-right: -1%;
}

.input_list input:first-child {
    margin-left: -1%;
}

.form_body .input svg.mutileplus {
    position: absolute;
    right: 0px;
    height: inherit;
    padding-right: 2%;
    color: #fcd13e;
}

svg.mutileplus {
    cursor: pointer;
}

svg.mutileplus:hover path {
    fill: #7dccf3;
}

/* page 1 */

.title span {
    display: block;
    font-size: initial;
    color: #e3e3e3;
}

.photo_upload {
    display: flex;
}

.photo_upload .photo\[\] {
  height: 180px;
  width: 180px;
  background: #e3e3e3;
  border-radius: 20px;
  margin: 5px;
  text-align: center;
  border: 2px solid #eee;
}

.photo_upload .photo\[\] .fa-plus {
    height: inherit;
    color: #fcd13e;
}

/* page 2 */

.get_check_code {
  background: #81ccf4;
  border: #fff;
  font-size: initial;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  padding: .6rem;
  /* margin-top: 1rem; */
  /* margin-bottom: 0rem; */
  color: #fff;
}

.get_check_code:hover {
    background: #fff;
    border: 3px solid #81ccf4;
    color: #81ccf4;
    font-weight: bold;
}

/* page 3 */

.agree {
    text-align: center;
    font-size: xx-large;
}

.agree .i_agree {
    width: 3rem;
    height: 3rem;
    vertical-align: text-top;
}

img#logodisplay, .gallery img, .gallery1 img {
    width: 20vw;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 1vh;
}
