:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.title_h {
    font-size: 36px !important;
}

.title_h_sec {
    font-size: 24px !important;
}

.title_c {
    font-size: 16px !important;
}


.head {
    display: flex;
        color: #ccc;
        margin-top: 20px;
}

.head .logo {
    height: 80px;
    overflow: hidden;
    background: url('/img/logos/logo-b-03.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    cursor: pointer;
}

.head .logoxb {
    height: 80px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
}
.head .hyperlink {
    width: 70%;
    text-align: center;
}

.head .hyperlink label {
  vertical-align: bottom;
  padding-top: 48px;
  font-size: 14pt;
  padding-left: 10px;
  position: relative;
  display: inline-block;
  margin: 0rem;
}

.head .hyperlink label .l_2 {
  position: absolute;
width: 15em;
text-align: start;
display: flex;
color: #999;
}

.head .hyperlink label .l_2 label {
    height: 12pt;
}

.head .hyperlink label.wall:after {
  content: " ";
  border-right: 1px solid #ccc;
  padding-right: 10px;
  display: unset;
}

.head .hyperlink label .dropdown-toggle {
    padding: 0px !important;
        color: #666;
}


.head .hyperlink .d-menu {
    margin-top: 22px;
    margin-left: -50px;
}

.dropdown-toggle::before {
    content: none;
}

.head .hyperlink .d-menu a {
    font-size: 14pt;
}

.head .logon {
    width: 15%;
    margin: auto;
    text-align: center;

}

.head .share {
    width: 5%;
    text-align: center;
    margin: auto;
}

.head .share i{
  font-size: 16pt;
}

/* 彈框 - start */

.more_understand {}

.more_understand .modal-dialog {
    margin: 18vh auto 0px;
    z-index: 10 !important;
}

.more_understand .modal-content {
    border-radius: 0px 25px;
    overflow: hidden;
}

.more_understand .modal-content .modal-header {
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 2px;
    background: var(--main_color1);
}


.modal-lg {
    width: 1000px;
}

.modal-dialog {
    margin: 15vh auto;
    z-index: 10 !important;
}

.modal-content {
    border: 1px solid var(--main_color1);
    border-radius: 0px 35px;
}


/* 彈窗暗色背景 */
/* .modal-backdrop.in { */
/* display: none; */
/* } */

.modal-header .modal_title1 {
    width: 35%;
    padding: 0px 50px 0px;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--main_color1);
    letter-spacing: 5px;
    text-align: right;
}

.modal-header .modal_title2 {
    width: 60%;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--main_color1);
    letter-spacing: 3px;
    display: flex;
    border: 1px solid var(--main_color1);
    border-radius: 0px 15px;
    overflow: auto;
}

.modal-header .modal_title2 label {
    white-space: nowrap;
    padding: 5px 15px;
    margin: 0px;
    border-right: 1px solid var(--main_color1);
}

.modal-header .modal_title2 label2 {
    white-space: nowrap;
    padding: 5px 15px;
    margin: 0px;
    border-left: 1px solid var(--main_color1);
    border-right: 1px solid var(--main_color1);
}

.modal-header input {
    width: 160px;
    color: #555;
    font-weight: normal;
    padding: 0px 10px;
    border: none;
}

.modal-dialog .modal-body {
    padding: 20px 40px 10px;
}

.modal-dialog .content_wrap {}

.modal-dialog .content_wrap .content {
    border: 1px solid #aaa;
    padding: 20px 50px 20px;
    border-radius: 0px 15px 0px 0px;
}


.modal-dialog .content_wrap .caption {
    border: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-radius: 0px 15px 0px 0px;
}

.modal-dialog .content_wrap .caption .info {
    width: 100%;
    text-align: center;
    border: unset;
    background: #f3e6ff;
}


.modal-dialog .content_wrap .caption .info #title {
    font-weight: bold;
    font-size: 1.2em;
}

.modal-dialog .content_wrap .caption .labe {
    border: unset;
}



.modal-dialog .modal-body .content .caption {
    border: unset;
}


.modal-dialog .modal-body .content .list {
    line-height: 2em;
}

.modal-dialog .modal-body .content .name_frame {
    position: relative;
}

.modal-dialog .modal-body .content .list .floating {
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
}


.modal-dialog .modal-body .content .list .floating i {
    width: unset;
    height: unset;
    color: unset;
    position: absolute;
    background: unset;
}

.modal-dialog .modal-body .content .list .floating i:before {
    color: #888;
    font-size: 1.4em;
    background: unset;
    position: absolute;
    top: 10px;
}

.modal-dialog .modal-body .content .list input {
    width: 100%;
    display: block;
    color: #555;
    letter-spacing: 2px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 40px;
    text-align: left;
    border: unset;
    border-bottom: 1px solid #333;
    background: unset;
    position: relative;
}

.modal-dialog .modal-body .content .list input::placeholder {
    color: #333;
    font-size: 1em;
    text-align: center;
    /* padding: 0px 0px 0px 10px; */
}

.modal-dialog .modal-body .content .list .radio_wrap {
    display: flex;
    margin: 0px;
}


.modal-dialog .modal-body .content .list .radio_wrap .radio {
    width: 85px;
    display: block;
    text-align: center;
    position: relative;
}

.modal-dialog .modal-body .content .list .radio_wrap .radio input {
    width: unset;
    margin: 15px 0px 0px;
    position: absolute;
}

.modal-dialog .modal-body .content .list .radio_wrap img {
    width: 30px;
    height: auto;
    vertical-align: top;
}

.modal-dialog .modal-body .content .list .radio_wrap .radio .caption {
    color: #555;
    font-size: 1.1em;
    display: inline-block;
    overflow: unset;
    padding: 0px;
}

.modal-dialog .message textarea {
    max-width: 716px;
    min-width: 716px;
    min-height: 100px;
    border: 1px solid var(--main_color1);
    border-radius: 0px 20px;
}

/* 送出按鈕 */
.modal-dialog .modal-footer{
    text-align: center;
    border: unset;
    padding: 10px 0px 0px;
}

.modal-dialog .modal-footer .btn {
    color: #fff;
    padding: 5px 15px;
    margin: 0px auto 20px;
    font-size: 1.1em;
    background: var(--main_color1);
    letter-spacing: 5px;
    border-radius: 0px 10px;
}


.modal-dialog .radio_wrap {
    display: flex;
    justify-content: start;
    align-items: center;
}

.modal-dialog .radio_wrap .radio {
    width: 80px;
    margin: 0px;
    font-size: 1em;
    font-weight: normal;
}


/* 聯絡時間  */
.modal-dialog .contact_time_wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0px 0px;
}

.modal-dialog .contact_time_wrap .caption {
    width: 120px;
    color: #555;
    font-size: 1.1em;
    line-height: 16px;
    padding: 0px;
    margin: 0px 20px 0px 0px;
    font-weight: bold;
}

.modal-dialog .modal-body .contact_time_wrap .radio {
    width: 60px;
    padding: 0px 5px;
    margin: 0px auto;
    font-size: 16px;
    font-weight: normal;
    position: relative;
}

.modal-dialog .modal-body .contact_time_wrap .radio input{
    margin: 0px;
    position: absolute;
    left: -37px;
    top: 12px;
}


.flexbox {
    display: flex;
}


/* 留言框 */
.modal-dialog .message {
    padding: 0px;
    margin: 0px -5px;
}

.modal-dialog .message textarea {
    width: 100%;
    min-width: 810px;
    max-width: 810px;
    min-height: 100px;
    max-height: 190px;
}

.modal-dialog .content_wrap .message .caption {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: unset;
    line-height: 18px;
    margin: 0px 0px 5px;
}

.modal-dialog .content_wrap .message .caption img{
    width: 35px;
    margin: 0px 10px 0px 0px;
}


/* 同意聲名 */
.modal-dialog .agree {
    margin: 15px 0px 0px;
    text-align: left;
}

.modal-dialog .agree label {
    font-size: 1em;
    font-weight: normal;
    line-height: 25px;
    margin: 0px;
}

.modal-dialog .agree input {}


/* 預約賞屋 - start*/
.modal-dialog .content_wrap .order_time_wrap {
    text-align: left;
    margin: 0px 0px 15px;
}

.modal-dialog .content_wrap .order_time_wrap .caption span {
    color: red;
    font-size: 14px;
    font-weight: normal;
    margin-left: 15px;
}

.modal-dialog .content_wrap .order_time_wrap .radio_wrap {
    padding-left: 8px;
}

.modal-dialog .content_wrap .order_time_wrap .caption {
    color: #555;
    font-size: 1.1em;
    line-height: 20px;
    padding: 5px 0px 5px;
    font-weight: bold;
}

.modal-dialog .content_wrap .order_time_wrap .radio {
    padding: 0px;
    width: 65%;
    margin-left: 30px;
}

.modal-dialog .content_wrap .order_time_wrap .form-control {
    margin: 0px 2px;
    font-size: 18px;
    text-align: center;
}

/* 預約賞屋 - end*/

/* 彈框 - end */


/* 驗證 */
.modal-dialog .verification_wrap {
    display: flex;
    align-items: center;
}

.modal-dialog .verification_wrap .caption {
    color: #555;
    font-size: 18px;
    line-height: 16px;
    padding: 11px;
    font-weight: bold;
}

.modal-dialog #verification .cerify-code-panel {
    display: flex;
}

.modal-dialog #verification .verify-code {
    width: 180px;
    height: auto;
}

.modal-dialog #verification font {
    font-size: 2em;
}

.modal-dialog #verification a.verify-change-code {
    color: #555;
    font-size: 15px;
    cursor: pointer;
}

.modal-dialog #verification a.verify-change-code:hover {
    color: #555;
    background: unset;
}

.modal-dialog #verification a.verify-change-code:after {
    content: none;
}

.modal-dialog .verification_wrap #check-btn {
    height: 36px;
    margin-left: 50px;
    padding: 0px 15px;
    outline: 1px solid #ccc;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #ccc;
}

.modal-dialog .modal-content input:focus {
    outline: none;
}
