
.footer a {
    color: #000 !important;
}

.footer {


    color: #FFF;
    text-align: center;
    border-radius: 5px;
    font-size: 14pt;
    z-index: 1000;
    position: relative;
    background: linear-gradient(180deg, rgba(224,251,249,1) 0%, rgba(224,251,249,1) 0%, rgba(97,194,207,1) 100%);
    background: #FFF;
    border-top: 5px solid #5dabbc;
    fill: url(#Rectangle_946_cb);
    color: #000;
    /* height: 106px; */
    margin: auto;
    /* line-height: 80px; */
    /* padding-top: 20px; */

}

.footer img {

  width: 5%;
    margin: 1%;

}

.footer .spacing {
    margin: 0px 1em;
}
