.main {
    width: 1280px;
    margin: auto;
}

.main .banner img {
    width: 100%;
}

.head {
    display: flex;
    color: #ccc;
    margin-top: 20px;
    width: 1280px;
    margin: auto;
}

.head .logo {
    height: 80px;
    overflow: hidden;
    background: url('/img/logos/logo-b-03.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    cursor: pointer;
}

.head .logoxb {
    height: 80px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
}
.head .hyperlink {
    width: 70%;
    text-align: center;
}

.head .hyperlink label {
    vertical-align: bottom;
    padding-top: 48px;
    font-size: 14pt;
    padding-left: 10px;
    position: relative;
    display: inline-block;
    margin: 0rem;
}

.head .hyperlink label .l_2 {
    position: absolute;
    width: 15em;
    text-align: start;
    display: flex;
    color: #999;
}

.head .hyperlink label .l_2 label {
    height: 12pt;
}

.head .hyperlink label.wall:after {
    content: " ";
    border-right: 1px solid #ccc;
    padding-right: 10px;
    display: unset;
}

.head .hyperlink label .dropdown-toggle {
    padding: 0px !important;
    color: #666;
}


.head .hyperlink .d-menu {
    margin-top: 22px;
    margin-left: -50px;
}

.dropdown-toggle::before {
    content: none;
}

.head .hyperlink .d-menu a {
    font-size: 14pt;
}

.head .logon {
    width: 8em;
    margin: auto;
    text-align: center;

}

@keyframes drag-flush{

}

body .display_content>article
{
    margin-bottom: 0vw;
}
