:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}
.Breadcrumb {
    margin-top: -20px;
}
.house_check_wrap {
    margin-top: 50px;
}

.separated {
    width: 1px;
    height: 1.3em;
    margin: -2px 10px;
    display: inline-block;
    background: #555;
}

.mc1{
    color: var(--main_color1);
}

.none{
    display: none!important;
}

.house_check_wrap hr {
    border-top: 1px solid #888;
}

.house_check_wrap .bold {
    font-weight: bold;
}


/* 健康宅檢測框架 */
.house_check_wrap .banner {
    margin: auto;
    border-radius: 0px 35px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 80px;
}

.house_check_wrap .content_block_wrap {

	width: 100%;
	margin: 0 auto;
}

.house_check_wrap .content_block_wrap p{
	letter-spacing: 2px;
	font-size: 1.1em;
	line-height: 1.3em;
}

.house_check_wrap .content_block_wrap p.star{
	color: var(--main_color1);
	font-size: 1.2em;
}


.house_check_wrap .content_block_wrap h2.caption{
	color: var(--main_color1);
	font-size: 2.4em;
	font-weight: bold;
	line-height: 1.2em;
}


.house_check_wrap .content_block_wrap .image {
	display: table-cell;
	vertical-align: top;
	width: 40%;
	border-radius: 0px 25px;
	overflow: hidden;
}

.house_check_wrap .content_block_wrap .emphasis{
	color: #555;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5em;
	letter-spacing: 3px;
}

.house_check_wrap .content_block_wrap .emphasis:after{
	content: "";
	width: 1px;
	height: 23px;
    margin: -2px 10px;
	background: #555;
	display: inline-block;
}

.house_check_wrap .content_block_wrap .emphasis.unset:after {
	content: none;
}


.house_check_wrap .more_btn{
display: inline-block;
    color: #fff;
    font-size: 1.3em;
    padding: 5px 60px;
    margin: 20px 30px 10px;
    background: var(--main_color1);
    border-radius: 0px 10px;
}

/*
.footer img {
  width: 7%;
  margin: 1% 4%;
}

.footer {
  background: #5dabbc;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
    font-size: 13pt;
    z-index: 10;
    position: relative;
} */

section.slider_center.slick-initialized.slick-slider img {
    width: 100px;
}

section.slider_center.slick-initialized.slick-slider {
    margin: auto;
    width: 90%;
}

.message table {
    width: 60%;
    margin: auto;
}

.message table td.col-1 {
    width: 25%;
}

.message table td.col-2 {
    width: 50%;
}

.message table td.col-3 {
    width: 75%;
}

.message table td.col-4 {
    width: 100%;
}

.message table td textarea {
    width: 100%;
    height: 400px;
    border-radius: 0 30px;
    border: 1px solid #5dabbc;
}

.bottom.message {
  background: #eee;padding-top: 5em;
  padding-bottom: 100px;
}



.message .submit {
  width: 120px;
    margin: 1em 1em;
    display: table;
    background: #fff;
    border-radius: 0 5px;
    color: #666;
    padding: 5px;
    border: 1px solid #5dabbc;
    display: inline;
    font-size: 12pt;
}

.check_code {
    width: 20% !important;
}



.message table * {
    font-size: 14pt;
    font-weight: bold;
}

.message label {
    color: #5dabbc;
    font-size: 1.3em;
    vertical-align: text-top;
    margin: 0 0.5em;
}

.T_txt {
  text-align-last: justify;
  width: 10% !important;
}

.message label.nomral {
    color: #ccc;
    font-size: unset;
}

.message input[type="radio"] {
    width: 1.4em;
    height: 1.4em;
    vertical-align: bottom;
    margin: 0 5px;
}

.message input[type="text"] {
    margin: 0 5px;
    border: 0px;
    background: unset;
    display: unset;
    width: max-content;
    width: 90%;
}

.message input[type="text"]::placeholder
{
  font-size: 14pt;
  text-align: start;
  vertical-align: middle;
}

.message input[type="checkbox"] {
    width: 1.4em;
    height: 1.4em;
    vertical-align: bottom;
    margin: 0 5px;
}

.message .under_line {
    border-bottom: 1px solid #ccc !important;
}

.message .left_line:before {
  border-left: 1px solid #ccc;
content: " ";
padding-right: 1em;
}

.message .right_line {

  text-align: left;
  padding-left: 1em;
}

.message td.readme {
    padding: 3em 0;
}
