:root {

    --main_color1: #532789;

    --main_color2: #fff100;

    --text_normal_color: #555;

    --text_dark_color: #222;

    --text_light_color: #aaa;

    --lg_bk_color: #e8e7e7;

    --CIS_color1: #98d140;

    --CIS_color2: #66c1b5;

}


@font-face {

  font-family: "HuaKangXiuFengTiFan-1";

  src: url("/css/font-wind/HuaKangXiuFengTiFan-1.woff2") format("woff2"), url("/css/font-wind/HuaKangXiuFengTiFan-1.woff") format("woff"), url("/css/font-wind/HuaKangXiuFengTiFan-1.ttf") format("truetype"), url("/css/font-wind/HuaKangXiuFengTiFan-1.eot") format("embedded-opentype"), url("/css/font-wind/HuaKangXiuFengTiFan-1.svg") format("svg");

}


body
{
  /* background: url(/themes/Okmaster/img/index/bk_body.png); */
  background-size: contain;
}


.display_content {

    width: 1280px;
    margin: auto;

    /* background: url(/themes/Okmaster/img/index/bk.png); */
    background-size: contain;

}



.display_content .head_tb {

    margin: auto;

    width: 100%;

}



.display_content ul li {

    /* background: #eeeeee78; */

}



.display_content ul li:nth-child(1) {

    /* padding-top: 50px; */

}





.display_content .head_tb td {

    padding: 1%;

}



.display_content .head_tb .td_L {

    vertical-align: bottom;

    padding-bottom: 3%;

}



.display_content .head_tb .td_T {

    vertical-align: bottom;

    padding-left: 3%;

}



.display_content .head_tb .td_R {

    vertical-align: top;

    padding-top: 3%;

}



.display_content .head_tb .td_B {

    vertical-align: top;

    padding-right: 3%;

}



.display_content .head_tb .td_M {

    vertical-align: top;

    padding: 3%;

}



.display_content .head_tb img {

    width: 100%;

}



.display_content .head_tb .td_1 {

    width: 33%;

}



.display_content .head_tb .td_2 {

    width: 66%;

}



.display_content .head_tb td:not(.td_M) div {

    border: 1px solid #CCC;

}









.top div {

    width: 50%;

}



.top .top_R {

  text-align: end;

  /* font-size: 3rem; */

  color: #48a4bc;

}

.fn_bar {
    position: absolute;
    display: flex;
    left: 0px;
    margin: 0px 5%;
    z-index: 99;
}

.fn_bar img{
    cursor: pointer;
}


.top_R img {
    margin: 0px 10px;
    width: 30px;
}

.top_R svg {

    fill: #48a4bc;

    width: 1rem;

    cursor: pointer;

}



.top_R svg:hover {

    transform: scale(1.2);

    transition: transform 0.1s linear;

    fill: #3a899c;

}

.top .top_L.active {

  font-size: 1em;

  color: #9f9fa0;

  margin: auto;

}

.top .top_L {

  font-size: 1em;

  color: #fff;

  margin: auto;

  opacity: 0;

}




.top .top_L a.active {

  font-size: 12pt;
    color: #9f9fa0;


}




.top .top_L a {

  font-size: 12pt;
    color: #fff;
    font-weight: bold;


}



.top .top_L a:hover {

    color: #AAA;

    transition: color 0.1s, font-size 0.1s linear;

    font-size: 16pt;

}



span {

    /* font-size: 36pt;

    font-weight: bold;
 */
}



li {

    text-align: center;

}



.display_content ul img:not(.title) {

    margin-top: 20px;

    /* margin-bottom: 50px;
 */
    width: 90%;

}


.display_content ul.R_txt {

    margin-top: 120px;

}


.display_content ul img.title.x {

  height: 22pt;

  padding-right: 11pt;

}



.display_content span:not(.news_cols) {

    /* font-size: 22pt;

    font-weight: bold;

    vertical-align: -webkit-baseline-middle;

    letter-spacing: 2pt;
 */
}



.display_content ul {

    margin-top: 50px;

    /* background: #eeeeee78; */

    margin-bottom: 0px;


}



.display_content {

    /*background: #eeeeee78;*/

    padding: 0 2%;

    /* overflow: hidden; */

    position: relative;
}



.news_row {

    display: flex;

    background: #eeeeee78;

    width: 100%;

    padding: 0 4%;

}



.news_row div {

    padding: 0 3px;

}



.news_row > div div {

    /* background: #FFF; */

}



.news_row .items {

    width: 95%;

    background: #FFF;

    margin: auto;

    border-top-right-radius: 15px;

    padding: 0px;

}



.news_row > .news_cols {

    width: 25%;

    margin-bottom: 100px;

}



.news_row .news_cols img {

    border-radius: 0 15px;

    width: 100%;

}





.news_row .news_cols .photo {

    border-top-right-radius: 15px;

    text-align: center;

    padding: 0px;



}



.news_row .news_cols .content {

    height: 5em;

    padding-top: 1em;

    text-align: center;

    font-family: "HuaKangXiuFengTiFan-1";

    display: grid;

}



span.news_cols.title {

    font-size: 0.8rem;

    font-family: "HuaKangXiuFengTiFan-1";

}



span.news_cols.context {

    font-size: 0.6rem;

    font-family: "HuaKangXiuFengTiFan-1";

}



.news_row_title {

    text-align: center;

    color: red;

    font-family: 'Baloo Tammudu 2', cursive;

    background: #eeeeee78;

}

/*

.footer img {

  width: 5%;
    margin: 0% 2%;

}

.footer {

  background: #81c2d4;

color: #FFF;

text-align: center;

border-radius: 5px;

font-size: 13pt;

z-index: 1000;
    position: relative;

    width: 100%;

}

.footer a {
    color: #000 !important;
}
.footer {
  background: #5dabbc;
color: #FFF;
text-align: center;
border-radius: 5px;
font-size: 13pt;
z-index: 999;
    position: relative;
    height: 80px;
    padding-top: 20px;
}
.footer {
    background: linear-gradient(180deg, rgba(224,251,249,1) 0%, rgba(224,251,249,1) 0%, rgba(97,194,207,1) 100%);
    fill: url(#Rectangle_946_cb);
    color: #000;
} */
.section_bottom {
    height: 100px;
}
section.slider_center.slick-initialized.slick-slider {

  margin-top: 0%;
    /* display: none; */
    bottom: 105px;
    /* background: #fff; */
    z-index: 999;
    position: absolute;
    width: 100%;
    left: 2%;
    bottom: 0px;
    margin-left: -20px;
    display: none;
}



.slider_center img{

    width: 125px;
    margin: auto;


}


/* 09.26 */

.head_row_1 {
    display: flex;
}

.head_div img {
    /* border: 1px solid #eee; */
    width: 100%;
    border-radius: 0 0 20px 20px;
}

/*
.head_div img.scale {
  transform: scale(1.4) rotate(0deg);
  transition: transform 0.1s linear;
}

.head_div img.scale_1 {
  transform: scale(1.2) rotate(0deg);
  transition: transform 0.1s linear;
}

.head_div img.scale.clean {
  transform: scale(1) rotate(0deg);
  transition: transform 0.1s linear;
}

.head_div img.scale_1.clean {
  transform: scale(1) rotate(0deg);
  transition: transform 0.1s linear;
} */

.start.active_0{
  /* background: #000 !important; */
  transition: background 0.5s linear;
}

.start.active_1{
  /* background: var(--CIS_color2) !important; */
  transition: background 0.2s linear;
}

.start.active_2{
  /* background: var(--CIS_color1) !important; */
  transition: background 0.2s linear;
}

.start.active_1_1{
  /* background: var(--CIS_color2) !important; */
  transition: background 10s linear;
}

.start.active_2_1{
  /* background: var(--CIS_color1) !important; */
  transition: background 10s linear;
}

.start .img,.start2 .img,.start3 .img{
  left: calc(50% - 140px);
  top: calc(50% - 120px);
}

.start .img.top,.start2 .img.top,.start3 .img.top{
  left: 5%;
  top: 5%;
  opacity: 1 !important;
}

.start .img.bottom{
  left: : 95%;
  top: : 95%;
  opacity: 1 !important;
}

.start .img.imgactive_1{
  filter: blur(20px);
  transform: scale(1.6) rotate(270deg);
  opacity: 1 !important;
  transition: transform 0.1s,opacity 0.1s linear;
}

.start .img.imgactive_2{
  filter: blur(0px);
  transform: scale(1) rotate(360deg);
  transition: transform 0.1s linear;
}

.start .img.imgactive_3{
  filter: blur(5px);
  transform: scale(1.2) rotate(360deg);
  transition: transform 0.1s linear;
}

.start .img.imgactive_4{
  filter: blur(0px);
  transform: scale(1) rotate(360deg);
  transition: transform 0.1s linear;
}

.head_div .img {
    padding: 2.7%;
}



.l .img, .r .img {
    padding: 4%;
}

.head_row_2 .r_b .img{
  padding: 0px 2.8% 0px 3.4%;
}

.head_row_2 .l_b .img{
  padding: 0px 3.4% 0px 2.8%;
}

.head_div {
    width: 100%;
    overflow: hidden;
}

.head_row_1 div img {width: 100%;}

.head_row_1 > div:not(.m) {
    width: 33%;
}

.head_row_1 .m {
    width: 66%;
}

.head_row_2 div {
    width: 50%;

}

.head_row_2 .r_b {

    text-align: right;
}

.head_row_2 {
    display: flex;
}

.head_row_2 .img {
    width: 100%;
}

/* 2020.10.16 */
.line il {
    width: 50%;
    margin: auto;
    z-index: 999;
}

.line ul {
    display: flex;
    width: 100%;

}

.line ul.fix_win {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 1280px;
    margin-left: -2%;
    cursor: pointer;
}

.line ul.fix_win_2 {
    position: fixed;
    top: 750px;
    z-index: 9;
    width: 1280px;
    margin-left: -2%;
}

.line ul.fix_win il.L:not(.txt):after {
    border-left: 2px solid #81c2d4;
    content: " ";
    height: 1700px;
    line-height: 10pt;
    font-size: 350pt;
    vertical-align: middle;
    position: absolute;
    top: -120px;
}

.line ul.fix_win il.R:not(.txt):before {
    border-left: 2px solid #81c2d4;
    content: " ";
    height: 1700px;
    line-height: 10pt;
    font-size: 350pt;
    vertical-align: middle;
    position: absolute;
    top: -50px;
}

.line ul.fix_win il.R .bk,.line ul.fix_win il.L .bk {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .15);
}

.line il img {
    width: 100% !important;
}

.line {
    width: 100%;
    margin-bottom:100px;
    margin-top: -150px;
}

svg.fa-circle{
  opacity: 1;
}

.svg-inline--fa.fa-w-16{
  width: 20px;
  position: absolute;
  left: -11px;
  top: -20px;
  height: revert;
  color: #81c2d4;
}

.line ul .R.txt i {
  display: none;
}

.line .B {
    /* display: none; */
    height: 100px !important;
}

.line il.L {
    text-align: center;
    margin-right: 15px;
}

.line il.R {
    margin-left: 10px;
}

.line il{
    text-align: center;
}

.line il h2,.line il h3{
  line-height: 30pt;
}

.line il h2 {
    font-weight: bold;
}

.line il.L .bk
{height: 390px;
    width: 49%;
    position: absolute;
    bottom: 0px;
    transform: rotate(6deg) skewX(6deg);

  }

  .line il.R .bk
  {
    height: 390px;
    width: 49%;
    position: absolute;
    top: 15px;
    transform: rotate(-6deg) skewX(-6deg);
    }

    .line il .cnt {
      z-index: 2;
      position: relative;
      margin-top: -5%;
  }

  .line il.L .cnt{
    margin-top: 10%;
  }

  .line il .cnt img {
      width: 22% !important;
      margin-bottom: 10px;
      margin-top: 0px;
  }

  .x il.R:not(.txt):before {
    border-left: 2px solid #81c2d4;
    content: " ";
    height: 700px;
    line-height: 10pt;
    font-size: 350pt;
    vertical-align: middle;
    position: absolute;
    top: -50px;
}

.x il.L:not(.txt):after {
    border-left: 2px solid #81c2d4;
    content: " ";
    height: 700px;
    line-height: 10pt;
    font-size: 350pt;
    vertical-align: middle;
    position: absolute;
    top: -120px;
}

il._0_line {
    height: 900px;
    top: -40px;
}

il.Blus_line {
    border-left: 2px solid #81c2d4;
    /* content: " "; */
    height: 550px;
    /* line-height: 10pt; */
    font-size: 350pt;
    /* vertical-align: middle; */
    position: absolute;
    /* top: -50px; */
    z-index: 995;
    /* width: 10px; */
    left: 50%;
    opacity: 1;
}

il.Blus_line i{
  position: absolute;
    left: -11px;
    z-index: 9;
    background: #fff;
    color: #81c2d4;
    top: 0;
    z-index: 995;
    font-size: 15pt;
}

il.Blus_line i.bottom {
    position: absolute;
    left: -11px;
    z-index: 9;
    background: #fff;
    color: #81c2d4;
    top: 520px;
    z-index: 995;
    font-size: 15pt;
}

.line ul .R i {
  position: absolute;
  left: 49.3%;
  z-index: 9;
  background: #fff;
  color: #81c2d4;
  top: 10%;
  z-index: 995;
}

.line ul .R.txt i {
    position: absolute;
    left: 49.3%;
    z-index: 9;
    background: #fff;
    color: #81c2d4;
    top: 0%;
}

article.Index {
    padding: 0px;
    position: relative;
}

.bottom_fix_div {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
    background: -o-linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
    position: fixed;
    height: 150px;
    bottom: 0px;
    z-index: 992;
    left: 0px;
    width: 100%;
    display: none;
}



.row.top_fn {
    position: fixed;
    height: 100%;
}


.row.top_fn li {
    margin: 5px 60px;
}

.row.top_fn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  display: none;
  opacity: 0.6;
  /* background: #95d0b7e6; */
  background: #443c3c78;
  /* background: linear-gradient(180deg,#5CC2CF 25%,#A8CF54 75%); */
  /* background: #fff; */
  margin: 0px;
  border-radius: 0px 0px 15px 15px;
}

.top_fn_linethg{
  /* position: fixed; */
  position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 9099;
/* display: none; */
/* background: #95d0b7e6; */
background: #e8e7e7;
/* background: #fff; */
margin: 0px;
border-radius: 0px 0px 15px 15px;
height: 100%;
background: linear-gradient(-19deg, var(--lg_bk_color) 80%, #fff 90%, #fff 90%, var(--lg_bk_color) 110%);
opacity: 0.4;
}


.row.top_fn .fff {
    width: 100%;
    position: absolute;
    height: 215px;
    /* background: #e8e7e7; */
    z-index: -1;
}

.row.top_fn ul.logo {
  margin-bottom: 0px;
margin-top: 41px;
}

.top_fn a {
    font-size: 1.5rem;
}

a, a:hover, a:active, a:visited, a:focus, a:focus-within {
    text-decoration: none;
    color: #9f9fa0;
}

.top_fn img {
    /* width: 100% !important;
    margin-left: 120%; */
}

.row.top_fn ul {
    display: flex;
    width: max-content;
    margin: auto;
    margin-top: -20px;
}

.row.top_fn ul {
    margin-top: -200px;
    list-style: none;
}

.row.top_fn ul li {
    margin: 20px 60px;
    cursor: pointer;
    text-align: center;
    padding: 0px;
}

.row.top_fn ul li {
    margin: 20px 100px;
}

.row.top_fn ul.links li:last-child {
    margin-right: 0px;
}

.row.top_fn ul.links li:first-child {
    margin-left: 0px;
}

.row.top_fn ul.links li {
  width: 9em;
  font-weight: bold;
}

.row.top_fn ul.links li {
    margin-top: 38px;
}

.row.top_fn ul li.R {
  text-align: center;
}

.row.top_fn ul li.L {
  text-align: center;
}

.row.top_fn ul li.border {
    border-right: 0px solid #fff;
    width: 0px;
    height: 2em;
    margin: auto;
}

.row.top_fn ul li.border {
    border: 0px;
}


.row.top_fn ul li img {
    width: 70%;
}

.row.top_fn ul li img:hover {
    transform: scale(1.2);
    transition: transform 0.1s linear;
}

.row.top_fn ul.logo li img {
    width: 108%;
}

.line .group {
    margin-top: 240px !important;
    margin-bottom: -130px !important;
}

.single {
    margin-top: 240px !important;
}


.share_infor_box .r .app {
    margin-top: 50px !important;
}

.share_infor_box .l ul {
    margin-top: 30px !important;
}

.share_infor_box span.alt {
    top: 110px;
}

.share_infor_box {
    border: 2px solid var(--CIS_color1);
  }

  .share_infor_box>i {
      -webkit-text-fill-color: var(--CIS_color1);
    }

    .share_infor_box .r .caption2 {
        background: var(--CIS_color1);
      }

      .share_infor_box .r .caption1 {
          background: var(--CIS_color2);
        }

        .share_infor_box span.alt {
            background: var(--CIS_color1);
          }


  .bottom_fix_div.b2 {
      background: linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
      background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
      background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
      background: -o-linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
      position: fixed;
      height: 150px;
      bottom: 0px;
      z-index: 997;
      left: 0px;
      width: 100%;
      display: none;
      max-height: 550px;
      width: 50px;
      left: calc(50% - 20px);
  }

  .display_content .top {

    display: flex;
    width: 100%;
    margin: auto;
    padding-top: 3%;
    position: absolute;
    padding: 2%;
  }

  .top.fn_bar {
    display: none;
  }



@media(max-width: 1024px) {

    .bottom_fix_div.b2 {
        display: none !important;
    }

    .display_content .top {
        padding: 1%;
    }

    .top.fn_bar {
      display: block;
    }


    .line .group {
        margin-bottom: 130px !important;
    }


    .start.active_1_1 img {
        width: 400%;
    }

    .start.active_1_1 > div {
        left: 5% !important;
    }

    .head_div {
        display: none;
    }

    .display_content {
      background: url(/themes/Okmaster/img/index/1100310s.phone.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: auto;
      /* background-attachment: fixed; */
      overflow-x: scroll;
      background-position-y: -70px;
    }

    body {
        background: #3bb3c34d !important;
    }


    .line ul {
        display: flow-root;
        margin-top: 0px !important;
        height: 1800px;
    }

    il.Blus_line {
        display: none !important;
    }

    .line il .bk {
        width: 100% !important;
        position: unset !important;
        height: 800px !important;
        transform: rotate(-6deg) skewX(-6deg) !important;
    }

    .line il {
        width: 100%;
        display: contents;
        margin-left: 0px !important;
    }

    .line il .cnt {
        position: absolute;
        top: 55%;
        text-align: center;
        width: 100%;
    }

    .line il .cnt img {
        width: 35% !important;
    }

    .line il h2, .line il h3 {
        font-size: 45pt;
        line-height: 50pt;
        height: 28rem;
    }

    .line il.L .bk {}

    .line il.L .cnt {
        top: -3%;
    }

    .line il .cnt span {margin: auto;height: 800px;}

    .line {
        padding-top: 30%;
    }

    .start .img, .start2 .img, .start3 .img {
        width: 92%;
        margin-top: 11rem;
    }

    .row.top_fn ul {
        display: list-item;
        margin: 1rem auto;
    }

    .row.top_fn ul li img {
        min-width: 15rem !important;
    }

    .row.top_fn .fff {
        /* display: none; */
    }

    .row.top_fn ul.logo {
        display: none;
    }

    .row.top_fn {
        height: 5000px !important;
        position: fixed;
        top: 0rem;
        background: #443c3cf2;
    }

    .top_R img {
      margin: 0px 10px;
      width: 130px;
      display: grid;
    }

    .top .top_R {
      width: 9rem;
      position: fixed;
    }

    .row.top_fn ul.links li:first-child {
        /* margin: auto; */
    }

    .row.top_fn ul.links li {
        margin-top: 26px;
        margin-left: initial;
    }


}

/* page_head RWD */
@media(max-width: 1000px) {
  .head_group {
  width: min-content !important;
  left: 0em;
  height: min-content;
  background: no-repeat !important;
  }

  .logo {
    width: 16rem !important;
    height: 6rem !important;
    background-size: 400px !important;
    margin-top: 1em;
  }

  .head {
    height: 98%;
    width: max-content !important;
  }

  .head .hyperlink label a {
    font-size: 4rem;
  }

  .head .hyperlink label {
    width: 25rem;
    height: 11.11%;
  }

  .head .logon {
    display: none;
  }

  .head .hyperlink {
    display: none;
  }

  .share {
    display: none;
  }

  .head .hyperlink.clocked {
    display: block !important;
    width: min-content;
  }

  .head_group.clocked {
    background: #ffffffd6 !important;
    height: 100% !important;
  }

  .svg-inline--fa.fa-w-16 {
    width: 4em;
  }

  li.sevice_item {
      width: 10rem !important;
      display: inherit !important;
  }

  .share_infor_box {
      height: 830px !important;
  }
}
