
	.mediaViewInfo {
		--web-view-name: 註冊登入_login;
		--web-view-id: _login;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: _login;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}

	section.slider_center.slick-initialized.slick-slider {
	    display: none;
	}

	.footer {
    position: absolute !important;
    width: 100%;
    bottom: 0px;
}

article.Login {
    margin: auto;
    width: 1280px;
}

#_bh a {
    color: rgba(147,182,35,1);
}

	#_login {
		position: absolute;
		width: 1280px;
		height: 800px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		/* cursor: pointer; */
		--web-view-name: 註冊登入_login;
		--web-view-id: _login;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#_1 {
		position: absolute;
		width: 639.632px;
		height: 800.238px;
		left: 640.368px;
		top: -0.238px;
		overflow: visible;
	}
	#Group_603 {
		position: absolute;
		width: 17px;
		height: 17px;
		left: 1235.5px;
		top: 24px;
		overflow: visible;
		cursor: pointer;
	}
	#Line_57 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_57 {
		overflow: visible;
		position: absolute;
		width: 21.241px;
		height: 20.24px;
		left: 0px;
		top: 0.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_58 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_58 {
		overflow: visible;
		position: absolute;
		width: 17px;
		height: 16px;
		transform: translate(-1235.5px, -24px) matrix(1,0,0,1,1235.5,24.5) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Rectangle_122 {
		fill: rgba(255,255,255,1);
		stroke: rgba(147,182,35,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_122 {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 48px;
		left: 148px;
		top: 428px;
	}
	#psw_star {
		left: 188px;
		top: 444px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(147,182,35,1);
	}
	#_bc {
		left: 148px;
		top: 409px;
		position: absolute;
		overflow: visible;
		width: 21px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: rgba(147,182,35,1);
	}
	#_bd {
		left: 293px;
		top: 498px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(147,182,35,1);
	}
	#Group_842 {
		position: absolute;
		width: 327px;
		height: 48px;
		left: 149px;
		top: 526px;
		overflow: visible;
	}
	#Rectangle_112 {
		fill: rgba(147,182,35,1);
	}
	.Rectangle_112 {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 48px;
		left: 0px;
		top: 0px;
	}
	#Line_59 {
		fill: transparent;
		stroke: rgba(147,182,35,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_59 {
		overflow: visible;
		position: absolute;
		width: 327px;
		height: 1px;
		left: 148.5px;
		top: 298.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_bh {
		left: 374px;
		top: 268px;
		position: absolute;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		line-height: 24px;
		margin-top: -5px;
		text-align: left;
		font-family: ITC Avant Garde Gothic Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(147,182,35,1);
	}
	#_bi {
		left: 213px;
		top: 268px;
		position: absolute;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		line-height: 24px;
		margin-top: -5px;
		text-align: left;
		font-family: ITC Avant Garde Gothic Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(147,182,35,1);
	}
	#Line_60 {
		fill: transparent;
		stroke: rgba(147,182,35,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_60 {
		overflow: visible;
		position: absolute;
		width: 167px;
		height: 5px;
		left: 149.5px;
		top: 298.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_ {
		left: 434px;
		top: 477px;
		position: absolute;
		overflow: visible;
		width: 40px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 8px;
		color: rgba(147,182,35,1);
	}
	#Path_20820 {
		fill: rgba(147,182,35,1);
	}
	.Path_20820 {
		overflow: visible;
		position: absolute;
		width: 11.808px;
		height: 14.472px;
		left: 163.376px;
		top: 445.12px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_2279 {
		fill: rgba(0,0,0,0);
		stroke: rgba(147,182,35,1);
		stroke-width: 0.5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Rectangle_2279 {
		position: absolute;
		overflow: visible;
		width: 12.5px;
		height: 12.41px;
		left: 277.288px;
		top: 500.92px;
	}
	#Group_841 {
		position: absolute;
		width: 224px;
		height: 40px;
		left: 201px;
		top: 618px;
		overflow: visible;
	}
	#fb {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Google {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 92px;
		top: 0px;
		overflow: visible;
	}
	#Line_logo {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 184px;
		top: 0px;
		overflow: visible;
	}
	#Group_1649 {
		position: absolute;
		width: 147.293px;
		height: 91.008px;
		left: 237.737px;
		top: 148px;
		overflow: visible;
	}
	#Group_1346 {
		position: absolute;
		width: 143.03px;
		height: 63px;
		left: 4.263px;
		top: 0px;
		overflow: visible;
	}
	#Group_557 {
		position: absolute;
		width: 143.03px;
		height: 63px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_1348 {
		position: absolute;
		width: 147.293px;
		height: 19.73px;
		left: 0px;
		top: 71.278px;
		overflow: visible;
	}
	#Path_20957 {
		fill: rgba(142,142,143,1);
	}
	.Path_20957 {
		overflow: visible;
		position: absolute;
		width: 18.484px;
		height: 19.313px;
		left: 38.108px;
		top: 0.053px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20958 {
		fill: rgba(142,142,143,1);
	}
	.Path_20958 {
		overflow: visible;
		position: absolute;
		width: 7.996px;
		height: 8.463px;
		left: 30.995px;
		top: 10.799px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20959 {
		fill: rgba(142,142,143,1);
	}
	.Path_20959 {
		overflow: visible;
		position: absolute;
		width: 6.594px;
		height: 4.31px;
		left: 31.514px;
		top: 5.504px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20960 {
		fill: rgba(142,142,143,1);
	}
	.Path_20960 {
		overflow: visible;
		position: absolute;
		width: 6.698px;
		height: 4.568px;
		left: 31.619px;
		top: 0.312px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20961 {
		fill: rgba(142,142,143,1);
	}
	.Path_20961 {
		overflow: visible;
		position: absolute;
		width: 25.752px;
		height: 18.795px;
		left: 0px;
		top: 0.208px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20962 {
		fill: rgba(142,142,143,1);
	}
	.Path_20962 {
		overflow: visible;
		position: absolute;
		width: 15.368px;
		height: 19.21px;
		left: 102.02px;
		top: 0.415px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20963 {
		fill: rgba(142,142,143,1);
	}
	.Path_20963 {
		overflow: visible;
		position: absolute;
		width: 6.541px;
		height: 4.985px;
		left: 103.89px;
		top: 6.595px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20964 {
		fill: rgba(142,142,143,1);
	}
	.Path_20964 {
		overflow: visible;
		position: absolute;
		width: 7.009px;
		height: 5.556px;
		left: 104.875px;
		top: 1.401px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20965 {
		fill: rgba(142,142,143,1);
	}
	.Path_20965 {
		overflow: visible;
		position: absolute;
		width: 12.045px;
		height: 19.521px;
		left: 92.364px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20966 {
		fill: rgba(142,142,143,1);
	}
	.Path_20966 {
		overflow: visible;
		position: absolute;
		width: 25.18px;
		height: 19.522px;
		left: 122.113px;
		top: 0.208px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20967 {
		fill: rgba(142,142,143,1);
	}
	.Path_20967 {
		overflow: visible;
		position: absolute;
		width: 13.656px;
		height: 19.033px;
		left: 74.503px;
		top: 0.26px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20968 {
		fill: rgba(142,142,143,1);
	}
	.Path_20968 {
		overflow: visible;
		position: absolute;
		width: 11.37px;
		height: 19.365px;
		left: 63.029px;
		top: 0.104px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_835 {
		position: absolute;
		width: 327px;
		height: 67px;
		left: 146px;
		top: 325px;
		overflow: visible;
	}
	#Rectangle_122_b {
		fill: rgba(255,255,255,1);
		stroke: rgba(147,182,35,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_122_b {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 48px;
		left: 0px;
		top: 19px;
	}
	#ID0933581098 {
		left: 114px;
		top: 35px;
		position: absolute;
		overflow: visible;
		width: 79px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(147,182,35,1);
	}
	#_ca {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: rgba(147,182,35,1);
	}
	#Path_20819 {
		fill: rgba(147,182,35,1);
	}
	.Path_20819 {
		overflow: visible;
		position: absolute;
		width: 10.512px;
		height: 20.952px;
		left: 15.024px;
		top: 33px;
		transform: matrix(1,0,0,1,0,0);
	}
	#ID886 {
		left: 182px;
		top: 358px;
		position: absolute;
		overflow: visible;
		width: 33px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(147,182,35,1);
	}
	#Path_21771 {
		fill: rgba(0,0,0,0);
		stroke: rgba(147,182,35,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_21771 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 30.167px;
		left: 246.667px;
		top: 352.499px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Dropdown {
		position: absolute;
		width: 9.4px;
		height: 6.1px;
		left: 229px;
		top: 365.001px;
		overflow: visible;
	}
	#Path_36 {
		fill: rgba(147,182,35,1);
	}
	.Path_36 {
		overflow: visible;
		position: absolute;
		width: 9.4px;
		height: 6.1px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_cg {
		left: 293px;
		top: 541px;
		position: absolute;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(255,255,255,1);
	}
