@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(page.css);
@import url(rwd.css);
/*@import url(device_icon.css);*/
@import url(floating_form.css);
:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
    --CIS_color1: #98d140;

    --CIS_color2: #66c1b5;
}

.title_h {
    font-size: 36px !important;
}

.title_h_sec {
    font-size: 24px !important;
}

.title_c {
    font-size: 20px !important;
}

.title.letter_s05 {
    letter-spacing: 0.5em;
}

label.required:before {
    content: "*";
    vertical-align: middle;
}

label.required:before {
    color: red;
}

.no_img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}



/*article.Index */

.banner_area {
    margin: 0 -15px;
}


/* 輪播往下推 */


.top_menu {
    position: fixed!important;
    top: 0;
    z-index: 99;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.float-right {
    float: right;
}

a,
a:hover,
a:active,
a:visited,
a:focus,
a:focus-within {
    text-decoration: none;
    color: #512779;
}

.no_border_b {
    border-bottom: unset !important;
}

html,
body {
    font-family: Microsoft JhengHei;
    font-size: 18px;
}

body .display_content>article {
    min-height: calc(82vh - 200px);
    margin-bottom: 4vw;
}

article {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.display_content {
    position: relative;
    margin: 0 auto;
}

input::-webkit-input-placeholder {
    text-align: center;
    font-size: 14px;
}

input::-moz-placeholder {
    text-align: center;
    font-size: 14px;
}

input:-moz-placeholder {
    text-align: center;
    font-size: 14px;
}

input:-ms-input-placeholder {
    text-align: center;
    font-size: 14px;
}


/* 分頁 Start */

.pagination>li>a,
.pagination>li>span {
    color: #555;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #53268a;
    border-color: #53268a;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 2;
    color: #53268a;
    background-color: #eee;
    border-color: #53268a;
}

.GeelyForRent .pagination_wrap {
    margin-bottom: 20px;
}

.pagination {
    font-size: 16px;
}


/* 分頁 End */


/* share Start */

.share {
    text-align: right;
}

.share>div {
    display: inline-block;
    margin-right: 0.5em;
}

.share>div>img {
    height: 1.6em;
    vertical-align: text-bottom;
}


/* share End */


/* 吉屋快搜 Start */

.big_box {
    box-shadow: 0 0 5px #6e6e6e;
    padding: 50px;
    border-radius: 5px;
    min-height: 840px;
    margin-top: unset;
}

.big_box h2 {
    font-weight: bold;
    display: inline-block;
    position: relative;
    border-collapse: separate;
    padding-right: 0.3em;
    font-size: 22px;
    color: #727171;
}

.big_box .list,
.big_box .house_map {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    min-height: 50vw;
}

.big_box .house_map {
    width: 100%;
    height: 100%;
    min-height: 1024px;
}

.house_map .gm-style .gm-style-iw-t::after {
    background: linear-gradient(35deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) rotate(-66deg) skewX(-45deg);
    width: 30px;
}


/* 吉屋快搜 End */

.photo_row img.img {
    transition: transform .5s ease;
    /*border: solid 5px #333;*/
    border-top: 0;
    border-left: 0;
}

.photo_row:hover img.img {
    transform: scale(1.3);
}

.favorite_btn {
    background-color: #512779;
    border: unset;
    color: #fff;
    font-size: 20px !important;
    padding: 5px 8px;
    border-radius: 7px;
    position: absolute;
    top: 0;
    right: 0;
}

.favorite_btn i {
    width: 1.5em;
    display: inline-block;
}
/* 吉屋快搜 List End */


/* 幻燈片 Start */

.uk-slideshow ul.uk-margin {
    margin-top: -20px !important;
    margin-bottom: 0;
    padding-bottom: 10px;
    position: relative;
    z-index: 9999;
}


/* 幻燈片 End */


/* 麵包屑 Start */

article .breadcrumb {
    margin-bottom: unset;
    background-color: unset;
    padding: 2em 0;
}

.breadcrumb a {
    font-size: 12px;
}

.breadcrumb a:not([href]) {
    cursor: unset;
}

.breadcrumb>li+li:before {
    content: '>';
}

.breadcrumb a {
    color: #333;
    font-size: 16px;
}


/* 麵包屑 End */


/* Header Start */

.main_bar {
    position: relative;
    height: 9vw;
}

.main_bar img {
    width: 100%;
}


/* Menu Start */

.main_menu {
    height: 100%;
    max-height: 100px;
    box-shadow: 0px 3px 10px #aaa;
    z-index: 999999;
    line-height: 45px;
    background-color: #fff500;
    opacity: 0.8;
    color: #3b1382;
    font-weight: bolder;
    letter-spacing: 0.1em;
    width: 100%;
    white-space: nowrap;
    padding: 0 15px;
    position: relative;
}


/* new */

.main_menu .menu li.nav_active_color {
    background: var(--main_color1);
    border-radius: 5px;
}

.main_menu .menu li.nav_active_color a {
    color: #fff;
}

.main_menu .menu li.nav_active_color ul.dropdown-menu li.nav_active_color a {
    color: #fff;
}

.main_menu .menu>a:last-of-type {
    margin-right: 15px;
}

.main_menu .menu>a:last-of-type:after {
    content: none;
}

.main_menu .content_width {
    height: 100px;
}

.main_menu .logo_main {
    width: 25%;
    vertical-align: middle;
    min-width: 150px;
}

.main_menu .logo_main {
    width: 20%;
    vertical-align: middle;
    min-width: 150px;
}

.main_menu .menu>ul {
    width: 100%;
    display: inline-block;
    text-align: left;
    justify-content: center;
}

.main_menu .menu>ul li {
    position: relative;
}

.main_menu .menu>ul li a {
    padding: 0px 24px;
    color: var(--main_color1);
    font-size: 1.3em;
    line-height: 45px;
    display: inline-block;
}

.main_menu .menu>ul li a:after {
    content: none;
}


/* 測試用 - 子選單全顯示 */

.main_menu .menu>ul li:nth-of-type(1) ul {}

.main_menu .menu>ul li:nth-of-type(2) ul {}

.main_menu .menu>ul li:nth-of-type(3) ul {
    left: -4px;
}

.main_menu .menu>ul li:nth-of-type(4) ul {
    left: -5px;
}

.main_menu .menu>ul li:nth-of-type(5) ul {
    left: -15px;
}

.main_menu .menu>ul li:nth-of-type(6) ul {
    left: -5px;
}

.main_menu .menu>ul li:nth-of-type(7) ul {
    left: -5px;
}

.main_menu .menu .dropdown-menu li {
    width: 100%;
}

.main_menu .menu .dropdown-menu li a {
    width: 100%;
    font-size: 1.05em;
    padding: 0px 30px;
    color: #555;
}

.main_menu .menu .dropdown-menu li a:hover {
    color: #333;
    font-weight: bold;
    background: unset;
}

.main_menu .menu li:last-child a:after {
    content: none;
}

.menu_left_a_no_top {
    font-size: 12pt !important;
    padding: 0px 15px !important;
}

.logo_main_img_no_top {
    animation-name: logo_main_img;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}


/* 2020/08/18 new */

.room_name_head,
.city_select,
.type_select,
.class_select,
.houses_select {
    display: inline-flex !important;
    color: #888 !important;
    padding: 12px!important;
    border-radius: 10px!important;
}

@media only screen and (max-width: 2753px) {
    #search_box_big .search_list_wrap .search_div .houses {
        width: 25vmax;
    }
}

@media only screen and (max-width: 3352px) {
    #search_box_big .search_list_wrap .search_div .county_div,
    #search_box_big .search_list_wrap .search_div .city_div,
    #search_box_big .search_list_wrap .search_div .category {
        width: 19vmax;
    }
}

.logo_main_img_no_top {
    animation-name: logo_main_img;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes logo_main_img {
    from {
        height: 100px;
        padding-left: 0px;
    }
    to {
        height: 40px;
        padding-left: 50px;
    }
}

.logo_main_no_top {
    animation-name: logo_main;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes logo_main {
    from {
        vertical-align: middle;
    }
    to {
        vertical-align: top;
    }
}

.main_menu_no_top {
    animation-name: main_menu;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes main_menu {
    from {
        max-height: 100px;
    }
    to {
        max-height: 50px;
    }
}

@media only screen and (min-width: 1930px) {
    .menu_left_no_top {
        left: 0px;
        position: absolute;
        animation-name: menu_left;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
}

.menu_right_2 a {
    background: #ffffffcf;
}


@media only screen and (max-width: 1400px) {
    .menu_right_2 {
        display: block !important;
    }
    .menu_right {
        display: none;
    }
    .menu_right_2_no_top {
        display: none !important;
    }
    .menu_right_no_top {
        position: absolute;
        z-index: 999;
        left: 0px;
        animation-name: menu_right_max_1400;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    .menu_left_no_top {
        left: 0px;
        position: absolute;
        animation-name: menu_left_max_1400;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    .main_menu .menu>ul li a {
        padding: 0px 12px;
        font-size: 1.3em;
    }
}

@media (min-width: 1360px) {
    a.menu_left_a_no_top {
        font-size: 10pt !important;
    }
}

@media (min-width: 1600px) {
    a.menu_left_a_no_top {
        font-size: 12pt !important;
    }
}

@media (max-width: 1160px) {
    a.menu_left_a_no_top {
        font-size: 10pt !important;
    }
}

@media only screen and (min-width: 1401px) {
    .menu_right {
        display: block !important;
    }
    .menu_right_no_top {
        position: absolute;
        z-index: 999;
        left: 0px;
        animation-name: menu_right;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    /*.main_menu .menu>ul li a {padding: 0px 12px;font-size:12pt}*/
}

@media only screen and (min-width: 1930px) {
    .menu_left_no_top {
        left: 0px;
        position: absolute;
        animation-name: menu_left_min_1930;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    .main_menu .menu>ul li a {
        padding: 0px 24px;
        color: var(--main_color1);
        font-size: 1.3em;
        line-height: 45px;
        display: inline-block;
    }
}

@media only screen and (min-width: 1930px) {
    .menu_left_no_top {
        left: 0px;
        position: absolute;
        animation-name: menu_left_min_1930;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    .main_menu .menu>ul li a {
        padding: 0px 24px;
        color: var(--main_color1);
        font-size: 1.3em;
        line-height: 45px;
        display: inline-block;
    }
}

@media only screen and (min-width: 2300px) {
    .menu_left_no_top {
        position: initial;
        animation-name: menu_left_min_2300;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    .main_menu .logo_main {
        width: 15%;
    }
}

@keyframes menu_right {
    from {
        left: 0px;
    }
    to {
        left: 70%;
    }
}

@keyframes menu_right_max_1400 {
    from {
        left: 0px;
    }
    to {
        left: 78%;
    }
}

@keyframes menu_left {
    from {
        left: 0px;
    }
    to {
        left: 600px;
    }
}

@keyframes menu_left_min_2300 {
    from {
        left: 0px;
    }
    to {
        left: 0px;
    }
}

@keyframes menu_left_min_1930 {
    from {
        left: 0px;
    }
    to {
        left: 20%;
    }
}

@keyframes menu_left_max_1400 {
    from {
        left: 0px;
    }
    to {
        left: 25%;
    }
}

@keyframes menu_left_1401 {
    from {
        left: 0px;
    }
    to {
        left: 17%;
    }
}


/* new end */

.main_menu>div {
    display: table;
    width: 100%;
    max-width: 1690px;
    margin: 0 auto;
}

.main_menu>div>* {
    display: table-cell;
}

.main_menu .menu {
    text-align: right;
    /*padding-left: 50px;*/
    width: 80%;
}

.main_menu .menu a {
    color: #797878;
    font-size: 16px;
    line-height: 45px;
    padding: 0 15px;
    display: inline-block;
    position: relative;
}

.main_menu .menu a:after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    content: "";
    border-right: 1px solid #bebebe;
    display: block;
    margin-top: -10px;
}

.main_menu ul>li>a.active {
    background: #512779;
    color: #fff500;
}

.main_menu ul {
    margin-bottom: unset;
}

.main_menu ul>li {
    display: inline-block;
    position: relative;
}

.main_menu ul>li>a.active {
    background: #512779;
    color: #fff500;
}

.main_menu ul>li:last-child:after,
.main_menu .menu a:last-child:after {
    display: none !important;
}

.main_menu ul>li>a {
    padding: 0px 28px;
    font-size: 20px;
    line-height: 45px;
    display: inline-block;
}

.main_menu .nav .open>a {
    background-color: unset;
}

.main_menu .dropdown-menu {
    min-width: 140px;
    margin: 0 9px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .15);
    font-size: 1rem;
    padding: unset;
    left: 0px;
}

.main_menu .dropdown-menu li {
    display: block;
}

.main_menu .dropdown-menu>li>a {
    line-height: 45px;
    display: block;
}

.main_menu .dropdown-menu>li>a:hover,
.main_menu .dropdown-menu>li>a:focus {
    color: #3b1382;
    background-color: #fff500;
    background-image: unset;
}

.main_menu .dropdown-menu>li.nav_active_color>a:hover,
.main_menu .dropdown-menu>li.nav_active_color>a:focus {
    color: #fff;
    background-color: var(--main_color1);
    background-image: unset;
}

.menu>i {
    height: 14px;
}

.b_padding {
    padding: 10px 0;
}

i>img {
    width: 100%;
}

.pic {
    display: inline-block;
    width: 22px;
    margin-right: 0.5em;
}

.big_box .search_btn,
.search_btn {
    display: inline-block;
    width: auto;
    height: auto;
    color: #555;
    padding: 5px 10px;
    margin: 0 0 5px 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: .3s;
    background-color: #fff;
}

.big_box .search_btn:hover,
.search_btn:hover {
    color: #fff;
    background: #562a8c;
    border: 1px solid #562a8c;
}

.big_box .search_btn img,
.search_btn img {
    width: 20px;
    margin-left: 10px;
}

.big_box #search_box hr {
    margin: 10px auto;
    border-top: 1px solid #aaa;
}

#search_text {
    padding-right: 15px;
}

#search_box {
    display: table;
    white-space: nowrap;
    width: 100%;
    margin: 50px 0;
    font-size: 16px;
}

#search_box .select_group {
    width: 260px;
}

#search_box select {
    border: unset;
    font-size: 20px;
    height: 34px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../img/icon/select.svg") no-repeat scroll right center transparent;
    /* margin-right: 0.5em; */
    padding-right: 25px;
    font-weight: bold;
    direction: initial;
    text-align-last: center;
    width: 100px;
    margin-right: 1em;
    vertical-align: middle;
}

#search_box select:first-child {
    padding: unset;
    padding-right: 25px;
}

#search_box .search_forms_wrap {
    display: block;
}

#search_btn {
    width: 60px;
}

.search_forms_wrap {
    box-shadow: 0px 6px 15px #aaa;
    border-radius: 10px;
}

.searcounty_sch_content {
    padding: 20px 20px 50px;
}

#search_btn .btn {
    padding: unset;
    background-color: unset;
    box-shadow: unset;
    width: 2em;
    margin: 0 0.5em;
}

#search_btn .btn img {
    width: 100%;
}

#search_box>div {
    display: table-cell;
}

#search_text {
    padding-right: 15px;
}

.field {
    /*width: 80%;*/
    border: 0;
    border-bottom: 1px solid #727171;
    line-height: 30px;
    border-radius: 0;
    width: 90%;
    margin-right: 100px;
}

.field::placeholder {
    font-size: 1.11rem;
}

.w50p2 {
    margin-left: -68px!important;
    margin-right: 17px;
}


/* Menu End */

header a.index {
    position: absolute;
    left: 5.5%;
    top: 19%;
    width: 22%;
    height: 54%;
}


/* Header End */


/* 我的最愛 Start */

@keyframes heart {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}

.favorite {
    position: absolute;
    width: 8%;
    top: 4%;
    right: 4%;
}

.favorite.on img {
    -webkit-animation-name: heart;
    animation-name: heart;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/* 我的最愛 End */


/*article {*/


/*	padding: 100px 15px;*/


/*}*/






/* 圖片預覽 Start */

.img_preview {
    position: relative;
}

.img_preview .spec-preview {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0 20px;
}

.img_preview .spec-scroll {
    margin-top: 5px;
    overflow: auto;
}

.img_preview .spec-scroll .prev,
.img_preview .spec-scroll .next {
    display: block;
    text-align: center;
    width: 15px;
    height: 120px;
    line-height: 115px;
    border: 1px solid #CCC;
    background: #EBEBEB;
    cursor: pointer;
    text-decoration: none;
}

.img_preview .spec-scroll .items {
    position: absolute;
    width: calc(100% - 38px);
    height: 120px;
    overflow: hidden;
    left: 15px;
}

.img_preview .spec-scroll .prev {
    float: left;
}

.img_preview .spec-scroll .next {
    float: right;
}

.img_preview .spec-scroll .items ul {
    position: absolute;
    width: 999999px;
    height: auto;
}

.img_preview .spec-scroll .items ul li {
    float: left;
    width: 210px;
    margin: 0;
    text-align: center;
}

.img_preview .spec-scroll .items ul li img {
    border: 1px solid #CCC;
    padding: 2px;
    width: 95%;
    height: auto;
    border-radius: 0px 10px;
}

.img_preview .spec-scroll .items ul li img:hover {
    border: 2px solid #53268a;
    padding: 1px;
}


/* 圖片預覽 End */







/* footer Start */

footer nav {
    height: 40px;
    line-height: 40px;
    background-color: #fff500;
    color: #3b1382;
    font-size: 15px;
    letter-spacing: 0.1em;
    padding: 0 4%;
    text-align: center;
    font-weight: bold;
}

footer nav a {
    padding: 0 32px;
    line-height: 40px;
    display: inline-block;
    font-size: 1rem;
}

footer nav a:last-child {
    border-right: unset;
}

footer .footer {
    text-align: center;
    background-color: #53268a;
}

footer .footer,
footer .footer a {
    letter-spacing: 1px;
    color: #fff;
}

footer .footer {
    padding: 10px 0 10px;
}

footer .footer div {
    margin-bottom: 10px;
    color: #fff;
}

footer .footer div:last-child {
    margin-bottom: unset;
}

.footer_txt1 span {
    font-size: 10px;
    margin-right: 15px;
}

.footer_txt2 span {
    font-size: 10px;
    margin-right: 15px;
}

.footer_txt1 {
    font-size: 10px;
}

.footer_txt2 {
    font-size: 10px;
}

.footer_txt3 {
    font-size: 10px;
}

.footer_txt1,
.footer_txt2,
.footer_txt3 {
    letter-spacing: 1px;
}

.footer_txt3 span {
    font-size: 12px;
    letter-spacing: 1px;
}

footer table {
    width: 96%;
    margin: 0 auto;
}

.qrcode img {
    width: 70%;
}

footer .qrcode {
    width: 90px;
    display: inline-block;
}

footer table td {
    vertical-align: top;
}

.qr_code_td {
    width: 16%;
    text-align: left;
}

section.slider_center.slick-initialized.slick-slider .draggable {
    margin: 0 !important;
    width: 100%;
}
/* footer End */
