:root {
    --main_color1: #71508e;
    --main_color2: #fff100;
    --normal_color: #555;
    --dark_color: #222;
    --light_color: #aaa;
}

#search_box_big {
    line-height: 30px;
    margin: 10px auto 30px;
    position: relative;
}

#search_box_big hr {
    border-top: 1px solid #aaa;
}

strong.county_city.search {
    min-width: unset !important;
    height: unset !important;
    background: unset !important;
    color: #000 !important;
    padding: 0px !important;
    margin: 0px !important;
    /* text-decoration: underline; */
}

#search_box_big .search_forms_wrap .county_city {
    cursor: pointer;
    min-width: 200px;
    height: 45px;
    max-width: calc(100% - 50%);
    padding: 5px 10px 5px 10px;
    margin: 10px 6px;
    color: #fff;
    font-size: 1.1em;
    line-height: 33px;
    font-weight: bold;
    text-align: center;
    border-radius: 0 10px;
    background: var(--main_color1);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#search_box_big .search_forms_wrap .county_city {
    cursor: pointer;
    min-width: 85px;
    height: 40px;
    max-width: calc(100% - 50%);
    padding: 5px 10px 5px 10px;
    margin: 10px 6px;
    color: #fff;
    font-size: 1.1em;
    line-height: 33px;
    font-weight: bold;
    text-align: center;
    border-radius: 0 10px;
    background: var(--main_color1);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (min-width: 1280px) {
    #search_box_big label {
        line-height: 25px;
    }
    #search_box_big label:hover {
        height: 2em;
        line-height: 32px;
    }
}

@media only screen and (min-width: 1930px) {
    #search_box_big label {
        line-height: 34px;
    }
    #search_box_big label:hover {
        height: 2.4em;
        line-height: 38px;
    }
}

#search_box_big label {
    width: 110px;
    height: 2em;
    padding: 0 0px 0px 0px;
    border: 1px solid #ccc;
    margin: 7px;
    font-weight: bold;
    font-size: 0.9em;
    min-width: 5em;
    text-align: center;
    border-radius: 0 5px;
    position: relative;
    position: relative;
}

#search_box_big .county_div label {
    /*padding: 0 8px 0px 0px;*/
}

#search_box_big label img {
    width: 50px;
    position: absolute;
    left: 5px;
}

#search_box_big label:hover {
    border: 2px solid #ccc;
    font-size: 1em !important;
    width: 116px;
    cursor: pointer;
    background-color: #eeeeee80;
    margin: 3px;
    font-weight: bold;
}

#search_box_big spam.county,
#search_box_big spam.city {
    display: inline-block;
}

#search_box_big input[type="checkbox"],
#search_box_big input[type="radio"] {
    display: none;
}

#search_box_big input[type="number"] {
    height: 30px;
    vertical-align: top;
    margin-top: 7px;
    width: 110px;
}

#search_box_big input[type="checkbox"]:checked+label,
#search_box_big input[type="radio"]:checked+label,
#search_box_big label.active {
    font-weight: bold;
    border: 2px solid var(--main_color1);
    border-radius: 0 5px;
}

.input_txt.search_div {
    position: absolute !important;
    top: 85px;
    right: 0;
    width: 100%;

}

.input_txt_h.search_div {
    width: 100%;
    right: 26%;

}

label.search_remid {
    left: 70%;
    width: 196px !important;
    font-size: 10pt !important;
    color: #999;
    border: 3px solid #f1e3af !important;
    border-radius: 14px !important;
    position: absolute !important;
    bottom: 9px;
    display: none;
}

label.search_remid_show {
    display: block !important;
    animation-name: search_remid_op;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes search_remid_op {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.search_forms_wrap .search_div.L, .search_forms_wrap .search_div.R, .div_rage.M .search_div.rang.search_row_div {
    padding-left: 0px;
}

.search_forms_wrap .search_div {
    position: relative;
    padding-left: 5em;
    margin-right: 30px !important;
    margin-bottom: 20px !important;
    width: 100%;
}

.search_forms_wrap .search_div i {
    vertical-align: middle;
}

.search_forms_wrap .search_div strong {
    position: absolute;
    left: 0;
    /* top: 7px; */
    top: 0px;
    color: var(--main_color1);
}

#search_box_big .ui-widget.ui-widget-content {
    border: 3px solid #8a6ea55e;
    height: 1px;
    border-radius: 5px;
    position: relative;
    /* margin: 0 15px 0; */
    margin: auto;
    /* margin: 0px; */
    width: 90%;
}

#search_box_big .room {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    color: #e67a1f;
    font-weight: bold;
    margin-right: 0.5em;
}

/* #search_box_big .ui-state-default {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    border-radius: 15px;
    margin-top: -3px;
    background-color: #512779;
    margin-left: -5px;
    z-index: 2;
} */

#search_box_big .ui-state-default {
  width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    border-radius: 55px;
    margin-top: -15px;
    background-color: var(--main_color1);
    margin-left: -17px;
    z-index: 2;
    top: 4px;
}

#search_box_big .ui-slider-horizontal .ui-slider-range {
    /* background-color: #ccc; */
    background-color: var(--main_color1);
    height: 8px;
    position: absolute;
    top: -4px;
}

#search_box_big unit {
    vertical-align: bottom;
    margin-left: 5px;
}

#search_box_big #search_forms spam.txt {
    border: unset;
}

.search_table {
    display: grid;
    width: 100%;
}

.search_table {
    width: 90%;
    border: 2px solid #8a6ea5;
    border-radius: 10px;
    height: 120px;
    position: absolute;
    /* padding-left: 50px; */
    margin-left: -30px;
}

.search_table>* {
    display: table-cell;
    vertical-align: middle;
}

.w290 {
    padding-left: 7px;
    text-align: left;
    width: 80%;
    /* margin-bottom: 26px; */
    margin-bottom: 10px;
    text-align: center;
}

.w40 {
    width: 40px;
}

.search_div .search_input {
    width: calc(50% - 5em);
    position: absolute;
    right: 0;
    top: 7px;
}

.search_div .search_input .field {
    border-bottom: 1px solid #aaa;
    width: calc(100% - 40px);
    padding: 0 10px;
}

.search_div .search_input input::placeholder {
    font-size: 18px;
}

.search_div .search_input .btn_wrap {
    width: 110px;
    display: table-cell;
}

.search_div .search_input button {
    background: unset;
    outline: unset;
    border: unset;
    padding: unset;
}

.search_div .search_input button img {
    width: 30px;
}

#search_box_big .tag_div {
    display: inline-block;
    width: calc(100% - 230px);
    vertical-align: top;
}

#search_box_big .tag_div samp {
    border: 1px solid var(--main_color1);
    background-color: #fff;
    padding: 4px 5px;
    font-size: 12px;
    vertical-align: top;
    float: left;
    line-height: 1em;
    margin: 0 3px 6px;
    border-radius: 0 5px;
}

#search_box_big .tag_div samp i {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
}

.tag_div img {
    width: 35px;
}

#search_box_big .tag_div em {
    color: var(--main_color1);
}

#search_box_big .close_all {
    position: absolute;
    top: 0;
    right: 0;
}

#search_box_big .tag_div samp {
    min-width: 8em;
    text-align: center;
    position: relative;
    padding-right: 20px;
}

.search_list_wrap .search_icon img {
    display: block;
    width: 80%;
    height: auto;
}

.range_name_color {
    color: var(--main_color1);
    padding: 2px;
    font-size: .9em;
    text-align: center;
    background: unset;
    border: 2px solid var(--main_color1);
    border-radius: 30px;
}

.search_1 {
    background-color: #fff100!important;
    color: #532789!important;
    padding: 12px!important;
    border-radius: 10px!important;
}

.type_class {
    width: 830px;
}

.div_rage {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.div_rage .L {
  width: 50%;
}

.div_rage .R {
    width: 50%;
}

.search_div.rang.search_row_div{
    margin: 20px 0;
    height: 100px;
}



.rang {
    /* width: 50%; */
    width: 100%;
}

#search_box_big .search_forms_wrap input[type="number"] {
    height: 30px;
    vertical-align: top;
    margin-top: 7px;
    width: 100px;
    padding: 0px 0px 0px 10px;
    border: 1px solid #aaa;
    border-radius: 0px 10px;

}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input_no_border {

    border: 0!important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px !important;
    text-align: center;
}

#price_range {
    /* background-color: #CCCCCC; */
}

.fv {
    font-variant: all-small-caps;
}

.search_div .other_remarks {
    line-height: 13px!important;
    padding: 9px 0px 0px!important;
    vertical-align: bottom!important;
}
/* 取消一開始隱藏 */
/*.search_row_div {*/
/*    display: none;*/
/*}*/


/* 頭的line */

.process_bar {
    padding: 10px;
    color: #999;
    width: 100%;
    left: 0px;
    position: absolute;
    padding-top: 33px;
}

.process_bar_data_1 {
    display: flex;
    margin: 0 auto;
    width: 400px;
    margin-top: 20px;
}

.process_bar_data_2 {
    display: flex;
    margin: 0 auto;
    width: 386px;
}

.process_bar_line {
    background: #532789;
    width: 50px;
    height: 2px;
    margin: auto 5px;
    border-radius: 5px;
}

.process_bar_line_h {
    background: #FFF;
    width: 51px;
    height: 2px;
    margin: auto 0px;
    border-radius: 5px;
}

.process_bar button {
    background: #FFF;
    border: 0px;
}

.process_bar_t {
    border: 2px solid var(--main_color1);
    border-radius: 1720px;
    background: var(--main_color1);
    color: #FFF;
    height: 47px;
}

.process_bar_t_1 {
    width: 47px;
    text-align: center;
    padding-top: 7px;
    font-size: 1.1em;
}

.arrow {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 61px;
    border-top: 1px solid var(--main_color1);
    border-left: 1px solid var(--main_color1);
    transform: rotate(135deg);
    position: absolute;
}

.arrow2 {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 150px;
    border-top: 1px solid var(--main_color1);
    border-left: 1px solid var(--main_color1);
    transform: rotate(135deg);
    position: absolute;
}

.arrow3 {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 239px;
    border-top: 1px solid var(--main_color1);
    border-left: 1px solid var(--main_color1);
    transform: rotate(135deg);
    position: absolute;
}

.arrow4 {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 329px;
    border-top: 1px solid var(--main_color1);
    border-left: 1px solid var(--main_color1);
    transform: rotate(135deg);
    position: absolute;
}

[name="arrow"] {
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.fa,
.fas {
    font-weight: 900;
    margin: auto 7px;
    color: var(--main_color1);
}

.fa,
.fas_h {
    font-weight: 900;
    margin: auto 7px;
    color: #FFF;
}

[name="process_bar_tx"] {
    width: 37px;
    text-align: end;
    font-size: 12pt;
}


/* line end*/

#search_box_big .search_forms_wrap .county label {
    font-size: 1.1em;
    padding: 0 5px 0px 5px;
    line-height: 40px;
}

#search_box_big .search_forms_wrap .city label {
    font-size: 1.1em;
    padding: 0 5px 0px 5px;
    line-height: 40px;
}

#search_box_big .search_forms_wrap label.border {
    border: 2px solid #8a6ea5 !important;
    border-radius: 10px !important;
    height: 27pt !important;
    margin-left: 25px !important;
}

#search_box_big .search_forms_wrap label {
    width: 85px;
    height: 40px;
    /* padding: 5px 0px 0px 0px; */
    padding: 9px 0px 0px;
    /* line-height: 27px; */
    line-height: 13px;
    font-size: 0.8em;
    font-weight: initial;
    border: 1px solid #ccc;
    border-radius: 0 8px;
    position: relative;
    text-align: center;
}

#search_box_big .search_forms_wrap label img {
    width: 45px;
    margin: 0px auto 0px;
    position: absolute;
    top: 0px;
    left: 5px;
}

#search_box_big .search_forms_wrap label:hover {
    border: 2px solid #8a6ea5 !important;
}

#search_box_big .search_forms_wrap .county_div,
#search_box_big .search_forms_wrap .city_div {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 4px;
    border-radius: 3px;
    box-shadow: 0 0 10px #909090;
}

#search_box_big .search_forms_wrap input[type="checkbox"]:checked+label,
#search_box_big .search_forms_wrap input[type="radio"]:checked+label,
#search_box_big .search_forms_wrap label.active {
    border: 2px solid var(--main_color1);
    font-weight: bold;
    color: #333;
    background: unset;
}

.search_forms_wrap {
    box-shadow: 0px 6px 15px #aaa;
    border-radius: 0px 30px;
    margin-bottom: 50px;
}

#search_box_big .searcounty_sch_content {
    padding: 10px 50px 50px 100px;
}

#search_box_big .search_forms_wrap .pattern {
    width: 400px;
    display: inline-block;
    position: relative;
    left: 62px;
}

#search_box_big .search_forms_wrap .pattern .search_table {
    display: table;
    width: 100%;
    position: absolute;
    top: -29px;
    left: -25px;
}

#search_box_big .search_forms_wrap .pattern .w150 {
    display: table-cell;
    vertical-align: middle;
    width: 150px;
    padding: 0px 0px 0px 10px;
}

.big_box {
    padding-top: 10px;
    position: relative;
}

.big_box .search_btn,
.search_btn {
    border-radius: 0px 10px;
}

.open_search {
    position: absolute;
    left: 2px;
    color: var(--main_color1);
    z-index: 999;
    cursor: pointer;
    top: -29px;
    display: none;
}

.open_search i {
    font-size: 15pt;
    margin-left: 5px;
    transition: transform 0.3s;
}

.open_search i:hover {
    transform: rotate(180deg);
}

.open_search:hover {
    font-weight: bold;
}

/* 09.29 */
.no_search_data {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    /* border: 7px dashed #f1e3af; */
    border-radius: 50px;
    width: 65%;
    margin: 20px auto;
}

.no_search_data span.no_search_span_3 {
    font-size: 18pt;
}

.ping_Scale, .ping_Scale_line {
  display: flex;
    width: 108%;
}

.ping_Scale_line, .price_Scale_line, .room_Scale_line {
    margin-top: 16px;
}

.price_Scale, .price_Scale_line {
    display: flex;
    width: 105%;
}

.room_Scale, .room_Scale_line, .price_Scale, .price_Scale_line, .ping_Scale, .ping_Scale_line {
    margin-left: 0px;
    padding-left: 50px;
}

.ping_Scale_line, .price_Scale_line, .room_Scale_line {
    margin-top: 0px;
}

.room_Scale, .room_Scale_line {
    display: flex;
    width: 109%;
}

.room_Scale div {
  width: 20%;
  font-size: 12pt;
}

.price_Scale div {
  /* width: 12%; */
  /* width: 20%; */
  width: 8.8%;
    font-size: 12pt;
}

.ping_Scale div {
  /* width: 12%; */
  /* width: 20%; */
  width: 8.6%;
    font-size: 12pt;
}

.ping_Scale .m-5 {
  margin-top: -5px;
}

.room_Scale_line div {
  height: 16px;
    /* justify-content: center; */
    overflow: hidden;
    width: 20%;
}

.ping_Scale_line div,.price_Scale_line div {
  height: 16px;
    /* justify-content: center; */
    overflow: hidden;
    width: 10%;
}

.ping_Scale .number:not(.m-5),.price_Scale .number:not(.m-5) {
    opacity: 0;
    width: 5%;
}

input#max_ping,input#min_ping,input#max_price,input#min_price,input#max_room,input#min_room {
    text-align: center;
}

.items {
    display: none;
    margin-top: 15px;
    position: absolute;
    background: #fff;
    z-index: 9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 14px;
    border-radius: 10px;
    box-shadow: 0 0 10px #909090;
}

.submit_b {
    text-align: center;
    margin-top: 30px;
}

.search_forms_wrap .search_div strong, #search_box_big .search_forms_wrap .county_city, strong.bont {
    cursor: pointer;
    color: var(--main_color1) !important;
}

button.submit {
    margin: auto;
    width: max-content;
    padding: 5px 23px;
    border-radius: 8px;
    background: #8a6ea5;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: 0px;
}

.reng_view {
    position: absolute;
    right: 7%;
    top: 0px;
}

#search_box_big .search_forms_wrap input[type="text"], #room_0 {
    width: 76px !important;
    text-align: center;
}
