
	.mediaViewInfo {
		--web-view-name: 註冊登入_register;
		--web-view-id: _register;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: _register;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}

	section.slider_center.slick-initialized.slick-slider {
	    display: none;
	}

	.footer {
    position: absolute !important;
    width: 100%;
    bottom: 0px;
}

article.Signup {
    margin: auto;
    width: 1280px;
}

#_bc a {
   color: rgba(147,182,35,1);
}

	#_register {
		position: absolute;
		width: 1280px;
		height: 800px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: 註冊登入_register;
		--web-view-id: _register;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_2671 {
		fill: rgba(255,255,255,1);
		stroke: rgba(147,182,35,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_2671 {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 48px;
		left: 164px;
		top: 551px;
	}
	#Group_839 {
		position: absolute;
		width: 327px;
		height: 48px;
		left: 164px;
		top: 651px;
		overflow: visible;
	}
	#Rectangle_112 {
		fill: rgba(147,182,35,1);
	}
	.Rectangle_112 {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 48px;
		left: 0px;
		top: 0px;
	}
	# {
		left: 148px;
		top: 14px;
		position: absolute;
		overflow: visible;
		width: 33px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#Line_59 {
		fill: transparent;
		stroke: rgba(147,182,35,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_59 {
		overflow: visible;
		position: absolute;
		width: 327px;
		height: 1px;
		left: 163.5px;
		top: 219.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_bb {
		left: 389px;
		top: 189px;
		position: absolute;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		line-height: 24px;
		margin-top: -5px;
		text-align: left;
		font-family: ITC Avant Garde Gothic Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(147,182,35,1);
	}
	#_bc {
		left: 228px;
		top: 189px;
		position: absolute;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		line-height: 24px;
		margin-top: -5px;
		text-align: left;
		font-family: ITC Avant Garde Gothic Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(147,182,35,1);
	}
	#Line_60 {
		fill: transparent;
		stroke: rgba(147,182,35,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_60 {
		overflow: visible;
		position: absolute;
		width: 167px;
		height: 5px;
		left: 329.5px;
		top: 219.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_840 {
		position: absolute;
		width: 224px;
		height: 40px;
		left: 216px;
		top: 724px;
		overflow: visible;
	}
	#fb {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Google {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 92px;
		top: 0px;
		overflow: visible;
	}
	#Line_logo {
		position: absolute;
		width: 40px;
		height: 40px;
		left: 184px;
		top: 0px;
		overflow: visible;
	}
	#Group_1649 {
		position: absolute;
		width: 147.293px;
		height: 91.008px;
		left: 252.737px;
		top: 76px;
		overflow: visible;
	}
	#Group_1346 {
		position: absolute;
		width: 143.03px;
		height: 63px;
		left: 4.263px;
		top: 0px;
		overflow: visible;
	}
	#Group_557 {
		position: absolute;
		width: 143.03px;
		height: 63px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_1348 {
		position: absolute;
		width: 147.293px;
		height: 19.73px;
		left: 0px;
		top: 71.278px;
		overflow: visible;
	}
	#Path_20957 {
		fill: rgba(142,142,143,1);
	}
	.Path_20957 {
		overflow: visible;
		position: absolute;
		width: 18.484px;
		height: 19.313px;
		left: 38.108px;
		top: 0.053px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20958 {
		fill: rgba(142,142,143,1);
	}
	.Path_20958 {
		overflow: visible;
		position: absolute;
		width: 7.996px;
		height: 8.463px;
		left: 30.995px;
		top: 10.799px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20959 {
		fill: rgba(142,142,143,1);
	}
	.Path_20959 {
		overflow: visible;
		position: absolute;
		width: 6.594px;
		height: 4.31px;
		left: 31.514px;
		top: 5.504px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20960 {
		fill: rgba(142,142,143,1);
	}
	.Path_20960 {
		overflow: visible;
		position: absolute;
		width: 6.698px;
		height: 4.568px;
		left: 31.619px;
		top: 0.312px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20961 {
		fill: rgba(142,142,143,1);
	}
	.Path_20961 {
		overflow: visible;
		position: absolute;
		width: 25.752px;
		height: 18.795px;
		left: 0px;
		top: 0.208px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20962 {
		fill: rgba(142,142,143,1);
	}
	.Path_20962 {
		overflow: visible;
		position: absolute;
		width: 15.368px;
		height: 19.21px;
		left: 102.02px;
		top: 0.415px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20963 {
		fill: rgba(142,142,143,1);
	}
	.Path_20963 {
		overflow: visible;
		position: absolute;
		width: 6.541px;
		height: 4.985px;
		left: 103.889px;
		top: 6.595px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20964 {
		fill: rgba(142,142,143,1);
	}
	.Path_20964 {
		overflow: visible;
		position: absolute;
		width: 7.009px;
		height: 5.556px;
		left: 104.875px;
		top: 1.401px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20965 {
		fill: rgba(142,142,143,1);
	}
	.Path_20965 {
		overflow: visible;
		position: absolute;
		width: 12.045px;
		height: 19.521px;
		left: 92.364px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20966 {
		fill: rgba(142,142,143,1);
	}
	.Path_20966 {
		overflow: visible;
		position: absolute;
		width: 25.18px;
		height: 19.522px;
		left: 122.113px;
		top: 0.208px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20967 {
		fill: rgba(142,142,143,1);
	}
	.Path_20967 {
		overflow: visible;
		position: absolute;
		width: 13.656px;
		height: 19.033px;
		left: 74.503px;
		top: 0.26px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20968 {
		fill: rgba(142,142,143,1);
	}
	.Path_20968 {
		overflow: visible;
		position: absolute;
		width: 11.37px;
		height: 19.365px;
		left: 63.029px;
		top: 0.104px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_2446 {
		fill: rgba(255,255,255,1);
		stroke: rgba(147,182,35,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_2446 {
		position: absolute;
		overflow: visible;
		width: 326px;
		height: 48px;
		left: 165px;
		top: 251px;
	}
	#_bz {
		left: 165px;
		top: 231px;
		position: absolute;
		overflow: visible;
		width: 21px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: rgba(147,182,35,1);
	}
	#_b {
		left: 460px;
		top: 268px;
		position: absolute;
		overflow: visible;
		width: 21px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: rgba(147,182,35,1);
	}
	#_ca {
		left: 394px;
		top: 269px;
		position: absolute;
		overflow: visible;
		width: 21px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: rgba(147,182,35,1);
	}
	#Union_1 {
		fill: rgba(147,182,35,1);
	}
	.Union_1 {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 175px;
		top: 267px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_2667 {
		fill: rgba(255,255,255,1);
		stroke: rgba(147,182,35,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_2667 {
		position: absolute;
		overflow: visible;
		width: 326px;
		height: 48px;
		left: 165px;
		top: 328px;
	}
	#_cb {
		left: 165px;
		top: 308px;
		position: absolute;
		overflow: visible;
		width: 21px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: rgba(147,182,35,1);
	}
	#Group_836 {
		position: absolute;
		width: 327px;
		height: 67px;
		left: 164px;
		top: 460px;
		overflow: visible;
	}
	#Rectangle_122 {
		fill: rgba(255,255,255,1);
		stroke: rgba(147,182,35,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_122 {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 48px;
		left: 0px;
		top: 19px;
	}
	#ID6-12 {
		left: 40px;
		top: 39px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 8px;
		color: rgba(147,182,35,1);
	}
	#_cc {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 21px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: rgba(147,182,35,1);
	}
	#Path_20820 {
		fill: rgba(147,182,35,1);
	}
	.Path_20820 {
		overflow: visible;
		position: absolute;
		width: 11.808px;
		height: 14.472px;
		left: 16.376px;
		top: 36.12px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Component_64__1 {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 462px;
		top: 494px;
		overflow: visible;
	}
	#Path_10 {
		fill: rgba(147,182,35,1);
	}
	.Path_10 {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_835 {
		position: absolute;
		width: 327px;
		height: 67px;
		left: 164px;
		top: 384px;
		overflow: visible;
	}
	#Rectangle_122_cd {
		fill: rgba(255,255,255,1);
		stroke: rgba(147,182,35,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_122_cd {
		position: absolute;
		overflow: visible;
		width: 327px;
		height: 48px;
		left: 0px;
		top: 19px;
	}
	#ID0933581098 {
		left: 114px;
		top: 35px;
		position: absolute;
		overflow: visible;
		width: 79px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(147,182,35,1);
	}
	#_cf {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		color: rgba(147,182,35,1);
	}
	#Path_20819 {
		fill: rgba(147,182,35,1);
	}
	.Path_20819 {
		overflow: visible;
		position: absolute;
		width: 10.512px;
		height: 20.952px;
		left: 15.024px;
		top: 33px;
		transform: matrix(1,0,0,1,0,0);
	}
	#ID886 {
		left: 200px;
		top: 417px;
		position: absolute;
		overflow: visible;
		width: 33px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(147,182,35,1);
	}
	#Path_21771 {
		fill: rgba(0,0,0,0);
		stroke: rgba(147,182,35,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_21771 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 30.167px;
		left: 264.667px;
		top: 411.499px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Dropdown {
		position: absolute;
		width: 9.4px;
		height: 6.1px;
		left: 247px;
		top: 424.001px;
		overflow: visible;
	}
	#Path_36 {
		fill: rgba(147,182,35,1);
	}
	.Path_36 {
		overflow: visible;
		position: absolute;
		width: 9.4px;
		height: 6.1px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_cl {
		left: 165px;
		top: 535px;
		position: absolute;
		overflow: visible;
		width: 36px;
		white-space: nowrap;
		text-align: left;
		font-family: Chiller;
		font-style: normal;
		font-weight: normal;
		font-size: 7px;
		color: rgba(147,182,35,1);
	}
	#ID1288 {
		left: 183px;
		top: 559px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(147,182,35,1);
	}
	#Group_1658 {
		position: absolute;
		width: 80px;
		height: 25px;
		left: 396px;
		top: 561px;
		overflow: visible;
	}
	#Rectangle_2666 {
		fill: rgba(147,182,35,1);
	}
	.Rectangle_2666 {
		position: absolute;
		overflow: visible;
		width: 80px;
		height: 25px;
		left: 0px;
		top: 0px;
	}
	#_cp {
		left: 15px;
		top: 6px;
		position: absolute;
		overflow: visible;
		width: 51px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 10px;
		color: rgba(255,255,255,1);
	}
	#Heart {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 177px;
		top: 344px;
		overflow: visible;
	}
	#Heart_cr {
		fill: rgba(147,182,35,1);
	}
	.Heart_cr {
		overflow: visible;
		position: absolute;
		width: 16px;
		height: 14.119px;
		left: 0px;
		top: 1px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_1450 {
		fill: transparent;
	}
	.Rectangle_1450 {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 16px;
		left: 0px;
		top: 0px;
	}
	#Group_1663 {
		position: absolute;
		width: 69px;
		height: 15px;
		left: 293px;
		top: 615px;
		overflow: visible;
	}
	#Group_1662 {
		position: absolute;
		width: 15px;
		height: 15px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_576 {
		fill: rgba(147,182,35,1);
	}
	.Rectangle_576 {
		position: absolute;
		overflow: visible;
		width: 15px;
		height: 15px;
		left: 0px;
		top: 0px;
	}
	#Group_77 {
		position: absolute;
		width: 8px;
		height: 8px;
		left: 3.5px;
		top: 3.5px;
		overflow: visible;
	}
	#Rectangle_460 {
		fill: transparent;
	}
	.Rectangle_460 {
		position: absolute;
		overflow: visible;
		width: 8px;
		height: 8px;
		left: 0px;
		top: 0px;
	}
	#Checkbox {
		fill: rgba(255,255,255,1);
	}
	.Checkbox {
		overflow: visible;
		position: absolute;
		width: 8px;
		height: 5.518px;
		left: 0px;
		top: 1px;
		transform: matrix(1,0,0,1,0,0);
	}
	#_cz {
		left: 25px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		color: rgba(147,182,35,1);
		text-decoration: underline;
	}
	#Group_1669 {
		position: absolute;
		width: 27.157px;
		height: 16px;
		left: 361px;
		top: 267px;
		overflow: visible;
	}
	#Group_1668 {
		position: absolute;
		width: 27.157px;
		height: 16px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_21784 {
		fill: rgba(147,182,35,1);
	}
	.Path_21784 {
		overflow: visible;
		position: absolute;
		width: 5.146px;
		height: 16.105px;
		left: 447px;
		top: 267px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_1670 {
		position: absolute;
		width: 639.632px;
		height: 800.238px;
		left: 640.368px;
		top: -0.238px;
		overflow: visible;
	}
	#-2 {
		position: absolute;
		width: 639.632px;
		height: 800.238px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_603 {
		position: absolute;
		width: 17px;
		height: 17px;
		left: 595.132px;
		top: 24.238px;
		overflow: visible;
	}
	#Line_57 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_57 {
		overflow: visible;
		position: absolute;
		width: 21.241px;
		height: 20.24px;
		left: 0px;
		top: 0.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_58 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_58 {
		overflow: visible;
		position: absolute;
		width: 17px;
		height: 16px;
		transform: translate(-1235.5px, -24px) matrix(1,0,0,1,1235.5,24.5) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#-2_da {
		fill: url(#-2_da);
	}
	.-2_da {
		overflow: visible;
		position: absolute;
		width: 639.632px;
		height: 800.238px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Component_155__1 {
		position: absolute;
		width: 20px;
		height: 20px;
		left: 333px;
		top: 265px;
		overflow: visible;
	}
	#Rectangle_465 {
		fill: transparent;
		stroke: rgba(212,229,156,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_465 {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_2471 {
		fill: rgba(147,182,35,1);
	}
	.Rectangle_2471 {
		position: absolute;
		overflow: visible;
		width: 10px;
		height: 10px;
		left: 5px;
		top: 5px;
	}
	#Component_155__2 {
		position: absolute;
		width: 20px;
		height: 20px;
		left: 420px;
		top: 265px;
		overflow: visible;
	}
	#Rectangle_465_de {
		fill: transparent;
		stroke: rgba(212,229,156,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_465_de {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 0px;
		top: 0px;
	}
