
.Breadcrumb {
    margin-top: -15px;
}

.footer img {
    width: 7%;
    margin: 1% 4%;
}

.footer {
    background: #5dabbc;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
    font-size: 13pt;
    z-index: 10;
    position: relative;
}

.footer {
    background: linear-gradient(180deg, rgba(224,251,249,1) 0%, rgba(224,251,249,1) 0%, rgba(97,194,207,1) 100%);
    fill: url(#Rectangle_946_cb);
    color: #000;
}

.footer {
    /* background: #5dabbc; */
    /* color: #FFF; */
    text-align: center;
    border-radius: 5px;
    font-size: 11pt;
    z-index: 10;
    position: relative;
}

.favorite {
    position: absolute;
    width: 8%;
    top: 4%;
    right: 4%;
}

.b_padding {
    padding: 10px 0;
    position: absolute;
    top: 490px !important;
    z-index: 7;
}

.special_store_wrap .store_list_wrap{
  z-index: 8;
}

.text-center {
    z-index: 8;
}

.search_list_wrap {
    width: 75%;
}

.search_input input[type="text"]::placeholder {
    font-size: .8vw !important;

}

.special_store_wrap .store_list_wrap ul li {
    width: 30%;
}
