<div class="activity_list_wrap">
	<div class="list">
		<div class="label">
			<div class="caption1">大吉大利 拿好康11111111111111111111111111111111111111111111</div>
			<div class="caption2">快來兌換你的專屬好康1111111111111111111111111111111111111111111111</div>
		</div>
		<img class="" src="./活動分享列表_files/bg_01.jpg">
	</div>
	<div class="list">
		<div class="label">
			<div class="caption1">{$in_life.title}</div>
			<div class="caption2">{$in_life.title2}</div>
		</div>
		{if !empty($in_life.img)}<img src="{$in_life.img}">{else}{/if}
	</div>
	<div class="list">
		<div class="label">
			<div class="caption1">租約健檢 免費諮詢</div>
			<div class="caption2">小心條款陷阱 以免權益受損</div>
		</div>
		<img class="" src="./活動分享列表_files/bg_02.jpg">
	</div>
	<div class="list">
		<div class="label">
			<div class="caption1">樂租 好好客</div>
			<div class="caption2">立馬推薦送好禮</div>
		</div>
		<img class="" src="./活動分享列表_files/bg_03.jpg">
	</div>
	<div class="list">
		<div class="label">
			<div class="caption1">樂租房東ing</div>
			<div class="caption2">讓您租事順利</div>
		</div>
		<img class="" src="./活動分享列表_files/bg_04.jpg">
	</div>
	<div class="list">
		<div class="label">
			<div class="caption1">租屋不踩雷</div>
			<div class="caption2">趨吉避凶 惡房東退散</div>
		</div>
		<img class="" src="./活動分享列表_files/bg_05.jpg">
	</div>
</div>