<form action="" method="post" name="form">
<div class="row_2 border">
                <div class="col-6 gap-24">
                  <div class="row">手機號碼
                    <input class="col-6" type="text" name="username" value="{$phone}" placeholder="請輸入手機號碼" required></div></div>
                <div class="col-6 gap-24">
                  <div class="row">訂單編號
                    <input class="col-6" type="text" name="username" value="{$orderid}" placeholder="請輸入訂單號碼" required ></div></div></div>
                <div class="col-6 gap-24"><div class="row">
                  <div class="floating" id="captcha_hidden"></div></div></div>
                <div class="col-6 gap-24">
                  <div class="row"><button type="submit" name="checkorder" value="1">送出</button></div></div>
<div class="col-6 gap-24">
                  <div class="row"></div></div></div>
</form>