<div class="footer_designing" style=" text-align: center;background: #fff;">
  <span style=" letter-spacing: 1px; color: #ccc; text-align: center; padding: 3px; font-size: 11pt;">
    <a target="_blank" href="https://www.okmaster.life/" style="font-size: 11pt;color: #ccc !important;">
      <img src="/themes/Okmaster/img/index/footer_logo.png" style=" width: 30px; margin: 0 10px;">生活好科技</a> &nbsp; 網頁 | 網站 設計製作</span>
</div>
