@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(page.css);
@import url(rwd.css);
@import url(device_icon.css);
@import url(floating_form.css);
:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.title_h {
    font-size: 36px !important;
}

.title_h_sec {
    font-size: 24px !important;
}

.title_c {
    font-size: 16px !important;
}

.title.letter_s05 {
    letter-spacing: 0.5em;
}

label.required:before {
    content: "*";
    vertical-align: middle;
}

label.required:before {
    color: red;
}

.no_img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.rent_list .img .no_img img,
.no_img img {
    width: 50% !important;
}


/*article.Index */

.banner_area {
    margin: 0 -15px;
}


/* 輪播往下推 */


/*article.Index{*/


/*	margin: 100px auto 0px;*/


/*}*/

.top_menu {
    position: fixed!important;
    top: 0;
    z-index: 99;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.float-right {
    float: right;
}

a,
a:hover,
a:active,
a:visited,
a:focus,
a:focus-within {
    text-decoration: none;
    color: var(--main_color1);
}

.no_border_b {
    border-bottom: unset !important;
}

html,
body {
    font-family: Microsoft JhengHei;
    font-size: 18px;
}

body .display_content>article {
    min-height: calc(82vh - 200px);
    margin-bottom: 4vw;
}

article {
    width: 100%;
    /*max-width: 1600px;*/
    /*min-width: 1300px;*/
    margin: 0 auto;
    padding: 0 15px;
}

.display_content {
    position: relative;
    /*min-width: 1330px;*/
    /* max-width: 1920px; */
    margin: 0 auto;
}

input::-webkit-input-placeholder {
    text-align: center;
    font-size: 14px;
}

input::-moz-placeholder {
    text-align: center;
    font-size: 14px;
}

input:-moz-placeholder {
    text-align: center;
    font-size: 14px;
}

input:-ms-input-placeholder {
    text-align: center;
    font-size: 14px;
}


/* 分頁 Start */

.pagination>li>a,
.pagination>li>span {
    color: #555;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #53268a;
    border-color: #53268a;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 2;
    color: #53268a;
    background-color: #eee;
    border-color: #53268a;
}

.GeelyForRent .pagination_wrap {
    margin-bottom: 20px;
}

.pagination {
    font-size: 16px;
}


/* 分頁 End */


/* share Start */

.share {
    text-align: right;
}

.share>div {
    display: inline-block;
    margin-right: 0.5em;
}

.share>div>img {
    height: 1.6em;
    vertical-align: text-bottom;
}


/* share End */


/* 吉屋快搜 Start */

.big_box {
    box-shadow: 0 0 5px #6e6e6e;
    padding: 50px;
    border-radius: 5px;
    min-height: 840px;
    margin-top: unset;
    width: 92%;
    margin: auto;
}

.big_box h2 {
    font-weight: bold;
    display: inline-block;
    position: relative;
    border-collapse: separate;
    padding-right: 0.3em;
    font-size: 22px;
    color: #727171;
}

.big_box .list,
.big_box .house_map {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    min-height: 50vw;
}

.big_box .house_map {
    width: 100%;
    height: 100%;
    min-height: 1024px;
}

.house_map .gm-style .gm-style-iw-t::after {
    background: linear-gradient(35deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) rotate(-66deg) skewX(-45deg);
    width: 30px;
}


/* 地圖搜尋 */

.HouseMap .photo_row,
.HouseMap data {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.HouseMap .commodity {
    margin-bottom: 25px;
    position: relative;
}

.HouseMap .commodity data>* {
    margin-top: unset;
}

.HouseMap .commodity data .big {
    font-size: 20px;
}

.HouseMap .commodity data>h3,
.HouseMap .commodity data>div {
    line-height: 1.5em;
}

.HouseMap .commodity data>div {
    margin-bottom: unset;
}

.HouseMap data {
    padding-left: 1em;
}

.HouseMap .commodity data price {
    top: unset;
    bottom: 0;
}

.HouseMap .commodity data tag {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: unset;
}

.house_map .labels {
    color: #3b1382;
    background-color: #fff500;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding: 6px 10px;
    border-radius: 0 15px 0 15px;
    font-family: '微軟正黑體', Microsoft JhengHei;
    ;
}

.house_map .gm-style .gm-style-iw-c {
    padding: 25px;
    border-radius: 15px;
    padding-right: 25px !important;
    padding-bottom: 25px !important;
}

.house_map .gm-style .gm-style-iw-c .gm-ui-hover-effect {
    top: 0 !important;
    right: 0 !important;
}

.house_map .gm-style .gm-style-iw-c .gm-ui-hover-effect img {
    width: 25px !important;
    height: 25px !important;
    margin: unset !important;
    margin-left: 5px !important;
}

.map_marker {
    font-family: Microsoft JhengHei;
}

.house_map .map_marker .photo_row {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.house_map .map_marker .data {
    padding-top: 20px;
}

.house_map .data div {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 400;
}

.house_map price {
    color: #e67a1f;
    font-size: 26px;
    font-weight: bold;
}

.house_map tag {
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto 5px;
}

.house_map tag i {
    width: 35px;
}

.house_map price unit {
    color: #333;
    font-size: 16px;
    margin-left: 5px;
}

.map_marker .data .title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.map_marker .data .phone {
    color: #e67a1f;
    font-size: 30px;
    font-weight: bold;
    margin: 10px auto 0px;
    text-align: center;
    display: block;
}

.map_marker .data .phone img {
    width: 25px;
    margin-right: 10px;
}

.map_marker .data .name {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.gm-style .gm-style-iw-d {
    overflow: unset !important;
}


/* 地圖搜尋 */


/* 吉屋快搜 End */


/* 吉屋快搜 List Start */

.List .big_box .list {
    width: 100%;
    display: table;
}

.List .big_box .list .commodity {
    width: 100%;
    padding: 20px 0 40px;
    border-bottom: 1px solid #C9CACA;
    display: flex;
    align-items: center;
}

.List .big_box .list .commodity:last-child {
    margin-bottom: 30px;
}

.List .commodity tag i {
    width: 35px;
    display: inline-block;
    margin: 0 3px;
    height: unset;
}

.List .commodity>* {
    vertical-align: top;
    display: inline-block;
}

.List .commodity .data {
    width: calc(100% - 370px);
    position: relative;
}

.List .commodity .data tag {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* .List .commodity .photo_row {
    width: 20%;
    margin-left: 5%;
} 09.30 del */

.List .commodity .photo_row {
    width: 25%;
    /* margin-left: 5%;
    margin-right: 5%; */
}

.photo_row img.img {
    transition: transform .5s ease;
    /*border: solid 5px #333;*/
    border-top: 0;
    border-left: 0;
}

.photo_row:hover img.img {
    transform: scale(1.3);
}

.List .commodity .pattern {
    position: relative;
    text-align: center;
    width: 15%;
    margin: 0 50px;
}

.List .commodity .pattern img {
    width: unset;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
}

.List .commodity data>* {
    margin-top: unset;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 1em;
    font-size: 20px;
}

.List .commodity data .title {
    font-size: 20px;
    font-weight: bold;
}

.List price {
    right: 0;
    margin-bottom: unset;
}

.List h3.title.big {
    font-size: 26px;
    font-weight: bold;
    color: #512779;
}

.get_me_power {
    font-size: 16px;
}

.List .commodity data .view,
.List .commodity data .up_tiim {
    position: absolute;
    right: 0;
}

.List .commodity data .view {
    top: 65px;
}

.List .commodity data .up_tiim {
    top: 89px;
}

.List .commodity .data {
    width: 27%;
    padding-left: 1.2vw;
}

.List .data>* {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 0 6px;
}

.List .data .title {
    margin: 0px auto 5px;
}

.List .data span {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}

.List .data .number {
    font-size: 26px;
    letter-spacing: 1px;
}

.List .data .number img {
    margin-right: 15px;
}

.List .data p {
    line-height: unset;
}

.List .data .btn_wrap {
    display: inline-block;
    padding: 3px 30px;
    margin: 5px auto 0;
    border-radius: 0 5px;
    background: var(--main_color1);
}

.List .data .btn_wrap a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 5px 0px;
    margin: 0;
    text-align: center;
}

.List .data .btn_wrap i {
    margin: 0 0.1em;
}

.favorite_btn {
    background-color: #512779;
    border: unset;
    color: #fff;
    font-size: 20px !important;
    padding: 5px 8px;
    border-radius: 7px;
    position: absolute;
    top: 0;
    right: 0;
}

.favorite_btn i {
    width: 1.5em;
    display: inline-block;
}


/* 吉屋快搜 List End */


/* 幻燈片 Start */

.uk-slideshow ul.uk-margin {
    margin-top: -20px !important;
    margin-bottom: 0;
    padding-bottom: 10px;
    position: relative;
    z-index: 9999;
}


/* 幻燈片 End */


/* 麵包屑 Start */

article .breadcrumb {
    margin-bottom: unset;
    background-color: unset;
    /* padding: 2em 0; */
    margin: 20px 0;
    padding-top: 0;
    /* padding-bottom: 4em; */
}

.breadcrumb a {
    font-size: 12px;
}

.breadcrumb a:not([href]) {
    cursor: unset;
}

.breadcrumb>li+li:before {
    content: '>';
}

.breadcrumb a {
    color: #333;
    font-size: 16px;
}


/* 麵包屑 End */


/* Header Start */

.main_bar {
    position: relative;
    height: 9vw;
}

.main_bar img {
    width: 100%;
}


/* Menu Start */

.main_menu {
    height: 100%;
    max-height: 100px;
    box-shadow: 0px 3px 10px #aaa;
    z-index: 999999;
    line-height: 45px;
    background-color: #fff500;
    opacity: 0.8;
    color: #3b1382;
    font-weight: bolder;
    letter-spacing: 0.1em;
    width: 100%;
    white-space: nowrap;
    padding: 0 15px;
    position: relative;
}


/* new */

.main_menu .menu li.nav_active_color {
    background: var(--main_color1);
    border-radius: 5px;
}

.main_menu .menu li.nav_active_color a {
    color: #fff;
}

.main_menu .menu li.nav_active_color ul.dropdown-menu li.nav_active_color a {
    color: #fff;
}

.main_menu .menu>a:last-of-type {
    margin-right: 15px;
}

.main_menu .menu>a:last-of-type:after {
    content: none;
}

.main_menu .content_width {
    height: 100px;
    margin: 0px 4%;
    width: -webkit-fill-available;
}

.main_menu .logo_main {
    width: 25%;
    vertical-align: middle;
    min-width: 150px;
}

.main_menu .logo_main {
    width: 20%;
    vertical-align: middle;
    min-width: 150px;
}

.main_menu .menu>ul {
    width: 100%;
    display: inline-block;
    text-align: left;
    justify-content: center;
}

.main_menu .menu>ul li {
    position: relative;
}

.main_menu .menu>ul li a {
    padding: 0px 24px;
    color: var(--main_color1);
    font-size: 1.3em;
    line-height: 45px;
    display: inline-block;
}

.main_menu .menu>ul li a:after {
    content: none;
}


/* 測試用 - 子選單全顯示 */

.main_menu .menu>ul li:nth-of-type(1) ul {
    left: 28px;
}

.main_menu .menu>ul li:nth-of-type(2) ul {
  left: 47px;
}

.main_menu .menu>ul li:nth-of-type(3) ul {
    left: 29px;
}

.main_menu .menu>ul li:nth-of-type(4) ul {
    left: 30px;
}

.main_menu .menu>ul li:nth-of-type(5) ul {
    left: 16px;
}

.main_menu .menu>ul li:nth-of-type(6) ul {
    left: 30px;
}

.main_menu .menu>ul li:nth-of-type(7) ul {
    left: -5px;
}

.main_menu .menu .dropdown-menu li {
    width: 100%;
}

.main_menu .menu .dropdown-menu li a {
    width: 100%;
    font-size: 1.05em;
    padding: 0px 30px;
    color: #555;
}

.main_menu .menu .dropdown-menu li a:hover {
    color: #333;
    font-weight: bold;
    background: unset;
}

.main_menu .menu li:last-child a:after {
    content: none;
}

.menu_left_a_no_top {
    font-size: 12pt !important;
    padding: 0px 15px !important;
}

.logo_main_img_no_top {
    animation-name: logo_main_img;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}


/* 2020/08/18 new */


/*.room_name_head,*/


/*.city_select,*/


/*.type_select,*/


/*.class_select,*/


/*.houses_select {*/


/*    display: inline-flex !important;*/


/*    color: #888 !important;*/


/*    padding: 12px!important;*/


/*    border-radius: 10px!important;*/


/*}*/

@media only screen and (max-width: 2753px) {
    #search_box_big .search_list_wrap .search_div .houses {
        width: 25vmax;
    }
}

@media only screen and (max-width: 3352px) {
    #search_box_big .search_list_wrap .search_div .county_div,
    #search_box_big .search_list_wrap .search_div .city_div,
    #search_box_big .search_list_wrap .search_div .category {
        width: 19vmax;
    }
}

.logo_main_img_no_top {
    animation-name: logo_main_img;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes logo_main_img {
    from {
        height: 100px;
        padding-left: 0px;
    }
    to {
        height: 40px;
        padding-left: 50px;
    }
}

.logo_main_no_top {
    animation-name: logo_main;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes logo_main {
    from {
        vertical-align: middle;
    }
    to {
        vertical-align: top;
    }
}

.main_menu_no_top {
    animation-name: main_menu;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes main_menu {
    from {
        max-height: 100px;
    }
    to {
        max-height: 50px;
    }
}

@media only screen and (min-width: 1930px) {
    .menu_left_no_top {
        left: 0px;
        position: absolute;
        animation-name: menu_left;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
}

.menu_right_2 a {
    background: #ffffffcf;
}

.List_d {
    display: flex;
    margin-left: 3%;
}

.list .commodity .object {
    width: 40%;
    min-width: 460px;
    /*height: 330px;*/
    padding: 0 1.5vw;
    position: relative;
    margin-left: 1%;
    padding-left: 5%;
}

.List .commodity .data {
    width: 34%;
    padding-left: 1.2vw;
}

@media only screen and (max-width: 1400px) {
    .List .data .btn_wrap {
        padding: 3px 10px;
        font-size: 12px !important;
    }
    .menu_right_2 {
        display: block !important;
    }
    .menu_right {
        display: none;
        /* margin-right: 132px; */
    }
    .menu_right_2_no_top {
        display: none !important;
    }
    .menu_right_no_top {
        position: absolute;
        z-index: 999;
        left: 0px;
        animation-name: menu_right_max_1400;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    .menu_left_no_top {
        left: 0px;
        position: absolute;
        animation-name: menu_left_max_1400;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    .main_menu .menu>ul li a {
        padding: 0px 16px;
        font-size: 1em;
    }
    .List .commodity .photo_row {
        width: 33%;
    }
    .List .commodity .data {
        width: 24%;
        padding-left: 1.2vw;
    }
}

@media (min-width: 1360px) {
    a.menu_left_a_no_top {
        font-size: 11pt !important;
    }
}

@media (min-width: 1600px) {
    a.menu_left_a_no_top {
        font-size: 12pt !important;
    }
}

@media (max-width: 1160px) {
    a.menu_left_a_no_top {
        font-size: 10pt !important;
    }
}

@media only screen and (min-width: 1401px) {
    .menu_right {
        display: block !important;
        /* margin-right: 36px; */
    }
    .menu_right_no_top {
        position: absolute;
        z-index: 999;
        left: 0px;
        animation-name: menu_right;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    /*.main_menu .menu>ul li a {padding: 0px 12px;font-size:12pt}*/
}

@media only screen and (min-width: 1930px) {
    .menu_left_no_top {
        left: 0px;
        position: absolute;
        animation-name: menu_left_min_1930;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    .main_menu .menu>ul li a {
        padding: 0px 24px;
        color: var(--main_color1);
        font-size: 1.3em;
        line-height: 45px;
        display: inline-block;
    }
}

@media only screen and (min-width: 1930px) {
    .menu_left_no_top {
        left: 0px;
        position: absolute;
        animation-name: menu_left_min_1930;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    .main_menu .menu>ul li a {
        padding: 0px 24px;
        color: var(--main_color1);
        font-size: 1.3em;
        line-height: 45px;
        display: inline-block;
    }
}

@media only screen and (min-width: 2300px) {
    .menu_left_no_top {
        position: initial;
        animation-name: menu_left_min_2300;
        animation-duration: 0.5s;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }
    .main_menu .logo_main {
        width: 15%;
    }
}

@keyframes menu_right {
    from {
        left: 0px;
    }
    to {
        left: 70%;
    }
}

@keyframes menu_right_max_1400 {
    from {
        left: 0px;
    }
    to {
        left: 78%;
    }
}

@keyframes menu_left {
    from {
        left: 0px;
    }
    to {
        left: 600px;
    }
}

@keyframes menu_left_min_2300 {
    from {
        left: 0px;
    }
    to {
        left: 0px;
    }
}

@keyframes menu_left_min_1930 {
    from {
        left: 0px;
    }
    to {
        left: 20%;
    }
}

@keyframes menu_left_max_1400 {
    from {
        left: 0px;
    }
    to {
        left: 25%;
    }
}

@keyframes menu_left_1401 {
    from {
        left: 0px;
    }
    to {
        left: 17%;
    }
}


/* new end */

.main_menu>div {
    display: table;
    width: 100%;
    /* max-width: 1690px; */
    margin: 0 auto;
}

.main_menu>div>* {
    display: table-cell;
}

.main_menu .menu {
    text-align: right;
    /*padding-left: 50px;*/
    width: 80%;
}

.main_menu .menu a {
    color: #797878;
    font-size: 16px;
    line-height: 45px;
    padding: 0 15px;
    display: inline-block;
    position: relative;
}

.main_menu .menu a:after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    content: "";
    border-right: 1px solid #bebebe;
    display: block;
    margin-top: -10px;
}

.main_menu ul>li>a.active {
    background: #512779;
    color: #fff500;
}

.main_menu ul {
    margin-bottom: unset;
}

.main_menu ul>li {
    display: inline-block;
    position: relative;
}

.main_menu ul>li>a.active {
    background: #512779;
    color: #fff500;
}

.main_menu ul>li:last-child:after,
.main_menu .menu a:last-child:after {
    display: none !important;
}

.main_menu ul>li>a {
    padding: 0px 28px;
    font-size: 20px;
    line-height: 45px;
    display: inline-block;
}

.main_menu .nav .open>a {
    background-color: unset;
}

.main_menu .dropdown-menu {
    min-width: 140px;
    margin: 0 -27px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .15);
    font-size: 1rem;
    padding: unset;
    left: 0px;
    min-width: fit-content;
    text-align: center;
}

li.fixed_postion {
    position: absolute !important;
}

li.fixed_postion a {
    color: #797878 !important;
    font-size: 12pt !important;
    /*border-left: 1px solid #bebebe;*/
    height: 33px;
    vertical-align: top;
}

.main_menu .dropdown-menu li {
    display: block;
}

.main_menu .dropdown-menu>li>a {
    line-height: 45px;
    display: block;
}

.main_menu .dropdown-menu>li>a:hover,
.main_menu .dropdown-menu>li>a:focus {
    color: #3b1382;
    background-color: #fff500;
    background-image: unset;
}

.main_menu .dropdown-menu>li.nav_active_color>a:hover,
.main_menu .dropdown-menu>li.nav_active_color>a:focus {
    color: #fff;
    background-color: var(--main_color1);
    background-image: unset;
}

.menu>i {
    height: 14px;
}

.b_padding {
    padding: 10px 0;
}

i>img {
    width: 100%;
}

.pic {
    display: inline-block;
    width: 22px;
    margin-right: 0.5em;
}

.big_box .search_btn,
.search_btn {
    display: inline-block;
    width: auto;
    height: auto;
    color: #555;
    padding: 5px 10px;
    margin: 0 0 5px 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: .3s;
    background-color: #fff;
}

.big_box .search_btn:hover,
.search_btn:hover {
    color: #fff;
    background: #562a8c;
    border: 1px solid #562a8c;
}

.big_box .search_btn img,
.search_btn img {
    width: 20px;
    margin-left: 10px;
}

.big_box #search_box hr {
    margin: 10px auto;
    border-top: 1px solid #aaa;
}

#search_text {
    padding-right: 15px;
}

#search_box {
    display: table;
    white-space: nowrap;
    width: 100%;
    margin: 50px 0;
    font-size: 16px;
}

#search_box .select_group {
    width: 260px;
}

#search_box select {
    border: unset;
    font-size: 20px;
    height: 34px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../img/icon/select.svg") no-repeat scroll right center transparent;
    /* margin-right: 0.5em; */
    padding-right: 25px;
    font-weight: bold;
    direction: initial;
    text-align-last: center;
    width: 100px;
    margin-right: 1em;
    vertical-align: middle;
}

#search_box select:first-child {
    padding: unset;
    padding-right: 25px;
}

#search_box .search_forms_wrap {
    display: block;
}

#search_btn {
    width: 60px;
}

.search_forms_wrap {
    box-shadow: 0px 6px 15px #aaa;
    border-radius: 10px;
}

.searcounty_sch_content {
    padding: 20px 20px 50px;
}

#search_btn .btn {
    padding: unset;
    background-color: unset;
    box-shadow: unset;
    width: 2em;
    margin: 0 0.5em;
}

#search_btn .btn img {
    width: 100%;
}

#search_box>div {
    display: table-cell;
}

#search_text {
    padding-right: 15px;
}

.field {
    /*width: 80%;*/
    border: 0;
    border-bottom: 1px solid #727171;
    line-height: 30px;
    border-radius: 0;
    width: 90%;
    margin-right: 100px;
}

.field::placeholder {
    font-size: 1.11rem;
}

.w50p2 {
    margin-left: -68px!important;
    margin-right: 17px;
}


/* Menu End */

header a.index {
    position: absolute;
    left: 5.5%;
    top: 19%;
    width: 22%;
    height: 54%;
}


/* Header End */


/* 我的最愛 Start */

@keyframes heart {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}

.favorite {
    position: absolute;
    width: 8%;
    top: 4%;
    right: 4%;
}

.favorite.on img {
    -webkit-animation-name: heart;
    animation-name: heart;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/* 我的最愛 End */


/*article {*/


/*	padding: 100px 15px;*/


/*}*/


/* 房屋列表 Start */

.commodity {
    color: #333;
}

.commodity_list {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.commodity_list .commodity {
    display: inline-block;
    width: 31.5%;
    border: 1px solid #000;
    border-right: inset;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0 40px 40px 0;
}

.commodity_list .commodity .title {
    font-weight: bold;
    font-size: 1.11rem;
}

.commodity_list .commodity .title.big {
    font-size: 1.35rem;
    color: #53268a;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 0.1em;
}

.commodity_list .commodity i,
.list .commodity .title i,
.list .commodity div i {
    display: inline-block;
    height: 16px;
    width: 1px;
    background-color: #999;
    vertical-align: unset;
    margin: 0 0.3em;
}

.commodity .photo_row {
    overflow: hidden;
    border-radius: 0 30px 0 30px;
    position: relative;
    height: 200px;
}

.list .commodity .management {
    position: absolute;
    top: 45px;
    font-size: 18px;
    right: 0;
}

.list .commodity .object .title_wrap {
    width: 100%;
    display: flex;
    position: relative;
    margin: -33px auto 5px;
}

.list .commodity .object .title.big {
    width: 100%;
    min-width: unset;
    font-size: 26px;
    margin: 0px auto 5px;
}

.list .commodity .object .title_wrap .number {
    width: 30%;
    min-width: 75px;
    font-size: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.list .commodity .object .title {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 auto 2px;
}

.list .commodity .object .address {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 25px;
    margin: 0 0 2px;
}

.list .commodity .object>* {
    font-size: 20px;
    /*letter-spacing: 4px;*/
    line-height: 28px;
    margin: 0 auto 2px;
}

.list .commodity .object tag {
    display: flex;
    /* width: 70%; */
    width:max-content;
    margin-left: -20px;
}

.list .commodity .object tag i {
    width: 100%;
    text-align: start;
    background-color: unset;
    margin: 0;
    margin: 0 10px;
}

.list .commodity .object tag i img {
    width: 100%;
    max-width: 40px;
    height: auto;
}

.list .commodity .object tag i p {
    width: max-content;
    font-size: 14px;
    margin: 5px 0 0;
    letter-spacing: 1px;
}

.list .commodity .object .price {
    text-align: right;
    position: absolute;
    top: 40px;
    right: 25px;
}

.photo_row .img {
    /*width: 430px;*/
    width: 100%;
    /*height: 168px;*/
    height: 100%;
}

.photo_row price {
    position: absolute;
    color: #ffffff;
    right: 5%;
    bottom: 5%;
    font-size: 1.2em;
    text-shadow: 0 0 4px #000;
}

.photo_row price unit {
    font-size: 0.889rem;
}

.commodity data>* {
    margin-top: 0.4em;
    letter-spacing: 1px;
}

.commodity collect {
    position: absolute;
    display: inline-block;
    width: 8%;
    top: 6%;
    right: 6%;
}

.List price {
    font-size: 36px;
    color: #FF0000;
    letter-spacing: 1px;
}

.List price unit {
    color: #333;
    font-size: 20px;
    margin-left: 5px;
}

.List price .cost {
    font-size: 18px;
    letter-spacing: 2px;
    color: var(--text_normal_color);
}

.commodity data tag i {
    display: inline-block;
    height: 26px;
}

.commodity data tag i img {
    height: 100%;
    width: 30px;
}

.commodity .title_2 {
    font-size: 10pt;
    display: flex;
    text-align: start;
}

.commodity .title_2>img {
    height: 1em;
    width: 1em;
    margin-right: 5px;
}

.commodity .title_4 {
    font-size: 10pt;
    /*font-variant:all-small-caps;*/
    text-align: start;
}

.commodity h3.title.big>a {
    font-size: 14pt;
}

.commodity h3.title.big_2 {
    margin-top: 0;
    text-align: left;
}

.commodity h3.title.big_2>a {
    font-size: 12pt;
    color: var(--main_color1);
}


/* 房屋列表 End */


/* 租事大吉 Start */

.rent_type {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    padding-bottom: 5px;
    font-weight: bold;
}

.rent_type li.active {
    font-weight: bold;
}

.rent_type li.active a {
    font-weight: bold;
    color: #53268b;
    font-size: 25px;
}

.rent_type li {
    display: inline-block;
}

.rent_type a {
    display: inline-block;
    color: #888;
    font-size: 20px;
    line-height: 25px;
    padding: 0 16px 0;
    position: relative;
}

.rent_type a:hover {
    color: #53268b;
}

.rent_type li:first-child a {
    padding-left: 0;
}


/*.rent_type a:after{*/


/*	content:" ";*/


/*	display: inline-block;*/


/*	width: 1px;*/


/*	position: absolute;*/


/*	 border-right: 1px solid #ccc; */


/*	height: 1em;*/


/*	right: 0;*/


/*	bottom: 5px;*/


/*}*/

.GeelyForRent .information {
    border-bottom: 2px solid #ccc;
    padding: 1em 0;
    margin-bottom: 20px;
}

.GeelyForRent .information>div {
    margin-right: 2em;
}

.GeelyForRent .information>div div {
    vertical-align: middle;
    line-height: 1em;
    padding-right: 0.5em;
    margin-right: 0.5em;
}

.GeelyForRent .information>div div:first-child {
    border-right: 1px solid #ccc;
}

.GeelyForRent .information * {
    display: inline-block;
}

.GeelyForRent h1 {
    font-size: 28px;
    font-weight: 600;
    font-family: 微軟正黑體;
    color: #333;
}


/* 選單 - end */


/* 列表 - start */

.rent_list {
    margin-bottom: 20px;
}

.rent_list li {
    display: inline-block;
    margin-bottom: 25px;
    border: 1px solid #aaa;
    border-radius: 0 20px 0 20px;
    overflow: hidden;
    width: 48.5%;
}

.rent_list li:nth-child(odd) {
    margin-right: 3%;
}

.rent_list li a,
.rent_list li .title {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    align-items: center;
}

.rent_list li .title {
    width: 45%;
    padding: 25px;
    border-right: 1px solid #ccc;
    line-height: 40px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 225px;
}

.rent_list .img {
    width: 40%;
    min-height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rent_list .img img {
    width: 100%;
}

.rent_list .time {
    width: 15%;
    line-height: 25px;
}

.rent_list .title a {
    letter-spacing: 1px;
}

.rent_list .month {
    line-height: 50px;
    letter-spacing: 0;
    font-size: 24px;
}

.rent_list .year {
    font-size: 20px;
    font-weight: normal;
    line-height: 13px;
    letter-spacing: 0;
}


/* 租事大吉 End */


/* 房屋資訊 Start */

.main_caption {
    margin-bottom: 20px;
}

.main_caption h1 {
    font-size: 26px;
    font-weight: bold;
    color: var(--text_normal_color);
}

.main_caption i {
    display: inline-block;
    width: 1px;
    height: 22px;
    margin: 0 15px;
    background: #aaa;
}

.main_caption span {
    font-size: 30px;
    font-weight: bold;
    color: var(--text_normal_color);
    line-height: 25px;
    margin-right: 10px;
}

.house_content .content {
    position: relative;
    overflow: auto;
}

.house_content section {
    margin: 30px auto 30px;
}

.house_content .data_wrap {
    width: 60%;
    max-width: 930px;
    padding-right: 30px;
    float: left;
}

.house_content .float_data {
    position: fixed;
    width: 40%;
    max-width: 600px;
    float: right;
    margin: 0 auto 10px;
    background: #f0f0ee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #999;
    vertical-align: top;
}

.detailed_data {
    position: relative;
    font-size: 18px;
}

.detailed_data .price {
    letter-spacing: 1px;
    margin: 0 auto 20px;
}

.detailed_data price {
    color: #e17419;
    font-size: 30px;
    font-weight: bold;
}

.detailed_data price unit,
.detailed_data price .cost {
    color: #666;
    font-size: 16px;
}

.detailed_data .case_number {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    color: var(--text_normal_color);
    line-height: 25px;
    letter-spacing: 0.1em;
}

.detailed_data .case_number>* {
    display: inline-block;
}

.detailed_data .case_number .title {
    font-weight: bold;
    border-right: 1px solid #999;
    padding-right: 0.2em;
}

.house_search .float_data .caption span {
    color: #e17419;
    font-size: 30px;
    font-weight: bold;
}

.house_content .data_wrap h3.caption {
    font-size: 28px;
    line-height: 50px;
    font-weight: bold;
    color: #715086;
    padding: 0 0 10px 5px;
    margin-bottom: 10px;
}

.base_data .list {
    min-width: 45%;
    padding: 0 3px;
    margin-bottom: 15px;
    display: inline-block;
}

.base_data .list.full {
    width: 100%;
}

.base_data .title {
    vertical-align: text-bottom;
    display: inline-block;
    min-width: 100px;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: unset;
    background: #888;
    text-align: center;
    border-radius: 0 5px;
}

.base_data .info {
    min-width: 85px;
    display: inline-block;
    color: var(--text_normal_color);
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
    vertical-align: top;
    padding-left: 15px;
    width: calc(100% - 105px);
}

.base_data .info .item {
    font-size: 16px;
    padding: 0 1.8vw;
    border: 1px solid #888;
    border-radius: 0 5px;
    width: 30.7%;
    margin: 0 5px 5px 0;
    float: left;
}

.house_content .transportation_icon {
    font-size: 56px;
    margin-right: 10px;
    vertical-align: middle;
}

.house_content .device_icon {
    margin-right: 15px;
    font-size: 30px;
}

.house_content tr {
    height: 50px;
}

.house_content .table>thead>tr>th,
.house_content .table>tbody>tr>th,
.house_content .table>tfoot>tr>th,
.house_content .table>thead>tr>td,
.house_content .table>tbody>tr>td,
.house_content .table>tfoot>tr>td {
    padding: 0;
    font-size: 18px;
    text-align: center;
    border: 1px solid #999;
    vertical-align: middle;
}

.house_content .table {
    width: 100%;
    margin-bottom: 20px;
}

.house_content .table {
    border-collapse: separate;
    border-spacing: 0;
}

.house_content table tr:first-child td:first-child {
    border-top-left-radius: 0;
}

.house_content tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.house_content tr:first-child td:last-child {
    border-top-right-radius: 15px;
}

.house_content tr:last-child td:last-child {
    border-bottom-right-radius: 0;
}

.full_block .caption {
    font-size: 28px;
    line-height: 50px;
    font-weight: bold;
    color: #715086;
    padding: 0 0 10px 5px;
    margin-bottom: 10px;
}


/* 房屋資訊 End*/


/* 圖片預覽 Start */

.img_preview {
    position: relative;
}

.img_preview .spec-preview {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0 20px;
}

.img_preview .spec-scroll {
    margin-top: 5px;
    overflow: auto;
}

.img_preview .spec-scroll .prev,
.img_preview .spec-scroll .next {
    display: block;
    text-align: center;
    width: 15px;
    height: 120px;
    line-height: 115px;
    border: 1px solid #CCC;
    background: #EBEBEB;
    cursor: pointer;
    text-decoration: none;
}

.img_preview .spec-scroll .items {
    position: absolute;
    width: calc(100% - 38px);
    height: 120px;
    overflow: hidden;
    left: 15px;
}

.img_preview .spec-scroll .prev {
    float: left;
}

.img_preview .spec-scroll .next {
    float: right;
}

.img_preview .spec-scroll .items ul {
    position: absolute;
    width: 999999px;
    height: auto;
}

.img_preview .spec-scroll .items ul li {
    float: left;
    width: 210px;
    margin: 0;
    text-align: center;
}

.img_preview .spec-scroll .items ul li img {
    border: 1px solid #CCC;
    padding: 2px;
    width: 95%;
    height: auto;
    border-radius: 0px 10px;
}

.img_preview .spec-scroll .items ul li img:hover {
    border: 2px solid #53268a;
    padding: 1px;
}


/* 圖片預覽 End */


/* CMS Start*/


/* CMS End*/


/* in 生活 Srart */

.in_life {
    margin: 0 auto;
}

.in_life {
    max-width: unset;
}

.in_life {
    margin: 0 auto;
}

.in_life .pagination_wrap {
    margin-bottom: 40px;
}

.in_life .in_left_type li {
    display: inline-block;
}

.in_life .in_left_type li a {
    color: #aaa;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 2px;
    padding: 0 10px;
    border-right: 1px solid #ccc;
    font-weight: bold;
}

.in_life .in_left_type li a:hover {
    color: #555;
}

.in_life .in_left_type li.active a {
    font-size: 25px;
    font-weight: bold;
    color: #777;
}

.in_life .in_left_type li:first-child a {
    padding-left: unset;
    display: block;
}

.in_life .in_left_type li:last-child a {
    border-right: unset;
}

.in_life .in_left_type {
    display: inline-block;
    margin-bottom: unset;
    background-color: #fff;
    position: absolute;
    top: 0;
    padding-right: 1em;
}

.in_left_type_wrap {
    margin-bottom: 40px;
    position: relative;
}

.in_left_type_wrap .line {
    border-bottom: 1px solid #ccc;
    height: 25px;
}

.in_life .list_wrap>li {
    height: 250px;
    margin: 0 auto 30px;
    border: 1px solid #ccc;
    border-radius: 0 20px 0 20px;
    overflow: hidden;
    width: 1100px;
    max-width: 100%;
}

.in_life .list_wrap>li>a {
    width: 100%;
    display: table;
    color: #333;
}

.in_life .list_wrap>li>a>* {
    display: table-cell;
    vertical-align: middle;
}

.in_life .list_wrap .info {
    padding: 20px 15px;
    font-size: 15px;
    position: relative;
}

.in_life .list_wrap>li>a .info:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: "";
    border-left: 1px solid #ccc;
}

.in_life .list_wrap .img {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    max-width: 350px;
    height: 250px;
}

.in_life .list_wrap .img img {
    width: 100%;
}

.in_life .list_wrap .content {
    padding: 60px 25px 20px;
    display: inline-block;
    height: 100%;
    color: #666;
    width: 425px;
}

.in_life .list_wrap .content .caption1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #333;
}

.in_life .list_wrap .content .caption2 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.in_life .list_wrap .content .caption2>div {
    margin-bottom: 10px;
}

.in_life .list_wrap .info .info_wrap {
    display: inline-block;
    height: 100%;
}

.in_life .list_wrap .info .time {
    margin-bottom: 10px;
}

.in_life .list_wrap .info .time .time {
    margin-bottom: unset;
    display: inline-block;
}

.in_life .list_wrap .info>li span {
    font-weight: bold;
    border-right: 1px solid #ccc;
    width: 40px;
    position: absolute;
    left: -40px;
}

.in_life .list ul.info li {
    position: relative;
    margin-left: 40px;
    padding-left: 10px;
}


/* in 生活 End */


/* 框 - start */

.rent_service {
    color: #aaa;
    font-size: 15px;
    line-height: 14px;
}

.rent_service .menu {
    margin-bottom: 15px;
}

.rent_service .menu a {
    color: #aaa;
    font-size: 20px;
    line-height: 33px;
    padding: 0 30px 0;
    font-weight: bold;
    position: relative;
    vertical-align: baseline;
}

.rent_service .menu a:after {
    position: absolute;
    content: "";
    border-right: 1px solid #ccc;
    height: 28px;
    bottom: 0;
    right: 0;
}

.rent_service .menu a.active {
    font-size: 25px;
    color: #333;
    line-height: 20px;
}

.rent_service .menu a:last-child:after {
    content: unset;
    border-right: unset;
}

.rent_service .frame_wrap {
    width: auto;
    height: auto;
    padding: 20px 23px 100px;
    margin: 0 auto 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
}

.rent_service .frame_wrap .caption_wrap {
    margin: 10px auto 30px 5px;
}

.rent_service .frame_wrap .caption_wrap .caption {
    float: left;
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 600;
    color: #777;
    font-size: 22px;
}

.rent_service .frame_wrap .title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 45px;
    color: #53268a;
    margin: 70px auto 80px;
}


/* 框 End */


/* 蜂窩圖 Start */

.rent_service .frame_wrap {
    width: auto;
    height: auto;
    padding: 20px 23px 100px;
    margin: 0 auto 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
}

.rent_service .honeycomb {
    width: 820px;
    height: 465px;
    position: relative;
    background-image: url(../img/rent_service/honeycomb.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}

.rent_service .honeycomb .honeycomb_list_wrap1 {
    position: absolute;
    top: 40px;
    left: 96px;
    width: 77%;
    height: 64px;
    display: flex;
    align-items: center;
}

.rent_service .honeycomb .honeycomb_list_wrap2 {
    position: absolute;
    top: 150px;
    left: 32px;
    width: 92.5%;
    height: 64px;
    display: flex;
    align-items: center;
}

.rent_service .honeycomb .honeycomb_list_wrap3 {
    position: absolute;
    top: 254px;
    left: 96px;
    width: 77%;
    height: 64px;
    display: flex;
    align-items: center;
}

.rent_service .honeycomb .honeycomb_list_wrap4 {
    position: absolute;
    top: 362px;
    left: 36px;
    width: 76.5%;
    height: 64px;
    display: flex;
    align-items: center;
}

.rent_service .honeycomb .honeycomb_list {
    width: 126px;
    text-align: center;
    padding: 5px;
    margin: 0 4px 0 0;
}

.rent_service .honeycomb .honeycomb_list a.hexagontent {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    display: block;
    transition: .2s;
    line-height: 22px;
}

.rent_service .honeycomb .honeycomb_list a.hexagontent:hover {
    transform: scale(1.2);
}


/* 蜂窩圖 - end */


/* 蜂窩圖點選內容 - start */

.rent_service .service_content_wrap {
    width: 100%;
    padding: 30px 10px;
}

.rent_service .service_content_wrap .service_content {
    margin: 0 auto 0;
    text-align: center;
}


/* 蜂窩圖點選內容 - end */


/* footer Start */

footer nav {
    height: 40px;
    line-height: 40px;
    background-color: #fff500;
    color: #3b1382;
    font-size: 15px;
    letter-spacing: 0.1em;
    padding: 0 4%;
    text-align: center;
    font-weight: bold;
}

footer nav a {
    padding: 0 32px;
    line-height: 40px;
    display: inline-block;
    font-size: 1rem;
}

footer nav a:last-child {
    border-right: unset;
}

footer .footer {
    text-align: center;
    background-color: #53268a;
}

footer .footer,
footer .footer a {
    letter-spacing: 1px;
    color: #fff;
}

footer .footer {
    padding: 10px 0 10px;
}

footer .footer div {
    margin-bottom: 10px;
    color: #fff;
}

footer .footer div:last-child {
    margin-bottom: unset;
}

.footer_txt1 span {
    font-size: 10px;
    margin-right: 15px;
}

.footer_txt2 span {
    font-size: 10px;
    margin-right: 15px;
}

.footer_txt1 {
    font-size: 10px;
}

.footer_txt2 {
    font-size: 10px;
}

.footer_txt3 {
    font-size: 10px;
}

.footer_txt1,
.footer_txt2,
.footer_txt3 {
    letter-spacing: 1px;
}

.footer_txt3 span {
    font-size: 12px;
    letter-spacing: 1px;
}

footer table {
    width: 96%;
    margin: 0 auto;
}

.qrcode img {
    width: 70%;
}

footer .qrcode {
    width: 90px;
    display: inline-block;
}

footer table td {
    vertical-align: top;
}

.qr_code_td {
    width: 16%;
    text-align: left;
}

section.slider_center.slick-initialized.slick-slider .draggable {
    margin: 0 !important;
    width: 100%;
}


/* footer End */
