<style>
#main {
    height: -webkit-fill-available;
    background: url(/img/admin/control_panel/1100107.png);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}
</style>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top">
  <img src="\img\admin\control_panel\admin_panel_0_2021.png" style="width: 8%;/*height: 100%;*/">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">

{foreach $web2_data as $key =>$value}

    {if $key%5==0}<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">{/if}

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

            <a href="https://www.lifegroup.house/manage/Welcome?id_diversion={$value.id_diversion}">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><img alt="{$value.name}" src="{$value.img}" style="width: 100%;/*height: 100%;*/"></div>

                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><span>{$value.name}</span></div>
-->
            </a>

        </div>

    {if ($key%5==4) || $key==$web2_long}</div>{/if}

{/foreach}

    {if $smarty.session.id_group==2 || $smarty.session.id_admin==1}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><a href="https://www.lifegroup.house/manage/Welcome?id_diversion=admin">管理者全體顯現用</a></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><a href="http://104.199.245.59/KRsEGdEKCKPW6HfgEYySqXt8wbzNqKzUhD3m5yet5aDwpEghuRM3trVqUUCBuPUc/" target="_blank">Myphpadmin <i class="fas fa-external-link-alt"></i></a></div>

    {/if}
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><a href="https://cp27.g-dns.com:2096/" target="_blank">eMail入口</a></div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
  <img src="\img\admin\control_panel\copyright.png">
</div>
<input type='hidden' value='{gc_maxlifetime}'>
<input type='hidden' value='{cookie_lifetime}'>
