<div class="share_infor_box_bk" style=" display:none;opacity:0; background: #333333d4;width: 100%;position: fixed;height: 100%;top: 0px;left: 0px;z-index: 9999;">
</div>
<div class="share_infor_box"> 

<!-- <span class="alt app">APP下載</span>

<span class="alt qr_code">QR Code</span>

<span class="alt FB">FB分享</span>

<span class="alt LINE">LINE分享</span>

<span class="alt MAIL">寄給朋友</span>

<span class="alt call_us">聯絡我們</span> -->


    <div class="l"><ul>
    <li class="sevice_item" style="display: flex;">
     <span class="alt app">APP下載</span>
            <a class="icon_block open" data-type="app"><img src="/modules/FloatShare/img/icon/app.svg"></a>

            <span class="text">APP下載</span>

        </li><li class="sevice_item" style="display: flex;">
<span class="alt qr_code">QR Code</span>
            <a class="icon_block open" data-type="qr_code"><img src="/modules/FloatShare/img/icon/qr_code.svg"></a>

            <span class="text">QR Code</span>

        </li>


<li class="sevice_item" style="display: flex;">
<span class="alt FB">FB分享</span>
            <a class="icon_block FB">
              <!-- <i class="fab fa-facebook-square sevice_wrap_hidden_i_trans"></i> -->
				<img src="/modules/FloatShare/img/icon/facebook-brands.svg">
      </a>

            <span class="text">FB分享</span>

        </li>

        <li class="sevice_item" style="display: flex;">
<span class="alt LINE">LINE分享</span>
            <a class="icon_block LINE">
              <!-- <i class="fab fa-line sevice_wrap_hidden_i_trans"></i> -->
				<img src="/modules/FloatShare/img/icon/line-brands.svg">
      </a>

            <span class="text">Line分享</span>

        </li>

        <li class="sevice_item" style="display: flex;">
<span class="alt MAIL">寄給朋友</span>
            <a class="icon_block MAIL"><img src="/modules/FloatShare/img/icon/share.svg"></a>

            <span class="text">寄給朋友</span>

        </li>

        <!-- <li class="sevice_item" style="display: flex;">

            <hr style="border: 1px solid #99999973;width: 28pt;">

        </li> -->

        <li class="sevice_item" style="display: flex;">
<span class="alt call_us">聯絡我們</span>
            <a class="icon_block open" data-type="call_us">
                <img src="/modules/FloatShare/img/icon/contact_us.svg"></a>

            <span class="text">聯絡我們</span>

        </li>


    </ul></div><div class="r">
      <!-- <span class="default">請使用左邊功能按鈕</span> -->
    </div><i class="fas fa-times-circle"></i>
    </div>


<div class="fixed_postion">

    <ul class="sevice_wrap">

        <li class="sevice_item sevice_wrap_show">

            <a class="icon_block"><i class="fas fa-share-alt"></i></a>

        </li>

        <li class="sevice_item sevice_wrap_hidden">

            <a class="icon_block"><i class="fas fa-share-alt"></i></a>

        </li>



        <li class="sevice_item">

            <a class="icon_block open" data-type="app"><img src="/modules/FloatShare/img/icon/app.svg"></a>

            <span class="text">APP下載</span>

        </li>

        <li class="sevice_item">

            <a class="icon_block open" data-type="qr_code"><img src="/modules/FloatShare/img/icon/qr_code.svg"></a>

            <span class="text">QR Code</span>

        </li>

        <li class="sevice_item">

            <a class="icon_block FB">
              <!-- <i class="fab fa-facebook-square"></i> -->
				<img src="/modules/FloatShare/img/icon/facebook-brands.svg">
      </a>

            <span class="text">FB分享</span>

        </li>

        <li class="sevice_item">

            <a class="icon_block LINE">
              <!-- <i class="fab fa-line"></i> -->
				<img src="/modules/FloatShare/img/icon/line-brands.svg">
      </a>

            <span class="text">Line分享</span>

        </li>

        <li class="sevice_item">

            <a class="icon_block MAIL"><img src="/modules/FloatShare/img/icon/share.svg"></a>

            <span class="text">寄給朋友</span>

        </li>

        <li class="sevice_item">

            <hr style="
    border: 1px solid #99999973;
    width: 60%;
    margin: auto;
">

        </li>

        <li class="sevice_item">

            <a class="icon_block open" data-type="call_us">
                <img src="/modules/FloatShare/img/icon/contact_us.svg"></a>

            <span class="text">聯絡我們</span>

        </li>

    </ul>
    <style>
        .con_box_txt {
            position: relative;
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            color: #615c5c;
            padding-left: 5%;
        }

        .fixed_postion .side_content_wrap.call_us {
            position: fixed;
            top: 44%;
            right: 60px;
            width: 430px;
            height: auto;
            background-color: #fff;
            z-index: 10;
            box-shadow: 0 1px 4px #aaa;
            border-radius: 5px;
        }

        .txt_bold {
            font-weight: bold;
            white-space: nowrap;
        }

        .txt_red {
            color: red;
            font-weight: bold;
            font-size: 1.8rem;
        }

        .txt_line {
            margin: 0 1% 0 1%;
        }
    </style>
    <div class="side_content_wrap call_us">

        <div class="side_content_title">

            <span>聯絡我們</span>

            <button class="close"><img class="close_icon" src="/modules/FloatShare/img/icon/close-btn.svg"></button>

        </div>

        <div class="con_box_txt">
            <p><span class="txt_bold">免付費專線</span><span class="txt_line">|</span><span class="txt_red">0800-010-568</span></p>
            <p><span class="txt_bold">行動</span><span class="txt_line">|</span>0987-010-880</p>
            <p><span class="txt_bold">電話</span><span class="txt_line">|</span>(03)358-1095</p>
            <p><span class="txt_bold">傳真</span><span class="txt_line">|</span>(03)358-1095</p>
            <p><span class="txt_bold">電郵</span><span class="txt_line">|</span>168@lift-house.com</p>
            <p><span class="txt_bold">地址</span><span class="txt_line">|</span>330-71桃園市桃園區新埔八街113號</p>
        </div>
    </div>


    <div class="side_content_wrap app">

        <div class="side_content_title">

            <span>APP下載</span>

            <button class="close"><img class="close_icon" src="/modules/FloatShare/img/icon/close-btn.svg"></button>

        </div>

        <div class="side_content">
           <div class="group">
            <div class="caption1">生活樂租</div>

            <img class="qrCode_img" src="/modules/FloatShare/img/qr_code/qr_code.jpg">
           </div>
          <div class="group">
            <div class="caption2">e修繕</div>

            <img class="qrCode_img" src="/modules/FloatShare/img/qr_code/qr_code.jpg">
           </div>
            <div class="group" style="vertical-align: middle;">
            <div>

                <a target="_blank" href="#">

                    <img class="download-img" src="/modules/FloatShare/img/img-download-app-store.png">

                </a>

            </div>

            <div>

                <a target="_blank" href="#">

                    <img class="download-img" src="/modules/FloatShare/img/img-download-google-play.png">

                </a>

            </div>

            <div class="download-text">掃描QR Code或點擊下載APP</div>
             </div>
        </div>

    </div>

    <div class="side_content_wrap qr_code">

        <div class="side_content_title">

            <span>QR Code</span>

            <button class="close"><img class="close_icon" src="/modules/FloatShare/img/icon/close-btn.svg"></button>

        </div>

        <div class="side_content">

            <img class="qrCode_img" src="/modules/FloatShare/FloatShare.php?qe_code={$smarty.server.REQUEST_URI|escape:'url'}">
           <br>{$smarty.server.HTTP_HOST|escape:'url'}
        </div>

    </div>

</div>



{*
<div class="fixed_postion">*} {*
    <a class="icon_block"><img src="/modules/FloatShare/img/icon/contact_us.svg"><span class="text">聯絡我們</span></a>*} {*
    <a class="icon_block open" data-type="app"><img src="/modules/FloatShare/img/icon/app.svg"><span class="text">APP下載</span></a>*} {*
    <a class="icon_block open" data-type="qr_code"><img src="/modules/FloatShare/img/icon/qr_code.svg"><span class="text">QR Code</span></a>*} {*
    <a class="icon_block FB"><img src="/modules/FloatShare/img/icon/facebook.svg"><span class="text">FB分享</span></a>*} {*
    <a class="icon_block LINE"><img src="/modules/FloatShare/img/icon/line.svg"><span class="text">Line分享</span></a>*} {*
    <a class="icon_block MAIL"><img src="/modules/FloatShare/img/icon/share.svg"><span class="text">寄給朋友</span></a>*} {*
    <a href="https://okrent.house/statement "><span class="text " style="">相關聲明</span></a>*} {*

</div>*} {*



<li class="fixed_postion"><a href="#" class="">友好分享</a>
    <ul class="dropdown-menu" role="menu">*} {*
        <li class="icon_block"><a class="icon_block">聯絡我們</a></li>*} {*
        <li class="icon_block open" data-type="app"><a class="icon_block open" data-type="app">APP下載</a></li>*} {*
        <li class="icon_block open" data-type="qr_code"><a class="icon_block open" data-type="qr_code">QR Code</a></li>
        *} {*
        <li class="icon_block FB">
            <a class="icon_block FB"><img src="/modules/FloatShare/img/icon/facebook.svg" style="width: 20%"><span class="text">FB分享</a></li>*}

		{* <li class="icon_block LINE"><a class="icon_block LINE">Line分享</a></li>*}

		{* <li class="icon_block MAIL"><a class="icon_block MAIL">寄給朋友</a></li>*}

		{* </ul>
</li>*}
