<div data-role="page" id="flash_search" class="page">
	{$back_url = '#'}
    {include file="$tpl_dir./mobile/header.tpl"}
	<form enctype="multipart/form-data" data-role="collapsibleset" data-inset="false">
		<div class="type_div select"><input type="radio" name="type" data-role="none" id="type_1" class="hide"><label for="type_1">租屋</label><input type="radio" data-role="none" name="type" id="type_2" class="hide"><label for="type_2">買屋</label></div>
		<div class="select" data-role="collapsible" data-inset="true"><h4>區域<span class="county">桃園市桃園區</span></h4><p>區域</p></div>
		<div class="select" data-role="collapsible" data-inset="true"><h4>型態<span class="type">電梯大樓</span></h4><p>型態</p></div>
		<div class="select" data-role="collapsible" data-inset="true"><h4>類別<span class="object">整層住宅</span></h4><p>類別</p></div>
		<div class="select" data-role="collapsible" data-inset="true"><h4>設備堤供<span class="device"></span></h4><p>設備堤供</p></div>
		<div class="select" data-role="collapsible" data-inset="true"><h4>其他條件<span class="other">整層住宅</span></h4><p>其他條件</p></div>
		<div class="select" data-toggle="collapse" data-target="#demo">
			<button class="btn" data-toggle="collapse" data-target="#demo">Collapsible</button>
			<div id="demo" class="collapse">
				Some text..
			</div></div>
		<div id="footer" class="footer transition footer_box-shadow">
			<button type="submit">立即搜尋</button>
		</div>
	</form>
</div>
<div data-role="page" id="flash_search_county" class="page">
    {$back_url = '#'}
    {include file="$tpl_dir./mobile/header.tpl"}
	<form enctype="multipart/form-data">
	</form>
</div>
<div data-role="page" id="flash_search_county" class="page">
    {$back_url = '#'}
    {include file="$tpl_dir./mobile/header.tpl"}
	<form enctype="multipart/form-data">
	</form>
</div>