

<div class="bottom_fix_div">
</div>

{include file="$tpl_dir./search_bar.tpl"}

<div class="container-fluid">
        <header style="max-width: 960px;">

        </header>


        <div id="tm-bg"></div>


        <div id="tm-wrap-case">
            <div class="tm-main-content">

                <!-- 次頁主內容 -->
                <article>





                </article>

            </div>
            <!-- .tm-main-content -->

                <div class="details">
        			<div class="details__bg details__bg--down" style="opacity: 0; transform: none;">
        				<button class="details__close" style="opacity: 0; transform: translateY(100%);"><svg class="svg-inline--fa fa-times fa-w-11 fa-2x icon--cross tm-fa-close" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-2x fa-times icon--cross tm-fa-close"></i> Font Awesome fontawesome.com --></button>
        				<div class="details__description" style="opacity: 0;"></div>
        			</div>
        			</div></div>


        <div class="details">
			<div class="details__bg details__bg--down" style="opacity: 0; transform: none;">
				<button class="details__close" style="opacity: 0; transform: translateY(100%);"><i class="fas fa-2x fa-times icon--cross tm-fa-close"></i></button>
				<div class="details__description" style="opacity: 0;"></div>
			</div>
			</div></div>
    </div>

    <div class="container-fluid main" id="main">

        <div class="breadcrumbs">
            <p>{$breadcrumbs_html}{if $sidname} &gt; {$sidname}{/if}</p><br>
        </div>




        <div class="row">
          <div class="col-sm-1 "></div>
          <div class="col-sm-10 ">
                <div class="col-xs-12 col-sm-12 form_1 forms_div">

                  <img src="/themes/Epro/img/case/orderrequest_img_1.jpg">

                  {include file="tab1.tpl"}

                </div><div class="col-xs-12 col-sm-12 form_2 forms_div">

                  <img src="/themes/Epro/img/case/orderrequest_img_2.jpg">

                  {include file="tab2.tpl"}

                </div>
          </div>
          <div class="col-sm-1 "></div>
        </div>
    </div>
