
<!-- <div class="top_more"><span class="more">挖寶趣 | 交換趣 | 環保捐贈 | 願望清單</span></div> -->

<div class="rows_1">




  {$l_titel=array("露營帳篷","組裝簡易內裝","規格型號<label></label>","物主<label></label>白白屋","<img src='/themes/Okrent/img/list/coin.png' alt=''> 可租日<label></label>2020-11-10","<img src='/themes/Okrent/img/list/calendar.png' alt=''> <input type='text'> 1日租金<label></label>7日租金<label></label>15日租金<label></label>30日租金")}
  {$l_c=array("","","","","","")}

  {$l_titel_s=array("font-size: 18pt;","","","","position: absolute;padding-top:5pt;","position: absolute;display: flex;")}
  {$l_c_s=array("","","","","","")}
  {$r_titel=array("<div class='heart_in'><img src='/themes/LifeHouse/img/lifego/heart.svg' alt=''></div>","","","<i class='far fa-thumbs-up'></i>","位置<label></label>","")}
  {$r_c=array("38","","","5.0","桃園市","")}




  <div class="rows_1">

    <div class="content">
 {for $ii=0;$ii<5;$ii++}
      <div class="items">
      <div class="prodocu">
        <!-- <div class="heart">
                                    <img src="/themes/LifeHouse/img/lifego/heart.svg" alt="">
                                    <div class="quantity">123</div>
                                </div> -->
          <div class="photo">
            <div class="p_broder"><span>
            物品照片
            </span></div>
          </div>
          <div class="infor">
            <ul>


  {for $i=0;$i<sizeof($l_titel);$i++}

              <li>
              <ul class="row row_{$i} p_name">
                <li class="l"><span style="{$l_titel_s[$i]}">{$l_titel[$i]}</span></li>
                <li class="c_l"><span style="{$l_c_s[$i]}">{$l_c[$i]}</span></li>
                <li class="r"><span style="{$r_titel_s[$i]}">{$r_titel[$i]}</span></li>
                <li class="c_r"><span style="{$r_c_s[$i]}">{$r_c[$i]}</span></li>
              </ul>
              </li>
   {/for}

            </ul>

          </div>
      </div>
      <div class="new">
        <span>NEW</span>
        <div class="p_broder"><span>

            </span></div>

            <div class="content">

<span class="title">露營帳篷<span><p></p>
<span>組裝簡易內裝組裝簡易內裝組內裝組內<br>
    組裝簡易內裝組裝簡易內裝組內裝組內
    </span>

</span></span></div>
      </div>
      </div>
{/for}
  </div>

</div>


{$js}
