<div class="t_container top">
    <div class="top_1">
        <img src="/themes/Okrent/img/list/content_1090922_06.png">
    </div>
    <div class="top_2">
        類別&nbsp;&nbsp;<span>&nbsp;&nbsp;全&nbsp;&nbsp;部&nbsp;&nbsp;&nbsp;&nbsp;</span>
        品項&nbsp;&nbsp;<span>&nbsp;&nbsp;全&nbsp;&nbsp;部&nbsp;&nbsp;&nbsp;&nbsp;</span>
        品名&nbsp;&nbsp;<span>&nbsp;&nbsp;全&nbsp;&nbsp;部&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <i class="fas fa-search"></i>
    </div>
    <div class="top_3">
        <a href="####">登入</a> | <a href="####">註冊</a> | <a href="####">快速上架</a> | <a href="####">喜愛清單</a>
    </div>
    <div class="top_4"><img src="/themes/Okrent/img/list/content_1090922_05.png"></div>
</div>
<div class="top_more"><span class="more">挖寶趣 | 交換趣 | 環保捐贈 | 願望清單</span></div>

<div class="rows_1">




  {$l_titel=array("露營帳篷","品牌","物主","租金","租期","可租日")}
  {$l_c=array("","","","","1日租金|7日租金 15日租金|30日租金","2020-11-10")}
  {$r_titel=array("瀏覽次數","規格型號","<i class='far fa-thumbs-up'></i>","","","位置")}
  {$r_c=array("38","","5.0","","","桃園市")}
  {$l_c_s=array("","","","","position: absolute;padding-top: 18pt;","")}



  <div class="rows_1">

    <div class="content">
 {for $ii=0;$ii<5;$ii++}
      <div class="items">
      <div class="prodocu">
        <div class="heart">
                                    <img src="/themes/LifeHouse/img/lifego/heart.svg" alt="">
                                    <div class="quantity">123</div>
                                </div>
          <div class="photo">
            <img src="/themes/Okrent/img/index/1090918_13.png">
          </div>
          <div class="infor">
            <ul>


  {for $i=0;$i<sizeof($l_titel);$i++}

              <li>
              <ul class="row row_{$i} p_name">
                <li class="l"><span style="{$l_titel_s[$i]}">{$l_titel[$i]}</span></li>
                <li class="c_l"><span style="{$l_c_s[$i]}">{$l_c[$i]}</span></li>
                <li class="r"><span style="{$r_titel_s[$i]}">{$r_titel[$i]}</span></li>
                <li class="c_r"><span style="{$r_c_s[$i]}">{$r_c[$i]}</span></li>
              </ul>
              </li>
   {/for}

            </ul>

          </div>
      </div>
      <div class="new">
        <span>NEW</span>
        <img src="/themes/Okrent/img/index/1090918_13.png">
      </div>
      </div>
{/for}
  </div>

</div>


{$js}
