@media (min-width: 1200px){.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{float:none;display:inline-block;vertical-align: top;}}
@media (max-width: 1000px){
	div.w50{
		width: calc(100vw - 60px);
	}
	div.edit_cart{
		margin-left: calc(-50vw + 30px);
	}
	#letter .float_left, #letter .float_right{
		float: unset !important;
	}
}
@media (min-width: 992px){.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{float:none;display:inline-block;vertical-align: top;}}
@media (min-width: 768px){.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9{float:none;display:inline-block;vertical-align: top;}}
@media (max-width: 991px){
	.list table thead{
		display: none;
	}
	.list .table,.list .table thead,.list  .table tbody ,.list .edit_div,.list .table thead tr th{
		display: block;
		margin: 0px;
		width: 100%;
	}
	.list .table thead tr th{
		border-top: 0;
		height: 53px;
	}
	.list th.range input {
		width: calc(50% - 2em);
	}
	.list table {
		border-width: 0px;
	}
	.list .table thead tr{
		vertical-align: top;
		display: inline-block;

	}
	.list th .th_title,.list th .th_title.show{
		display: none !important;
	}
	.list .table thead tr:first-child{
		width: 30%;
	}
	.list .table thead tr:last-child{
		width: 70%;
	}
	.list .table tbody tr,
	.list .table tbody tr td {
		display: block;
	}
	.list .table thead,
	.list .table tbody tr{
		margin-bottom: 10px;
	}
	.list .table thead,
	.list .table tbody tr{
		box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
		-o-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
		-ms-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
	}
	.list .table tbody tr td {
		min-height: 40px;
		text-align: left;
		position: relative;
		padding-left: 35%;
		width: 100%;
	}
	.list tbody td:before{
		position: absolute;
		top: 4px;
		left: 12px;
		width: 30%;
		border-right: 1px solid #EAEDEF;
		padding-right: 10px;
		text-align: right;
		font-style: italic;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	.list .table tbody tr td.edit_div, .list .edit_div{
		text-align: right;
	}
	.list .pull-right.input-group{
		position: unset;
		width: 100%;
		text-align: right;
	}
	.list .pull-right.input-group .form-control{
		float: unset;
	}
	.list .pull-right .input-group-addon,
	.list .pull-right.input-group input{
		display: inline;
	}
	.list .pull-right.input-group input{
		display: inline-block;
		width: auto;
		max-width: 80px;
	}
}
@media (max-width: 500px){
	.minbar .index{
		display: none;
	}
}