.thead{
	background-color: #BF9B71;
}
thead,body tr th,.list th .th_title{
	background-color: #88611F;
	color: #fff;
	vertical-align: middle;
}
.table>thead>tr>th{
	vertical-align: middle;
}
body{
	background-color: #eee;
}
#admin_menu a:hover,
#admin_menu li.active>a{
	background-color: #d4af83;
	color: #333;
}
.minbar{
	background-color: #eee;
}
tr.search {
	background-color: #ffefd5;
}
a {
	color: #7d5f3d;
}
a:focus, a:hover {
	color: #bf9b71;
}
tbody>tr:hover ,tbody>tr.active,.table>tbody>tr.active>td{
	background-color: #FEF6EB;
}
.label-info {
	background-color: #fef6eb;
}
#admin_menu .submenu{
	background-color: #f3dcbe;
}
#footer {
	background-color: rgba(204, 204, 204, 0.8);
}
#footer a{
	color: #fff;
}
#admin_menu li .submenu li a,
#admin_menu li.active>a{
	color: #333;
}
#admin_menu li .submenu li:hover 	a{
	color: #000;
}
#admin_menu a,
#admin_menu .menu-collapse{
	color: #fff;
}
#admin_menu>ul>li{
	background-color: #88611F;
}
.drag_group .positions {
	color: #aaa;
	border: solid 1px #ccc;
	background-color: #eee;
}
.Competence .parent{
	background-color: #eee;
}
td.pointer{
	color:#00f;
}
@keyframes footer_in {
	from {
		bottom:-30px;
		background-color:rgba(204, 204, 204,0);
	}
	to {
		bottom:0px;
		background-color: rgba(204, 204, 204, 0.8);
	}
}
.panel-default>.panel-heading{
	background-color: #fff;
}
@-moz-keyframes footer_in {

	from {
		bottom:-30px;
		background-color:rgba(204, 204, 204,0);
	}
	to {
		bottom:0px;
		background-color: rgba(204, 204, 204, 0.8);
	}
}
@-ms-keyframes footer_in {
	from {
		bottom:-30px;
		background-color:rgba(204, 204, 204,0);
	}
	to {
		bottom:0px;
		background-color: rgba(204, 204, 204, 0.8);
	}
}
@-o-keyframes footer_in {
	from {
		bottom:-30px;
		background-color:rgba(204, 204, 204,0);
	}
	to {
		bottom:0px;-
	background-color: rgba(204, 204, 204, 0.8);
	}
}
@-webkit-keyframes footer_in {
	from {
		bottom:-30px;
		background-color:rgba(204, 204, 204,0);
	}
	to {
		bottom:0px;
		background-color: rgba(204, 204, 204, 0.8);
	}
}