/* 頁籤 - start */
.item_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0px auto 40px;
    padding: 0px 70px 0px 15px;
}

.item_wrap:after{
    content: "";
    flex: auto;
    width: 70%;
    height: 1px;
    position: absolute;
    background: #aaa;
}

.item_wrap .title{
    width: unset;
    padding-right: 15px;
    background: #fff;
    z-index: 1;
    color: var(--main_color1);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

.item_wrap .item_list {
    width: unset;
    padding-left: 15px;
    align-items: unset;
    justify-content: unset;
    margin: unset;
    background: #fff;
    z-index: 1;
    display: flex;
}

.item_wrap .item_list a{
    text-align: center;
    width: 120px;
    position: relative;
    color: var(--text_light_color);
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
}

.item_wrap .item_list a:after{
    display: none;
}

.item_wrap .item_list i{
    width: 1px;
    height: 25px;
    background: #888;
}

.item_wrap .item_list a.active {
    color: #555;
    font-size: 1.2em;
    line-height: 1.2em;
}

.item_wrap .item_list a:hover{
    color: var(--main_color1);
}
/* 頁籤 - end */