img {
    width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font-family: Microsoft JhengHei !important;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.cell_window.lazyload {
	opacity: 0;
	transform: scale(0.8);
}

.cell_window.lazyloaded {
	opacity: 1;
	transform: scale(1);
	transition: all 700ms;
}

.epro_news .cell-2 {
    text-align: center;
    font-size: 12pt;
}

.slick-list {
    padding: 30px !important;
}

.search_bar_hode {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9990 !important;
    background: #ffffff94 !important;
}

.search_bar {
    height: 75px;
    background: #FFC107;
}

input.search_txtt:-moz-placeholder {
    text-align: left;
    font-size: 14pt;
    padding-left: 1em;
}

input.search_txtt::-webkit-input-placeholder {
    text-align: left;
    font-size: 14pt;
    padding-left: 1em;
}

input.search_txtt {
    height: 36pt;
    margin: 14px 0;
    width: 100%;
    margin-right: 10px;
    border-radius: 10px;
}

button.search_bnt {
  /*height: 33pt; */
  background: #00BCD4;
  color: #fff;
  padding: 3px;
  border: 0px;
  border-radius: 9px;
  width: 52px;
  margin: auto;
  cursor: pointer;
}

button.search_bnt:hover {
    background: #fff;
    color: #00BCD4;
}

.search_bar_m {
    display: flex;
}

.cell-2.mid {
    background: url("/themes/Epro/img/index/index_06.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
}

.row .cell-4 .rows {
    height: 33%;
    width: 100%;
}

.row .cell-5.c1 .rows {
    /*height: 520px;*/
    width: 80%;
    margin: 3% auto;
    margin-right: 3%;
}

.row .cell-5.c3 .rows {
    /*height: 520px;*/
    width: 80%;
    margin: 3% auto;
    margin-left: 3% !important;
}

.row .cell-5 .rows.r1,
.row .cell-5 .rows.r3,
.row .cell-5 .rows.l2 {
    z-index: 997;
}

.rows.l2 {
    margin-left: -7% !important;
}

.epro_introduction .cell-2,
.epro_introduction .cell-5 {
    margin-top: 50px;
}


/*
.cell-5 .r1 {
    background: url(img/首頁_04.png);
    background-repeat: no-repeat;
    background-position-x: center;
}*/

.epro_slogan {
    text-align: center;
    margin: 90px;
}

.epro_know_how .cell-12,
.epro_share .cell-12 {
    text-align: center;
    margin: 50px 0;
}

.epro_family .cell-12 {
    background: url(/themes/Epro/img/index/index_17.png);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 67vh;
    background-size: 100%;
}

.epro_know_how .cell-6 .row.img {
    height: 160px;
    width: 100%;
    background: url(https://c.pxhere.com/photos/4a/94/painter_paint_cans_brush_paintbrush_paint_color_paint_brush_painting-533876.jpg!d);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: auto;
}

.epro_know_how .cell-6 .row.img:hover {
    background-position: center;
    animation-name: epro_know_how_hover;
    animation-duration: 1s;
}

@keyframes epro_know_how_hover {
    from {
        background-size: 100%;
    }
    to {
        background-size: 120%;
    }
}

.epro_know_how .cell-6 .row.txt {
    height: 120px;
    width: 100%;
    background: #FFF;
    display: contents;
}

.epro_know_how .cell-6 .body {
    border: 2px solid #eee;
    border-radius: 0 20px;
    margin: 20px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    cursor: pointer;
}

.epro_know_how .cell-6 .body .img {
    border-radius: 0 20px 0 0;
}

.dL_name {
    position: absolute;
    bottom: 0px;
    background: #3333339e;
    width: 100%;
    color: #FFF;
    padding: 0 5px;
    text-align: center;
}

.cell-6 .body .row.txt div {
    padding: 0 2%;
}

.cell-6 .body .row.txt div span {
    font-weight: bold;
}

.ctxt_1 {
    margin-top: 10px;
}

.ctxt_3 {
    margin-bottom: 10px;
}

.ctxt_1 span {
    color: #FFC107;
}

.ctxt_2 span {
    color: #00BCD4;
}

.ctxt_3 span {
    color: #9E9E9E;
}

.epro_share .cell-6 .body {
    height: 100%;
}

.epro_share .cell-6 .row.img {
    width: 100%;
    background: url(https://images.pexels.com/photos/601170/pexels-photo-601170.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 169%;
    margin: auto;
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.epro_share .cell-6 .row.img:hover {
    background-position: center;
    animation-name: epro_share_hover;
    animation-duration: 1s;
}

@keyframes epro_share_hover {
    from {
        background-size: 169%;
    }
    to {
        background-size: 209%;
    }
}

.epro_share .row .cell-6>.row {
    border: 2px solid #eee;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
}

.epro_share .dL_name {
    border-radius: 0 0 0 20px;
}

.epro_share .cell-5 {
    padding: 0;
}

.epro_share>.row>.cell-6>.row>.cell-6 {
    margin-left: 3%;
}

.epro_share .dL_name {
    height: 50px;
    padding: 13px;
    width: 100%;
}

.epro_news .cell-2.offset-7 {
    text-align: end;
}

.epro_news_bar .row {
    text-align: center;
}

.epro_news_bar .row .r1 span {
    color: #009688;
    font-weight: bold;
}

.epro_news_bar .row .r31 span {
    color: #E91E63;
    font-weight: bold;
}

.epro_news_bar .row .r32 span {
    color: #FFF;
    font-size: 10pt;
}

.epro_news_bar .row .r32 .cell-12 {
    background: #009688;
    border-radius: 5px;
    padding: 10px 0;
}

.epro_news_bar .row .r32 {
    padding: 5%;
}

.epro_news_bar .cell-3 .body {
    padding: 0 2%;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    border: 2px solid #eee;
    margin: auto 4%;
    border-radius: 20px;
}

.epro_news_bar .cell-12 .row.img {
    width: 100%;
    background: url(https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    margin: auto;
    height: 200px
}

.epro_introduction .rows.l1,
.epro_introduction .rows.r2,
.epro_introduction .rows.l3 {
    position: inherit;
    text-align: center;
    top: 11%;
}

.epro_news_bar .r2 .cell-12 {
    padding: 0px;
}

.epro_news_bar .r1 {
    padding-top: 16px;
}

.epro_news_bar .row .r31 {
    padding: 5px;
}

.epro_news>.row {
    padding: 0 1%;
}



.epro_slick-list {
    margin: 80px 1%;
}

.mune {
    position: absolute;
    margin: 5%;
    width: 100%;
    z-index: 999;
}



.list::after {
    content: "";
    height: 25px;
    position: absolute;
    right: 0;
    border-right: 1px solid #FFF;
    top: 50%;
    margin-top: -13px;
}


/* .mune .list>a:after {
    content: "";
    height: 25px;
    position: absolute;
    right: 0;
    border-right: 1px solid #FFF;
    top: 50%;
    margin-top: -13px;
}
*/

.mune li>a {
    padding: 11px;
    font-size: 17px;
    font-weight: bold;
}


.mune .mr li>a {
    color: #FFF;
    /*text-shadow: 2px 2px 3px #ffffff, -2px -1px 3px #ffffff;*/
}

.mune .md li>a {
    /*color: #00BCD4;*/
    color: #FFF;
    /*text-shadow: 0px 0px 3px #ffffff, 0px 0px 3px #ffffff;*/
    padding: 17px;
}

.mune ul {
    display: flex;
    list-style: none;
    width: 500px;
}

.mune li {
    width: 210px;
    text-align: center;
    position: relative;
}

.md {
    /*padding-left: 75px;*/
}

.ml {
    margin-left: -45px;
}

#skills {
    width: 64px !important;
    padding: 0 15px !important;
    fill: #FFC107 !important;
    cursor: pointer;
    margin: -3px 7px 0 0px !important;
    height: auto !important;
}

#skills:hover {
    fill: #00bcd4 !important;
}

.mune .mr li>a:hover,
.mune .md li>a:hover {
    color: #00bcd4 !important;
}

.mune_x .cell-1 {
    height: 100px;
    background: aqua;
    border: 1px solid #111;
}

.top_banner,
.search_bar,
.epro_family {
    z-index: 998;
}

.search_bar.fix {
  position: fixed;
  /* bottom: 0px; */
  width: 100%;
}

ul.uk-slideshow-items li img {
    width: 100%;
}

.top_main_nav_bar_button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    display: none;
    width: 100%;
}

.bottom_fix_div {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
    background: -o-linear-gradient(90deg, rgba(255, 255, 255, 1)50%, rgba(255, 255, 255, 0)100%);
    position: fixed;
    height: 150px;
    bottom: 0px;
    z-index: 997;
    left: 0px;
    width: 100%;
    display: none;
}

.anim_mune {
    top: -70px;
    position: fixed;
    z-index: 9999;
}

.anim_mune .logo {
    background: url(/themes/Epro/img/index/logo-b-09-only.png);
    background-size: 100%;
    background-position-y: center;
}

.anim_mr_a,
.anim_md_a {
    color: rgb(105, 105, 105) !important;
}

.anim_skills {
    fill: #FFFFFF !important;
}

.epro_slogan_touch_epro_family {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
    background: #ffffff94;
    left: 0px;
}

.top_main_nav_bar_button .row {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 15% 0;
    background: #009688;
}

.top_main_nav_bar_button {
    background: #009688;
}

.top_main_nav_bar_button span {
    color: #FFF;
    font-size: 12pt;
}

.top_main_nav_bar_button h3 {
    border: 1px solid #FFF;
    border-radius: 10px;
    height: 115%;
    text-align: center;
}

.top_main_nav_bar_button h3 img {
    width: 43%;
    padding-top: 15%;
}

.top_main_nav_bar_button h3 img:hover {
    width: 55%;
    padding-top: 10%;
}

.top_main_nav_bar_button .cell-1x {
    width: 20%;
    cursor: pointer;
}

span.master_txt {
    color: #00bcd4;
    font-weight: bold;
    font-size: 1.5em;
}

span.sec_txt {
    color: #333;
    font-size: 1.3em;
}

.slick-slide img {
    width: 85%;
}

.slick-slide {
    margin: auto;
}

.slick-track {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    margin: auto;
    /*padding: 0px 50px;*/
}

.search_windows .cell_window {
    text-align: center;
    background: #ffc107;
    border: 3px solid #ffc107;
    border-radius: 11px;
    width: 10%;
    cursor: pointer;
    opacity: 0.8;
    /*background-size: 100% !important;*/
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    overflow: hidden;
}

.search_windows .cell_window span {
    position: absolute;
    top: 15%;
    width: 100%;
    left: 0%;
    background: unset !important;
}

.cell_window span a {
    color: #fff;
    font-weight: bold;
    /* background: #FFF; */
    border-radius: 6px;
    padding: 2px;
    -webkit-writing-mode: vertical-lr;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.cell_window span a:hover {
    color: #FFF;
}

.search_windows {
    display: none;
    z-index: 9999;
    background: #ffc107;
}

.search_windows_hode {
    position: fixed;
    top: 74px;
    left: 0px;
    background: #ffc107;
    width: 100%;
    height: 100% !important;
    overflow: auto;
    padding-top: 20px;
}

.bar_m .search_bar_m {
    display: none;
}

.bar_m .search_bar_m input.search_txtt {
    width: 80%;
}

.search_windows .row {
    margin-left: 2%;
    background: #ffc107;
}

.search_windows .cell_window:hover {
    animation-name: ex;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}

@keyframes ex {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

.epro_slogan_temp {
    height: 40pt;
}


samp.uk-position-center-left.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-previous.uk-slidenav,
samp.uk-position-center-right.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-next.uk-slidenav{
	/* display:none; */
}

.uk-slideshow ul.uk-margin a {
    background: darkgrey;
}

/* 2020.10.21 */
.top_banner_2 table {
    width: 100%;
    /* background: #25afa2; */
    background: #ccc;
}

.top_banner_2 table img {
    width: 100px;
}

.top_banner_2 table div {
    border: 3px solid #ffffffe6;
    border-radius: 11px;
    padding: 5px;
    width: 147px;
    margin: auto;
}

.top_banner_2 table td {
    text-align: center;
    vertical-align: middle;
}

.top_banner_2 table td span {
    color: #fff;
    font-size: 16pt;
    font-weight: bold;
}

.top_banner_2 table td a:hover {
    text-decoration: blink;
}


.top_banner_2 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    z-index: 998;
    width: 100%;
}

.top_banner_2 table div.fn_logo {
  width: max-content;
  border: 0px;
  margin-bottom: -160px;
}

.top_banner_2 table div.fn_logo img {
    width: 200px;
    margin-bottom: 20px;
}

.top_banner_2 table div.fn_logo span {
    font-size: 22pt;
}

.search_bar_m .selects select {
    border-radius: 5px;
}

.search_bar li {
    display: flex;
}

.search_bar ul.l_txt {
    margin: auto;
}
