:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.bold{
    font-weight: bold;
}

.red{
    color: red;
}

.join_life_wrap{
    padding: 0px 70px 0px 15px;
}

.join_life_wrap .banner {
    margin: 0px auto 80px;
    border: 1px solid #aaa;
    border-radius: 0px 35px;
    overflow: hidden;
}

.join_life_wrap .content_block_wrap {
    display: flex;
    align-items: center;
    margin: 0px auto 50px;
}

.join_life_wrap .content_block_wrap .caption{
    color: var(--main_color1);
    font-weight: bold;
    line-height: 2em;
    padding: 0px;
}

.join_life_wrap .content_block_wrap .caption.text-left{
    padding: 0px 0px 0px 120px;
}

.join_life_wrap .content_block_wrap .caption span{
    padding: 0px;
    margin: 0px 10px 0px 0px;
}

.join_life_wrap .text_wrap{
    text-align: center;
    width: 50%;
}

.join_life_wrap .text_wrap ul.cption_wrap{
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0px auto 20px;
}

.join_life_wrap .text_wrap ul.cption_wrap li{
    margin: 0px auto 0px;
    font-size: 1.2em;
    font-weight: bold;
}

.join_life_wrap .text_wrap ul.cption_wrap li img {
    width: 30px;
    margin-right: 5px;
}

.join_life_wrap .text_wrap ul.profession_wrap{
    text-align: left;
}

.join_life_wrap .text_wrap ul.profession_wrap img.star{
    margin-right: 5px;
}

.join_life_wrap .text_wrap ul.profession_wrap li{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3.5em;
}

.join_life_wrap .text_wrap ul.profession_wrap li .star{
    width: 30px;
    margin-right: 10px;
}

.join_life_wrap .text_wrap ul.profession_wrap li .text{
    width: 240px;
    font-size: 1.2em;
}

.join_life_wrap .text_wrap ul.profession_wrap li img{
    width: 140px;
    margin-right: 10px;
}

.join_life_wrap .image_wrap{
    width: 50%;
    border: 1px solid #aaa;
    border-radius: 0px 50px;
    overflow: hidden;
}

.join_life_wrap .content_block_wrap p {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2em;
    letter-spacing: 1px;
}

.join_life_wrap .content_block_wrap img.share{
    width: 55%;
    margin-top: 50px;
}






