/*:root {*/
/*    --main_color1: #532789;*/
/*    --main_color2: #fff100;*/
/*    --text_normal_color: #555;*/
/*    --text_dark_color: #222;*/
/*    --text_light_color: #aaa;*/
/*}*/

/*.flex{*/
/*    display: flex;*/
/*}*/

/*!* 類別選單 - start *!*/
/*.LifeBuy .menu_wrap{*/
/*    padding: 30px 25px 30px;*/
/*    margin: 0px auto 50px;*/
/*    border: 2px solid #aaa;*/
/*    border-radius: 0px 45px;*/
/*}*/

/*.LifeBuy .menu_wrap .menu{*/
/*    display: flex;*/
/*    margin: 0px auto 20px;*/
/*}*/

/*.LifeBuy .menu_wrap .menu i{*/
/*    width: 1px;*/
/*    height: 25px;*/
/*    margin: 70px auto 0px;*/
/*    background: #888;*/
/*}*/

/*.LifeBuy .menu_wrap .menu .item{*/
/*    margin: 0px auto 0px;*/
/*}*/

/*.LifeBuy .menu_wrap .menu .item a.active p{*/
/*    color: #333;*/
/*    font-size: 1em;*/
/*    font-weight: bold;*/
/*}*/

/*.LifeBuy .menu_wrap .menu .item img{*/
/*    width: 70px;*/
/*    height: auto;*/
/*}*/

/*.LifeBuy .menu_wrap .menu .item p{*/
/*    color: #999;*/
/*    font-size: .9em;*/
/*    font-weight: unset;*/
/*}*/

/*!* 跑馬燈 - start *!*/
/*.LifeBuy .menu_wrap .marquee_wrap{*/
/*    width: 100%;*/
/*    padding: 0px 20px 0px 10px;*/
/*    margin: 0px auto 0px;*/
/*}*/

/*.LifeBuy .menu_wrap .marquee_wrap marquee{*/
/*    color: #333;*/
/*    font-size: 1.2em;*/
/*    letter-spacing: 1px;*/
/*    line-height: 1.5em;*/
/*}*/

/*.LifeBuy .menu_wrap .marquee_wrap img{*/
/*    margin: 0px 15px 0px 100px;*/
/*}*/

/*!* 跑馬燈 - end *!*/

/*!* 搜尋列 - start *!*/
/*.LifeBuy .menu_wrap .search_wrap{*/
/*    width: 40%;*/
/*    margin:0px auto 0px;*/
/*}*/

/*.LifeBuy .menu_wrap .search_wrap form{*/
/*    width: 100%;*/
/*    position: relative;*/
/*}*/

/*.LifeBuy .menu_wrap .search_wrap input{*/
/*    width: 90%;*/
/*    padding: 10px;*/
/*    margin: 0px;*/
/*    border: 1px solid #888;*/
/*    border-radius: 0px 0px 0px 10px;*/
/*}*/

/*.LifeBuy .menu_wrap .search_wrap button{*/
/*    padding: 9px;*/
/*    margin: 0px;*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    right: 3px;*/
/*}*/

/*!* 搜尋列 - end *!*/

/*!* 類別選單 - end *!*/


/*.happy_shopping_wrap {*/
/*    padding: 0px 70px 0px 15px;*/
/*}*/


/*.happy_shopping_wrap h2.caption {*/
/*    color: var(--main_color1);*/
/*    font-weight: bold;*/
/*    margin: 0px 0px 50px 0px;*/
/*}*/

/*.happy_shopping_wrap h2.caption span {*/
/*    margin: 0px 20px 0px 0px;*/
/*}*/



/*.happy_shopping_wrap .slider{*/
/*    margin: 0px auto 0px;*/
/*}*/

/*.happy_shopping_wrap .slider .list{*/
/*    padding: 0px 8px;*/
/*}*/

/*.happy_shopping_wrap .slider .list .frame{*/
/*    width: 100%;*/
/*    height: 165px;*/
/*    background: #ccc;*/
/*    border-radius: 0px 10px;*/
/*    position: relative;*/
/*}*/

/*.favorite {*/
/*    position: absolute;*/
/*    width: 10%;*/
/*    top: 5%;*/
/*    right: 5%;*/
/*}*/

/*.slick-dots{*/
/*    bottom: -35px;*/
/*}*/

/*.slick-dots li button:before{*/
/*    font-size: 12px;*/
/*}*/


/*.happy_shopping_wrap .slick-prev:before {*/
/*    color: #888;*/
/*    content: "\f104";*/
/*    font-size: 35px;*/
/*    font-weight: bold;*/
/*    font-family: "Font Awesome 5 Free";*/
/*}*/

/*.happy_shopping_wrap .slick-next:before {*/
/*    color: #888;*/
/*    content: "\f105";*/
/*    font-size: 35px;*/
/*    font-weight: bold;*/
/*    font-family: "Font Awesome 5 Free";*/
/*}*/


/*!* 類別列 *!*/
/*.happy_shopping_wrap .category_wrap{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    align-items: baseline;*/
/*    position: relative;*/
/*    padding: 0px 15px 0px;*/
/*    margin: 0px auto 100px;*/
/*}*/

/*.happy_shopping_wrap .category_wrap .title{*/
/*    margin: 0px 5% 0px 0px;*/
/*    color: #555;*/
/*    font-weight: bold;*/
/*}*/

/*.happy_shopping_wrap .category_wrap .item_list{*/
/*    display: flex;*/
/*}*/

/*.happy_shopping_wrap .category_wrap .item_list a{*/
/*    width: auto;*/
/*    min-width: 90px;*/
/*    margin: 0px auto 0px;*/
/*    color: #999;*/
/*    text-align: center;*/
/*}*/

/*.happy_shopping_wrap .category_wrap .item_list a.active{*/
/*    color: #333;*/
/*    font-size: 1.2em;*/
/*    font-weight: bold;*/
/*    line-height: 1em;*/
/*    letter-spacing: 1px;*/
/*}*/

/*.happy_shopping_wrap .category_wrap i{*/
/*    display: inline-block;*/
/*    width: 1px;*/
/*    height: 20px;*/
/*    margin: 2px 10px 0px;*/
/*    background: #999;*/
/*}*/

:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.flex{
    display: flex;
}


.LifeBuy .top_area_wrap{
    padding: 10px 15px 10px;
    margin: 0px auto 50px;
    border: 2px solid #aaa;
    border-radius: 0px 15px;
}

/* 搜尋列 - start */
.LifeBuy .top_area_wrap .search_wrap{
    width: 25%;
    margin:0px auto 0px;
}

.LifeBuy .top_area_wrap .search_wrap form{
    width: 100%;
    position: relative;
}

.LifeBuy .top_area_wrap .search_wrap input{
    width: 90%;
    padding: 10px;
    margin: 0px;
    border: 1px solid #fff;
    border-radius: 0px 0px 0px 10px;
}

.LifeBuy .top_area_wrap .search_wrap input::placeholder{
    font-size: 1.2em;
    letter-spacing: 2px;
}

.LifeBuy .top_area_wrap .search_wrap button{
    padding: 9px;
    margin: 0px;
    position: absolute;
    top: -4px;
    right: 3px;
    border: unset;
    background: unset;
}

.LifeBuy .top_area_wrap .search_wrap button img{
    width: 42px;
    height: auto;
}
/* 搜尋列 - end */

/* 跑馬燈 - start */
.LifeBuy .top_area_wrap .marquee_wrap{
    width: 100%;
    padding: 5px 20px 0px 10px;
    margin: 0px auto 0px;
}

.LifeBuy .top_area_wrap .marquee_wrap marquee{
    color: #333;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.LifeBuy .top_area_wrap .marquee_wrap img{
    width: 30px;
    margin: 0px 15px 0px 100px;
}
/* 跑馬燈 - end */


.happy_shopping_wrap {
    padding: 0px 70px 0px 15px;
}

.happy_shopping_wrap h2.caption {
    color: var(--main_color1);
    font-weight: bold;
    margin: 0px 0px 50px 0px;
}

.happy_shopping_wrap h2.caption span {
    margin: 0px 20px 0px 0px;
}


.happy_shopping_wrap .slider{
    margin: 0px auto 0px;
}

.happy_shopping_wrap .slider .list{
    padding: 0px 8px;
}

.happy_shopping_wrap .slider .list .frame{
    width: 100%;
    height: 130px;
    background: #ccc;
    border-radius: 0px 10px;
}

.slick-dots{
    bottom: -35px;
}

.slick-dots li button:before{
    font-size: 12px;
}

.main_area_wrap .slick-prev:before{
    color: #888;
    content: "\f104";
    font-size: 35px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
}

.main_area_wrap .slick-next:before{
    color: #888;
    content: "\f105";
    font-size: 35px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
}

.main_area_wrap{
    display: flex;
}

.LifeBuy .left_area_wrap{
    width: 20%;
}

.LifeBuy .right_area_wrap{
    width: 80%;
    padding: 0px 25px;
}


/* 類別選單 - start */
.LifeBuy .left_area_wrap .menu{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px 0px 0px;
}

.LifeBuy .left_area_wrap .menu i{
    width: 1px;
    height: 25px;
    margin: 10px auto 0px;
    background: #888;
}

.LifeBuy .left_area_wrap .menu li.item{
    width: 100%;
    margin: 0px auto 0px;
    border: 1px solid #fff;
    border-radius: 0px 10px;
    transition: .2s;
}

.LifeBuy .left_area_wrap .menu li.item:nth-child(even){
    /* border: 1px solid #888; */
    border-radius: 0px 10px;
    background: #eee;
}

.LifeBuy .left_area_wrap .menu li:hover{
    border: 2px solid var(--main_color1);
}

.LifeBuy .left_area_wrap .menu li:hover p{
    color: var(--main_color1);
    font-size: 1.2em;
}

.LifeBuy .left_area_wrap .menu li.active{

}

.LifeBuy .left_area_wrap .menu li.item a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.LifeBuy .left_area_wrap .menu li.active p{
    color: var(--main_color1);
    font-size: 1.2em;
    font-weight: bold;
}

.LifeBuy .left_area_wrap .menu .item img{
    width: 57px;
    height: auto;
}

.LifeBuy .left_area_wrap .menu .item p{
    color: #888;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px 0px 0px 20px;
    transition: .2s;
}
/* 類別選單 - end */


