.main > div {
  position: fixed;
  height: 100%;
}

.row.IDtitle input#user {
    width: 10em;
}

.main {
    display: flex;
}

.Login {
    margin-bottom: 0px !important;
}

.display_content {
    overflow: auto;
}

.main .r img {
    min-height: 100%;
}

.Path_20819 {
    overflow: visible;
    width: 18pt;
    height: 18pt;
    left: 15.024px;
    top: 33px;
    transform: matrix(1,0,0,1,0,0);
    fill: #666;
    margin-left: 5px;
}

.Path_20820 {
    overflow: visible;
    /* position: absolute; */
    width: 18pt;
    height: 18pt;
    left: 16.376px;
    top: 36.12px;
    transform: matrix(1,0,0,1,0,0);
    fill: #999;
    margin-left: 5px;
}

.row.btn {
    /* background: orange; */
    /* color: #fff; */
    /* border-radius: 20px; */
}

.row.btn a {
    margin-left: 10%;
}

.main > div .row {
    width: 100%;
    margin: 1.3em 0;
    
}

.main > div .row{
    font-size: 18pt;
    margin-left: -2em;
}

.main > div .row input::placeholder{
    font-size: 18pt;
}

.main > div .row input,.main > div .row select {
    border-radius: 8px;
    margin: 10px;
}

.row.logo,.row.SSO {text-align: center;}

.row.btn a {
    background: orange;
    color: #fff;
    padding: 5px 2em;
    border-radius: 25px;
}

.row.SSO:before {content: " ";border-top: 1px solid #999;width: 33%;position: absolute;top: 50%;}

.row.SSO:after {
    content: " ";
    border-top: 1px solid #999;
    width: 33%;
    right: 0px;
    position: absolute;
    top: 50%;
}

.row.SSO {
    position: relative;
}

div#Group_840 {
    text-align: center;
    word-spacing: 6em;
    margin: 25pt;
    padding-right: calc( 66px + 2em );
}

.main .l {
  padding: 1em 0;
  width: 50%;
  right: 0px;
  position: fixed;
  left: calc(25% + 200px);
}

.main .tabs > div {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

.main .tabs {
    display: flex;
}

.main .tabs .active {
    border-bottom: 5px solid #aaa;
}


input[type="checkbox"] {
    width: 18pt;
    height: 18pt;
}
