/* master */

.Cubes {
    width: 100%;
    position: absolute;
    bottom: 150px;
    display: flex;
    padding-right: 5%;
}

.Cubes .Cube svg {
    margin: auto;
}

.Cubes .Cube {
    height: 180px;
    width: 180px;
    background: #412e27;
    margin: 14px;
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    display: grid;
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
    z-index: 9;
}

.Cubes .Cube:hover {
    background: #ffa500;
    transform: scale(1.1);
    transition: background 0.1s, transform 0.1s linear;
    color: #000;
}

.mune {
    width: 180px !important;
    background: #412e27ab;
    color: #ccc;
    z-index: 8 !important;
    border-radius: 20px 20px 0 0;
    margin: 14px !important;
    padding-bottom: 1em;
    position: relative !important;
    opacity: 0;
}

.mune .list li:hover {
    color: #fff;
    font-weight: bold;
    font-size: large;
}

.mune .list li {
    border-bottom: 1px solid #fff;
    margin: .5em;
    text-align: center;
    cursor: pointer;
}

.mune .list li a {
    color: #fff;
}

.mune .list {
    margin: 1rem;
}

.mune .list li:last-child {
    border-bottom: 0px solid #fff;
}

.Cubes .noCube {
    width: 20%;
}

div#tm-wrap-master {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 600px);
    background: url(/themes/Epro/img/master/banner_0.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

article.Master {
    margin-bottom: 0px !important;
}

.container-fluid.main {
    padding: 30px !important;
    padding-top: 0px !important;
}

/* master END */
.breadcrumbs {
    font-size: 19px;
}.m030 img {
    width: auto;
}
.m30 img {
    width: auto;
}
.main img {
    border-radius: 0px;
}.pagination .page-item {
    cursor: pointer;
    display: list-item;
    background-color: #ffffff;
    color: #1d1d1d;
    border: 1px solid #dfdfdf;
    margin: 0.25rem;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.pagination .page-item {
    margin: 0px !important;
}
.card-body h5 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}.card-text:last-child {
    margin-bottom: 0;
}

.card-body p {
    /* font-size: 14px; */
    font-size: 20px;
    font-weight: 500;
}.m00600 {
    margin: 0px 0px 60px 0px;
}.m15 {
    margin: 15px;
}
.m30 {
    margin: 30px;
}

.container .row {
    margin-top: -380px !important;
}

.container .row .tm-site-header-col {
    position: absolute;
    right: 3em;
}

p.second-title {
    color: #1d1d1d !important;
    font-size: 23px;
    text-shadow: 2px 2px 5px #fff, -2px 2px 5px #fff, 2px -2px 5px #fff, -2px -2px 5px #fff;
    text-align: start;
    margin-left: 11em;
}

h1.main-title {
    color: #25afa2;
    text-shadow: 4px 4px 7px #0000009c, -4px 4px 7px #0000009c, 4px -4px 7px #0000009c, -4px -4px 7px #0000009c;
    margin-left: 1.5em;
    position: absolute;
}
