div#tm-wrap-case {
    height: 300px;
    background-position-y: -100px;
}

div#tm-wrap-master {
    height: 600px;
}

body .display_content>article {
    min-height: auto;
    margin-bottom: 1vw;
}




.search_bar li a {
    font-weight: bold;
}
.search_bar li:nth-child(1) a, li.hb svg {
    color:orange;
    fill:orange;
}

.search_bar li:nth-child(2) a {
    color:#2DA8A4;
}

button.search_bnt {
    background:#2DA8A4;
}


.cell-4.search.mr {
    padding-left: 3%;
}

.search_bar li {
    word-spacing: 5px;
    letter-spacing: 8px;
}

.search_bar li.list:after {
    border-right: 3px solid #ccc;
}

.search.md {
    padding-right: 3%;
}

li.hb svg path {
}

.search_bar {
    background: #fff;
}

.breadcrumbs {
    /* border-top: 10px solid #2DA8A4; */
    padding-top: 1vw;
}

body .display_content>article {
    margin-bottom: 0vw;
}

.container-fluid.main {
    padding: 30px !important;
    padding-top: 0px !important;
}

.breadcrumbs:before {
    content: " ";
    border-top: 10px solid #2DA8A4;
    width: calc(100% + 60px);
    position: absolute;
    top: 0px;
    left: -30px;
}
