#tm-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 600px);
    background: url(/themes/Epro/img/service/pop-bg.jpg);
    background-attachment: fixed;
    height: 600px;
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}.tm-main-content {
    /* display: flex; */
    align-items: flex-start;
    padding: 20px 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    /* overflow: auto; */
}.tm-site-header-col {
    margin-top: 80px;
    padding-right: 50px;
    padding-right: 50px;
}.tm-site-header {
    margin: 10px;
    text-align: right;
    width: 100%;
}h1.main-title {
    color: #25afa2;
}img {
    border-radius: 30px 0 30px 0;
}p:last-child {
    margin-bottom: 0;
}
p.second-title {
    color: #fbbb2c;
    font-size: 23px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    line-height: 1.9;
    letter-spacing: 1px;
}.content {
    max-width: 370px;
}.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset !important;
}.grid__item {
    margin: 10px;
}.product {
    position: relative;
    cursor: pointer;
}
.product {
    background: transparent;
    transition: all 0.3s ease;
}.tm-nav-link {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 165px;
    height: 165px;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
}.product__description {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.product__bg, .product__description {
    opacity: 0;
    position: absolute;
}.fa-3x {
    font-size: 3.5em !important;
    margin: auto;
    margin-bottom: 70px;
}
.tm-nav-icon {
    display: block;
    margin-bottom: 70px;
}.m30 {
    margin: 30px;
}
.tm-nav-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    padding: 0px 10px;
    line-height: 20px;
}.tm-nav-link:hover {
    border: 1px solid #fbbb2c;
}.product:hover {
    background: #2c2a35;
    color: #a9a9a9;
}.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px !important;
}


@media (min-width: 900px) {
    .container {
        /* max-width: 900px; */
        max-width: 1200px !important;
        margin-right: -50px !important;
        margin-top:80px !important;
    }
}

@media (min-width: 767px) and (max-width: 991px),
(max-width: 440px) {
    .tm-nav-link {
        width: 145px;
        height: 145px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 450px !important;
    }
    .content {
        margin-left: auto;
        margin-right: 0;
    }
    .tm-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .grid {
        justify-content: flex-end;
    }
    .tm-col-email {
        padding-left: 15px;
    }
    .tm-reverse-sm {
        flex-direction: column-reverse;
    }
}

@media (max-width: 544px) {
    .tm-main-content {
        flex-direction: column;
    }
    .details__bg {
        padding: 55px 40px;
    }
    .slick-dots li button:before {
        font-size: 15px;
    }
    footer {
        position: relative;
        bottom: 0;
    }
}

@media (max-width: 419px) {
    .tm-nav-link {
        width: 120px;
        height: 120px;
    }
    .fa-3x {
        font-size: 2.2em;
    }
}
