@media only screen and (min-width: 1280px) {
  .cell-3.md {
    padding-left: 4%;
  }
}


@media only screen and (min-width: 1440px) {
  .cell-3.md {
    padding-left: 5%;
  }
}

@media only screen and (min-width: 1980px) {
  .cell-3.md {
    padding-left: 11%;
  }
}

@media only screen and (max-width: 1080px) {
  .epro_family .cell-12,.top_banner {
    height: auto !important; 
  }

  .mune li {
    width: 150px;
  }

}
