
.col-sm-12.col-md-6.col-lg-6.col-md-col-xl-6.mb-md-0.mb-sm-4.mb-4.tm-site-header-col{

  display: inline-flex;

}

.cell-4.search.mr img.logo_white {
    width: 65px !important;
    margin-top: -8px;
}

.main {
    background: #fff;
    width: 100%;
    height: 2300px;
    position: absolute;
    top: 800px;
    left: 0px;
}

.display_content {

    background: #2a1f19;
}

article.Service {
    background-image: url(/themes/Epro/img/index/pop-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.head_portal {
  position: fixed;
  top: 75;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 0;
  transition: all 0.3s ease;

  /* background-position-y: 75px; */
}

article.Service {
    height: 2500px;
}

.pagination .page-item {
    margin:0 !important;
}

.right-1 {
    font-size: 25px;
    color: red;
    font-weight: bold;
    float: right;
    vertical-align: middle;
    line-height: 18px;
}

small {
    color: #333;
}

/* from joe */
/*

Template 2097 Pop

https://www.tooplate.com/view/2097-pop

*/

body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: white;
    position: relative;
}

h1 {
    font-size: 2.8rem;
}

h1.main-title {
    color: #25afa2;
}

p.second-title {
    color: #fbbb2c;
}

#tm-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pop-bg.jpg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
    transition: all 0.3s ease;
}

#tm-bg:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-info {
    background-color: #FFC107!important;
}

.nav-link {
    color: #fff!important;
}

button.search_bnt {
    /* height: 33pt; */
    background: #00BCD4;
    color: #fff;
    padding: 3px;
    border: 0px;
    border-radius: 9px;
    width: 52px;
    margin: auto;
    cursor: pointer;
}

#tm-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: calc(100vh + 100px);
}

p {
    line-height: 1.9;
    letter-spacing: 1px;
}


/* .tm-main-content {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
} */

.tm-main-content {
    display: flex;
    align-items: flex-start;
    padding: 20px 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    bottom: 0;
    overflow: auto;
}



.tm-site-header-col {
    display: flex;
    align-items: center;
}

.tm-site-header {
    margin: 10px;
    text-align: right;
    width: 100%;
}

.tm-nav ul {
    padding-left: 0;
    display: block;
}

.tm-nav li {
    list-style: none;
    display: inline-block;
    border: 1px solid white;
    float: left;
    margin: 10px;
}

.tm-nav-link {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 165px;
    height: 165px;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
}

.tm-nav-link:hover {
    border: 1px solid #fbbb2c;
}

.tm-nav-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    padding: 0px 10px;
    line-height: 20px;
}

.fa-3x {
    font-size: 2.5em;
}

.product {
    background: transparent;
    transition: all 0.3s ease;
}

.product:hover {
    background: #2c2a35;
    color: #a9a9a9;
}

.tm-nav-icon {
    display: block;
    margin-bottom: 70px;
}


/* Expanding Grid Items from Codrops */

.tm-page-title {
    font-weight: 300;
}

.content {
    max-width: 370px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
        flex-direction: unset !important;
}

.grid__item {
    margin: 10px;
}

.product {
    position: relative;
    cursor: pointer;
}

.product__bg {
    width: 100%;
    height: 100%;
    top: 0px;
}

.product__bg,
.product__description {
    opacity: 0;
    position: absolute;
}

.product__description {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.tm-fa-close {
    font-size: 30px;
}

.details {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    padding: 15px;
    display: none;
}

.details>* {
    position: relative;
    opacity: 0;
}

.details--open {
    pointer-events: auto;
}

.details__bg {
    width: 100%;
    max-width: 900px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.details__bg--down {
    background: #2c2a35;
}

.details__bg {
    padding: 50px;
    transform-origin: 0 0;
}

.details__close {
    position: absolute;
    top: 5px;
    right: 0;
    border: 0;
    background: none;
    margin: 1em;
    cursor: pointer;
    font-size: 0.85em;
    color: white;
    z-index: 1001;
}


/* Team */

.tm-reverse-sm {
    flex-direction: row;
}


/* Our Work */

.tm-slider-img-link {
    padding-left: 10px;
    padding-right: 10px;
}

.slick-dots li button:before {
    font-size: 20px;
    color: #e1e1e1;
    opacity: 1;
}

.slick-dots {
    position: absolute;
    bottom: -40px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: deepskyblue;
}


/* Contact */

.form-control {
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    background-color: #fff;
    /* color: white; */
    padding: 0.5rem;
}

.form-control:focus {
    color: #cecece;
    background-color: #4d4c59;
    border-color: transparent;
}


/* .tm-col-password {
  padding-left: 0;
} */

.tm-btn-submit {
    background-color: #006599;
}

.tm-btn-gray {
    background-color: #494752;
    color: white;
}

.tm-btn-gray:hover {
    background-color: #77757d;
    color: white;
}

.btn {
    padding: 0.5rem 2.4rem;
    font-size: 1.2rem;
    border-radius: 0;
    margin-right: 20px;
}

.btn-primary {
    border-color: transparent;
}

.btn-primary:hover {
    background-color: #0e7fb9;
    border-color: transparent;
}


/* Footer */

footer {
    /* position: absolute; */
    /* bottom: 0px; */
    text-align: center;
    /* left: 0; */
    /* right: 0; */
}

.tm-text-highlight {
    color: white;
}

.tm-text-highlight:hover {
    color: red;
}

.tm-main-content.tm-footer-relative {
    flex-direction: column;
}

.tm-main-content.tm-footer-relative footer {
    position: relative;
    bottom: 0;
    margin-top: 50px;
}

.tm-copyright-text {
    background-color: rgba(251, 187, 44, 1);
    display: block;
    padding: 10px 30px;
    color: #fff;
    font-weight: 300;
}

a,
button {
    transition: all 0.3s ease;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

p:last-child {
    margin-bottom: 0;
}


/* å¾Œä¾†æ–°ä¿®æ”¹ */

.small,
small {
    font-size: 50%;
    font-weight: 100;
}

.ycolor {
    color: #FFC107;
}

.graycolor {
    color: #999;
}

.form-group {
    margin-bottom: 2rem;
}

img {
    border-radius: 30px 0 30px 0;
}

.dropdown-toggle2::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    /* content: ""; */
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.fa {
    color: #fff;
}


/* å¾Œä¾†æ–°ä¿®æ”¹ END */


font-family:
"Font Awesome 5 Free" !important;
}

.aside h3 {
    font-size: 20px;
}

.m00150 {
    margin: 0px 0px 15px 0px;
}
.center {
    margin: 0 auto;
    text-align: center;
}
.m030 {
    margin: 0px 30px;
}.item {
    width: 100%;
    padding: 0px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    color: #333;
    font-size: 1.2rem;
    /* font-weight: 500; */
}.drop-down {
    position: relative;
}.menu {
    max-width: 300px;
    margin: 0 auto;
    list-style-type: none;
}

.m00 {
    margin: 0px;
}.box2 {
    background: #00BCD4;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0px;
    /* border: 1px solid #00BCD4; */
}.submenu {
    position: relative;
    opacity: 0;
    width: 100%;
    z-index: 8;
    transition: opacity 0.5s ease;
}a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.submenu-item {
    background: #FFC107;
    color: #000;
    width: 100%;
    padding-left: 10px;
    line-height: 30px;
    font-size: 13px;
}
.submenu-item {
    display: block;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease;
}.item:hover {
    background: #ddd;
}.form-check {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}ul {
    padding: 0;
}

ul {
    list-style: none;
}.card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}.card-deck .card {
    margin: 10px;
    width: 23%;
}
.card-body h5 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}.card-body p {
    font-size: 16px;
    font-weight: 500;
}.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}.m15 {
    margin: 15px;
}
.btn {
    padding: 3px;
    font-size: 1rem;
    border-radius: 0;
    margin-right: 0px;
    background: #00BCD4;
    border-color: #00BCD4;
    width: 100%;
}

nav {
    margin: auto;
}
.c-red {
    color: red;
    text-align: right;
}.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #666;
    background-color: #fff;
    border: 1px solid #dee2e6;
    font-size: 13px;
}.table td, .table th {
    padding: .25rem;
    vertical-align: top;
    border-top: none;
    font-size: 14px;
    font-weight: 500;
}

.table td, .table th {
    padding: .25rem;
    vertical-align: top;
    border-top: none;
}

select {
    border: 0;
    width: 100%;
    height: 30px;
    background-color: white;
    color: #333;
    font-size: 13px;
    -webkit-appearance: none;
    text-indent: 0.01px;
    background-image: url(../45.jpg);
    background-repeat: no-repeat;
    background-position: 170px 10px;
    margin: 0px;
    border-radius: 6px;
    padding: 6px;
}.price .form-control {
    border: none;
    width: 45%;
    height: 30px;
    background-color: #fff;
    color: #333;
    border-radius: 6px!important;
    padding: 6px;
    font-size: 13px;
}.price {
    display: flex;
    justify-content: center;
    align-items: center;
}.price span {
    color: #fff;
    font-size: 14px;
    margin: 0px 3px;
}.box3 h5 {
    text-align: center;
    color: #009688;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 6px 0px;
}.box3 .card-text {
    color: red;
    text-align: center;
}

.row.justify-content-center.align-items-center nav {
    margin: auto;
}

p:last-child {
    margin-bottom: 0;
}

p.second-title {
    color: #fbbb2c;
    font-size: 23px;
}
