.main > div {
    width: 50%;
    position: fixed;
    height: 100%;
}

.main .l {

    padding: 1em 0;
    width: 50%;
    right: 0px;
    position: fixed;
    left: calc(25% + 200px);
}

.main {
    display: flex;
}

.Login {
    margin-bottom: 0px !important;
}

.display_content {
    overflow: auto;
}

.main .r img {
    min-height: 100%;
}

.Path_20819 {
    overflow: visible;
    width: 18pt;
    height: 18pt;
    left: 15.024px;
    top: 33px;
    transform: matrix(1,0,0,1,0,0);
    fill: #666;
    margin-left: 5px;
}

.Path_20820 {
    overflow: visible;
    /* position: absolute; */
    width: 18pt;
    height: 18pt;
    left: 16.376px;
    top: 36.12px;
    transform: matrix(1,0,0,1,0,0);
    fill: #999;
    margin-left: 5px;
}

.Path_21784 {
    overflow: visible;
    width: 18pt;
    height: 18pt;
    left: 1079px;
    top: 269px;
    transform: matrix(1,0,0,1,0,0);
		fill: #999;
    margin-left: 5px;
}

svg.Heart_co {
    width: 16px;
    height: 16px;
    left: 812px;
    top: 346.615px;
    overflow: visible;
		fill: #999;
    margin-left: 5px;
}

svg.Union_1 {
    overflow: visible;
    width: 16px;
    height: 16px;
    left: 810px;
    top: 269.615px;
    transform: matrix(1,0,0,1,0,0);
		fill: #999;
    margin-left: 5px;
}

.row.btn {
    /* background: orange; */
    /* color: #fff; */
    /* border-radius: 20px; */
}

.row.btn {
  font-size: 12pt !important;
}

.main > div .row {
    width: 100%;
    margin: 0.2em 0;

}

.main > div .row{
    font-size: 18pt;
    margin-left: -2em;
}

.main > div .row input::placeholder{
    font-size: 18pt;
}

.main > div .row input,.main > div .row select {
    border-radius: 8px;
    margin: 10px;
}

.row.logo,.row.SSO {text-align: center;}

.row.btn a {
    background: orange;
    color: #fff;
    padding: 5px 2em;
    border-radius: 25px;
}

a.State {
    background: #fff !important;
    color: #000 !important;
}

.row.SSO:before {content: " ";border-top: 1px solid #999;width: 33%;position: absolute;top: 50%;}

.row.SSO:after {
    content: " ";
    border-top: 1px solid #999;
    width: 33%;
    right: 0px;
    position: absolute;
    top: 50%;
}

.row.SSO {
    position: relative;
}

div#Group_840 {
    text-align: center;
    word-spacing: 6em;
    margin: 25pt;
    padding-right: calc( 66px + 2em );
}

.main .l {
    padding: 1em 0;
}

.main .tabs > div {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

.main .tabs {
    display: flex;
    margin-bottom: 15px !important;
}

.main .tabs .active {
    border-bottom: 5px solid #aaa;
}


input[type="checkbox"],input[type="radio"] {
    width: 18pt;
    height: 18pt;
}

/* .row.btn,.row.checkCode {
    display: flex;
} */

.row.btn *, .row.checkCode * {
    display: inline-block;
}

.row.btn > div {
    width: 100%;
}

.row.checkCode > div {
    margin: auto 5px;
}

.row.nickname input,.row.Psw input,.row.Pswcheck input{
    width: 100%;
}

.row.name {}

.row.Pswcheck {}

.row.Psw {}
