.container-fluid.main {
    padding: 30px !important;
    padding-top: 0px !important;
}.breadcrumbs {
    font-size: 19px;
}.m030 img {
    width: auto;
}
.m30 img {
    width: auto;
}
.main img {
    border-radius: 0px;
}.pagination .page-item {
    cursor: pointer;
    display: list-item;
    background-color: #ffffff;
    color: #1d1d1d;
    border: 1px solid #dfdfdf;
    margin: 0.25rem;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.pagination .page-item {
    margin: 0px !important;
}
.card-body h5 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}.card-text:last-child {
    margin-bottom: 0;
}

.card-body p {
    /* font-size: 14px; */
    font-size: 20px;
    font-weight: 500;
}.m00600 {
    margin: 0px 0px 60px 0px;
}.m15 {
    margin: 15px;
}
.m30 {
    margin: 30px;
}
