<div class="btn-group" data-toggle="buttons">
	<label class="btn btn btn-default" for="">
		<input type="checkbox" name="id_areas[]" id="" value="1" checked="checked">營運中</label>
	<label class="btn btn btn-default" for="active_off">
		<input type="checkbox" name="id_areas[]" id="" value="0">已結案</label>
</div>