<div class="input-group fixed-width-lg member_search_div"><input type="text" id="member_search" name="member_search" class="form-control" value="" placeholder="{l s="請輸入e-mail或姓名搜尋"}"><span class="input-group-btn"><button type="button" class="btn btn-default search"><span class="glyphicon glyphicon-search"></span>{l s="搜尋"}</button></span></div>
<samp id="member_search_loding" class="hide"><div id="fountainTextG"><div id="fountainTextG_1" class="fountainTextG">L</div><div id="fountainTextG_2" class="fountainTextG">o</div><div id="fountainTextG_3" class="fountainTextG">a</div><div id="fountainTextG_4" class="fountainTextG">d</div><div id="fountainTextG_5" class="fountainTextG">i</div><div id="fountainTextG_6" class="fountainTextG">n</div><div id="fountainTextG_7" class="fountainTextG">g</div></div></samp>
<div id="show_member" class="input-group"></div>
<div id="no_member" class="hide">找不到會員資料</div>