{$breadcrumbs_htm}
    <div class="item_wrap">
        <div class="title">生活好康</div>
        <div class="item_list">
            <a class="active">好康店家 - 店家申請</a>
        </div>
    </div>
    <div class="Store_registration_wrap">
        <div class="frame">
            <div class="form-group flex">
                <label class="control-label"><i class="fas fa-store"></i>店名 | 品牌 名稱</label>
                <div class="full"><input class="form-control" id="title" name="title" type="text" placeholder=""></div>
                <label class="control-label">營業時間</label>
                <div class="full"><input class="form-control" id="open_time_w" name="open_time_w" type="text" placeholder=""></div>
                <label class="control-label">公休日</label>
                <div class="full"><input class="form-control" id="close_time" name="close_time" type="text" placeholder=""></div>
            </div>

            <div class="form-group flex">
                <label class="control-label"><i class="fas fa-list-ul"></i>店家類別</label>
                <select class="form-control" id="id_store_type" name="id_store_type">
                    <option>請選擇</option>
                    {foreach  $row as $key => $value}
                        <option value="{$row[$key].id_store_type}">{$row[$key].store_type}</option>
                    {/foreach}
                </select>


                <label class="control-label"><i class="fas fa-list-ul"></i>連鎖類別</label>
                <select class="form-control" id="chain" name="chain">
                    <option>請選擇</option>
                    <option value="0">無</option>
                    <option value="1">全國連鎖品牌</option>
                    <option value="2">區域連鎖品牌</option>
                </select>
            </div>
            <div class=" form-group flex">
                <label class="control-label"><i class="fas fa-map-marker-alt"></i>店家地址</label>
                <form action="https://okrent.house/StoreLogin" method="get" id="search_box_big">
                    <div class="search_list_wrap">
                        <div class="city_select">
                            <spam class="county_city search">桃園市</spam>
                        </div>
                        <div class="county_div">
                            {foreach from=$select_county key=i item=county}<spam class="county"><input type="radio" name="county" id="county_{$i}" value="{$county.value}" {if $county.value == $smarty.get.county}checked{/if}><label for="county_{$i}">{$county.title}</label></spam>{/foreach}
                        </div>
                        <div class="city_div">{foreach from=$arr_city[$smarty.get.county] key=i item=city}<spam class="city"><input type="radio" name="city" id="city_{$i}" value="{$city}" {if in_array($city, $smarty.get.city)}checked{/if}><label for="city_{$i}">{$city}</label></spam>{/foreach}</div>
                    </div>
                </form>
                <div class="full"><input class="form-control" id="address_1" name="address_1" type="text" placeholder=""></div>
            </div>

            <div class="form-group flex">
                <label class="control-label"><i class="fa fa-phone"></i>店家電話1</label>
                <div class="full"><input class="form-control" id="tel1" name="tel1" type="text" placeholder=""></div>
                <label class="control-label"><i class="fa fa-phone"></i>店家電話2</label>
                <div class="full"><input class="form-control" id="tel2" name="tel2" type="text" placeholder=""></div>
            </div>

            <div class="form-group flex">
                <label class="control-label"><i class="fas fa-comment-dollar"></i>付款方式</label>
                <div class="form-check">
                    <input class="form-check-input" id="paying_1" name="paying[]" type="checkbox" value="1">
                    <label class="form-check-label" for="cash">現金</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="paying_3" name="paying[]" type="checkbox" value="3">
                    <label class="form-check-label" for="card">刷卡</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" id="paying_5" name="paying[]" type="checkbox" value="5">
                    <label class="form-check-label" for="member">會員制</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="paying_2" name="paying[]" type="checkbox" value="2">
                    <label class="form-check-label" for="pay">線上支付</label>
                </div>
            </div>

            <div class="form-group flex">
                <label class="control-label"><i class="fas fa-hand-holding"></i>產品.服務</label>
                <div class="full"><input class="form-control" id="service" name="service" type="text" placeholder=""></div>
            </div>
            <div class="form-group flex">
                <label class="control-label"><i class="fas fa-gift"></i>好康優惠</label>
                <div class="full"><input class="form-control" id="discount" name="discount" type="text" placeholder=""></div>
            </div>

        </div>

        <!-- 聯絡人 -->
        <div class="frame">
            <div class="form-group flex">
                <label class="control-label"><i class="fas fa-user"></i>聯&nbsp;&nbsp;絡&nbsp;&nbsp;人</label>
                <div class="full"><input class="form-control" id="contact_person" name="contact_person" type="text" placeholder=""></div>

                <div class="radio_wrap">
                    <div class="radio">
                        <input type="radio" id="legal_agent_sex_0" name="contact_person_sex" value="0" checked="">小 姐
                    </div>
                    <div class="radio">
                        <input type="radio" id="legal_agent_sex_1" name="contact_person_sex" value="1">先 生
                    </div>
                </div>
                <label class="control-label"><i class="fas fa-mobile-alt"></i>聯絡手機</label>
                <div class="full"><input class="form-control" id="phone" name="phone" type="text" placeholder=""></div>
            </div>
        </div>

        <!-- 負責人 -->
        <div class="frame">
            <div class="form-group flex ">
                <label class="control-label"><i class="fas fa-user"></i>負&nbsp;&nbsp;責&nbsp;&nbsp;人</label>
                <div class="full"><input class="form-control" id="legal_agent" name="legal_agent" type="text" placeholder=""></div>

                <div class="radio_wrap">
                    <div class="radio">
                        <input type="radio" name="legal_agent_sex" id="legal_agent_sex_0" value="0" checked="">小 姐
                    </div>
                    <div class="radio">
                        <input type="radio" name="legal_agent_sex" id="legal_agent_sex_1" value="1">先 生
                    </div>
                </div>

                <label class="control-label"><i class="fa fa-phone"></i>公司電話</label>
                <div class="full"><input class="form-control" id="company_tel" name="company_tel" type="text" placeholder=""></div>
            </div>

            <div class="form-group flex">
                <label class="control-label"><i class="fas fa-map-marker-alt"></i>登記地址</label>
                <div class="full"><input class="form-control" id="address" name="address" type="text" placeholder="桃園市桃園區"></div>
            </div>

            <div class="form-group flex">

                <label class="control-label"><i class="fas fa-envelope"></i>e-mail</label>
                <div class="full"><input class="form-control" id="email" name="email" type="text" placeholder=""></div>
                <label class="control-label">Line ID</label>
                <div class="full"><input class="form-control" id="line_id" name="line_id" type="text" placeholder=""></div>
            </div>

            <div class="form-group flex">
                <label class="control-label">商號登記</label>
                <div class="full"><input class="form-control" id="firm" name="firm" type="text" placeholder=""></div>
                <label class="control-label">統一編號</label>
                <div class="full"><input class="form-control" id="uniform" name="uniform" type="text" placeholder=""></div>
            </div>
        </div>


        <div class="" style="margin-bottom: 60px;"></div>

        <div class="agree">
            <input type="checkbox" value="1" id="agree">
            <label for="agree">
                我已閱讀並同意生活樂租的【服務條款】與【隱私權聲明】及會員同意條款
            </label>
        </div>
        <div class="send text-center">
                <button class="btn" type="submit"  id="submitAdd" name="submitAdd" value="1">送 出</button>
        </div>
    </div>
<script>
    arr_city = { "\u81fa\u5317\u5e02": ["\u4e2d\u6b63\u5340", "\u5927\u540c\u5340", "\u4e2d\u5c71\u5340", "\u677e\u5c71\u5340", "\u5927\u5b89\u5340", "\u842c\u83ef\u5340", "\u4fe1\u7fa9\u5340", "\u58eb\u6797\u5340", "\u5317\u6295\u5340", "\u5167\u6e56\u5340", "\u5357\u6e2f\u5340", "\u6587\u5c71\u5340"], "\u57fa\u9686\u5e02": ["\u4ec1\u611b\u5340", "\u4fe1\u7fa9\u5340", "\u4e2d\u6b63\u5340", "\u4e2d\u5c71\u5340", "\u5b89\u6a02\u5340", "\u6696\u6696\u5340", "\u4e03\u5835\u5340"], "\u65b0\u5317\u5e02": ["\u842c\u91cc\u5340", "\u91d1\u5c71\u5340", "\u677f\u6a4b\u5340", "\u6c50\u6b62\u5340", "\u6df1\u5751\u5340", "\u77f3\u7887\u5340", "\u745e\u82b3\u5340", "\u5e73\u6eaa\u5340", "\u96d9\u6eaa\u5340", "\u8ca2\u5bee\u5340", "\u65b0\u5e97\u5340", "\u576a\u6797\u5340", "\u70cf\u4f86\u5340", "\u6c38\u548c\u5340", "\u4e2d\u548c\u5340", "\u571f\u57ce\u5340", "\u4e09\u5cfd\u5340", "\u6a39\u6797\u5340", "\u9daf\u6b4c\u5340", "\u4e09\u91cd\u5340", "\u65b0\u838a\u5340", "\u6cf0\u5c71\u5340", "\u6797\u53e3\u5340", "\u8606\u6d32\u5340", "\u4e94\u80a1\u5340", "\u516b\u91cc\u5340", "\u6de1\u6c34\u5340", "\u4e09\u829d\u5340", "\u77f3\u9580\u5340"], "\u5b9c\u862d\u7e23": ["\u5b9c\u862d\u5e02", "\u982d\u57ce\u93ae", "\u7901\u6eaa\u9109", "\u58ef\u570d\u9109", "\u54e1\u5c71\u9109", "\u7f85\u6771\u93ae", "\u4e09\u661f\u9109", "\u5927\u540c\u9109", "\u4e94\u7d50\u9109", "\u51ac\u5c71\u9109", "\u8607\u6fb3\u93ae", "\u5357\u6fb3\u9109", "\u91e3\u9b5a\u53f0\u5217\u5dbc"], "\u65b0\u7af9\u5e02": ["\u6771\u5340", "\u5317\u5340", "\u9999\u5c71\u5340"], "\u65b0\u7af9\u7e23": ["\u7af9\u5317\u5e02", "\u6e56\u53e3\u9109", "\u65b0\u8c50\u9109", "\u65b0\u57d4\u93ae", "\u95dc\u897f\u93ae", "\u828e\u6797\u9109", "\u5bf6\u5c71\u9109", "\u7af9\u6771\u93ae", "\u4e94\u5cf0\u9109", "\u6a6b\u5c71\u9109", "\u5c16\u77f3\u9109", "\u5317\u57d4\u9109", "\u5ce8\u5d4b\u9109"], "\u6843\u5712\u5e02": ["\u4e2d\u58e2\u5340", "\u5e73\u93ae\u5340", "\u9f8d\u6f6d\u5340", "\u694a\u6885\u5340", "\u65b0\u5c4b\u5340", "\u89c0\u97f3\u5340", "\u6843\u5712\u5340", "\u9f9c\u5c71\u5340", "\u516b\u5fb7\u5340", "\u5927\u6eaa\u5340", "\u5fa9\u8208\u5340", "\u5927\u5712\u5340", "\u8606\u7af9\u5340"], "\u82d7\u6817\u7e23": ["\u7af9\u5357\u93ae", "\u982d\u4efd\u5e02", "\u4e09\u7063\u9109", "\u5357\u5e84\u9109", "\u7345\u6f6d\u9109", "\u5f8c\u9f8d\u93ae", "\u901a\u9704\u93ae", "\u82d1\u88e1\u93ae", "\u82d7\u6817\u5e02", "\u9020\u6a4b\u9109", "\u982d\u5c4b\u9109", "\u516c\u9928\u9109", "\u5927\u6e56\u9109", "\u6cf0\u5b89\u9109", "\u9285\u947c\u9109", "\u4e09\u7fa9\u9109", "\u897f\u6e56\u9109", "\u5353\u862d\u93ae"], "\u81fa\u4e2d\u5e02": ["\u4e2d\u5340", "\u6771\u5340", "\u5357\u5340", "\u897f\u5340", "\u5317\u5340", "\u5317\u5c6f\u5340", "\u897f\u5c6f\u5340", "\u5357\u5c6f\u5340", "\u592a\u5e73\u5340", "\u5927\u91cc\u5340", "\u9727\u5cf0\u5340", "\u70cf\u65e5\u5340", "\u8c50\u539f\u5340", "\u540e\u91cc\u5340", "\u77f3\u5ca1\u5340", "\u6771\u52e2\u5340", "\u548c\u5e73\u5340", "\u65b0\u793e\u5340", "\u6f6d\u5b50\u5340", "\u5927\u96c5\u5340", "\u795e\u5ca1\u5340", "\u5927\u809a\u5340", "\u6c99\u9e7f\u5340", "\u9f8d\u4e95\u5340", "\u68a7\u68f2\u5340", "\u6e05\u6c34\u5340", "\u5927\u7532\u5340", "\u5916\u57d4\u5340", "\u5927\u5b89\u5340"], "\u5f70\u5316\u7e23": ["\u5f70\u5316\u5e02", "\u82ac\u5712\u9109", "\u82b1\u58c7\u9109", "\u79c0\u6c34\u9109", "\u9e7f\u6e2f\u93ae", "\u798f\u8208\u9109", "\u7dda\u897f\u9109", "\u548c\u7f8e\u93ae", "\u4f38\u6e2f\u9109", "\u54e1\u6797\u5e02", "\u793e\u982d\u9109", "\u6c38\u9756\u9109", "\u57d4\u5fc3\u9109", "\u6eaa\u6e56\u93ae", "\u5927\u6751\u9109", "\u57d4\u9e7d\u9109", "\u7530\u4e2d\u93ae", "\u5317\u6597\u93ae", "\u7530\u5c3e\u9109", "\u57e4\u982d\u9109", "\u6eaa\u5dde\u9109", "\u7af9\u5858\u9109", "\u4e8c\u6797\u93ae", "\u5927\u57ce\u9109", "\u82b3\u82d1\u9109", "\u4e8c\u6c34\u9109"], "\u5357\u6295\u7e23": ["\u5357\u6295\u5e02", "\u4e2d\u5bee\u9109", "\u8349\u5c6f\u93ae", "\u570b\u59d3\u9109", "\u57d4\u91cc\u93ae", "\u4ec1\u611b\u9109", "\u540d\u9593\u9109", "\u96c6\u96c6\u93ae", "\u6c34\u91cc\u9109", "\u9b5a\u6c60\u9109", "\u4fe1\u7fa9\u9109", "\u7af9\u5c71\u93ae", "\u9e7f\u8c37\u9109"], "\u5609\u7fa9\u5e02": ["\u6771\u5340", "\u897f\u5340"], "\u5609\u7fa9\u7e23": ["\u756a\u8def\u9109", "\u6885\u5c71\u9109", "\u7af9\u5d0e\u9109", "\u963f\u91cc\u5c71", "\u4e2d\u57d4\u9109", "\u5927\u57d4\u9109", "\u6c34\u4e0a\u9109", "\u9e7f\u8349\u9109", "\u592a\u4fdd\u5e02", "\u6734\u5b50\u5e02", "\u6771\u77f3\u9109", "\u516d\u8173\u9109", "\u65b0\u6e2f\u9109", "\u6c11\u96c4\u9109", "\u5927\u6797\u93ae", "\u6eaa\u53e3\u9109", "\u7fa9\u7af9\u9109", "\u5e03\u888b\u93ae"], "\u96f2\u6797\u7e23": ["\u6597\u5357\u93ae", "\u5927\u57e4\u9109", "\u864e\u5c3e\u93ae", "\u571f\u5eab\u93ae", "\u8912\u5fe0\u9109", "\u6771\u52e2\u9109", "\u81fa\u897f\u9109", "\u5d19\u80cc\u9109", "\u9ea5\u5bee\u9109", "\u6597\u516d\u5e02", "\u6797\u5167\u9109", "\u53e4\u5751\u9109", "\u83bf\u6850\u9109", "\u897f\u87ba\u93ae", "\u4e8c\u5d19\u9109", "\u5317\u6e2f\u93ae", "\u6c34\u6797\u9109", "\u53e3\u6e56\u9109", "\u56db\u6e56\u9109", "\u5143\u9577\u9109"], "\u81fa\u5357\u5e02": ["\u4e2d\u897f\u5340", "\u6771\u5340", "\u5357\u5340", "\u5317\u5340", "\u5b89\u5e73\u5340", "\u5b89\u5357\u5340", "\u6c38\u5eb7\u5340", "\u6b78\u4ec1\u5340", "\u65b0\u5316\u5340", "\u5de6\u93ae\u5340", "\u7389\u4e95\u5340", "\u6960\u897f\u5340", "\u5357\u5316\u5340", "\u4ec1\u5fb7\u5340", "\u95dc\u5edf\u5340", "\u9f8d\u5d0e\u5340", "\u5b98\u7530\u5340", "\u9ebb\u8c46\u5340", "\u4f73\u91cc\u5340", "\u897f\u6e2f\u5340", "\u4e03\u80a1\u5340", "\u5c07\u8ecd\u5340", "\u5b78\u7532\u5340", "\u5317\u9580\u5340", "\u65b0\u71df\u5340", "\u5f8c\u58c1\u5340", "\u767d\u6cb3\u5340", "\u6771\u5c71\u5340", "\u516d\u7532\u5340", "\u4e0b\u71df\u5340", "\u67f3\u71df\u5340", "\u9e7d\u6c34\u5340", "\u5584\u5316\u5340", "\u5927\u5167\u5340", "\u5c71\u4e0a\u5340", "\u65b0\u5e02\u5340", "\u5b89\u5b9a\u5340"], "\u9ad8\u96c4\u5e02": ["\u65b0\u8208\u5340", "\u524d\u91d1\u5340", "\u82d3\u96c5\u5340", "\u9e7d\u57d5\u5340", "\u9f13\u5c71\u5340", "\u65d7\u6d25\u5340", "\u524d\u93ae\u5340", "\u4e09\u6c11\u5340", "\u6960\u6893\u5340", "\u5c0f\u6e2f\u5340", "\u5de6\u71df\u5340", "\u4ec1\u6b66\u5340", "\u5927\u793e\u5340", "\u6771\u6c99\u7fa4\u5cf6", "\u5357\u6c99\u7fa4\u5cf6", "\u5ca1\u5c71\u5340", "\u8def\u7af9\u5340", "\u963f\u84ee\u5340", "\u7530\u5bee\u5340", "\u71d5\u5de2\u5340", "\u6a4b\u982d\u5340", "\u6893\u5b98\u5340", "\u5f4c\u9640\u5340", "\u6c38\u5b89\u5340", "\u6e56\u5167\u5340", "\u9cf3\u5c71\u5340", "\u5927\u5bee\u5340", "\u6797\u5712\u5340", "\u9ce5\u677e\u5340", "\u5927\u6a39\u5340", "\u65d7\u5c71\u5340", "\u7f8e\u6fc3\u5340", "\u516d\u9f9c\u5340", "\u5167\u9580\u5340", "\u6749\u6797\u5340", "\u7532\u4ed9\u5340", "\u6843\u6e90\u5340", "\u90a3\u746a\u590f\u5340", "\u8302\u6797\u5340", "\u8304\u8423\u5340"], "\u5c4f\u6771\u7e23": ["\u5c4f\u6771\u5e02", "\u4e09\u5730\u9580\u9109", "\u9727\u81fa\u9109", "\u746a\u5bb6\u9109", "\u4e5d\u5982\u9109", "\u91cc\u6e2f\u9109", "\u9ad8\u6a39\u9109", "\u9e7d\u57d4\u9109", "\u9577\u6cbb\u9109", "\u9e9f\u6d1b\u9109", "\u7af9\u7530\u9109", "\u5167\u57d4\u9109", "\u842c\u4e39\u9109", "\u6f6e\u5dde\u93ae", "\u6cf0\u6b66\u9109", "\u4f86\u7fa9\u9109", "\u842c\u5dd2\u9109", "\u5d01\u9802\u9109", "\u65b0\u57e4\u9109", "\u5357\u5dde\u9109", "\u6797\u908a\u9109", "\u6771\u6e2f\u93ae", "\u7409\u7403\u9109", "\u4f73\u51ac\u9109", "\u65b0\u5712\u9109", "\u678b\u5bee\u9109", "\u678b\u5c71\u9109", "\u6625\u65e5\u9109", "\u7345\u5b50\u9109", "\u8eca\u57ce\u9109", "\u7261\u4e39\u9109", "\u6046\u6625\u93ae", "\u6eff\u5dde\u9109"], "\u81fa\u6771\u7e23": ["\u81fa\u6771\u5e02", "\u7da0\u5cf6\u9109", "\u862d\u5dbc\u9109", "\u5ef6\u5e73\u9109", "\u5351\u5357\u9109", "\u9e7f\u91ce\u9109", "\u95dc\u5c71\u93ae", "\u6d77\u7aef\u9109", "\u6c60\u4e0a\u9109", "\u6771\u6cb3\u9109", "\u6210\u529f\u93ae", "\u9577\u6ff1\u9109", "\u592a\u9ebb\u91cc\u9109", "\u91d1\u5cf0\u9109", "\u5927\u6b66\u9109", "\u9054\u4ec1\u9109"], "\u82b1\u84ee\u7e23": ["\u82b1\u84ee\u5e02", "\u65b0\u57ce\u9109", "\u79c0\u6797\u9109", "\u5409\u5b89\u9109", "\u58fd\u8c50\u9109", "\u9cf3\u6797\u93ae", "\u5149\u5fa9\u9109", "\u8c50\u6ff1\u9109", "\u745e\u7a57\u9109", "\u842c\u69ae\u9109", "\u7389\u91cc\u93ae", "\u5353\u6eaa\u9109", "\u5bcc\u91cc\u9109"], "\u91d1\u9580\u7e23": ["\u91d1\u6c99\u93ae", "\u91d1\u6e56\u93ae", "\u91d1\u5be7\u9109", "\u91d1\u57ce\u93ae", "\u70c8\u5dbc\u9109", "\u70cf\u5775\u9109"], "\u9023\u6c5f\u7e23": ["\u5357\u7aff\u9109", "\u5317\u7aff\u9109", "\u8392\u5149\u9109", "\u6771\u5f15\u9109"], "\u6f8e\u6e56\u7e23": ["\u99ac\u516c\u5e02", "\u897f\u5dbc\u9109", "\u671b\u5b89\u9109", "\u4e03\u7f8e\u9109", "\u767d\u6c99\u9109", "\u6e56\u897f\u9109"] };
</script>

