<div class="fixed_postion">
	<ul class="sevice_wrap">
		<li class="sevice_item">
				<span class="icon_block">
					<a class="" herf=""><img src="./img/contact_us.svg"></img></a>
				</span>
			<span class="text">聯絡我們</span>
		</li>
		<li class="sevice_item">
				<span class="icon_block">
					<a class="" herf=""><img src="./img/app.svg"></img></a>
				</span>
			<span class="text">APP下載</span>
		</li>
		<li class="sevice_item">
				<span class="icon_block">
					<a class="" herf=""><img src="./img/app.svg"></img></a>
				</span>
			<span class="text">QR Code</span>
		</li>
		<li class="sevice_item">
				<span class="icon_block">
					<a class="" herf=""><img src="./img/facebook.svg"></img></a>
				</span>
			<span class="text">FB分享</span>
		</li>
		<li class="sevice_item">
				<span class="icon_block">
					<a class="" herf=""><img src="./img/line.svg"></img></a>
				</span>
			<span class="text">Line分享</span>
		</li>
		<li class="sevice_item">
				<span class="icon_block">
					<a class="" herf=""><img src="./img/share.svg"></img></a>
				</span>
			<span class="text">寄給朋友</span>
		</li>
	</ul>
	<div class="side_content_wrap active">
		<div class="side_content_title">
			<span>APP下載</span>
			<a href="#"><img class="close_icon" src="./img/close-btn.svg"></a>
		</div>
		<div class="side_content">
			<div class="caption1">生活樂租</div>
			<img class="qrCode_img" src="./img/qr_code.jpg">
			<div class="caption2">e修繕</div>
			<img class="qrCode_img" src="./img/qr_code.jpg">
			<div><a target="_blank" href="#">
					<img class="download-img" src="./img/img-download-app-store.png">
				</a>
			</div>
			<div><a target="_blank" href="#">
					<img class="download-img" src="./img/img-download-google-play.png">
				</a>
			</div>
			<div class="download-text">掃描QR Code或點擊下載APP</div>

		</div>
	</div>
</div>