<!-- <div class="footer" style=""><img src="/themes/Okmaster/img/index/footer_logo.png">生活好科技有限公司 &nbsp; LIFE  MASTER  TECHNOLOGY  COMPANY &nbsp; 生活好科技·科技好生活</div> -->
<div class="footer" style=""><img src="/themes/Okmaster/img/index/footer_logo.png">生活好科技有限公司 <span style="font-size: 10pt;margin: 10px;">生活好科技·科技好生活</span> copyright ©LIFE MASTER TECHNOLOGY COMPANY &nbsp&nbsp&nbsp<a href="/Aboutokmaster">關於我們</a><!-- | <a href="/Aboutokmaster">合作提案</a>--> | <a href="/State">相關聲明</a></div>
