<div class="footer" style="">
  <!-- <a href="/Aboutokmaster"><img src="/themes/Okmaster/img/index/footer_logo.png" alt="關於生活好科技"></a>生活好科技有限公司  -->
  <span class='spacing'></span> copyright ©LIFE MASTER TECHNOLOGY COMPANY <span class='spacing'></span><!--<a href="/Aboutokmaster">合作提案</a> | --><a href="/State">相關聲明</a></div>

<!-- {include file="$tpl_dir./group_link.tpl"} -->
