<div class="top_fn_linethg"></div>

<div class="row top_fn">

  <div class="fff"></div>

  <ul class="logo">

    <li><img style="margin-left: 4px" src="/themes/Okmaster/img/index/fn_1_1109_c.png" onclick="window.open('https://www.okmaster.life/Aboutokmaster')"></li>



  </ul>

  <ul class="links">

    <li class="L"><a href="/Housecheck"><img class="title" src="/img/diversion/8/admin_panel_22w.png"></a></li>

    <li class="border"></li>

    <li><a href="https://www.okrent.tw/"><img class="title" src="/img/diversion/1/2/admin_panel_30w.png"></a></li>

    <li class="border"></li>

    <li class="R"><a href="https://okpt.life/"><img class="title" src="/img/diversion/1/1/admin_panel_31w.png"></a></a></li>

  </ul>

  <ul class="links">



    <li class="L"><a href="/smart_lock"><img class="title" src="/img/diversion/other/admin_panel_1w.png"></a></li>

    <li class="border"></li>

    <li class=""><a href="https://www.lifegroup.house/LifeGo"><img class="title" src="/img/diversion/4/admin_panel_11w.png"></a></li>

    <li class="border"></li>

    <li class="R"><a href="/Store?"><img class="title" src="/img/diversion/5/admin_panel_13w.png"></a></li>

    <li class="border"></li>

    <li class="R"><a href="https://www.epro.house/" href="_blank"><img class="title" src="/img/diversion/1/0/admin_panel_24w.png"></a></li>



  </ul>

</div>
