<style>
.version{print_r('{position:absolute;bottom: 0px;right: 0px;font-size: 6pt;color: #ffffff8c;z-index: 999;}')}
</style>
{if $PGWD == 'Housecheck'}
<!-- 生活好科技 清淨對策 -->
<!-- <div class="version">1.1091030</div> -->
<div class="version">1.1091104.2</div>
<div class="version">1.1091104.3</div><!--漢堡 特效-->
{/if}
