{$breadcrumbs_htm}
    {include file="$tpl_dir./good_buy_tab.tpl"}
{*    <div class="happy_shopping_wrap">*}
{*        <div class="menu_wrap">*}
{*            <ul class="menu">*}
{*                {foreach from=$product_class_arr key=k item=v}*}
{*                <li class="item">*}
{*                    <a href="/LifeBuy?id_product_class={$v.id_product_class}" {if $id_product_class==$v.id_product_class} class="active" {/if}>*}
{*                        <img src="{$v.url_svg}" alt="{$v.title}" class="svg icon">*}
{*                        <p class="text-center">{$v.title}</p>*}
{*                     </a>*}
{*                </li>*}
{*                <i></i>*}
{*                {/foreach}*}
{*                <li class="item">*}
{*                    <a href="" class="">*}
{*                        <img src="/themes/Rent/img/lifebuy/15.svg" alt="租借交換" class="icon">*}
{*                        <p class="text-center">租借交換</p>*}
{*                    </a>*}
{*                </li>*}
{*            </ul>*}

{*            <div class="flex">*}
{*                <div class="marquee_wrap">*}
{*                    <marquee direction="left" scrollamount="10" behavior="scroll">*}
{*                        <img src="/themes/Rent/img/lifebuy/star.svg" alt="" class="">慶祝母親節 全館優惠中到5/10止*}
{*                        <img src="/themes/Rent/img/lifebuy/star.svg" alt="" class="">慶祝母親節 全館優惠中到5/10止*}
{*                    </marquee>*}
{*                </div>*}
{*                <div class="search_wrap">*}
{*                    <div class="search-container">*}
{*                        <form action="/action_page.php">*}
{*                            <input type="text" placeholder="搜尋.." name="search">*}
{*                            <button type="submit"><i class="fa fa-search"></i></button>*}
{*                        </form>*}
{*                    </div>*}
{*                </div>*}
{*            </div>*}
{*        </div>*}

{*        <!-- 類別 -->*}
{*        {if $id_product_class}*}
{*            <div class="category_wrap">*}
{*                <h3 class="title">{$product_class_title.title}</h3>*}
{*                <div class="item_list">*}
{*                    {foreach from=$product_class_item_arr key=k item=v}*}
{*                        {if $k!='0'}*}
{*                        <i></i>*}
{*                        {/if}*}
{*                        <a {if $v.id_product_class_item==$smarty.get.id_product_class_item} class="active" {/if} href="/LifeBuy?id_product_class_item={$v.id_product_class_item}">{$v.item_title}</a>*}
{*                    {/foreach}*}
{*                </div>*}
{*            </div>*}
{*        {/if}*}

{*        <div class="text-center">*}
{*            <h2 class="caption"><span><img src="/themes/Rent/img/lifebuy/star.svg" alt="" class=""></span>HOT 熱銷榜</h2>*}
{*        </div>*}

{*        <section class="slider regular">*}
{*            <div class="list">*}
{*                <div class="frame">*}
{*                    <img src="/themes/Rent/img/goodstore/img_2.jpg" class="img" alt=""></a>*}
{*                    <collect data-id="1" data-type="product" class="favorite {if $house.collect}on{/if}">{if $house.collect}*}
{*                            <img src="{$THEME_URL}/img/icon/heart_on.svg">{else}<img src="{$THEME_URL}/img/icon/heart.svg">{/if}*}
{*                    </collect>*}
{*                </div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}
{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}
{*        </section>*}

{*        <div style="margin-bottom: 80px;"></div>*}
{*        <div class="text-center">*}
{*            <h2 class="caption"><span><img src="/themes/Rent/img/lifebuy/star.svg" alt="" class=""></span>Offer 好康到</h2>*}
{*        </div>*}


{*        <section class="slider regular">*}
{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}
{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}
{*        </section>*}

{*        <div style="margin-bottom: 80px;"></div>*}
{*        <div class="text-center">*}
{*            <h2 class="caption"><span><img src="/themes/Rent/img/lifebuy/star.svg" alt="" class=""></span>New 新貨色</h2>*}
{*        </div>*}

{*        <section class="slider regular">*}
{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}

{*            <div class="list">*}
{*                <div class="frame"></div>*}
{*            </div>*}
{*        </section>*}
{*    </div>*}
    <div class="happy_shopping_wrap">
        <div class="top_area_wrap">
            <div class="flex">
                <div class="search_wrap">
                    <div class="search-container">
                        <form action="/action_page.php">
                            <input type="text" placeholder="搜 尋" name="search">
                            <button type="submit">
                                <img src="/themes/Rent/img/lifebuy/zoom.svg" alt="" class="">
                            </button>
                        </form>
                    </div>
                </div>
                <div class="marquee_wrap">
                    <marquee direction="left" scrollamount="10" behavior="scroll">
                        <img src="/themes/Rent/img/lifebuy/star.svg" alt="" class="">慶祝母親節 全館優惠中到5/10止
                        <img src="/themes/Rent/img/lifebuy/star.svg" alt="" class="">慶祝母親節 全館優惠中到5/10止
                        <img src="/themes/Rent/img/lifebuy/star.svg" alt="" class="">慶祝母親節 全館優惠中到5/10止
                    </marquee>
                </div>
            </div>
        </div>
        <div class="main_area_wrap">
            <div class="left_area_wrap">
                <ul class="menu">
                    {foreach from=$product_class_arr key=k item=v}
                        <li class="item  {if $id_product_class==$v.id_product_class} active {/if}">
                            <a href="/LifeBuy?id_product_class={$v.id_product_class}">
                                <img src="{$v.url_svg}" alt="{$v.title}" class="svg icon">
                                <p class="text-center">{$v.title}</p>
                            </a>
                        </li>
                    {/foreach}
{*                    <li class="item">*}
{*                        <a href="" class="">*}
{*                            <img src="/themes/Rent/img/lifebuy/15.svg" alt="租借交換" class="icon">*}
{*                            <p class="text-center">租借交換</p>*}
{*                        </a>*}
{*                    </li>*}
                </ul>
            </div>
            <div class="right_area_wrap">
                <div class="text-center">
                    <h2 class="caption"><span><img src="/themes/Rent/img/lifebuy/star.svg" alt="" class=""></span>HOT 熱銷榜
                    </h2>
                </div>
                <div style="margin-bottom: 20px;"></div>

                <section class="slider regular">
                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>
                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>
                </section>

                <div style="margin-bottom: 80px;"></div>
                <div class="text-center">
                    <h2 class="caption"><span><img src="/themes/Rent/img/lifebuy/star.svg" alt="" class=""></span>Offer 好康到
                    </h2>
                </div>
                <div style="margin-bottom: 20px;"></div>

                <section class="slider regular">
                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>
                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>
                </section>

                <div style="margin-bottom: 80px;"></div>
                <div class="text-center">
                    <h2 class="caption"><span><img src="/themes/Rent/img/lifebuy/star.svg" alt="" class=""></span>New 新貨色
                    </h2>
                </div>
                <div style="margin-bottom: 20px;"></div>

                <section class="slider regular">
                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>

                    <div class="list">
                        <div class="frame"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {$js}