@charset "utf-8";
@page {
	size: A4 landscape;
	width: 1920px;
}
@media print {
*,input.form-control{font-size:12px !important; padding:0px !important;}
a[href]:after,
#admin_menu,
#footer,
.minbar,
#top_bar,
.fc-left,
.fc-right,
.edit_div,
.panel-heading,
.panel-footer{display:none !important;}
.table tbody tr:nth-child(odd) td{background-color:#CCC;}
.table input,.table select,.table{
    padding: 0px !important;
    margin: 0px !important;
    border:none !important;
    overflow: hidden !important;
}
.table select{
	margin-right:20px !important;
}
.panel-body{padding:0px 0px !important;}
#content,#main,.content,.panel-body{
	margin:0px !important;
	padding: 0px !important;
	top:0px !important;
	left:0px !important;
}
#content{
	padding:0px;
}
.badge::before{
	content: "共 ";
}
.badge::after {
	content: " 筆";
}
}