/**
 色板
 */
body,html{
	background-color: #f0f0f0;
}
#admin_menu{
	background-color: #0f2435;
}
#admin_menu .menu-collapse{
	color: #fff;
}
.minbar,thead,.list th .th_title{
	background-color: #2e6ea5;
}
#admin_menu a:hover,
#admin_menu li.active>a{
	background-color: #275c8a;
}
#admin_menu>ul>li.active{
	border-right: 4px solid #d0eaff;
}
thead{
	color:#FFF;
}
thead .to{
	color: #000;
}
a {
	color: #337ab7;
}
a:focus, a:hover {
	color: #23527c;
}
tbody>tr:hover ,tbody>tr.active,.table>tbody>tr.active>td{
	background-color: #acd9ff;
}
.table tr.search {
	background-color: #eaf5ff;
}
.label-info {
	background-color: #5bc0de;
}
.label-tooltip {
	background-color: #c8e6ff;
}
#admin_menu .submenu{
	background-color: #1b3a53;
}
#footer {
	background-color: rgba(46, 110, 165, 0.8);
}
.minbar a,
#footer a{
	color: #fff;
}
#admin_menu a{
	color: #eee;
}
.drag_group .positions {
	border: solid 1px #ccc;
	background-color: #eee;
}
.Competence .parent{
	background-color: #eee;
}
.field_list{
	background-color: #fff;
	border: 1px solid #ddd;
}
.field_list .field{
	background-color: #fff;
}
label.required:before{
	color: red;
}
.drag_group .positions {
	color: #aaa;
	text-shadow: #fff 1px 1px;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 3px inset;
	box-shadow: rgba(0,0,0,0.2) 0 1px 3px inset;
}
.Competence td{
	border-bottom: 1px solid #aaa;
}
.table tr.myDragClass td {
	color: #fff !important;
	background-color: #00aff0 !important;
}
#footer{
	color: #fff;
}
@keyframes footer_in {
	from {
		bottom:-30px;
		background-color:rgba(46,110,165,0);
	}
	to {
		bottom:0px;
		background-color:rgba(46,110,165,0.8);
	}
}
@-moz-keyframes footer_in {

	from {
		bottom:-30px;
		background-color:rgba(46,110,165,0);
	}
	to {
		bottom:0px;
		background-color:rgba(46,110,165,0.8);
	}
}
@-ms-keyframes footer_in {
	from {
		bottom:-30px;
		background-color:rgba(46,110,165,0);
	}
	to {
		bottom:0px;
		background-color:rgba(46,110,165,0.8);
	}
}
@-o-keyframes footer_in {
	from {
		bottom:-30px;
		background-color:rgba(46,110,165,0);
	}
	to {
		bottom:0px;
		background-color:rgba(46,110,165,0.8);
	}
}
@-webkit-keyframes footer_in {
	from {
		bottom:-30px;
		background-color:rgba(46,110,165,0);
	}
	to {
		bottom:0px;
		background-color:rgba(46,110,165,0.8);
	}
}
@media (max-width: 991px){
	.list .table tbody tr{
		box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
		-o-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
		-ms-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
	}
	.list tbody td:before{
		border-right: 1px solid #EAEDEF;
	}
}