<div class="c_spacing reg_con">
      <div class="reg_con_1">
            <form action="{if !empty($smarty.get.page)}?page={$smarty.get.page}{/if}" method="post" class="col-lg-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" enctype="application/x-www-form-urlencoded">
                  <label for="email" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">帳 號</label>
                  <div class="col-lg-12"><input type="text" id="email" class="form-control" name="email" maxlength="100" required value="{$smarty.post.email}" autocorrect="none"></div>
                  <label for="password" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">密 碼</label>
                  <div class="col-lg-12"><input type="password" id="password" class="form-control" name="password" maxlength="20" required></div>
                  <div class="col-lg-12"><button type="submit" id="loging" name="AdminLogin" class="submit btn">登 入</button></div>
            </form>
      </div>
</div>