
:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.m_b_10{
    margin: 0px 0px 10px 0px;
}

.none{
    display: none!important
}

.take_goodies_main_wrap{
    margin: 0px 0px 40px;
}

.take_goodies_main_wrap .banner{
    position: relative;
    margin: 0px auto 30px;
}

.take_goodies_main_wrap .commodity_wrap{
    max-width: 1000px;
    margin: 0px auto 0px;
}

.take_goodies_main_wrap .commodity_wrap .frame{
    padding: 0px 15px 0px;
}

.take_goodies_main_wrap .commodity_wrap .frame .caption{
    font-size: 1.3em;
    font-weight: bold;
    margin: 0px auto 10px;
}

.take_goodies_main_wrap .commodity_wrap hr{
    border-top: 1px solid #ccc;
}


.take_goodies_main_wrap .commodity_wrap .list{
    display: table;
}

.take_goodies_main_wrap .commodity_wrap .list .caption{
    display: table-cell;
    font-size: 1.1em;
    padding: 0px 5px 0px 0px;
    vertical-align: middle;
}

.take_goodies_main_wrap .commodity_wrap .list .value{
    display: table-cell;
    color: red;
    font-size: 1.3em;
}

.take_goodies_main_wrap .commodity_wrap .list .value input{
    width: 50px;
    font-size: 1em;
    padding: 0px 5px;
}

.take_goodies_main_wrap .commodity_wrap .exchange{
    color: #fff;
    padding: 7px 15px;
    margin: 0px auto 0px;
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: 2px;
    background: red;
    display: inline-block;
    border-radius: 0px 10px;
}














