.title {
    text-align: center;
    font-size: 1.6rem;
    color: #3f0a81;
    font-weight: bold;
    margin: 15px;
}

.slogan {
    text-align: center;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}

.slogan span {
    margin: 9pt;
}

.content {
    text-align: center;
    margin: 18px;
}

.button {width: 100%;background: #fff;margin: 25pt 0;}

.button img {
    width: max-content;
    height: min-content;
    cursor: pointer;
}
