.activity_list_wrap .list{
    position: relative;
}
.activity_list_wrap .list .label{
    position: absolute;
    width: 100%;
    text-align: center;
    left:0;
    top: 40%;
}
.activity_list_wrap .list .label .caption1{
    color: #532789;
    font-size: 5.5vmin;
    margin: 0 0 3px;
}
.activity_list_wrap .list .label .caption2{
    color: #555;
    font-size: 4vmin;
}
