td.c_1 {
  width: 10%;
  min-width: 8rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  /* line-height: 5rem; */
  text-align: start;
}

td.c_2 {
    /* width: 90%; */
    vertical-align: -webkit-baseline-middle;
    padding-bottom: 1em;
}

td.c_2 a.ui-link {
    font-size: 1rem;
    font-weight: bold;
}

.menu_buoy buoy{
  width: 33%
}

.search_select .icon, #search_box .icon {
    width: 24px;
    position: absolute;
    right: 0px;
    top: 7px;
}

#search_box>div {
    display: table-cell;
    position: relative;
}

#search_box {
    width: 10%;
    margin: 0px 0px 0px 0px;
}

#search_box {
    /* display: table;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px; */
    margin-left: 100px;
}

#search_form{
  padding: 0 !important;
  margin-top: 0 !important;
}

.zone {
    margin: 20px 0;
}

.zone .top_bar {
    font-size: 1.2rem;
    text-align: center;
    background: #eee;
    padding: 5px 0;
    font-weight: bold;
}

.search {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #eee;
}

.search span.notify {
    margin-right: 5px;
}

.photo {
    position: relative;
}

.notify span{text-decoration: underline;}

.icons ul {
    list-style: none;
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 20px 15px;
}
.icons {
    width: 100%;
    text-align: center;
}

.icons ul li {
    width: 33.333%;
    margin: auto;
}

.icons ul li div {
    width: 50%;
    margin: auto;
}

table.menu_buoy_main {
    width: 100%;
}
