.flex {
    display: flex;
    align-items: center;
}


/* 仿google輸入框 start */
:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --color__accent: #fff;
    /* label文字點擊後顏色 */
    --field__background: #fff;
    --field__background--hover: #fff;
    --input__border: #ddd;
    --input__border--hover: #fff;
    --label__color: #eee;
    /* 輸入框label文字顏色 */

    --font__size: 16px;
    --font__family: Roboto, Arial, sans-serif;
}

.home_sign_in input {
    background: none;
    border-width: 0;
    display: block;
}

.home_sign_in .hidden--visually {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.home_sign_in .floating {
    margin-bottom: 30px;
    background-color: unset;
    transition: background-color 0.2s ease;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.floating__input:placeholder-shown+.floating__label::before {
    font-size: 20px;
}

.home_sign_in .floating:hover,
.home_sign_in .floating:focus-within {}

.floating__input {
    padding: 15px 15px 5px;
    font-size: 1.3em;
    color: #fff;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid var(--input__border);
    transition: border-color 0.2s ease;
    caret-color: var(--color__accent);
}

/* label點擊後底線狀態 */
.home_sign_in .floating:hover .floating__label {
    border-bottom: 1px solid #fff;
}

.home_sign_in .floating__input::placeholder {
    color: rgba(0, 0, 0, 0);
}

.home_sign_in .floating__label {
    display: block;
    position: relative;
    max-height: 0;
    font-weight: 500;
    pointer-events: none;
    border-bottom: 1px solid var(--input__border);
    /* label底線 */
}

.home_sign_in .floating__label::before {
    color: var(--label__color);
    content: attr(data-content);
    display: inline-block;
    filter: blur(0);
    backface-visibility: hidden;
    transform-origin: left top;
    transition: transform 0.2s ease;
    left: 1rem;
    position: relative;
}

.home_sign_in .floating__label::after {
    bottom: 1rem;
    content: "";
    height: 0.1rem;
    position: absolute;
    transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    left: 0;
    top: 100%;
    margin-top: -0.1rem;
    transform: scale3d(0, 1, 1);
    width: 100%;
    background-color: var(--color__accent);
}

.home_sign_in .floating__input:focus+.home_sign_in .floating__label::after {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.floating__input:placeholder-shown+.floating__label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus+.floating__label::before {
    transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.floating__input:focus+.floating__label::before {
    color: var(--color__accent);
}

/* 仿google輸入框 end */


/* 首頁登入框 */
.home_sign_in {
    /* min-height: 100vh; */
    height: 100%;
    padding: 20px 15px;
    background-image: url(/themes/App/mobile/img/register/bg_101_weight.jpg);
    background-size: cover;
    background-position: center;
}

.home_sign_in .form_wrap {
    width: 75%;

}

.home_sign_in .content .item_l {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.home_sign_in .content .item_r {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.home_sign_in .content .auto_sign_in {
    color: #fff;
    font-size: 1.1em;
    font-weight: unset;
    margin: 0px 0px 0px 5px;
}

.home_sign_in .content .forget {
    color: #fff;
    font-size: 1.1em;
    font-weight: unset;
    margin: 0px;
}

.home_sign_in .content button {

  border: 0px;
  width: 90px;
  margin: 60px auto 0px;

  font-weight: bold;
  height: 23pt;
  padding: 0px;
  border-radius: 0px 5px;
}


.home_sign_in .content .btn_sign_in {
    color: var(--main_color1);
    border: 1px solid #ffffff85;
    background: #fff;
}

.home_sign_in .content .btn_cancel {
  background: var(--main_color1);
  border: 1px solid #ffffff85;
  color: #ffffff;
}

.home_sign_in .content .btn_fb{
    padding: 10px;
    font-family: 'cwTeXYen', sans-serif;
    color: #fff;
    font-size: 1.2em;
    text-shadow: unset;
    font-weight: unset;
    letter-spacing: 1px;
    border: 1px solid #ffffff85;
    background: #3b599999;
    border-radius: 0px 10px;
    position: relative;
}

.home_sign_in .content .btn_fb:before{
    position: absolute;
    content: "";
    background-image: url(/themes/App/mobile/img/register/fb.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
    top: 0px;
    left: 0px;
}

.home_sign_in .btn_reg {
    padding: 10px;
    margin: 5px auto 20px;
    font-family: 'cwTeXYen', sans-serif;
    color: #fff;
    font-size: 1.2em;
    text-shadow: unset;
    font-weight: unset;
    letter-spacing: 3px;
    border: 1px solid #ffffff85;
    background: #c59b6d75;
    border-radius: 0px 10px;
}

/* 2020.10.27 */

.home_sign_in .form_wrap {
    margin: 27vw auto 10px;
}



.home_sign_in form {
    position: relative;
    border-radius: 0px 20px;
    padding-left: 2%;
    /* padding: 2em; */
}

.home_sign_in .content .auto_sign_in,.home_sign_in .content .forget,.floating__label {
    color: #9f9fa0 !important;
    font-size: 12pt;
    font-weight: bold;
}

.home_sign_in .floating__input::placeholder {
    color: #7f7f7f;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

.home_sign_in .floating:not(.code) input {
    border-bottom: 1px solid #9f9fa0;
    width: 95%;
    color: #000;
    background: #ffffffbd;
    border-radius: 0px 10px;
    height: 32pt;
    padding-left: 40px;
}

.home_sign_in .code input {
  border-bottom: 1px solid #ffffff;
    color: #fff;
    height: 24pt;
    width: 100%;
}

.home_sign_in .code input::placeholder {
    color: #fff;
}

.home_sign_in .floating {
    position: relative;
    margin-bottom: 20px;
}

.floating img {
  position: absolute;
    top: 8px;
    width: 16px;
    left: 9px;
}

.home_sign_in label {
  border: 1px solid var(--main_color1);
    height: 26px;
    position: absolute;
    top: 8px;
    left: 32px;
}


.floating.code {
    display: flex;
    width: 95%;
}

.floating.code div {
    width: 50%;
}

.floating.code div.L {
    margin-right: 5px;
}

.floating.code div.R {
    margin-left: 5px;
}

.floating.code div button#captcha,.floating.code div button#tel_submit {
    height: 24pt;
    margin: auto;
    border-radius: 0px 10px;
    padding: 0px;
    vertical-align: middle;
    display: flow-root;
    color: var(--main_color1);
}


.floating.consent .ui-checkbox {
    margin-left: -2.5em;
}

.floating.consent .context {
  color: #fff;
  text-shadow: 2px 2px 0px var(--main_color1),-2px -2px 0px var(--main_color1),-3px 2px 0px var(--main_color1),2px -2px 0px var(--main_color1);
  padding-left: 3em;
  font-size: 10pt;
}

.floating.consent label {

  /* width: 90%;
  height: max-content;
  background: unset;
  border: 0px;
  color: #fff;
  font-size: 8pt;
  text-shadow: 0 1px 0 var(--main_color1); */
  display: none;
}

.floating.consent .ui-btn.ui-checkbox-off:after
 {
    background-color: #666;
    background-color: rgba(0,0,0,.3);
    background: #fff;
    opacity: 1;
}

.floating.consent input#gridCheck1{
  display: none;
}

.floating.consent input#agree{
  /* display: none; */
  width: 17px !important;
  font-size: 12px;
  left: 44px;
  top: 5px;
  z-index: 9;
}


.form-check.form-check-inline {
    height: 19px;
    width: 66px;
    margin-top: -30px;
}

.floating.sexSel {
  display: flex;
  text-align: right;
  position: absolute;
  right: 40px;
}

.form-check.form-check-inline input {
    /* display: none; */
    width: 17px !important;
    font-size: 12px;
    left: 44px;
    top: 11px;
    z-index: 9;
}

.form-check.form-check-inline label {
    background: unset;
    border: 0px;
    display: none;
}

.form-check.form-check-inline .ui-btn:after {
    background: #fff;
    opacity: 1;
    border: 2px solid var(--main_color1);
}

.floating.sexSel img {
  position: relative;
    top: 8px;
    width: 18px;
    left: 22px;
}

.content {
    display: flex;
}

div#Register {
    padding: 0px;
}
