.contect_0_F {
    display: flex;
    font-size: 10pt;
    line-height: 12pt;
    width: 100%;
}

.contect_0_title{
    border-radius: 10px 0;
    border-bottom: 1px solid #aaa;
    background: #eee;
}

.contect_0_title ul{
    margin: 5px 0 5px 0;
}

.contect_0_L,.contect_0_R {
    display: flex;
    font-size: 10pt;
    line-height: 12pt;
    width: 100%;
    position: unset;
}

.contect_0_L ul, .contect_0_R ul, .contect_0_F ul {
    list-style-type: none;
}

.contect_0 {
    display: inline-flex;
    width: 100%;
    margin-top: 5px;
}


.contect_0_F .Fr {
    text-align: start;
    font-weight: bold;
    font-size: 12pt;
    margin-left: 0px;
}


.contect_0_L .Fr, .contect_0_R .Fr {
    text-align: end;
    font-weight: bold;
}

.contect_0_L .La .pos, .contect_0_R .La .pos {
    position: absolute;
}

.contect_0 .La span {
    /* border-width: 1px; */
    /* border-style: outset; */
    /* border-radius: 9px; */
    /* border-color: #5229822e; */
    margin: 2px;
    /* padding: 2px; */
}

.contect_0_R img, .contect_0_L img {
    width: 15px;
}

ul.La {
    margin-left: -20px;
    font-size: 9pt;
}



.contect_0_L ul.La li, .contect_0_R ul.La li, .contect_0 ul.La li  {
    border-bottom: 1px solid #eee;
}

.contect_0_L ul.Fr li,.contect_0_R ul.Fr li  {
    color: #ccc;

}

.contect_0 li {
    line-height: 17pt;
    color: #000;
    margin-left: 8px;
}

.contect_0_Full .Full {
    display: flex;
    list-style-type: none;
    margin-bottom: 0px;
}

.contect_0_Full .Full li {
    width: 74px;
    border: 2px solid #ccc;
    border-radius: 0 5px;
    margin: 3px;
    text-align: center;
    font-size: 10pt;
    padding: 3px 0;
}

.contect_txt span {
    font-size: 10pt !important;
    line-height: 12pt;
}

.contect_txt {
    padding: 10px 28px 0 28px;
}


.contect_map_txt ul li {
    color: #4a257b !important;
}

.contect_map_txt ul {
    text-align: center !important;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px 0;
    margin: 10px 5px 5px 5px;
    font-size: 12pt;
    padding: 7px 0;
    letter-spacing: 3px;
    background: #fff;
    color: #4a257b;
    box-shadow: 3px 4px 6px rgb(0 0 0 / 46%);
}

.contect_map_txt {
    display: flex;
    bottom: 0px;
    position: fixed;
    width: 93%;
}

contect_map_txt li {
}


data.rows_content h3 a, data.rows_content div, data.rows_content price {
    color: #FFF !important;
    font-size: 10pt !important;
    line-height: 16pt;
}

.commodity collect {
    position: absolute;
    display: inline-block;
    width: 8%;
    top: 6%;
    right: 6%;
}

.commodity h3.title.big_2 {
    margin: auto;
}

.commodity .title_2 {
    display: flex;
    text-align: start;
}

.commodity .title_2>img {
    height: 1em;
    width: 1em;
    margin-right: 5px;
}

.commodity .title_4 {
    text-align: start;
}

.commodity .title_4>ul {
    margin: auto;
}

.rows_content{
    position: absolute;
    bottom: 0px;
    background: #363636a8;
    width: 100%;
    display: flex;
    height: 73px;
}

.rows_content .title_4>ul{
     display: inline-flex;
     list-style-type: none;
 }

.rows_content .title_4>ul>li{
    margin-right: 5px;
}

.data_wrap{
    padding: 0 15px;
}

.data_wrap .commodity .slick-slide{
    width: 100%;
    margin: 0px 0px 5px 0px;
    overflow: hidden;
    border-radius: 5px;
}

.rows_content .rows_content_1 .title .big_2{
    text-align: left;
}

.rows_content_1{
    position: absolute;
    padding-left: 5px;
    width: 60%
}

.rows_content_2{
    position: absolute;
    padding-right: 5px;
    width: 50%;
    text-align: end;
    right: 0px;
}

.photo_row{
    border-radius: 0;
}

hr{
    margin: 20px;
}