.contect_0_L,
.contect_0_R {
    display: flex;
    font-size: 10pt;
    line-height: 12pt;
    width: 50%;
}

.contect_0_L ul,
.contect_0_R ul {
    list-style-type: none;
}

.contect_0_L .Fr,
.contect_0_R .Fr {
    text-align: start;
    font-weight: bold;
}

ul.La {
    margin-left: -30px;
}

.contect_0_Full .Full {
    display: flex;
    list-style-type: none;
    margin-left: -31px;
}

.contect_0_Full .Full li {
    width: 90px;
    border: 2px solid #ccc;
    border-radius: 0 5px;
    margin: 3px;
    text-align: center;
}

.contect_txt span {
    font-size: 10pt !important;
    line-height: 12pt;
}

.contect_txt {
    padding: 10px 28px 0 28px;
}

.contect_map_txt ul {
    text-align: center !important;
    width: 100%;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 0 5px;
    margin: 10px 5 5 5;
    font-size: 14pt;
    padding: 5px 0;
    letter-spacing: 5px;
    background: var(--main_color2);
    color: var(--main_color1);
    box-shadow: 3px 4px 6px rgb(0 0 0 / 46%);
}

.contect_map_txt {
    display: flex;
    bottom: 0px;
    position: fixed;
    width: 93%;
}

contect_map_txt li {}

.contect_5 .conditions .b_div,.contect_5_5 .conditions .b_div,.contect_6 .conditions .b_div{
  width: 100%;
}

.contect_5 .conditions,.contect_5_5 .conditions,.contect_6 .conditions {
      display: inline-block;
      position: relative;
  }

.contect_5 .conditions ul,  .contect_5_5 .conditions ul,.contect_6 .conditions ul {
    z-index: 1;
    position: absolute;
    top: 10px;
}

.contect_5 .conditions .b_div .b_div_editer,.contect_5_5 .conditions .b_div .b_div_editer,.contect_6 .conditions .b_div .b_div_editer {
    margin-left: 10%;
    padding-left: 10%;
}

.contect_6 .conditions .b_div .b_div_editer .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset.min_editer {
    margin-left: 0%;
}

.b_div_editer div {
  width: 22% !important;
  margin-right: 15% !important;
}

.conditions {
    display: inline-flex;
    font-size: 10pt;
    line-height: 1.9vh;
    width: 100%;
    margin-top: 15px;
    border-bottom: 1px solid #cccccc36;
}

.conditions .head {
    width: 13%;
}

ul.head li {
    color: #ccc;
    font-weight: bold;
}

.conditions .buttons {
    display: flex;
    padding-bottom: 5px;
}

.conditions .b2_div {
  margin: auto;
  /* width: min-content; */
}

.conditions .b_div {
    width: 87%;
    padding: 0 20px;
    text-align: end;
}

.conditions ul {
    list-style-type: none;
    margin: auto 0;
    padding-left: 6px;
}

.conditions li,.conditions label {
    font-size: 2.2vh;
    line-height: 3vh;
}


.conditions .buttons li {
  border: 1px solid #ccc;
  width: 24%;
  text-align: start;
  border-radius: 15px;
  margin: 0 5px;
  padding: 5px;
  color: #fff;
  width: 22%;
  text-align: center;
  padding: 10px 20px;
  width: max-content;
}

.select_box li.buttons_checkes {
color: #000 !important;
font-size: 16pt !important;
overflow: unset;
/* height: 4.3vh; */
background: #fff !important;
box-shadow: 0px 0px 5px 6px rgb(255 255 255 / 32%);
}

.select_box li.buttons_checkes,.conditions .buttons li,.conditions .buttons.fixshow li,.buttons_checkes,.conditions.under .buttons_checkes{
  line-height: 1.5em;
}

.conditions .buttons.fixshow li {
    border: 1px solid #ccc;
    width: 24%;
    text-align: start;
    border-radius: 15px;
    margin: 0 5px;
    padding: 5px;
    color: #666;
    width: 33%;
    text-align: center;

}

.conditions.under .buttons li {
    border: 1px solid #ccc;
    font-size: 2.2vh;
}

.head li {
    letter-spacing: 0px;
    font-size: 2.6vh;
    line-height: 3vh;
}


/*線條的 start */

.slider .complete {
    background-color: #CCC !important;
}

.slider .backside {
    background-color: #cccccc5c !important;
}

.slider .marker {
    background-color: #867594 !important;
}


/*線條的 end */

.ui-btn-corner-all,
.ui-btn.ui-corner-all,
.ui-slider-track.ui-corner-all,
.ui-flipswitch.ui-corner-all,
.ui-li-count {
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.ui-btn {
    font-size: 7px;
}

.marker.marker-max.ui-btn.ui-shadow.ui-corner-all {
    left: 90%;
    margin-top: 0px !important;
}

.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head+body .ui-btn.ui-btn-a:hover {
    background-color: var(--main_color2);
}

.conditions .buttons_c {
    /* display: flex; */
}

.contect_1 .b_div {
    margin: auto 5px;
}

.ui-input-text,
.ui-input-search {
    margin: 0;
    border-width: 0px;
    border-style: none;
}

.buttons_c li a,
.buttons_c a {
    color: #333;
}

.d-menu li {
    border-radius: 20px;
    box-shadow: 0 -2px 14px rgba(0, 0, 0, .15);
}

.d-menu li a,
.v-menu li a {
    line-height: 30px;
    height: 30px;
}

.buttons_checkes {
    /* border: 2px solid #333 !important; */
    color: #FFF !important;
    font-size: 2vh !important;
    overflow: hidden;
    /* height: 3.2vh; */
    background: #666;

}

.conditions.under .buttons_checkes {
    /* border: 2px solid #333 !important; */
    color: #FFF !important;
    font-size: 2.3vh !important;
    overflow: hidden;
    /* height: 3.2vh; */
    background: #666;
    font-weight: bold;
}

.zipcodes_li .ui-checkbox .checkbox {
    margin: 0px -34px 0 18px;
    height: 20px;
}

.zipcodes_li .ui-checkbox {
    z-index: 1;
    display: none;
}

.checkbox.style2 .check::before {
    border-color: var(--main_color1);
}

.checkbox.style2 input[type=checkbox]:checked~.check {
    border-color: var(--main_color1)40;
    background-color: #ffffff;
}

.checkbox.style2 .check {
    border-color: var(--main_color1);
}

.check_zone {
    color: #333 !important;
    font-size: 4vw !important;
}

.zipcodes_li .zipcodes {
    color: #999;
}

.zipcodes_li .zipcodes_ok {
    color: var(--main_color1);
    font-size: 6vw;
    font-weight: bold;
}

.b_div_editer div {
    width: 40%;
    border: 0;
    margin: auto;
    height: 14pt;
    box-shadow: none !important;
}

.b_div_editer {
    display: flex;
    margin: 10px;
}

.b_div_editer input {
    font-size: 12pt !important;
    text-align: end;
    top: 0px;
    border: 0px !important;
    letter-spacing: 2px;
    font-weight: bold;
    height: 18px !important;
    /*border-bottom: 1px solid #000 !important;*/
    min-height: 0;
    border-radius: 0px;
    width: 6em !important;
}

.ui-shadow-inset {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.Scale_txt,
.Sroom_txt {
    display: flex;
    margin-bottom: 11px;
    text-align: end;
    margin-left: 3px;
    margin-right: 5px;
    margin-top: 20px;
}

.Sroom_txt div {
    width: 24%;
    height: 5px;
}

.Scale_txt div {
    width: 24%;
    height: 5px;
}

.Scale {
    display: flex;
    margin-bottom: 2px;
    margin-right: 7px;
    margin-left: 7px;
}

.Scale div {
    width: 10%;
    height: 5px;
    border: 1px solid #FFF;
    border-top: 0px solid #000;
}

:root {
    --main_color1: #71508e;
    --main_color2: #fff100;
    --normal_color: #555;
    --dark_color: #222;
    --light_color: #aaa;
}

.b_div_editer span {
    line-height: 15pt;
    z-index: 1;
}

.contect_5 .conditions {
    height: 60px;
}

.contect_8 button {
    margin-left: 5%;
    width: 90%;
    border: 1px solid #CCC;
    border-radius: 9px !important;
    background: #867594 !important;
    color: #FFF !important;
    letter-spacing: 53px;
    text-align: center;
    font-weight: 100;
    font-size: 14pt;
    padding: 4px;
}

.ui-field-contain {
    height: 44px;
    overflow: auto;
    width: 80%;
    margin: auto;
}

.ui-field-contain::-webkit-scrollbar {
    display: none;
}

.ui-field-contain label {
    font-size: 12pt;
    /* height: 25px; */
    background: #FFF;
    border: 0px;
    text-align: center;
    padding: 2px;
}

.ui-field-contain label:hover {
    background: #FFF !important;
    color: #000 !important;
    ;
}

.ui-radio .ui-btn:after {
    display: none;
}

fieldset.ui-controlgroup.ui-controlgroup-vertical {
    border-radius: 0px !important;
}

.ui-radio-on {
    background: #666 !important;
    color: #FFF !important;
    font-weight: normal !important;
}

.more div {
  /* margin: auto; */
/* width: fit-content; */
margin-top: 15px;
}

.more svg {
    /* margin: 0 2px 7px 2px; */
    /* vertical-align: text-top; */
    font-size: 9pt !important;
    margin: 0 3px;
    vertical-align: -webkit-baseline-middle;
}

.more span {
    margin: auto;
    vertical-align: -webkit-baseline-middle;
    padding: 0 10px;
}



.more {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: : #989898;
    left: 0px;
    text-align: center;
    font-size: 12pt;
    background: #FFF;
    cursor: pointer;
    z-index: 90;
    /* box-shadow: 0 -18px 10px rgba(0, 0, 0, .15); */
    height: 8rem;
}

#search_form {
    /*height: 424px;*/
    overflow: hidden;
    /* border-bottom: 2px solid #CCC; */
    border-radius: 20px;
}

.v_no {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 1px;
    color: #ccc;
    z-index: 9999;
}

#search_box .icon {
    width: 24px;
    position: absolute;
    right: 26px;
    top: 7px;
}

.contect_8 {
    display: none;
}

/* 09.28 */

.contect_3 ul.buttons,.contect_4 ul.buttons {
    display: none;
}

.contect_3 .b_div,.contect_4 .b_div,.contect_7 .b_div {
    margin: auto;
}

ul.head {
    text-align: center;
}

/* 09.28 */
.slider {
    margin: 10px 0;
}

.contect_6 {
    height: 140px;
}

.contect_7 {
    height: 240px;
}

.contect_5 .conditions {
    height: 110px;
}

div#search_box div#search_text input#search{
  border-radius: 10px;
  width: 90%;
}

.slider .marker {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

.b_div label .fa-plus-square {
    margin: 0 5px;
}

.dropdown-toggle::before{
  content: none !important;

}

.conditions .buttons_c a{
  padding: 0px !important;
}
