nav.menu_buoy a {
    font-size: 12pt;
}

.ui-link-house_choose,
.ui-link-main_house_class,
.ui-link-types,
.ui-link-type,
.ui-link-county,
.ui-link-city {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #424242e8;
    text-align: center;
    z-index: 9;
    overflow-x: auto;
    display: none;
}

.ui-link-house_choose-selter,
.ui-link-main_house_class-selter,
.ui-link-types-selter,
.ui-link-type-selter,
.ui-link-county-selter,
.ui-link-city-selter {
    display: grid;
    line-height: 44px;
    width: 100%;
    height: auto;
}

.ui-link-house_choose-selter a,
.ui-link-main_house_class-selter a,
.ui-link-types-selter a,
.ui-link-type-selter a,
.ui-link-county-selter a,
.ui-link-city-selter a {
    color: #FFF !important;
}

.ui-link-house_choose-selter a:hover,
.ui-link-main_house_class-selter a:hover,
.ui-link-types-selter a:hover,
.ui-link-type-selter a:hover,
.ui-link-county-selter a:hover,
.ui-link-city-selter a:hover {
    color: #FFF !important;
}

data.rows_content h3 a,
data.rows_content div,
data.rows_content price {
    color: #FFF !important;
    font-size: 10pt !important;
    line-height: 16pt;
}

#search_box {
    width: 10%;
    margin: 0px 0px 0px 0px;
}


/*
form#search_form {
    position: absolute;
    bottom: 0px;
    width: 98%;
    background: #FFF;
    margin: 0 1%;
}
*/

.slide_photo.uk-slideshow {
    position: relative;
}