:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

#Coupon{
    overflow-x: unset;
}


.rich_share_wrap{
    /* background-image: url('../APP 創富分享_files/bg.jpg'); */
    width: 100%;
    height: 800px;
    padding: 0px 15px;
}

.rich_share_wrap .bg{
    position: relative;
    z-index: 1;
}

section.one{
    position: absolute;
    top: 43vw;
    left: 48%;
    right: 5%;
    z-index: 2;
}

section.two{
    position: absolute;
    top: 110vw;
    left: 5%;
    right: 48%;
    z-index: 2;
    text-align: right;
}

section.three{
    position: absolute;
    top: 185vw;
    left: 48%;
    right: 5%;
    z-index: 2;
}

section h4{
    color: red;
    font-weight: bold;

}

section p{
    position: relative;
}

section.one p span{
    margin-right: 5px;
}

section.two p span{
    margin-left: 5px;
}

section.one p span img, section.two p span img, section.three p span img{
    width: 10%;
    max-width: 23px;
}

.ui-content {
    overflow-x: unset!important;
}