{$breadcrumbs_htm}
<div class="ExpertAdvisor_wrap" style="margin: 0 auto;">
    <div class="item_wrap">
      <div class="title">加入生活</div>
      <div class="item_list">
        <a class="" href="/WealthSharing">生活家族</a>
        <i></i>
        <a class="" href="/WealthSharing">加盟樂租</a>
        <i></i>
        <a class="" href="/Store">菁英招募</a>
      </div>
    </div>
    <img src="\themes\Rent\img\expertadvisor\banner.png" style="width: 100%;">
    <img src="\themes\Rent\img\expertadvisor\content.svg" style="width: 100%;">
    <!-- <img src="\themes\Rent\img\expertadvisor\logos.svg" style="width: 100%;"> -->
    <img src="\themes\Rent\img\expertadvisor\banner_3.svg" style="width: 100%;">
    <div class="button" id="JoinMasterbutton"><a href="##" onclick="start_form()">
      <img src="\themes\Rent\img\expertadvisor\bottom.svg"></a>
    </div>
    <div class="form_main">
      {include file="../../master/master.tpl"}
    </div>
</div>
