#sortable .ui-state-default, .draggable_div .ui-state-default, #sortable .placeholder{
	padding: 8px;
	width: 500px;
	padding-left: 40px;
	position: relative;
	margin: 5px;
	border: 1px solid #c5c5c5;
	min-width: 500px;
	background: #f6f6f6;
	min-height: 40px;
}
#sortable .placeholder{
	border: 1px dotted #c5c5c5;
}
#sortable .item-depth-0{
	margin-left: 0;
}
#sortable .item-depth-1{
	margin-left: 50px;
}
#sortable .item-depth-2{
	margin-left: 100px;
}
#sortable .item-depth-3{
	margin-left: 150px;
}
#sortable .item-depth-4{
	margin-left: 200px;
}
#sortable .item-depth-5{
	margin-left: 250px;
}
.draggable_div .ui-state-default{
	display: inline-block;
}
#sortable .move,.draggable_div .move{
	position: absolute;
	left: 10px;
	top: 13px;
	display: inline-block;
	-ms-transform: scale(2);
	/* IE 9 */-webkit-transform: scale(2);
	/* Chrome, Safari, Opera */transform: scale(2);
	background-color: #e3e3e3;
}
#sortable .ui-sortable-placehold{
	border: 1px dotted #c5c5c5;
}
.draggable_div, #sortable{
	margin: -5px;
}
#sortable .ui-state-default *{
	vertical-align: top;
}
#sortable .ui-state-default ul{
	min-height: 40px;
	display: inline-block;
}