.news_div h1.title{
	text-align: center;
	color: #024aa1;
	margin: unset;
	margin-bottom: 30px;
}
.news_div samp.time{
	position: absolute;
	left: 1em;
	top: 55px;
}
.news_div .type{
	font-size: 18px;
	position: absolute;
}
.news_div .type samp{
	font-family: 'Noto Sans TC', sans-serif;
}
.news_div{
	border: 1px solid #5f8bc0;
	position: relative;
	padding: 1em;
	margin: 0 auto 1em auto;
	max-width: 900px;
	border-radius: 15px;
}
.news_div i.top{
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 50px;
	color: #5f8bc0;
}
.news_div samp.time,.news_div samp.release{
	font-family: unset;
}
.news_div .p_red{
	color: red;
}
.news_div .p_yellow{
	color: #eed924;
}
.news_div .p_blue{
	color: #0000ba;
}
.news_div .p_green{
	color: #008000;
}
.news_div .p_gray{
	color: gray;
}