﻿<nav class="menu_buoy minor">
	<div>
		<a href="/coupon"{if in_array($page, ['coupon', 'want_coupon', 'give_coupon', 'search_store'])} class="active"{/if}>生活好康</a>
		<a href="/InLife" {if $page=='In_Life'} class="active"{/if}>
			活動分享
		</a>
{*		<b></b>*}
		<a href="/LifeGo" {if $page=='LifeGo'} class="active"{/if}>
			生活樂購
		</a>
		<buoy></buoy>
	</div>
</nav>
