/* 共用 Start */
/* No footer Start*/
#index.page,#login.page,#register.page{
	z-index: 11;
	padding-bottom: unset;
}
.ui-page-theme-a a{
	font-weight: inherit;
}
body{
	font-family: monospace,monospace !important;
}
a.ui-btn{
	font-weight: 700;
}
.dialog .orange_page .ui-btn-left{
	/*display: none;*/
}
.ui-header .ui-title, .ui-footer .ui-title{
	margin: 0 25%;
}
.screen_div{	/* 螢幕兩度按鈕 */
	/*display: none;*/
}
.file-input .ui-input-text{
	margin: unset;
}
.right_manu{
	position: absolute;
	top: .3125em;
	right: .3125em;
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.right_manu a{
	display: inline-block;
	width: 100%;
	vertical-align: text-top;
}
.border-bottom{
	border-bottom: 1px solid #e9e9e9;
}
.form-horizontal label.text-left{
	text-align: left;
}
/* No footer End*/
#c_back{
	position: absolute;
	display: none;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.4);
	left:0px;
	top:0px;
	z-index: 8;
}
p.help-block{
	font-size: 12px;
}
.gray{
	color: #b5b5b7;
}
.ui-input-text input{
	text-shadow: none;
}
.form-group img{
	max-width: 100%;
}
.form-horizontal .form-group{
	margin-left: unset;
	margin-right: unset;
}
.form-horizontal label{
	text-align: right;
	min-width: 6em;
}
.panel-default>.panel-heading {
	color: #333;
	background-color: unset;
	border-bottom: 0px solid;
}
.nopadding {
	padding: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin: 0 !important;
}
.panel-default{
	position: relative;
}
.float-right{
	float: right;
}
.content_txt{
	line-height: 1.5em;
}
body .label{
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding-bottom: 2px;
	padding-right: 0;
}
body hr{
	border-top: 1px solid #fcb01e;
	margin-top: 0px;
	margin-bottom: 1em;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
	border-color: #fcb01e;
}
.ui-page-theme-a .ui-flipswitch.ui-bar-inherit{
	border-color: #e9e9e9;
}
.hidden{
	display: none !important;
}
.inline-block{
	display: inline-block;
}
.file-footer-buttons{
	letter-spacing: 0px;
}
/* File Up Start*/
.file-drop-zone, .file-preview {
	margin: unset !important;
}
/* File Up End*/
.file-footer-buttons a,.file-footer-buttons button{
	display: inline-block;
	height: 30px !important;
	width: 34px !important;
	padding: 5px 10px !important;
	background-color: unset !important;
	border-color: #e6e6e6 !important;
	color:  unset !important;
	text-shadow: unset !important;
}
.file-footer-buttons a:hover,.file-footer-buttons button:hover{
	background-color: #e6e6e6 !important;
}
.file-footer-buttons a i,.file-footer-buttons button i{
	line-height: 18px;
	font-size: 12px;
}
.p_red{
	background-color: #f499a0;
	color: #fff;
}
.p_yellow{
	background-color: #fcd381;
	color: #fff;
}
.p_blue{
	background-color: #9ac6e3;
	color: #fff;
}
.p_green{
	background-color: #bddb79;
	color: #fff;
}
.p_gray{
	background-color: #b5b5b7;
	color: #fff;
}
.p_red, .p_yellow, .p_blue, .p_green, .p_gray{
	padding: 2px 5px 0px;
	text-align: center;
	line-height: 1.5em;
	display: inline-block;
	text-indent: 2.4px;
	border-radius: 5px;
}
.small_gray{
	font-size: 12px;
	color: #b5b5b7;
}
.small{
	font-size: 12px;
}
/**/
.panel-body{
	padding:unset;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color: #38c !important;
	border-color: #38c !important;
	color: #fff !important;
	text-shadow: 0 1px 0 #059 !important;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background-color: #fff;
	text-shadow: unset !important;
}
.ui-header{
	top: 0px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	border-width: 0px;
}
.ui-header .ui-title{
	font-size: 1.3em;
	padding: 14px;
}
.ui-header .ui-btn-left{
	width: 40px;
	height: 40px;
}
.ui-header .ui-icon-carat-l:after{
	background-size: 18px;
}
.ui-radio .ui-btn{
	padding: 6px 10px 6px 40px;
}
body>.page{
	z-index: 1;
	height: 100%;
	padding-bottom:50px;
	padding-top: 50px;
}
.orange_page{
	background: #fcb01e !important;
	color: #fff !important;
}
body, .orange_page{
	text-shadow: unset !important;
	letter-spacing: 0.1em;
}
html head + body .ui-body-a.ui-focus,.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus {
	-webkit-box-shadow:unset;
	-moz-box-shadow:unset;
	box-shadow:unset;
}
.orange_page .ui-icon-carat-l:after {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2210.596%2C11.949%205.646%2C7%2010.596%2C2.05%208.475%2C-0.071%201.404%2C7%208.475%2C14.07%20%22%2F%3E%3C%2Fsvg%3E");
}
.orange_page input[type="text"],.orange_page input[type="email"],.orange_page input[type="password"],input[type="text"].orange_page{
	background: #fcb01e;
	color: #fff;
	border: 1px solid #fff;
}
.orange_title{
	display: block;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #fcb01e;
	font-weight: lighter !important;
}
.orange_page input::-webkit-input-placeholder,
.orange_page input::-moz-placeholder,
.orange_page input:-ms-input-placeholder,
.orange_page input:-moz-placeholder{
	color:#fff;
	text-shadow: unset;
}
.orange_page input::-webkit-input-placeholder, input.orange_page::-webkit-input-placeholder { color:#fff;text-shadow: unset; }
.orange_page input::-moz-placeholder, input.orange_page::-moz-placeholder { color:#fff;text-shadow: unset; } /* firefox 19+ */
.orange_page input:-ms-input-placeholder, input.orange_page:-ms-input-placeholder { color:#fff;text-shadow: unset; } /* ie */
.orange_page input:-moz-placeholder, input.orange_page:-moz-placeholder { color:#fff;text-shadow: unset; }
.orange_page .ui-btn{
	color: #fcb01e !important;
}
.orange_page .ui-flipswitch-on.ui-btn,.orange_page a,.orange_page a:hover,.orange_page a:focus,.orange_page a:visited,.orange_page a:focus-within,.orange_page a:active{
	color: #fff !important;
}
.black_content{
	font-weight: initial;
	color: #000;
}
/**/
.ui-header,#footer.footer{
	text-indent: 0.2em;
	position: fixed;
	width: 100%;
	min-height: 50px;
	z-index: 10;
}

.panel-footer button.btn{
	background: #fcb01e !important;
	color:#fff;
	text-shadow: unset;
}
.ui-page-theme-a button.ui-btn:hover, html .ui-bar-a button.ui-btn:hover, html .ui-body-a button.ui-btn:hover, html body .ui-group-theme-a button.ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover{
	text-shadow: unset;
	color:#fff;
}
.h_center{
	position: absolute;
	top: 50%;
	width: 100%;
	left: 0px;
}
.icon{
	vertical-align: middle;
}
.panel-footer button.btn{
	margin: unset;
	border-radius: 0 0 .3125em .3125em;
	border-radius: 5px;
}
.panel-footer{
	padding: unset;
	padding-top: 0.5em;
	border-top: unset;
	background-color: unset;
}
label.required:before {
	content: "*";
	vertical-align: middle;
}
.ui-page-theme-a a,.ui-page-theme-a a:hover,.ui-page-theme-a a:focus,.ui-page-theme-a a:visited,.ui-page-theme-a a:focus-within,.ui-page-theme-a a:active,
a,a:hover,a:focus,a:visited,a:focus-within,a:active{
	text-decoration:none;
	color: #fcb01e;
}
.pointer{
	cursor:pointer;
}
.ui-header>a.ui-alt-icon.ui-nodisc-icon.ui-btn-left.ui-btn.ui-icon-carat-l.ui-btn-icon-notext.ui-shadow.ui-corner-all{
	border: unset;
	border-radius: unset;
	box-shadow: unset;
	background-color: unset !important;
}
.ui-page-theme-a a.cancel{
	color: #333;
}
.footer_box-shadow{
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.transition{
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-transition:all 0.3s;
}
.page .ui-header h1.ui-title{
	overflow-y: unset;
	overflow-x: unset;
}
body>.footer{
	display: table;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: #fff;
	border: unset;
	height: 50px;
	font-size: 12px;
	font-weight: 100;
	z-index: 2;
}
body>.footer>div{
	display: inline-block;
}
body>.footer>div{
	padding-top: 5px;
	display: table-cell;
	text-align: center;
}
body>.footer>div a{
	padding-left: 0.2em;
	display: inline-block;
}
.footer a,.footer a:active,.footer a:hover,.footer a:focus,.footer a:visited,.footer a:focus-within{
	color: #fcb01e;
}
.footer img{
	width: 25px;
	display: block;
	margin: 0 auto;
	margin-bottom: 3px;
}
/* 共用 End */
/* 列表 Start */
.list a[id^="tr_"]{
	position: relative;
	display: block;
	border-bottom: 1px solid #fcb01e;
	padding-top: 0.5em;
	font-weight: lighter !important;
}
/* 列表 End */
/* 選單 Start */
.open_btn{
	position: absolute;
	z-index: 1;
	top: .3125em;
	left: .3125em;
}
.close_btn, .open_btn{
	cursor:pointer;
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.menu_shadow{
	display: none;
	position: fixed;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index:99;
}
.side_menu{
	position: absolute;
	top: 0px;
	left: -80vw;
	z-index: 100;
	width: 80vw;
	height: 100%;
	font-size: 18px;
	background-color: #fffc;
	overflow-y: auto;
}
.side_menu .close_btn{
	position: absolute;
	right: 0px;
}
.menu_top {
	height: 180px;
	background-color: #fcb01e;
	padding: 16px;
	position: relative;
	color: #fff;
}
.menu_top h3{
	margin-top: unset;
	margin-bottom: unset;
}
.menu_top .user{
	height: 122px;
	position: relative;
}
.menu_top .name,
.menu_top .house_code{
	position: absolute;
	top:50%;
	margin-top: -0.5em;
}
.menu_top.two .name{
	margin-top: -1.5em;
}
.menu_top.two .house_code{
	margin-top: 0.5em;
}
.main_menu a,.main_menu .subs a{
	position: relative;
	display: block;
	padding-left: 16px;
	padding-right: 16px;
}
.main_menu a[data-menu]:after{
	font-family: 'Glyphicons Halflings';
	content: "\e080";
	position: absolute;
	right: 0px;
}
.main_menu img {
	width: 1.3em;
	position: absolute;
	margin-left: -1.3em;
}
div.menu_level{
	height: 100%;
	width: 100%;
	background-color: #fff;
	border-right: 1px solid #e9e9e9;
}
div.menu_level>div a>div,
div.menu_level>div>div div>a>div{
	border-bottom: 1px solid #e9e9e9;
}
div.menu_level>div>a>div,
div.menu_level>div>div div>a>div{
	padding: 1em;
	padding-left: 5em;
	padding-right: 2em;
}
div.menu_level>div>div.subs  div>a>div{
	padding-left: 6.7em;
}
div.menu_level>div>a .txt{
	width: 8em;
	padding-left: 0.5em;
}
.main_menu .subs{
	display: none;
}
.main_menu div>i{
	position: absolute;
	right: 1.5em;
	top: 1em;
}
.main_menu .active div>i{
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}
/* 選單 End */
/* 首頁 Start */
#index.page .logo {
	display: none;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	left: 0px;
}
#index.page .logo img{
	position: absolute;
	width: 100px;
	margin-top: -64px;
	margin-left: -50px;
}
/* 首頁 End */
/* 登入 Start */
#login.orange_page a.register.ui-btn{
	color: #fcb01e !important;
}
/* 登入 End */
/* Home Start */
#home #Home .h_center{
	margin-top: -50px;
}
/* Home End */
/* 最新消息 Start*/
form#news .id_news_type{
	bottom: unset;
}
/* 最新消息 End*/
/* 註冊 Start*/
#register .ui-radio, #member .ui-radio{
	display: inline-block;
	margin: 0 1em 0 0;
}
/* 註冊 End*/
/* 擋按上傳 Start */
.file-preview button.close.fileinput-remove{
	display: none;
}
.ui-state-disabled{
	opacity: 1;
	cursor: default !important;
	pointer-events: unset;
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-state-disabled.ui-shadow-inset,
.ui-page-theme-a .ui-body-inherit,
.form-group .ui-shadow-inset {
	box-shadow: unset;
	border: 0px;
}
/* 擋按上傳 End */
/* 照片 Start */
.take_photo_div .img_div{
	text-align: center;
	/*display: inline-block;*/
	margin: 8px 0px;
	/*float: left;*/
}
/* 照片 End */
/* Barcode 圖 Start */
.barcode_img{
	width: 100%;
	max-width: 300px;
	min-height: 100px;
}
/* Barcode 圖 End */
/* 信件 Start */
#letter .list .pickup{
	padding-right: 4em;
	margin-top: 0.3em;
}
#letter .input-group-addon {
	display: inline-block;
	padding: unset;
	font-size: 0.8em;
	font-weight: unset;
	line-height: unset;
	color: unset;
	text-align: unset;
	background-color: unset;
	border: unset;
	border-radius: unset;
}
#letter .list .collar_date{
	padding-right: 0.5em;
	margin-top: 0.3em;
}
#letter .form-group{
	border: 1px solid #dedede;
	margin-bottom: -1px;
}
#letter .form-group .control-label{
	background-color: #bfbfbf;
	color: #fff;
	font-weight: bold;
}
#letter .form-group.take_a_photo{
	border: unset;
	margin-bottom: unset;
}
#letter .form-group>*{
	display: inline-block !important;
	float: unset !important;
	padding: 0.5em !important;
}
/* 信件 End */
/* 公設預約 Start */
#public .title{
	line-height: 1.2em;
}
#public #cancel_on{
	color: #f00;
}
#public .view_time{
	padding: 4px 6px;
	margin: unset;
	position: absolute;
	top: 0px;
	right: 0;
	font-size: 12px;
}
#public span.number{
	position: absolute;
	right: 0px;
	top: 0px;
}
#public .view {
	line-height: 1.5em;
}
#public .div_time{
	position: relative;
}
#public #description{
	overflow: hidden;
	max-height: 100px;
	position: relative;
	min-height: 2em;
}
#public .more{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	position: absolute;
	bottom: 0px;
	padding-top: 0.5em;
	text-align: center;
	cursor: pointer;
	width: 100%;
}
#public .list>a{
	position: relative;
}
#public .list a{
	display: block;
	border-bottom: 1px solid #fcb01e;
	padding-bottom: 1em;
	margin-bottom: 0.5em;
}
#public .list .time_slot{
	font-size: 16px;
	padding-top: 0.5em;
	display: inline-block;
}
#public .list .id_web{
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 0.3em;
}
#public label{
	display: inline-block;
	margin-bottom: 0.4em;
}
.h_div{
	overflow: auto;
}
.open_time{
	font-size: 12px;
}
.open_time thead td{
	padding: 0 2px;
	min-width: 3em;
}
.open_time td{
	text-align: center;
	line-height: 3em;
	width: 3em;
	height: 3em;
	border: 1px solid #c5c5c5;
}
.open_time td.active{
	background-color: #86d4ea;
}
.block{
	display: block;
}
.block-center {
	margin: 0 auto;
}
#reservation label.required:before{
	content:unset;
}
#reservation>div{
	margin-bottom: 0.4em;
}
#date_error, .error{
	color: #a94442;
}
samp.unit{
	color: #38c;
}
/* 公設預約 End */
/* 我的信箱 Start */
#message .message{
	display: block;
	border-bottom: 1px solid;
	font-size: 16px;
	border-color: #fcb01e;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	padding-top: 1.5em;
}
#message .house_code{
	font-size: 12px;
	color: #b5b5b7;
	float: right;
}
#message .time{
	float: left;
}
/* 我的信箱 End */
/* 瓦斯抄表 Start */
#NaturalGas .ui-content{
	line-height: 1.5em;
}
#NaturalGas input.orange_page{
	text-shadow: none !important;
	border: 0px solid #fff;;
}
#NaturalGas .new{
	position: relative;
	padding: 1em;
	background-color: #ffe5c3;
	margin: -1em;
	margin-bottom: 1em;
	padding-bottom: 28vw;
}
#NaturalGas img{
	position: absolute;
	left: 10%;
	bottom: 0px;
	width: 80%;
}
#NaturalGas .red{
	color: #f00;
	font-size: 12px;
}
#NaturalGas .list a{
	display: block;
}
/* 瓦斯抄表 End */
/* 條碼掃描 Start */
#flashbarcode label{
	display: inline-block;
}
#flashbarcode .ui-content{
	line-height: 2em;
}
#flashbarcode i{
	vertical-align:middle;
}
/* 條碼掃描 End */
/* 倒數時鐘 Start */
.countdown{
	position: relative;
	display: inline-block;
	height: 80px;
	width: 80px;
}

.countdown .cd_t,.countdown .cd_m{
	left: 0px;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
}
.countdown .cd_t i,.countdown .cd_m i,.countdown .cd_c{
	width: 50%;
	height: 80px;
	background-color: #fcb01e;
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 1;
}
.countdown, .countdown .cd_c{
	background-color: #fff;
}
.countdown .cd_c{
	left: 50%;
	z-index: 2;
	display: none;
}
.countdown .cd_t i{
	border-radius: 160px 0 0 160px;
}
.countdown .cd_m i{
	border-radius: 0 160px 160px 0;
	left: 50%;
}
/* 倒數時鐘 End */
/* 點數查詢 Start */
#points .list a{
	position: relative;
	padding-bottom: 0.5em;
}
#points .list .points{
	font-family: unset;
	float: right;
}
#points .list .spend,
#points .list .stored{
	position: absolute;
	right: 0px;
	bottom: 0.5em;
}
#points .list .spend{
	color: #f00;
}
#points .list .stored{
	color: #4CAF50;
}
/* 點數查詢 End */
/* 個人專區 Start */
#information{
	line-height: 1.5em;
}
#information label{
	display: inline-block;
	margin: 0.4em 0;
}
#information .ui-flipswitch{
	margin-left: 0.4em;
	float: right;
}
#information #del_member{
	margin: unset;
	padding: 0 8px;
	font-size: 12px;
	line-height: 24px;
	color: #000;
}
/* 個人專區 End */
/* 個人資訊 Start */
#member .ui-input-text{
	margin: unset;
}
#member .form-group>label{
	line-height: 34px;
	vertical-align: -webkit-baseline-middle;
	display: inline-block;
}
#member input.form-control{
	border: 1px solid #ccc;
}
#login div#Login {
	margin-top: 10vh;
}
/* 個人資訊 End */
/* CMS Start */
.cms ol{
	padding-left: 0.5em;
	margin-left: 0.5em;
}
/* CMS End */
/* 消費紀錄 Start */
#Points .list>div{
	position: relative;
	padding: 0.5em 0px;
	border-color: #fcb01e;
}
/* 消費紀錄 End */
/* 社區投票 Start */
#Vote .list .samp{
	border-color: #fcb01e;
}
#Vote .list .id_web{
	display: block;
	margin-bottom: 1em;
}
#Vote .dh-vote .option_list .option{
	margin-bottom: 4em;
}
#Vote .dh-vote .option_txt{
	font-size: 2em;
}
#Vote .dh-vote .description_txt{
	font-size: 1em;
}
#Vote .dh-vote .answer_list label{
	position: relative;
	font-size: 1.5em;
	padding-left: 1.5em;
	margin-bottom: 1em;
}
#Vote .dh-vote input{
	zoom: 1.5;
	display: inline-block;
	vertical-align: middle;
}
#Vote .dh-vote .required_txt{
	color: #f00;
	display: inline-block;
}
#Vote .dh-vote.view .answer_list label .ratio{
	text-align: right;
	line-height: 1em;
	white-space:nowrap;
	background-color: #ffe9be;
	border: 1px solid #ffa900;
}
#Vote .dh-vote.view .answer_list label .ratio .ticket{
	float: left;
}
/* 社區投票 End */
/* 房屋修繕 Start*/
#Service .small{
	margin-bottom: 2px;
}
#Service .title samp{
	display: inline-block;
}
#Service #calendar span.fc-title{display: none;}
#Service #calendar span.fc-time:after{
	content: "預約";
}
#Service div#calendar:before{
	content: "請點選藍色時段按鈕,來選擇會勘時段";
	color: #f00;
	position: absolute;
	top: 10px;
}
#Service @media (max-width: 620px){
	#calendar span.fc-time:after{
		display: none;
	}
}
#Service #calendar {
	position: absolute;
	background-color: #FFF;
	width: calc(100% - 10px);
	left: -110%;
	box-shadow: 0 0 15px #000;
	padding: 10px;
	padding-top: 40px;
	z-index: 9;
}
#Service #calendar a{
	color: #000;
}
#Service #calendar a .fc-content,
#Service #calendar a.fc-event {
	background-color: #f00;
	border-color: #f00;
}
#Service #calendar a span.fc-time{
	color: #fff;
}
#Service #calendar .file-drop-zone-title{
	display: none;
}
#Service .file-drop-zone-title {
	color: #0000;
}
#Service .inner_tab {
	border: 1px solid #fcb01e;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}
#service a.btn.ui-btn{
	text-shadow: unset;
	background: #fcb01e !important;
	color: #fff;
	text-shadow: unset !important;
	border:unset !important;
}
#Service #schedule_data.schedule_data_c.form-control[readonly]{
	background-color: unset !important;
}
#Service .service_annex{
	margin-top: 1em;
}
#service.view .form-group label,
#service.view .form-group label+div{
	display: inline-block;
}
#service.view .form-group label:after{
	content: "：";
}
#Service .message_list2 {
	overflow-y: auto;
	height: 350px;
	border: 1px solid #fcb01e;
	padding: 0.5em;
}
#Service .tabs_message,
#Service .tabs_push{
	border-top: 1px solid #fcb01e;
	margin-top: 1em;
}
.message_r {
	float: right;
}
#Service .tabs_message .panel-heading,
#Service .tabs_push .panel-heading {
	text-align: center;
}
#Service .view .form-group{
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
#Service .view .hr{
	border-bottom:1px solid #fcb01e;
	margin-bottom: 1em;
}
#Service #message{
	resize:none;
	height: 60px;
}
#Service .message_btn{
	display: inline-block;
	margin: unset;
	width: 70px;
	height: 60px;
}
.message_list2 .time {
	color: rgba(0, 0, 0, 0.4);
	font-size: 12px;
}
.message .input-group{
	margin-top: 10px;
}
.member_msg, .admin_msg {
	padding: 0.5em 0px;
	border-bottom: 1px solid #d8d8d8;
}
.tabs_message .form-group,
.tabs_push .form-group{
	border-bottom:unset !important;
}
.message_list .mes{
	border-bottom: 1px solid #d8d8d8;
	padding: 1em 0;
}
#service_closed_div2 {
	position: absolute;
	z-index: 9;
	background-color: #fff;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 0 10px;
	left: 15px;
	width: calc(100% - 30px);
}
#Service button.btn{
	background: #fcb01e !important;
	color: #fff;
	text-shadow: unset;
	box-shadow: unset;
}
#Service .panel-default .background_gray{
	background-color: #fafafa;
}
.ui-mobile #Service label{
	margin: unset !important;
}
#Service .tabs_service .form-group{
	line-height: 2em;
	margin: 0 -15px;
	padding: 0 15px;
}
/* 房屋修繕 End */
/* 排程計畫 Start */
#Search .fc-basic-view .fc-body .fc-row {
	min-height: 3em;
}
/* 排程計畫 End */