<section class="slider_center">

  <div>
      <a href="https://www.lifegroup.house/"><img alt="生活集團" src="/themes/Epro/img/index/logo-b-01_202101.png"></a>
  </div>
    <div>
        <a href="https://www.okdeal.house/"><img alt="生活房屋" src="/themes/Epro/img/index/logo-b-02_202101.png"></a>
    </div>
    <div>
        <a href="/Store?"><img alt="生活好康" src="/themes/Epro/img/index/logo-b-04_202101.png"></a>
    </div>
    <div>
        <a href="https://www.okmaster.life/" alt="生活好科技"><img src="/themes/Epro/img/index/logo-b-03_202101.png "></a>
    </div>
    <div>
        <a href="https://www.lifegroup.house/LifeGo"><img alt="生活樂購" src="/themes/Epro/img/index/logo-b-06_202101.png"></a>
    </div>
    <div>
        <a href=" https://www.okpt.life"><img alt="好幫手" src="/themes/Epro/img/index/logo-b-07_202101.png"></a>
    </div>
    <div>
        <a href=" https://www.okrent.tw"><img alt="共享圈" src="/themes/Epro/img/index/logo-b-08_202101.png"></a>
    </div>
    <div>
        <a href="https://www.epro.house  "> <img alt="裝修達人" src="/themes/Epro/img/index/logo-b-09_202101.png"></a>
    </div>
    <div>
    <a href="https://www.lifegroup.house/"><img src="/themes/Epro/img/index/logo-b-11_202101.png " alt="生活樂租 租事順利 I代租 ‧ 代管 ‧ 包租 ‧ 租管服務 ‧ 樂租信用認證 ‧ 安心租履約保證‧ 安心租保險 ‧ 樂租投資收益憑證 ‧ 生活樂租加盟體系 l租屋 管理 領導品牌I租屋就是快又好l"></a>
</div>
<!-- <div>
    <a href="http://www.tycrehda.org.tw/"><img src="/themes/Epro/img/index/logo-b-12_202101.png " alt="優化住宅發展 促進樂居環境"></a>
</div> -->

</section>

<script>
    $(".slider_center").slick({
        dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 9,
        slidesToScroll: 9
    });
</script>
