.fixed_postion {
    background-color: #f8f9f8;
    width: 60px;
    height: auto;
    position: fixed;
    top: 26%;
    right: 0;
    z-index: 2;
    border-radius: 20px 0 0 20px;
    display: none;
}

.fixed_postion .sevice_wrap {
    padding: 0;
    margin-bottom: 0;
    transition: .3s;
    box-shadow: 0 1px 4px #ccc;
    border-radius: 20px 0 0 20px;
}

.fixed_postion .sevice_wrap li {
    border-radius: inherit;
}

.fixed_postion .sevice_wrap .sevice_item {
    position: relative;
    display: flex;
    height: auto;
    background-color: #fff;
}

.fixed_postion .sevice_wrap .sevice_item a {
    padding: 10px;
    display: block;
    cursor: pointer;
}

.fixed_postion .sevice_wrap .sevice_item:hover {
    display: block;
}

.fixed_postion .sevice_wrap .sevice_item .icon_block {
    display: inline-block;
}

.fixed_postion .sevice_wrap .sevice_item .text {
    position: absolute;
    top: 10px;
    right: 60px;
    font-size: 20px;
    text-align: right;
    color: #fff;
    font-weight: 500;
    background-color: #512779;
    white-space: nowrap;
    padding: 8px 10px 8px 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: none;
}

.fixed_postion .sevice_wrap .sevice_item .text:after {
    position: absolute;
    content: "z";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 0 6.5px 7px;
    border-color: transparent transparent transparent #512779;
    color: transparent;
    top: 12px;
    right: -7px;
    z-index: 2;
}

.fixed_postion .sevice_wrap .sevice_item:hover .text {
    display: block;
}

.fixed_postion .sevice_item .icon_block img {
    width: 40px;
    margin: 0;
}

.fixed_postion .side_content_wrap {
    position: fixed;
    top: 25%;
    right: 60px;
    width: 230px;
    height: auto;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 1px 4px #aaa;
    border-radius: 5px;
    display: none;
}

.fixed_postion .side_content_wrap.active {
    display: block;
    overflow: hidden;
}

.fixed_postion .side_content_wrap.app {
    margin-top: -95px;
}

.fixed_postion .side_content_wrap .side_content_title {
    padding: 12px;
    height: auto;
    border-bottom: 1px solid #ccc;
    background: #512779;
}

.fixed_postion .side_content_wrap .side_content_title span {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}

.fixed_postion .side_content_wrap .close_icon {
    float: right;
}

.fixed_postion .side_content_wrap .side_content {
    text-align: center;
    padding: 10px 0;
}

.fixed_postion .side_content_wrap .caption1 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    background: #512779;
    /* border: 2px solid #31aca1; */
    width: 100px;
    margin: 0 auto 10px;
    border-radius: 0 10px;
}

.fixed_postion .side_content_wrap .caption2 {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
    background: #31aca1;
    /* border: 2px solid #31aca1; */
    width: 100px;
    margin: 0 auto 10px;
    border-radius: 0 10px;
}

.fixed_postion .side_content_wrap .qrCode_img {
    margin: 0 auto 20px;
    border: 1px solid #dbdbdb;
    width: 100px;
    height: 100px;
}

.fixed_postion .side_content_wrap .download-img {
    padding-top: 6px;
    text-align: center;
    width: 160px;
    margin: auto;
    display: block;
}

.fixed_postion .side_content_wrap .download-text {
    color: #646464;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

.fixed_postion .close {
    opacity: 1;
}

.fixed_postion .sevice_wrap .sevice_item .icon_block .fa-share-alt {
    border: 1px solid #77BF65;
    padding: 6px;
    -webkit-text-fill-color: #77BF65;
    border-radius: 60px;
    font-size: 18pt;
}

.fixed_postion .fa-share-alt {
    transition: transform 1s;
}

.fixed_postion .sevice_wrap .sevice_item .icon_block i:not(.fa-share-alt) {
    -webkit-text-fill-color: #999999;
    font-size: 32pt;
}

.sevice_wrap_hidden_i_trans {
    transform: rotate(360deg);
}

.share_infor_box {
    position: fixed;
    top: 115px;
    left: 10%;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    background: #ffffffd1;
    border: 2px solid var(--main_color1);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, .15), -5px -5px 7px rgba(0, 0, 0, .15);
    display: none;
    z-index: 9999;
    height: 230px;
}

.share_infor_box ul {
    display: -webkit-inline-box;
    width: 100%;
    margin: 3em 0;
}

.share_infor_box>i {
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    font-size: 2em;
    -webkit-text-fill-color: var(--main_color1);
    opacity: 0.6;
    cursor: pointer;
}

.share_infor_box>i:hover {
    opacity: 0.8;
    transform: scale(1.1) rotate(90deg);
    transition: transform 0.1s linear;
}

li.sevice_item span {
    display: none;
}

.share_infor_box i:not(.fa-times-circle) {
    -webkit-text-fill-color: #999999;
    font-size: 100pt;
}

.fa-times-circle {
    position: absolute;
    right: .3em;
    top: .3em;
    font-size: 2em;
    color: #999;
    cursor: pointer;
}

.share_infor_box .l {
    width: 50%;
    z-index: 9;
    margin: auto;
}

.share_infor_box .r {
    width: 100%;
}

.share_infor_box .r>div {
    margin: 30px auto;
}

.share_infor_box .r .qr_code {
    font-size: 18pt;
    font-weight: bold;
}

.share_infor_box .r .app .group {
    display: inline-block;
    margin: 0px 30px;
}

.share_infor_box img {
    width: 60%;
}

.share_infor_box li {
    width: 16%;
    margin: auto;
        position: relative;
        cursor: pointer;
}

.share_infor_box .r.active {
    display: block;
    overflow: hidden;
}

.share_infor_box .r.app {
    margin-top: -95px;
}

.share_infor_box .r .side_content_title {
    padding: 12px;
    height: auto;
    border-bottom: 1px solid #ccc;
    background: #512779;
}

.share_infor_box .r .side_content_title span {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}

.share_infor_box .r .close_icon {
    float: right;
}

.share_infor_box .r .side_content {
    text-align: center;
    padding: 10px 0;
}

.share_infor_box .r .caption1 {
  font-size: 24px;
  letter-spacing: 1px;
  color: #fff;
  background: #512779;
  /* border: 2px solid #31aca1; */
  width: 300px;
  margin: 0 auto 10px;
  border-radius: 0 6px;
  font-weight: bold;
}

.share_infor_box .r .caption2 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
    background: #31aca1;
    /* border: 2px solid #31aca1; */
    width: 300px;
    margin: 0 auto 10px;
    border-radius: 0 6px;
}

.share_infor_box .r .qr_code .qrCode_img {
    margin: auto;
    border: 1px solid #dbdbdb;
    width: 300px;
}

.share_infor_box .r .app .qrCode_img {
    margin: 0 auto 20px;
    border: 1px solid #dbdbdb;
    width: 300px;
    height: 300px;
}

.share_infor_box .r .download-img {
    padding-top: 6px;
    text-align: center;
    width: 160px;
    margin: auto;
    display: block;
}

.share_infor_box .r .download-text {
    color: #646464;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

.share_infor_box .r .call_us {
    text-align: center;
    font-size: 16pt;
}

.share_infor_box .r span.default {
    position: absolute;
    font-size: 3em;
    font-weight: bold;
    width: 90%;
    right: 0px;
    top: 115px;
    text-shadow: #00000042 0.1em 0.1em 0.2em;
}

.menu_right i.fas.fa-share-alt {
    /* border: 2px solid #797878;
    border-radius: 50px; */
    padding: 4px;
}

.menu_right i.fas.fa-share-alt:hover {
    /* border: 3px solid #77BF65; */
    -webkit-text-fill-color: #77BF65;
    /* border-radius: 50px; */
    padding: 2px;
    transform: scale(1.4) rotate(0deg);
    transition: border 0.1s, transform 0.1s linear;
}

svg.svg-inline--fa.fa-share-alt.fa-w-14 {
    /* border: 2px solid #797878;
    border-radius: 50px; */
    padding: 4px;
    color: #797878;
    margin-bottom:0;
    font-size: 17pt;
}

svg.svg-inline--fa.fa-share-alt.fa-w-14:hover {
    /* border: 3px solid #77BF65; */
    -webkit-text-fill-color: #77BF65;
    /* border-radius: 50px; */
    padding: 2px;
    transform: scale(1.4) rotate(0deg);
    transition: border 0.1s, transform 0.1s linear;
}

.share_infor_box span.alt {
    position: absolute;
    background: var(--main_color1);
    color: #FFF;
    padding: 5px;
    display: none;
    border-radius: 5px;
    top: 166px;
}

.share_infor_box span.alt{
  top: 70px;
    left: 0%;
        width: 5em !important;

}


/*
.share_infor_box span.alt:nth-child(1) {

left: 4%;
}

.share_infor_box span.alt:nth-child(2) {

    left: 21%;
}

.share_infor_box span.alt:nth-child(3) {

    left: 38.5%;
}

.share_infor_box span.alt:nth-child(4) {

    left: 54.5%;
}

.share_infor_box span.alt:nth-child(5) {

    left: 71.5%;
}

.share_infor_box span.alt:nth-child(6) {

    left: 88%;
} */

.menu_right a.icon_block label {
    width: 0px;
    opacity: 0;
    background: var(--main_color1);
    color: #FFF;
    border-radius: 5px;
    text-align: center;
    margin: 2px 0;
    cursor: pointer;
}
