
[class*="commodity_data_"] data {
    padding: 1rem .5rem;
    padding-top: .1rem;
}

.map {
    display: inline-grid;
    text-align: start;
    width: 10%;
    word-break: keep-all;
    margin-right: 3%;
}

.map > label {
    font-weight: bold;
    font-size: 21px;
}

.map li {
    margin-top: .5rem;
}

.webmap:after {
    border-right: 1px solid rgba(112,112,112,1);
    display: initial;
    vertical-align: text-top;
    line-height: 18rem;
    height: 19rem;
    font-size: 14rem;
    opacity: 0.4;
}

.footer_webmap {
    background: rgba(248,248,248,1);
    padding: 5% 1%;
}

#_283 {
  fill: rgba(0,0,0,1);
}
._283 {
  display: none;
  overflow: visible;
  position: absolute;
  width: 25.855px;
  height: 24.567px;
  left: 0.999px;
  top: -6.091px;
  transform: matrix(1,0,0,1,0,0);
}
#iconfinder_line_389169 {
  width: 40px;
  height: 40px;
  overflow: visible;
  position: relative;
}

    #_130 {
  position: absolute;
  width: 27.081px;
  height: 10.21px;
  left: 6px;
  top: 15px;
  overflow: visible;
}
  #_131 {
  position: absolute;
  width: 27.081px;
  height: 10.21px;
  /* left: 0px; */
  /* top: 0px; */
  overflow: visible;
}

#_285 {
  fill: rgba(255,255,255,1);
}
._285 {
  overflow: visible;
  position: absolute;
  width: 8.479px;
  height: 10.21px;
  left: 10.914px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#_286 {
  fill: rgba(255,255,255,1);
}
._286 {
  overflow: visible;
  position: absolute;
  width: 6.394px;
  height: 10.178px;
  left: 20.687px;
  top: 0.028px;
  transform: matrix(1,0,0,1,0,0);
}
#_287 {
  fill: rgba(255,255,255,1);
}
._287 {
  overflow: visible;
  position: absolute;
  width: 6.322px;
  height: 10.136px;
  left: 0px;
  top: 0.06px;
  transform: matrix(1,0,0,1,0,0);
}
#_288 {
  fill: rgba(255,255,255,1);
}
._288 {
  overflow: visible;
  position: absolute;
  width: 2.21px;
  height: 10.133px;
  left: 7.306px;
  top: 0.033px;
  transform: matrix(1,0,0,1,0,0);
}

#layer1 {
  width: 40.001px;
  height: 40px;
  overflow: visible;
}

  #OUTLINE_copy_2 {
  width: 40px;
  height: 40px;
  overflow: visible;
}

#layers {
    display: flex;
}

#layers path, #layers ellipse {
    fill: rgba(79,79,78,1);
}

#_131 path {
    fill: #FFF;
}

#layer1 div {
    /* margin: 1rem; */
}

#layers > div {
    margin: .3rem;
}

#ID0800-010-568_03-358-1098__03 {
    text-align: start;
    font-size: 13px;
}

#ID0800-010-568_03-358-1098__03 span {
    margin-top: .5rem;
    display: block;
    line-height: 1.5rem;
    word-break: break-all;
    letter-spacing: -1px;
}


.footer_webmap .col-lg-9 {
    width: 75%;
}

.footer_webmap .col-lg-3 {
    width: 25%;
}

.footer_webmap > .house_row {
    display: flex;
}

@media only screen and (min-width: 1280px) {
  article.Index040121 > *:not(form):not(.row3):not(.footer_webmap) {
      max-width: 1100px;
      margin: auto;
  }
  article.Index040121 .main > *:not(form):not(.row3):not(.footer_img):not(.footer_webmap) {
    padding-left: 1%;
    padding-right: 1%;
  }

  .footer_webmap > .house_row {
    display: flex;
    width: 1100px;
    margin: auto;
}

}

.map li {
  font-size: 9pt;
}

.map > label {
    font-size: 13pt;
}

div.relative {
    max-width: inherit;
    margin-top: 0rem !important;
}
.footer_webmap ul {
  argin: 0;list-style-type: none;
}
.footer_webmap label {
  margin-bottom: 0;
}

.footer_webmap .map {
  display: block;
}
body .display_content>article {
  margin-bottom: 0;
}

footer .footer div {
  margin-bottom: 0;
}


.footer_txt0428 {
    font-size: 14px !important;
    color: #4f4f4e !important;
    font-weight: bold;
}


#search_box_big{ margin: 0;}
.search_forms_wrap{ margin-bottom: 0;}
/* .main_menu{ display: none;} */
.col-sm-12.row3 {
margin-top:0; 
}