/* 基本上是複製 註冊來用的 */
:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
    --input__border: #aaa;
    --input__border--hover: #555;
    --label__color: #555;
}

.flex{
    display: flex;
    align-items: center;
}

.home_web_register input {
    width: 100%;
    display: block;
    margin: 0px;
    background: none;
    border-width: 0;
    color: #fff;
    letter-spacing: 2px;
    padding: 0px 0px 0px 40px;
    text-align: left;
    border-bottom: 1px solid #fff;
    position: relative;
}


.home_web_register .hidden--visually {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.home_web_register .floating {
    margin-bottom: 30px;
    background-color: unset;
    transition: background-color 0.2s ease;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}



.home_web_register .floating:hover,
.home_web_register .floating:focus-within {
}



/* label點擊後底線狀態 */
.home_web_register .floating:hover .floating__label {
    border-bottom: 1px solid #555;
}


input::placeholder {
    color: #555;
}

.home_web_register .floating__label {
    display: block;
    position: relative;
    max-height: 0;
    font-weight: 500;
    pointer-events: none;
    border-bottom: 1px solid var(--input__border);
    font-size: 1.3em;
    /* label底線 */
}

.home_web_register .floating__label::before {
    color: var(--label__color);
    content: attr(data-content);
    display: inline-block;
    filter: blur(0);
    backface-visibility: hidden;
    transform-origin: left top;
    transition: transform 0.2s ease;
    left: 1rem;
    position: relative;
    font-weight: bold;
}

.home_web_register .floating__label::after {
    bottom: 1rem;
    content: "";
    height: 0.1rem;
    position: absolute;
    transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
    /*opacity 180ms cubic-bezier(0.4, 0, 0.2, 1),*/
    /*background-color 0.3s ease;*/
    opacity: 0;
    left: 0;
    top: 100%;
    margin-top: -0.1rem;
    transform: scale3d(0, 1, 1);
    width: 100%;
    background-color: var(--color__accent);
}





/* 仿google輸入框 end */

body .display_content > article {
    margin: 0px;
    min-width: 100%;
}

article{
    padding: 100px 15px 0px!important;
}


.bg{
    height: 75vh;
    background-position: center;
    padding: 10px 0px;
    background-image: url(https://www.okrent.house/themes/Rent/img/login/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* 首頁登入框 */
.home_web_register {
    width: 1000px;
    max-width: 750px;
    padding: 20px 45px 30px;
    margin: 60px auto 0px;
    border-radius: 0px 90px;
    box-shadow: 0px 0px 20px #5759a9;
    background: #ffffff3d;
}

.home_web_register .form_wrap {
    width: 100%;
    margin: 30px auto 10px;
}

.home_web_register .form_wrap .list{
    display: flex;
    line-height: 2em;
}

.home_web_register .form_wrap .list .floating{
    flex: auto;
    padding: 0px;
    margin-bottom: 40px;
    position: relative;
}

.home_web_register .form_wrap .list .radio_wrap{
    display: table;
    margin: 0px;
    position: absolute;
    top: -5px;
    right: 0px;
}



.home_web_register .form_wrap .list .radio_wrap .radio{
    display: table-cell;
    text-align: center;
    width: 60px;
    color: #fff;
}

.home_web_register .form_wrap .list .radio_wrap .radio input{
    width: unset;
    margin: 15px 0px;
}

.home_web_register .form_wrap .list .floating .control-label{
    margin: 0px 5%;
}

.home_web_register .form_wrap .list .floating select{
    width: 100px;
    height: 40px;
    padding: 0px 0px 0px 15px;
}

.home_web_register .form_wrap .agree input{
    height: 20px;
    margin: 0px 35px 0px 0px;
}


.home_web_register .content .btn_fb{
    width: 100%;
    padding: 10px;
    margin: 5px auto 30px;
    color: #fff;
    font-size: 1.2em;
    text-shadow: unset;
    font-weight: unset;
    letter-spacing: 1px;
    border: 1px solid #ffffff85;
    background: #3b5999;
    border-radius: 0px 10px;
    position: relative;
}

.home_web_register .content .btn_fb:before{
    position: absolute;
    content: "";
    background-image: url(https://www.okrent.house/themes/Rent/img/login/login-fb.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
    top: 2px;
    left: 5px;
}

.home_web_register .btn, .home_web_register .content .btn_reg{
    width: 100%;
    max-width: 180px;
    height: 40px;
    padding: 5px 10px 5px;
    margin: 0px;
    color: var(--main_color1);
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    background: #e7d3ff;
    border: 1px solid var(--main_color1);
    border-radius: 0px 10px;
    transition: .3s;
}

body .display_content .Forgot{
    min-width: 100%;
    max-width: 100%;
    min-height: unset;
    padding:  0px 0px!important;
}

.home_web_register .form_wrap .list {
    width: unset;
    margin: 0px;
}


.home_web_register .form_wrap .agree label {
    margin: 0px;
}

.home_web_register h1{
    color: #fff;
}

.home_web_register input::placeholder{
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.home_web_register .form_wrap .list .floating i{
    color: #fff;
    font-size: 1.4em;
    position: absolute;
}

.home_web_register .form_wrap .name_frame{
    position: relative;
}

.home_web_register .form_wrap .list .radio_wrap img{
    width: 30px;
    height: auto;
}

.home_web_register .agree{
    display: flex;
    align-items: center;
    justify-content: center;
}

.agree a{
    color: #fff;
    font-size: .9em;
    letter-spacing:1px;
}

.home_web_register .btn:hover, .home_web_register .content .btn_reg:hover{
    color: #fff;
    background: #8052bd;
}