article {
    min-width: 1440px;
}

.banner_1223 img {
    margin-top: -5%;
}

.banner_1223 {
    height: 400px;
    overflow: hidden;
}

.display_content {
    /* max-width: 1920px; */
    width: fit-content;
}

form#search_box_big {
    background: #fff;
}

.main {
    background: #fff;
}

.search_list_wrap {
    height: min-content;
    width: 33.33333333%;
}

header.minbar2 .menu a.noborder:after {
    border-right: 0px solid #bebebe;
}

div.relative {
  position: relative;
  max-width: 1440px;
  text-align: center;
  margin: auto;
}

#img_1_banner1_053610630, #img_2_banner1_053610630, #img_3_banner1_053610630, #img_4_banner1_053610630, #img_5_banner1_053610630, #img_6_banner1_053610630, #img_7_banner1_053610630, #img_8_banner1_053610630, #img_9_banner1_053610630, #img_10_banner1_053610630, #img_11_banner1_053610630, #img_12_banner1_053610630, #img_13_banner1_053610630, #img_14_banner1_053610630, #img_15_banner1_053610630, #img_16_banner1_053610630, #img_17_banner1_053610630, #img_18_banner1_053610630, #img_19_banner1_053610630, #img_20_banner1_053610630, #img_21_banner1_053610630, #img_22_banner1_053610630, #img_23_banner1_053610630, #img_24_banner1_053610630, #img_25_banner1_053610630, #img_26_banner1_053610630, #img_27_banner1_053610630, #img_28_banner1_053610630, #img_29_banner1_053610630, #img_30_banner1_053610630, #img_31_banner1_053610630, #img_32_banner1_053610630, #img_33_banner1_053610630, #img_34_banner1_053610630, #img_35_banner1_053610630, #img_36_banner1_053610630, #img_37_banner1_053610630, #img_38_banner1_053610630, #img_39_banner1_053610630, #img_40_banner1_053610630, #img_41_banner1_053610630, #img_42_banner1_053610630, #img_43_banner1_053610630, #img_44_banner1_053610630, #img_45_banner1_053610630, #img_46_banner1_053610630, #img_47_banner1_053610630, #img_48_banner1_053610630, #img_49_banner1_053610630, #img_50_banner1_053610630, #img_51_banner1_053610630, #img_52_banner1_053610630, #img_53_banner1_053610630, #img_54_banner1_053610630, #img_55_banner1_053610630, #img_56_banner1_053610630, #img_57_banner1_053610630, #img_58_banner1_053610630, #img_59_banner1_053610630, #img_60_banner1_053610630, #img_61_banner1_053610630, #img_62_banner1_053610630, #img_63_banner1_053610630, #img_64_banner1_053610630, #img_65_banner1_053610630, #img_66_banner1_053610630, #img_67_banner1_053610630, #img_68_banner1_053610630, #img_69_banner1_053610630, #img_70_banner1_053610630, #img_71_banner1_053610630, #img_72_banner1_053610630, #img_73_banner1_053610630, #img_74_banner1_053610630, #img_75_banner1_053610630, #img_76_banner1_053610630, #img_77_banner1_053610630, #img_78_banner1_053610630, #img_79_banner1_053610630, #img_80_banner1_053610630, #img_81_banner1_053610630, #img_82_banner1_053610630, #img_83_banner1_053610630, #img_84_banner1_053610630, #img_85_banner1_053610630, #img_86_banner1_053610630, #img_87_banner1_053610630 {
  position: absolute;
}

#img_1_banner1_053610630 {		top: 400px;		left: 190px;		z-index: 1;	}
#img_2_banner1_053610630 {		top: 412px;		left: 156px;		z-index: 2;	}
#img_3_banner1_053610630 {		top: 447.9075560569763px;		left: 123.59338903427124px;		z-index: 3;	}
#img_4_banner1_053610630 {		top: 19.971799850463867px;		left: 599px;		z-index: 4;	}
#img_5_banner1_053610630 {		top: 25px;		left: 409px;		z-index: 5;	}
#img_6_banner1_053610630 {		top: 24px;		left: 1006px;		z-index: 6;	}
#img_7_banner1_053610630 {		top: 26px;		left: 1134px;		z-index: 7;	}
#img_8_banner1_053610630 {		top: 25px;		left: 281px;		z-index: 8;	}
#img_9_banner1_053610630 {		top: 25px;		left: 143px;		z-index: 9;	}
#img_10_banner1_053610630 {		top: 36px;		left: 1290px;		z-index: 10;	}
#img_11_banner1_053610630 {		top: 785px;		left: 339px;		z-index: 11;	}
#img_12_banner1_053610630 {		top: calc(1964px - 1934px);		left: 407px;		z-index: 12;	}
#img_13_banner1_053610630 {		top: 1964px;		left: 550px;		z-index: 13;	}
#img_14_banner1_053610630 {		top: 1964px;		left: 698px;		z-index: 14;	}
#img_15_banner1_053610630 {		top: 1964px;		left: 843px;		z-index: 15;	}
#img_16_banner1_053610630 {		top: 1964px;		left: 994px;		z-index: 16;	}
#img_17_banner1_053610630 {		top: 1963px;		left: 1094px;		z-index: 17;	}
#img_18_banner1_053610630 {		top: 1964px;		left: 1223px;		z-index: 18;	}
#img_19_banner1_053610630 {		top: 86px;		left: 0px;		z-index: 19;	}
#img_20_banner1_053610630 {		top: 0px;		left: 370px;		z-index: 20;	}
#img_21_banner1_053610630 {		top: 1625.0017681121826px;		left: 431.3258285522461px;		z-index: 21;	}
#img_22_banner1_053610630 {		top: calc(1538px - 1461px);		left: 539.5px;		z-index: 22;	}
#img_23_banner1_053610630 {		top: calc(1620px - 1461px);		left: 570px;		z-index: 23;	}
#img_24_banner1_053610630 {		top: 36px;		left: 235.5px;		z-index: 24;	}
#img_25_banner1_053610630 {		top: 1971px;		left: 527.5px;		z-index: 25;	}
#img_26_banner1_053610630 {		top: 1970px;		left: 671.5px;		z-index: 26;	}
#img_27_banner1_053610630 {		top: 1971px;		left: 819.5px;		z-index: 27;	}
#img_28_banner1_053610630 {		top: calc(2397px - 2366px);		left: 407px;		z-index: 28;	}
#img_29_banner1_053610630 {		top: 2397px;		left: 577px;		z-index: 29;	}
#img_30_banner1_053610630 {		top: 2397px;		left: 747px;		z-index: 30;	}
#img_31_banner1_053610630 {		top: 2399px;		left: 918px;		z-index: 31;	}
#img_32_banner1_053610630 {		top: 2404px;		left: 554.5px;		z-index: 32;	}
#img_33_banner1_053610630 {		top: 2403px;		left: 720.5px;		z-index: 33;	}
#img_34_banner1_053610630 {		top: 2406px;		left: 894.5px;		z-index: 34;	}
#img_35_banner1_053610630 {		top: 2399px;		left: 1091px;		z-index: 35;	}
#img_36_banner1_053610630 {		top: 2406px;		left: 1067.5px;		z-index: 36;	}
#img_37_banner1_053610630 {		top: 1972px;		left: 966.5px;		z-index: 37;	}
#img_38_banner1_053610630 {		top: 1971px;		left: 1068.5px;		z-index: 38;	}
#img_39_banner1_053610630 {		top: 1972px;		left: 1198.5px;		z-index: 39;	}
#img_40_banner1_053610630 {		top: 36px;		left: 375.5px;		z-index: 40;	}
#img_41_banner1_053610630 {		top: 34px;		left: 1093.5px;		z-index: 41;	}
#img_42_banner1_053610630 {		top: 31px;		left: 1222px;		z-index: 42;	}
#img_43_banner1_053610630 {		top: 2068px;		left: 585px;		z-index: 43;	}
#img_44_banner1_053610630 {		top: 2068px;		left: 306px;		z-index: 44;	}
#img_45_banner1_053610630 {		top: 2068px;		left: 27px;		z-index: 45;	}
#img_46_banner1_053610630 {		top: 2068px;		left: 873px;		z-index: 46;	}
#img_47_banner1_053610630 {		top: 2068px;		left: 1152px;		z-index: 47;	}
#img_48_banner1_053610630 {		top: 3295px;		left: 0px;		z-index: 48;	}
#img_49_banner1_053610630 {		top: 3311px;		left: 419px;		z-index: 49;	}
#img_50_banner1_053610630 {		top: 3399.9989824295044px;		left: 589px;		z-index: 50;	}
#img_51_banner1_053610630 {		top: 3400px;		left: 755px;		z-index: 51;	}
#img_52_banner1_053610630 {		top: 3324px;		left: 1107px;		z-index: 52;	}
#img_53_banner1_053610630 {		top: calc(1461px - 1461px);		left: 121px;		z-index: 53;	}
#img_54_banner1_053610630 {		top: calc(1546px - 1461px);		left: 62px;		z-index: 54;	}
#img_55_banner1_053610630 {		top: calc(1595px - 1461px);		left: 62px;		z-index: 55;	}
#img_56_banner1_053610630 {		top: calc(1643px - 1461px);		left: 60px;		z-index: 56;	}
#img_57_banner1_053610630 {		top: calc(1690px - 1461px);		left: 60px;		z-index: 57;	}
#img_58_banner1_053610630 {		top: calc(1736px - 1461px);		left: 60px;		z-index: 58;	}
#img_59_banner1_053610630 {		top: calc(1461px - 1461px);		left: 1171px;		z-index: 59;	}
#img_60_banner1_053610630 {		top: calc(1537px - 1461px);		left: 1114px;		z-index: 60;	}
#img_61_banner1_053610630 {		top: calc(1642.7883949279785px - 1461px);		left: 1095px;		z-index: 61;	}
#img_62_banner1_053610630 {		top: calc(1585px - 1461px);		left: 1114px;		z-index: 62;	}
#img_63_banner1_053610630 {		top: calc(1635px - 1461px);		left: 1112px;		z-index: 63;	}
#img_64_banner1_053610630 {		top: calc(1693.7883949279785px - 1461px);		left: 1095px;		z-index: 64;	}
#img_65_banner1_053610630 {		top: calc(1743.7883949279785px - 1461px);		left: 1095px;		z-index: 65;	}
#img_66_banner1_053610630 {		top: calc(1686px - 1461px);		left: 1112px;		z-index: 66;	}
#img_67_banner1_053610630 {		top: calc(1736px - 1461px);		left: 1113px;		z-index: 67;	}
#img_68_banner1_053610630 {		top: 933px;		left: 619px;		z-index: 68;	}
#img_69_banner1_053610630 {		top: 856px;		left: 604px;		z-index: 69;	}
#img_70_banner1_053610630 {		top: 1071.9654693603516px;		left: 637px;		z-index: 70;	}
#img_71_banner1_053610630 {		top: 0px;		left: 120px;		z-index: 71;	}
#img_72_banner1_053610630 {		top: 712.5767917633057px;		left: 482.5px;		z-index: 72;	}
#img_73_banner1_053610630 {		top: 1952.5767917633057px;		left: 0px;		z-index: 73;	}
#img_74_banner1_053610630 {		top: calc(1952.5767917633057px - 1934px);		left: 62px;		z-index: 74;	}
#img_75_banner1_053610630 {		top: 0px;		left: 78px;		z-index: 75;	}
#img_76_banner1_053610630 {		top: calc(1934px - 1934px);		left: 80.5px;		z-index: 76;	}
#img_77_banner1_053610630 {		top: calc(2379.0767917633057px - 2366px);		left: 0px;		z-index: 77;	}
#img_78_banner1_053610630 {		top: 694px;		left: 599.5px;		z-index: 78;	}
#img_79_banner1_053610630 {		top: calc(1464.7883949279785px - 1461px);		left: 1146px;		z-index: 79;	}
#img_80_banner1_053610630 {		top: calc(1545.7883949279785px - 1461px);		left: 1095px;		z-index: 80;	}
#img_81_banner1_053610630 {		top: calc(1592.7883949279785px - 1461px);		left: 1095px;		z-index: 81;	}
#img_82_banner1_053610630 {		top: calc(1649.7883949279785px - 1461px);		left: 44px;		z-index: 82;	}
#img_83_banner1_053610630 {		top: calc(1698.7883949279785px - 1461px);		left: 44px;		z-index: 83;	}
#img_84_banner1_053610630 {		top: calc(1743.7883949279785px - 1461px);		left: 44px;		z-index: 84;	}
#img_85_banner1_053610630 {		top: calc(1552.7883949279785px - 1461px);		left: 44px;		z-index: 85;	}
#img_86_banner1_053610630 {		top: calc(1601.7883949279785px - 1461px);		left: 44px;		z-index: 86;	}
#img_87_banner1_053610630 {		top: calc(1466.7883949279785px - 1461px);		left: 95px;		z-index: 87;	}


#img_78_banner1_053610630 {

  top: 0px;
  left: 599.5px;
  z-index: 78;
}

#img_72_banner1_053610630 {
  top: calc(712.5767917633057px - 694px);
  left: 482.5px;
  z-index: 72;
}

#img_69_banner1_053610630 {
    top: calc(856px - 785px);
    left: 604px;
    z-index: 69;
}
#img_11_banner1_053610630 {
    top: 0px;
    left: 339px;
    z-index: 11;
}


div#img_12_banner1_053610630 header.minbar2 a {
    font-size: 24pt !important;
    padding: 0 15px;
}

div#img_12_banner1_053610630 header.minbar2 .menu a:after {
    height: 30px;
    margin-top: -15px;
    border-right: 1px solid var(--main_color1);
}

div#img_28_banner1_053610630 header.minbar2 a {
    font-size: 22pt !important;
    padding: 0 15px;
}

div#img_28_banner1_053610630 header.minbar2 .menu a:after {
    height: 30px;
    margin-top: -15px;
    border-right: 1px solid var(--main_color1);
}

.commodity_list.commodity_data {
    width: 90%;
    /* margin: auto; */
    /* margin-right: inherit; */
}

.col-sm-12.row3 {
    width: calc(100% + 30px);
    margin-left: -15px;
}

header.minbar2 a {
    font-size: 20pt !important;
    padding: 0 1em;
}


.minbar2.l {
    text-align: left;
}

.commodity_data_0312 data, button.slick-arrow:before {
    display: none;
}

.commodity_data_0312 .photo_row img.img {
  min-height: 171px !important;
}

.col-sm-12.row3 {
    margin-top: 90px;
}
