:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.none {
    display: none;
}


header.minbar {
    display: none;
}

header.minbar2.l a {
    font-size: 14px !important;
    padding: 0 1em;
}

header.minbar2 a {
    color: #000;
    line-height: 45px;
    padding: 0 10px;
    display: inline-block;
    position: relative;
    font-size: 12px !important;
}

svg.svg-inline--fa.fa-share-alt.fa-w-14, svg#hb_line {
    vertical-align: middle;
    transform: scale(1.5);
    color: #000;
}

svg#hb_line, svg.svg-inline--fa.fa-share-alt.fa-w-14, svg#hb_line {
    font-size: 18px;
    width: 18px;
}


header.minbar2 {
    font-size: 8pt;
    height: 100%;
    margin: auto;
    text-align: right;
}

.search_list_wrap {
    text-align: center;
}


article {
    padding: 0px;
    width: 100%;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    min-width: auto;
}

form#search_box_big *:not(div#logo *) {
    background: #ffec00;
    text-align: center;
}

#logo {
    width: 174.953px;
    height: 40.206px;
    overflow: visible;
    position: relative;
    margin: auto;
}


._2_mj {
    overflow: visible;
    position: absolute;
    width: 35.049px;
    height: 18.641px;
    left: 1.452px;
    top: 1.827px;
    transform: matrix(1,0,0,1,0,0);
}

._3_mk {
    overflow: visible;
    position: absolute;
    width: 35.049px;
    height: 18.639px;
    left: 3.676px;
    top: 20.468px;
    transform: matrix(1,0,0,1,0,0);
}

._4_ml {
    overflow: visible;
    position: absolute;
    width: 29.661px;
    height: 18.192px;
    left: 5.267px;
    top: 14.364px;
    transform: matrix(1,0,0,1,0,0);
}


._1_mi {
    overflow: visible;
    position: absolute;
    width: 40.176px;
    height: 40.206px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#_8_mm {
    position: absolute;
    width: 128.953px;
    height: 21.185px;
    left: 46px;
    top: 8px;
    overflow: visible;
}

#logo * {
    fill: rgba(146,7,131,1);
    /* background: rgba(146,7,131,1) !important; */
}

._2_mn {
    overflow: visible;
    position: absolute;
    width: 128.953px;
    height: 21.185px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#_4_ml {
     fill: rgba(255,236,0,1);
}

#_3_mk {
     fill: rgba(255,236,0,1);
}

#_2_mj {
     fill: rgba(255,236,0,1);
}

#_1_mi {
    fill: rgba(146,7,131,1);
}


form#search_box_big {
  line-height: 90px;
  margin-top: 0rem;
  z-index: 5;
  height: 90px;
  background: #ffec00;
  margin-bottom: 0px;
}

form#search_box_big .search_list_wrap {
    height: 90px;
    display: flex;
}

form#search_box_big .search_list_wrap img {}

nav.main_menu2.not_select {
    margin: auto;
}

#_bm {
    font-weight: bold;
    font-size: 35px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.88px;
    margin: 3rem;
}

.main .menu {
    display: flex;
    background: rgba(235,235,235,1);
    border-radius: 20px;
}

.main .menu a {
    min-width: fit-content;
}

#img_12_banner1_053610630 {
    width: 100%;
    text-align: center;
    margin: auto;
    top: unset;
    left: unset;
}

.main .minbar2 {
    width: 90%;
}

div#img_12_banner1_053610630 header.minbar2 a {
    font-size: 16px !important;
    margin: auto;
}

div#img_12_banner1_053610630 header.minbar2 a.active {
    background: rgba(146,7,131,1);
    padding: 0 3%;
    margin: 0px;
    border-radius: 100px;
    color: #FFF;
}

.commodity_list.commodity_data {
    margin: auto;
    margin-top: 5rem;
}

.slick-initialized .slick-slide {
    margin: .5rem;
    border: 1px solid rgba(201,202,202,1);
    border-radius: 0 15px 0px 0;
}

.commodity price {
    color: rgba(199,92,92,1);
    text-align: left;
    display: block;
    margin-top: -5px;
}

.commodity_data_0312 .photo_row {
    border-radius: 0 15px 0px 0;
}

.banner_1223 {
    overflow: unset;
    height: auto;
}

.banner_1223 img {
    /* width: 100%; */
    margin-top: -1%;
    /* padding: 5%; */
    position: relative;
    z-index: 9;
}

.banner_1223 ._18 {
    position: absolute;
    overflow: visible;
    /* width: 772px; */
    height: 772px;
    right: 42vh;
    top: -290px;
    z-index: 1;
}

.banner_1223 #_18 {
    fill: rgba(245,240,250,1);
}

#_ma {

    white-space: nowrap;
    line-height: 44px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Microsoft JhengHei;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(0,0,0,1);
}

.commodity_data_0312 data, button.slick-arrow:before {
     display: block;
}

.commodity_data_0312 data, button.slick-arrow:before {
     display: block;
     z-index: -1;
     position: relative;
}

.commodity_list .commodity .title.big, .commodity .title_2, .commodity .title_4 {
    display: none;
}

.commodity h3.title.big_2 a {
    color: #000;
    font-size: 14px;
    word-break: break-all;
}

.commodity h3.title.big_2 {
    line-height: 28px;
}

.footer_img {
    width: 100%;
}

.footer_img img {
    width: 30%;
    margin: 1%;
}

button.slick-arrow.slick-prev:before {

font-size: 3rem;

content: url(/img/svg/b_prev.svg);

height: 5rem;

margin-left: -3rem;
}

button.slick-arrow.slick-next:before {

font-size: 3rem;

content: url(/img/svg/b_next.svg);

height: 5rem;
}

button.slick-arrow:before {
    color:rgba(119,119,119,1);
    /* opacity: 0.4; */
    line-height: 4rem;
    width: 4rem;
    text-align: center;
}

button.slick-arrow:hover:before {
    color:rgba(119,119,119,1);
    opacity: 1;
}


button.slick-arrow {
    width: 1rem;
    height: 5rem;
}

.commodity_data_0312 data {
    padding: 1rem .5rem;
    padding-top: .1rem;
}

.map {
    display: inline-grid;
    text-align: start;
    width: 10%;
    word-break: keep-all;
    margin-right: 3%;
}

.map > label {
    font-weight: bold;
    font-size: 21px;
}

.map li {
    margin-top: .5rem;
}

.webmap:after {
    border-right: 1px solid rgba(112,112,112,1);
    display: initial;
    vertical-align: text-top;
    line-height: 18rem;
    height: 9rem;
    font-size: 14rem;
    opacity: 0.4;
}

.footer_webmap {
    background: rgba(248,248,248,1);
    padding: 5% 1%;
}

#_283 {
  fill: rgba(0,0,0,1);
}
._283 {
  display: none;
  overflow: visible;
  position: absolute;
  width: 25.855px;
  height: 24.567px;
  left: 0.999px;
  top: -6.091px;
  transform: matrix(1,0,0,1,0,0);
}
#iconfinder_line_389169 {
  width: 40px;
  height: 40px;
  overflow: visible;
  position: relative;
}

    #_130 {
  position: absolute;
  width: 27.081px;
  height: 10.21px;
  left: 6px;
  top: 15px;
  overflow: visible;
}
  #_131 {
  position: absolute;
  width: 27.081px;
  height: 10.21px;
  /* left: 0px; */
  /* top: 0px; */
  overflow: visible;
}

#_285 {
  fill: rgba(255,255,255,1);
}
._285 {
  overflow: visible;
  position: absolute;
  width: 8.479px;
  height: 10.21px;
  left: 10.914px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#_286 {
  fill: rgba(255,255,255,1);
}
._286 {
  overflow: visible;
  position: absolute;
  width: 6.394px;
  height: 10.178px;
  left: 20.687px;
  top: 0.028px;
  transform: matrix(1,0,0,1,0,0);
}
#_287 {
  fill: rgba(255,255,255,1);
}
._287 {
  overflow: visible;
  position: absolute;
  width: 6.322px;
  height: 10.136px;
  left: 0px;
  top: 0.06px;
  transform: matrix(1,0,0,1,0,0);
}
#_288 {
  fill: rgba(255,255,255,1);
}
._288 {
  overflow: visible;
  position: absolute;
  width: 2.21px;
  height: 10.133px;
  left: 7.306px;
  top: 0.033px;
  transform: matrix(1,0,0,1,0,0);
}

#layer1 {
  width: 40.001px;
  height: 40px;
  overflow: visible;
}

  #OUTLINE_copy_2 {
  width: 40px;
  height: 40px;
  overflow: visible;
}

#layers {
    display: flex;
}

#layers path, #layers ellipse {
    fill: rgba(79,79,78,1);
}

#_131 path {
    fill: #FFF;
}

#layer1 div {
    /* margin: 1rem; */
}

#layers > div {
    margin: .3rem;
}

#ID0800-010-568_03-358-1098__03 {
    text-align: start;
    font-size: 13px;
}

#ID0800-010-568_03-358-1098__03 span {
    margin-top: .5rem;
    display: block;
    line-height: 1.5rem;
    word-break: break-all;
    letter-spacing: -1px;
}

.display_content {
    width: auto;
}

div.relative {
    max-width: inherit;
}

.main_menu ul {
    text-align: center;
}

.footer_webmap .col-lg-9 {
    width: 75%;
}

.footer_webmap .col-lg-3 {
    width: 25%;
}

.footer_webmap > .house_row {
    display: flex;
}

@media only screen and (min-width: 1280px) {
  article > *:not(form):not(.row3):not(.footer_webmap):not(.banner_1223), .banner_1223 img {
      max-width: 1160px;
      margin: auto;
  }
  article .main > *:not(form):not(.row3):not(.footer_img):not(.footer_webmap):not(.banner_1223) {
    padding-left: 1%;
    padding-right: 1%;
  }

  .footer_webmap > .house_row {
    display: flex;
    width: 1100px;
    margin: auto;
}

}

.map li {
  font-size: 9pt;
}

.map > label {
    font-size: 13pt;
}

@media (max-width: 1600px) {
  html .main_menu>ul>li>a {
      padding: 0 .8vw;
  }
}

.main_menu {
    background: rgba(242,242,242,1);
    box-shadow: none;
}

html .main_menu>ul>li>a {
    border-right: 1px solid;
    line-height: 1rem;
    color: #000;
}

html .main_menu>ul>li>a:last-child {
    border-right: 0px solid;
}

header.minbar_3 {
    box-shadow: 0px 3px 10px #aaa;
    z-index: 99;
    position: relative;
}

.main_menu .dropdown-menu li {
    background: rgba(146,7,131,1);
}

.main_menu .dropdown-menu li a {
    color: #FFF;
}

.main_menu .dropdown-menu>li>a:hover {
    opacity: 1;
    background: rgb(60 0 53);
    color: #FFF;
}

#_350 {
		fill: rgba(140,0,112,1);
	}
._350 {
    overflow: visible;
    position: absolute;
    width: 15px;
    height: 15px;
    transform: translate(-438px, -130.393px) matrix(1,0,0,1,480.1066,133.5) rotate(45deg);
    transform-origin: center;
    left: 20px;
    top: -10px;
}

.right_icons {
    position: fixed;
    right: 0px;
    display: grid;
    top: 30%;
    z-index: 999;
}

.right_icons img {
    border-bottom: 1.5px solid #FFF;
    width: 2.8rem;
    cursor: pointer;
    opacity: .6;
}

.right_icons img:hover {
    opacity: 1;
}

.minbar2_zone {
    max-width: 1100px;
    margin: auto;
}

svg.svg-inline--fa.fa-share-alt.fa-w-14 {
    display: none;
}

a.border:after {
    content: " ";
    border-right: 1px solid #000;
    margin-left: 1rem;
}

header.minbar2.r .menu_right {
    text-align: right !important;
    margin-right: 2rem;
}

.main_menu ul>li>a {
    font-size: 16px;
}
