#logo img {
    display: block;
}

.banner_1223.banner2 {
    height: 600px !important;
    background: url(/themes/Rent/img/land/bannerbuy@2x.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
