.rage1 {
    justify-content: space-between;
    margin-top: 0px !important;
    display: flex !important;
    margin: auto !important;
}

.rage1 *:not(div):not(img) {
    border-radius: 20px;
    padding: 0 1rem;
    background: unset;
    border: 1px solid rgba(206,206,206,1);
    cursor: pointer;
    margin: 0 1rem;
}

.rage1 input {
    width: 34rem !important;
    text-align: start;
    cursor: text;
}

.rage1 input::placeholder {
    text-align: start;
    font-size:1rem;
}

.search_forms_wrap {
    border-radius: 0;
    border: 0px #fff;
    box-shadow: none;
    background: rgba(242,242,242,1);
    width: 100%;
    margin-top: 90px;
}

.search_forms_wrap.op {
    margin-top: 140px;
}

.List_d {
    display: none;
}

#search_box_big .searcounty_sch_content {
    padding: 0px !important;
    width: 1280px;
    margin: auto;
    height: 3rem;
    display: flex;
}

#search_box_big {
}

.rage1 *:not(div):not(img):hover {
    border: 2px solid #71508e;
}

.search_tt_div img {
    width: 1.3rem;
    position: absolute;
    right: 1.8vw;
    top: .9vh;
}


.search_tt_div {
    position: relative;
}


.big_box {
    /* margin-top: 4rem; */
    /* max-width: 1440px; */
    width: unset;
    box-shadow: none;
    padding: 0px;
}

.search_forms_wrap_II > div {
    width: max-content;
    margin: auto;
}

.search_forms_wrap_II img {
    margin: 0 1rem;
    cursor: pointer;
}

.Union_6 {
  position: absolute;
  right: 0px;
}

.commodity collect {
    left: 6%;
}

.container.rage3 .row {
    margin: 2rem 0;
}

.container.rage3 .slider .hint.top-side {
    background: rgba(146,7,131,1);
    top: .6rem;
    border-radius: 15px 15px 0 0;
    font-size: 18px;
    min-width: 4rem;
    text-align: center;
    padding: .4rem 0;
}

.container.rage3 .slider .marker {
    background: rgba(146,7,131,1);
    height: 0.6rem;
    width: 4rem;
}

.container.rage3 .slider .complete {
    background: rgba(146,7,131,1);
}

.searchform_title {
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}

input.linear {
    margin: 0 1rem;
    border-radius: 15px;
    text-align: center;
}

.search_forms_wrap_III {
    border: 3px solid #920883;
    border-radius: 30px;
    margin-top: 3rem;
    opacity: 0;
    background: #FFF;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

.rage_hr {
    background: #F2F2F2;
    padding: 1rem 3rem;
    margin: 3rem 0;
    margin-bottom: 1rem;
}

.rage3_hr svg {
    font-size: 20pt;
    vertical-align: middle;
    margin: 0 1rem;
    color: rgba(146,7,131,1);
}

.rage4.contect, .rage5.contect, .rage6.contect, .rage7.contect {
    padding: 0 15%;
}

.rage4.contect .itme, .rage5.contect .itme, .rage6.contect .itme, .rage7.contect .itme {
    display: contents;
}

#search_box_big label, #search_box_big label:hover {
    border: 0px;
}

.container.rage3 .slider .backside {
    height: .3rem;
    opacity: .95;
}

.rage_hr svg {
    font-size: 23px;
    vertical-align: middle;
    margin-left: .5rem;
    color: rgba(146,7,131,1);
}

.itme select {
    width: min-content;
    display: inline;
    border-radius: 10px;
}

.commodity collect.favorite {
    left: 6%;
}

.commodity collect.ref_favorite {
    right: 6%;
    left: unset;
}

.commodity collect.ref_favorite, .commodity collect.favorite {
    width: 15% !important;
    cursor: pointer;
}


.footer_designing {
    display: none;
}

footer .footer div:not(.footer_txt0428) {
    display: none;
}


footer .footer {
    background-color: #cdcdcd;
}

.footer_txt0428 {
    font-size: 14px !important;
    color: #4f4f4e !important;
    font-weight: bold;
}







header.minbar {
    display: none;
}

header.minbar2.l a {
    font-size: 14px !important;
    padding: 0 1em;
}

header.minbar2 a {
    color: #000;
    line-height: 45px;
    padding: 0 10px;
    display: inline-block;
    position: relative;
    font-size: 12px !important;
    border: 0px;
}

svg.svg-inline--fa.fa-share-alt.fa-w-14, svg#hb_line {
    vertical-align: middle;
    transform: scale(1.5);
    color: #000;
}

svg#hb_line, svg.svg-inline--fa.fa-share-alt.fa-w-14, svg#hb_line {
    font-size: 18px;
    width: 18px;
}


header.minbar2 {
    font-size: 8pt;
    height: 100%;
    margin: auto;
    text-align: right;
}

.search_list_wrap {
    text-align: center;
}


article.Index040121 {
    padding: 0px;
    width: 100%;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    min-width: auto;
}

form#search_box_big *:not(div#logo *) {
    background: #ffec00;
    text-align: center;
    overflow: auto;
}

#logo {
    width: 174.953px;
    height: 40.206px;
    overflow: visible;
    position: relative;
    margin: auto;
}


._2_mj {
    overflow: visible;
    position: absolute;
    width: 35.049px;
    height: 18.641px;
    left: 1.452px;
    top: 1.827px;
    transform: matrix(1,0,0,1,0,0);
}

._3_mk {
    overflow: visible;
    position: absolute;
    width: 35.049px;
    height: 18.639px;
    left: 3.676px;
    top: 20.468px;
    transform: matrix(1,0,0,1,0,0);
}

._4_ml {
    overflow: visible;
    position: absolute;
    width: 29.661px;
    height: 18.192px;
    left: 5.267px;
    top: 14.364px;
    transform: matrix(1,0,0,1,0,0);
}


._1_mi {
    overflow: visible;
    position: absolute;
    width: 40.176px;
    height: 40.206px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#_8_mm {
    position: absolute;
    width: 128.953px;
    height: 21.185px;
    left: 46px;
    top: 8px;
    overflow: visible;
}

#logo * {
    fill: rgba(146,7,131,1);
    /* background: rgba(146,7,131,1) !important; */
}

._2_mn {
    overflow: visible;
    position: absolute;
    width: 128.953px;
    height: 21.185px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#_4_ml {
     fill: rgba(255,236,0,1);
}

#_3_mk {
     fill: rgba(255,236,0,1);
}

#_2_mj {
     fill: rgba(255,236,0,1);
}

#_1_mi {
    fill: rgba(146,7,131,1);
}


form#search_box_big {
 top: 0;
  z-index: 99;
  height: 90px;
  background: #ffec00;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
}

form#search_box_big .search_list_wrap {
    height: 90px;
    display: flex;
}

.main_menu ul {
    text-align: center;
    margin: 0px;
}

@media only screen and (min-width: 1280px) {
  article.Index040121 > *:not(form):not(.row3):not(.footer_webmap) {
      max-width: 1100px;
      margin: auto;
  }
  article.Index040121 .main > *:not(form):not(.row3):not(.footer_img):not(.footer_webmap) {
    padding-left: 1%;
    padding-right: 1%;
  }

  .footer_webmap > .house_row {
    display: flex;
    width: 1100px;
    margin: auto;
}

}

@media (max-width: 1600px) {
  html .main_menu>ul>li>a {
      padding: 0 .8vw;
  }
}

.main_menu {
    background: rgba(242,242,242,1);
    /* box-shadow: none; */
}

html .main_menu>ul>li>a {
    border-right: 1px solid;
    line-height: 1rem;
    color: #000;
}

header.minbar_3 {
    box-shadow: 0px 3px 10px #aaa;
    z-index: 99;
    position: relative;
}

.minbar2_zone {
    max-width: 1160px;
    margin: auto;
}

svg.svg-inline--fa.fa-share-alt.fa-w-14 {
    display: none;
}

a.border:after {
    content: " ";
    border-right: 1px solid #000;
    margin-left: 1rem;
}

header.minbar2.r .menu_right {
    text-align: right !important;
    margin-right: 0rem;
}

.main_menu ul>li>a {
    font-size: 16px;
}

header.minbar2.col-sm-4.r, header.minbar2.col-sm-4.l {
    height: 90px;
    padding-top: 24px;
}


.col-sm-12.row3 {
    margin-top: 90px;
    opacity: 0;
}


#_350 {
		fill: rgba(140,0,112,1);
	}
._350 {
    overflow: visible;
    position: absolute;
    width: 15px;
    height: 15px;
    transform: translate(-438px, -130.393px) matrix(1,0,0,1,480.1066,133.5) rotate(45deg);
    transform-origin: center;
    left: 20px;
    top: -10px;
}


.main_menu .dropdown-menu li {
    background: rgba(146,7,131,1);
}

.main_menu .dropdown-menu li a {
    color: #FFF;
}

.main_menu .dropdown-menu>li>a:hover {
    opacity: 1;
    background: rgb(60 0 53);
    color: #FFF;
}

form#search_box_big2 {

    width: 100%;
    z-index: 99;
}


.search_forms_wrap_II {
    width: 100%;
    background: #FFF;
    height: 90px;
    margin-top: -1.5rem;
    padding-top: 1rem;
}
