#search_box_big .search_forms_wrap .county_city {
    cursor: pointer;
    min-width: 200px;
    height: 45px;
    max-width: calc(100% - 50%);
    padding: 5px 10px 5px 10px;
    margin: 10px 6px;
    color: #fff;
    font-size: 1.1em;
    line-height: 33px;
    font-weight: bold;
    text-align: center;
    border-radius: 0 10px;
    background: var(--main_color1);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*#search_box_big .search_forms_wrap .county label{*/


/*    font-size: 1.1em;*/


/*    padding: 0 5px 0px 5px;*/


/*    line-height: 40px;*/


/*}*/

#search_box_big .search_forms_wrap .city label {
    font-size: 1.1em;
    padding: 0 5px 0px 5px;
    line-height: 40px;
}

#search_box_big .search_forms_wrap label {
    width: 100px;
    /* min-width: 8em; */
    height: 45px;
    padding: 5px 0px 0px 0px;
    /* margin: 10px 6px; */
    line-height: 33px;
    font-size: 1em;
    font-weight: initial;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 0 8px;
    position: relative;
    text-align: center;
}

#search_box_big .search_forms_wrap label img {
    width: 45px;
    margin: 0px auto 0px;
    position: absolute;
    top: 0px;
    left: 5px;
}

#search_box_big .search_forms_wrap label:hover {
    border: 2px solid #aaa;
}

#search_box_big .search_forms_wrap spam.county,
#search_box_big .search_forms_wrap spam.city {
    display: inline-block;
}

#search_box_big .search_forms_wrap .county_div,
#search_box_big .search_forms_wrap .city_div {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 4px;
    border-radius: 3px;
    box-shadow: 0 0 10px #909090;
}

#search_box_big .search_forms_wrap input[type="checkbox"]:checked+label,
#search_box_big .search_forms_wrap input[type="radio"]:checked+label,
#search_box_big .search_forms_wrap label.active {
    border: 2px solid var(--main_color1);
    font-weight: bold;
    color: #333;
    background: unset;
}

.search_forms_wrap {
    /* box-shadow: 0px 6px 15px #aaa; */
    /* width: 1200px; */
    border-radius: 0px 30px;
    margin-bottom: 50px;    
}

.searcounty_sch_content {
    padding: 10px 50px 50px 100px;
}

#search_box_big .search_forms_wrap .pattern {
    width: 400px;
    display: inline-block;
    position: relative;
    left: 62px;
}

#search_box_big .search_forms_wrap .pattern .search_table {
    display: table;
    width: 100%;
    position: absolute;
    top: -29px;
    left: -25px;
}

#search_box_big .search_forms_wrap .pattern .w150 {
    display: table-cell;
    vertical-align: middle;
    width: 150px;
    padding: 0px 0px 0px 10px;
}

#search_box_big .ui-widget.ui-widget-content {
    width: 65%;
}

.big_box .search_btn,
.search_btn {
    border-radius: 0px 10px;
}

.tag_div img {
    width: 35px;
}

.tag_div samp {
    margin: 0px 5px 10px;
}

.photo_row .img {
    width: auto;
    height: auto;
}


/*!* 頭的line *!*/


/*.process_bar{*/


/*    display: flex;*/


/*    padding: 10px;*/


/*    color: #999;*/


/*}*/


/*.process_bar_line{*/


/*    background: #532789;*/


/*    width: 50px;*/


/*    height: 2px;*/


/*    margin: auto 5px;*/


/*    border-radius: 5px;*/


/*}*/


/*.process_bar_line_h{*/


/*    background: #FFF;*/


/*    width: 50px;*/


/*    height: 2px;*/


/*    margin: auto 5px;*/


/*    border-radius: 5px;*/


/*}*/


/*.process_bar button{*/


/*    background: #FFF;*/


/*    border: 0px;*/


/*}*/


/*.process_bar_t{*/


/*    border: 2px solid #512779;*/


/*    border-radius: 5px;*/


/*}*/

.fast_select{
  /* display: block !important; */
}

.fast_select table {
    width: 100%;
    background: #71508e;
    border-radius: 0 0 5px 5px;

}

.fast_select table td.Rline {
    border-right: 1px solid #ccc;
    text-align: center;
}

.fast_select table td.Rline a {
    color: #fff;
}
