/*html {*/
/*    -webkit-user-select:none;*/
/*    -moz-user-select:none;*/
/*    -o-user-select:none;*/
/*    user-select:none;*/
/*}*/

/*.rent_service .honeycomb .honeycomb_list a.hexagontent {*/
/*    font-size: 18px;*/
/*}*/

/*.rent_service .item_wrap {*/
/*    margin: 0px auto 40px!important;*/
/*}*/


/* 頁籤 - start */
.item_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0px auto 40px;
    padding: 0px 70px 0px 15px;
}

.item_wrap:after{
    content: "";
    flex: auto;
    width: 70%;
    left: 100px;
    height: 1px;
    position: absolute;
    background: #aaa;

}

.item_wrap .title{
    width: unset;
    padding-right: 15px;
    background: #fff;
    z-index: 1;
    color: var(--main_color1);
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 1px;
}

.item_wrap .item_list {
    width: unset;
    padding-left: 15px;
    align-items: center;
    justify-content: unset;
    margin: unset;
    background: #fff;
    z-index: 1;
    display: flex;
}

.item_wrap .item_list a{
    text-align: center;
    width: 120px;
    position: relative;
    color: var(--text_light_color);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.31em;
}

.item_wrap .item_list a:after{
    display: none;
}

.item_wrap .item_list i{
    width: 1px;
    height: 25px;
    background: #888;
}

.item_wrap .item_list a.active {
    color: #555;
    font-size: 1.6em;
    line-height: 1.2em;
}

.item_wrap .item_list a:hover{
    color: var(--main_color1);
}


.rent_service .item_wrap .title {
    width: unset;
    padding-right: 15px;
    background: #fff;
    z-index: 1;
    color: var(--main_color1);
    font-size: 2.4em;
    font-weight: bold;
    letter-spacing: 1px;
}
/* 頁籤 - end */

.rent_service .honeycomb, .rent_service .honeycomb{
    width: 1100px;
    height: 670px;
}

.rent_service .honeycomb .honeycomb_list a.hexagontent {
    font-size: 20px;
    color:#333;
}

.rent_service .honeycomb .honeycomb_list {
    width: 180px;
    margin: 0px;
    margin: 0 auto;
}

.rent_service .honeycomb .honeycomb_list_wrap1 {
    top: 68px;
    left: 101px;
    width: 82%;
}

.rent_service .honeycomb .honeycomb_list_wrap2 {
    top: 224px;
    left: 4px;
    width: 99.5%;
}

.rent_service .honeycomb .honeycomb_list_wrap3 {
    top: 380px;
    left: 96px;
    width: 82.5%;
}

.rent_service .honeycomb .honeycomb_list_wrap4 {
    top: 535px;
    left: 7px;
    width: 99.5%;
}
