/* 彈框 - start */
.modal_btn {
    margin: 20px auto 15px;
}

.modal-lg {
    width: 1000px;
}

.modal_btn .btn_wrap {
    display: block;
    background: #fff;
    border: 2px solid #aaa;
    border-radius: 0px 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.modal_btn a {
    width: 100%;
    font-size: 20px;
    color: var(--text_normal_color);
    padding: 5px;
    letter-spacing: 1.5px;
    position: relative;
}

.modal_btn a:after {
    content: "";
    height: 80%;
    position: absolute;
    top: 4px;
    left: 100%;
    border-right: 1px solid #ccc;
}


.modal_btn a:hover {
    color: #fff;
    background: var(--main_color1);
}

.modal-dialog {
    margin: 15vh auto;
    z-index: 10 !important;
}

.modal-content {
    border: 1px solid var(--main_color1);
    border-radius: 0px 35px;
}


/* 彈窗暗色背景 */
/*.modal-backdrop.in {*/
/*    display: none;*/
/*}*/

.modal-header {
    padding: 25px 80px 25px;
    margin: 0px auto;
    border: none;
    display: flex;
    align-items: center;
}

.modal-header .modal_title1 {
    width: 28%;
    white-space: nowrap;
    padding: 0px 50px 0px;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--main_color1);
    letter-spacing: 5px;
    text-align: right;
}

.modal-header .modal_title2 {
    width: 72%;
    white-space: nowrap;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--main_color1);
    letter-spacing: 3px;
    display: flex;
    border: 1px solid var(--main_color1);
    border-radius: 0px 15px;
    overflow: auto;
}

.modal-header .modal_title2 label {
    white-space: nowrap;
    padding: 5px 15px;
    margin: 0px;
    border-right: 1px solid var(--main_color1);
}

.modal-header .modal_title2 label2 {
    white-space: nowrap;
    padding: 5px 15px;
    margin: 0px;
    border-left: 1px solid var(--main_color1);
    border-right: 1px solid var(--main_color1);
}

.modal-header input {
    width: 100%;
    color: #555;
    font-weight: normal;
    padding: 0px 10px;
    border: none;
}


.modal-dialog .modal-body {
    padding: 0px 40px 10px;
}

.modal-dialog .content_wrap {}

.modal-dialog .content_wrap .content {
    border: 1px solid #aaa;
    padding: 20px 50px 20px;
    border-radius: 0px 15px 0px 0px;
}


.modal-dialog .content_wrap .caption {
    border: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-radius: 0px 15px 0px 0px;
}

.modal-dialog .content_wrap .caption .info {
    width: 100%;
    text-align: center;
    border: unset;
    background: #f3e6ff;
}


.modal-dialog .content_wrap .caption .info #title {
    font-weight: bold;
    font-size: 1.2em;
}

.modal-dialog .content_wrap .caption .labe {
    border: unset;
}



.modal-dialog .modal-body .content .caption {
    border: unset;
}


.modal-dialog .modal-body .content .list {
    line-height: 2em;
}

.modal-dialog .modal-body .content .name_frame {
    position: relative;
}

.modal-dialog .modal-body .content .list .floating {
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
}


.modal-dialog .modal-body .content .list .floating i {
    width: unset;
    height: unset;
    color: unset;
    position: absolute;
    background: unset;
    margin: auto;
}

.modal-dialog .modal-body .content .list .floating i:before {
    color: #888;
    font-size: 1.4em;
    background: unset;
    position: absolute;
    top: 10px;
}

.modal-dialog .modal-body .content .list input {
    width: 100%;
    display: block;
    color: #555;
    letter-spacing: 2px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 40px;
    text-align: left;
    border: unset;
    border-bottom: 1px solid #333;
    background: unset;
    position: relative;
}

.modal-dialog .modal-body .content .list input::placeholder {
    color: #333;
    font-size: 1em;
    text-align: center;
    /* padding: 0px 0px 0px 10px; */
}

.modal-dialog .modal-body .content .list .radio_wrap {
    display: flex;
    margin: 0px;
}


.modal-dialog .modal-body .content .list .radio_wrap .radio {
    width: 85px;
    display: block;
    text-align: center;
    position: relative;
}

.modal-dialog .modal-body .content .list .radio_wrap .radio input {
    width: unset;
    margin: 15px 0px 0px;
    position: absolute;
}

.modal-dialog .modal-body .content .list .radio_wrap img {
    width: 30px;
    height: auto;
    vertical-align: top;
}

.modal-dialog .modal-body .content .list .radio_wrap .radio .caption {
    color: #555;
    font-size: 1.1em;
    display: inline-block;
    overflow: unset;
    padding: 0px;
}

.modal-dialog .message textarea {
    max-width: 716px;
    min-width: 716px;
    min-height: 100px;
    border: 1px solid var(--main_color1);
    border-radius: 0px 20px;
}

/* 送出按鈕 */
.modal-dialog .modal-footer{
    text-align: center;
    border: unset;
    padding: 10px 0px 0px;
    margin-bottom: 20px;
}

.modal-dialog .modal-footer .btn {
    color: #fff;
    padding: 5px 15px;
    /* margin: 0px auto 20px; */
    font-size: 1.1em;
    background: var(--main_color1);
    letter-spacing: 5px;
    border-radius: 0px 10px;
}


.modal-dialog .radio_wrap {
    display: flex;
    justify-content: start;
    align-items: center;
}

.modal-dialog .radio_wrap .radio {
    width: 80px;
    margin: 0px;
    font-size: 1em;
    font-weight: normal;
}


/* 聯絡時間  */
.modal-dialog .contact_time_wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0px 0px;
}

.modal-dialog .contact_time_wrap .caption {
    width: 120px;
    color: #555;
    font-size: 1.1em;
    line-height: 16px;
    padding: 0px;
    margin: 0px 20px 0px 0px;
    font-weight: bold;
}

#modal-container1 .modal-dialog .modal-body .contact_time_wrap .radio {
    width: 60px;
    padding: 0px 5px;
    margin: 0px auto;
    font-size: 16px;
    font-weight: normal;
    position: relative;
}

#modal-container2 .modal-dialog .modal-body .contact_time_wrap .radio {
  width: 55px;
  padding: 0px 5px;
  margin: -5px 5px;
  font-weight: normal;
  position: relative;
}

#modal-container3 .modal-dialog .modal-body .contact_time_wrap .radio {
  width: 55px;
    padding: 0px 0px;
    margin: -15px 6px;
    font-weight: normal;
  position: relative;
}

#modal-container3 .modal-dialog .modal-body .contact_time_wrap .radio input{
  left: -80px;
    top: 14px;
    margin-bottom: -10px;
}

#modal-container1 .modal-dialog .modal-body .contact_time_wrap .radio input{
  margin: 0px;
  position: absolute;
  left: -13px;
  top: 2px;
}

#modal-container2 .modal-dialog .modal-body .contact_time_wrap .radio input {
  left: -80px;
    top: 14px;
    margin-bottom: -10px;
}


.flexbox {
    display: flex;
}


/* 留言框 */
.modal-dialog .message {
    padding: 0px;
    margin: 0px -5px;
}

.modal-dialog .message textarea {
    width: 100%;
    min-width: 810px;
    max-width: 810px;
    min-height: 100px;
    max-height: 190px;
}

.modal-dialog .content_wrap .message .caption {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: unset;
    line-height: 18px;
    margin: 0px 0px 5px;
}

.modal-dialog .content_wrap .message .caption img{
    width: 35px;
    margin: 0px 10px 0px 0px;
}


/* 同意聲名 */
.modal-dialog .agree {
    margin: 15px 0px 0px;
    text-align: left;
}

.modal-dialog .agree label {
    font-size: 1em;
    font-weight: normal;
    line-height: 25px;
    margin: 0px;
}

.modal-dialog .agree input {}


/* 預約賞屋 - start*/
.modal-dialog .content_wrap .order_time_wrap {
    text-align: left;
    margin: 10px 0px 15px;
}

.modal-dialog .content_wrap .order_time_wrap .caption span {
    color: red;
    font-size: 14px;
    font-weight: normal;
    margin-left: 15px;
}

.modal-dialog .content_wrap .order_time_wrap .radio_wrap {
    padding-left: 8px;
}

.modal-dialog .content_wrap .order_time_wrap .caption {
    color: #555;
    font-size: 1.1em;
    line-height: 20px;
    padding: 5px 0px 5px;
    font-weight: bold;
}

.modal-dialog .content_wrap .order_time_wrap .radio {
    padding: 0px;
    width: 65%;
    margin-left: 30px;
}

.modal-dialog .content_wrap .order_time_wrap .form-control {
    margin: 0px 2px;
    font-size: 18px;
    text-align: center;
}

/* 預約賞屋 - end*/

/* 09.30 */
@media (min-width: 992px)
.col-md-5 {
    font-size: 12pt;
}

.modal-dialog .content_wrap .message .caption {
    font-size: 12pt;
}

.radio_wrap i,.contact_time_wrap i {
    color: #888;
    font-size: 1.4em;
    background: unset;
    position: absolute;
    top: 10px;
    margin: auto;
}
.contact_time_wrap i {
    /* color: #888; */
    /* font-size: 1.4em; */
    /* background: unset; */
    /* position: absolute; */
    top: 0px;
    /* margin: auto; */
    margin-left: 8px;
}

.modal-dialog .modal-body .content .list .radio_wrap .radio {
    left: 0%;
}

#modal-container1 .modal-dialog .modal-body .content .list .radio_wrap {
    display: flex;
    margin: 8px -175px 0px;
    font-size: 10pt;
}

#modal-container2 .modal-dialog .modal-body .content .list .radio_wrap {
    display: flex;
    margin: 8px -247px 0px;
    font-size: 10pt;
}

#modal-container3 .modal-dialog .modal-body .content .list .radio_wrap {
  display: flex;
  margin: 8px -240px 0px;
  font-size: 10pt;
}

.modal-dialog .modal-body .content .list input.floating_input.name {
    line-height: 3em;
}

.modal-dialog .modal-body .content .list input.floating_input::-webkit-input-placeholder {
  text-align:left;
}

.modal-dialog .modal-body .contact_time_wrap .radio,.modal-dialog .contact_time_wrap .caption {
    position: relative;
    left: 10%;
}

div#modal-container1 hr {
    margin: 10px;
}

.modal-dialog .modal-footer .btn_wait {
    color: var(--main_color1);
    padding: 5px 15px;
    margin: 0px 10px 20px;
    font-size: 1.1em;
    background: #fff;
    letter-spacing: 5px;
    border-radius: 0px 10px;
    border: 1px solid;
}

.modal-dialog .content_wrap .message .caption
{
    position: relative;
}

.modal-dialog .modal-body .contact_time_wrap .radio input {
    left: -12px;
    top: 2px;
}

#modal-container1 .modal-dialog .contact_time_wrap {
    margin: 5px 16px 0px;
    width: 45%;
    position: absolute;
    /* right: 2%; */
    left: 9%;
}

#modal-container2 .modal-dialog .contact_time_wrap {
    margin: 5px -30px 0px;
    width: 100%;
    position: absolute;
    /* right: 2%; */
    left: 0%;
}

.modal-dialog .contact_time_wrap {
  margin: 5px -30px 0px;
  width: 100%;
  position: absolute;
  /* right: 2%; */
  left: 0%;
}

.modal-dialog .modal-body .content .name_frame {
    display: flex;
}

.modal-dialog .modal-body .content .list {
    margin-bottom: 15px;
}
