:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.flex{
    display: flex;
    align-items: center;
}

.half{
    width: 60%;
}

.border-right{
    border-right: 1px solid #aaa;
    margin-right: 15px!important;
}


.StoreLogin .item_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0px 100px 0px 50px;
    margin: 0px auto 20px;
}

.StoreLogin .item_wrap:after{
    content: "";
    flex: auto;
    width: 80%;
    height: 1px;
    position: absolute;
    background: #aaa;
}

.StoreLogin .item_wrap .title{
    width: unset;
    padding-right: 15px;
    background: #fff;
    z-index: 1;
    color: var(--main_color1);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

.StoreLogin .item_wrap .item_list {
    width: unset;
    padding-left: 15px;
    align-items: unset;
    justify-content: unset;
    margin: unset;
    background: #fff;
    z-index: 1;
}

.StoreLogin .item_wrap .item_list a{
    color: #555;
    font-weight: bold;
    font-size: 1.2em;
}
.Store_registration_wrap {}

.Store_registration_wrap input::placeholder{
    color: #888;
    font-size: 1em;
    text-align:left;
}

.Store_registration_wrap{
    max-width: 1500px;
    margin: 0px auto;
    padding: 10px 70px 20px 15px;
}


.Store_registration_wrap .frame{
    padding: 80px 30px 50px;
    margin: 0px auto 30px;
    border: 1px solid #aaa;
    border-left: 20px solid #ccc;
    border-radius: 0px 15px;
    background: #eee;
}

.Store_registration_wrap .frame:nth-of-type(odd) {
    /* background: #ffffd6; */

}

.Store_registration_wrap .form-group{
    margin-bottom: 20px;
}

.Store_registration_wrap .form-group .control-label{
    width: 19%;
    min-width: 220px;
    padding: 0px 15px 0px 0px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--normal_color);
    letter-spacing: 2px;
    text-align: right;
    position: relative;
}

.Store_registration_wrap .form-group .control-label i{
    font-size: 1.2em;
    margin-right: 10px;
    color: #333;
}


.Store_registration_wrap .form-group .control-label:nth-of-type(2), .Store_registration_wrap .form-group .control-label:nth-of-type(3){
    min-width: 160px;
}

.Store_registration_wrap .form-group .full{
    width: 100%;
}

.Store_registration_wrap .form-group .form-control{
    width: 100%;
    height: 30px;
    padding: 0px 0px 0px 15px;;
    font-size: 1em;
    font-weight: normal;
    color: var(--normal_color);
    letter-spacing: 1px;
    border: unset;
    border-bottom: 1px solid #aaa;
    box-shadow: unset;
    border-radius: unset;
    background: unset;
}

.Store_registration_wrap .form-group .form-control select option{
    font-size: 16px;
}

.Store_registration_wrap .form-group .radio_wrap{
    margin: 0px 0px 0px 30px;
    display: flex;
    align-items: center;
}

.Store_registration_wrap .form-group .radio_wrap .radio{
    min-width: 5vw;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.Store_registration_wrap .poptip_wrap{
    position: relative;
    display: none;
}

.Store_registration_wrap .poptip_wrap .frame{
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    height: 200px;
    padding: 15px;
    background: var(--main_color1);
    border-radius: 0px 15px;
    z-index: 15;
}

.Store_registration_wrap .poptip_wrap .frame  hr{
    margin: 10px auto 20px;
}

.Store_registration_wrap .poptip_wrap .frame .caption{
    color: #fff;
    font-size: 2.5em;
    font-weight: normal;
}

.Store_registration_wrap .poptip_wrap .frame .content{
}

.Store_registration_wrap .poptip_wrap .frame .content p{
    color: #fff;
    font-size: 1.3em;
    font-weight: normal;
}


.Store_registration_wrap .form-check{
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Store_registration_wrap input[type="checkbox"]{
    width: 18px;
    height: 18px;
}

.Store_registration_wrap .form-check input{
    margin: 0px 10px 0px 0px;
}

.Store_registration_wrap .form-check label{
    font-size: 1em;
    margin: 0px;
    line-height: 1.2em;
}

.Store_registration_wrap .label{
    width: 100%;
    padding: 0px;
    margin: 20px 0px 20px 7px;
    color: var(--normal_color);
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: unset;
}

.Store_registration_wrap .label span{
    color: var(--normal_color);
    font-size: .7em;
    letter-spacing: 1px;
}

.Store_registration_wrap .form-group .form-control.no_border{
    border: unset;
}

.Store_registration_wrap .form-group .upload_btn span{
    margin: 0px 0px 0px 10px;
    font-size: .8em;
}

.Store_registration_wrap .upload_wrap{
    min-width: 290px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Store_registration_wrap .upload_wrap .form-group{
    width: 49%;
    margin-bottom: 20px;
}

.Store_registration_wrap .upload_wrap .label_caption{
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0px 0px 1px;
    display: block;
    width: 100%;
}

.Store_registration_wrap .form-group .upload_btn{
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 10px;
    background: #aaa;
    border-radius: 2px;
    display: block;
}
.Store_registration_wrap .form-group .upload_img{
    position: relative;
    padding: 5px 0px 5px;
}

.Store_registration_wrap .form-group .upload_img .delete{
    color: #555;
    background: #fff;
    position: absolute;
    bottom: 15px;
    right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 0px 5px;
    border: 2px solid #555;
}

.Store_registration_wrap .form-group .upload_img img{
    margin: 0px auto 5px;
    border-radius: 0px 10px;
}

.Store_registration_wrap .agree{
    position: relative;
    margin-bottom: 10px;
    max-width: 660px;
    margin: 20px auto 11px;
}

.Store_registration_wrap .agree label{
    font-size: 1em;
    margin: 0px 0px 0px 30px;
}

.Store_registration_wrap .agree input{
    position: absolute;
    top: 0px;
    left: 0px;
}


.Store_registration_wrap .send{
    margin: 40px auto 20px;
}

.Store_registration_wrap .send .btn{
    width: 100px;
    font-size: 20px;
    color: #fff;
    background: #512779;
    letter-spacing: 5px;
    border-radius: 0px 5px;
    position: relative;
}

/* 地區 */
.Store_registration_wrap #search_box_big {
    width: 15%;
    margin: 0px auto 0px;
}

.search_list_wrap .city_select, .search_list_wrap .class_select, .search_list_wrap .type_select, .search_list_wrap .city_select, .search_list_wrap .class_select, .search_list_wrap .type_select{
    width: 100%;
    max-width: 100%;
    margin: 0px;
    text-align: left;
    border: unset;
}

#search_box_big .county_city {
    min-width: 200px;
    margin: 0px;
}

#search_box_big .county_div, #search_box_big .city_div{
    min-width: 850px;
}