:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

/* 2020.11.30 */

.special_store_wrap .banner {
    padding-top: 10px;
}

.b_padding {
    padding: 10px 0;
    position: absolute;
    bottom: -20px;
}

.special_store_wrap .roof {
    position: relative;
    text-align: center;
}

.special_store_wrap .roof > img {
    width: 100%;
}

.search_list_wrap {

    border-radius: 15px;
    width: max-content;
    background: #ffffffbd;
    padding: 10px;
}

form#search_box_big .search_div .class_select, #search_box_big .search_div spam.county_city, .search_list_wrap .search_input input::placeholder{
    font-size: 1.3vw !important;
}

.field {
    background: unset;
}

.st0{ fill:none;stroke:#666;stroke-width:1;stroke-miterlimit:10; }
.st1{ fill:#666; }

.search_list_wrap .search_icon{
	background: unset !important;
}

.none {
    display: none;
}

.image_frame .img {
    position: relative;
}

.special_store_wrap {
    /* padding: 0px 70px 0px 15px; */
    padding: 0px 15px 0px 15px;
        background: #f9f9f9;
        position: relative;
}

/* 2020.11.30 end */

.special_store_wrap .banner {
    border-radius: 0px 55px;
    /* border: 1px solid #aaa; */
    overflow: hidden;
}

.special_store_wrap .roof {
    margin: 0% auto 7%;
}

.special_store_wrap .store_list_wrap {}

.special_store_wrap .store_list_wrap ul {
    display: flex;
    flex-wrap: wrap;
}

.special_store_wrap .store_list_wrap ul > li {
    width: 30%;
    margin: 0px 2% 30px 2%;
}

.special_store_wrap .store_list_wrap ul > li:nth-child(3n+3) {
    margin: 0px 0px 0px 2%;
}

.special_store_wrap .store_list_wrap ul li .image_frame {
    width: 100%;
    text-align: center;
    /* max-width: 450px; */
    max-height: 330px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 0px 30px;
    overflow: hidden;
}

.special_store_wrap .store_list_wrap ul li .caption {
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 2em;
    letter-spacing: 1px;
}

.special_store_wrap .store_list_wrap ul li .caption i {
    width: 1px;
    height: 18px;
    margin: 0px 10px -2px;
    display: inline-block;
    background: #888;
}

.special_store_wrap .store_list_wrap ul li .content_wrap .caption span {
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1em;
    letter-spacing: 1px;
}

.special_store_wrap .store_list_wrap ul li .content_wrap .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.special_store_wrap .store_list_wrap ul li .content_wrap .list .hot,
.special_store_wrap .store_list_wrap ul li .content_wrap .list .offer {
    width: auto;
    min-width: 55px;
    font-weight: bold;
    line-height: 2.5em;
}

.special_store_wrap .store_list_wrap ul li .content_wrap .list .text {
    font-size: 1em;
    font-weight: normal;
    line-height: 1em;
    letter-spacing: 1px;
}

.special_store_wrap .store_list_wrap ul li .content_wrap .list i {
    width: 1px;
    min-width: 1px;
    height: 20px;
    margin: 0px 10px 0px 10px;
    display: inline-block;
    background: #888;
}

.special_store_wrap .store_list_wrap ul li .content_wrap .list * {
    padding: 0px;
    white-space: unset;
    font-family: Microsoft JhengHei;
}

.special_store_wrap .store_list_wrap ul li .content_wrap .list samp {
    color: #333;
    font-size: 1.1em;
}

.special_store_wrap .store_list_wrap ul li .content_wrap .list a {
    font-size: 1.1em;
}

.special_store_wrap .search_wrap {
    display: flex;
}


/* 搜尋 */

.Index #search_box_big {
    margin: 40px 0;
    padding: 0px 70px 0px 0px;
}

.search_list_wrap {
    display: flex;
    align-items: center;
    /* padding: 0px 250px 0px; */
    margin: auto;
    width: 55%;
}

.search_list_wrap .search_div {
    margin: 0px 15px 0px;
    position: relative;
}

#search_box_big .search_div .county_city {
    display: block;
    cursor: unset;
    min-width: unset;
    color: unset;
    font-weight: unset;
    text-align: unset;
    border-radius: unset;
    background: unset;
    max-width: unset;
    margin: unset;
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
    padding: 0px;
    font-size: 1.1em;
}

.search_list_wrap .city_select,
.search_list_wrap .class_select,
.search_list_wrap .type_select,
.search_list_wrap .city_select,
.search_list_wrap .class_select,
.search_list_wrap .type_select {
    cursor: pointer;
    max-width: 150px;
    /* min-width: 150px; */
    padding: 5px 10px;
    margin: 0px;
    color: #555;
    font-weight: bold;
    text-align: center;
    border-radius: 0 5px;
    background: unset;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #888;
    border-radius: unset;
    display: block;
    overflow: hidden;
    font-size: 1.1em;
    width: 8vw;
}

#search_box_big .search_list_wrap .search_div .county_div,
#search_box_big .search_list_wrap .search_div .city_div,
#search_box_big .search_list_wrap .search_div .category {
    position: absolute;
    overflow: auto;
    width: 51vmax;
    background: #fff;
    padding: 10px;
    margin: 5px 0px 0px;
    border: 1px solid var(--main_color1);
    box-shadow: 0px 5px 10px #aaa;
    border-radius: 5px;
    z-index: 1;
}

#search_box_big .search_list_wrap .search_div .patterns {
    position: absolute;
    overflow: auto;
    width: 60vmax;
    background: #fff;
    padding: 10px;
    margin: 5px 0px 0px;
    border: 1px solid var(--main_color1);
    box-shadow: 0px 5px 10px #aaa;
    border-radius: 5px;
    z-index: 1;
}

#search_box_big .search_list_wrap .search_div input {
    width: 5vw;
    text-align: center;
    margin: 7px 0px 0px;
    border: unset;
    border-bottom: 1px solid #888;
}

.search_list_wrap .search_div .category label {
    float: left;
}

.search_list_wrap .search_input {
    width: 26vw;
    margin: 9px auto 0px;
}

#search_box_big .close_all {
    position: unset!important;
    font-size: 1.1em;
    padding: 5px 20px 5px;
    margin: 0px 15px 0px;
    white-space: nowrap;
    letter-spacing: 10px;
    border-radius: 0px 10px;
}

.search_list_wrap .search_icon {
    width: 70px;
    border: unset;
    outline: unset;
    background: #fff;
    margin: 9px auto 0px;
}

.search_list_wrap .search_icon svg {
    display: block;
    width: 80%;
    height: auto;
}

.w290 {
    width: 380px;
}

#room_range_name {
    display: flex;
    width: 115%;
    margin: 0px 0px 0px -37px;
}

#room_range_name span {
    flex: auto;
}

.range_name_color {
    color: #fff;
    padding: 5px;
    font-size: .8em;
    text-align: center;
    border-radius: 10px;
    background: var(--main_color1);
}

@media only screen and (min-width: 1280px) {
    #search_box_big label {
        font-size: 0.8em!important;
        font-weight: bold!important;
    }
}

@media only screen and (min-width: 1930px) {
    #search_box_big label {
        font-size: 1em!important;
        font-weight: bold!important;
    }
}

.hot_list {
    width: 80%;
}

.hot_list samp {
    margin-right: 5px;
}

form#search_box_big .search_div .class_select,
#search_box_big .search_div spam.county_city,
.search_list_wrap .search_input input::placeholder {
    font-size: 1vw;
    line-height: 19px;
    margin: 12px auto 0px;
}
