.jqzoom {
    height: 400px;
}

.jqzoom img{
  height: unset !important;
  margin-top: -75.5px !important;
}

.house_search .data_wrap .object_view {
    display: flex;
}
.house_search .data_wrap {
    width: 70% !important;
    max-width: unset;
}

.house_search .user_info_wrap {
    /* width: 30% !important; */
}

.house_search .spec-scroll .prev {
    top: 0px;
}
.house_search .spec-scroll a {
    position: absolute;
    height: 12pt !important;
    width: 100% !important;
    line-height: 10pt !important;
}

.house_search .spec-scroll .next {
    bottom: 0px;
}
.house_search .spec-scroll a {
    position: absolute;
    height: 12pt !important;
    width: 100% !important;
    line-height: 10pt !important;
}

.house_search .spec-scroll {
    position: relative;
    width: 20% !important;
    margin-left: 15px;
}

.house_search .spec-scroll .items {
    height: 93% !important;
    width: -webkit-fill-available !important;
}
.house_search .spec-scroll .items {
    left: 0px !important;
    top: 10pt;
}

.house_search .spec-scroll .items {
    height: 93% !important;
    width: -webkit-fill-available !important;
}
.house_search .spec-scroll .items {
    left: 0px !important;
    top: 10pt;
}

.house_search .spec-scroll .items ul {
    display: grid;
}

.house_search .user_info_wrap .qr_code {
    width: 30%;
    /* bottom: 100px !important; */
}

.house_search .user_info_wrap .caption span {

    font-size: 24px;

    color: red;
    font-weight: bold;

}

.house_search .user_info_wrap .user_info .text span {
    font-size: 24px !important;
}

.modal_btn a {
    font-size: 11pt !important;
}

.btn_a {
    font-size: 12pt !important;
}

.house_search .user_info_wrap .info .unit {
    font-size: 14px;
}

.main_caption h3 {
    font-weight: bold;
    font-size: larger;
    color: #000;
}

.house_search .user_info_wrap .phone_info .number {
    font-size: 16pt !important;
}

.main_caption span {
    font-size: 10pt !important;
    margin-left: 5px;
}

.category p, .box_wrap .box p {
    font-size: 15pt !important;
    margin: 10px 0;
}

.house_search .user_info_wrap .info {

    margin-left: -15px;
}

.category_wrap .category, .category_wrap_2 .category {
    margin-right: 20px;
    min-width: 3rem;
}

.category_wrap .category p, .category_wrap_2 .category p {
    text-align: end;
}

.category_wrap .category:after {
  height: 30px !important;
  top: 319px !important;
  left: 21% !important;
}

.category_wrap_2 .category:after {
    height: 30px !important;
    top: 346px !important;
    left: 19% !important;
}

.category_wrap .category:after, .category_wrap_2 .category:after {
    height: 7%;
    top: 376px;
}

.base_data .list {
    min-width: 33.3333333% !important;
}

.devices.base_data .list {
  width: 10% !important;
  min-width: 10% !important;
}

.house_search .equipment_provided .list_wrap .list .item {
    margin: auto;
    width: max-content;
    background: #fff;
    color: #ccc;
}

.house_search .equipment_provided .list_wrap .list .item.available {
    margin: auto;
    width: max-content;
    /* background: #eee; */
    color: #000;
    font-weight: bold;
}

.house_search .equipment_provided .list_wrap .list .item.item.get1 {
    text-decoration: underline;
}

.house_search .equipment_provided .list_wrap .list .item.item.get2 {
    text-decoration: underline;
}

.house_search .equipment_provided .list_wrap .list .item.item.get3 {
    text-decoration: underline;
}

.house_search .equipment_provided .list_wrap .list .item.item.get4 {
    text-decoration: underline;
}

section .list_wrap .list .info {
    /*position: absolute;*/
}

.house_search .equipment_provided .title {
    width: auto;
    padding: 0px;
    padding-right: 5px;
}

.house_search .equipment_provided .list_wrap .list .item img {
    display: none;
}

.house_search .user_info_wrap .caption,.main_caption {
    margin-left: -4px;
}
