:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.bold{
    font-weight: bold;
}

.red{
    color: red;
}

.wealth_wrap .banner {
    margin: 0px auto 80px;
    border: 1px solid #aaa;
    border-radius: 0px 35px;
    overflow: hidden;
}

.wealth_wrap .content_block_wrap {
    display: flex;
    align-items: center;
    margin: 0px auto 50px;
}

.wealth_wrap .text_wrap{
    text-align: center;
    width: 50%;
}

.wealth_wrap .image_wrap{
    width: 50%;
    border: 1px solid #aaa;
    border-radius: 0px 50px;
    overflow: hidden;
}

.wealth_wrap .content_block_wrap .caption{
    color: var(--main_color1);
    font-weight: bold;
    line-height: 2em;
}

.wealth_wrap .content_block_wrap .caption span{
    padding: 0px;
    margin: 0px 10px 0px 0px;
}

.wealth_wrap .content_block_wrap p {
    font-size: 1.2em;
    line-height: 2em;
}

.wealth_wrap .content_block_wrap img.share{
    width: 55%;
    margin-top: 50px;
}

