#footer .footer_title li {
    display: inline-flex;
    color: #000;
}

#footer .footer_title > span {
    width: 7rem;
    text-align-last: justify;
    /* padding: 0 1rem; */
}

#footer .footer_title {
    display: flex;
    line-height: 3rem;
}

#footer .footer_title > span:after {

content: " ";

margin-left: 1rem;

font-size: .5rem;
}

#footer .footer_title:nth-child(1) > span:after {
    border-right: 3px solid #F5D7CA;

}

#footer .footer_title:nth-child(2) > span:after {
    border-right: 3px solid #F6E3BA;

}

#footer .footer_title:nth-child(3) > span:after {
    border-right: 3px solid #E5E277;

}

#footer .footer_title:nth-child(4) > span:after {
    border-right: 3px solid #92CAA7;

}

#footer .footer_title span {
    font-size: 22px;
}

#footer .footer_title > ul li span:after {
    content: "/";
    margin: .3rem;
}

#footer .footer_title > ul > li:last-child span:after {
    content: " ";
    margin: 1rem;
}

#footer .footer_title > ul li span {
    font-size: 16px;
    word-break: keep-all;
    letter-spacing: 0px;
    cursor: pointer;
    color: #999;
}

.footer_contectus li {
    list-style: none;
}

.icons.links img {
    width: 2vw;
    height: fit-content;
    margin: .5vw;
}

.icons.links {
    display: flex;
}

.download_app {
    margin-top: 1rem;
    margin-bottom: 0px;
}

.footer_contectus .fa-envelope {
    width: 2rem;
    vertical-align: middle;
    margin-right: .5rem;
    height: auto;
    color: #5e5e5ec7;
}

.icons.links img:first-child {
    margin-left: 0px;
}

#footer {
    border-top: 1px solid #ccc;
    margin-top: 5%;
    padding: 0 5%;
    padding-top: 2rem;
    background: #F7F7F7;
}

#footer .footer_title > ul li span:hover {
    transform: scale(1.2);
    transition: border 0.1s, transform 0.1s linear;
    font-weight: bold;
    color: #000;
}

#footer .footer_title > ul > li span:hover:after {
    color: #ccc;
}
