.propaganda .tit_text {
    background: #FAE477;
    border-radius: 10px 0 0 10px;
    text-align: center;
    font-size: 1rem;
}

.propaganda .row {
    background: #FDFAF5;
    border: 2px solid #F1CB1E;
    border-radius: 10px;
}

.propaganda  .con_text {
    color: #FF831D;
    font-size: .9rem;
    background: #FDFAF5;
    padding: 0 1rem;
    margin: auto;
    border-radius: 0 10px 10px 0;
}

[class*="zone"] {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  border-radius: 10px;
  padding-left: 1rem !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

[class*="zone"] svg {
    font-size: 1.5rem;
    vertical-align: initial;
    margin: 0 .2rem;
    display: none;
}

[class*="zone"] label {
    cursor: pointer;
    height: 100%;
    vertical-align: text-top;
    animation: zone_label_anim_o .1s;
    animation-fill-mode: forwards;
    transition: all .3s ease;
    margin-bottom: 0px;
}

[class*="zone"] label:hover {
    transform: scale(1.15);
    transition: all .3s ease;
}

.zone_1 {
    color: #FFF;
    background: var(--main-color_5);
    background: linear-gradient(to right, var(--main-color_5),  var(--main-color_liner_5));
}

.zone_2 {
    color: #FFF;
    background: var(--main-color_6);
    background: linear-gradient(to right, var(--main-color_6),  var(--main-color_liner_6));
}

.zone_3 {
    color: #FFF;
    background: var(--main-color_7);
    background: linear-gradient(to right, var(--main-color_7),  var(--main-color_liner_7));
}

.zone_4 {
    color: #FFF;
    background: var(--main-color_8);
    background: linear-gradient(to right, var(--main-color_8),  var(--main-color_liner_8));
}

.zone_5 {
    color: #FFF;
    background: var(--main-color_9);
    background: linear-gradient(to right, var(--main-color_9),  var(--main-color_liner_9));
}

.zone_6 {
    color: #FFF;
    background: var(--main-color_10);
    background: linear-gradient(to right, var(--main-color_10),  var(--main-color_liner_10));
    /* text-align: center; */
}

.list_1 {
    /* color: #FFF; */
    background: var(--main-color_list_5);
}

.list_2 {
    /* color: #FFF; */
    background: var(--main-color_list_6);
}

.list_3 {
    /* color: #FFF; */
    background: var(--main-color_list_7);
}

.list_4 {
    /* color: #FFF; */
    background: var(--main-color_list_8);
}

.list_5 {
    /* color: #FFF; */
    background: var(--main-color_list_9);
}

.list_6 {
    /* color: #FFF; */
    background: var(--main-color_list_10);
    /* text-align: center; */
}

.items.item_0.cell-2 {}

.items iframe {
    width: 100%;
}

span {}

.name_star span {
    border: 2px solid #EABCBC;
    color: #FF858D;
    border-radius: 5px;
}

.name_star svg {
    font-size: 1rem;
    color: #F3CB0C;
    display: none;
}

.prices .s {
    font-weight: bold;
    color: #B5B5B5;
    text-decoration-line: line-through;
    line-height: 1.5rem;
    vertical-align: -webkit-baseline-middle;
}

.prices .o {color: #FF858D;font-size: 1.5rem;margin: 0 .5rem;position: absolute;right: 0px;font-weight: bold;}

.items > span {
    font-weight: bold;
}

.items {
    text-align: center;
    padding: 5px !important;
    font-weight: bold;
}

.prices, .name_star {
    text-align: start;
    position: relative;
    padding: 0 10px;
}

.row {
    margin-bottom: 1rem;
}

.item_list {
    position: relative;
    margin-top: -1.2rem;
    padding-top: 1rem !important;
}

.item_list > svg {
    position: absolute;
}

.item_list .fa-chevron-left {
    left: -3rem;
    top: 25%;
    display: none;
}

.item_list .fa-chevron-right {
    right: -3rem;
    top: 25%;
    display: none;
}

.propaganda {
  /* margin-top: 1rem; */
  margin-bottom: -1rem;
  padding-top: 1rem !important;
}

[class*="cell-"] img {
    width: 100%;
}

img.lab {
    position: absolute;
    width: 6rem;
    right: 0rem;
    top: -.3rem;
}

.qut_link {
    vertical-align: sub;
    margin: .5rem;
}

.qut_link[class*='link_'] {
    padding: .2rem 2.5rem;
    border-radius: 10px;
}

.link_1 {
    background: #F0EEB3;
}

.link_2 {
    background: #F9CAC2;
}

.link_3 {
    background: #BBDED8;
}

.link_4 {
    background: #8BC5D1;
}

.items .contect {
    background: #FFF;
    border-radius: 15px;
    padding: 5px;
}

.items img {
    border-radius: 10px;
}

.contect .second_title {
    font-size: 10px;
    line-height: 13px;
    display: block;
    margin: 5px;
    font-weight: 100;
}

.name_star .light_count {
    position: absolute;
    right: 0px;
    border: 0px;
    color: #B5B5B5;
}

.name_star .light_count img {
    width: 1rem;
    vertical-align: text-top;
}

.name_star .light_count {
    position: absolute;
    right: 0px;
    border: 0px;
    color: #B5B5B5;
}

.name_star .light_count img {
    width: 1rem;
    vertical-align: text-top;
}

.icons_ div:hover {
    transform: scale(1.2);
    transition: border 0.1s, transform 0.2s linear;
    background: #FFF;
    z-index: 99999;
}

.icons_:hover {
    overflow:unset;
}

.icons_ {
    position: fixed;
    left: 2%;
    display: none;
    z-index: -1;
    cursor: pointer;
    overflow: hidden;
    width: 5vw;
}

header.minbar {
    z-index: 999;
    width: 100%;

}

.top_link_bar {
    display:none;
}

header.minbar.fx {
    position: fixed;
    z-index: 999;
    width: 100%;
}

.top_link_bar.fx {
    display:none;
    transition: opacity 1s linear;
    opacity: 0;
}

.icons_.abs {
    position: absolute;
    top: 300px;
}

.page_tab {
    /* position: absolute; */
    /* right: 0px; */
    /* top: 0px; */
    /* line-height: 1rem; */
    margin-top: -12px;
}

.page_tab ul {
    /* margin: auto; */
    /* line-height: initial; */
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
}

.page_tab li {
    display: initial;
    padding: .3rem .5rem;
    color: #00000070;
    font-size: 10px;
    vertical-align: bottom;
    cursor: pointer;
}

.page_tab li:hover {
    font-size: 16px;
    font-weight: bold;
    /* -webkit-text-stroke-width: thick; */
}

.page_tab li.action {
    background: #00000070;
    color: #FFF;
    border-radius: 6px;
}

.page_tab li svg.fa-chevron-left, .page_tab li svg.fa-chevron-right {
    display: inherit;
    vertical-align: middle;
    font-size: 10px;
    /* display: none; */
}

.icons_ > div {
    background: #fff;
}

.commodity_footers {
    margin-top: 6vh;
    margin-bottom: -3vh;
}

.commodity_footers .slick-next {
    position: absolute;
    right: 0vw !important;
    top: -8vh !important;
}

.commodity_footers .slick-prev {
	position: absolute;
	right: 2vw !important;
	top: -8vh !important;
	left: auto;
}
