
[class*="zone"] {
    margin-top: 0px;
}

.items_tab {
    width: 20%;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.items_tab.pulse {
    color: #216e79;
}

.items_tab.pulse:after {
    content: '';
    left: 0;
    position: absolute;
    border-radius: 15px 15px 0 0;
    opacity: 0;
    width: 100%;
    height: 5vh;
    animation: slider .3s;
    animation-fill-mode: forwards;
    z-index: -1;
}

@keyframes slider {
  20% {
    opacity: .1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 1px solid #cecece;
    border-bottom: 0px solid #ccc;
    height: 1vh;
    top: 4.6vh;
  }
  50% {
    opacity: .5;
    -ms-transform: scale(.1);
    -webkit-transform: scale(.1);
    transform: scale(1);
    height: 5vh;
    top: -0.6vh;
  }
  70% {
    opacity: .8;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 3px solid #cecece;
    border-bottom: 0px solid #ccc;
    height: 4.5vh;
    top: -.1vh;
  }
  100% {
    opacity: 1;
    -ms-transform: scale(.1);
    -webkit-transform: scale(.1);
    transform: scale(1);
    background: #FFF;
    border: 1px solid #cecece;
    border-bottom: 0px solid #ccc;
    height: 5vh;
    top: -0.6vh;
  }
}


.items_tab.action {

    margin: 0px;
    height: 4vh;
    margin-bottom: -1.5vh;
    border-radius: 15px 15px 0 0;

    border-bottom: 0px;
}

.items_tab.action.hid {
  background: #F1F1F1;
  /* transform: scale(1.4) rotate(0deg); */
  border: 20px solid #cccccc00;
  transition: border 5s, background 2s linear;
}

.items_tab.action.shw {
  /* transform: scale(1.4) rotate(0deg); */

  transition: border 0.5s, background 0.1s, transform 0.1s linear;
}

.items_tabs {
    border-bottom: 1px solid #ccc;
    margin-top: 3vh;
}

.tab_item_list .items .contect {
    border: 1px solid #ccc;
}

.tab_item_list .prices .o {
    color: #000;
}
