@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
a,a:hover,a:active,a:visited,a:focus,a:focus-within{
	text-decoration:none;
	color: #512779;
}
body{
	font-family:'cwTeXYen', sans-serif;
}
.gridContainer{
	position:relative;
	margin:auto;
	max-width: 1200px;
}
/* 歡迎圖示 Start */
.Index .main_bar{
	border: 2px solid #888888;
}
.Index .main_bar a:not(:last-child){
	display: block;
	border-bottom: 2px solid #888888;
}
#header_wrapper {
	position: relative;
	max-width: 430px;
	margin: 30px auto;
}
#header_wrapper img{
	width: 100%;
}
#header_wrapper>a{
	position: absolute;
}
.h_life_group,.h_repair{
	left: 50%;
	width: 64.6%;
	max-width: 400px;
	margin-left: -32.3%;
}
.h_life_group{
	top: 0px;
}
.h_repair{
	bottom: 0px;
}
.h_ok_rent,.h_house{
	top: 60.3%;
	width: 34.7%;
	max-width: 215%;
	margin-top: -7.9%;
}
.h_ok_rent{
	left: 5%;
}
.h_house{
	right: 5%;
}
/* 歡迎圖示 End */
/* 小選單 Start */
#NAV {
	text-align: center;
	background-color: #fff500;
	font-weight: bold;
	overflow-x: auto;
	white-space: nowrap;
}
#NAV a{
	display: inline-block;
	color: #191919;
}
#NAV a>div{
	line-height: 40px;
	font-size: 18px;
	letter-spacing: 0.2em;
	padding: 0 0.6em;
	display: inline;
	border-right: 2px solid #191919;
}
#NAV a:last-child div{
	border-right: unset;
}
/* 小選單 End */
/* 大項目 Start */
.body .main_bar>a img {
	width: 100%;
}
/* 大項目 End */
/* 小圖示 Start */
.friendly_link a img{
	width: 100%;
}
/* 小圖示 End */
/* Footer Start */
#Footer {
	position: relative;
	height: 80px;
	visibility: visible;
}
#Designedby,#Copyright{
	line-height:1em;
	color:#333;
	text-align:center;
}
#Designedby{
	font-size:18px;
}
#Designedby a{
	color: #333 !important;
}
#Copyright{
	font-size:14px;
}
.friendly_link{
	text-align: center;
	margin: 24px auto;
}
.friendly_link>a{
	display: inline-block;
	margin: 1%;
	max-width: 150px;
	width: 14%;
	border: 1px solid #888888;
}
/* Footer End */
@media screen and (max-width:760px){
	.friendly_link>a{
		display: inline-block;
		margin: 2%;
		width: 30%;
		max-width: unset;
	}
	#Designedby,#Copyright{
		font-size: 12px;
	}
}

.draggable {
  -webkit-animation: drag-flush 0s ease infinite !important;
          animation: drag-flush 0s ease infinite !important;
}
