.top_link_bar {
    display: flex;
    padding: .5rem;
}

.top_link_bar > div {
    width: 30%;
}

.top_link_bar .r, .top_bar .r {
    text-align: end;
}

.top_link_bar .icons img {
    width: 1.5rem;
}

.top_link_bar .links *, .top_bar .m *, .top_bar .links * {
    margin: 0 0.4vw;
}

.top_bar {
    display: flex;
}

.top_bar .logo img {
    /* width: 200px; */
    /* padding: 1rem; */
}

.top_bar {
    background: var(--main-color_2);
}

.top_bar .m {
    text-align: center;
    margin: auto;
    display: table;
}

.search_input .fa-search {
    background: #B5B5B5;
    font-size: 2rem;
    padding: .4rem;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 4rem;
}

.search_input {
}

.search_input input[type="text"] {
    /* height: 3rem; */
    border-radius: 10px;
    width: 90%;
    font-size: 1rem;
    height: 2rem;
    line-height: 3rem;
}

.search_input input[type="text"]::placeholder {
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    color: #B5B5B5;
}

.top_bar .m span, .top_bar .links span {
    color: var(--main-color);
}

.top_bar .m span.action {
    color: red;
    font-weight: bold;
}

.top_bar .r, .top_bar .l {
    margin: auto;
    display: flex;
    align-items: center;
}

.links.r span, .links.l span {
    display: inline-grid;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.links.r span img, .links.l span img {
    width: 90%;
    /* margin: 0 .2rem; */
    /* height: 4vh; */
    display: flex;
    vertical-align: middle;
}

.borderline {
    border: 1px solid #000;
    height: 1rem;
    line-height: 1rem;
    vertical-align: sub;
}

.links.l span.logo img, .links.l span.logo svg {
    width: 10vw;
    opacity: 1;
}

.right_border.logo img {
    width: 100% !important;
}

.m.search_key_w span {
    word-break: keep-all;
}
