label.p_title {
    font-size: xx-large;
}

label.p_sec_title {
    font-size: large;
}

.fa-star {
    font-size: 1rem;color: yellow;
    }

.p_number {
    color: #BEBEBE;
}

.p_line {
    color: green;
}

.s_stauts {
    text-align: end;
}

.p_r {
    bottom: 0px;
    position: absolute;
    width: 100%;
    margin: 0px !important;
    align-items: flex-end;
}

.p_top {
    margin: 0px !important;
}

.p_r * {
    margin: 0px;
}

.discount {
    border: 3px solid #28A7B4;
    color: #28A7B4;
    border-radius: 10px;
    margin-right: 6px;
    padding: 3px;
}

.sale {
    color: #FE4B55;
    font-size: x-large;
    margin-right: 5px;
}

.sale_del {
    text-decoration: line-through;
}

.shop_car_push {
    border: 3px solid #959595;
    color: #000;
    padding: 9px 1rem !important;
    }

.shop_car_buy {
    background: #EE908E;
    color: #fff;
    padding: 12px 2rem !important;
}

.shop_car_buy, .shop_car_push {
    padding: 10px;
    border-radius: 50px;
    margin-right: 10px;
}

.fa-plus {
    position: absolute;
    left: 0.6rem;
    font-size: 2rem;
    border-right: 1px solid #999;
    border-radius: 0px;
    padding: .2rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 1.5em;
    top: .4rem;
    cursor: pointer;
    color: #999;
}

.fa-minus {
    position: absolute;
    left: 8.8rem;
    font-size: 21pt;
    border-left: 1px solid #999;
    border-radius: 0px;
    padding: .1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 1.5em;
    top: .5rem;
    cursor: pointer;
    color: #999;
}

input.type_number {
    width: 10rem !important;
    height: 2rem !important;
    border: 2px solid #999 !important;
    border-radius: 5px;
}

img#_bak, img#_bai, img#_16_v {
    width: 2rem;
}

.city_sel {
    border: 0px;
}

.commodity_product {
    margin-top: 1rem;
    width: 86% !important;
    margin-left: 7%;
}

.commodity_product .slick-next, .commodity_product .slick-prev {
    width: 17% !important;
    height: auto !important;
    z-index: 9;
}

.commodity_product .slick-prev {
    margin-left: -6%;
}

.commodity_product .slick-next {
    margin-right: -6%;
}

.commodity_product .slick-next:before, .commodity_product .slick-prev:before {
    /* font-size: 5rem !important; */
    background: #aaa;
}

.commodity_product .slick-next:before
{
    content: url(/themes/Shopping/img/button_r.jpg) !important;
}

.commodity_product .slick-prev:before
{
    content: url(/themes/Shopping/img/button_l.jpg) !important;
}

.commodity_product .slick-slide {
    margin: 0 5px;
}

#_7__8_w {
    position: absolute;
    width: 494px;
    height: 98px;
    left: 2px;
    top: 0px;
    overflow: visible;
}

#_7__9_x {
    position: absolute;
    width: 249px;
    height: 98px;
    left: 5px;
    top: 0px;
    overflow: visible;
}

#_7__10_y {
  fill: transparent;
  stroke: rgba(83,83,83,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 100;
  shape-rendering: auto;
}
._7__10_y {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 241px;
  top: 98px;
  transform: matrix(1,0,0,1,0,0);
}

#__a {
  left: 89.411px;
  top: 59.735px;
  position: absolute;
  overflow: visible;
  width: 78px;
  white-space: nowrap;
  line-height: 40px;
  margin-top: -11px;
  text-align: left;
  font-family: MicrosoftJhengHeiBold;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(83,83,83,1);
}

#_bbk {
  left: 319.911px;
  top: 59.735px;
  position: absolute;
  overflow: visible;
  width: 73px;
  white-space: nowrap;
  line-height: 40px;
  margin-top: -11px;
  text-align: left;
  font-family: MicrosoftJhengHeiBold;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(201,201,201,1);
}
