
:root {
    --main-color: #267177;
    --main-color_2: #E9F4F8;
    --main-color_3: #F1F0EE;
    --main-color_4: #F1F0EE;
    --main-color_5: #F4B99B;
    --main-color_6: #F4CE79;
    --main-color_7: #7DCDC2;
    --main-color_8: #88C4CF;
    --main-color_9: #8F6DA0;
    --main-color_10: #5E5E5E;

    --main-color_5_hover: #ea5208;
    --main-color_6_hover: #e2a110;
    --main-color_7_hover: #0ee0c3;
    --main-color_8_hover: #0ec0e0;
    --main-color_9_hover: #9813da;
    --main-color_10_hover: #9c9c9c;

    --main-color_liner_5: #F4B99B8a;
    --main-color_liner_6: #F4CE798a;
    --main-color_liner_7: #7DCDC28a;
    --main-color_liner_8: #88C4CF8a;
    --main-color_liner_9: #8F6DA08a;
    --main-color_liner_10: #5E5E5E8a;

    --main-color_list_5: #F4B99B29;
    --main-color_list_6: #F4CE7929;
    --main-color_list_7: #7DCDC229;
    --main-color_list_8: #88C4CF29;
    --main-color_list_9: #8F6DA029;
    --main-color_list_10: #5E5E5E29;
}
