.search_item, .items_tab {
    font-size: 1vw;
    height: 2.5vh;
    word-break: keep-all;
}

.search_items, .items_tabs {
    display: flex !important;
    justify-content: space-around;
    align-items: baseline;
    background: #F1F1F1;
}

.search_items {
    margin-bottom: -2vh;
}

svg.search_item {
    align-self: center;
}

.search_items input, .search_items select {
    border-radius: 10px;
    height: 4vh;
    width: min-content;
    line-height: 3vh;
    margin: 0 .5vw;
    border: 0px;
}

.search_items input {
    height: 4vh;
    width: 7vw;
    border-radius: 9px;
}
