
{include file='../../house/search_house7_index.tpl'}
<div class="line-height-90">
</div>

	<div class="banner_1223">
		<!-- <svg class="_18">
			<ellipse id="_18" rx="30vw" ry="30vw" cx="30vw" cy="30vw">
			</ellipse>
		</svg> -->
		<img src="\themes\Rent\img\index\0401\banner.jpg">
	</div>

<div>
	{$icons=array()}
	<ul>
		<li>

		</li>
	</ul>
</div>
<div class="main">
<div class="right_icons top_R">

		<img class="icons_history" src="\themes\Rent\img\index\0401\history.svg">
		<img class="icons_favorite" src="\themes\Rent\img\index\0401\favorite.svg">
		<img class="icons_download" src="\themes\Rent\img\index\0401\download.svg">
		<img class="icons_massage" src="\themes\Rent\img\index\0401\massage.svg">
		<img class="icons_focus" src="\themes\Rent\img\index\0401\focus.svg">
		<img class="icons_share share" src="\themes\Rent\img\index\0401\share.svg">
		<img class="icons_top" src="\themes\Rent\img\index\0401\top.svg">

</div>
	<div class="relative" style="    height: 100px;margin-top: 5em;">
		<div id="_bm">
			<span>精選主題房源</span>
		</div>
		<div id="_bm0414">
			<span>特色房源</span>
		</div>
		<div class="relative" style="">
			{$img_12_banner1_053610630=array("精選推薦","老幼安居","寵物友善","津貼補助","店面","辦公室","廠房")}
			<div id="img_12_banner1_053610630">
				<header class="minbar2">
		      <nav class="main_menu2 not_select">
		      <div class="content_width">
		        <nav class="menu">
							{foreach $img_12_banner1_053610630  as $i => $v}
							<a href="#" id="data_list_{$i}" class="{if $i==0} active{/if}">{$v}</a>{if sizeof($img_12_banner1_053610630) != $i+1}{/if}
							{/foreach}
		        </nav>
		      </div>
		      </nav>
		    </header>
			</div>
		</div>
	</div>

	{foreach $img_12_banner1_053610630  as $i => $v}
	<div class="relative data_list_{$i}{if $i!=0} hidden{/if}" style="margin-top: 0em;overflow: hidden;">
		{if count($commodity_data_0414[$i])}
		<div class="house_row">
			<div class="commodity_list commodity_data commodity_data_0414[$i]" style="display: inline-block;">
                {foreach from=$commodity_data_0414[$i] key=i item=v}{include file='../../house/house_item_list2021Apr.tpl'}{foreachelse}{/foreach}
			</div>
		</div>
    {/if}
	</div>
	{/foreach}
	</div>
	<div class="banner_1223 banner2 relative" style="/* height: 762px; */margin-top: 5em;">

			<img src="\themes\Rent\img\index\0401\banner2@2x.png" style="    width: 100%;">

	</div>
	<div class="main">
	<div class="relative" style="margin-top: 8em !important;">

		<img src="\themes\Rent\img\index\0401\banner3_0424.svg" style="    width: 100%;">
	</div>

	<div id="_ma" style="margin: 0em;margin-top: -4rem;">
			<span>租事順利</span>
	</div>

<div class="relative footer_img hidden" style="    margin-top: 5em;">
	{$footer_img=array("footer1.svg","footer2.svg","footer3.svg","footer4.jpg","footer5.svg","footer6.svg","footer7.svg","footer8.svg","footer9.svg")}
	{foreach $footer_img  as $i => $v}
	<img src="/img/{$v}">
	{/foreach}
</div>

{include file='../../house/house_footer_list.tpl'}

</div>
<div class="b_padding title_banner hidden">
	<!-- <h2>{*<i class="pic"><img src="{$THEME_URL}/img/icon/pic.svg"></i>*}吉屋快搜</h2> -->

    {if count($commodity_data)}
		<div class="house_row">
			<div class="title_banner">
				<h2>精選推薦</h2>
			</div>
			<div class="commodity_list commodity_data">
                {foreach from=$commodity_data key=i item=v}{include file='../../house/house_item_list.tpl'}{foreachelse}{/foreach}
			</div>
		</div>
    {/if}

		{if count($commodity_data_a)}
		<div class="house_row">
			<div class="title_banner">
				<h2>溫馨居家〜2-3房</h2>
			</div>
			<div class="commodity_list commodity_data">
								{foreach from=$commodity_data_a key=i item=v}{include file='../../house/house_item_list.tpl'}{foreachelse}{/foreach}
			</div>
		</div>
		{/if}

		{if count($commodity_data_b)}
		<div class="house_row">
			<div class="title_banner">
				<h2>單身美學〜套房</h2>
			</div>
			<div class="commodity_list commodity_data">
								{foreach from=$commodity_data_b key=i item=v}{include file='../../house/house_item_list.tpl'}{foreachelse}{/foreach}
			</div>
		</div>
		{/if}

		{if count($commodity_data_c)}
		<div class="house_row">
			<div class="title_banner">
				<h2>大器美宅〜4+房</h2>
			</div>
			<div class="commodity_list commodity_data">
								{foreach from=$commodity_data_c key=i item=v}{include file='../../house/house_item_list.tpl'}{foreachelse}{/foreach}
			</div>
		</div>
		{/if}

		{if count($commodity_data_d)}
		<div class="house_row">
			<div class="title_banner">
				<h2>獨享天地〜透天/別墅</h2>
			</div>
			<div class="commodity_list commodity_data">
								{foreach from=$commodity_data_d key=i item=v}{include file='../../house/house_item_list.tpl'}{foreachelse}{/foreach}
			</div>
		</div>
		{/if}

		{if count($commodity_data_e)}
		<div class="house_row">
			<div class="title_banner">
				<h2>店面店辦</h2>
			</div>
			<div class="commodity_list commodity_data">
								{foreach from=$commodity_data_e key=i item=v}{include file='../../house/house_item_list.tpl'}{foreachelse}{/foreach}
			</div>
		</div>
		{/if}

		{if count($commodity_data_e_1)}
		<div class="house_row">
			<div class="title_banner">
				<h2>店辦</h2>
			</div>
			<div class="commodity_list commodity_data">
								{foreach from=$commodity_data_e_1 key=i item=v}{include file='../../house/house_item_list.tpl'}{foreachelse}{/foreach}
			</div>
		</div>
		{/if}


		{if count($commodity_data_g)}
		<div class="house_row">
			<div class="title_banner">
				<h2>辦公室</h2>
			</div>
			<div class="commodity_list commodity_data">
								{foreach from=$commodity_data_g key=i item=v}{include file='../../house/house_item_list.tpl'}{foreachelse}{/foreach}
			</div>
		</div>
		{/if}

		{if count($commodity_data_f)}
		<div class="house_row">
			<div class="title_banner">
				<h2>廠房倉庫</h2>
			</div>
			<div class="commodity_list commodity_data">
								{foreach from=$commodity_data_f key=i item=v}{include file='../../house/house_item_list.tpl'}{foreachelse}{/foreach}
			</div>
		</div>
		{/if}





</div>


<img class="hidden" src="/themes/Rent/img/index/ad_banner_1.jpg" style="width: 100%;">
<div class="ad hidden">

	<img src="/themes/Rent/img/index/ad3 (4).JPG">
	<img src="/themes/Rent/img/index/ad3 (1).JPG">
	<img src="/themes/Rent/img/index/ad3 (3).JPG">

</div>
<img class="hidden" src="/themes/Rent/img/index/ad_banner_2.jpg" style="width: 100%;">
{include file='../../footer_0428.tpl'}
{$js}
