{*<div class="in_left_type_wrap">*}
{*	<ol class="in_left_type">*}
{*        {foreach $submenu as $i => $item}*}
{*			<li class="{if $item.active}active{/if}"><a href="{$item.href}">{$item.text}</a></li>{/foreach}*}
{*	</ol><div class="line"></div>*}
{*</div>*}
<div class="item_wrap">
	<div class="title">in生活</div>
	<div class="item_list">
		{foreach $submenu as $i => $item}
			{if $i!=0}<i></i>{/if}
			<a class="{if $item.active}active{/if}" href="{$item.href}">{$item.text}</a>
		{/foreach}
	</div>
</div>
