

:root {

    --main_color1: #532789;

    --main_color2: #fff100;

    --text_normal_color: #555;

    --text_dark_color: #222;

    --text_light_color: #aaa;

    --input__border: #aaa;

    --input__border--hover: #555;

    --label__color: #555;

}



.flex{

    display: flex;

}



.home_sign_in input {

    width: 100%;

    background: none;

    border-width: 0;

    display: block;

    box-shadow: unset;

    color: #000;

    border-bottom: 1px solid #fff;

    border-radius: unset;

    text-align: left;

    letter-spacing: 2px;

    padding-left: 30px;

    font-size: 10pt;
}


.home_sign_in img {
    width: 30px;
}

.home_sign_in .floating.check img {
    width: 60px;
    margin-right: 10px;
}


.home_sign_in .hidden--visually {

    border: 0;

    clip: rect(1px 1px 1px 1px);

    clip: rect(1px, 1px, 1px, 1px);

    height: 1px;

    margin: -1px;

    overflow: hidden;

    padding: 0;

    position: absolute;

    width: 1px;

}





.home_sign_in .floating {

    background-color: unset;

    transition: background-color 0.2s ease;

    border-top-left-radius: 4px;

    border-top-right-radius: 4px;

    color: #fff;

    margin-bottom: 25px;

    position: relative;

    display: flex;
}


.home_sign_in .floating:not(.check) {
    border-bottom: 2px solid #aaaaaa54;
}



.home_sign_in .floating.check input#check_word{
    border-bottom: 2px solid #aaaaaa54;
}






.home_sign_in .floating:hover,

.home_sign_in .floating:focus-within {

}









/* label點擊後底線狀態 */

.home_sign_in .floating:hover .floating__label {

    /*border-bottom: 1px solid #555;*/

    border: unset;

}



.home_sign_in .floating__label {

    display: block;

    position: relative;

    max-height: 0;

    font-weight: 500;

    pointer-events: none;

    border-bottom: 1px solid var(--input__border);

    border: unset;

    /* label底線 */

}



.home_sign_in .floating__label::before {

    /*color: var(--label__color);*/

    color: #fff;

    content: attr(data-content);

    display: inline-block;

    filter: blur(0);

    backface-visibility: hidden;

    transform-origin: left top;

    transition: transform 0.2s ease;

    left: 1rem;

    position: relative;

}



.home_sign_in .floating__label::after {

    bottom: 1rem;

    content: "";

    height: 0.1rem;

    position: absolute;

    transition: unset;

    left: 0;

    top: 100%;

    margin-top: -0.1rem;

    transform: scale3d(0, 1, 1);

    width: 100%;

    background-color: var(--color__accent);

}



.reg_con_1{

    height: 100%;

    min-height: 75vh;

    background-position: center;

    padding: 10px 0px;

    background-image: url(/themes/Rent/img/login/login-bg.jpg);

    /* background-size: cover;
 */
    background-size: 800px;
    background-repeat: no-repeat;
}



/* 首頁登入框 */

.home_sign_in {

    /* padding: 30px 50px;

    margin: 60px auto 0px;

    box-shadow: 0px 0px 20px #5759a9;
 */
    width: 500px;

    border-radius: 0px 90px;

    background: #ffffff3d;

    margin: 125px auto 0px;
    padding-left: 245px;


}



.home_sign_in h1{

    color: #fff;

}



.home_sign_in .form_wrap {

    width: 100%;

    margin: 20px auto 10px;

}



.home_sign_in .content .item_l {

    width: 50%;

    display: flex;

    align-items: center;

    justify-content: flex-start;

}



.home_sign_in .content .item_l input{

    /*width: unset;*/

    width: 10pt;
    height: 10pt;
}



.home_sign_in .content .item_r {

    width: 50%;

    display: flex;

    justify-content: flex-end;

}



.home_sign_in .content .auto_sign_in {

    /*color: #555;*/

    color: #fff;

    font-size: 1.1em;

    font-weight: unset;

    margin: 0px 0px 0px 5px;

}



.home_sign_in .content .forget {

    /*color: #555;*/

    color: #fff;

    font-size: 1.1em;

    font-weight: unset;

    margin: 0px;

}



.home_sign_in .content .btn_sign_in {

    width: 100%;

    /* max-width: 150px;
 */
    max-width: 100px;
    /* height: 40px;
 */
    height: 30px;
    padding: 5px 10px 5px;

    /* color: var(--main_color1);
 */
    color: var(--text_light_color);
    /* font-size: 1.1em;
 */
    font-size: 10pt;
    font-weight: bold;

    line-height: 1em;

    /* background: #e7d3ff;
 */
    /* border: 1px solid var(--main_color1);
 */
    background: #ffffff59;
    border: 1px solid #aaaaaa54;
    /* border-radius: 0px 10px;
 */
    border-radius: 10px;
    transition: .3s;

}





.home_sign_in .content .btn_fb{

    width: 100%;

    padding: 10px;

    margin: 5px auto 30px;

    color: #fff;

    font-size: 1.2em;

    text-shadow: unset;

    font-weight: unset;

    letter-spacing: 1px;

    border: 1px solid #ffffff85;

    background: #3b5999;

    border-radius: 0px 10px;

    position: relative;

    display: block;

    text-align: center;

}



.home_sign_in .content .btn_fb:before{

    position: absolute;

    content: "";

    background-image: url(/themes/Rent/img/login/login-fb.jpg);

    background-repeat: no-repeat;

    background-size: contain;

    width: 45px;

    height: 45px;

    top: 2px;

    left: 5px;

}



.home_sign_in .content .btn_reg {

    width: 100%;

    padding: 10px;

    margin: 5px auto 20px;

    color: #fff;

    font-size: 1.2em;

    text-shadow: unset;

    font-weight: unset;

    letter-spacing: 3px;

    border: 1px solid #ffffff85;

    background: #c59b6d;

    border-radius: 0px 10px;

    display: block;

    text-align: center;

}



body .display_content .Login{

    min-width: 100%;

    max-width: 100%;

    min-height: unset;

    padding: 100px 0px 0px!important;

    margin: 0px;

}





/*.form-control:focus{*/

/*	outline: unset;*/

/*	border: unset;*/

/*	box-shadow: unset;*/

/*}*/



.form-control:focus, .form-control:active, .form-control:hover{

    outline: unset;

    border-bottom: 1px solid #fff;

    box-shadow: unset;

}



.home_sign_in input::placeholder{

    color: var(--text_light_color);
    font-size: 1em;

    text-align: left;

    padding-left: 0px;

    letter-spacing: 1px;

}







.home_sign_in .floating i{

    color: var(--text_light_color);
    font-size: 1.4em;

    position: absolute;

    top: -5px;

    left: 5px;

}





.home_sign_in .content .auto_sign_in, .home_sign_in .content .forget{

    color: var(--text_light_color);

    font-size: 10pt;

}



.home_sign_in .funtion_wrap{

    width: 90%;

    margin: 0px auto 0px;

}
