.address_group .input-group>*{
	display: inline-block;
	float: unset;
	vertical-align: middle;
	width: 6em;
}
.address_group .input-group>.input-group-addon{
	width: unset;
	line-height: 20px;
}
.address_group .input-group>select{
	padding-right: unset;
}
#road_type,#lane,#alley,#no,#no_her,#floor,#floor_her{
	width: 5em;
}
.develop_ag .input-group>input,.develop_ag .input-group>select{
	min-width: 4em;
}