
#main {
    height: -webkit-fill-available;
    /* background: url(/img/admin/control_panel/1100107.png); */
    /* background: url(/img/admin/control_panel/1100220.jpg); */
    background: url(/img/admin/control_panel/1100416.jpg);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}


.Welcome {
    /* background: url(/img/admin/control_panel/1100107.jpg); */
    /* background: url(/img/admin/control_panel/1100220.jpg); */
    background: url(/img/admin/control_panel/1100416.jpg);
    background-position: top;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    max-width: 1920px;
}

.Welcome.admin_tools {
    background: #2e6ea5;
    /* margin: 2% 0; */
    /* display: flex; */
    position: fixed;
    top: 4%;
    left: -10em;
    width: 14em;
    padding-left: 1%;
}

.Welcome.admin_tools > div {
    margin-top: 10%;
    text-align: start;
    max-height: 4em;
    min-height: 4em;
}

.Welcome.admin_tools > div a {
    color: #2e6ea5;
}

.Welcome.admin_tools > svg.fas {
    position: fixed;
    left: -1%;
    font-size: 3em;
    color: #fff;
    width: 1.5em;
}

.Welcome.admin_tools:hover {
    left: 0%;
}

.Welcome.admin_tools:hover a {
    color: #FFF;
}

.Welcome.admin_tools:hover > svg.fas {
    position: absolute;
    left: 0%;
    font-size: 0em;
    color: #2e6ea5;
    width: 0em;
}

.Welcome.admin_tools > div:hover > label {
    opacity: 1;
    margin-top: 1em;
    transition: margin 0.5s, opacity 0.5s linear;
    border: 2px solid #2e6ea5;
}

.Welcome.admin_tools > div > label {
  background: #fff;
  padding: 5pt 3pt;
  border-radius: 9px;
  margin: -1em auto;
  margin-top: -1em;
  opacity: 0;
  width: max-content;
  display: block;
}

.col-lg-12.col-md-12.col-sm-12.col-xs-12.row {
    position: unset;
    margin-top: 41%;
    margin-left: 0%;
}

.content.no-floa.row .text-center{
    position: unset;
}

.content.no-floa.row .text-center div {
    position: absolute;
    left: 0px;
    top: 0px;
}

.content.no-floa.row .text-center > div {
    transform: scale(0.6);
}

.content.no-floa.row .text-center div a div {
    width: 100%;
    border: 0px solid;
    margin-left: 0%;
    margin-top: 37%;
}

.content.no-floa.row .text-center > div:hover {
    transform: scale(0.8);
    top: -3%;
}

.content.no-floa.row .text-center:nth-child(1) > div:nth-child(1) {
    margin-top: calc(20.5% + 10px);
    margin-left: 32.5%;
}
.content.no-floa.row .text-center:nth-child(1) > div:nth-child(2) {
    margin-top: calc(10% + 0px);
    margin-left: 32.5%;
}
.content.no-floa.row .text-center:nth-child(1) > div:nth-child(3) {
    /*生活房屋*/
    margin-top: calc(15.5% + 0px);
    margin-left: calc(23.5% - 5px);
}
.content.no-floa.row .text-center:nth-child(1) > div:nth-child(4) {
    /*家族體系*/
    margin-top: calc(21% + 0px);
    margin-left: calc(13% + 15px);
}
.content.no-floa.row .text-center:nth-child(2) > div:nth-child(1) {
    /*生活資產*/
    margin-top: calc(15% + 0px);
    margin-left: calc(41% + 10px);
}
.content.no-floa.row .text-center:nth-child(2) > div:nth-child(2) {
    /*會員管理*/
    margin-top: calc(21% - 5px);
    margin-left: calc(70% + 5px);
}
.content.no-floa.row .text-center:nth-child(2) > div:nth-child(3) {
    /*生活好康*/
    margin-top: calc(31.5% + 5px);
    margin-left: calc(70% + 5px);
}
.content.no-floa.row .text-center:nth-child(2) > div:nth-child(4) {
    /* 裝修達人*/
    margin-top: calc(31.5% + 5px);
    margin-left: calc(32.5% + 5px);
}
.content.no-floa.row .text-center:nth-child(3) > div:nth-child(1) {
    /*好幫手*/
    margin-top: calc(31.5% + 5px);
    margin-left: calc(51% + 5px);
}
.content.no-floa.row .text-center:nth-child(3) > div:nth-child(2) {
    margin-top: calc(15.5% + 0px);
    margin-left: calc(61% - 5px);
}
.content.no-floa.row .text-center:nth-child(3) > div:nth-child(3) {
    /* 超立淨*/
    margin-top: calc(37% - 0px);
    margin-left: calc(61% - 5px);
}
.content.no-floa.row .text-center:nth-child(3) > div:nth-child(4) {
    /*生活樂購*/
    margin-top: calc(37% - 0px);
    margin-left: calc(42% - 3px);
    display: none;
}
.content.no-floa.row .text-center:nth-child(1) > div:nth-child(5) {
    /*1786*/
    margin-top: calc(37% - 0px);
    margin-left: calc(23.5% - 5px);
}
.content.no-floa.row .text-center:nth-child(2) > div:nth-child(5) {
    /* 生活裝修企業社*/
    margin-top: calc(25% - 0px);
    margin-left: calc(42% - 3px);
}
.content.no-floa.row .text-center:nth-child(3) > div:nth-child(5) {
    /*好科技*/
    margin-top: calc(37% - 0px);
    margin-left: calc(41% + 10px);
}
.content.no-floa.row .text-center:nth-child(4) > div:nth-child(1) {
    /*176樂購*/
    margin-top: calc(10% + 0px);
    margin-left: calc(51% + 5px);
}
.content.no-floa.row .text-center:nth-child(4) > div:nth-child(2) {
    /*共享APP*/
    margin-top: calc(26% - 5px);
    margin-left: calc(61% - 5px);
}
.content.no-floa.row .text-center:nth-child(4) > div:nth-child(3) {
    /*桃園市租賃管理服務業從業人員職業工會*/
    margin-top: calc(47% - 0px);
    margin-left: calc(79.5% + 20px);
}
.content.no-floa.row .text-center:nth-child(4) > div:nth-child(4) {
    /*176歡樂購APP*/
    margin-top: calc(21% - 5px);
    margin-left: calc(51% + 5px);
}
.content.no-floa.row .text-center:nth-child(4) > div:nth-child(5) {
    /*好幫手APP*/
    margin-top: calc(42% + 5px);
    margin-left: calc(51% + 5px);
}
.content.no-floa.row .text-center:nth-child(5) > div:nth-child(1) {
    /*共享科技*/
    margin-top: calc(47% - 0px);
    margin-left: calc(41% + 10px);
}
.content.no-floa.row .text-center:nth-child(5) > div:nth-child(2) {
    /*1786APP*/
    margin-top: calc(31.5% + 5px);
    margin-left: calc(13% + 15px);
}
.content.no-floa.row .text-center:nth-child(5) > div:nth-child(3) {
    /*桃園市樂安居住宅發展促進協會*/
    margin-top: calc(47% - 0px);
    margin-left: calc(11.5% + 15px);
}
.content.no-floa.row .text-center:nth-child(5) > div:nth-child(4) {
    /*台灣樂安居住宅發展協會*/
    margin-top: calc(47% - 0px);
    margin-left: calc(-1% + 15px);
}
.content.no-floa.row .text-center:nth-child(5) > div:nth-child(5) {
    /*裝修達人APP*/
    margin-top: calc(26% - 0px);
    margin-left: calc(23.5% - 5px);
}
.content.no-floa.row .text-center:nth-child(6) > div:nth-child(1) {
    /*e管家社區APP*/
    margin-top: calc(42% + 5px);
    margin-left: calc(32.5% + 5px);
}
.content.no-floa.row .top {
    position: absolute;
    margin-top: calc(7% + 5px);
}

.content.no-floa.row img {
    padding: 20px;
}

.col-lg-12.col-md-12.col-sm-12.col-xs-12.row {
    /* margin-top: 86px;
    margin-bottom: 8px; */
}

.col-lg-12.col-md-12.col-sm-12.col-xs-12.top img {
    padding: 0px;
}

.col-lg-12.col-md-12.col-sm-12.col-xs-12.top {
    text-align: center;
}

.col-lg-12.col-md-12.col-sm-12.col-xs-12.footer img{
    padding: 0px;
}

.col-lg-12.col-md-12.col-sm-12.col-xs-12.footer{
    text-align: center;
    margin-top: 8%;
}
