{include file="$tpl_dir./mobile/menu_buoy.tpl"}
<p>
<img src="\themes\App\mobile\img\joinUs\banner.png">
<!-- <div class="title">
不動產租賃·管理服務<br>
創富加盟事業
</div> -->
<img src="\themes\App\mobile\img\joinUs\title.svg">
<!-- <img src="\themes\App\mobile\img\joinUs\groupLogo.svg"> -->

<!-- <div class="slogan">品牌 行銷 營運 服務 資訊</div>
<div class="slogan2">品牌優勢與獨特服務</div>
<div class="content">
  <ul>
	<li>獨特服務優勢,吸引客戶自動上門。</li>
	<li>仲介+管理無縫接軌~專家帶領快速成交,

	</br>成為市估龍頭。

</li>
<li>物件多、客源廣</li>
<li>多店協銷與租管服務</li>
<li>租管ERP系統</li>
<li>首創「租霸險」</li>
<li>業界獨家迷你倉儲租用</li>
<li>業界唯一安心租保證收租方案</li>
<li>首創租賃信用認證中心
</br>生活樂租累積逾二十年的實務與市占，</br>品牌與實績贏得客戶肯定。</li>
<li>租金可分期|可刷卡|超商郵局代收|電子支付</li>
<li>不需增加人力、成本，及改變作業模式，</br>就能多賺一桶金。</li>
<li>不需店面，個人就能加盟樂租。</br>隨時都能經營拓展你的樂租事業版圖</li>
<li>創富加盟金專案，讓您創業資金免煩惱</li>
</ul>
</div> -->
<img src="\themes\App\mobile\img\joinUs\slogan.svg">
<div class="button">
<div class="join_1 buttons"><a href="####">無店鋪加盟</a></div><div class="join_2 buttons"><a href="####">門店式加盟</a></div>
</div>
