<div id="footer" class="footer transition footer_box-shadow">
	<div>
		<a href="javascript:void(0);" data-rel="back" data-transition="none"><img src="{$THEME_URL}/img/back.svg"></a>
	</div>
	<div>
		<a href="/" data-transition="none"><img src="{$THEME_URL}/img/home.svg"></a>
	</div>
{*  2019-12-18 收藏	<div>*}
{*		<a href="/404" data-transition="none"><img src="{$THEME_URL}/img/collection.svg"></a>*}
{*	</div>*}
	<div>
		<a href="/404" data-transition="none"><img src="{$THEME_URL}/img/service.svg"></a>
	</div>
{*	 2019-12-18 紀錄  <div>*}
{*		<a href="/404" data-transition="none"><img src="{$THEME_URL}/img/records.svg"></a>*}
{*	</div>*}
	<div>
		<a href="/my" data-transition="none"><img src="{$THEME_URL}/img/my.svg"></a>
	</div>
</div>