<div class="commodity">
	<div class="photo_row">
		<a href="/RentHouse?id_rent_house={$v.id_rent_house}">
			<img src="{$v.img}" class="img" alt="">
			<collect data-id="{$v.id_rent_house}" data-type="rent_house" class="favorite {if $v.favorite}on{/if}">{if $v.favorite}
					<img src="{$THEME_URL}/img/icon/heart_on.svg">{else}<img src="{$THEME_URL}/img/icon/heart.svg">{/if}
		</a>
		<price>{$v.rent_cash}
			<unit>元</unit>
		</price>
	</div><data>
		<h3 class="title big"><a href="/RentHouse?id_rent_house={$v.id_rent_house}">{$v.case_name}</a></h3>
		<h3 class="title big_2"><a href="RentHouse6bd3.html?id_rent_house=13704">{$v.title}</a></h3>
		<div class="title_2"><img src="/themes/Rent/img/icon/icons8-address-50.png">{$v.rent_address}</div>
		<div class="title_4">{if $v.room=='' || $v.room=='0'}0房{else}{$v.room}房{/if}{if $v.hall=='' || $v.hall=='0'}0廳{else}{$v.hall}廳{/if}{if $v.bathroom=='' || $v.bathroom=='0'}0衛{else}{$v.bathroom}衛{/if}<i></i>{$v.ping}坪</div>
	</data>
</div>
