{include file="$tpl_dir./mobile/coupon/min_menu.tpl"}
<div class="document">
	<div class="title_banner s">
		<div class="separate"></div>
		<div class="slide_title">找好康</div>
		{if $smarty.get.order == 'news'}<div class="slide_title2">新店家報到</div>{/if}
	</div>
    {include file="$tpl_dir./mobile/store/search_store.tpl"}
    {include file="$tpl_dir./mobile/store/store_item_list.tpl"}
</div>