<div id="Web_1280__11" style="transform-origin: 0px 0px;">
	<img id="shutterstock_1584979828" src="\themes\Okrent\img\login\-1.png" srcset="\themes\Okrent\img\login\-1.png 1x, shutterstock_1584979828@2x.png 2x">

	<div id="Group_603">
		<svg class="Line_57" viewBox="0 0 17 16">
			<path id="Line_57" d="M 17 0 L 0 16">
			</path>
		</svg>
		<svg class="Line_58" viewBox="0 0 17 16">
			<path id="Line_58" d="M 17 0 L 0 16">
			</path>
		</svg>
	</div>

	<div id="Group_839">
			<svg class="Rectangle_112">
				<rect id="Rectangle_112" rx="4" ry="4" x="0" y="0" width="327" height="48">
				</rect>
			</svg>
			<div id="Component_18__1">
				<svg class="Path_10" viewBox="0 0 16 16">
					<path id="Path_10" d="M 8 0 L 6.545454978942871 1.454545497894287 L 12.05194854736328 6.961039066314697 L 0 6.961039066314697 L 0 9.038961410522461 L 12.05194854736328 9.038961410522461 L 6.545454978942871 14.54545497894287 L 8 16 L 16 8 L 8 0 Z">
					</path>
				</svg>
			</div>
		</div>

	<svg class="Line_59" viewBox="0 0 327 1">
		<path id="Line_59" d="M 0 0 L 327 0">
		</path>
	</svg>
	<div id="_x">
		<span>註冊</span>
	</div>
	<div id="_y">
		<span><a href="\Login">登入</a></span>
	</div>
	<svg class="Line_60" viewBox="0 0 162 5">
		<path id="Line_60" d="M 0 0 L 162 0">
		</path>
	</svg>


		<svg class="Rectangle_2674">
			<rect id="Rectangle_2674" rx="10" ry="10" x="0" y="0" width="327" height="48">
			</rect>
		</svg>
		<div id="Group_603">
			<svg class="Line_57" viewBox="0 0 17 16">
				<path id="Line_57" d="M 17 0 L 0 16">
				</path>
			</svg>
			<svg class="Line_58" viewBox="0 0 17 16">
				<path id="Line_58" d="M 17 0 L 0 16">
				</path>
			</svg>
		</div>







		<svg class="Rectangle_2446">
			<rect id="Rectangle_2446" rx="10" ry="10" x="0" y="0" width="326" height="48">
			</rect>
		</svg>
		<div id="_by">
			<span>姓名</span>
		</div>
		<svg class="Union_1" viewBox="0 354 16 16">
			<path id="Union_1" d="M 0 369.9999084472656 L 0 368.0001220703125 C 0 365.7996215820313 3.600000143051147 363.9996032714844 8.000100135803223 363.9996032714844 C 12.40019989013672 363.9996032714844 16.00020027160645 365.7996215820313 16.00020027160645 368.0001220703125 L 16.00020027160645 369.9999084472656 L 0 369.9999084472656 Z M 3.999600172042847 358.0002136230469 C 3.999600172042847 355.7907104492188 5.790600299835205 353.9996948242188 8.000100135803223 353.9996948242188 C 10.20870018005371 353.9996948242188 11.99970054626465 355.7907104492188 11.99970054626465 358.0002136230469 C 11.99970054626465 360.2088012695313 10.20870018005371 361.9998168945313 8.000100135803223 361.9998168945313 C 5.790600299835205 361.9998168945313 3.999600172042847 360.2088012695313 3.999600172042847 358.0002136230469 Z">
			</path>
		</svg>
		<svg class="Rectangle_2667">
			<rect id="Rectangle_2667" rx="10" ry="10" x="0" y="0" width="326" height="48">
			</rect>
		</svg>
		<div id="_b">
			<span>暱稱</span>
		</div>
		<div id="Group_836">
			<svg class="Rectangle_122">
				<rect id="Rectangle_122" rx="10" ry="10" x="0" y="0" width="327" height="48">
				</rect>
			</svg>
			<div id="ID6-12">
				<span>英數混合6-12碼</span>
			</div>
			<div id="_ca">
				<span>密碼</span>
			</div>
			<svg class="Path_20820" viewBox="2.376 42.12 11.808 14.472">
				<path id="Path_20820" d="M 8.279999732971191 43.27199935913086 L 8.279999732971191 43.27199935913086 L 8.279999732971191 42.11999893188477 L 9.215999603271484 42.26399993896484 L 10.07999992370605 42.47999954223633 L 10.87199974060059 42.9119987487793 L 11.59200000762939 43.48799896240234 L 12.16800022125244 44.20800018310547 L 12.60000038146973 44.92800140380859 L 12.81599998474121 45.86399841308594 L 12.88799953460693 46.72800064086914 L 11.59200000762939 46.72800064086914 L 11.59200000762939 46.08000183105469 L 11.52000045776367 45.57600021362305 L 11.44799995422363 45.28799819946289 L 11.15999984741211 44.85599899291992 L 10.94400024414063 44.42399978637695 L 10.51200008392334 44.13600158691406 L 10.15200042724609 43.84799957275391 L 9.791999816894531 43.63199996948242 L 9.288000106811523 43.48799896240234 L 8.784000396728516 43.27199935913086 L 8.279999732971191 43.27199935913086 Z M 8.279999732971191 56.59199905395508 L 8.279999732971191 55.29600143432617 L 9.576000213623047 55.29600143432617 L 8.928000450134277 53.35200119018555 L 9.288000106811523 53.06399917602539 L 9.503999710083008 52.84799957275391 L 9.720000267028809 52.41600036621094 L 9.791999816894531 51.98400115966797 L 9.791999816894531 51.69599914550781 L 9.720000267028809 51.40800094604492 L 9.503999710083008 51.19200134277344 L 9.359999656677246 50.97600173950195 L 9.144000053405762 50.7599983215332 L 8.855999946594238 50.61600112915039 L 8.640000343322754 50.54399871826172 L 8.279999732971191 50.54399871826172 L 8.279999732971191 49.39199829101563 L 12.88799953460693 49.39199829101563 L 13.17599964141846 49.39199829101563 L 13.39200019836426 49.4640007019043 L 13.82400035858154 49.82400131225586 L 14.11200046539307 50.18399810791016 L 14.18400001525879 50.47200012207031 L 14.18400001525879 50.6879997253418 L 14.18400001525879 55.29600143432617 L 14.18400001525879 55.51200103759766 L 14.11200046539307 55.79999923706055 L 13.82400035858154 56.23199844360352 L 13.39200019836426 56.52000045776367 L 13.17599964141846 56.59199905395508 L 12.88799953460693 56.59199905395508 L 8.279999732971191 56.59199905395508 Z M 5.039999961853027 46.08000183105469 L 5.039999961853027 46.08000183105469 L 5.111999988555908 45.57600021362305 L 5.184000015258789 45.28799819946289 L 5.400000095367432 44.85599899291992 L 5.688000202178955 44.42399978637695 L 6.047999858856201 44.13600158691406 L 6.407999992370605 43.84799957275391 L 6.840000152587891 43.63199996948242 L 7.343999862670898 43.48799896240234 L 7.776000022888184 43.27199935913086 L 8.279999732971191 43.27199935913086 L 8.279999732971191 42.11999893188477 L 7.415999889373779 42.26399993896484 L 6.480000019073486 42.47999954223633 L 5.688000202178955 42.9119987487793 L 5.039999961853027 43.48799896240234 L 4.464000225067139 44.20800018310547 L 4.032000064849854 44.92800140380859 L 3.74399995803833 45.86399841308594 L 3.671999931335449 46.72800064086914 L 3.671999931335449 48.74399948120117 L 5.039999961853027 48.74399948120117 L 5.039999961853027 46.08000183105469 Z M 8.279999732971191 49.39199829101563 L 8.279999732971191 50.54399871826172 L 7.992000102996826 50.54399871826172 L 7.703999996185303 50.61600112915039 L 7.48799991607666 50.7599983215332 L 7.199999809265137 50.97600173950195 L 7.056000232696533 51.19200134277344 L 6.912000179290771 51.40800094604492 L 6.840000152587891 51.69599914550781 L 6.840000152587891 51.98400115966797 L 6.912000179290771 52.41600036621094 L 7.056000232696533 52.84799957275391 L 7.343999862670898 53.06399917602539 L 7.631999969482422 53.35200119018555 L 6.984000205993652 55.29600143432617 L 8.279999732971191 55.29600143432617 L 8.279999732971191 56.59199905395508 L 3.671999931335449 56.59199905395508 L 3.456000089645386 56.59199905395508 L 3.240000009536743 56.52000045776367 L 2.808000087738037 56.23199844360352 L 2.447999954223633 55.79999923706055 L 2.375999927520752 55.51200103759766 L 2.375999927520752 55.29600143432617 L 2.375999927520752 50.6879997253418 L 2.375999927520752 50.47200012207031 L 2.447999954223633 50.18399810791016 L 2.808000087738037 49.82400131225586 L 3.240000009536743 49.4640007019043 L 3.456000089645386 49.39199829101563 L 3.671999931335449 49.39199829101563 L 8.279999732971191 49.39199829101563 Z">
				</path>
			</svg>
		</div>
		<div id="Component_64__1" class="Component_64___1">
			<svg class="Path_10" viewBox="0 0 16 16">
				<path id="Path_10" d="M 8 0 L 6.545454978942871 1.454545497894287 L 12.05194854736328 6.961039066314697 L 0 6.961039066314697 L 0 9.038961410522461 L 12.05194854736328 9.038961410522461 L 6.545454978942871 14.54545497894287 L 8 16 L 16 8 L 8 0 Z">
				</path>
			</svg>
		</div>
		<div id="Group_835">
			<svg class="Rectangle_122_ca">
				<rect id="Rectangle_122_ca" rx="10" ry="10" x="0" y="0" width="327" height="48">
				</rect>
			</svg>
			<div id="ID0933581098">
				<span>0933581098</span>
			</div>
			<div id="_cc">
				<span>手機號碼</span>
			</div>
			<svg class="Path_20819" viewBox="3.024 0 10.512 20.952">
				<path id="Path_20819" d="M 11.66399955749512 20.95199966430664 L 11.66399955749512 20.95199966430664 L 11.73600006103516 20.95199966430664 L 11.80799961090088 20.95199966430664 L 11.88000011444092 20.95199966430664 L 11.95199966430664 20.95199966430664 L 12.02400016784668 20.95199966430664 L 12.0959997177124 20.8799991607666 L 12.16800022125244 20.8799991607666 L 12.23999977111816 20.8799991607666 L 12.3120002746582 20.8799991607666 L 12.3120002746582 20.8080005645752 L 12.38399982452393 20.8080005645752 L 12.45600032806396 20.8080005645752 L 12.52799987792969 20.73600006103516 L 12.60000038146973 20.73600006103516 L 12.67199993133545 20.73600006103516 L 12.67199993133545 20.66399955749512 L 12.74400043487549 20.66399955749512 L 12.74400043487549 20.59199905395508 L 12.81599998474121 20.59199905395508 L 12.88799953460693 20.59199905395508 L 12.88799953460693 20.52000045776367 L 12.96000003814697 20.52000045776367 L 12.96000003814697 20.44799995422363 L 13.0319995880127 20.44799995422363 L 13.10400009155273 20.37599945068359 L 13.17599964141846 20.30400085449219 L 13.17599964141846 20.23200035095215 L 13.2480001449585 20.23200035095215 L 13.2480001449585 20.15999984741211 L 13.31999969482422 20.08799934387207 L 13.31999969482422 20.01600074768066 L 13.39200019836426 19.94400024414063 L 13.39200019836426 19.87199974060059 L 13.46399974822998 19.79999923706055 L 13.46399974822998 19.72800064086914 L 13.46399974822998 19.6560001373291 L 13.46399974822998 19.58399963378906 L 13.53600025177002 19.51199913024902 L 13.53600025177002 19.44000053405762 L 13.53600025177002 19.36800003051758 L 13.53600025177002 19.29599952697754 L 13.53600025177002 19.22400093078613 L 13.53600025177002 19.15200042724609 L 13.53600025177002 19.07999992370605 L 13.53600025177002 1.871999979019165 L 13.53600025177002 1.799999952316284 L 13.53600025177002 1.728000044822693 L 13.53600025177002 1.656000018119812 L 13.53600025177002 1.51199996471405 L 13.53600025177002 1.440000057220459 L 13.53600025177002 1.368000030517578 L 13.46399974822998 1.296000003814697 L 13.46399974822998 1.223999977111816 L 13.46399974822998 1.151999950408936 L 13.39200019836426 1.080000042915344 L 13.39200019836426 1.008000016212463 L 13.31999969482422 0.9359999895095825 L 13.31999969482422 0.8640000224113464 L 13.31999969482422 0.7919999957084656 L 13.2480001449585 0.7919999957084656 L 13.2480001449585 0.7200000286102295 L 13.17599964141846 0.6480000019073486 L 13.10400009155273 0.5759999752044678 L 13.0319995880127 0.5040000081062317 L 12.96000003814697 0.5040000081062317 L 12.96000003814697 0.4320000112056732 L 12.88799953460693 0.4320000112056732 L 12.88799953460693 0.3600000143051147 L 12.81599998474121 0.3600000143051147 L 12.74400043487549 0.2879999876022339 L 12.67199993133545 0.2879999876022339 L 12.67199993133545 0.2160000056028366 L 12.60000038146973 0.2160000056028366 L 12.52799987792969 0.2160000056028366 L 12.52799987792969 0.1439999938011169 L 12.45600032806396 0.1439999938011169 L 12.38399982452393 0.1439999938011169 L 12.3120002746582 0.07199999690055847 L 12.23999977111816 0.07199999690055847 L 12.16800022125244 0.07199999690055847 L 12.0959997177124 0 L 12.02400016784668 0 L 11.95199966430664 0 L 11.88000011444092 0 L 11.80799961090088 0 L 11.73600006103516 0 L 11.66399955749512 0 L 8.279999732971191 0 L 8.279999732971191 0.9359999895095825 L 9.576000213623047 0.9359999895095825 L 9.64799976348877 0.9359999895095825 L 9.720000267028809 1.008000016212463 L 9.720000267028809 1.080000042915344 L 9.720000267028809 1.151999950408936 L 9.720000267028809 1.223999977111816 L 9.720000267028809 1.296000003814697 L 9.720000267028809 1.368000030517578 L 9.64799976348877 1.368000030517578 L 9.576000213623047 1.368000030517578 L 8.279999732971191 1.368000030517578 L 8.279999732971191 2.375999927520752 L 12.60000038146973 2.375999927520752 L 12.60000038146973 17.56800079345703 L 8.279999732971191 17.56800079345703 L 8.279999732971191 18.28800010681152 L 8.35200023651123 18.28800010681152 L 8.423999786376953 18.28800010681152 L 8.496000289916992 18.28800010681152 L 8.567999839782715 18.28800010681152 L 8.640000343322754 18.28800010681152 L 8.640000343322754 18.36000061035156 L 8.711999893188477 18.36000061035156 L 8.784000396728516 18.36000061035156 L 8.855999946594238 18.43199920654297 L 8.928000450134277 18.50399971008301 L 9 18.50399971008301 L 9 18.57600021362305 L 9.071999549865723 18.64800071716309 L 9.144000053405762 18.71999931335449 L 9.144000053405762 18.79199981689453 L 9.144000053405762 18.86400032043457 L 9.215999603271484 18.86400032043457 L 9.215999603271484 18.93600082397461 L 9.215999603271484 19.00799942016602 L 9.215999603271484 19.07999992370605 L 9.215999603271484 19.15200042724609 L 9.288000106811523 19.22400093078613 L 9.215999603271484 19.22400093078613 L 9.215999603271484 19.29599952697754 L 9.215999603271484 19.36800003051758 L 9.215999603271484 19.44000053405762 L 9.215999603271484 19.51199913024902 L 9.144000053405762 19.58399963378906 L 9.144000053405762 19.6560001373291 L 9.144000053405762 19.72800064086914 L 9.071999549865723 19.72800064086914 L 9.071999549865723 19.79999923706055 L 9 19.79999923706055 L 9 19.87199974060059 L 8.928000450134277 19.94400024414063 L 8.855999946594238 19.94400024414063 L 8.855999946594238 20.01600074768066 L 8.784000396728516 20.01600074768066 L 8.711999893188477 20.08799934387207 L 8.640000343322754 20.08799934387207 L 8.567999839782715 20.08799934387207 L 8.567999839782715 20.15999984741211 L 8.496000289916992 20.15999984741211 L 8.423999786376953 20.15999984741211 L 8.35200023651123 20.15999984741211 L 8.279999732971191 20.15999984741211 L 8.279999732971191 20.95199966430664 L 11.66399955749512 20.95199966430664 Z M 8.279999732971191 0 L 4.967999935150146 0 L 4.895999908447266 0 L 4.823999881744385 0 L 4.751999855041504 0 L 4.679999828338623 0 L 4.607999801635742 0 L 4.535999774932861 0 L 4.464000225067139 0.07199999690055847 L 4.320000171661377 0.07199999690055847 L 4.248000144958496 0.07199999690055847 L 4.248000144958496 0.1439999938011169 L 4.176000118255615 0.1439999938011169 L 4.104000091552734 0.1439999938011169 L 4.032000064849854 0.2160000056028366 L 3.960000038146973 0.2160000056028366 L 3.888000011444092 0.2879999876022339 L 3.815999984741211 0.2879999876022339 L 3.74399995803833 0.3600000143051147 L 3.671999931335449 0.4320000112056732 L 3.599999904632568 0.5040000081062317 L 3.528000116348267 0.5040000081062317 L 3.528000116348267 0.5759999752044678 L 3.456000089645386 0.5759999752044678 L 3.456000089645386 0.6480000019073486 L 3.384000062942505 0.6480000019073486 L 3.384000062942505 0.7200000286102295 L 3.312000036239624 0.7919999957084656 L 3.240000009536743 0.8640000224113464 L 3.240000009536743 0.9359999895095825 L 3.240000009536743 1.008000016212463 L 3.167999982833862 1.080000042915344 L 3.167999982833862 1.151999950408936 L 3.095999956130981 1.223999977111816 L 3.095999956130981 1.296000003814697 L 3.095999956130981 1.368000030517578 L 3.095999956130981 1.440000057220459 L 3.095999956130981 1.51199996471405 L 3.023999929428101 1.656000018119812 L 3.023999929428101 1.728000044822693 L 3.023999929428101 1.799999952316284 L 3.023999929428101 1.871999979019165 L 3.023999929428101 19.07999992370605 L 3.023999929428101 19.15200042724609 L 3.023999929428101 19.22400093078613 L 3.023999929428101 19.29599952697754 L 3.095999956130981 19.36800003051758 L 3.095999956130981 19.44000053405762 L 3.095999956130981 19.51199913024902 L 3.095999956130981 19.58399963378906 L 3.095999956130981 19.6560001373291 L 3.167999982833862 19.72800064086914 L 3.167999982833862 19.79999923706055 L 3.167999982833862 19.87199974060059 L 3.240000009536743 19.94400024414063 L 3.240000009536743 20.01600074768066 L 3.312000036239624 20.08799934387207 L 3.312000036239624 20.15999984741211 L 3.384000062942505 20.23200035095215 L 3.456000089645386 20.30400085449219 L 3.456000089645386 20.37599945068359 L 3.528000116348267 20.37599945068359 L 3.528000116348267 20.44799995422363 L 3.599999904632568 20.44799995422363 L 3.671999931335449 20.52000045776367 L 3.74399995803833 20.59199905395508 L 3.815999984741211 20.59199905395508 L 3.888000011444092 20.66399955749512 L 3.960000038146973 20.73600006103516 L 4.032000064849854 20.73600006103516 L 4.104000091552734 20.73600006103516 L 4.104000091552734 20.8080005645752 L 4.176000118255615 20.8080005645752 L 4.248000144958496 20.8080005645752 L 4.320000171661377 20.8799991607666 L 4.464000225067139 20.8799991607666 L 4.535999774932861 20.8799991607666 L 4.607999801635742 20.95199966430664 L 4.679999828338623 20.95199966430664 L 4.751999855041504 20.95199966430664 L 4.823999881744385 20.95199966430664 L 4.895999908447266 20.95199966430664 L 4.967999935150146 20.95199966430664 L 8.279999732971191 20.95199966430664 L 8.279999732971191 20.15999984741211 L 8.208000183105469 20.15999984741211 L 8.13599967956543 20.15999984741211 L 8.064000129699707 20.15999984741211 L 7.992000102996826 20.08799934387207 L 7.920000076293945 20.08799934387207 L 7.848000049591064 20.08799934387207 L 7.848000049591064 20.01600074768066 L 7.776000022888184 20.01600074768066 L 7.703999996185303 19.94400024414063 L 7.631999969482422 19.94400024414063 L 7.631999969482422 19.87199974060059 L 7.559999942779541 19.87199974060059 L 7.559999942779541 19.79999923706055 L 7.48799991607666 19.72800064086914 L 7.48799991607666 19.6560001373291 L 7.415999889373779 19.6560001373291 L 7.415999889373779 19.58399963378906 L 7.415999889373779 19.51199913024902 L 7.343999862670898 19.44000053405762 L 7.343999862670898 19.36800003051758 L 7.343999862670898 19.29599952697754 L 7.343999862670898 19.22400093078613 L 7.343999862670898 19.15200042724609 L 7.343999862670898 19.07999992370605 L 7.343999862670898 19.00799942016602 L 7.343999862670898 18.93600082397461 L 7.415999889373779 18.93600082397461 L 7.415999889373779 18.86400032043457 L 7.415999889373779 18.79199981689453 L 7.48799991607666 18.71999931335449 L 7.48799991607666 18.64800071716309 L 7.559999942779541 18.64800071716309 L 7.559999942779541 18.57600021362305 L 7.631999969482422 18.50399971008301 L 7.703999996185303 18.50399971008301 L 7.703999996185303 18.43199920654297 L 7.776000022888184 18.43199920654297 L 7.776000022888184 18.36000061035156 L 7.848000049591064 18.36000061035156 L 7.920000076293945 18.36000061035156 L 7.992000102996826 18.28800010681152 L 8.064000129699707 18.28800010681152 L 8.13599967956543 18.28800010681152 L 8.208000183105469 18.28800010681152 L 8.279999732971191 18.28800010681152 L 8.279999732971191 17.56800079345703 L 4.032000064849854 17.56800079345703 L 4.032000064849854 2.375999927520752 L 8.279999732971191 2.375999927520752 L 8.279999732971191 1.368000030517578 L 6.984000205993652 1.368000030517578 L 6.912000179290771 1.368000030517578 L 6.912000179290771 1.296000003814697 L 6.840000152587891 1.296000003814697 L 6.840000152587891 1.223999977111816 L 6.840000152587891 1.151999950408936 L 6.840000152587891 1.080000042915344 L 6.912000179290771 1.008000016212463 L 6.912000179290771 0.9359999895095825 L 6.984000205993652 0.9359999895095825 L 8.279999732971191 0.9359999895095825 L 8.279999732971191 0 Z">
				</path>
			</svg>
		</div>
		<div id="ID886">
			<span>+886</span>
		</div>
		<svg class="Path_21771" viewBox="0.167 -1.333 1 30.167">
			<path id="Path_21771" d="M 0.166748046875 -1.3330078125 L 0.166748046875 28.83398628234863">
			</path>
		</svg>
		<div id="Dropdown">
			<svg class="Path_36" viewBox="2 2 9.4 6.1">
				<path id="Path_36" d="M 6.699999809265137 8.100000381469727 L 2 3.400000095367432 L 3.400000095367432 2 L 6.699999809265137 5.300000190734863 L 10 2 L 11.39999961853027 3.400000095367432 L 6.699999809265137 8.100000381469727 Z">
				</path>
			</svg>
		</div>
		<div id="_ci">
			<span>手機驗證碼</span>
		</div>
		<div id="ID1288">
			<span>1288</span>
		</div>
		<div id="Group_1658">
			<svg class="Rectangle_2666">
				<rect id="Rectangle_2666" rx="12.5" ry="12.5" x="0" y="0" width="80" height="25">
				</rect>
			</svg>
			<div id="_cm">
				<span>取得驗證碼</span>
			</div>
		</div>
		<div id="Heart">
			<svg class="Heart_co" viewBox="0.025 0.025 16 14.119">
				<path id="Heart_co" d="M 14.74600410461426 1.303996920585632 C 13.04067516326904 -0.4013324081897736 10.33220958709717 -0.4013324081897736 8.62688159942627 1.303996920585632 L 8.02500057220459 1.905877828598022 L 7.42311954498291 1.303996920585632 C 5.717790126800537 -0.4013323187828064 3.009326219558716 -0.4013323187828064 1.303996920585632 1.303996920585632 C -0.4013324081897736 3.009326219558716 -0.4013324081897736 5.717790126800537 1.303996920585632 7.423119068145752 L 8.02500057220459 14.14412307739258 L 14.74600410461426 7.423120021820068 C 16.45133209228516 5.717790126800537 16.45133209228516 3.009326219558716 14.74600410461426 1.303996920585632">
				</path>
			</svg>
			<svg class="Rectangle_1450">
				<rect id="Rectangle_1450" rx="0" ry="0" x="0" y="0" width="16" height="16">
				</rect>
			</svg>
		</div>
		<div id="Group_1663">
			<div id="Group_1662">
				<svg class="Rectangle_576">
					<rect id="Rectangle_576" rx="0" ry="0" x="0" y="0" width="15" height="15">
					</rect>
				</svg>
				<div id="Group_77">
					<svg class="Rectangle_460">
						<rect id="Rectangle_460" rx="0" ry="0" x="0" y="0" width="8" height="8">
						</rect>
					</svg>
					<svg class="Checkbox" viewBox="0 0 8 5.517">
						<path id="Checkbox" d="M 3.17241382598877 5.517241477966309 L 0 2.344827651977539 L 0.6436781287193298 1.701149582862854 L 3.17241382598877 4.183907985687256 L 7.356322288513184 0 L 8 0.6436781287193298 L 3.17241382598877 5.517241477966309 Z">
						</path>
					</svg>
				</div>
			</div>
			<div id="_cw">
				<span>我已閱讀</span>
			</div>
		</div>
		<img id="-1" src="\themes\Okrent\img\login\-1.png" srcset="\themes\Okrent\img\login\-1.png 1x, -1@2x.png 2x">

		<div id="_cy">
			<span>女士</span>
		</div>
		<div id="Group_1669">
			<img id="Group_1668" src="\themes\Okrent\img\login\Group_1668.png" srcset="\themes\Okrent\img\login\Group_1668.png 1x, Group_1668@2x.png 2x">


		</div>
		<div id="_c">
			<span>先生</span>
		</div>
		<svg class="Path_21784" viewBox="0 0 5.146 16.105">
			<path id="Path_21784" d="M 1.10099995136261 12.72200012207031 L 2.572999954223633 5.951000213623047 L 4.045000076293945 12.72200012207031 L 2.572999954223633 14.52400016784668 L 1.10099995136261 12.72200012207031 Z M 1.514000058174133 2.473000049591064 L 2.572999954223633 1.414999961853027 L 3.631999969482422 2.473000049591064 L 2.572999954223633 3.532999992370605 L 1.514000058174133 2.473000049591064 Z M 2.572999954223633 0 L 0.1000000014901161 2.473000049591064 L 1.646999955177307 4.644000053405762 L 0 12.95600032806396 L 2.572999954223633 16.10499954223633 L 5.145999908447266 12.95600032806396 L 3.5 4.644000053405762 L 5.046000003814697 2.473000049591064 L 2.572999954223633 0 Z">
			</path>
		</svg>
		<div id="Component_155__142" class="Component_155___142">
			<svg class="Rectangle_465">
				<rect id="Rectangle_465" rx="10" ry="10" x="0" y="0" width="20" height="20">
				</rect>
			</svg>
			<svg class="Rectangle_2471">
				<rect id="Rectangle_2471" rx="5" ry="5" x="0" y="0" width="10" height="10">
				</rect>
			</svg>
		</div>
		<div id="Component_155__143" class="Component_155___143">
			<svg class="Rectangle_465_c">
				<rect id="Rectangle_465_c" rx="10" ry="10" x="0" y="0" width="20" height="20">
				</rect>
			</svg>
		</div>


	<div id="Group_231">
		<div id="Group_197">
			<div id="Group_28"><a href="/">
				<img id="Group_27" src="\themes\Okrent\img\login\Group_27.png" srcset="\themes\Okrent\img\login\Group_27.png 1x, Group_27@2x.png 2x">


			</div>
			<div id="Group_35">
				<div id="Group_30">
					<img id="Group_29" src="\themes\Okrent\img\login\\themes\Okrent\img\login\Group_29.png" srcset="\themes\Okrent\img\login\Group_29.png 1x, Group_29@2x.png 2x">


				</div>
			</div>
			<div id="Group_36">
				<div id="Group_32">
					<img id="Group_31" src="\themes\Okrent\img\login\\themes\Okrent\img\login\Group_31.png" srcset="\themes\Okrent\img\login\Group_31.png 1x, Group_31@2x.png 2x">


				</div>
			</div>
			<div id="Group_34">
				<img id="Group_33" src="\themes\Okrent\img\login\\themes\Okrent\img\login\Group_33.png" srcset="\themes\Okrent\img\login\Group_33.png 1x, Group_33@2x.png 2x">


			</a></div>
		</div>
	</div>


	<div id="Group_840">
		<img id="fb" src="\themes\Okrent\img\login\fb.png" srcset="\themes\Okrent\img\login\fb.png 1x, fb@2x.png 2x">

		<img id="Google" src="\themes\Okrent\img\login\Google.png" srcset="\themes\Okrent\img\login\Google.png 1x, Google@2x.png 2x">

		<img id="Line_logo" src="\themes\Okrent\img\login\Line_logo.png" srcset="\themes\Okrent\img\login\Line_logo.png 1x, Line_logo@2x.png 2x">

	</div>

</div>
