<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>


{$pr}
<hr>
<h1>{$entry_url}</h1>
<hr>
SERCERT_KEY:{$SECERT_KEY}
<hr>
payload:{$payload}
<hr>
DIGEST:{$DIGEST}
<hr>
{$APIKEY}
<hr>
