{* {if $order}
{include file="order.tpl"}
{else}
{include file="index.tpl"}
{/if} *}

{if $order_cancel}
{include file="order_cancel.tpl"}
{else if $order_search}
{include file="search.tpl"}
{else if $order_search_confire}
{include file="order_search.tpl"}
{else if $order}
{include file="order.tpl"}
{else if $order_confirm}
{{include file="order_confirm.tpl"}}
{else}
{include file="index.tpl"}
{/if}
