<div class="main">

  {include file="$tpl_dir./page_head.tpl"}

<div class="house_check_wrap">

  <div id="Web_1280__2" style="transform-origin: 0px 0px;">
    {$Breadcrumb}
    <br/><br/>
<table class="ordercheck" border="0">
  <tr>
    <td align="left"><img src="/themes/LifeHouse/img/lifegoproduct/super_logo.jpg" width="50" height="125"></td>
  </tr>
  <tr>
    <td align="center"><img src="/themes/LifeHouse/img/lifegoproduct/order_check.jpg" width="121" height="125"><br/>已經收到您的訂單<br/><span style="color:red;">您的訂單編號：{$orderID2}</span>
    </td>
  </tr>
  {if $payway_check == "3"}
  <tr><td align="center" style="color:red;">
  <br/>ATM 匯款資訊：<br/>
  銀行:台灣中小企銀 (050)<br/>
  匯款帳號：{$orderID2}<br/><br/>
  </td></tr>
  {/if}
  <tr>
    <td>誠摯感謝您的惠顧：<br/>
1.	商品訂單確認明細，已發送至您的手機，請查看簡訊內容。<br/>
2.	商品將於3日內出貨，若有訂單相關問題，請撥打免付費客服專線：0800-010-568。<br/>
3.	二氧化氯為消耗型產品，故本產品售出既不退貨，若有產品問題請撥打客服專線。<br/>
4.	【詐騙猖獗，小心受騙】本店絕對不會以交易失敗或付款錯誤等理由，讓您至ATM操作任意行為，請小心不要受騙。<br/>
</td>
  </tr>
  <tr><td><a href="{$order}">回首頁</td></tr>
</table>
</div>



</div