
<div class="main">

  {include file="$tpl_dir./page_head.tpl"}

<div class="house_check_wrap">

  <div id="Web_1280__2" style="transform-origin: 0px 0px;">
    {$Breadcrumb}
    <br/><br/>
<table class="ordercheck" border="0">
  <tr>
    <td align="left"><img src="/themes/LifeHouse/img/lifegoproduct/super_logo.jpg" width="50" height="125"></td>
  </tr>
  <tr>
    <td align="center"><img src="/themes/LifeHouse/img/lifegoproduct/order_check.jpg" width="121" height="125"><br/>訂單已取消<br/>
    </td>
  </tr>
  </tr>
  <tr><td><a href="https://www.okmaster.life/SterilizationBuy?order=search" name="cancel" value="{$orderID2}">回訂單查詢</td></tr>
</table>
</div></div>