<div class="main">

  {include file="$tpl_dir./page_head.tpl"}

<div class="house_check_wrap">

  <div id="Web_1280__2" style="transform-origin: 0px 0px;">
    {$Breadcrumb}
    <br/><br/>

<form action="" method="post" name="form">
<table width="100%" border="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div class="col-6 gap-24">
                  <div class="row">訂單編號：
                    <input class="col-6" type="text" value="{$detail_orderID2}" readonly="true"></div></div>
                <div class="col-6 gap-24">
                  <div class="row">訂單成立時間：
                     <input class="col-6" type="text"  value="{$detail_OrderCreateTime}" readonly="true"></div></div>
               
                </div>
                <div class="col-6 gap-24">
                  <div class="row">訂購人名稱：
                    <input class="col-6" type="text"  value="{$detail_OrderUserName}" readonly="true"></div></div>
                <div class="col-6 gap-24">
                  <div class="row">手機號碼：
                     <input class="col-6" type="text" value="{$detail_OrderUserPhone}" readonly="true"></div></div>
               
                
                
                <div class="col-6 gap-24">
                  <div class="row">付款時間：
                    <input class="col-6" type="text"  value="{$detail_PaymentFlag}" readonly="true"></div></div>
                <div class="col-6 gap-24">
                  <div class="row">物流方式：
                     <input class="col-6" type="text" value="{$detail_PickUpStore}" readonly="true"></div></div>
                 
              
                <div class="col-6 gap-24">
                  <div class="row">
                    <div align="center">商品明細：</div>
                  </div></div></td></tr>
                  <tr>
                  	<td>
                    <table width="100%" border="0">
  <tr>
    <td width="20%" rowspan="4"><img style="border-radius: 30px;" src="/themes/LifeHouse/img/lifegoproduct/product_photo_1_022321-02.svg"></td>
    <td width="20%"><p align="center">商品名稱</p></td>
    <td width="20%"><div align="center">單價</div></td>
    <td width="20%"><div align="center">數量</div></td>
    <td width="20%"><div align="center">總價</div></td>
  </tr>
  <tr>
    <td><input type="text" value="{$product_title} 系列 {$product_info}" readonly="true"/></td>
    <td><input type="text" value="{$product_price}" readonly="true"/></td>
    <td><input type="text" value="{$detail_OrderEachAmountt}" readonly="true"/></td>
    <td><input type="text" value="{$detail_OrderTotalPrice}" readonly="true"/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">顧客留言</div></td>
    <td colspan="3"><input type="text" name="message" value="{$detail_OrderMessage}" style="width:100%" readonly="true"></td>
    </tr>
</table>

              <div class="col-6 gap-24" style="background:#fbe5d6">
                  <div class="row">
                    <ul>
                      <li>商品將於3日內出貨，若有訂單相關問題，請撥打免付費客服專線：0800-010-568。 </li>
                      <li>二氧化氯為消耗型產品，故本產品售出既不退貨，若有產品問題請撥打客服專線。 </li>
                      <input type="hidden" name="cancel" value="{$detail_orderID2}"/>
                      <li>若要取消訂單，請點擊 <strong><button type="submit" name="ccancel" value="OK" style="color:red">我要取消訂單</button></strong> 。 </li>
                    </ul>
                    <p>【詐騙猖獗，小心受騙】本店絕對不會以交易失敗或付款錯誤等理由，讓您至ATM操作任意行為，請小心不要受騙。 </p>
                  </div></div></td></tr>
  </table>
</form> 
</div></div>s
