.border-bottom{
	border-bottom: 1px solid #e9e9e9;
}
.gray{
	color: #b5b5b7;
}
body hr{
	border-top: 1px solid #fcb01e;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
	border-color: #fcb01e;
}
.ui-page-theme-a .ui-flipswitch.ui-bar-inherit{
	border-color: #e9e9e9;
}
.file-footer-buttons a,.file-footer-buttons button{
	border-color: #e6e6e6 !important;
}
.file-footer-buttons a:hover,.file-footer-buttons button:hover{
	background-color: #e6e6e6 !important;
}
.p_red{
	background-color: #f499a0;
	color: #fff;
}
.p_yellow{
	background-color: #fcd381;
	color: #fff;
}
.p_blue{
	background-color: #9ac6e3;
	color: #fff;
}
.p_green{
	background-color: #bddb79;
	color: #fff;
}
.p_gray{
	background-color: #b5b5b7;
	color: #fff;
}
.small_gray{
	color: #b5b5b7;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color: #38c !important;
	border-color: #38c !important;
	color: #fff !important;
	text-shadow: 0 1px 0 #059 !important;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background-color: #fff;
}
body,.orange_page{
	background: #fcb01e !important;
	color: #fff !important;
}
.orange_page input[type="text"],.orange_page input[type="email"],.orange_page input[type="password"],input[type="text"].orange_page{
	background: #fcb01e;
	color: #fff;
	border: 1px solid #fff;
}
.orange_title{
	color: #fcb01e;
}
.orange_page input::-webkit-input-placeholder,
.orange_page input::-moz-placeholder,
.orange_page input:-ms-input-placeholder,
.orange_page input:-moz-placeholder{
	color:#fff;
}
.orange_page input::-webkit-input-placeholder, input.orange_page::-webkit-input-placeholder { color:#fff;text-shadow: unset; }
.orange_page input::-moz-placeholder, input.orange_page::-moz-placeholder { color:#fff;text-shadow: unset; } /* firefox 19+ */
.orange_page input:-ms-input-placeholder, input.orange_page:-ms-input-placeholder { color:#fff;text-shadow: unset; } /* ie */
.orange_page input:-moz-placeholder, input.orange_page:-moz-placeholder { color:#fff;text-shadow: unset; }
.orange_page .ui-btn{
	color: #fcb01e !important;
}
.orange_page .ui-flipswitch-on.ui-btn,.orange_page a,.orange_page a:hover,.orange_page a:focus,.orange_page a:visited,.orange_page a:focus-within,.orange_page a:active{
	color: #fff !important;
}
.black_content{
	color: #000;
}
/**/
.ui-header,#footer.footer{
	text-indent: 0.2em;
}
.panel-footer button.btn{
	background: #fcb01e !important;
	color:#fff;
}
.ui-page-theme-a button.ui-btn:hover, html .ui-bar-a button.ui-btn:hover, html .ui-body-a button.ui-btn:hover, html body .ui-group-theme-a button.ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover{
	color:#fff;
}
.ui-page-theme-a a,.ui-page-theme-a a:hover,.ui-page-theme-a a:focus,.ui-page-theme-a a:visited,.ui-page-theme-a a:focus-within,.ui-page-theme-a a:active,
a,a:hover,a:focus,a:visited,a:focus-within,a:active{
	color: #fcb01e;
}
body>.footer{
	background-color: #fff;
}
.footer a,.footer a:active,.footer a:hover,.footer a:focus,.footer a:visited,.footer a:focus-within{
	color: #fcb01e;
}
/* 共用 End */
/* 列表 Start */
.list a[id^="tr_"]{
	border-bottom: 1px solid #fcb01e;
}
.side_menu{
	background-color: #fffc;
}
.menu_top {
	background-color: #fcb01e;
}
div.menu_level{
	background-color: #fff;
	border-right: 1px solid #e9e9e9;
}
div.menu_level>div a>div,
div.menu_level>div>div div>a>div{
	border-bottom: 1px solid #e9e9e9;
}

#login.orange_page a.register.ui-btn{
	color: #fcb01e !important;
}

#public #cancel_on{
	color: #f00;
}
#public .more{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#public .list a{
	border-bottom: 1px solid #fcb01e;
}
#date_error, .error{
	color: #a94442;
}
samp.unit{
	color: #38c;
}
#message .message{
	border-color: #fcb01e;
}
#message .house_code{
	color: #b5b5b7;
}
#NaturalGas input.orange_page{
	border: 0px solid #fff;;
}
#NaturalGas .new{
	background-color: #ffe5c3;
}
#NaturalGas .red{
	color: #f00;
}
.countdown .cd_t i,.countdown .cd_m i,.countdown .cd_c{
	background-color: #fcb01e;
}
.countdown, .countdown .cd_c{
	background-color: #fff;
}
#points .list .spend{
	color: #f00;
}
#points .list .stored{
	color: #4CAF50;
}
#member input.form-control{
	border: 1px solid #ccc;
}