<form action="/HouseMap" method="get" id="search_box">

	<div class="select_group">

		<select name="" id="">

			<option value="">縣市</option>

			<option value=""></option>

		</select><select name="" id="">

			<option value="">行政區</option>

			<option value=""></option>

		</select><select name="" id="">

			<option value="">型態</option>

			<option value=""></option>

		</select><select name="" id="">

			<option value="">類別</option>

			<option value=""></option>

		</select>{*<select name="" id="">

			<option value="">房數</option>

			<option value=""></option>

		</select>*}

	</div>

	<div id="search_text">

		<input type="text" class="field" placeholder="請輸入關鍵字">

	</div>

	<div id="search_btn">

		<button type="button" class="btn list_btn"><img src="{$THEME_URL}/img/icon/pic_m.svg"></button>

		<button type="button" class="btn map_btn"><img src="{$THEME_URL}/img/icon/map_m.svg"></button>

	</div>

</form>