<form action="https://okrent.house/list" method="get" id="search_box_big">
  <div class="minbar2_zone">
    <header class="minbar2 col-sm-4 l">
      <nav class="main_menu2 not_select">
      <div class="content_width">
        <nav class="menu" style="text-align: left;">
          <a href="/list">要租屋</a>
          <a href="/landlord">要出租</a>
          <a href="#">要託管</a>
        </nav>
      </div>
      </nav>
    </header>

    <input type="hidden" name="transfer_in" value="1">
    <div class="search_list_wrap col-sm-4">
      <!-- <img style="    margin: auto;" src="/themes/Rent/img/logo_main.svg"> -->
      <!-- <img id="logo" style="    margin: auto;" class="bnfy-enter" alt="Rectangle 56" width="243" height="45" src="/themes/Rent/img/index/fig/rectangle-56_122330384.png"> -->
      <div id="logo">
			<svg class="_1_mi" viewBox="209.376 650.576 40.176 40.206">
				<path id="_1_mi" d="M 229.4640045166016 690.7816772460938 C 240.5450134277344 690.7816772460938 249.5520477294922 681.774658203125 249.5520477294922 670.6936645507813 C 249.5520477294922 659.6126708984375 240.5450134277344 650.5759887695313 229.4640045166016 650.5759887695313 C 218.3830261230469 650.5759887695313 209.3759918212891 659.6126708984375 209.3759918212891 670.6936645507813 C 209.3759918212891 681.774658203125 218.3830261230469 690.7816772460938 229.4640045166016 690.7816772460938 Z">
				</path>
			</svg>
			<svg class="_2_mj" viewBox="212.904 653.804 35.049 18.641">
				<path id="_2_mj" d="M 222.4443359375 656.2385864257813 C 225.7923431396484 654.3720092773438 229.6736450195313 653.4535522460938 233.1401672363281 653.9276123046875 C 239.0954742431641 654.5498046875 244.6952209472656 657.8977661132813 247.7765655517578 663.2901611328125 C 248.6061553955078 664.7716064453125 246.295166015625 666.4307861328125 245.1988983154297 664.5938110351563 C 243.5100860595703 661.8680419921875 240.8139038085938 659.7347412109375 238.0584869384766 658.371826171875 C 236.4585418701172 657.6015014648438 235.4511871337891 657.5126342773438 233.7623596191406 658.1348266601563 L 229.318115234375 659.764404296875 C 228.3699951171875 660.17919921875 228.9922027587891 661.8680419921875 229.9995574951172 661.4827880859375 C 232.2216796875 660.6532592773438 233.1994171142578 660.2976684570313 235.3919219970703 659.4384155273438 C 237.1992492675781 658.69775390625 238.7695465087891 661.83837890625 236.6659393310547 662.9049682617188 L 212.9040069580078 672.4453125 C 213.1114196777344 665.8974609375 216.9630889892578 659.2606811523438 222.4443359375 656.2385864257813 Z">
				</path>
			</svg>
			<svg class="_3_mk" viewBox="218.308 699.104 35.049 18.639">
				<path id="_3_mk" d="M 243.7867736816406 715.3107299804688 C 240.4683990478516 717.1476440429688 236.5870819091797 718.0958251953125 233.1205596923828 717.6217651367188 C 227.165283203125 716.9995727539063 221.5655059814453 713.6514892578125 218.4841613769531 708.2591552734375 C 217.6545715332031 706.7777709960938 219.9655914306641 705.1185302734375 221.0618286132813 706.95556640625 C 222.7506408691406 709.6813354492188 225.4468231201172 711.8145751953125 228.2022705078125 713.177490234375 C 229.8021850585938 713.9478149414063 230.8095703125 714.0367431640625 232.4983673095703 713.4144897460938 L 236.942626953125 711.784912109375 C 237.8907165527344 711.3701171875 237.2685241699219 709.6813354492188 236.2611694335938 710.0665283203125 C 234.0390472412109 710.8961181640625 233.0612945556641 711.251708984375 230.8688201904297 712.11083984375 C 229.0614776611328 712.8516235351563 227.4911651611328 709.7109985351563 229.5947875976563 708.6443481445313 L 253.3567199707031 699.10400390625 C 253.1493225097656 705.6519165039063 249.2976379394531 712.28857421875 243.7867736816406 715.3107299804688 Z">
				</path>
			</svg>
			<svg class="_4_ml" viewBox="222.175 684.272 29.661 18.192">
				<path id="_4_ml" d="M 226.1519775390625 701.9008178710938 C 225.944580078125 701.693359375 225.7964324951172 701.5157470703125 225.7075500488281 701.2490844726563 C 225.61865234375 700.923095703125 225.5890350341797 700.6268310546875 225.61865234375 700.3009033203125 L 225.61865234375 695.0567016601563 L 223.6631927490234 695.0567016601563 L 223.2780303955078 694.9678344726563 L 222.9224853515625 694.7603759765625 C 222.7447204589844 694.6122436523438 222.5965728759766 694.4641723632813 222.4780578613281 694.2567138671875 C 222.30029296875 693.96044921875 222.2113952636719 693.6641235351563 222.1817779541016 693.3086547851563 C 222.1521453857422 692.8048706054688 222.2113952636719 692.3900756835938 222.4187927246094 691.9160766601563 L 222.5373229980469 691.7086181640625 C 222.7743377685547 691.3531494140625 223.0410003662109 691.1160888671875 223.4557800292969 690.9382934570313 C 227.2778472900391 689.33837890625 231.0998992919922 687.7384643554688 234.9812164306641 686.1978149414063 C 235.721923828125 685.9015502929688 236.4626312255859 685.66455078125 237.2625885009766 685.6348876953125 C 237.8847961425781 685.6348876953125 238.4477233886719 685.75341796875 239.0106811523438 685.93115234375 C 239.5439758300781 686.1089477539063 240.0772857666016 686.3460083007813 240.6106109619141 686.5533447265625 L 241.2328033447266 686.8200073242188 L 241.2624206542969 686.0496826171875 C 241.3513031005859 685.2200927734375 241.8846130371094 684.5682983398438 242.6549682617188 684.3312377929688 C 242.8327331542969 684.3016357421875 242.9808654785156 684.27197265625 243.1290130615234 684.27197265625 L 245.0252380371094 684.27197265625 L 245.3807678222656 684.36083984375 C 245.7659454345703 684.509033203125 246.0325775146484 684.7164306640625 246.2696228027344 685.0126953125 C 246.5066375732422 685.3682250976563 246.65478515625 685.7237548828125 246.65478515625 686.168212890625 L 246.65478515625 688.7755126953125 L 250.7138519287109 690.9976196289063 C 251.0397796630859 691.145751953125 251.2471771240234 691.3531494140625 251.4249725341797 691.6494140625 C 251.8693695068359 692.3308715820313 251.9286346435547 693.130859375 251.7212371826172 693.87158203125 L 251.5434722900391 694.2567138671875 C 251.4249725341797 694.4641723632813 251.3064422607422 694.6122436523438 251.1286773681641 694.7603759765625 L 251.0101470947266 694.8492431640625 L 247.7806549072266 694.8492431640625 L 247.7806549072266 694.3455810546875 L 250.1805572509766 694.375244140625 L 250.1805572509766 694.375244140625 C 250.4768218994141 694.375244140625 250.7138519287109 694.1974487304688 250.8620147705078 693.96044921875 C 250.9805145263672 693.78271484375 251.0694122314453 693.545654296875 251.0990447998047 693.2789916992188 C 251.1286773681641 693.0419311523438 251.0990447998047 692.7753295898438 251.0397796630859 692.5382690429688 C 250.9212799072266 692.1234741210938 250.7138519287109 691.7679443359375 250.3287200927734 691.6197509765625 L 245.9140777587891 689.219970703125 L 245.9140777587891 686.168212890625 C 245.9140777587891 685.8718872070313 245.7955474853516 685.57568359375 245.6177978515625 685.3682250976563 C 245.4104156494141 685.1312255859375 245.1141204833984 685.0126953125 244.8178405761719 685.0126953125 L 243.1586456298828 685.0126953125 C 242.8327331542969 685.0126953125 242.5364379882813 685.1312255859375 242.3290405273438 685.3385620117188 C 242.1216583251953 685.57568359375 241.9735107421875 685.8718872070313 241.9735107421875 686.168212890625 L 241.9735107421875 687.8866577148438 C 241.2920532226563 687.6200561523438 240.6402435302734 687.3533325195313 239.9587860107422 687.1162719726563 C 239.0106811523438 686.671875 238.3292236328125 686.4348754882813 237.6181488037109 686.3755493164063 C 236.9070587158203 686.3163452148438 236.2256164550781 686.494140625 235.2478790283203 686.8792114257813 C 232.7294616699219 687.8570556640625 230.3888244628906 688.834716796875 227.9889221191406 689.842041015625 C 226.5667724609375 690.4346313476563 225.1149749755859 691.056884765625 223.7224578857422 691.6197509765625 L 223.7224578857422 691.6197509765625 C 223.3076324462891 691.7679443359375 223.0410003662109 692.1828002929688 222.9521026611328 692.6567993164063 C 222.8928527832031 692.8641967773438 222.8928527832031 693.1012573242188 222.9224853515625 693.3382568359375 C 222.9521026611328 693.5752563476563 223.0113525390625 693.78271484375 223.1298828125 693.96044921875 C 223.3076324462891 694.1974487304688 223.544677734375 694.3455810546875 223.8409576416016 694.3159790039063 L 226.3593597412109 694.3455810546875 L 226.3593597412109 700.3305053710938 C 226.3297424316406 700.656494140625 226.3297424316406 700.9823608398438 226.5371398925781 701.2786254882813 L 226.5371398925781 701.2786254882813 C 226.7741851806641 701.5452880859375 227.1593170166016 701.7230834960938 227.9000396728516 701.7527465820313 L 233.0553741455078 701.7527465820313 L 233.0553741455078 702.4637451171875 L 227.7222747802734 702.4637451171875 C 227.3074645996094 702.4342041015625 226.9223175048828 702.3748168945313 226.5371398925781 702.1971435546875 C 226.3890075683594 702.1082763671875 226.2704925537109 702.0194091796875 226.1519775390625 701.9008178710938 Z">
				</path>
			</svg>
			<div id="_8_mm">
				<svg class="_2_mn" viewBox="-2094 -32 128.953 21.185">
					<path id="_2_mn" d="M -2042.171020507813 -10.81550025939941 L -2047.360229492188 -10.81550025939941 C -2049.8310546875 -10.81550025939941 -2051.86962890625 -12.84514427185059 -2051.86962890625 -15.30356407165527 C -2051.86962890625 -17.76467514038086 -2049.8310546875 -20.00803375244141 -2047.360229492188 -20.00803375244141 L -2042.171020507813 -20.00803375244141 L -2036.982055664063 -20.00803375244141 C -2034.511108398438 -20.00803375244141 -2032.473510742188 -17.76467514038086 -2032.473510742188 -15.30356407165527 C -2032.473510742188 -12.84514427185059 -2034.511108398438 -10.81550025939941 -2036.982055664063 -10.81550025939941 L -2042.171020507813 -10.81550025939941 Z M -2037.291137695313 -13.15160369873047 C -2036.024536132813 -13.15160369873047 -2035.005249023438 -14.04411125183105 -2035.005249023438 -15.30356407165527 C -2035.005249023438 -16.56436157226563 -2036.024536132813 -17.70284652709961 -2037.291137695313 -17.70284652709961 L -2042.171020507813 -17.70284652709961 L -2047.081909179688 -17.70284652709961 C -2048.3486328125 -17.70284652709961 -2049.36767578125 -16.56436157226563 -2049.36767578125 -15.30356407165527 C -2049.36767578125 -14.04411125183105 -2048.3486328125 -13.15160369873047 -2047.081909179688 -13.15160369873047 L -2042.171020507813 -13.15160369873047 L -2037.291137695313 -13.15160369873047 Z M -2060.30224609375 -12.04538154602051 C -2057.52197265625 -14.19734191894531 -2055.607421875 -16.62619018554688 -2054.587890625 -19.33193588256836 L -2052.42626953125 -18.87089538574219 L -2051.623046875 -18.68675231933594 C -2051.86962890625 -18.10205078125 -2052.14794921875 -17.54826736450195 -2052.42626953125 -16.99448394775391 C -2053.8154296875 -14.47423362731934 -2055.48291015625 -12.44458961486816 -2057.43017578125 -10.96873092651367 L -2060.30224609375 -12.04538154602051 Z M -2013.786254882813 -11.03056335449219 L -2013.786254882813 -15.11941719055176 C -2016.072143554688 -13.95136642456055 -2018.296020507813 -12.99837303161621 -2020.519897460938 -12.32227325439453 C -2020.766967773438 -12.22953033447266 -2021.014282226563 -12.13678550720215 -2021.261108398438 -12.07629776000977 C -2022.465454101563 -11.70666122436523 -2023.670043945313 -11.42976951599121 -2024.843383789063 -11.21470642089844 L -2026.419067382813 -13.36666679382324 C -2024.596313476563 -13.67447471618652 -2022.897827148438 -14.04411125183105 -2021.261108398438 -14.50514984130859 C -2021.014282226563 -14.59654998779297 -2020.766967773438 -14.65838050842285 -2020.519897460938 -14.75112533569336 C -2019.191284179688 -15.15033340454102 -2017.955688476563 -15.61137199401855 -2016.751342773438 -16.10332298278809 L -2020.519897460938 -16.10332298278809 L -2021.261108398438 -16.10332298278809 L -2026.048950195313 -16.10332298278809 L -2026.048950195313 -18.19479751586914 L -2021.261108398438 -18.19479751586914 L -2020.519897460938 -18.19479751586914 L -2013.786254882813 -18.19479751586914 L -2013.786254882813 -18.93270492553711 C -2014.836547851563 -19.21475601196289 -2015.746215820313 -19.86532592773438 -2016.373168945313 -20.73814010620117 L -2016.257202148438 -20.19352722167969 C -2016.288208007813 -20.25400924682617 -2016.319213867188 -20.31584167480469 -2016.319213867188 -20.3776741027832 C -2016.331665039063 -20.38992309570313 -2016.343872070313 -20.42136764526367 -2016.352416992188 -20.44728088378906 C -2016.351684570313 -20.44480514526367 -2016.351196289063 -20.4422492980957 -2016.350463867188 -20.43950271606445 L -2016.134155273438 -19.42467880249023 L -2018.667358398438 -19.02412796020508 C -2018.728149414063 -19.27010726928711 -2018.821166992188 -19.51608276367188 -2018.883422851563 -19.67065811157227 L -2020.519897460938 -19.60882568359375 L -2021.261108398438 -19.57791137695313 L -2026.048950195313 -19.33193588256836 C -2026.142456054688 -19.94754791259766 -2026.296264648438 -20.62364959716797 -2026.512329101563 -21.33066177368164 L -2024.381469726563 -21.51480865478516 C -2023.732055664063 -22.0685920715332 -2023.084106445313 -22.682861328125 -2022.342651367188 -23.42079162597656 C -2023.794311523438 -24.46652603149414 -2025.122680664063 -25.35903167724609 -2026.419067382813 -26.06604766845703 L -2024.844604492188 -27.66422271728516 C -2024.689331054688 -27.60239410400391 -2024.381469726563 -27.44916152954102 -2023.917114257813 -27.23410034179688 C -2023.331176757813 -28.18709182739258 -2022.805786132813 -29.23282623291016 -2022.249633789063 -30.40088272094727 L -2021.261108398438 -30.09307479858398 L -2020.519897460938 -29.84709930419922 L -2019.624633789063 -29.57155227661133 C -2019.840698242188 -29.10916900634766 -2020.150024414063 -28.58629989624023 -2020.519897460938 -27.97203063964844 C -2020.735961914063 -27.60239410400391 -2020.983032226563 -27.20318603515625 -2021.261108398438 -26.80397415161133 C -2021.477172851563 -26.49617004394531 -2021.663696289063 -26.21928024291992 -2021.879760742188 -25.91147232055664 C -2021.663696289063 -25.75823974609375 -2021.446166992188 -25.60501098632813 -2021.261108398438 -25.45043182373047 L -2021.045043945313 -25.23537445068359 C -2020.860229492188 -25.51226425170898 -2020.673950195313 -25.78915786743164 -2020.519897460938 -26.03513336181641 C -2020.056762695313 -26.74214553833008 -2019.716430664063 -27.41824722290039 -2019.500610351563 -28.06477355957031 L -2016.751342773438 -27.66422271728516 C -2017.153686523438 -26.49617004394531 -2018.296020507813 -24.80525207519531 -2020.210815429688 -22.59146118164063 L -2017.708618164063 -23.1761589050293 C -2017.516235351563 -22.9018669128418 -2017.286987304688 -22.52985382080078 -2017.067260742188 -22.13918304443359 C -2017.203247070313 -22.584228515625 -2017.276733398438 -23.05627059936523 -2017.276733398438 -23.54445266723633 L -2017.276733398438 -25.35903167724609 C -2017.276733398438 -27.71414566040039 -2015.569702148438 -29.6695442199707 -2013.356323242188 -30.03258514404297 L -2013.509399414063 -30.03258514404297 L -2013.509399414063 -32.00040054321289 L -2011.377319335938 -32.00040054321289 L -2011.377319335938 -30.03258514404297 L -2011.869750976563 -30.03258514404297 C -2010.118530273438 -29.74477005004883 -2008.699096679688 -28.45602416992188 -2008.186401367188 -26.76084518432617 L -2007.330688476563 -27.57282257080078 C -2007.238891601563 -27.57282257080078 -2007.083618164063 -27.48007965087891 -2006.867553710938 -27.32684707641602 C -2006.219360351563 -28.24892044067383 -2005.662963867188 -29.26374435424805 -2005.199829101563 -30.30813598632813 L -2003.470336914063 -29.75569534301758 L -2002.575073242188 -29.47880554199219 C -2002.791137695313 -29.04867935180664 -2003.100463867188 -28.52581405639648 -2003.470336914063 -27.97203063964844 C -2003.840209960938 -27.35641860961914 -2004.304809570313 -26.68031692504883 -2004.829956054688 -25.91147232055664 C -2004.520874023438 -25.6964111328125 -2004.211547851563 -25.45043182373047 -2003.871215820313 -25.23537445068359 C -2003.717407226563 -25.54317855834961 -2003.594604492188 -25.820068359375 -2003.470336914063 -26.09696197509766 L -2003.470336914063 -26.09561920166016 C -2003.192260742188 -26.74214553833008 -2002.975952148438 -27.32684707641602 -2002.791137695313 -27.91020202636719 L -1999.948852539063 -27.48007965087891 C -2000.320190429688 -26.06604766845703 -2001.493530273438 -24.22055053710938 -2003.470336914063 -22.00676345825195 C -2003.563354492188 -21.88444519042969 -2003.655395507813 -21.79169845581055 -2003.748657226563 -21.66938400268555 L -2003.470336914063 -21.69895553588867 L -2001.864868164063 -21.82261657714844 C -2002.234985351563 -22.34548187255859 -2002.482055664063 -22.682861328125 -2002.575073242188 -22.92883682250977 L -1999.826049804688 -23.48262023925781 C -1999.022583007813 -22.28365325927734 -1998.343383789063 -20.96102523803711 -1997.787231445313 -19.57791137695313 L -2000.411987304688 -19.08596038818359 C -2000.567260742188 -19.36285018920898 -2000.690063476563 -19.60882568359375 -2000.783325195313 -19.85480117797852 L -2003.470336914063 -19.60882568359375 L -2008.289184570313 -19.17870330810547 C -2008.443237304688 -19.57791137695313 -2008.536254882813 -19.97711944580078 -2008.628295898438 -20.43950271606445 L -2008.628295898438 -21.11810684204102 C -2009.199340820313 -20.12970733642578 -2010.108032226563 -19.36811065673828 -2011.192504882813 -19.00749969482422 L -2011.192504882813 -18.19479751586914 L -2003.470336914063 -18.19479751586914 L -1998.744506835938 -18.19479751586914 L -2000.195922851563 -16.10332298278809 L -2003.470336914063 -16.10332298278809 L -2008.536254882813 -16.10332298278809 C -2007.022827148438 -15.39630889892578 -2005.353881835938 -14.81161308288574 -2003.470336914063 -14.3505744934082 C -2001.864868164063 -13.98227882385254 -2000.133911132813 -13.70538711547852 -1998.281372070313 -13.52124404907227 L -1999.701782226563 -11.27653884887695 C -2000.999389648438 -11.49159812927246 -2002.265747070313 -11.70666122436523 -2003.470336914063 -11.98355293273926 C -2006.435424804688 -12.65965270996094 -2009.122436523438 -13.58307266235352 -2011.192504882813 -14.78204154968262 L -2011.192504882813 -11.03056335449219 L -2013.786254882813 -11.03056335449219 Z M -2016.381225585938 -20.74596405029297 L -2016.381225585938 -20.74959945678711 C -2016.382690429688 -20.75116729736328 -2016.383422851563 -20.75270080566406 -2016.384643554688 -20.7542724609375 C -2016.383422851563 -20.75149917602539 -2016.382446289063 -20.74872589111328 -2016.381225585938 -20.74596405029297 Z M -2012.612915039063 -21.08468627929688 C -2011.189331054688 -21.08468627929688 -2009.984497070313 -22.19970321655273 -2009.846069335938 -23.6371955871582 L -2015.380004882813 -23.6371955871582 C -2015.244750976563 -22.19970321655273 -2014.065551757813 -21.08468627929688 -2012.612915039063 -21.08468627929688 Z M -2007.980102539063 -25.35903167724609 L -2007.980102539063 -23.54445266723633 C -2007.980102539063 -22.72629547119141 -2008.182983398438 -21.95317459106445 -2008.540161132813 -21.27714157104492 L -2006.991821289063 -21.42340850830078 C -2006.497680664063 -21.97584533691406 -2005.910034179688 -22.62237548828125 -2005.199829101563 -23.32938766479492 C -2006.101440429688 -24.17675399780273 -2007.022583007813 -24.86166000366211 -2007.980346679688 -25.38567733764648 C -2007.980346679688 -25.37675857543945 -2007.980102539063 -25.36796569824219 -2007.980102539063 -25.35903167724609 Z M -2020.519897460938 -22.31457138061523 C -2020.735961914063 -22.0685920715332 -2020.983032226563 -21.85353088378906 -2021.168090820313 -21.66938400268555 L -2020.519897460938 -21.69895553588867 L -2019.840698242188 -21.76078796386719 C -2020.087768554688 -22.0685920715332 -2020.241577148438 -22.34548187255859 -2020.334838867188 -22.49871444702148 L -2020.519897460938 -22.31457138061523 Z M -2009.874877929688 -25.48134994506836 C -2010.106811523438 -26.81342315673828 -2011.261352539063 -27.81879806518555 -2012.612915039063 -27.81879806518555 C -2013.992065429688 -27.81879806518555 -2015.124877929688 -26.81342315673828 -2015.351684570313 -25.48134994506836 L -2009.874877929688 -25.48134994506836 Z M -1988.304321289063 -11.12196350097656 L -1988.304321289063 -18.5940055847168 C -1989.107788085938 -17.36412048339844 -1989.848999023438 -16.4111328125 -1990.590454101563 -15.70411682128906 L -1993.555297851563 -16.59527969360352 C -1991.331420898438 -18.53217697143555 -1989.694946289063 -20.62364959716797 -1988.675659179688 -22.83743667602539 L -1992.257934570313 -22.83743667602539 L -1992.257934570313 -24.98939514160156 L -1988.304321289063 -24.98939514160156 L -1988.304321289063 -27.32684707641602 C -1989.570922851563 -27.20318603515625 -1990.683471679688 -27.11043930053711 -1991.640747070313 -27.08086776733398 L -1992.257934570313 -29.14008331298828 C -1988.119262695313 -29.47880554199219 -1984.814086914063 -29.87800979614258 -1982.343139648438 -30.40088272094727 L -1981.632690429688 -28.31075286865234 C -1982.436157226563 -28.09434509277344 -1983.671508789063 -27.91020202636719 -1985.339233398438 -27.72605514526367 L -1985.339233398438 -24.98939514160156 L -1981.880004882813 -24.98939514160156 L -1983.301635742188 -22.83743667602539 L -1985.339233398438 -22.83743667602539 L -1985.339233398438 -22.40731430053711 C -1983.733764648438 -20.93145751953125 -1982.313110351563 -19.39376449584961 -1981.046752929688 -17.85607528686523 L -1983.671508789063 -16.68802261352539 C -1984.227905273438 -17.39503860473633 -1984.784301757813 -18.13296890258789 -1985.339233398438 -18.83998107910156 L -1985.339233398438 -11.12196350097656 L -1988.304321289063 -11.12196350097656 Z M -2092.9189453125 -11.21470642089844 L -2092.9189453125 -13.36666679382324 L -2080.501953125 -13.36666679382324 L -2080.501953125 -18.00930786132813 L -2090.046875 -18.00930786132813 L -2090.046875 -20.1626091003418 L -2080.501953125 -20.1626091003418 L -2080.501953125 -24.59018707275391 L -2087.544921875 -24.59018707275391 C -2088.65625 -23.20573043823242 -2089.9228515625 -21.97584533691406 -2091.3740234375 -20.93145751953125 L -2094 -22.34548187255859 C -2092.548828125 -23.32938766479492 -2091.3740234375 -24.40469741821289 -2090.4169921875 -25.57409286499023 C -2089.70654296875 -26.55799865722656 -2089.05859375 -28.00294494628906 -2088.501953125 -29.87800979614258 L -2085.4140625 -29.47880554199219 C -2085.568359375 -28.46398544311523 -2085.8759765625 -27.57282257080078 -2086.37158203125 -26.74214553833008 L -2080.501953125 -26.74214553833008 L -2080.501953125 -29.87800979614258 L -2077.2900390625 -29.87800979614258 L -2077.2900390625 -26.74214553833008 L -2067.15869140625 -26.74214553833008 L -2068.54931640625 -24.59018707275391 L -2077.2900390625 -24.59018707275391 L -2077.2900390625 -20.1626091003418 L -2067.9931640625 -20.1626091003418 L -2069.5693359375 -18.00930786132813 L -2077.2900390625 -18.00930786132813 L -2077.2900390625 -13.36666679382324 L -2065.9853515625 -13.36666679382324 L -2067.43701171875 -11.21470642089844 L -2092.9189453125 -11.21470642089844 Z M -1982.838500976563 -11.27653884887695 L -1982.838500976563 -13.3975830078125 L -1980.830688476563 -13.3975830078125 L -1980.830688476563 -23.02158355712891 C -1980.830688476563 -27.01903915405273 -1977.525268554688 -30.278564453125 -1973.509643554688 -30.278564453125 C -1969.495239257813 -30.278564453125 -1966.221069335938 -27.01903915405273 -1966.221069335938 -23.02158355712891 L -1966.221069335938 -13.3975830078125 L -1965.047485351563 -13.3975830078125 L -1966.283081054688 -11.27653884887695 L -1982.838500976563 -11.27653884887695 Z M -1969.371215820313 -13.3975830078125 L -1969.371215820313 -16.71893692016602 L -1977.679321289063 -16.71893692016602 L -1977.679321289063 -13.3975830078125 L -1969.371215820313 -13.3975830078125 Z M -1969.371215820313 -18.83998107910156 L -1969.371215820313 -21.42340850830078 C -1969.371215820313 -21.61995315551758 -1969.373901367188 -21.81466674804688 -1969.379516601563 -22.00676345825195 L -1977.670532226563 -22.00676345825195 C -1977.676391601563 -21.81466674804688 -1977.679321289063 -21.61995315551758 -1977.679321289063 -21.42340850830078 L -1977.679321289063 -18.83998107910156 L -1969.371215820313 -18.83998107910156 Z M -1969.602172851563 -24.09823608398438 C -1970.022827148438 -26.12828063964844 -1971.103881835938 -27.54190826416016 -1973.509643554688 -27.54190826416016 C -1975.916625976563 -27.54190826416016 -1977.012817382813 -26.12828063964844 -1977.442260742188 -24.09823608398438 L -1969.602172851563 -24.09823608398438 Z M -2044.118286132813 -20.00803375244141 L -2044.118286132813 -22.40731430053711 L -2052.42626953125 -22.40731430053711 L -2052.54931640625 -22.40731430053711 L -2052.54931640625 -24.59018707275391 L -2052.42626953125 -24.59018707275391 L -2044.118286132813 -24.59018707275391 L -2044.118286132813 -27.14135360717773 C -2046.896850585938 -27.11043930053711 -2049.2451171875 -27.07952499389648 -2051.15966796875 -27.07952499389648 L -2051.5 -29.14008331298828 C -2048.7197265625 -29.14008331298828 -2045.538696289063 -29.26374435424805 -2041.986206054688 -29.47880554199219 C -2038.248657226563 -29.63203430175781 -2035.499389648438 -29.84709930419922 -2033.740112304688 -30.06215667724609 L -2033.275756835938 -27.97203063964844 C -2034.789184570313 -27.7569694519043 -2037.137329101563 -27.54190826416016 -2040.318481445313 -27.32684707641602 L -2041.028686523438 -27.32684707641602 L -2041.028686523438 -24.59018707275391 L -2032.442504882813 -24.59018707275391 L -2033.987426757813 -22.40731430053711 L -2041.028686523438 -22.40731430053711 L -2041.028686523438 -20.00803375244141 L -2044.118286132813 -20.00803375244141 Z M -2059.71484375 -22.83743667602539 L -2057.92431640625 -24.65067291259766 C -2056.3173828125 -24.09823608398438 -2054.556640625 -23.23664474487305 -2052.54931640625 -22.0685920715332 L -2054.3408203125 -20.34675598144531 C -2056.4111328125 -21.51480865478516 -2058.20263671875 -22.34548187255859 -2059.71484375 -22.83743667602539 Z M -2059.59228515625 -28.06477355957031 L -2057.80029296875 -29.81618118286133 C -2056.16357421875 -29.20191192626953 -2054.3720703125 -28.27983856201172 -2052.42626953125 -26.98812484741211 L -2052.3037109375 -26.89537811279297 L -2052.42626953125 -26.80397415161133 L -2054.2177734375 -25.23537445068359 C -2056.3798828125 -26.55799865722656 -2058.140625 -27.51099014282227 -2059.59228515625 -28.06477355957031 Z">
					</path>
				</svg>
			</div>
		</div>
    </div>

    <header class="minbar2 col-sm-4 r">
                <nav class="main_menu2 not_select">

      <div class="content_width">



        <nav class="menu">


          <div class="menu_right" style="display: block;">


            <a href="https://www.okrent.house/Register" class="border">註冊</a>
            <a class="noborder" href="https://www.okrent.house/login">登入</a>
            <a class="noborder" class="icon_block share_txt not_select"><svg class="svg-inline--fa fa-share-alt fa-w-14 not_select" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="share-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M352 320c-22.608 0-43.387 7.819-59.79 20.895l-102.486-64.054a96.551 96.551 0 0 0 0-41.683l102.486-64.054C308.613 184.181 329.392 192 352 192c53.019 0 96-42.981 96-96S405.019 0 352 0s-96 42.981-96 96c0 7.158.79 14.13 2.276 20.841L155.79 180.895C139.387 167.819 118.608 160 96 160c-53.019 0-96 42.981-96 96s42.981 96 96 96c22.608 0 43.387-7.819 59.79-20.895l102.486 64.054A96.301 96.301 0 0 0 256 416c0 53.019 42.981 96 96 96s96-42.981 96-96-42.981-96-96-96z"></path></svg><!-- <i class="fas fa-share-alt"></i> Font Awesome fontawesome.com --></a>
            <a class="no_border not_select" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="hb_line" class="hb_line not_select" x="0px" y="0px" width="117px" height="117px" viewBox="0 0 117 117" enable-background="new 0 0 117 117" xml:space="preserve">
<g>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#522686" d="M6.17,19.312h104.659c2.536,0,4.612,2.074,4.612,4.84l0,0   c0,2.767-2.076,4.842-4.612,4.842H6.17c-2.536,0-4.61-2.075-4.61-4.842l0,0C1.56,21.386,3.634,19.312,6.17,19.312z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#522686" d="M6.17,87.777h104.659c2.536,0,4.612,2.306,4.612,4.842l0,0   c0,2.766-2.076,5.071-4.612,5.071H6.17c-2.536,0-4.61-2.306-4.61-5.071l0,0C1.56,90.083,3.634,87.777,6.17,87.777z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" fill="#522686" d="M6.17,53.428h104.659c2.536,0,4.612,2.306,4.612,5.072l0,0   c0,2.536-2.076,4.842-4.612,4.842H6.17c-2.536,0-4.61-2.306-4.61-4.842l0,0C1.56,55.734,3.634,53.428,6.17,53.428z"/>
</g>
<g>
	<defs>
		<path id="SVGID_51_" d="M-1154.24,25.184h558.504c11.808,0,21.456,9.648,21.456,21.528l0,0c0,11.808-9.648,21.456-21.456,21.456    h-558.504c-11.88,0-21.528-9.648-21.528-21.456l0,0C-1175.768,34.832-1166.12,25.184-1154.24,25.184z"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_51_" overflow="visible"/>
	</clipPath>
</g>
<g>
	<defs>
		<rect id="SVGID_81_" x="-1212.92" y="3445.472" width="174.384" height="27"/>
	</defs>
	<clipPath id="SVGID_4_">
		<use xlink:href="#SVGID_81_" overflow="visible"/>
	</clipPath>
</g>
<g>
	<defs>
		<rect id="SVGID_105_" x="-941.336" y="3445.472" width="173.952" height="27"/>
	</defs>
	<clipPath id="SVGID_6_">
		<use xlink:href="#SVGID_105_" overflow="visible"/>
	</clipPath>
</g>
<g>
	<defs>
		<rect id="SVGID_129_" x="-669.248" y="3445.472" width="174.024" height="27"/>
	</defs>
	<clipPath id="SVGID_8_">
		<use xlink:href="#SVGID_129_" overflow="visible"/>
	</clipPath>
</g>
<g>
	<defs>
		<rect id="SVGID_155_" x="-397.232" y="3445.472" width="173.952" height="27"/>
	</defs>
	<clipPath id="SVGID_10_">
		<use xlink:href="#SVGID_155_" overflow="visible"/>
	</clipPath>
</g>
<g>
	<defs>
		<rect id="SVGID_183_" x="-1484.936" y="3445.472" width="174.024" height="27"/>
	</defs>
	<clipPath id="SVGID_12_">
		<use xlink:href="#SVGID_183_" overflow="visible"/>
	</clipPath>
</g>
<image display="none" overflow="visible" width="117" height="117" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHUAAAB1CAYAAABwBK68AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAchJREFUeNrs3eFNwkAYBuDqBIzACGygTKBsABOoIzgBbEA3gA2ECcQJ 7AiM4F2sptJr/Kd85HmSpkn597253rXh61UVAAAAAAAAAAAAAAB/7qp0cV3Xo3SaKM/ZaxbzefNr qCnQZTo9qlcYq3Q8p3CPXxeuBRpezmtdHKkp0HE6vatRWNM0WnenI/VeXUK7K91+R+oS2qQ4pxJ7 JVwK9aAuob31Qk2T7FawYeXHmXro9rvoDmPCBDrtPqeWXj6M2pXwWL1ijNBuoAAAAAAAAAAAAABc pKFO8txsowvu/B3azorhUNs/cm/ScatecYJNxyKF+90yc9p2IdB48l11sJM8//iqRmHl0VqfjlRz aGw3Q7df4hqXQtU5FX/B1At1py6h7YceaTbm1pB2aZE0HZpTcyf5Vo1iBZqOWfGR5mTEeqMUw7b7 0gEAAAAAAAAAAACAi1XaQWqcTg+VPckjaKrPraubwVDbP3G/VPZSjWbW/UxAqZNcoPGs2087/Aw1 XbRpX1w50HlppJpDY9NJfqGjtRdqoy6h7Uuh5tWTTwTEVfdCbXfLfVKbkFbdZ9XSy4e8Cl5aCYdw bF8+rJQCAAAAAADgv30IMAA8L2iFTX/P8QAAAABJRU5ErkJggg==">
</image>
</svg></a>


          </div>

          </nav>

      </div>

    </nav>

    		</header>
    </div>
</form>
<div class="col-sm-12 row3">

  <header class="minbar_3">
                <!-- <nav class="main_menu">

      <ul class="menu_left"><li><a href="/list" class="">吉屋快搜</a><ul class="dropdown-menu" role="menu" style="display: none;"><li><a href="/list" class="">條件搜尋</a></li><li><a href="/HouseMap" class="">地圖搜尋</a></li></ul></li><li><a href="/tenant" class="">樂租服務</a><ul class="dropdown-menu" role="menu" style="display: none;"><li><a href="/tenant" class="">租客</a></li><li><a href="/landlord" class="">房東</a></li></ul></li><li><a href="/tax_benefit" class="">租事順利</a><ul class="dropdown-menu" role="menu" style="display: none;"><li><a href="/tax_benefit" class="">租事順利</a></li><li><a href="/authenticate_main" class="">信用認證</a></li><li><a href="/credit_card_main" class="">履約保證</a></li><li><a href="/rent_insurance_main" class="">安心保險</a></li><li><a href="/deposit_storage_main" class="">租管服務</a></li><li><a href="/smart_lock" class="">智能門鎖</a></li><li><a href="/house_check_main" class="">健康好宅</a></li><li><a href="/fix_adept_main" class="">裝修達人</a></li><li><a href="/agents_misson_main" class="">好幫手</a></li><li><a href="/rent_lend_main" class="">共享圈</a></li></ul></li><li><a href="/geely_for_rent" class="">新聞資訊</a><ul class="dropdown-menu" role="menu" style="display: none;"><li><a href="/geely_for_rent?id_type=1" class="">資訊</a></li><li><a href="/geely_for_rent?id_type=3" class="">新聞</a></li><li><a href="/geely_for_rent?id_type=4" class="">政策法令</a></li><li><a href="/geely_for_rent?id_type=2" class="">租法觀點</a></li><li><a href="/geely_for_rent?id_type=5" class="">租賃稅費</a></li><li><a href="/geely_for_rent?id_type=6" class="">趨勢</a></li><li><a href="/geely_for_rent?id_type=7" class="">爆料租舍</a></li></ul></li><li><a href="/in_life_index" class="">in生活</a><ul class="dropdown-menu" role="menu" style="display: none;"><li><a href="/in_life" class="">活動分享</a></li><li><a href="/WealthSharing" class="">創富分享</a></li><li><a href="/Store" class="">生活好康</a></li><li><a href="https://www.lifegroup.house/LifeGo" class="">生活樂購</a></li></ul></li><li><a href="/JoinLife" class="">加入生活</a><ul class="dropdown-menu" role="menu"><li><a href="/ExpertAdvisor" class="">生活家族</a></li><li><a href="/Joinrenthouse" class="">菁英招募</a></li><li><a href="#" class="">加盟樂租</a></li></ul></li><li><a href="/about" class="">關於生活</a></li>


        </ul>

    </nav> -->


    <nav class="main_menu">




        <nav class="main_menu">




          <ul class="menu_left">{foreach from=$main_menu key=i item=v}<li {if $v.color} class="nav_active_color" {/if}><a href="{$v.href}" class="{if $v.active}active{/if}">{$v.text}</a>{if count($v.submenu)}<ul class="dropdown-menu" role="menu"><svg class="_350" viewBox="0 0 15 15">
					<path id="_350" d="M 0 0 L 15 1.165734175856414e-14 L 1.165734175856414e-14 15 L 0 0 Z">
					</path>
				</svg>{foreach
                from=$v.submenu key=j item=w}<li {* {if $w.color} class="nav_active_color" {/if} *}><a href="{$w.href}" class="{if $w.active}active{/if} {$w.class}">{$w.text}</a></li>{/foreach}</ul>{/if}</li>{/foreach}



        </nav>


    </nav>


    		</header>





</div>
<script>
    arr_city = {$arr_city|json_encode:1};
    {$add_js}
</script>
