:root {
	--main_color1: #532789;
	--main_color2: #fff100;
	--text_normal_color: #555;
	--text_dark_color: #222;
	--text_light_color: #aaa;
}

hr{
    border-top: 1px solid #ccc;
}

.store_name {
	margin: 0px 0px 20px;
}

.store_name .title {
    color: #555;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
	display: inline-block;
}

.store_name i{
    width: 1px;
    height: 25px;
	margin: 0px 15px 0px;	
    background: #888;
	display: inline-block;	
}

.store_name .category{
	color: #555;
	font-size: 1.1em;
	display: inline-block;
}


.special_store_main_wrap{
	padding: 0px 70px 0px 0px;
}

.special_store_main_wrap .img_frame{
    border-radius: 0px 15px;
    overflow: hidden;
    display: inline-block;
}

.special_store_main_wrap .store_content{
    padding: 15px 0px;
}

.special_store_main_wrap .store_content .store_info{
	color: var(--main_color1);
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 1px;
}

.special_store_main_wrap .store_content .store_info img{
	width: 30px;
	margin-bottom: 8px;	
}

.special_store_main_wrap .store_content > div {
    position: relative;
	min-height: unset;
    font-size: 1em;
	line-height: 2em;
	display: table;
	margin: 0px 0px 10px 0px;	
}

.special_store_main_wrap .store_content .list{
	min-height: unset;
    line-height: 1em;
    text-align: left;
	
}

.special_store_main_wrap .store_content .list .content{
    display: table-cell;
	padding: 0px;
	font-size: 1.1em;
	line-height: 1.5em;
	letter-spacing: 1px;
} 

.special_store_main_wrap .store_content label {
    font-size: 1em;
    width: 8em;
    text-align: right;
    padding: 0px 10px 0px;
	display: table-cell;
    position: relative;	
	line-height: 50px;	
}

.special_store_main_wrap .store_content label i{
    width: 1px;
    height: 19px;
    margin: 0px 10px 3px;
    background: #aaa;
    vertical-align: middle;
    display: inline-block;
}

.special_store_main_wrap .store_content label img.icon {
    width: 1.5em;
    position: absolute;
	top: 8px;
    left: 0px;
    line-height: 1em;
}

.special_store_main_wrap .store_content .popularity .div_popularity, .special_store_main_wrap .store_content .give_star{
    display: table-cell;
	padding: 0px 10px;
}

.special_store_main_wrap .store_content .popularity .div_popularity img, .special_store_main_wrap .store_content .give_star img{
    display: inline-block;
    width: 2em;
    vertical-align: middle;
	margin: 0px 5px 0px;
}

.special_store_main_wrap .main_img{
	margin: 100px auto 100px;
}

.special_store_main_wrap .introduction_wrap{
	text-align: center;
}

.special_store_main_wrap .introduction_wrap .caption{
	color: var(--main_color1);
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 1px;
	margin-bottom: 30px;	
}

.special_store_main_wrap .introduction_wrap .list{
    font-size: 1.1em;
    font-weight: unset;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.special_store_main_wrap .introduction_wrap .text{
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing: 1px;
	margin-bottom: 100px;
}

.special_store_main_wrap .introduction_wrap .text i{
    width: 1px;
    height: 19px;
    margin: 0px 10px 3px;
    background: #aaa;
    vertical-align: middle;
    display: inline-block;
}




















