<div class="share">
	<div><img src="{$THEME_URL}/img/icon/fb.svg"> 分享</div>
	<div><img src="{$THEME_URL}/img/icon/line.svg"> 分享</div>
	<div><img src="{$THEME_URL}/img/icon/computer.svg"> 寄給朋友</div>
	<div><img src="{$THEME_URL}/img/icon/printer.svg"> 列印</div>
	<div><img src="{$THEME_URL}/img/icon/heart_m.svg"> 收藏</div>
</div>