<table class="menu_buoy_main">

  <tr>
  <td class="c_1">
    <!-- <img src="/themes/App/mobile/img/managepage/top_banner.jpg"> -->
  </td>
  </tr>
  <tr>
  <td class="c_2">
    {include file="$tpl_dir./mobile/menu_buoy.tpl"}
  </td>
</tr>
<tr>
  <td class="c_3 icons">
    <ul>
      {for $j=1;$j<3;$j++}
    <li><div class=""><img class=""="icon icon_{$j}" src="/themes/App/mobile/img/handled/00{$j}.svg"></div></li>
    {if $j%2!=0}
    <li class="bottoms">
      <div class="modalcontainer1" value="租客"><a href="#modal-container1" role="button" data-toggle="modal">租客留言</a>
      </div>
    </li>
    <li><hr style="    border: 1px solid #B2B2B2;    width: 90%;    margin: auto;    height: 1px;"></li>{/if}
    {if $j%2==0}
    <li class="bottoms">
      <div class="modalcontainer1" value="房東"><a href="#modal-container1" role="button" data-toggle="modal">房東留言</a>
      </div>
    </li>
    {/if}
      {/for}

    </ul>
    </td>
</tr>
</table>

<div class="form1bk" style="display: none;">
<div class="form1" id="modal-container1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
  <div class="form_item" style="margin-bottom: 15px;">敬愛的<label class="form1v" style="display: inline;"></label>來賓您好<br><span style="font-size:9pt">請留下您的聯繫方式，我們將盡快派員跟您聯繫<span></div>
<div class="form_item"><span class="title">姓名</span><input type="radio" name="sex_1" value="0" >小姐<input type="radio" name="sex_2" value="0" >先生<input class="inp" type="text" placeholder="name"></div>
<div class="form_item"></div>
<div class="form_item"><span class="title">手機</span><input class="inp" type="text" placeholder="0912345678"></div>

<div class="form_item"><span class="title">電郵</span><input class="inp" type="text" placeholder="eMail"></div>
<div class="form_item"><span class="title">市話</span><input class="inp" type="text" placeholder="02-12345678"></div>
<div class="form_item"><span class="title">方便聯絡時間</span><br><input name="contact_time_1" type="radio" value="0">早上<input name="contact_time_1" type="radio" value="0">下午 <input name="contact_time_1" type="radio" value="0">晚上<input name="contact_time_1" type="radio" value="0">其他</div>
<p>&nbsp</p>
<div class="form_item"><span class="title">留言</span></div>
<div class="form_item"><textarea class="form-control" aria-label="With textarea" id="message" name="message" placeholder="( 限100個字內 )"></textarea></div>
<div class="form_item"><input type="checkbox" name="agree" value="1"><span class="bank_txt">我已閲讀並同意生活樂租的【服務條款】與【隱私權聲明】及會員同意條款</span></div>
<div class="SMS submit"> 發送驗證碼 </div><input class="inp" type="text" placeholder="請輸入手機驗證碼">
<div class="submit"> 送出 </div>
</div>
</div>

<!-- 搜尋ber END-->
