.mediaViewInfo {
  --web-view-name: 生活好科技>清淨滅菌;
  --web-view-id: ;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: ;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
# {
  position: absolute;
  width: 1280px;
  height: 7472px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: 生活好科技>清淨滅菌;
  --web-view-id: ;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Group_1343 {
  position: absolute;
  width: 1280px;
  height: 996px;
  left: 0px;
  top: 3430px;
  overflow: visible;
}
#Rectangle_1894_ {
  opacity: 0.86;
  fill: url(#Rectangle_1894_);
}
.Rectangle_1894_ {
  position: absolute;
  overflow: visible;
  width: 1280px;
  height: 908px;
  left: 0px;
  top: 0px;
}
#fan2 {
  position: absolute;
  width: 804px;
  height: 744px;
  left: 166px;
  top: 252px;
  overflow: visible;
}
#ID2 {
  position: absolute;
  width: 1280px;
  height: 320px;
  left: 0px;
  top: 627px;
  overflow: visible;
}
#Group_654 {
  position: absolute;
  width: 237.043px;
  height: 147.992px;
  left: 990.043px;
  top: 659.797px;
  overflow: visible;
}
#Group_21 {
  position: absolute;
  width: 235.532px;
  height: 147.992px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_20 {
  position: absolute;
  width: 235.532px;
  height: 147.992px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#_ba {
  transform: translate(0px, 0px) matrix(1,0,0,1,40.0027,8.1173) rotate(-27.904deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 36px;
  white-space: nowrap;
  line-height: 42px;
  margin-top: -3.5px;
  text-align: left;
  font-family: RodinProN-DB-90ms-RKSJ-H;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(162,202,210,1);
}
#Group_23 {
  position: absolute;
  width: 235.532px;
  height: 147.992px;
  left: 1.512px;
  top: 0px;
  overflow: visible;
}
#Mask_Group_3 {
  position: absolute;
  width: 235.532px;
  height: 147.992px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#_bd {
  transform: translate(0px, 0px) matrix(1,0,0,1,172.4879,11.8173) rotate(32.277deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 36px;
  white-space: nowrap;
  line-height: 42px;
  margin-top: -3.5px;
  text-align: left;
  font-family: RodinProN-DB-90ms-RKSJ-H;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(162,202,210,1);
}
#Rectangle_911_bf {
  opacity: 0.64;
  fill: url(#Rectangle_911_bf);
}
.Rectangle_911_bf {
  position: absolute;
  overflow: visible;
  width: 1282px;
  height: 787px;
  left: -2px;
  top: 1714px;
}
#ID169 {
  position: absolute;
  width: 1280px;
  height: 722px;
  left: 0px;
  top: 76px;
  overflow: visible;
}
#ID169_bh {
  position: absolute;
  width: 1280px;
  height: 722px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_1890 {
  fill: rgba(246,246,246,1);
}
.Rectangle_1890 {
  position: absolute;
  overflow: visible;
  width: 1282px;
  height: 628px;
  left: -2px;
  top: 2050px;
}
#Path_20815 {
  fill: rgba(246,246,246,1);
}
.Path_20815 {
  overflow: visible;
  position: absolute;
  width: 1282px;
  height: 1px;
  left: -2px;
  top: 5352px;
  transform: matrix(1,0,0,1,0,0);
}
#P2 {
  position: absolute;
  width: 1280px;
  height: 1294px;
  left: 0px;
  top: 868px;
  overflow: visible;
}
#Group_8 {
  opacity: 0.93;
  position: absolute;
  width: 125px;
  height: 125px;
  left: 348px;
  top: 147px;
  overflow: visible;
}
#Ellipse_2_bn {
  opacity: 0.89;
  fill: url(#Ellipse_2_bn);
}
.Ellipse_2_bn {
  position: absolute;
  overflow: visible;
  width: 125px;
  height: 125px;
  left: 0px;
  top: 0px;
}
#_bo {
  left: 27px;
  top: 46px;
  position: absolute;
  overflow: visible;
  width: 73px;
  white-space: nowrap;
  text-align: center;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(255,255,255,1);
}
#Group_366 {
  opacity: 0.92;
  position: absolute;
  width: 174px;
  height: 173px;
  left: 596px;
  top: 587px;
  overflow: visible;
}
#Ellipse_2_br {
  opacity: 0.89;
  fill: url(#Ellipse_2_br);
}
.Ellipse_2_br {
  position: absolute;
  overflow: visible;
  width: 174px;
  height: 173px;
  left: 0px;
  top: 0px;
}
#_ {
  left: 21px;
  top: 35px;
  position: absolute;
  overflow: visible;
  width: 137px;
  white-space: nowrap;
  text-align: center;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  color: rgba(255,255,255,1);
}
#Group_368 {
  position: absolute;
  width: 136px;
  height: 136px;
  left: 719px;
  top: 168px;
  overflow: visible;
}
#Ellipse_2_bv {
  opacity: 0.89;
  fill: url(#Ellipse_2_bv);
}
.Ellipse_2_bv {
  position: absolute;
  overflow: visible;
  width: 136px;
  height: 136px;
  left: 0px;
  top: 0px;
}
#__bw {
  left: 44px;
  top: 31px;
  position: absolute;
  overflow: visible;
  width: 53px;
  white-space: nowrap;
  text-align: center;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: rgba(255,255,255,1);
}
#Group_369 {
  position: absolute;
  width: 136px;
  height: 136px;
  left: 280px;
  top: 398px;
  overflow: visible;
}
#Ellipse_2_bz {
  opacity: 0.89;
  fill: url(#Ellipse_2_bz);
}
.Ellipse_2_bz {
  position: absolute;
  overflow: visible;
  width: 136px;
  height: 136px;
  left: 0px;
  top: 0px;
}
#__b {
  left: 43px;
  top: 32px;
  position: absolute;
  overflow: visible;
  width: 53px;
  white-space: nowrap;
  text-align: center;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: rgba(255,255,255,1);
}
#Group_367 {
  opacity: 0.91;
  position: absolute;
  width: 175px;
  height: 174px;
  left: 538px;
  top: 351px;
  overflow: visible;
}
#Ellipse_2_ca {
  opacity: 0.89;
  fill: url(#Ellipse_2_ca);
}
.Ellipse_2_ca {
  position: absolute;
  overflow: visible;
  width: 175px;
  height: 174px;
  left: 0px;
  top: 0px;
}
#ID999_ {
  left: 30px;
  top: 42px;
  position: absolute;
  overflow: visible;
  width: 117px;
  white-space: nowrap;
  text-align: center;
  font-family: Tahoma;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  color: rgba(255,255,255,1);
}
#Path_811 {
  fill: rgba(243,250,255,1);
}
.Path_811 {
  overflow: visible;
  position: absolute;
  width: 1280.849px;
  height: 1761.576px;
  left: 0.151px;
  top: 5429px;
  transform: matrix(1,0,0,1,0,0);
}
#_b {
  left: 578px;
  top: 5512px;
  position: absolute;
  overflow: visible;
  width: 121px;
  white-space: nowrap;
  line-height: 62px;
  margin-top: -11px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: rgba(64,72,31,1);
}
#_ca {
  left: 558px;
  top: 6180px;
  position: absolute;
  overflow: visible;
  width: 161px;
  white-space: nowrap;
  line-height: 62px;
  margin-top: -11px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: rgba(64,72,31,1);
}
#_cb {
  position: absolute;
  width: 195px;
  height: 203px;
  left: 543px;
  top: 1484px;
  overflow: visible;
}
#Group_440 {
  position: absolute;
  width: 420px;
  height: 230px;
  left: 428px;
  top: 1735px;
  overflow: visible;
}
#_999 {
  left: 50px;
  top: 167px;
  position: absolute;
  overflow: visible;
  width: 335px;
  white-space: nowrap;
  line-height: 60px;
  margin-top: -12.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: rgba(255,0,0,1);
}
#______ {
  left: 0px;
  top: 94px;
  position: absolute;
  overflow: visible;
  width: 421px;
  white-space: nowrap;
  line-height: 68px;
  margin-top: -14px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: rgba(115,136,29,1);
}
#_cc {
  left: 24px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 393px;
  white-space: nowrap;
  line-height: 58px;
  margin-top: -1px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  color: rgba(64,72,31,1);
}
#Group_616 {
  position: absolute;
  width: 1121px;
  height: 633px;
  left: 78px;
  top: 6295px;
  overflow: visible;
}
#Group_444 {
  position: absolute;
  width: 1121px;
  height: 633px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#video {
  position: absolute;
  width: 1121px;
  height: 524px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#ID0 {
  position: absolute;
  width: 145px;
  height: 90px;
  left: 0px;
  top: 543px;
  overflow: visible;
}
#ID1012-1 {
  position: absolute;
  width: 144px;
  height: 90px;
  left: 196px;
  top: 543px;
  overflow: visible;
}
#ID0_ci {
  position: absolute;
  width: 144px;
  height: 90px;
  left: 390px;
  top: 543px;
  overflow: visible;
}
#ID1012-1_cj {
  position: absolute;
  width: 145px;
  height: 90px;
  left: 585px;
  top: 543px;
  overflow: visible;
}
#ID1012-2 {
  position: absolute;
  width: 145px;
  height: 90px;
  left: 780px;
  top: 543px;
  overflow: visible;
}
#ID1012-1_cl {
  position: absolute;
  width: 145px;
  height: 90px;
  left: 976px;
  top: 543px;
  overflow: visible;
}
#Group_446 {
  position: absolute;
  width: 233px;
  height: 234px;
  left: 444px;
  top: 146px;
  overflow: visible;
}
#Polygon_1 {
  fill: rgba(255,255,255,1);
}
.Polygon_1 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  overflow: visible;
  position: absolute;
  width: 112.341px;
  height: 93.239px;
  transform: translate(-541px, -1919px) matrix(1,0,0,1,616.2066,1994.7814) rotate(90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Ellipse_8 {
  opacity: 0.463;
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_8 {
  position: absolute;
  overflow: visible;
  width: 233px;
  height: 234px;
  left: 0px;
  top: 0px;
}
#_________ {
  left: 521px;
  top: 6248px;
  position: absolute;
  overflow: visible;
  width: 260px;
  height: 36px;
  line-height: 24px;
  margin-top: -5px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(64,72,31,1);
}
#Group_653 {
  position: absolute;
  width: 1166.5px;
  height: 486.898px;
  left: 55px;
  top: 5616.102px;
  overflow: visible;
}
#Path_877 {
  fill: rgba(212,236,245,1);
}
.Path_877 {
  overflow: visible;
  position: absolute;
  width: 1166.5px;
  height: 482.681px;
  left: 0px;
  top: 4.217px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_652 {
  position: absolute;
  width: 1166.5px;
  height: 486.898px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_651 {
  position: absolute;
  width: 1166.5px;
  height: 486.898px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#ID9999_ {
  left: 487.073px;
  top: 386.69px;
  position: absolute;
  overflow: visible;
  width: 185px;
  white-space: nowrap;
  line-height: 73px;
  margin-top: -6px;
  text-align: left;
  font-family: ArialNarrow-Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 61px;
  color: rgba(220,0,12,1);
}
#_cv {
  left: 16.334px;
  top: 169.313px;
  position: absolute;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -1.5px;
  text-align: left;
  font-family: MS-UIGothic;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(26,19,17,1);
}
#_cw {
  left: 16.334px;
  top: 286.247px;
  position: absolute;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -1.5px;
  text-align: left;
  font-family: MS-UIGothic;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(26,19,17,1);
}
#Group_1295 {
  position: absolute;
  width: 1166.5px;
  height: 698.938px;
  left: 57px;
  top: 4616.4px;
  overflow: visible;
}
#Group_661 {
  position: absolute;
  width: 1166.5px;
  height: 698.938px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#_cz {
  left: 560px;
  top: 2748px;
  position: absolute;
  overflow: visible;
  width: 161px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: rgba(64,72,31,1);
}
#asset_2 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 139px;
  top: 2847px;
  overflow: visible;
}
#asset_4 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 396px;
  top: 2847px;
  overflow: visible;
}
#asset_3 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 653px;
  top: 2847px;
  overflow: visible;
}
#asset_8 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 910px;
  top: 2847px;
  overflow: visible;
}
#Group_1325 {
  position: absolute;
  width: 871px;
  height: 27.001px;
  left: 215px;
  top: 3088px;
  overflow: visible;
}
#_c {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.49));
  left: 0px;
  top: 0.001px;
  position: absolute;
  overflow: visible;
  width: 81px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(64,72,31,1);
}
#_da {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.49));
  left: 257px;
  top: 0.001px;
  position: absolute;
  overflow: visible;
  width: 81px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(64,72,31,1);
}
#_db {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.451));
  left: 514px;
  top: 0.001px;
  position: absolute;
  overflow: visible;
  width: 81px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(64,72,31,1);
}
#_dc {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.549));
  left: 751px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 121px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(64,72,31,1);
}
#Group_1329 {
  position: absolute;
  width: 778px;
  height: 280px;
  left: 233px;
  top: 3216px;
  overflow: visible;
}
#asset_1 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 273px;
  top: 0px;
  overflow: visible;
}
#asset_9 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#asset_6 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 546px;
  top: 0px;
  overflow: visible;
}
#Group_1326 {
  position: absolute;
  width: 609px;
  height: 27px;
  left: 93px;
  top: 253px;
  overflow: visible;
}
#_de {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.439));
  left: 266px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(64,72,31,1);
}
#__df {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 47px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(64,72,31,1);
}
#_dg {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.439));
  left: 529px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 81px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -2px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(64,72,31,1);
}
#Group_1328 {
  position: absolute;
  width: 1003px;
  height: 295px;
  left: 139px;
  top: 3570px;
  overflow: visible;
}
#Ellipse_30 {
  fill: transparent;
}
.Ellipse_30 {
  position: absolute;
  overflow: visible;
  width: 216px;
  height: 215px;
  left: 88px;
  top: 0px;
}
#Ellipse_31 {
  fill: transparent;
}
.Ellipse_31 {
  position: absolute;
  overflow: visible;
  width: 215px;
  height: 215px;
  left: 675px;
  top: 13px;
}
#asset_13 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 0px;
  top: 28px;
  overflow: visible;
}
#asset_12 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 269px;
  top: 28px;
  overflow: visible;
}
#asset_11 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 771px;
  top: 28px;
  overflow: visible;
}
#asset_10 {
  position: absolute;
  width: 232px;
  height: 232px;
  left: 519px;
  top: 28px;
  overflow: visible;
}
#Group_1327 {
  position: absolute;
  width: 821px;
  height: 27px;
  left: 96px;
  top: 268px;
  overflow: visible;
}
#_dp {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.49));
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(64,72,31,1);
}
#_dq {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
  left: 269px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(64,72,31,1);
}
#_dr {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.51));
  left: 761px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(64,72,31,1);
}
#_ds {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
  left: 519px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(64,72,31,1);
}
#_dt {
  left: 223px;
  top: 955px;
  position: absolute;
  overflow: visible;
  width: 848px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: rgba(255,255,255,1);
  letter-spacing: 0.2px;
}
#Group_1322 {
  position: absolute;
  width: 174px;
  height: 173px;
  left: 879px;
  top: 340px;
  overflow: visible;
}
#Ellipse_38_dw {
  opacity: 0.89;
  fill: url(#Ellipse_38_dw);
}
.Ellipse_38_dw {
  position: absolute;
  overflow: visible;
  width: 174px;
  height: 173px;
  left: 0px;
  top: 0px;
}
#Group_365 {
  position: absolute;
  width: 95.466px;
  height: 100.493px;
  left: 39px;
  top: 36px;
  overflow: visible;
}
#Group_364 {
  position: absolute;
  width: 70.872px;
  height: 65.836px;
  left: 12.262px;
  top: 0px;
  overflow: visible;
}
#Group_5 {
  position: absolute;
  width: 70.872px;
  height: 65.836px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_2 {
  position: absolute;
  width: 70.872px;
  height: 65.836px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_1 {
  position: absolute;
  width: 70.872px;
  height: 65.836px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_2 {
  overflow: visible;
  position: absolute;
  width: 5.177px;
  height: 3.816px;
  left: 36.668px;
  top: 1.374px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_3 {
  overflow: visible;
  position: absolute;
  width: 8.808px;
  height: 11.682px;
  left: 26.229px;
  top: 2.131px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_4 {
  overflow: visible;
  position: absolute;
  width: 6.69px;
  height: 6.236px;
  left: 31.676px;
  top: 2.131px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_5 {
  overflow: visible;
  position: absolute;
  width: 27.265px;
  height: 26.812px;
  left: 13.975px;
  top: 3.946px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_6 {
  overflow: visible;
  position: absolute;
  width: 9.564px;
  height: 21.516px;
  left: 33.037px;
  top: 6.367px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_7 {
  overflow: visible;
  position: absolute;
  width: 9.111px;
  height: 5.479px;
  left: 15.488px;
  top: 7.578px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_8 {
  overflow: visible;
  position: absolute;
  width: 3.815px;
  height: 7.295px;
  left: 10.042px;
  top: 8.636px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_9 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_9 {
  overflow: visible;
  position: absolute;
  width: 6.69px;
  height: 3.815px;
  left: 57.546px;
  top: 8.636px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_10 {
  overflow: visible;
  position: absolute;
  width: 6.387px;
  height: 3.361px;
  left: 54.672px;
  top: 10.754px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_11 {
  overflow: visible;
  position: absolute;
  width: 4.27px;
  height: 5.934px;
  left: 12.159px;
  top: 11.511px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_12 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_12 {
  overflow: visible;
  position: absolute;
  width: 28.627px;
  height: 32.863px;
  left: 39.543px;
  top: 12.57px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_13 {
  overflow: visible;
  position: absolute;
  width: 4.421px;
  height: 3.513px;
  left: 23.052px;
  top: 12.872px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_14 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_14 {
  overflow: visible;
  position: absolute;
  width: 5.934px;
  height: 10.624px;
  left: 59.059px;
  top: 14.688px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_15 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_15 {
  overflow: visible;
  position: absolute;
  width: 4.27px;
  height: 4.875px;
  left: 54.974px;
  top: 22.555px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Rectangle_3 {
  position: absolute;
  overflow: visible;
  width: 2.454px;
  height: 2.454px;
  left: 33.037px;
  top: 26.186px;
}
#Path_16 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_16 {
  overflow: visible;
  position: absolute;
  width: 12.438px;
  height: 11.077px;
  left: 58.303px;
  top: 26.186px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_17 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_17 {
  overflow: visible;
  position: absolute;
  width: 21.819px;
  height: 22.878px;
  left: 10.041px;
  top: 26.942px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_18 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_18 {
  overflow: visible;
  position: absolute;
  width: 3.815px;
  height: 4.572px;
  left: 7.469px;
  top: 27.245px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_19 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_19 {
  overflow: visible;
  position: absolute;
  width: 4.269px;
  height: 3.664px;
  left: 16.093px;
  top: 28.456px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_20 {
  overflow: visible;
  position: absolute;
  width: 9.111px;
  height: 5.631px;
  left: 18.362px;
  top: 29.816px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_21 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_21 {
  overflow: visible;
  position: absolute;
  width: 4.875px;
  height: 5.631px;
  left: 8.528px;
  top: 30.12px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_22 {
  overflow: visible;
  position: absolute;
  width: 2.756px;
  height: 2.756px;
  left: 38.483px;
  top: 31.935px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_23 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_23 {
  overflow: visible;
  position: absolute;
  width: 3.06px;
  height: 2.756px;
  left: 25.927px;
  top: 32.994px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_24 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_24 {
  overflow: visible;
  position: absolute;
  width: 5.933px;
  height: 7.748px;
  left: 64.808px;
  top: 33.448px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_25 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_25 {
  overflow: visible;
  position: absolute;
  width: 3.513px;
  height: 2.756px;
  left: 27.288px;
  top: 33.75px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_26 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_26 {
  overflow: visible;
  position: absolute;
  width: 25.45px;
  height: 23.483px;
  left: 27.288px;
  top: 37.079px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_27 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_27 {
  overflow: visible;
  position: absolute;
  width: 4.572px;
  height: 5.631px;
  left: 67.229px;
  top: 39.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_28 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_28 {
  overflow: visible;
  position: absolute;
  width: 5.328px;
  height: 3.665px;
  left: 15.034px;
  top: 47.518px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_29 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_29 {
  overflow: visible;
  position: absolute;
  width: 4.118px;
  height: 5.631px;
  left: 49.982px;
  top: 47.82px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_30 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_30 {
  overflow: visible;
  position: absolute;
  width: 4.117px;
  height: 3.513px;
  left: 40.3px;
  top: 48.879px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_31 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_31 {
  overflow: visible;
  position: absolute;
  width: 4.875px;
  height: 3.059px;
  left: 13.219px;
  top: 49.636px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_32 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_32 {
  overflow: visible;
  position: absolute;
  width: 3.362px;
  height: 6.236px;
  left: 52.554px;
  top: 49.636px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_33 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_33 {
  overflow: visible;
  position: absolute;
  width: 4.118px;
  height: 3.512px;
  left: 44.233px;
  top: 53.569px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_34 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_34 {
  overflow: visible;
  position: absolute;
  width: 6.69px;
  height: 5.934px;
  left: 30.919px;
  top: 56.444px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_4 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Rectangle_4 {
  position: absolute;
  overflow: visible;
  width: 2.454px;
  height: 2.302px;
  left: 16.093px;
  top: 57.2px;
}
#Rectangle_5 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Rectangle_5 {
  position: absolute;
  overflow: visible;
  width: 2.302px;
  height: 2.455px;
  left: 15.79px;
  top: 57.502px;
}
#Rectangle_6 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Rectangle_6 {
  position: absolute;
  overflow: visible;
  width: 2.302px;
  height: 2.302px;
  left: 15.488px;
  top: 57.957px;
}
#Rectangle_7 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Rectangle_7 {
  position: absolute;
  overflow: visible;
  width: 2.454px;
  height: 2.303px;
  left: 15.034px;
  top: 58.259px;
}
#Group_4 {
  position: absolute;
  width: 70.872px;
  height: 65.836px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_3 {
  position: absolute;
  width: 70.872px;
  height: 65.836px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_7 {
  position: absolute;
  width: 95.466px;
  height: 24.252px;
  left: 0px;
  top: 76.242px;
  overflow: visible;
}
#Group_6 {
  position: absolute;
  width: 95.466px;
  height: 24.251px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_1324 {
  position: absolute;
  width: 204px;
  height: 56px;
  left: 987px;
  top: 618px;
  overflow: visible;
}
#Rectangle_1891 {
  fill: rgba(64,72,31,1);
}
.Rectangle_1891 {
  position: absolute;
  overflow: visible;
  width: 204px;
  height: 56px;
  left: 0px;
  top: 0px;
}
#_fa {
  left: 33px;
  top: 1px;
  position: absolute;
  overflow: visible;
  width: 145px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: rgba(229,252,255,1);
}
#Group_525 {
  position: absolute;
  width: 578px;
  height: 374px;
  left: 51px;
  top: 2233px;
  overflow: visible;
}
#Rectangle_925 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_925 {
  position: absolute;
  overflow: visible;
  width: 578px;
  height: 374px;
  left: 0px;
  top: 0px;
}
#Group_491 {
  position: absolute;
  width: 556px;
  height: 351px;
  left: 14px;
  top: 12px;
  overflow: visible;
}
#Image {
  position: absolute;
  width: 556px;
  height: 351px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_472 {
  position: absolute;
  width: 69px;
  height: 71px;
  left: 243px;
  top: 140.001px;
  overflow: visible;
}
#Polygon_1_fg {
  fill: rgba(255,255,255,1);
}
.Polygon_1_fg {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  overflow: visible;
  position: absolute;
  width: 33.687px;
  height: 27.959px;
  transform: translate(0.009px, -0.061px) matrix(1,0,0,1,22.1771,23.3148) rotate(90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Ellipse_8_fh {
  opacity: 0.463;
  fill: rgba(255,255,255,1);
}
.Ellipse_8_fh {
  position: absolute;
  overflow: visible;
  width: 69px;
  height: 71px;
  left: 0px;
  top: 0px;
}
#Group_525_fi {
  position: absolute;
  width: 578px;
  height: 374px;
  left: 649px;
  top: 2233px;
  overflow: visible;
}
#Rectangle_925_fj {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_925_fj {
  position: absolute;
  overflow: visible;
  width: 578px;
  height: 374px;
  left: 0px;
  top: 0px;
}
#Group_491_fk {
  position: absolute;
  width: 556px;
  height: 351px;
  left: 14px;
  top: 12px;
  overflow: visible;
}
#Image_fl {
  position: absolute;
  width: 556px;
  height: 351px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_472_fm {
  position: absolute;
  width: 69px;
  height: 71px;
  left: 243px;
  top: 140.001px;
  overflow: visible;
}
#Polygon_1_fn {
  fill: rgba(255,255,255,1);
}
.Polygon_1_fn {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  overflow: visible;
  position: absolute;
  width: 33.687px;
  height: 27.959px;
  transform: translate(0.009px, -0.061px) matrix(1,0,0,1,22.1771,23.3148) rotate(90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Ellipse_8_fo {
  opacity: 0.463;
  fill: rgba(255,255,255,1);
}
.Ellipse_8_fo {
  position: absolute;
  overflow: visible;
  width: 69px;
  height: 71px;
  left: 0px;
  top: 0px;
}
#A1 {
  left: 356px;
  top: 2134px;
  position: absolute;
  overflow: visible;
  width: 570px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(64,72,31,1);
}
#Group_1335 {
  position: absolute;
  width: 596.174px;
  height: 64.468px;
  left: 342px;
  top: 4496px;
  overflow: visible;
}
#Group_1334 {
  position: absolute;
  width: 31.858px;
  height: 54.138px;
  left: 0px;
  top: 5px;
  overflow: visible;
}
#spray-can-solid {
  fill: transparent;
  stroke: rgba(138,138,138,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.spray-can-solid {
  overflow: visible;
  position: absolute;
  width: 32.858px;
  height: 32.858px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#_ft {
  left: 6.969px;
  top: 44.138px;
  position: absolute;
  overflow: visible;
  width: 23px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  color: rgba(0,0,0,1);
  letter-spacing: 1px;
}
#Group_1333 {
  position: absolute;
  width: 47.919px;
  height: 64.468px;
  left: 178px;
  top: 0px;
  overflow: visible;
}
#_fv {
  left: 9.518px;
  top: 58.468px;
  position: absolute;
  overflow: visible;
  width: 17px;
  white-space: nowrap;
  line-height: 11px;
  margin-top: -3px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 5px;
  color: rgba(0,0,0,1);
  letter-spacing: 1px;
}
#Group_607 {
  opacity: 0.567;
  position: absolute;
  width: 47.919px;
  height: 47.429px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_547 {
  position: absolute;
  width: 47.919px;
  height: 34.367px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_842 {
  fill: transparent;
}
.Path_842 {
  overflow: visible;
  position: absolute;
  width: 47.919px;
  height: 34.366px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_843 {
  fill: transparent;
  stroke: rgba(0,0,0,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_843 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 1px;
  left: 31.028px;
  top: 34.126px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_844 {
  fill: transparent;
  stroke: rgba(0,0,0,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_844 {
  overflow: visible;
  position: absolute;
  width: 48.907px;
  height: 34.946px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_548 {
  position: absolute;
  width: 27.257px;
  height: 37.982px;
  left: 4.018px;
  top: 9.447px;
  overflow: visible;
}
#Path_845 {
  fill: rgba(0,0,0,0);
  stroke: rgba(0,0,0,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_845 {
  overflow: visible;
  position: absolute;
  width: 28.326px;
  height: 38.983px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_1332 {
  position: absolute;
  width: 44px;
  height: 61.106px;
  left: 372px;
  top: 2px;
  overflow: visible;
}
#__f {
  left: 0px;
  top: 51.106px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  color: rgba(0,0,0,1);
  letter-spacing: 1px;
}
#Group_609 {
  position: absolute;
  width: 34.258px;
  height: 34.594px;
  left: 9.292px;
  top: 0px;
  overflow: visible;
}
#Path_838 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_838 {
  overflow: visible;
  position: absolute;
  width: 4.022px;
  height: 18.87px;
  left: 9.83px;
  top: 16.593px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_839 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_839 {
  overflow: visible;
  position: absolute;
  width: 4.022px;
  height: 18.87px;
  left: 16.467px;
  top: 16.593px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_840 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_840 {
  overflow: visible;
  position: absolute;
  width: 4.022px;
  height: 18.87px;
  left: 23.104px;
  top: 16.593px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_841 {
  fill: transparent;
  stroke: rgba(108,108,108,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_841 {
  overflow: visible;
  position: absolute;
  width: 35.258px;
  height: 22.58px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_1331 {
  position: absolute;
  width: 34.174px;
  height: 49.823px;
  left: 562px;
  top: 6.999px;
  overflow: visible;
}
#_gb {
  left: 3.318px;
  top: 39.823px;
  position: absolute;
  overflow: visible;
  width: 23px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -4.5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  color: rgba(0,0,0,1);
  letter-spacing: 1px;
}
#Group_610 {
  position: absolute;
  width: 34.174px;
  height: 22.626px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_846 {
  fill: rgba(0,0,0,0);
  stroke: rgba(121,121,121,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_846 {
  overflow: visible;
  position: absolute;
  width: 29.101px;
  height: 3.655px;
  left: 2.297px;
  top: 8.539px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_847 {
  fill: rgba(0,0,0,0);
  stroke: rgba(121,121,121,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_847 {
  overflow: visible;
  position: absolute;
  width: 35.145px;
  height: 23.247px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_1337 {
  position: absolute;
  width: 1280px;
  height: 71px;
  left: 0px;
  top: 7406px;
  overflow: visible;
}
#Rectangle_946_gh {
  fill: url(#Rectangle_946_gh);
}
.Rectangle_946_gh {
  position: absolute;
  overflow: visible;
  width: 1280px;
  height: 71px;
  left: 0px;
  top: 0px;
}
#Group_1319 {
  position: absolute;
  width: 702px;
  height: 21px;
  left: 210px;
  top: 25px;
  overflow: visible;
}
#______copyright_LIFE_MASTER_TE {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 703px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(54,54,54,1);
  letter-spacing: 0.2px;
}
#Group_557 {
  position: absolute;
  width: 68.868px;
  height: 30.334px;
  left: 138px;
  top: 20px;
  overflow: visible;
}
#Group_1318 {
  position: absolute;
  width: 220px;
  height: 20px;
  left: 922px;
  top: 26px;
  overflow: visible;
}
#__ {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 69px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(54,54,54,1);
}
#_gn {
  left: 82px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(54,54,54,1);
}
#_go {
  left: 160px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(54,54,54,1);
}
#Line_147 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_147 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 16px;
  left: 72.5px;
  top: 2.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_148 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_148 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 16px;
  left: 153.5px;
  top: 2.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Component_62__1 {
  position: absolute;
  width: 145px;
  height: 48px;
  left: 568px;
  top: 7213px;
  overflow: visible;
}
#Rectangle_926 {
  fill: rgba(59,179,195,1);
}
.Rectangle_926 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 163px;
  height: 66px;
  left: 0px;
  top: 0px;
}
#Group_514 {
  position: absolute;
  width: 103.289px;
  height: 22.369px;
  left: 21px;
  top: 12.631px;
  overflow: visible;
}
#_gu {
  left: 35.289px;
  top: 0.369px;
  position: absolute;
  overflow: visible;
  width: 69px;
  white-space: nowrap;
  text-align: left;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: rgba(255,255,255,1);
}
#Path_76 {
  fill: rgba(255,255,255,1);
}
.Path_76 {
  overflow: visible;
  position: absolute;
  width: 24.221px;
  height: 22.369px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#_gw {
  left: 789px;
  top: 3965px;
  position: absolute;
  overflow: visible;
  width: 175px;
  white-space: nowrap;
  text-align: center;
  font-family: ITC Avant Garde Gothic Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: rgba(106,127,125,1);
}
#WHOA1 {
  left: 539px;
  top: 4120px;
  position: absolute;
  overflow: visible;
  width: 363px;
  height: 71px;
  line-height: 30px;
  margin-top: -5px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Rectangle_868 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_868 {
  position: absolute;
  overflow: visible;
  width: 1280px;
  height: 77px;
  left: 0px;
  top: 0px;
}
#Component_24__15 {
  position: absolute;
  width: 1280px;
  height: 53px;
  left: 0px;
  top: 24px;
  overflow: visible;
}
#Group_348 {
  position: absolute;
  width: 553px;
  height: 14px;
  left: 307px;
  top: 14px;
  overflow: visible;
}
#_g {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_ha {
  left: 73px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_hb {
  left: 146px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_hc {
  left: 220px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 51px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#__g {
  left: 293px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 44px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_hd {
  left: 366px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_he {
  left: 440px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#_hf {
  left: 513px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
#logo-1090109-1 {
  position: absolute;
  width: 103px;
  height: 42px;
  left: 116px;
  top: 0px;
  overflow: visible;
}
#Rectangle_850_hb {
  fill: url(#Rectangle_850_hb);
}
.Rectangle_850_hb {
  position: absolute;
  overflow: visible;
  width: 1280px;
  height: 4px;
  left: 0px;
  top: 49px;
}
#Group_347 {
  position: absolute;
  width: 104px;
  height: 34px;
  left: 1067px;
  top: 28px;
  overflow: visible;
}
#Component_209__8 {
  position: absolute;
  width: 104px;
  height: 34px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_1 {
  fill: rgba(255,255,255,1);
  stroke: rgba(59,179,195,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1 {
  position: absolute;
  overflow: visible;
  width: 104px;
  height: 34px;
  left: 0px;
  top: 0px;
}
#___hf {
  left: 27px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: rgba(59,179,195,1);
}
