<style>


</style>
<div id="smain">
	<div id="Group_1343">
		<svg class="Rectangle_1894_">
			<linearGradient id="Rectangle_1894_" spreadMethod="pad" x1="0.5" x2="0.5" y1="0.127" y2="1">
				<stop offset="0" stop-color="#acc5cb" stop-opacity="0"></stop>
				<stop offset="1" stop-color="#acc5cb" stop-opacity="1"></stop>
			</linearGradient>
			<rect id="Rectangle_1894_" rx="0" ry="0" x="0" y="0" width="1280" height="908">
			</rect>
		</svg>
		<img id="fan2" src="\themes\Okmaster\img\sterilization\fan2.png" srcset="\themes\Okmaster\img\sterilization\fan2.png 1x, fan2@2x.png 2x">

		<img id="ID2" src="\themes\Okmaster\img\sterilization\ID2.png" srcset="\themes\Okmaster\img\sterilization\ID2.png 1x, ID2@2x.png 2x">

		<div id="Group_654">
			<div id="Group_21">
				<img id="Group_20" src="\themes\Okmaster\img\sterilization\Group_20.png" srcset="\themes\Okmaster\img\sterilization\Group_20.png 1x, Group_20@2x.png 2x">


			</div>
			<div id="_ba">
				<span>效</span>
			</div>
			<div id="Group_23">
				<img id="Mask_Group_3" src="\themes\Okmaster\img\sterilization\Mask_Group_3.png" srcset="\themes\Okmaster\img\sterilization\Mask_Group_3.png 1x, Mask_Group_3@2x.png 2x">


			</div>
			<div id="_bd">
				<span>留</span>
			</div>
		</div>
	</div>
	<svg class="Rectangle_911_bf">
		<linearGradient id="Rectangle_911_bf" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
			<stop offset="0" stop-color="#86bfdf" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#fff" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_911_bf" rx="0" ry="0" x="0" y="0" width="1282" height="787">
		</rect>
	</svg>
	<div id="ID169" class="______16_9">
		<img id="ID169_bh" src="\themes\Okmaster\img\sterilization\ID169_bh.png" srcset="\themes\Okmaster\img\sterilization\ID169_bh.png 1x, ID169_bh@2x.png 2x">

	</div>
	<svg class="Rectangle_1890">
		<rect id="Rectangle_1890" rx="0" ry="0" x="0" y="0" width="1282" height="628">
		</rect>
	</svg>
	<svg class="Path_20815" viewBox="0 952 1282 1">
		<path id="Path_20815" d="M 1282 952 L 0 952 L 1282 952 Z">
		</path>
	</svg>
	<img id="P2" src="\themes\Okmaster\img\sterilization\P2.png" srcset="\themes\Okmaster\img\sterilization\P2.png 1x, P2@2x.png 2x">

	<div id="Group_8">
		<svg class="Ellipse_2_bn">
			<radialGradient id="Ellipse_2_bn" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
				<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#2699fb" stop-opacity="1"></stop>
			</radialGradient>
			<ellipse id="Ellipse_2_bn" rx="62.5" ry="62.5" cx="62.5" cy="62.5">
			</ellipse>
		</svg>
		<div id="_bo">
			<span>不殘留</span>
		</div>
	</div>
	<div id="Group_366">
		<svg class="Ellipse_2_br">
			<radialGradient id="Ellipse_2_br" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
				<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
				<stop offset="0" stop-color="#daeefe" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#2699fb" stop-opacity="1"></stop>
			</radialGradient>
			<ellipse id="Ellipse_2_br" rx="87" ry="86.5" cx="87" cy="86.5">
			</ellipse>
		</svg>
		<div id="_">
			<span>消除<br>有害因子</span>
		</div>
	</div>
	<div id="Group_368">
		<svg class="Ellipse_2_bv">
			<radialGradient id="Ellipse_2_bv" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
				<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#2699fb" stop-opacity="1"></stop>
			</radialGradient>
			<ellipse id="Ellipse_2_bv" rx="68" ry="68" cx="68" cy="68">
			</ellipse>
		</svg>
		<div id="__bw">
			<span>清淨<br>環境</span>
		</div>
	</div>
	<div id="Group_369">
		<svg class="Ellipse_2_bz">
			<radialGradient id="Ellipse_2_bz" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
				<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
				<stop offset="0" stop-color="#d7ecfe" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#2699fb" stop-opacity="1"></stop>
			</radialGradient>
			<ellipse id="Ellipse_2_bz" rx="68" ry="68" cx="68" cy="68">
			</ellipse>
		</svg>
		<div id="__b">
			<span>除臭<br>去味</span>
		</div>
	</div>
	<div id="Group_367">
		<svg class="Ellipse_2_ca">
			<radialGradient id="Ellipse_2_ca" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
				<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#2699fb" stop-opacity="1"></stop>
			</radialGradient>
			<ellipse id="Ellipse_2_ca" rx="87.5" ry="87" cx="87.5" cy="87">
			</ellipse>
		</svg>
		<div id="ID999_">
			<span>99.9%<br>滅菌率</span>
		</div>
	</div>
	<svg class="Path_811" viewBox="-1.849 -162.818 1280.849 1761.576">
		<path id="Path_811" d="M -1.8486328125 -36.28205108642578 C -1.8486328125 -36.28205108642578 264.81787109375 -190.4336242675781 652.69677734375 -117.8921356201172 C 1040.57568359375 -45.35071182250977 1279 -162.818359375 1279 -162.818359375 L 1277 1415.181640625 C 1277 1415.181640625 1070.87841796875 1553.599975585938 622.3935546875 1450.832153320313 C 173.90869140625 1348.064086914063 -1.8486328125 1598.757446289063 -1.8486328125 1598.757446289063 L -1.8486328125 -36.28205108642578 Z">
		</path>
	</svg>
	<div id="_b">
		<span>滅菌率</span>
	</div>
	<div id="_ca">
		<span>實測數據</span>
	</div>
	<img id="_cb" src="\themes\Okmaster\img\sterilization\_cb.png" srcset="\themes\Okmaster\img\sterilization\_cb.png 1x, _cb@2x.png 2x">

	<div id="Group_440">
		<div id="_999">
			<span>滅菌率達　</span><span style="font-size:56px;">99.9%</span>
		</div>
		<div id="______">
			<span>防疫 | 消毒 | 滅菌 | 除味</span>
		</div>
		<div id="_cc">
			<span>清淨對策滅菌錠</span>
		</div>
	</div>
	<div id="Group_616">
		<div id="Group_444">
			<iframe class="main_v" width="1121px" height="524px" src="https://www.youtube.com/embed/JGQvFsJz9qg?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			<img class="change_v" alt="gzerxyVLoAA" id="ID0" src="\themes\Okmaster\img\sterilization\ID0.png" srcset="\themes\Okmaster\img\sterilization\ID0.png 1x, ID0@2x.png 2x">

			<img class="change_v" alt="J8ajBN_iW_o" id="ID1012-1" src="\themes\Okmaster\img\sterilization\ID1012-1.png" srcset="\themes\Okmaster\img\sterilization\ID1012-1.png 1x, ID1012-1@2x.png 2x">

			<img class="change_v" alt="HAhDQTnUTc4" id="ID0_ci" src="\themes\Okmaster\img\sterilization\ID0_ci.png" srcset="\themes\Okmaster\img\sterilization\ID0_ci.png 1x, ID0_ci@2x.png 2x">

			<img class="change_v" alt="qMjAFAHAFfs" id="ID1012-1_cj" src="\themes\Okmaster\img\sterilization\ID1012-1_cj.png" srcset="\themes\Okmaster\img\sterilization\ID1012-1_cj.png 1x, ID1012-1_cj@2x.png 2x">

			<img class="change_v" alt="okn53urtwS0" id="ID1012-2" src="\themes\Okmaster\img\sterilization\ID1012-2.png" srcset="\themes\Okmaster\img\sterilization\ID1012-2.png 1x, ID1012-2@2x.png 2x">

			<img class="change_v" alt="Asl2nnxflO4" id="ID1012-1_cl" src="\themes\Okmaster\img\sterilization\ID1012-1_cl.png" srcset="\themes\Okmaster\img\sterilization\ID1012-1_cl.png 1x, ID1012-1_cl@2x.png 2x">

		</div>
		<!-- <div id="Group_446">
			<svg class="Polygon_1" viewBox="0 0 112.341 93.239">
				<path id="Polygon_1" d="M 56.17047119140625 0 L 112.340950012207 93.23905944824219 L 0 93.23905944824219 Z">
				</path>
			</svg>
			<svg class="Ellipse_8">
				<ellipse id="Ellipse_8" rx="116.5" ry="117" cx="116.5" cy="117">
				</ellipse>
			</svg>
		</div> -->
	</div>
	<div id="_________">
		<span>鍵盤 | 洗衣機| 門把 | 沖水把 | 冰箱 | 手機</span>
	</div>
	<div id="Group_653">
		<!-- <svg class="Path_877" viewBox="0 1.488 1166.5 482.681">
			<path id="Path_877" d="M 0 1.487900018692017 L 0 478.2846984863281 L 1166.500122070313 484.1688537597656 L 1166.500122070313 1.487900018692017 L 0 1.487900018692017 Z">
			</path>
		</svg> -->
		<div id="Group_652">
			<!-- <img id="Group_651" src="\themes\Okmaster\img\sterilization\Group_651.png" srcset="\themes\Okmaster\img\sterilization\Group_651.png 1x, Group_651@2x.png 2x"> -->
      <img id="Group_651" src="/themes/LifeHouse/img/lifegoproduct/product_banner_2-06.svg">


		</div>
		<!-- <div id="ID9999_">
			<span>99.99 %</span>
		</div>
		<div id="_cv">
			<span>濃度</span>
		</div>
		<div id="_cw">
			<span>時間</span>
		</div> -->
	</div>
	<div id="Group_653_b">
		<button type="button" class="submit" onclick="window.open('/SterilizationBuy','_blank')" >我要購買</button>
	</div>
	<div id="Group_654_b">
		<button type="button" class="submit" onclick="window.open('/SterilizationBuy?order=search','_blank')" >查詢訂單</button>
	</div>
	<div id="Group_1295">
		<img id="Group_661" src="\themes\Okmaster\img\sterilization\Group_661.png" srcset="\themes\Okmaster\img\sterilization\Group_661.png 1x, Group_661@2x.png 2x">


	</div>
	<div id="_cz">
		<span>應用廣泛</span>
	</div>
	<img id="asset_2" src="\themes\Okmaster\img\sterilization\asset_2.png" srcset="\themes\Okmaster\img\sterilization\asset_2.png 1x, asset_2@2x.png 2x">

	<img id="asset_4" src="\themes\Okmaster\img\sterilization\asset_4.png" srcset="\themes\Okmaster\img\sterilization\asset_4.png 1x, asset_4@2x.png 2x">

	<img id="asset_3" src="\themes\Okmaster\img\sterilization\asset_3.png" srcset="\themes\Okmaster\img\sterilization\asset_3.png 1x, asset_3@2x.png 2x">

	<img id="asset_8" src="\themes\Okmaster\img\sterilization\asset_8.png" srcset="\themes\Okmaster\img\sterilization\asset_8.png 1x, asset_8@2x.png 2x">

	<div id="Group_1325">
		<div id="_c">
			<span>居家環境</span>
		</div>
		<div id="_da">
			<span>民生用水</span>
		</div>
		<div id="_db">
			<span>清洗消毒</span>
		</div>
		<div id="_dc">
			<span>餐具廚房用品</span>
		</div>
	</div>
	<div id="Group_1329">
		<img id="asset_1" src="\themes\Okmaster\img\sterilization\asset_1.png" srcset="\themes\Okmaster\img\sterilization\asset_1.png 1x, asset_1@2x.png 2x">

		<img id="asset_9" src="\themes\Okmaster\img\sterilization\asset_9.png" srcset="\themes\Okmaster\img\sterilization\asset_9.png 1x, asset_9@2x.png 2x">

		<img id="asset_6" src="\themes\Okmaster\img\sterilization\asset_6.png" srcset="\themes\Okmaster\img\sterilization\asset_6.png 1x, asset_6@2x.png 2x">

		<div id="Group_1326">
			<div id="_de">
				<span>辦公室</span>
			</div>
			<div id="__df">
				<span>教室 </span>
			</div>
			<div id="_dg">
				<span>公共場所</span>
			</div>
		</div>
	</div>
	<div id="Group_1328">
		<svg class="Ellipse_30">
			<ellipse id="Ellipse_30" rx="108" ry="107.5" cx="108" cy="107.5">
			</ellipse>
		</svg>
		<svg class="Ellipse_31">
			<ellipse id="Ellipse_31" rx="107.5" ry="107.5" cx="107.5" cy="107.5">
			</ellipse>
		</svg>
		<img id="asset_13" src="\themes\Okmaster\img\sterilization\asset_13.png" srcset="\themes\Okmaster\img\sterilization\asset_13.png 1x, asset_13@2x.png 2x">

		<img id="asset_12" src="\themes\Okmaster\img\sterilization\asset_12.png" srcset="\themes\Okmaster\img\sterilization\asset_12.png 1x, asset_12@2x.png 2x">

		<img id="asset_11" src="\themes\Okmaster\img\sterilization\asset_11.png" srcset="\themes\Okmaster\img\sterilization\asset_11.png 1x, asset_11@2x.png 2x">

		<img id="asset_10" src="\themes\Okmaster\img\sterilization\asset_10.png" srcset="\themes\Okmaster\img\sterilization\asset_10.png 1x, asset_10@2x.png 2x">

		<div id="Group_1327">
			<div id="_dp">
				<span>蔬果</span>
			</div>
			<div id="_dq">
				<span>植栽</span>
			</div>
			<div id="_dr">
				<span>畜牧業</span>
			</div>
			<div id="_ds">
				<span>養殖</span>
			</div>
		</div>
	</div>
	<div id="_dt">
		<span>危害健康的病毒細菌無所不在</span>
	</div>
	<div id="Group_1322">
		<svg class="Ellipse_38_dw">
			<radialGradient id="Ellipse_38_dw" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
				<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
				<stop offset="0" stop-color="#daeefe" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#2699fb" stop-opacity="1"></stop>
			</radialGradient>
			<ellipse id="Ellipse_38_dw" rx="87" ry="86.5" cx="87" cy="86.5">
			</ellipse>
		</svg>
		<div id="Group_365">
			<div id="Group_364">
				<div id="Group_5">
					<div id="Group_2">
						<img id="Group_1" src="\themes\Okmaster\img\sterilization\Group_1.png" srcset="\themes\Okmaster\img\sterilization\Group_1.png 1x, Group_1@2x.png 2x">


					</div>
					<svg class="Path_2" viewBox="58.169 2.18 3.177 1.816">
						<path id="Path_2" d="M 58.16869354248047 2.179504156112671 L 58.16869354248047 2.93595552444458 L 59.22835540771484 2.93595552444458 L 59.22835540771484 3.239166498184204 L 60.28675842285156 3.239166498184204 L 60.28675842285156 3.69240140914917 L 61.04383087158203 3.69240140914917 L 61.04383087158203 3.995612621307373 L 61.34577941894531 3.995612621307373 L 61.34577941894531 2.93595552444458 L 60.28675842285156 2.93595552444458 L 60.28675842285156 2.482085943222046 L 59.98417663574219 2.482085943222046 L 59.98417663574219 2.179504156112671 L 58.16869354248047 2.179504156112671 Z">
						</path>
					</svg>
					<svg class="Path_3" viewBox="41.609 3.38 6.808 9.683">
						<path id="Path_3" d="M 47.6602783203125 3.37969970703125 L 47.6602783203125 3.682281017303467 L 47.35832977294922 3.682281017303467 L 47.35832977294922 4.136151313781738 L 47.05512237548828 4.136151313781738 L 47.05512237548828 4.439362525939941 L 46.60125350952148 4.439362525939941 L 46.60125350952148 4.741309642791748 L 46.29867172241211 4.741309642791748 L 46.29867172241211 5.195178508758545 L 45.99608612060547 5.195178508758545 L 45.99608612060547 5.49775505065918 L 45.54285430908203 5.49775505065918 L 45.54285430908203 5.800336360931396 L 44.78577423095703 5.800336360931396 L 44.78577423095703 6.556782722473145 L 44.48319244384766 6.556782722473145 L 44.48319244384766 7.313233852386475 L 43.72737884521484 7.313233852386475 L 43.72737884521484 8.372262954711914 L 43.12158966064453 8.372262954711914 L 43.12158966064453 9.128708839416504 L 42.667724609375 9.128708839416504 L 42.667724609375 9.431920051574707 L 42.36577606201172 9.431920051574707 L 42.36577606201172 10.49031734466553 L 41.91127014160156 10.49031734466553 L 41.91127014160156 10.94418144226074 L 41.60869216918945 10.94418144226074 L 41.60869216918945 11.2467622756958 L 41.91127014160156 11.2467622756958 L 41.91127014160156 11.70063304901123 L 41.60869216918945 11.70063304901123 L 41.60869216918945 13.06223678588867 L 42.36577606201172 13.06223678588867 L 42.36577606201172 12.7596607208252 L 43.12158966064453 12.7596607208252 L 43.12158966064453 11.70063304901123 L 43.42416763305664 11.70063304901123 L 43.42416763305664 11.2467622756958 L 43.72737884521484 11.2467622756958 L 43.72737884521484 10.49031734466553 L 44.18061447143555 10.49031734466553 L 44.18061447143555 10.18773555755615 L 44.48319244384766 10.18773555755615 L 44.48319244384766 9.885152816772461 L 44.18061447143555 9.885152816772461 L 44.18061447143555 9.431920051574707 L 44.48319244384766 9.431920051574707 L 44.48319244384766 9.128708839416504 L 44.78577423095703 9.128708839416504 L 44.78577423095703 8.069680213928223 L 45.23963928222656 8.069680213928223 L 45.23963928222656 7.616440296173096 L 45.54285430908203 7.616440296173096 L 45.54285430908203 7.313233852386475 L 45.23963928222656 7.313233852386475 L 45.23963928222656 7.011281490325928 L 45.54285430908203 7.011281490325928 L 45.54285430908203 6.556782722473145 L 46.29867172241211 6.556782722473145 L 46.29867172241211 5.800336360931396 L 46.60125350952148 5.800336360931396 L 46.60125350952148 5.195178508758545 L 47.35832977294922 5.195178508758545 L 47.35832977294922 4.439362525939941 L 47.6602783203125 4.439362525939941 L 47.6602783203125 4.136151313781738 L 48.11477279663086 4.136151313781738 L 48.11477279663086 3.682281017303467 L 48.41672515869141 3.682281017303467 L 48.41672515869141 3.37969970703125 L 47.6602783203125 3.37969970703125 Z">
						</path>
					</svg>
					<svg class="Path_4" viewBox="50.249 3.38 4.69 4.237">
						<path id="Path_4" d="M 54.18252182006836 3.37969970703125 L 54.18252182006836 3.682281017303467 L 53.42607498168945 3.682281017303467 L 53.42607498168945 4.136151313781738 L 52.66962051391602 4.136151313781738 L 52.66962051391602 4.439362525939941 L 52.3670539855957 4.439362525939941 L 52.3670539855957 4.741309642791748 L 52.0644645690918 4.741309642791748 L 52.0644645690918 5.195178508758545 L 51.61059951782227 5.195178508758545 L 51.61059951782227 5.49775505065918 L 51.30801773071289 5.49775505065918 L 51.30801773071289 5.800336360931396 L 50.55157089233398 5.800336360931396 L 50.55157089233398 6.254836082458496 L 50.24898147583008 6.254836082458496 L 50.24898147583008 6.556782722473145 L 50.55157089233398 6.556782722473145 L 50.55157089233398 7.011281490325928 L 50.24898147583008 7.011281490325928 L 50.24898147583008 7.616440296173096 L 50.55157089233398 7.616440296173096 L 50.55157089233398 7.313233852386475 L 50.85415267944336 7.313233852386475 L 50.85415267944336 7.011281490325928 L 51.30801773071289 7.011281490325928 L 51.30801773071289 6.254836082458496 L 51.61059951782227 6.254836082458496 L 51.61059951782227 5.800336360931396 L 52.0644645690918 5.800336360931396 L 52.0644645690918 5.49775505065918 L 52.66962051391602 5.49775505065918 L 52.66962051391602 5.195178508758545 L 53.42607498168945 5.195178508758545 L 53.42607498168945 4.741309642791748 L 54.18252182006836 4.741309642791748 L 54.18252182006836 4.439362525939941 L 54.48510360717773 4.439362525939941 L 54.48510360717773 4.136151313781738 L 54.93896865844727 4.136151313781738 L 54.93896865844727 3.682281017303467 L 54.48510360717773 3.682281017303467 L 54.48510360717773 3.37969970703125 L 54.18252182006836 3.37969970703125 Z">
						</path>
					</svg>
					<svg class="Path_5" viewBox="22.169 6.26 25.265 24.811">
						<path id="Path_5" d="M 44.86215209960938 6.259604454040527 L 44.86215209960938 6.562186241149902 L 43.80312347412109 6.562186241149902 L 43.80312347412109 6.864767074584961 L 43.04666900634766 6.864767074584961 L 43.04666900634766 7.319266319274902 L 42.29021835327148 7.319266319274902 L 42.29021835327148 7.621213912963867 L 41.98764419555664 7.621213912963867 L 41.98764419555664 8.377659797668457 L 41.68506240844727 8.377659797668457 L 41.68506240844727 9.134740829467773 L 41.23119354248047 9.134740829467773 L 41.23119354248047 9.436687469482422 L 40.92924118041992 9.436687469482422 L 40.92924118041992 10.19313907623291 L 40.47474670410156 10.19313907623291 L 40.47474670410156 10.49634456634521 L 40.17280197143555 10.49634456634521 L 40.17280197143555 11.25216579437256 L 39.86958694458008 11.25216579437256 L 39.86958694458008 11.55474185943604 L 39.41571426391602 11.55474185943604 L 39.41571426391602 12.31182289123535 L 39.11314392089844 12.31182289123535 L 39.11314392089844 12.76505851745605 L 38.81055450439453 12.76505851745605 L 38.81055450439453 13.06826877593994 L 39.11314392089844 13.06826877593994 L 39.11314392089844 13.3702220916748 L 38.81055450439453 13.3702220916748 L 38.81055450439453 13.82408618927002 L 38.35731887817383 13.82408618927002 L 38.35731887817383 14.12666797637939 L 38.05411148071289 14.12666797637939 L 38.05411148071289 14.42924785614014 L 37.60024261474609 14.42924785614014 L 37.60024261474609 15.18569278717041 L 37.29766464233398 15.18569278717041 L 37.29766464233398 15.64019298553467 L 36.9957160949707 15.64019298553467 L 36.9957160949707 16.2453498840332 L 36.54184722900391 16.2453498840332 L 36.54184722900391 16.69922256469727 L 35.93606185913086 16.69922256469727 L 35.93606185913086 17.00116729736328 L 35.4821891784668 17.00116729736328 L 35.4821891784668 17.30437850952148 L 34.72574234008789 17.30437850952148 L 34.72574234008789 17.75761795043945 L 32.30510711669922 17.75761795043945 L 32.30510711669922 17.30437850952148 L 31.85124397277832 17.30437850952148 L 31.85124397277832 17.00116729736328 L 31.2460765838623 17.00116729736328 L 31.2460765838623 16.2453498840332 L 30.79284477233887 16.2453498840332 L 30.79284477233887 16.69922256469727 L 30.48963356018066 16.69922256469727 L 30.48963356018066 16.2453498840332 L 30.03576469421387 16.2453498840332 L 30.03576469421387 15.94214153289795 L 29.43123435974121 15.94214153289795 L 29.43123435974121 15.64019298553467 L 28.97736930847168 15.64019298553467 L 28.97736930847168 15.18569278717041 L 28.37158012390137 15.18569278717041 L 28.37158012390137 14.8837423324585 L 27.61576271057129 14.8837423324585 L 27.61576271057129 14.42924785614014 L 26.85868263244629 14.42924785614014 L 26.85868263244629 14.12666797637939 L 26.10223579406738 14.12666797637939 L 26.10223579406738 13.82408618927002 L 25.49707984924316 13.82408618927002 L 25.49707984924316 13.3702220916748 L 24.28675842285156 13.3702220916748 L 24.28675842285156 13.06826877593994 L 22.92514991760254 13.06826877593994 L 22.92514991760254 13.3702220916748 L 22.16870498657227 13.3702220916748 L 22.16870498657227 14.8837423324585 L 22.62320327758789 14.8837423324585 L 22.62320327758789 15.64019298553467 L 22.92514991760254 15.64019298553467 L 22.92514991760254 16.2453498840332 L 23.22836303710938 16.2453498840332 L 23.22836303710938 16.69922256469727 L 23.68160247802734 16.69922256469727 L 23.68160247802734 17.00116729736328 L 23.98418045043945 17.00116729736328 L 23.98418045043945 17.30437850952148 L 24.28675842285156 17.30437850952148 L 24.28675842285156 17.75761795043945 L 24.74062728881836 17.75761795043945 L 24.74062728881836 18.51406478881836 L 25.49707984924316 18.51406478881836 L 25.49707984924316 18.81664657592773 L 25.8002872467041 18.81664657592773 L 25.8002872467041 19.11922454833984 L 26.10223579406738 19.11922454833984 L 26.10223579406738 19.87630462646484 L 26.85868263244629 19.87630462646484 L 26.85868263244629 20.32954025268555 L 27.1612606048584 20.32954025268555 L 27.1612606048584 20.63275146484375 L 27.61576271057129 20.63275146484375 L 27.61576271057129 21.38856506347656 L 28.37158012390137 21.38856506347656 L 28.37158012390137 21.69114685058594 L 28.67416191101074 21.69114685058594 L 28.67416191101074 21.99372482299805 L 28.97736930847168 21.99372482299805 L 28.97736930847168 22.44822692871094 L 29.43123435974121 22.44822692871094 L 29.43123435974121 22.75017547607422 L 29.73318672180176 22.75017547607422 L 29.73318672180176 23.20467758178711 L 30.03576469421387 23.20467758178711 L 30.03576469421387 23.50662231445313 L 30.48963356018066 23.50662231445313 L 30.48963356018066 23.80983352661133 L 30.79284477233887 23.80983352661133 L 30.79284477233887 24.26370239257813 L 31.54865837097168 24.26370239257813 L 31.54865837097168 24.56564712524414 L 31.85124397277832 24.56564712524414 L 31.85124397277832 24.86886215209961 L 32.30510711669922 24.86886215209961 L 32.30510711669922 25.32210159301758 L 32.60832214355469 25.32210159301758 L 32.60832214355469 25.62530899047852 L 33.36476516723633 25.62530899047852 L 33.36476516723633 26.38112640380859 L 34.42316436767578 26.38112640380859 L 34.42316436767578 26.6837043762207 L 34.72574234008789 26.6837043762207 L 34.72574234008789 27.1375732421875 L 35.18023681640625 27.1375732421875 L 35.18023681640625 27.4407844543457 L 35.4821891784668 27.4407844543457 L 35.4821891784668 27.74273300170898 L 36.23863983154297 27.74273300170898 L 36.23863983154297 28.49918365478516 L 36.54184722900391 28.49918365478516 L 36.54184722900391 28.95304870605469 L 36.9957160949707 28.95304870605469 L 36.9957160949707 29.2556266784668 L 37.60024261474609 29.2556266784668 L 37.60024261474609 30.01270294189453 L 38.81055450439453 30.01270294189453 L 38.81055450439453 30.76914978027344 L 39.11314392089844 30.76914978027344 L 39.11314392089844 31.07110214233398 L 39.41571426391602 31.07110214233398 L 39.41571426391602 30.76914978027344 L 39.86958694458008 30.76914978027344 L 39.86958694458008 29.2556266784668 L 40.17280197143555 29.2556266784668 L 40.17280197143555 27.74273300170898 L 40.47474670410156 27.74273300170898 L 40.47474670410156 26.07854843139648 L 40.92924118041992 26.07854843139648 L 40.92924118041992 24.56564712524414 L 41.23119354248047 24.56564712524414 L 41.23119354248047 23.80983352661133 L 41.68506240844727 23.80983352661133 L 41.68506240844727 22.75017547607422 L 41.98764419555664 22.75017547607422 L 41.98764419555664 22.44822692871094 L 42.29021835327148 22.44822692871094 L 42.29021835327148 21.99372482299805 L 41.98764419555664 21.99372482299805 L 41.98764419555664 21.69114685058594 L 42.29021835327148 21.69114685058594 L 42.29021835327148 21.38856506347656 L 42.74472045898438 21.38856506347656 L 42.74472045898438 20.63275146484375 L 43.04666900634766 20.63275146484375 L 43.04666900634766 20.32954025268555 L 43.50053787231445 20.32954025268555 L 43.50053787231445 19.11922454833984 L 43.80312347412109 19.11922454833984 L 43.80312347412109 18.51406478881836 L 44.10633087158203 18.51406478881836 L 44.10633087158203 18.06082534790039 L 44.56019973754883 18.06082534790039 L 44.56019973754883 17.30437850952148 L 44.86215209960938 17.30437850952148 L 44.86215209960938 16.69922256469727 L 45.16473007202148 16.69922256469727 L 45.16473007202148 15.94214153289795 L 45.61859893798828 15.94214153289795 L 45.61859893798828 15.18569278717041 L 45.92180633544922 15.18569278717041 L 45.92180633544922 14.12666797637939 L 46.37504577636719 14.12666797637939 L 46.37504577636719 13.06826877593994 L 46.6776237487793 13.06826877593994 L 46.6776237487793 11.55474185943604 L 46.98020172119141 11.55474185943604 L 46.98020172119141 9.891186714172363 L 47.43407440185547 9.891186714172363 L 47.43407440185547 8.075714111328125 L 46.98020172119141 8.075714111328125 L 46.98020172119141 7.319266319274902 L 46.6776237487793 7.319266319274902 L 46.6776237487793 6.864767074584961 L 45.61859893798828 6.864767074584961 L 45.61859893798828 6.562186241149902 L 45.16473007202148 6.562186241149902 L 45.16473007202148 6.259604454040527 L 44.86215209960938 6.259604454040527 Z">
						</path>
					</svg>
					<svg class="Path_6" viewBox="52.409 10.1 7.564 19.516">
						<path id="Path_6" d="M 59.21672058105469 10.10040187835693 L 59.21672058105469 10.55427265167236 L 58.91477966308594 10.55427265167236 L 58.91477966308594 12.97490882873535 L 58.61156463623047 12.97490882873535 L 58.61156463623047 13.42814826965332 L 58.91477966308594 13.42814826965332 L 58.91477966308594 14.18459510803223 L 58.61156463623047 14.18459510803223 L 58.61156463623047 14.48780632019043 L 58.15769958496094 14.48780632019043 L 58.15769958496094 15.84877967834473 L 57.85511779785156 15.84877967834473 L 57.85511779785156 17.05972671508789 L 57.55254364013672 17.05972671508789 L 57.55254364013672 17.36230850219727 L 57.09929656982422 17.36230850219727 L 57.09929656982422 17.66488265991211 L 57.55254364013672 17.66488265991211 L 57.55254364013672 18.11875343322754 L 57.09929656982422 18.11875343322754 L 57.09929656982422 18.42070198059082 L 56.79608917236328 18.42070198059082 L 56.79608917236328 19.48036193847656 L 56.34223175048828 19.48036193847656 L 56.34223175048828 19.93422889709473 L 56.03964996337891 19.93422889709473 L 56.03964996337891 20.99262237548828 L 55.73706817626953 20.99262237548828 L 55.73706817626953 21.74907493591309 L 55.28382873535156 21.74907493591309 L 55.28382873535156 22.35423278808594 L 54.98061370849609 22.35423278808594 L 54.98061370849609 23.11130905151367 L 54.67803955078125 23.11130905151367 L 54.67803955078125 23.41326141357422 L 54.22416687011719 23.41326141357422 L 54.22416687011719 24.62420463562012 L 53.92221832275391 24.62420463562012 L 53.92221832275391 25.2293643951416 L 53.46772003173828 25.2293643951416 L 53.46772003173828 25.98518180847168 L 53.16514587402344 25.98518180847168 L 53.16514587402344 27.04484176635742 L 52.86256408691406 27.04484176635742 L 52.86256408691406 28.55710411071777 L 52.40868377685547 28.55710411071777 L 52.40868377685547 29.61675834655762 L 52.86256408691406 29.61675834655762 L 52.86256408691406 29.16226387023926 L 53.16514587402344 29.16226387023926 L 53.16514587402344 28.10386657714844 L 53.46772003173828 28.10386657714844 L 53.46772003173828 27.8006591796875 L 53.92221832275391 27.8006591796875 L 53.92221832275391 26.74162673950195 L 54.22416687011719 26.74162673950195 L 54.22416687011719 25.6832332611084 L 54.67803955078125 25.6832332611084 L 54.67803955078125 25.2293643951416 L 54.98061370849609 25.2293643951416 L 54.98061370849609 24.16970443725586 L 55.28382873535156 24.16970443725586 L 55.28382873535156 23.41326141357422 L 55.73706817626953 23.41326141357422 L 55.73706817626953 23.11130905151367 L 56.03964996337891 23.11130905151367 L 56.03964996337891 22.05228233337402 L 56.34223175048828 22.05228233337402 L 56.34223175048828 21.74907493591309 L 56.79608917236328 21.74907493591309 L 56.79608917236328 20.53938865661621 L 57.09929656982422 20.53938865661621 L 57.09929656982422 19.93422889709473 L 57.55254364013672 19.93422889709473 L 57.55254364013672 19.48036193847656 L 57.85511779785156 19.48036193847656 L 57.85511779785156 18.72390937805176 L 58.15769958496094 18.72390937805176 L 58.15769958496094 18.11875343322754 L 58.61156463623047 18.11875343322754 L 58.61156463623047 17.36230850219727 L 58.91477966308594 17.36230850219727 L 58.91477966308594 16.605224609375 L 59.21672058105469 16.605224609375 L 59.21672058105469 15.84877967834473 L 59.67122650146484 15.84877967834473 L 59.67122650146484 14.48780632019043 L 59.97316741943359 14.48780632019043 L 59.97316741943359 10.55427265167236 L 59.67122650146484 10.55427265167236 L 59.67122650146484 10.10040187835693 L 59.21672058105469 10.10040187835693 Z">
						</path>
					</svg>
					<svg class="Path_7" viewBox="24.57 12.02 7.111 3.48">
						<path id="Path_7" d="M 24.87154769897461 12.02040100097656 L 24.87154769897461 12.32235240936279 L 24.56959915161133 12.32235240936279 L 24.56959915161133 13.07942867279053 L 25.62799835205078 13.07942867279053 L 25.62799835205078 13.38138103485107 L 26.98960876464844 13.38138103485107 L 26.98960876464844 13.68459033966064 L 28.04863357543945 13.68459033966064 L 28.04863357543945 14.13782596588135 L 28.80508041381836 14.13782596588135 L 28.80508041381836 14.44103717803955 L 29.5615234375 14.44103717803955 L 29.5615234375 14.89490604400635 L 30.31860733032227 14.89490604400635 L 30.31860733032227 15.19748210906982 L 30.92375946044922 15.19748210906982 L 30.92375946044922 15.50006580352783 L 31.68021011352539 15.50006580352783 L 31.68021011352539 14.89490604400635 L 30.92375946044922 14.89490604400635 L 30.92375946044922 14.44103717803955 L 30.62055587768555 14.44103717803955 L 30.62055587768555 14.13782596588135 L 30.31860733032227 14.13782596588135 L 30.31860733032227 13.68459033966064 L 29.86473846435547 13.68459033966064 L 29.86473846435547 13.38138103485107 L 28.80508041381836 13.38138103485107 L 28.80508041381836 13.07942867279053 L 28.50313186645508 13.07942867279053 L 28.50313186645508 12.62556552886963 L 28.04863357543945 12.62556552886963 L 28.04863357543945 13.07942867279053 L 27.74668502807617 13.07942867279053 L 27.74668502807617 12.62556552886963 L 27.44347381591797 12.62556552886963 L 27.44347381591797 12.32235240936279 L 25.62799835205078 12.32235240936279 L 25.62799835205078 12.02040100097656 L 24.87154769897461 12.02040100097656 Z">
						</path>
					</svg>
					<svg class="Path_8" viewBox="15.93 13.7 1.815 5.295">
						<path id="Path_8" d="M 16.68551826477051 13.70010280609131 L 16.68551826477051 14.30526447296143 L 16.23164939880371 14.30526447296143 L 16.23164939880371 15.51558208465576 L 15.92970085144043 15.51558208465576 L 15.92970085144043 16.57460784912109 L 16.23164939880371 16.57460784912109 L 16.23164939880371 17.63364028930664 L 16.68551826477051 17.63364028930664 L 16.68551826477051 18.39007949829102 L 16.98809814453125 18.39007949829102 L 16.98809814453125 18.99524307250977 L 17.29067611694336 18.99524307250977 L 17.29067611694336 17.93621444702148 L 16.98809814453125 17.93621444702148 L 16.98809814453125 15.81815624237061 L 17.29067611694336 15.81815624237061 L 17.29067611694336 14.75912952423096 L 17.74517440795898 14.75912952423096 L 17.74517440795898 14.00205326080322 L 17.29067611694336 14.00205326080322 L 17.29067611694336 13.70010280609131 L 16.68551826477051 13.70010280609131 Z">
						</path>
					</svg>
					<svg class="Path_9" viewBox="91.289 13.7 4.69 1.815">
						<path id="Path_9" d="M 91.59190368652344 13.70010280609131 L 91.59190368652344 14.00205326080322 L 91.28932189941406 14.00205326080322 L 91.28932189941406 14.30526447296143 L 93.86125183105469 14.30526447296143 L 93.86125183105469 14.75912952423096 L 94.91963195800781 14.75912952423096 L 94.91963195800781 15.06171321868896 L 95.22283935546875 15.06171321868896 L 95.22283935546875 15.51558208465576 L 95.67608642578125 15.51558208465576 L 95.67608642578125 15.06171321868896 L 95.97929382324219 15.06171321868896 L 95.97929382324219 14.30526447296143 L 95.67608642578125 14.30526447296143 L 95.67608642578125 14.00205326080322 L 95.22283935546875 14.00205326080322 L 95.22283935546875 13.70010280609131 L 91.59190368652344 13.70010280609131 Z">
						</path>
					</svg>
					<svg class="Path_10" viewBox="86.73 17.06 4.387 1.361">
						<path id="Path_10" d="M 88.84703826904297 17.06040382385254 L 88.84703826904297 17.36235618591309 L 88.09121704101563 17.36235618591309 L 88.09121704101563 17.81622505187988 L 87.48606109619141 17.81622505187988 L 87.48606109619141 18.11943435668945 L 86.7296142578125 18.11943435668945 L 86.7296142578125 18.42138481140137 L 87.78801727294922 18.42138481140137 L 87.78801727294922 18.11943435668945 L 89.90669250488281 18.11943435668945 L 89.90669250488281 17.81622505187988 L 91.11701202392578 17.81622505187988 L 91.11701202392578 17.36235618591309 L 90.66313171386719 17.36235618591309 L 90.66313171386719 17.06040382385254 L 88.84703826904297 17.06040382385254 Z">
						</path>
					</svg>
					<svg class="Path_11" viewBox="19.288 18.26 2.27 3.934">
						<path id="Path_11" d="M 19.74236679077148 18.25960540771484 L 19.74236679077148 18.56218910217285 L 19.28849792480469 18.56218910217285 L 19.28849792480469 19.62121772766113 L 19.74236679077148 19.62121772766113 L 19.74236679077148 20.68087577819824 L 20.04494667053223 20.68087577819824 L 20.04494667053223 21.43669128417969 L 20.80202293395996 21.43669128417969 L 20.80202293395996 22.19314002990723 L 21.55847549438477 22.19314002990723 L 21.55847549438477 21.43669128417969 L 21.10397529602051 21.43669128417969 L 21.10397529602051 21.13474273681641 L 20.80202293395996 21.13474273681641 L 20.80202293395996 20.07571411132813 L 20.3481559753418 20.07571411132813 L 20.3481559753418 18.25960540771484 L 19.74236679077148 18.25960540771484 Z">
						</path>
					</svg>
					<svg class="Path_12" viewBox="62.729 19.94 26.627 30.863">
						<path id="Path_12" d="M 81.03533935546875 19.94029998779297 L 81.03533935546875 20.24225234985352 L 79.97568511962891 20.24225234985352 L 79.97568511962891 20.69675064086914 L 79.21986389160156 20.69675064086914 L 79.21986389160156 20.99932861328125 L 78.91728973388672 20.99932861328125 L 78.91728973388672 21.30191040039063 L 78.61470794677734 21.30191040039063 L 78.61470794677734 21.75577926635742 L 78.16020965576172 21.75577926635742 L 78.16020965576172 22.05772399902344 L 77.8582763671875 22.05772399902344 L 77.8582763671875 22.36093902587891 L 77.10181427001953 22.36093902587891 L 77.10181427001953 22.81480407714844 L 76.79861450195313 22.81480407714844 L 76.79861450195313 23.11738204956055 L 76.34537506103516 23.11738204956055 L 76.34537506103516 23.57125091552734 L 76.04279327392578 23.57125091552734 L 76.04279327392578 23.87320327758789 L 75.74021148681641 23.87320327758789 L 75.74021148681641 24.17640686035156 L 75.28633880615234 24.17640686035156 L 75.28633880615234 24.62965393066406 L 74.98312377929688 24.62965393066406 L 74.98312377929688 24.932861328125 L 74.68119049072266 24.932861328125 L 74.68119049072266 25.38673400878906 L 74.22732543945313 25.38673400878906 L 74.22732543945313 25.68930816650391 L 73.92474365234375 25.68930816650391 L 73.92474365234375 25.99188995361328 L 73.47086334228516 25.99188995361328 L 73.47086334228516 26.44512176513672 L 73.16828918457031 26.44512176513672 L 73.16828918457031 26.74833679199219 L 72.86570739746094 26.74833679199219 L 72.86570739746094 27.05028533935547 L 72.41120910644531 27.05028533935547 L 72.41120910644531 27.50477981567383 L 72.1092529296875 27.50477981567383 L 72.1092529296875 27.80673217773438 L 71.35280609130859 27.80673217773438 L 71.35280609130859 28.56380844116211 L 71.05023956298828 28.56380844116211 L 71.05023956298828 28.86639022827148 L 70.59574127197266 28.86639022827148 L 70.59574127197266 29.32025909423828 L 69.99057769775391 29.32025909423828 L 69.99057769775391 29.92541885375977 L 69.53733825683594 29.92541885375977 L 69.53733825683594 30.68186187744141 L 68.78089141845703 30.68186187744141 L 68.78089141845703 31.1357307434082 L 68.47830963134766 31.1357307434082 L 68.47830963134766 31.74089050292969 L 68.17572784423828 31.74089050292969 L 68.17572784423828 32.49734115600586 L 67.72186279296875 32.49734115600586 L 67.72186279296875 32.79928970336914 L 67.41865539550781 32.79928970336914 L 67.41865539550781 33.2537841796875 L 67.11670684814453 33.2537841796875 L 67.11670684814453 33.55636596679688 L 66.66282653808594 33.55636596679688 L 66.66282653808594 34.31281280517578 L 65.90637969970703 34.31281280517578 L 65.90637969970703 35.06925964355469 L 65.30123901367188 35.06925964355469 L 65.30123901367188 35.82570648193359 L 64.84672546386719 35.82570648193359 L 64.84672546386719 36.12828826904297 L 64.54477691650391 36.12828826904297 L 64.54477691650391 36.43086624145508 L 64.24156951904297 36.43086624145508 L 64.24156951904297 36.88473510742188 L 63.788330078125 36.88473510742188 L 63.788330078125 37.18668746948242 L 63.48575592041016 37.18668746948242 L 63.48575592041016 37.48989105224609 L 63.03125762939453 37.48989105224609 L 63.03125762939453 38.70021820068359 L 64.24156951904297 38.70021820068359 L 64.24156951904297 39.00216293334961 L 65.30123901367188 39.00216293334961 L 65.30123901367188 39.30537033081055 L 67.11670684814453 39.30537033081055 L 67.11670684814453 39.75860977172852 L 67.41865539550781 39.75860977172852 L 67.41865539550781 40.06182098388672 L 67.72186279296875 40.06182098388672 L 67.72186279296875 39.75860977172852 L 68.17572784423828 39.75860977172852 L 68.17572784423828 40.06182098388672 L 68.78089141845703 40.06182098388672 L 68.78089141845703 40.36376571655273 L 69.99057769775391 40.36376571655273 L 69.99057769775391 40.81826782226563 L 70.29377746582031 40.81826782226563 L 70.29377746582031 41.1208381652832 L 68.17572784423828 41.1208381652832 L 68.17572784423828 40.81826782226563 L 67.11670684814453 40.81826782226563 L 67.11670684814453 40.36376571655273 L 65.60380554199219 40.36376571655273 L 65.60380554199219 40.06182098388672 L 63.788330078125 40.06182098388672 L 63.788330078125 39.75860977172852 L 62.72930908203125 39.75860977172852 L 62.72930908203125 40.06182098388672 L 63.03125762939453 40.06182098388672 L 63.03125762939453 40.36376571655273 L 63.788330078125 40.36376571655273 L 63.788330078125 40.81826782226563 L 64.54477691650391 40.81826782226563 L 64.54477691650391 41.1208381652832 L 65.30123901367188 41.1208381652832 L 65.30123901367188 41.5740852355957 L 64.84672546386719 41.5740852355957 L 64.84672546386719 41.87729263305664 L 66.66282653808594 41.87729263305664 L 66.66282653808594 42.17924499511719 L 67.41865539550781 42.17924499511719 L 67.41865539550781 42.63374328613281 L 68.78089141845703 42.63374328613281 L 68.78089141845703 42.93568801879883 L 69.234130859375 42.93568801879883 L 69.234130859375 43.23889923095703 L 69.99057769775391 43.23889923095703 L 69.99057769775391 43.69277191162109 L 70.29377746582031 43.69277191162109 L 70.29377746582031 43.9953498840332 L 71.05023956298828 43.9953498840332 L 71.05023956298828 44.44921875 L 71.35280609130859 44.44921875 L 71.35280609130859 44.75116729736328 L 71.80605316162109 44.75116729736328 L 71.80605316162109 44.44921875 L 72.1092529296875 44.44921875 L 72.1092529296875 44.75116729736328 L 72.41120910644531 44.75116729736328 L 72.41120910644531 45.05437469482422 L 72.86570739746094 45.05437469482422 L 72.86570739746094 45.50824737548828 L 73.47086334228516 45.50824737548828 L 73.47086334228516 45.81082153320313 L 74.22732543945313 45.81082153320313 L 74.22732543945313 46.11339950561523 L 74.68119049072266 46.11339950561523 L 74.68119049072266 46.56664276123047 L 75.28633880615234 46.56664276123047 L 75.28633880615234 46.86985015869141 L 75.74021148681641 46.86985015869141 L 75.74021148681641 47.32308959960938 L 76.34537506103516 47.32308959960938 L 76.34537506103516 47.62630462646484 L 77.10181427001953 47.62630462646484 L 77.10181427001953 47.92824554443359 L 77.8582763671875 47.92824554443359 L 77.8582763671875 48.38274765014648 L 78.61470794677734 48.38274765014648 L 78.61470794677734 48.68532943725586 L 78.91728973388672 48.68532943725586 L 78.91728973388672 49.13856887817383 L 79.67373657226563 49.13856887817383 L 79.67373657226563 49.4417724609375 L 79.97568511962891 49.4417724609375 L 79.97568511962891 49.74372482299805 L 81.03533935546875 49.74372482299805 L 81.03533935546875 50.19821929931641 L 82.24565887451172 50.19821929931641 L 82.24565887451172 50.50016784667969 L 84.36309051513672 50.50016784667969 L 84.36309051513672 50.80337905883789 L 85.72470092773438 50.80337905883789 L 85.72470092773438 50.50016784667969 L 87.23822784423828 50.50016784667969 L 87.23822784423828 50.19821929931641 L 86.78434753417969 50.19821929931641 L 86.78434753417969 49.74372482299805 L 86.48178100585938 49.74372482299805 L 86.48178100585938 49.4417724609375 L 85.72470092773438 49.4417724609375 L 85.72470092773438 49.74372482299805 L 85.42274475097656 49.74372482299805 L 85.42274475097656 49.4417724609375 L 84.36309051513672 49.4417724609375 L 84.36309051513672 49.13856887817383 L 83.90985107421875 49.13856887817383 L 83.90985107421875 49.4417724609375 L 83.60726928710938 49.4417724609375 L 83.60726928710938 49.13856887817383 L 82.850830078125 49.13856887817383 L 82.850830078125 48.68532943725586 L 81.79179382324219 48.68532943725586 L 81.79179382324219 48.38274765014648 L 80.73275756835938 48.38274765014648 L 80.73275756835938 47.92824554443359 L 80.43018341064453 47.92824554443359 L 80.43018341064453 47.62630462646484 L 79.21986389160156 47.62630462646484 L 79.21986389160156 47.32308959960938 L 78.16020965576172 47.32308959960938 L 78.16020965576172 46.56664276123047 L 77.10181427001953 46.56664276123047 L 77.10181427001953 46.11339950561523 L 76.79861450195313 46.11339950561523 L 76.79861450195313 45.81082153320313 L 76.34537506103516 45.81082153320313 L 76.34537506103516 45.50824737548828 L 75.74021148681641 45.50824737548828 L 75.74021148681641 45.05437469482422 L 74.98312377929688 45.05437469482422 L 74.98312377929688 44.75116729736328 L 74.22732543945313 44.75116729736328 L 74.22732543945313 44.44921875 L 73.92474365234375 44.44921875 L 73.92474365234375 43.9953498840332 L 73.16828918457031 43.9953498840332 L 73.16828918457031 43.69277191162109 L 72.86570739746094 43.69277191162109 L 72.86570739746094 43.23889923095703 L 71.80605316162109 43.23889923095703 L 71.80605316162109 42.63374328613281 L 71.05023956298828 42.63374328613281 L 71.05023956298828 42.17924499511719 L 70.59574127197266 42.17924499511719 L 70.59574127197266 41.87729263305664 L 70.29377746582031 41.87729263305664 L 70.29377746582031 42.17924499511719 L 69.99057769775391 42.17924499511719 L 69.99057769775391 41.87729263305664 L 69.53733825683594 41.87729263305664 L 69.53733825683594 41.5740852355957 L 70.29377746582031 41.5740852355957 L 70.29377746582031 41.1208381652832 L 70.59574127197266 41.1208381652832 L 70.59574127197266 40.81826782226563 L 71.05023956298828 40.81826782226563 L 71.05023956298828 41.1208381652832 L 71.35280609130859 41.1208381652832 L 71.35280609130859 41.5740852355957 L 72.41120910644531 41.5740852355957 L 72.41120910644531 42.17924499511719 L 73.47086334228516 42.17924499511719 L 73.47086334228516 42.63374328613281 L 73.92474365234375 42.63374328613281 L 73.92474365234375 42.93568801879883 L 74.22732543945313 42.93568801879883 L 74.22732543945313 43.23889923095703 L 74.98312377929688 43.23889923095703 L 74.98312377929688 43.69277191162109 L 75.28633880615234 43.69277191162109 L 75.28633880615234 43.9953498840332 L 76.34537506103516 43.9953498840332 L 76.34537506103516 44.75116729736328 L 77.10181427001953 44.75116729736328 L 77.10181427001953 45.05437469482422 L 77.8582763671875 45.05437469482422 L 77.8582763671875 45.50824737548828 L 78.61470794677734 45.50824737548828 L 78.61470794677734 45.81082153320313 L 78.91728973388672 45.81082153320313 L 78.91728973388672 46.11339950561523 L 79.67373657226563 46.11339950561523 L 79.67373657226563 46.56664276123047 L 80.43018341064453 46.56664276123047 L 80.43018341064453 46.86985015869141 L 80.73275756835938 46.86985015869141 L 80.73275756835938 47.32308959960938 L 81.79179382324219 47.32308959960938 L 81.79179382324219 47.62630462646484 L 82.24565887451172 47.62630462646484 L 82.24565887451172 47.92824554443359 L 83.3046875 47.92824554443359 L 83.3046875 48.38274765014648 L 84.66629791259766 48.38274765014648 L 84.66629791259766 48.68532943725586 L 86.17919158935547 48.68532943725586 L 86.17919158935547 49.13856887817383 L 87.99467468261719 49.13856887817383 L 87.99467468261719 48.68532943725586 L 89.05369567871094 48.68532943725586 L 89.05369567871094 47.92824554443359 L 89.35627746582031 47.92824554443359 L 89.35627746582031 44.75116729736328 L 89.05369567871094 44.75116729736328 L 89.05369567871094 43.9953498840332 L 88.59983825683594 43.9953498840332 L 88.59983825683594 43.69277191162109 L 88.29725646972656 43.69277191162109 L 88.29725646972656 43.23889923095703 L 87.99467468261719 43.23889923095703 L 87.99467468261719 42.93568801879883 L 87.54018402099609 42.93568801879883 L 87.54018402099609 42.63374328613281 L 87.23822784423828 42.63374328613281 L 87.23822784423828 42.17924499511719 L 86.48178100585938 42.17924499511719 L 86.48178100585938 41.87729263305664 L 86.17919158935547 41.87729263305664 L 86.17919158935547 41.5740852355957 L 85.42274475097656 41.5740852355957 L 85.42274475097656 40.81826782226563 L 84.36309051513672 40.81826782226563 L 84.36309051513672 40.36376571655273 L 83.90985107421875 40.36376571655273 L 83.90985107421875 40.06182098388672 L 85.72470092773438 40.06182098388672 L 85.72470092773438 39.75860977172852 L 83.90985107421875 39.75860977172852 L 83.90985107421875 40.06182098388672 L 83.60726928710938 40.06182098388672 L 83.60726928710938 39.75860977172852 L 82.850830078125 39.75860977172852 L 82.850830078125 39.30537033081055 L 82.54762268066406 39.30537033081055 L 82.54762268066406 38.70021820068359 L 81.79179382324219 38.70021820068359 L 81.79179382324219 38.2463493347168 L 81.03533935546875 38.2463493347168 L 81.03533935546875 37.48989105224609 L 80.43018341064453 37.48989105224609 L 80.43018341064453 37.18668746948242 L 79.97568511962891 37.18668746948242 L 79.97568511962891 36.88473510742188 L 79.67373657226563 36.88473510742188 L 79.67373657226563 36.12828826904297 L 79.21986389160156 36.12828826904297 L 79.21986389160156 35.82570648193359 L 78.61470794677734 35.82570648193359 L 78.61470794677734 35.37120819091797 L 78.16020965576172 35.37120819091797 L 78.16020965576172 35.06925964355469 L 77.8582763671875 35.06925964355469 L 77.8582763671875 34.00960540771484 L 77.5550537109375 34.00960540771484 L 77.5550537109375 32.19413375854492 L 77.8582763671875 32.19413375854492 L 77.8582763671875 30.68186187744141 L 78.16020965576172 30.68186187744141 L 78.16020965576172 29.92541885375977 L 78.91728973388672 29.92541885375977 L 78.91728973388672 28.86639022827148 L 79.21986389160156 28.86639022827148 L 79.21986389160156 28.56380844116211 L 79.67373657226563 28.56380844116211 L 79.67373657226563 27.80673217773438 L 79.97568511962891 27.80673217773438 L 79.97568511962891 27.50477981567383 L 80.43018341064453 27.50477981567383 L 80.43018341064453 26.74833679199219 L 80.73275756835938 26.74833679199219 L 80.73275756835938 26.44512176513672 L 81.03533935546875 26.44512176513672 L 81.03533935546875 25.68930816650391 L 81.48921966552734 25.68930816650391 L 81.48921966552734 24.932861328125 L 81.79179382324219 24.932861328125 L 81.79179382324219 24.17640686035156 L 82.24565887451172 24.17640686035156 L 82.24565887451172 23.57125091552734 L 82.54762268066406 23.57125091552734 L 82.54762268066406 22.81480407714844 L 82.850830078125 22.81480407714844 L 82.850830078125 22.36093902587891 L 82.54762268066406 22.36093902587891 L 82.54762268066406 22.05772399902344 L 82.850830078125 22.05772399902344 L 82.850830078125 20.24225234985352 L 82.54762268066406 20.24225234985352 L 82.54762268066406 19.94029998779297 L 81.03533935546875 19.94029998779297 Z">
						</path>
					</svg>
					<svg class="Path_13" viewBox="36.569 20.42 2.421 1.513">
						<path id="Path_13" d="M 36.56909561157227 20.41979789733887 L 36.56909561157227 21.1762523651123 L 36.87104415893555 21.1762523651123 L 36.87104415893555 21.47946166992188 L 37.62812042236328 21.47946166992188 L 37.62812042236328 21.93269920349121 L 38.98973083496094 21.93269920349121 L 38.98973083496094 21.47946166992188 L 38.68715286254883 21.47946166992188 L 38.68715286254883 21.1762523651123 L 37.62812042236328 21.1762523651123 L 37.62812042236328 20.87430000305176 L 36.87104415893555 20.87430000305176 L 36.87104415893555 20.41979789733887 L 36.56909561157227 20.41979789733887 Z">
						</path>
					</svg>
					<svg class="Path_14" viewBox="93.689 23.3 3.934 8.624">
						<path id="Path_14" d="M 96.86630249023438 23.29970741271973 L 96.86630249023438 23.6022891998291 L 96.563720703125 23.6022891998291 L 96.563720703125 25.41776657104492 L 96.10985565185547 25.41776657104492 L 96.10985565185547 26.62808609008789 L 95.80664825439453 26.62808609008789 L 95.80664825439453 27.23324203491211 L 95.35340118408203 27.23324203491211 L 95.35340118408203 28.29227066040039 L 95.05081939697266 28.29227066040039 L 95.05081939697266 28.74676513671875 L 94.74824523925781 28.74676513671875 L 94.74824523925781 29.50321578979492 L 94.29437255859375 29.50321578979492 L 94.29437255859375 30.10837554931641 L 93.99116516113281 30.10837554931641 L 93.99116516113281 30.86419296264648 L 93.68921661376953 30.86419296264648 L 93.68921661376953 31.92384719848633 L 93.99116516113281 31.92384719848633 L 93.99116516113281 31.16677093505859 L 94.29437255859375 31.16677093505859 L 94.29437255859375 30.86419296264648 L 94.74824523925781 30.86419296264648 L 94.74824523925781 30.10837554931641 L 95.05081939697266 30.10837554931641 L 95.05081939697266 29.50321578979492 L 95.80664825439453 29.50321578979492 L 95.80664825439453 29.04871368408203 L 96.10985565185547 29.04871368408203 L 96.10985565185547 28.29227066040039 L 96.563720703125 28.29227066040039 L 96.563720703125 27.68711090087891 L 96.86630249023438 27.68711090087891 L 96.86630249023438 26.93128967285156 L 97.16825866699219 26.93128967285156 L 97.16825866699219 25.41776657104492 L 97.62274932861328 25.41776657104492 L 97.62274932861328 24.35937118530273 L 97.16825866699219 24.35937118530273 L 97.16825866699219 23.29970741271973 L 96.86630249023438 23.29970741271973 Z">
						</path>
					</svg>
					<svg class="Path_15" viewBox="87.209 35.78 2.27 2.875">
						<path id="Path_15" d="M 89.02406311035156 35.78010559082031 L 89.02406311035156 36.23397827148438 L 88.72210693359375 36.23397827148438 L 88.72210693359375 36.53655624389648 L 87.96504211425781 36.53655624389648 L 87.96504211425781 36.99042510986328 L 87.6630859375 36.99042510986328 L 87.6630859375 37.2923698425293 L 87.96504211425781 37.2923698425293 L 87.96504211425781 37.5955810546875 L 87.6630859375 37.5955810546875 L 87.6630859375 38.35202789306641 L 87.20858764648438 38.35202789306641 L 87.20858764648438 38.65461730957031 L 88.26823425292969 38.65461730957031 L 88.26823425292969 38.35202789306641 L 88.72210693359375 38.35202789306641 L 88.72210693359375 37.5955810546875 L 89.02406311035156 37.5955810546875 L 89.02406311035156 36.23397827148438 L 89.47856140136719 36.23397827148438 L 89.47856140136719 35.78010559082031 L 89.02406311035156 35.78010559082031 Z">
						</path>
					</svg>
					<svg class="Rectangle_3">
						<rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="0.454" height="0.454">
						</rect>
					</svg>
					<svg class="Path_16" viewBox="92.489 41.54 10.438 9.077">
						<path id="Path_16" d="M 93.24566650390625 41.53990173339844 L 93.24566650390625 41.99376678466797 L 92.79179382324219 41.99376678466797 L 92.79179382324219 42.29634857177734 L 92.48919677734375 42.29634857177734 L 92.48919677734375 42.59892272949219 L 92.79179382324219 42.59892272949219 L 92.79179382324219 43.05280303955078 L 93.24566650390625 43.05280303955078 L 93.24566650390625 43.80987548828125 L 93.85079956054688 43.80987548828125 L 93.85079956054688 44.11182403564453 L 94.3046875 44.11182403564453 L 94.3046875 44.41503143310547 L 94.90983581542969 44.41503143310547 L 94.90983581542969 44.86827087402344 L 95.66629028320313 44.86827087402344 L 95.66629028320313 45.17086029052734 L 96.12014770507813 45.17086029052734 L 96.12014770507813 45.47343444824219 L 97.17918395996094 45.47343444824219 L 97.17918395996094 45.92730712890625 L 97.48176574707031 45.92730712890625 L 97.48176574707031 46.22988128662109 L 98.23822021484375 46.22988128662109 L 98.23822021484375 46.68374633789063 L 98.54014587402344 46.68374633789063 L 98.54014587402344 46.986328125 L 99.2972412109375 46.986328125 L 99.2972412109375 47.28890991210938 L 98.99465942382813 47.28890991210938 L 98.99465942382813 47.74277496337891 L 100.0536956787109 47.74277496337891 L 100.0536956787109 48.04535675048828 L 100.3562622070313 48.04535675048828 L 100.3562622070313 48.34793090820313 L 100.6588439941406 48.34793090820313 L 100.6588439941406 48.80243682861328 L 101.1120758056641 48.80243682861328 L 101.1120758056641 49.10438537597656 L 101.4152984619141 49.10438537597656 L 101.4152984619141 49.55825042724609 L 101.8691558837891 49.55825042724609 L 101.8691558837891 49.86083221435547 L 102.1717376708984 49.86083221435547 L 102.1717376708984 50.16340637207031 L 102.4743347167969 50.16340637207031 L 102.4743347167969 50.61727905273438 L 102.9275665283203 50.61727905273438 L 102.9275665283203 49.86083221435547 L 102.4743347167969 49.86083221435547 L 102.4743347167969 49.10438537597656 L 102.1717376708984 49.10438537597656 L 102.1717376708984 48.80243682861328 L 101.8691558837891 48.80243682861328 L 101.8691558837891 48.34793090820313 L 101.4152984619141 48.34793090820313 L 101.4152984619141 48.04535675048828 L 101.1120758056641 48.04535675048828 L 101.1120758056641 47.74277496337891 L 100.6588439941406 47.74277496337891 L 100.6588439941406 46.986328125 L 100.3562622070313 46.986328125 L 100.3562622070313 46.68374633789063 L 99.59982299804688 46.68374633789063 L 99.59982299804688 46.22988128662109 L 99.2972412109375 46.22988128662109 L 99.2972412109375 45.47343444824219 L 98.99465942382813 45.47343444824219 L 98.99465942382813 45.17086029052734 L 98.54014587402344 45.17086029052734 L 98.54014587402344 44.86827087402344 L 97.78434753417969 44.86827087402344 L 97.78434753417969 44.41503143310547 L 97.48176574707031 44.41503143310547 L 97.48176574707031 44.11182403564453 L 97.17918395996094 44.11182403564453 L 97.17918395996094 43.80987548828125 L 96.4227294921875 43.80987548828125 L 96.4227294921875 43.35538482666016 L 96.12014770507813 43.35538482666016 L 96.12014770507813 43.05280303955078 L 95.36306762695313 43.05280303955078 L 95.36306762695313 42.59892272949219 L 94.90983581542969 42.59892272949219 L 94.90983581542969 42.29634857177734 L 93.85079956054688 42.29634857177734 L 93.85079956054688 41.99376678466797 L 93.54759216308594 41.99376678466797 L 93.54759216308594 41.53990173339844 L 93.24566650390625 41.53990173339844 Z">
						</path>
					</svg>
					<svg class="Path_17" viewBox="15.929 42.74 19.819 20.878">
						<path id="Path_17" d="M 17.74477386474609 42.74010467529297 L 17.74477386474609 43.49655532836914 L 19.56025123596191 43.49655532836914 L 19.56025123596191 43.79912948608398 L 20.92185974121094 43.79912948608398 L 20.92185974121094 44.25300216674805 L 21.67767333984375 44.25300216674805 L 21.67767333984375 44.55558013916016 L 20.6192798614502 44.55558013916016 L 20.6192798614502 44.25300216674805 L 18.80380249023438 44.25300216674805 L 18.80380249023438 43.79912948608398 L 17.29027557373047 43.79912948608398 L 17.29027557373047 44.25300216674805 L 16.23188018798828 44.25300216674805 L 16.23188018798828 44.55558013916016 L 15.92930030822754 44.55558013916016 L 15.92930030822754 46.67362976074219 L 16.23188018798828 46.67362976074219 L 16.23188018798828 47.42945098876953 L 16.68511772155762 47.42945098876953 L 16.68511772155762 47.732666015625 L 16.98832893371582 47.732666015625 L 16.98832893371582 48.18653106689453 L 17.74477386474609 48.18653106689453 L 17.74477386474609 48.48911285400391 L 18.04672431945801 48.48911285400391 L 18.04672431945801 48.79169082641602 L 18.50059509277344 48.79169082641602 L 18.50059509277344 49.24555587768555 L 18.80380249023438 49.24555587768555 L 18.80380249023438 49.54814147949219 L 19.10638236999512 49.54814147949219 L 19.10638236999512 49.24555587768555 L 19.56025123596191 49.24555587768555 L 19.56025123596191 50.00200271606445 L 20.31669998168945 50.00200271606445 L 20.31669998168945 50.30458068847656 L 20.92185974121094 50.30458068847656 L 20.92185974121094 50.60652542114258 L 21.3757266998291 50.60652542114258 L 21.3757266998291 51.06103134155273 L 21.98088455200195 51.06103134155273 L 21.98088455200195 51.36362075805664 L 22.43412590026855 51.36362075805664 L 22.43412590026855 51.66618728637695 L 22.73733520507813 51.66618728637695 L 22.73733520507813 52.12005996704102 L 23.19120407104492 52.12005996704102 L 23.19120407104492 52.42263412475586 L 23.49378204345703 52.42263412475586 L 23.49378204345703 52.87650680541992 L 23.79636192321777 52.87650680541992 L 23.79636192321777 53.48166275024414 L 24.24960136413574 53.48166275024414 L 24.24960136413574 54.54069137573242 L 24.55281066894531 54.54069137573242 L 24.55281066894531 55.29713821411133 L 24.24960136413574 55.29713821411133 L 24.24960136413574 55.75100326538086 L 23.79636192321777 55.75100326538086 L 23.79636192321777 55.29713821411133 L 23.49378204345703 55.29713821411133 L 23.49378204345703 54.99393081665039 L 23.79636192321777 54.99393081665039 L 23.79636192321777 54.54069137573242 L 23.49378204345703 54.54069137573242 L 23.49378204345703 54.99393081665039 L 22.73733520507813 54.99393081665039 L 22.73733520507813 56.35617446899414 L 22.43412590026855 56.35617446899414 L 22.43412590026855 57.11262130737305 L 22.73733520507813 57.11262130737305 L 22.73733520507813 56.8100471496582 L 23.19120407104492 56.8100471496582 L 23.19120407104492 56.05359268188477 L 23.49378204345703 56.05359268188477 L 23.49378204345703 55.75100326538086 L 23.79636192321777 55.75100326538086 L 23.79636192321777 56.8100471496582 L 23.49378204345703 56.8100471496582 L 23.49378204345703 57.11262130737305 L 23.19120407104492 57.11262130737305 L 23.19120407104492 57.56648635864258 L 22.73733520507813 57.56648635864258 L 22.73733520507813 58.1710090637207 L 22.43412590026855 58.1710090637207 L 22.43412590026855 58.62551498413086 L 21.98088455200195 58.62551498413086 L 21.98088455200195 59.68454360961914 L 21.67767333984375 59.68454360961914 L 21.67767333984375 59.98711776733398 L 21.3757266998291 59.98711776733398 L 21.3757266998291 60.74356460571289 L 20.92185974121094 60.74356460571289 L 20.92185974121094 61.80259323120117 L 20.6192798614502 61.80259323120117 L 20.6192798614502 63.31548690795898 L 20.92185974121094 63.31548690795898 L 20.92185974121094 63.61806869506836 L 22.43412590026855 63.61806869506836 L 22.43412590026855 63.31548690795898 L 22.73733520507813 63.31548690795898 L 22.73733520507813 62.86162948608398 L 23.19120407104492 62.86162948608398 L 23.19120407104492 62.55841445922852 L 23.49378204345703 62.55841445922852 L 23.49378204345703 62.10516738891602 L 23.79636192321777 62.10516738891602 L 23.79636192321777 61.80259323120117 L 24.55281066894531 61.80259323120117 L 24.55281066894531 61.5000114440918 L 24.85475921630859 61.5000114440918 L 24.85475921630859 61.04614639282227 L 25.30925750732422 61.04614639282227 L 25.30925750732422 60.74356460571289 L 25.61120414733887 60.74356460571289 L 25.61120414733887 60.44099044799805 L 26.0650749206543 60.44099044799805 L 26.0650749206543 59.98711776733398 L 26.67086601257324 59.98711776733398 L 26.67086601257324 59.68454360961914 L 27.12473106384277 59.68454360961914 L 27.12473106384277 58.9280891418457 L 27.42667961120605 58.9280891418457 L 27.42667961120605 58.62551498413086 L 27.72989082336426 58.62551498413086 L 27.72989082336426 58.1710090637207 L 28.48634147644043 58.1710090637207 L 28.48634147644043 57.56648635864258 L 28.94020652770996 57.56648635864258 L 28.94020652770996 57.11262130737305 L 29.24215888977051 57.11262130737305 L 29.24215888977051 56.8100471496582 L 29.54536628723145 56.8100471496582 L 29.54536628723145 56.35617446899414 L 29.99860954284668 56.35617446899414 L 29.99860954284668 55.75100326538086 L 30.30181312561035 55.75100326538086 L 30.30181312561035 55.29713821411133 L 30.75568580627441 55.29713821411133 L 30.75568580627441 54.99393081665039 L 31.05825996398926 54.99393081665039 L 31.05825996398926 54.54069137573242 L 31.36083793640137 54.54069137573242 L 31.36083793640137 54.23810958862305 L 31.8140811920166 54.23810958862305 L 31.8140811920166 53.9355354309082 L 32.1172981262207 53.9355354309082 L 32.1172981262207 53.1790885925293 L 32.41924285888672 53.1790885925293 L 32.41924285888672 52.87650680541992 L 32.87374114990234 52.87650680541992 L 32.87374114990234 52.42263412475586 L 33.17568969726563 52.42263412475586 L 33.17568969726563 52.12005996704102 L 33.62955856323242 52.12005996704102 L 33.62955856323242 51.66618728637695 L 33.93276596069336 51.66618728637695 L 33.93276596069336 51.36362075805664 L 34.2353515625 51.36362075805664 L 34.2353515625 51.06103134155273 L 34.6892204284668 51.06103134155273 L 34.6892204284668 50.60652542114258 L 34.99116516113281 50.60652542114258 L 34.99116516113281 50.30458068847656 L 34.6892204284668 50.30458068847656 L 34.6892204284668 50.00200271606445 L 35.29438018798828 50.00200271606445 L 35.29438018798828 49.54814147949219 L 35.74823760986328 49.54814147949219 L 35.74823760986328 49.24555587768555 L 34.6892204284668 49.24555587768555 L 34.6892204284668 48.79169082641602 L 34.2353515625 48.79169082641602 L 34.2353515625 49.24555587768555 L 33.93276596069336 49.24555587768555 L 33.93276596069336 48.79169082641602 L 33.62955856323242 48.79169082641602 L 33.62955856323242 48.48911285400391 L 32.1172981262207 48.48911285400391 L 32.1172981262207 48.18653106689453 L 31.05825996398926 48.18653106689453 L 31.05825996398926 47.732666015625 L 30.75568580627441 47.732666015625 L 30.75568580627441 47.42945098876953 L 29.99860954284668 47.42945098876953 L 29.99860954284668 47.12750625610352 L 29.54536628723145 47.12750625610352 L 29.54536628723145 46.67362976074219 L 28.94020652770996 46.67362976074219 L 28.94020652770996 46.37105178833008 L 28.48634147644043 46.37105178833008 L 28.48634147644043 45.91718292236328 L 27.72989082336426 45.91718292236328 L 27.72989082336426 45.61460494995117 L 27.12473106384277 45.61460494995117 L 27.12473106384277 45.31202697753906 L 26.67086601257324 45.31202697753906 L 26.67086601257324 44.858154296875 L 25.61120414733887 44.858154296875 L 25.61120414733887 44.55558013916016 L 25.30925750732422 44.55558013916016 L 25.30925750732422 44.25300216674805 L 24.55281066894531 44.25300216674805 L 24.55281066894531 43.79912948608398 L 23.19120407104492 43.79912948608398 L 23.19120407104492 43.49655532836914 L 21.67767333984375 43.49655532836914 L 21.67767333984375 43.04204940795898 L 20.92185974121094 43.04204940795898 L 20.92185974121094 42.74010467529297 L 20.6192798614502 42.74010467529297 L 20.6192798614502 43.04204940795898 L 19.8621997833252 43.04204940795898 L 19.8621997833252 42.74010467529297 L 17.74477386474609 42.74010467529297 Z">
						</path>
					</svg>
					<svg class="Path_18" viewBox="11.849 43.22 1.815 2.572">
						<path id="Path_18" d="M 12.90812873840332 43.21958923339844 L 12.90812873840332 43.67408752441406 L 12.60554885864258 43.67408752441406 L 12.60554885864258 43.97604370117188 L 12.30297088623047 43.97604370117188 L 12.30297088623047 44.73249053955078 L 11.84910011291504 44.73249053955078 L 11.84910011291504 45.48957061767578 L 12.30297088623047 45.48957061767578 L 12.30297088623047 45.79151916503906 L 12.60554885864258 45.79151916503906 L 12.60554885864258 45.48957061767578 L 12.90812873840332 45.48957061767578 L 12.90812873840332 43.97604370117188 L 13.36199569702148 43.97604370117188 L 13.36199569702148 43.67408752441406 L 13.66457748413086 43.67408752441406 L 13.66457748413086 43.21958923339844 L 12.90812873840332 43.21958923339844 Z">
						</path>
					</svg>
					<svg class="Path_19" viewBox="25.529 45.141 2.269 1.664">
						<path id="Path_19" d="M 25.52910232543945 45.1405029296875 L 25.98297119140625 45.1405029296875 L 25.98297119140625 45.44244766235352 L 26.28554916381836 45.44244766235352 L 26.28554916381836 45.74566268920898 L 27.34457778930664 45.74566268920898 L 27.34457778930664 46.19953155517578 L 27.79844665527344 46.19953155517578 L 27.79844665527344 46.50148010253906 L 27.34457778930664 46.50148010253906 L 27.34457778930664 46.8046875 L 27.04199981689453 46.8046875 L 27.04199981689453 46.50148010253906 L 26.73941421508789 46.50148010253906 L 26.73941421508789 46.19953155517578 L 25.52910232543945 46.19953155517578 L 25.52910232543945 45.1405029296875 Z">
						</path>
					</svg>
					<svg class="Path_20" viewBox="29.129 47.3 7.111 3.632">
						<path id="Path_20" d="M 29.12870025634766 47.29970550537109 L 30.18835830688477 47.29970550537109 L 30.18835830688477 47.60227966308594 L 30.94417953491211 47.60227966308594 L 30.94417953491211 48.05615234375 L 31.24675369262695 48.05615234375 L 31.24675369262695 48.35936737060547 L 32.30578231811523 48.35936737060547 L 32.30578231811523 48.81259918212891 L 32.60899353027344 48.81259918212891 L 32.60899353027344 49.11518096923828 L 33.81867980957031 49.11518096923828 L 33.81867980957031 49.41775512695313 L 34.12125778198242 49.41775512695313 L 34.12125778198242 49.87162017822266 L 35.18091201782227 49.87162017822266 L 35.18091201782227 50.17483520507813 L 35.9373664855957 50.17483520507813 L 35.9373664855957 50.47678375244141 L 36.23931121826172 50.47678375244141 L 36.23931121826172 50.93128204345703 L 35.18091201782227 50.93128204345703 L 35.18091201782227 50.47678375244141 L 33.81867980957031 50.47678375244141 L 33.81867980957031 50.17483520507813 L 33.36543655395508 50.17483520507813 L 33.36543655395508 49.87162017822266 L 32.60899353027344 49.87162017822266 L 32.60899353027344 49.41775512695313 L 32.00383758544922 49.41775512695313 L 32.00383758544922 49.11518096923828 L 31.24675369262695 49.11518096923828 L 31.24675369262695 48.81259918212891 L 30.49031066894531 48.81259918212891 L 30.49031066894531 48.35936737060547 L 30.18835830688477 48.35936737060547 L 30.18835830688477 48.05615234375 L 29.43128204345703 48.05615234375 L 29.43128204345703 47.60227966308594 L 29.12870025634766 47.60227966308594 L 29.12870025634766 47.29970550537109 Z">
						</path>
					</svg>
					<svg class="Path_21" viewBox="13.529 47.78 2.875 3.631">
						<path id="Path_21" d="M 13.52910041809082 47.78010559082031 L 13.52910041809082 48.99042510986328 L 13.98296737670898 48.99042510986328 L 13.98296737670898 50.04945373535156 L 14.28554916381836 50.04945373535156 L 14.28554916381836 50.35203552246094 L 15.0419979095459 50.35203552246094 L 15.0419979095459 50.65460968017578 L 15.34457588195801 50.65460968017578 L 15.34457588195801 51.10848236083984 L 15.7984447479248 51.10848236083984 L 15.7984447479248 51.41106414794922 L 16.40360069274902 51.41106414794922 L 16.40360069274902 51.10848236083984 L 16.10102272033691 51.10848236083984 L 16.10102272033691 50.65460968017578 L 15.7984447479248 50.65460968017578 L 15.7984447479248 50.35203552246094 L 15.34457588195801 50.35203552246094 L 15.34457588195801 50.04945373535156 L 15.0419979095459 50.04945373535156 L 15.0419979095459 49.29237365722656 L 14.73941612243652 49.29237365722656 L 14.73941612243652 48.53656005859375 L 14.28554916381836 48.53656005859375 L 14.28554916381836 47.78010559082031 L 13.52910041809082 47.78010559082031 Z">
						</path>
					</svg>
					<svg class="Path_22" viewBox="61.049 50.66 0.756 0.756">
						<path id="Path_22" d="M 61.04860305786133 50.65999984741211 L 61.04860305786133 51.11386489868164 L 61.3511848449707 51.11386489868164 L 61.3511848449707 51.41644668579102 L 61.80504989624023 51.41644668579102 L 61.80504989624023 51.11386489868164 L 61.3511848449707 51.11386489868164 L 61.3511848449707 50.65999984741211 L 61.04860305786133 50.65999984741211 Z">
						</path>
					</svg>
					<svg class="Path_23" viewBox="41.129 52.34 1.06 0.756">
						<path id="Path_23" d="M 41.12870788574219 52.33970642089844 L 41.43128204345703 52.33970642089844 L 41.43128204345703 52.79421234130859 L 42.1883544921875 52.79421234130859 L 42.1883544921875 53.09616088867188 L 41.12870788574219 53.09616088867188 L 41.12870788574219 52.33970642089844 Z">
						</path>
					</svg>
					<svg class="Path_24" viewBox="102.809 53.06 3.933 5.748">
						<path id="Path_24" d="M 102.8092956542969 53.06040954589844 L 102.8092956542969 53.36236572265625 L 103.1112365722656 53.36236572265625 L 103.1112365722656 53.81623077392578 L 103.4144592285156 53.81623077392578 L 103.4144592285156 54.87589263916016 L 103.8683166503906 54.87589263916016 L 103.8683166503906 55.17783355712891 L 104.1708984375 55.17783355712891 L 104.1708984375 55.48104858398438 L 104.4734802246094 55.48104858398438 L 104.4734802246094 56.23749542236328 L 104.9267272949219 56.23749542236328 L 104.9267272949219 56.99330902099609 L 105.2299194335938 56.99330902099609 L 105.2299194335938 57.29653167724609 L 105.6837921142578 57.29653167724609 L 105.6837921142578 58.05297088623047 L 105.9863739013672 58.05297088623047 L 105.9863739013672 58.80879211425781 L 106.7421875 58.80879211425781 L 106.7421875 57.29653167724609 L 106.2889556884766 57.29653167724609 L 106.2889556884766 56.69136047363281 L 105.9863739013672 56.69136047363281 L 105.9863739013672 55.93491363525391 L 105.6837921142578 55.93491363525391 L 105.6837921142578 55.48104858398438 L 105.2299194335938 55.48104858398438 L 105.2299194335938 55.17783355712891 L 104.9267272949219 55.17783355712891 L 104.9267272949219 54.87589263916016 L 104.4734802246094 54.87589263916016 L 104.4734802246094 54.42139434814453 L 104.1708984375 54.42139434814453 L 104.1708984375 53.81623077392578 L 103.4144592285156 53.81623077392578 L 103.4144592285156 53.36236572265625 L 103.1112365722656 53.36236572265625 L 103.1112365722656 53.06040954589844 L 102.8092956542969 53.06040954589844 Z">
						</path>
					</svg>
					<svg class="Path_25" viewBox="43.289 53.54 1.513 0.756">
						<path id="Path_25" d="M 43.28881072998047 53.53990173339844 L 44.80170440673828 53.53990173339844 L 44.80170440673828 53.99376678466797 L 44.34846496582031 53.99376678466797 L 44.34846496582031 54.29634857177734 L 44.04525756835938 54.29634857177734 L 44.04525756835938 53.99376678466797 L 43.28881072998047 53.99376678466797 L 43.28881072998047 53.53990173339844 Z">
						</path>
					</svg>
					<svg class="Path_26" viewBox="43.288 58.82 23.451 21.483">
						<path id="Path_26" d="M 50.55084228515625 58.8201904296875 L 50.55084228515625 60.48438262939453 L 50.09634399414063 60.48438262939453 L 50.09634399414063 62.29985809326172 L 49.79438400268555 62.29985809326172 L 49.79438400268555 64.11470031738281 L 49.49118041992188 64.11470031738281 L 49.49118041992188 64.87178039550781 L 49.03794097900391 64.87178039550781 L 49.03794097900391 65.17436218261719 L 49.49118041992188 65.17436218261719 L 49.49118041992188 65.62823486328125 L 49.03794097900391 65.62823486328125 L 49.03794097900391 65.93080902099609 L 48.73535919189453 65.93080902099609 L 48.73535919189453 66.98983764648438 L 48.28086090087891 66.98983764648438 L 48.28086090087891 68.04887390136719 L 47.97891616821289 68.04887390136719 L 47.97891616821289 68.50209808349609 L 47.67570495605469 68.50209808349609 L 47.67570495605469 69.25918579101563 L 47.22246932983398 69.25918579101563 L 47.22246932983398 69.86434173583984 L 46.91925811767578 69.86434173583984 L 46.91925811767578 70.62078857421875 L 46.61730575561523 70.62078857421875 L 46.61730575561523 71.67918395996094 L 46.16343688964844 71.67918395996094 L 46.16343688964844 72.13368225097656 L 45.86085891723633 72.13368225097656 L 45.86085891723633 73.19270324707031 L 45.40699005126953 73.19270324707031 L 45.40699005126953 74.25110626220703 L 45.10378265380859 74.25110626220703 L 45.10378265380859 75.00818634033203 L 44.80183029174805 75.00818634033203 L 44.80183029174805 75.61335754394531 L 45.10378265380859 75.61335754394531 L 45.10378265380859 76.06658172607422 L 44.80183029174805 76.06658172607422 L 44.80183029174805 77.12623596191406 L 44.34796142578125 77.12623596191406 L 44.34796142578125 76.36979675292969 L 44.04538726806641 76.36979675292969 L 44.04538726806641 75.61335754394531 L 44.34796142578125 75.61335754394531 L 44.34796142578125 74.25110626220703 L 44.80183029174805 74.25110626220703 L 44.80183029174805 73.19270324707031 L 45.10378265380859 73.19270324707031 L 45.10378265380859 72.13368225097656 L 45.40699005126953 72.13368225097656 L 45.40699005126953 70.92337036132813 L 45.86085891723633 70.92337036132813 L 45.86085891723633 70.62078857421875 L 46.16343688964844 70.62078857421875 L 46.16343688964844 69.56175994873047 L 46.61730575561523 69.56175994873047 L 46.61730575561523 68.50209808349609 L 46.91925811767578 68.50209808349609 L 46.91925811767578 68.04887390136719 L 47.22246932983398 68.04887390136719 L 47.22246932983398 66.98983764648438 L 47.67570495605469 66.98983764648438 L 47.67570495605469 65.93080902099609 L 48.28086090087891 65.93080902099609 L 48.28086090087891 64.56920623779297 L 48.73535919189453 64.56920623779297 L 48.73535919189453 63.50954437255859 L 49.03794097900391 63.50954437255859 L 49.03794097900391 63.05631256103516 L 49.49118041992188 63.05631256103516 L 49.49118041992188 61.24082946777344 L 49.79438400268555 61.24082946777344 L 49.79438400268555 59.42535400390625 L 50.09634399414063 59.42535400390625 L 50.09634399414063 59.12213897705078 L 49.79438400268555 59.12213897705078 L 49.79438400268555 59.42535400390625 L 49.49118041992188 59.42535400390625 L 49.49118041992188 60.48438262939453 L 49.03794097900391 60.48438262939453 L 49.03794097900391 61.69469451904297 L 48.73535919189453 61.69469451904297 L 48.73535919189453 62.29985809326172 L 48.28086090087891 62.29985809326172 L 48.28086090087891 63.05631256103516 L 47.97891616821289 63.05631256103516 L 47.97891616821289 64.11470031738281 L 47.67570495605469 64.11470031738281 L 47.67570495605469 64.87178039550781 L 47.22246932983398 64.87178039550781 L 47.22246932983398 65.62823486328125 L 46.91925811767578 65.62823486328125 L 46.91925811767578 66.38468170166016 L 46.61730575561523 66.38468170166016 L 46.61730575561523 67.44369506835938 L 46.16343688964844 67.44369506835938 L 46.16343688964844 68.04887390136719 L 45.86085891723633 68.04887390136719 L 45.86085891723633 68.80530548095703 L 45.40699005126953 68.80530548095703 L 45.40699005126953 69.56175994873047 L 45.10378265380859 69.56175994873047 L 45.10378265380859 70.62078857421875 L 44.80183029174805 70.62078857421875 L 44.80183029174805 70.92337036132813 L 44.34796142578125 70.92337036132813 L 44.34796142578125 72.13368225097656 L 44.04538726806641 72.13368225097656 L 44.04538726806641 73.49529266357422 L 43.74217224121094 73.49529266357422 L 43.74217224121094 73.94915008544922 L 43.28830718994141 73.94915008544922 L 43.28830718994141 77.12623596191406 L 43.74217224121094 77.12623596191406 L 43.74217224121094 78.48784637451172 L 44.04538726806641 78.48784637451172 L 44.04538726806641 77.42882537841797 L 44.80183029174805 77.42882537841797 L 44.80183029174805 79.24365234375 L 45.10378265380859 79.24365234375 L 45.10378265380859 79.69816589355469 L 45.40699005126953 79.69816589355469 L 45.40699005126953 80.00074005126953 L 46.16343688964844 80.00074005126953 L 46.16343688964844 80.30332183837891 L 47.22246932983398 80.30332183837891 L 47.22246932983398 80.00074005126953 L 48.28086090087891 80.00074005126953 L 48.28086090087891 79.69816589355469 L 49.03794097900391 79.69816589355469 L 49.03794097900391 78.48784637451172 L 49.79438400268555 78.48784637451172 L 49.79438400268555 77.42882537841797 L 50.09634399414063 77.42882537841797 L 50.09634399414063 77.12623596191406 L 50.55084228515625 77.12623596191406 L 50.55084228515625 76.36979675292969 L 50.85279083251953 76.36979675292969 L 50.85279083251953 76.06658172607422 L 51.30665588378906 76.06658172607422 L 51.30665588378906 75.31076812744141 L 51.60986328125 75.31076812744141 L 51.60986328125 74.55430603027344 L 51.91244506835938 74.55430603027344 L 51.91244506835938 74.25110626220703 L 52.36631011962891 74.25110626220703 L 52.36631011962891 73.19270324707031 L 52.97146606445313 73.19270324707031 L 52.97146606445313 72.43625640869141 L 53.42534637451172 72.43625640869141 L 53.42534637451172 72.13368225097656 L 53.72791290283203 72.13368225097656 L 53.72791290283203 71.37723541259766 L 54.18178558349609 71.37723541259766 L 54.18178558349609 70.92337036132813 L 54.48373413085938 70.92337036132813 L 54.48373413085938 70.62078857421875 L 54.78694915771484 70.62078857421875 L 54.78694915771484 70.31820678710938 L 55.84534454345703 70.31820678710938 L 55.84534454345703 69.86434173583984 L 57.05565643310547 69.86434173583984 L 57.05565643310547 70.31820678710938 L 58.11531829833984 70.31820678710938 L 58.11531829833984 70.62078857421875 L 58.41727447509766 70.62078857421875 L 58.41727447509766 70.92337036132813 L 59.4769287109375 70.92337036132813 L 59.4769287109375 71.67918395996094 L 60.53595733642578 71.67918395996094 L 60.53595733642578 72.13368225097656 L 60.98982238769531 72.13368225097656 L 60.98982238769531 72.43625640869141 L 62.04822540283203 72.43625640869141 L 62.04822540283203 72.73883819580078 L 62.80467224121094 72.73883819580078 L 62.80467224121094 73.19270324707031 L 63.10787200927734 73.19270324707031 L 63.10787200927734 73.49529266357422 L 64.62014770507813 73.49529266357422 L 64.62014770507813 73.94915008544922 L 66.28495788574219 73.94915008544922 L 66.28495788574219 73.19270324707031 L 66.73883056640625 73.19270324707031 L 66.73883056640625 72.43625640869141 L 66.28495788574219 72.43625640869141 L 66.28495788574219 72.13368225097656 L 65.98175048828125 72.13368225097656 L 65.98175048828125 71.67918395996094 L 65.67979431152344 71.67918395996094 L 65.67979431152344 70.92337036132813 L 65.22529602050781 70.92337036132813 L 65.22529602050781 70.62078857421875 L 64.92335510253906 70.62078857421875 L 64.92335510253906 69.86434173583984 L 64.16690063476563 69.86434173583984 L 64.16690063476563 69.56175994873047 L 63.86431884765625 69.56175994873047 L 63.86431884765625 68.80530548095703 L 63.40982818603516 68.80530548095703 L 63.40982818603516 68.50209808349609 L 62.80467224121094 68.50209808349609 L 62.80467224121094 68.04887390136719 L 62.35143280029297 68.04887390136719 L 62.35143280029297 67.74629211425781 L 62.04822540283203 67.74629211425781 L 62.04822540283203 66.98983764648438 L 60.98982238769531 66.98983764648438 L 60.98982238769531 66.38468170166016 L 60.53595733642578 66.38468170166016 L 60.53595733642578 65.93080902099609 L 60.23274230957031 65.93080902099609 L 60.23274230957031 65.62823486328125 L 59.4769287109375 65.62823486328125 L 59.4769287109375 65.17436218261719 L 59.17433929443359 65.17436218261719 L 59.17433929443359 64.87178039550781 L 58.72048187255859 64.87178039550781 L 58.72048187255859 64.56920623779297 L 58.41727447509766 64.56920623779297 L 58.41727447509766 64.11470031738281 L 58.11531829833984 64.11470031738281 L 58.11531829833984 63.81275939941406 L 57.66082000732422 63.81275939941406 L 57.66082000732422 63.50954437255859 L 57.05565643310547 63.50954437255859 L 57.05565643310547 63.05631256103516 L 56.60242462158203 63.05631256103516 L 56.60242462158203 62.75373077392578 L 55.84534454345703 62.75373077392578 L 55.84534454345703 62.29985809326172 L 55.24019622802734 62.29985809326172 L 55.24019622802734 61.69469451904297 L 54.48373413085938 61.69469451904297 L 54.48373413085938 61.24082946777344 L 54.18178558349609 61.24082946777344 L 54.18178558349609 60.9376220703125 L 53.42534637451172 60.9376220703125 L 53.42534637451172 60.48438262939453 L 52.97146606445313 60.48438262939453 L 52.97146606445313 60.18180084228516 L 52.36631011962891 60.18180084228516 L 52.36631011962891 59.42535400390625 L 51.60986328125 59.42535400390625 L 51.60986328125 59.12213897705078 L 51.30665588378906 59.12213897705078 L 51.30665588378906 58.8201904296875 L 50.55084228515625 58.8201904296875 Z">
						</path>
					</svg>
					<svg class="Path_27" viewBox="106.649 62.66 2.572 3.631">
						<path id="Path_27" d="M 108.464599609375 62.66001129150391 L 108.464599609375 63.11387634277344 L 108.1620178222656 63.11387634277344 L 108.1620178222656 63.41646575927734 L 107.7081756591797 63.41646575927734 L 107.7081756591797 63.71903991699219 L 108.1620178222656 63.71903991699219 L 108.1620178222656 64.47549438476563 L 107.7081756591797 64.47549438476563 L 107.7081756591797 64.92936706542969 L 107.4055633544922 64.92936706542969 L 107.4055633544922 65.53450775146484 L 107.1029968261719 65.53450775146484 L 107.1029968261719 65.98838806152344 L 106.6491241455078 65.98838806152344 L 106.6491241455078 66.29096221923828 L 107.4055633544922 66.29096221923828 L 107.4055633544922 65.98838806152344 L 107.7081756591797 65.98838806152344 L 107.7081756591797 65.53450775146484 L 108.1620178222656 65.53450775146484 L 108.1620178222656 65.23194122314453 L 108.464599609375 65.23194122314453 L 108.464599609375 64.47549438476563 L 108.9184875488281 64.47549438476563 L 108.9184875488281 64.17290496826172 L 109.2210540771484 64.17290496826172 L 109.2210540771484 63.71903991699219 L 108.9184875488281 63.71903991699219 L 108.9184875488281 62.66001129150391 L 108.464599609375 62.66001129150391 Z">
						</path>
					</svg>
					<svg class="Path_28" viewBox="23.849 75.38 3.328 1.665">
						<path id="Path_28" d="M 26.72340393066406 75.37970733642578 L 26.72340393066406 75.68228149414063 L 26.11824417114258 75.68228149414063 L 26.11824417114258 75.98487091064453 L 24.6053466796875 75.98487091064453 L 24.6053466796875 76.43936920166016 L 23.84889793395996 76.43936920166016 L 23.84889793395996 76.74131774902344 L 24.6053466796875 76.74131774902344 L 24.6053466796875 77.04452514648438 L 25.36179351806641 77.04452514648438 L 25.36179351806641 76.74131774902344 L 25.66437530517578 76.74131774902344 L 25.66437530517578 76.43936920166016 L 26.42145156860352 76.43936920166016 L 26.42145156860352 75.98487091064453 L 26.72340393066406 75.98487091064453 L 26.72340393066406 75.68228149414063 L 27.17726898193359 75.68228149414063 L 27.17726898193359 75.37970733642578 L 26.72340393066406 75.37970733642578 Z">
						</path>
					</svg>
					<svg class="Path_29" viewBox="79.289 75.86 2.118 3.631">
						<path id="Path_29" d="M 79.28880310058594 75.86021423339844 L 79.28880310058594 76.61666870117188 L 79.59138488769531 76.61666870117188 L 79.59138488769531 77.22181701660156 L 80.04524230957031 77.22181701660156 L 80.04524230957031 78.43214416503906 L 80.34846496582031 78.43214416503906 L 80.34846496582031 79.49116516113281 L 81.10427856445313 79.49116516113281 L 81.10427856445313 79.03729248046875 L 81.40684509277344 79.03729248046875 L 81.40684509277344 78.73471069335938 L 81.10427856445313 78.73471069335938 L 81.10427856445313 77.22181701660156 L 80.80169677734375 77.22181701660156 L 80.80169677734375 76.61666870117188 L 80.34846496582031 76.61666870117188 L 80.34846496582031 76.16215515136719 L 80.04524230957031 76.16215515136719 L 80.04524230957031 75.86021423339844 L 79.28880310058594 75.86021423339844 Z">
						</path>
					</svg>
					<svg class="Path_30" viewBox="63.93 77.54 2.117 1.513">
						<path id="Path_30" d="M 64.23185729980469 77.53990173339844 L 64.23185729980469 77.84247589111328 L 63.92989730834961 77.84247589111328 L 63.92989730834961 78.29635620117188 L 64.23185729980469 78.29635620117188 L 64.23185729980469 78.59892272949219 L 64.98829650878906 78.59892272949219 L 64.98829650878906 79.05280303955078 L 66.04731750488281 79.05280303955078 L 66.04731750488281 78.29635620117188 L 64.98829650878906 78.29635620117188 L 64.98829650878906 77.84247589111328 L 64.68572998046875 77.84247589111328 L 64.68572998046875 77.53990173339844 L 64.23185729980469 77.53990173339844 Z">
						</path>
					</svg>
					<svg class="Path_31" viewBox="20.969 78.74 2.875 1.059">
						<path id="Path_31" d="M 20.9694995880127 78.7401123046875 L 20.9694995880127 79.49655914306641 L 21.42336845397949 79.49655914306641 L 21.42336845397949 79.79913330078125 L 23.84400177001953 79.79913330078125 L 23.84400177001953 79.49655914306641 L 23.23884391784668 79.49655914306641 L 23.23884391784668 79.04205322265625 L 22.78497695922852 79.04205322265625 L 22.78497695922852 79.49655914306641 L 22.1798152923584 79.49655914306641 L 22.1798152923584 79.04205322265625 L 21.72531700134277 79.04205322265625 L 21.72531700134277 78.7401123046875 L 20.9694995880127 78.7401123046875 Z">
						</path>
					</svg>
					<svg class="Path_32" viewBox="83.369 78.74 1.362 4.236">
						<path id="Path_32" d="M 83.6719970703125 78.7401123046875 L 83.6719970703125 82.67363739013672 L 83.36941528320313 82.67363739013672 L 83.36941528320313 82.97621917724609 L 83.97393798828125 82.97621917724609 L 83.97393798828125 82.67363739013672 L 84.73101806640625 82.67363739013672 L 84.73101806640625 80.10171508789063 L 84.42781066894531 80.10171508789063 L 84.42781066894531 79.49655914306641 L 83.97393798828125 79.49655914306641 L 83.97393798828125 78.7401123046875 L 83.6719970703125 78.7401123046875 Z">
						</path>
					</svg>
					<svg class="Path_33" viewBox="70.169 84.98 2.118 1.512">
						<path id="Path_33" d="M 70.47177886962891 84.98031616210938 L 70.92565155029297 84.98031616210938 L 70.92565155029297 85.28227233886719 L 71.22822570800781 85.28227233886719 L 71.22822570800781 85.73614501953125 L 71.98403930664063 85.73614501953125 L 71.98403930664063 86.03933715820313 L 72.28726196289063 86.03933715820313 L 72.28726196289063 86.49258422851563 L 71.53080749511719 86.49258422851563 L 71.53080749511719 86.03933715820313 L 70.47177886962891 86.03933715820313 L 70.47177886962891 85.73614501953125 L 70.16920471191406 85.73614501953125 L 70.16920471191406 85.28227233886719 L 70.47177886962891 85.28227233886719 L 70.47177886962891 84.98031616210938 Z">
						</path>
					</svg>
					<svg class="Path_34" viewBox="49.049 89.54 4.69 3.934">
						<path id="Path_34" d="M 52.98233795166016 89.53988647460938 L 52.98233795166016 90.29635620117188 L 52.68038940429688 90.29635620117188 L 52.68038940429688 90.59892272949219 L 52.22589111328125 90.59892272949219 L 52.22589111328125 91.05278778076172 L 51.6207275390625 91.05278778076172 L 51.6207275390625 91.657958984375 L 51.16685485839844 91.657958984375 L 51.16685485839844 92.11182403564453 L 50.41041564941406 92.11182403564453 L 50.41041564941406 92.41502380371094 L 49.35137939453125 92.41502380371094 L 49.35137939453125 92.71697998046875 L 49.04880523681641 92.71697998046875 L 49.04880523681641 93.17085266113281 L 49.35137939453125 93.17085266113281 L 49.35137939453125 93.47341918945313 L 50.10782623291016 93.47341918945313 L 50.10782623291016 93.17085266113281 L 51.16685485839844 93.17085266113281 L 51.16685485839844 92.71697998046875 L 51.6207275390625 92.71697998046875 L 51.6207275390625 92.41502380371094 L 51.92330932617188 92.41502380371094 L 51.92330932617188 92.11182403564453 L 52.22589111328125 92.11182403564453 L 52.22589111328125 91.657958984375 L 52.68038940429688 91.657958984375 L 52.68038940429688 91.35537719726563 L 52.98233795166016 91.35537719726563 L 52.98233795166016 91.05278778076172 L 53.43620300292969 91.05278778076172 L 53.43620300292969 90.29635620117188 L 53.73877716064453 90.29635620117188 L 53.73877716064453 89.53988647460938 L 52.98233795166016 89.53988647460938 Z">
						</path>
					</svg>
					<svg class="Rectangle_4">
						<rect id="Rectangle_4" rx="0" ry="0" x="0" y="0" width="0.454" height="0.302">
						</rect>
					</svg>
					<svg class="Rectangle_5">
						<rect id="Rectangle_5" rx="0" ry="0" x="0" y="0" width="0.303" height="0.454">
						</rect>
					</svg>
					<svg class="Rectangle_6">
						<rect id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="0.302" height="0.302">
						</rect>
					</svg>
					<svg class="Rectangle_7">
						<rect id="Rectangle_7" rx="0" ry="0" x="0" y="0" width="0.454" height="0.303">
						</rect>
					</svg>
					<div id="Group_4">
						<img id="Group_3" src="\themes\Okmaster\img\sterilization\Group_3.png" srcset="\themes\Okmaster\img\sterilization\Group_3.png 1x, Group_3@2x.png 2x">


					</div>
				</div>
			</div>
			<div id="Group_7">
				<img id="Group_6" src="\themes\Okmaster\img\sterilization\Group_6.png" srcset="\themes\Okmaster\img\sterilization\Group_6.png 1x, Group_6@2x.png 2x">


			</div>
		</div>
	</div>
	<div id="Group_1324">
		<svg class="Rectangle_1891">
			<rect id="Rectangle_1891" rx="28" ry="28" x="0" y="0" width="204" height="56">
			</rect>
		</svg>
		<div id="_fa">
			<span>清淨滅菌</span>
		</div>
	</div>
	<div id="Group_525">
		<svg class="Rectangle_925">
			<rect id="Rectangle_925" rx="34" ry="34" x="0" y="0" width="578" height="374">
			</rect>
		</svg>
		<div id="Group_491">
			<img id="Image" src="\themes\Okmaster\img\sterilization\Image.png" srcset="\themes\Okmaster\img\sterilization\Image.png 1x, Image@2x.png 2x">

			<div id="Group_472">
				<svg class="Polygon_1_fg" viewBox="0 0 33.687 27.959">
					<path id="Polygon_1_fg" d="M 16.84356117248535 0 L 33.6871223449707 27.95913505554199 L 0 27.95913505554199 Z">
					</path>
				</svg>
				<svg class="Ellipse_8_fh">
					<ellipse id="Ellipse_8_fh" rx="34.5" ry="35.5" cx="34.5" cy="35.5">
					</ellipse>
				</svg>
			</div>
		</div>
	</div>
	<div id="Group_525_fi">
		<svg class="Rectangle_925_fj">
			<rect id="Rectangle_925_fj" rx="34" ry="34" x="0" y="0" width="578" height="374">
			</rect>
		</svg>
		<div id="Group_491_fk">
			<img id="Image_fl" src="\themes\Okmaster\img\sterilization\Image_fl.png" srcset="\themes\Okmaster\img\sterilization\Image_fl.png 1x, Image_fl@2x.png 2x">

			<div id="Group_472_fm">
				<svg class="Polygon_1_fn" viewBox="0 0 33.687 27.959">
					<path id="Polygon_1_fn" d="M 16.84356117248535 0 L 33.6871223449707 27.95913505554199 L 0 27.95913505554199 Z">
					</path>
				</svg>
				<svg class="Ellipse_8_fo">
					<ellipse id="Ellipse_8_fo" rx="34.5" ry="35.5" cx="34.5" cy="35.5">
					</ellipse>
				</svg>
			</div>
		</div>
	</div>
	<div id="A1">
		<span>國際推薦A1級環保強效滅菌神物</span>
	</div>
	<div id="Group_1335">
		<div id="Group_1334" class="useful_icon">
			<img id="Image_Group_1334" src="\themes\Okmaster\img\sterilization\Group 1334.svg" srcset="\themes\Okmaster\img\sterilization\Group 1334.svg">
			<div id="_ft">
				<span>可噴灑</span>
			</div>
		</div>
		<div id="Group_1333" class="useful_icon">
			<div id="_fv">
				<span>可擦拭</span>
			</div>
			<img id="Image_Group_1334" src="\themes\Okmaster\img\sterilization\Group 1333.svg" srcset="\themes\Okmaster\img\sterilization\Group 1333.svg">
		</div>
		<div id="Group_1332" class="useful_icon">
			<div id="__f">
				<span>可薰蒸 /氣化</span>
			</div>
			<img id="Image_Group_1334" src="\themes\Okmaster\img\sterilization\Group 1332.svg" srcset="\themes\Okmaster\img\sterilization\Group 1332.svg">
		</div>
		<div id="Group_1331" class="useful_icon">
			<div id="_gb">
				<span>可浸泡</span>
			</div>

				<img id="Image_Group_1334" src="\themes\Okmaster\img\sterilization\Group 1331.svg" srcset="\themes\Okmaster\img\sterilization\Group 1331.svg">

		</div>
	</div>

	<div id="Component_62__1" class="Component_62___1">
		<svg class="Rectangle_926">
			<rect id="Rectangle_926" rx="24" ry="24" x="0" y="0" width="145" height="48">
			</rect>
		</svg>
		<div id="Group_514">
			<div id="_gu">
				<span>快來體驗</span>
			</div>
			<svg class="Path_76" viewBox="693.04 309.627 24.221 22.369">
				<path id="Path_76" d="M 717.261474609375 324.7400207519531 L 717.261474609375 314.9614868164063 L 697.0641479492188 312.7947387695313 C 697.0623168945313 311.6007690429688 697.0592041015625 310.8074340820313 697.052978515625 310.6993408203125 C 697.01318359375 309.9661865234375 696.3761596679688 309.6104125976563 695.7913818359375 309.6275939941406 L 693.6620483398438 309.6275939941406 C 693.3180541992188 309.6275939941406 693.0399780273438 309.9028930664063 693.0399780273438 310.2421264648438 C 693.0399780273438 310.5819396972656 693.3180541992188 310.8565979003906 693.6620483398438 310.8565979003906 L 695.8026123046875 310.8565979003906 L 695.8125610351563 310.8572387695313 C 695.8311767578125 312.0886535644531 695.8175048828125 323.7555847167969 695.81005859375 328.681396484375 C 695.0107421875 329.1951293945313 694.5951538085938 330.3676147460938 694.5951538085938 331.0742797851563 C 694.5951538085938 331.5836791992188 695.01318359375 331.9960327148438 695.5282592773438 331.9960327148438 C 696.0433349609375 331.9960327148438 696.4613647460938 331.5836791992188 696.4613647460938 331.0742797851563 C 696.4613647460938 330.835205078125 696.6424560546875 330.4241333007813 696.78173828125 330.2698974609375 L 713.8780517578125 330.2698974609375 C 714.0180053710938 330.4241333007813 714.1990356445313 330.8358459472656 714.1990356445313 331.0742797851563 C 714.1990356445313 331.5836791992188 714.6170654296875 331.9960327148438 715.1321411132813 331.9960327148438 C 715.647216796875 331.9960327148438 716.065185546875 331.5836791992188 716.065185546875 331.0742797851563 C 716.065185546875 330.1500549316406 715.35791015625 328.4263916015625 714.0062255859375 328.4263916015625 L 697.0548706054688 328.4263916015625 C 697.055419921875 328.04541015625 697.0560302734375 327.5261840820313 697.0567626953125 326.9073486328125 L 717.261474609375 324.7400207519531 Z">
				</path>
			</svg>
		</div>
	</div>
	<div id="_gw">
		<span>一錠搞定!</span>
	</div>
	<div id="WHOA1">
		<span>WHO評定二氧化氯為A1等級安全殺菌，並宣布為第四代安全消毒劑。</span>
	</div>



</div>
