{include file="$tpl_dir./life_go_tab.tpl"}
<div class="t_container main">
  <div class="row">
    {if $lifego_left}
    {include file="$tpl_dir./LifeGo_left.tpl"}
    {/if}
   {$bottom_txt=array("好康","woman","熱銷","精選","限時","強檔","熱門","新掀貨","滿額送","新奇","活動")}
    {$img_name=array("1090922_01","1090922_04","1090922_03","1090922_05","1090922_06","1090922_10","1090922_11","1090922_12","1090922_19","1090922_16","1090922_17")}
    {$bottom_txt=array("","強檔","限時","熱購","滿額送")}
    {$img_name=array("1091022_03.png","1091022_05.png","1090922_17.png","1091006_12.png","1091006_13.png")}




    <div class="t_col_10 right">
      {$i=0}

      <table>
        <tbody>
        <tr>

          <td rowspan="2" class="t_col_50 L_1"><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}" style="width: 100%;height: 456px;">
            <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>{$i=$i+1}

            <td class="t_col_25"><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}" style="width: 100%;height: 100%">
              <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>{$i=$i+1}

            <td class="t_col_25"><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}" style="width: 100%;height: 100%">
              <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>{$i=$i+1}

        </tr>
        <tr>

          <td><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}" style="width: 100%;height: 100%">
            <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>{$i=$i+1}

          <td><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}" style="width: 100%;height: 100%">
            <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>{$i=$i+1}

        </tr>
        </tbody>
      </table>

      <!--
      <table>
      <tbody>
      <tr>
      <td style=""><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}.png" style="width: 100%;">
        <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>
        {$i=$i+1}
      <td style="" colspan="2" rowspan="2"><img src="/themes/LifeHouse/img/lifego/{$img_name[$i]}.png" style="width: 100%;"></td>
      {$i=$i+1}
      <td style=""><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}.png" style="width: 100%;">
        <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>
      </tr>
      <tr>
        {$i=$i+1}
      <td style=""><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}.png" style="width: 100%;">
        <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>
        {$i=$i+1}
      <td style=""><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}.png" style="width: 100%;">
        <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>
      </tr>
      <tr>
        {$i=$i+1}
      <td style=""><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}.png" style="width: 100%;">
        <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>
        {$i=$i+1}
      <td style=""><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}.png" style="width: 100%;">
        <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>
        {$i=$i+1}
      <td style="" colspan="2"><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}.png" style="width: 100%;">
        <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>
      </tr>
      <tr>{$i=$i+1}
      <td style="" colspan="2"><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}.png" style="width: 100%;">
        <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>
        {$i=$i+1}
      <td style=""><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}.png" style="width: 100%;">
        <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>
        {$i=$i+1}
      <td style=""><img alt="{$bottom_txt[$i]}" src="/themes/LifeHouse/img/lifego/{$img_name[$i]}.png" style="width: 100%;">
        <div class="bottom_txt" alt="{$bottom_txt[$i]}">{$bottom_txt[$i]}</div></td>
      </tr>
      </tbody>
      </table>
-->
<!--
      <table>
        <tbody>
          <tr>
            <td colspan="2" rowspan="2"><img src="/themes/LifeHouse/img/lifego/L_go_24.png" style="width: 100%;"></td>
            {$L_go_25='熱銷'}
            <td><img src="/themes/LifeHouse/img/lifego/L_go_25.png" style="width: 100%;">
              <div class="bottom_txt" alt="{$L_go_25}">{$L_go_25}</div>
            </td>
          </tr>
          <tr>
            {$L_go_38='新奇'}
            <td><img src="/themes/LifeHouse/img/lifego/L_go_38.png" style="width: 100%;">
              <div class="bottom_txt" alt="{$L_go_38}">{$L_go_38}</div>
            </td>
          </tr>
          <tr>
            {$L_go_53='精選'}
            <td><img src="/themes/LifeHouse/img/lifego/L_go_53.png" style="width: 100%;">
              <div class="bottom_txt" alt="{$L_go_53}">{$L_go_53}</div>
            </td>
            {$L_go_50='活動'}
            <td><img src="/themes/LifeHouse/img/lifego/L_go_50.png" style="width: 100%;">
              <div class="bottom_txt" alt="{$L_go_50}">{$L_go_50}</div>
            </td>
            {$L_go_52='好康'}
            <td><img src="/themes/LifeHouse/img/lifego/L_go_52.png" style="width: 100%;">
              <div class="bottom_txt" alt="{$L_go_52}">{$L_go_52}</div>
            </td>
          </tr>

        </tbody>
      </table>
-->
      <div class="t_container bottom">
        <div class="happy_shopping_wrap">
          <div class="right_area_wrap">
            <div class="text-center">
              <h2 class="caption {$caption_title1.class}"><span>
                  <img src="{$caption_title1.big_img}" alt="" class=""></span>{$caption_title1.big_tile}
              </h2>
            </div>

            <section class="slider hot regular">
              {foreach $caption_data1 as $key => $value}
              <div class="list">
                <div class="img_frame"><a href="LifeGoProduct?item_id={$value.item_id}"><img src="/themes/LifeHouse/img/lifego/p1.png"></a></div>
                <div class="content_frame">
                  <div style="" class="heart_div">
                    <div class="number">{$value.item_number}</div>
                    <div class="heart">
                      <img src="/themes/LifeHouse/img/lifego/heart.svg" alt="">
                      <div class="quantity">{$value.favorite}</div>
                    </div>
                  </div>

                  <div class="caption"><a href="LifeGoProduct">{$value.main_title}</a></div>
                  <div class="caption2">{$value.title}</div>
                  <div class="heart_wrap top">
                    <div class="price_original">原價 <span class="outer"><span class="inner">{$value.price_original} 元</span></span> </div>

                  </div>
                  <div class="heart_wrap bottom">
                    <div class="text-center price">
                      <span>$ {$value.price}</span>
                    </div>
                  </div>
                </div>
              </div>
              {/foreach}
            </section>

            <div style="margin-bottom: 80px;"></div>

            <div class="text-center">
              <h2 class="caption {$caption_title2.class}"><span>
                  <img src="{$caption_title2.big_img}" alt="" class=""></span>{$caption_title2.big_tile}
              </h2>
            </div>

            <section class="slider offer regular">
              {foreach $caption_data2 as $key => $value}
              <div class="list">
                <div class="img_frame"><a href="LifeGoProduct?item_id={$value.item_id}"><img src="/themes/LifeHouse/img/lifego/p2.png"></a></div>
                <div class="content_frame">
                  <div style="" class="heart_div">
                    <div class="number">{$value.item_number}</div>
                    <div class="heart">
                      <img src="/themes/LifeHouse/img/lifego/heart.svg" alt="">
                      <div class="quantity">{$value.favorite}</div>
                    </div>
                  </div>
                  <div class="caption"><a href="LifeGoProduct">{$value.main_title}</a></div>
                  <div class="caption2">{$value.title}</div>
                  <div class="heart_wrap top">
                    <div class="price_original">原價 <span class="outer"><span class="inner">{$value.price_original}</span></span> 元</div>
                  </div>

                  <div class="heart_wrap bottom">
                    <div class="text-center price">
                      <span>$ {$value.price}</span>
                    </div>
                  </div>

                </div>
              </div>
              {/foreach}
            </section>
            <div style="margin-bottom: 80px;"></div>

            <div class="text-center">
              <h2 class="caption {$caption_title3.class}"><span>
                  <img src="{$caption_title3.big_img}" alt="" class=""></span>{$caption_title3.big_tile}
              </h2>
            </div>

            <section class="slider new regular">
              {foreach $caption_data3 as $key => $value}
              <div class="list">
                <div class="img_frame"><a href="LifeGoProduct?item_id={$value.item_id}"><img src="/themes/LifeHouse/img/lifego/p3.png"></a></div>
                <div class="content_frame">
                  <div style="" class="heart_div">
                    <div class="number">{$value.item_number}</div>
                    <div class="heart">
                      <img src="/themes/LifeHouse/img/lifego/heart.svg" alt="">
                      <div class="quantity">{$value.favorite}</div>
                    </div>
                  </div>

                  <div class="caption"><a href="LifeGoProduct">{$value.main_title}</a></div>
                  <div class="caption2">{$value.title}</div>
                  <div class="heart_wrap top">
                    <div class="price_original">原價 <span class="outer"><span class="inner">{$value.price_original}</span></span> 元</div>
                  </div>

                  <div class="heart_wrap bottom">
                    <div class="text-center price">
                      <span>$ {$value.price}</span>
                    </div>
                  </div>

                </div>
              </div>
              {/foreach}
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  {$js}
  {include file="$tpl_dir./LifeGo_footer.tpl"}
