<div class="item_wrap">
    <div class="title">生活樂購</div>
    <div class="item_list">
        <a {if stristr($ip,'/LifeBuy') } class="active" {/if} href="/LifeBuy">喜愛追蹤</a>
        <i></i>
        <a href="">樂購清單</a>
        <i></i>
        <a href="">購物車</a>
        <i></i>
        <a href="">我的樂購</a>
        <i></i>
        <a href="">常見問題</a>
    </div>
</div>