
<!-- <div class="top_more"><span class="more">挖寶趣 | 交換趣 | 環保捐贈 | 願望清單</span></div> -->

<div class="containerx">
  <div class="row">
      {include file="$tpl_dir./page_left.tpl"}
    <div class="col-8 right_mune">
      <div class="rows_1">
          <div class="content">
              <div class="title_txt">
                <img src="/themes/Okrent/img/index/1090918_10_01.png">
                <span>{$area_title_1}</span>
            </div>
              <div class="news_row">
                <img src="/themes/Okrent/img/index/1090918_10_02.png">
                  <ul class="content_ul">

                      {foreach $area_1 as $key => $value}
                      <li class="content_li">
                          <ul class="content_1">
                              <div class="heart"><a tabindex="0"><i class="far fa-heart"></i></a></div>
                              <div class="share_sicon"><a tabindex="0"><img src="/themes/LifeHouse/img/lifego/share_sicon.svg" alt=""></a></div>
                              <li><a href='/item' target='_blank'><img style="width: 230px;height: 230px;max-width: 100%" src="{$value.img}"></a></li>
                              <li class="sec_r"><div class="L">{$value.product_number}</div><div class="R">{$value.county}{$value.city}</div></li>
                              <li><div class="title"><a href='/item' target='_blank'>{$value.name}</a></div><div class="context"><a href='/item' target='_blank'>{$value.subtitle}</a></div>
                                  <!-- <div class="more"><a href="####">...(詳全文)</a></div> -->
                              </li>
                          </ul>
                      </li>
                      {/foreach}

                  </ul>
                  <span> <a href="####">&lt;</a> <a href="####">1</a> &nbsp; <a href="####">2</a> &nbsp; <a href="####">3</a> <a href="####">&gt;</a> </span>
              </div>



          </div>
      </div>

      <div class="rows_1 nobk">
          <div class="content">
              <div class="title_txt">
                <img src="/themes/Okrent/img/index/1090918_10_01.png">
                <span>{$area_title_2}</span>
            </div>
              <div class="news_row">
                <img src="/themes/Okrent/img/index/1090918_10_02.png">
                  <ul class="content_ul">
                      {foreach $area_2 as $key => $value}
                          <li class="content_li">
                              <ul class="content_1">
                                  <div class="heart"><a tabindex="0"><i class="far fa-heart"></i></a></div>
                                  <div class="share_sicon"><a tabindex="0"><img src="/themes/LifeHouse/img/lifego/share_sicon.svg" alt=""></a></div>
                                  <li><a href='/item' target='_blank'><img style="width: 231px;height: 231px;max-width: 100%" src="{$value.img}"></a></li>
                                  <li class="sec_r"><div class="L">{$value.product_number}</div><div class="R">{$value.county}{$value.city}</div></li>
                                  <li><div class="title"><a href='/item' target='_blank'>{$value.name}</a></div><div class="context"><a href='/item' target='_blank'>{$value.subtitle}</a></div>
                                      <!-- <div class="more"><a href="####">...(詳全文)</a></div> -->
                                  </li>
                              </ul>
                          </li>
                      {/foreach}
                  </ul>
                  <span> <a href="####">&lt;</a> <a href="####">1</a> &nbsp; <a href="####">2</a> &nbsp; <a href="####">3</a> <a href="####">&gt;</a> </span>
              </div>



          </div>
      </div>

      <div class="rows_1">
          <div class="content">
              <div class="title_txt">
                <img src="/themes/Okrent/img/index/1090918_10_01.png">
                <span>{$area_title_3}</span>
            </div>
              <div class="news_row">
                <img src="/themes/Okrent/img/index/1090918_10_02.png">
                  <ul class="content_ul">
                      {foreach $area_3 as $key => $value}
                          <li class="content_li">
                              <ul class="content_1">
                                  <div class="heart"><a tabindex="0"><i class="far fa-heart"></i></a></div>
                                  <div class="share_sicon"><a tabindex="0"><img src="/themes/LifeHouse/img/lifego/share_sicon.svg" alt=""></a></div>
                                  <li><a href='/item' target='_blank'><img style="width: 230px;height: 230px;max-width: 100%" src="{$value.img}"></a></li>
                                  <li class="sec_r"><div class="L">{$value.product_number}</div><div class="R">{$value.county}{$value.city}</div></li>
                                  <li><div class="title"><a href='/item' target='_blank'>{$value.name}</a></div><div class="context"><a href='/item' target='_blank'>{$value.subtitle}</a></div>
                                      <!-- <div class="more"><a href="####">...(詳全文)</a></div> -->
                                  </li>
                              </ul>
                          </li>
                      {/foreach}
                  </ul>
                  <span> <a href="####">&lt;</a> <a href="####">1</a> &nbsp; <a href="####">2</a> &nbsp; <a href="####">3</a> <a href="####">&gt;</a> </span>
              </div>
          </div>
      </div>
      {if $area_title_4}
      <div class="rows_1 nobk">
          <div class="content">
              <div class="title_txt">
                <img src="/themes/Okrent/img/index/1090918_10_01.png">
                <span>{$area_title_4}</span>
            </div>
              <div class="news_row">
                <img src="/themes/Okrent/img/index/1090918_10_02.png">
                  <ul class="content_ul">
                      {foreach $area_3 as $key => $value}
                          <li class="content_li">
                              <ul class="content_1">
                                  <div class="heart"><a tabindex="0"><i class="far fa-heart"></i></a></div>
                                  <div class="share_sicon"><a tabindex="0"><img src="/themes/LifeHouse/img/lifego/share_sicon.svg" alt=""></a></div>
                                  <li><a href='/item' target='_blank'><img style="width: 230px;height: 230px;max-width: 100%" src="{$value.img}"></a></li>
                                  <li class="sec_r"><div class="L">{$value.product_number}</div><div class="R">{$value.county}{$value.city}</div></li>
                                  <li><div class="title"><a href='/item' target='_blank'>{$value.name}</a></div><div class="context"><a href='/item' target='_blank'>{$value.subtitle}</a></div>
                                      <!-- <div class="more"><a href="####">...(詳全文)</a></div> -->
                                  </li>
                              </ul>
                          </li>
                      {/foreach}
                  </ul>
                  <span> <a href="####">&lt;</a> <a href="####">1</a> &nbsp; <a href="####">2</a> &nbsp; <a href="####">3</a> <a href="####">&gt;</a> </span>
              </div>
          </div>
      </div>
      {/if}
    </div>
  </div>
</div>


{$js}
