@charset "utf-8";
.About {
    width: 90%;
    position: relative;
    /*padding-top: 110px;*/
    overflow: hidden;
    background-color: #fff;
    letter-spacing: 1px;
}

body .display_content > article {

    margin-bottom: 0px;
}

.item_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0px auto 40px;
    padding: 0px 70px 0px 15px;
}

.item_wrap:after{
    content: "";
    flex: auto;
    width: 70%;
    height: 1px;
    position: absolute;
    background: #aaa;
}

.item_wrap .title{
    width: unset;
    padding-right: 15px;
    background: #fff;
    z-index: 1;
    color: var(--main_color1);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

.item_wrap .item_list {
    width: unset;
    padding-left: 15px;
    align-items: unset;
    justify-content: unset;
    margin: unset;
    background: #fff;
    z-index: 1;
    display: flex;
}

.item_wrap .item_list a{
    text-align: center;
    width: 120px;
    position: relative;
    color: var(--text_light_color);
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
}

.item_wrap .item_list a:after{
    display: none;
}

.item_wrap .item_list i{
    width: 1px;
    height: 25px;
    background: #888;
}

.item_wrap .item_list a.active {
    color: #555;
    font-size: 1.2em;
    line-height: 1.2em;
}

.item_wrap .item_list a:hover{
    color: var(--main_color1);
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    overflow-x: hidden;
}

.text-muted {
    color: #777;
    font-size: 18px;
    margin-top: 15px;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff;
}

.btn-xl {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}

.navbar-default {
    background-color: #222;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: #fed136;
    font-family: 'Noto Sans TC', sans-serif;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}

.navbar-default .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #fed136;
    outline: 0;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: 0;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        background-color: #222;
        padding: 10px 0;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    /* background-image: url(/themes/Rent/img/about/2021204/header-bg.jpg); */
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    font-family: 'Noto Sans TC', sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

header .intro-text .intro-heading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header .intro-text .intro-lead-in {
        font-family: 'Noto Sans TC', sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        font-family: 'Noto Sans TC', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}

section {
    padding: 100px 0;
    /* padding:0; */
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border-bottom: 2px dotted #e1e1e1; */
    border-bottom: 2px dotted #999;
    padding: 30px 0px 15px 0px;
}

section h3.section-subheading {
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    /* font-style: italic; */
    font-weight: 500;
    /* margin-bottom: 75px; */
    margin-top: 15px;
    /* color: #fff; */
    color: #333;
}

@media (min-width: 768px) {
    section {
        /* padding: 150px 0; */
        padding: 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(254, 209, 54, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 480px;
    margin: 0 auto;
    /* background-color: #fff; */
    text-align: center;
    padding: 25px;
}

#portfolio2 .portfolio-item .portfolio-caption {
    max-width: 480px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 0px;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-family: 'Noto Sans TC', sans-serif;
    /* font-style: italic; */
    font-size: 16px;
    /* margin: 0; */
    margin: 15px;
}

#portfolio * {
    z-index: 2;
}

.portfolio-link img {
    margin-top: 20px;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #68aef0;
    left: 40px;
    margin-left: -1.5px;
}

.timeline>li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
    font-size: 40px;
    font-weight: 700;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline>li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #fbbb2c;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
}

.timeline>li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
    color: #615c5c;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
        font-size: 45px;
        font-weight: 700;
    }
    .timeline>li .timeline-panel {
        width: 50%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: left;
    }
    .timeline>li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
    }
    .timeline>li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
        padding: 0 0px 20px 20px;
        margin-right: -60px;
    }
}

@media (min-width: 992px) {
    .timeline>li {
        min-height: 150px;
        font-size: 50px;
        font-weight: 700;
        padding-top: 50px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 80px;
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline>li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline>li {
        min-height: 170px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    text-align: center;
    margin-bottom: 50px;
}

.team-member img {
    margin: 0 auto;
    border: 1px solid #e1e1e1;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}

section#contact {
    background-color: #fec503;
    /* background-image: url(/themes/Rent/img/about/2021204/map-image.png); */
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #333;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact :-moz-placeholder {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact ::-moz-placeholder {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact :-ms-input-placeholder {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    /* padding: 0px 0px 25px 0; */
    text-align: center;
}

footer span.copyright {
    line-height: 40px;
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: 'Noto Sans TC', sans-serif;
    font-style: italic;
    font-size: 16px;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none;
}

 ::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

 ::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #fed136;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.m00 {
    margin: 0px;
}

.m30 {
    margin: 30px;
}

.m030 {
    margin: 0px 30px;
}

.m00300 {
    margin: 0px 0px 30px 0px;
}

.m300 {
    margin: 30px 0px;
}

.m60 {
    margin: 60px;
}

.m600150 {
    margin: 60px 0px 15px 0px;
}

.m600300 {
    margin: 60px 0px 30px 0px;
}

.m0606060 {
    margin: 0px 60px 60px 60px;
}

.m10606060 {
    margin: 10px 60px 60px 60px;
}

.m1000300 {
    margin: 100px 0px 30px 0px;
}

.m15 {
    margin: 15px;
}

.m00150 {
    margin: 0px 0px 15px 0px;
}

.m00300 {
    margin: 0px 0px 30px 0px;
}

.m015 {
    margin: 0px 15px;
}

.m150 {
    margin: 15px 0px;
}

.p00 {
    padding: 0px;
}

.p30 {
    padding: 30px;
}

.p030 {
    padding: 0px 30px;
}

.p300 {
    padding: 30px 0px;
}

.p15 {
    padding: 15px;
}

.p015 {
    padding: 0px 15px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: none;
    border-radius: 4px;
}

.map-all {
    display: flex;
}

.map {
    margin: 15px;
}

.map img {
    border-radius: 15px;
    border: 1px solid rgb(192, 192, 192);
    transform: scale(1, 1);
    transition: all 0.3s ease-out;
}

.map img:hover {
    transform: scale(1.1, 1.1);
}

.word ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin: 15px;
}

.word ul li {
    margin: 10px;
    padding: 40px;
    background-color: #fff500;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    border-radius: 50%;
    line-height: 50px;
}

.word ul li:nth-of-type(1) {
    background-color: #fff500;
    color: #333;
}

.word ul li:nth-of-type(2) {
    background-color: #FFC107;
    color: #333;
}

.word ul li:nth-of-type(3) {
    background-color: #53268a;
}

.word ul li:nth-of-type(4) {
    background-color: #666;
}

img {
    border-radius: 15px;
}

.custom-file label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 16px;
}

.custom-control label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 16px;
}

.form-group {
    font-size: 16px;
}

iframe {
    margin: 65px 5px 2px 80px;
    /* border-radius: 10px; */
    box-sizing: border-box;
    /* width: 89%; */
    border:2px solid rgba(255, 255, 255, 0.8);
    /* border-bottom-right-radius: 50px; */
    /* border-top-left-radius: 50px; */
        box-shadow:0 0 10px rgba(0,0,0,.2);

}

.logo-txt {
    font-size: 42px;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
}

.logo-txt-s {
    font-size: 24px;
    font-weight: 300;
    margin: 0px 0px 10px 0px;
}

.article-1 {
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    margin: 30px 0px;
}

.bg-2 {
    background-color: #532789;
    /* border-radius: 20px; */
    padding: 15px 8px 8px 8px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    color: #fff;
}

.bg-3 {
    padding: 15px 8px 8px 8px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

.bg-light-gray {
    margin: 0 auto;
    text-align: center;
}

.timeline-panel {
    margin-top: 15px 30px 0px 30px;
}

.contact {
    /* background-color: #fff100; */
    background-image: url(/themes/Rent/img/about/2021204/group/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.year-1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.year-1:hover {
    background-color: #fff500!important;
    color: #532789!important;
    font-size: 55px;
}

.gototop {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-family: verdana;
    text-align: center;
    background: #F63E3E;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    /*å…ˆéš±è—*/
    display: none;
}

.txt-40 {
    font-style: 40px;
    font-weight: 500;
}

.title-2 {
    margin: 60px 0px 60px 100px;
}

.table {
    margin: 70px 15px 100px 15px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 60px 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}

.container-fluid {
    padding-right: 0!important;
    padding-left: 0!important;
    margin-right: auto;
    margin-left: auto;
}
.key{
    margin:30px auto;
}
.key ul{
    width: 1000px;
    font-size: 18px;
    display:flex;
    /* grid-template-columns: 200px 1fr 100px 100px 100px 100px 100px 100px 100px; */
    grid-template-rows: 90px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #666!important;

}
.key li a{
    color: #666!important;
    padding:5px 12px;

}
.key li:first-child{
    font-size: 32px;
    font-weight: 500;
    color:#532789;
}
.key ul li a:hover{
    color:#532789!important;
}
#1,#2,#3,#4,#5,#6,#7{
    margin-top:90px;
}
.line-bg{
    width: 100px;
    height: 5px;
    background-image: url("../img/line.png");
    background-repeat: repeat-x;
    background-position: center;
    margin-left:10px;
}
