:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.none{
    display: none!important
}

.collect_dividend_wrap hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #888;
}


.collect_dividend_wrap{

}

.collect_dividend_wrap .banner{
    border-radius: 0px 55px;
    overflow: hidden;
}

.InLife{
    padding: 0px 80px 0px 15px;
}

/* 說明 */
.collect_dividend_wrap .explanation_wrap{
    padding: 30px 0px;
    margin: 0px auto 0px;
}

.collect_dividend_wrap .explanation_wrap .title{
    font-weight: bold;
    line-height: 2em;
}

.collect_dividend_wrap .explanation_wrap .content{
    padding: 20px 0px 0px;
}

.collect_dividend_wrap .explanation_wrap .content p{
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 2.5em;
}

.collect_dividend_wrap .explanation_wrap .caption{
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.5em;
}


/* 商品 */
.store_wrap .slick-prev, .store_wrap .slick-next{
    display: none!important;
}

.slick-dotted.slick-slider{
    margin: 0px;
}

.slick-dots li button:before{
    font-size: 20px;
}

.collect_dividend_wrap .store_wrap{
}

.collect_dividend_wrap .store_wrap .list{
    margin: 0px 20px 0px 0px;
    border: 1px solid #ccc;
}

.collect_dividend_wrap .store_wrap .list:last-of-type{
    margin: 0px;
}

.collect_dividend_wrap .store_wrap .list a{
    position: relative;
}

.collect_dividend_wrap .store_wrap .list a .tag{
    display: inline-block;
    position:absolute;
    right: 20px;
    top: 12vw;
    width: 120px;
    height: auto;
    text-align: center;
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 2px 10px;
    background: red;
    border-radius: 0px 10px;
    z-index: 999;
}


.collect_dividend_wrap .store_wrap .list .content{
    padding: 20px 15px;
    text-align: center;
}

.collect_dividend_wrap .store_wrap .list .content .caption{
    color: #555;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2em;
}

.collect_dividend_wrap .store_wrap .list .content .point{
    color: red;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.5em;
}

.collect_dividend_wrap .store_wrap .list .content .point span{
    color: red;
    font-size: 18px;
}

.collect_dividend_wrap .store_wrap .list .content .quantity{
    color: #555;
    font-size: 18px;
}

.collect_dividend_wrap .store_wrap .list .content .quantity span{
    color: #333;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.5em;
}

.collect_dividend_wrap .btn{
    display: inline-block;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 60px;
    margin: 50px 0px 50px;
    background: red;
    border-radius: 0px 10px;
}





.collect_dividend_wrap .info_wrap {
    display: table;
    width: 100%;
    padding: 40px 0px 40px;
}

.collect_dividend_wrap .info_wrap .left{
    display: table-cell;
    width: 55%;
    vertical-align: top;
    padding: 0px 40px 0px 0px;
}

.collect_dividend_wrap .info_wrap .right{
    display: table-cell;
    width: 45%;
    vertical-align: top;
    padding: 0px 0px 0px 40px;
}

.collect_dividend_wrap .info_wrap .info_list{
    display: table;
    margin: 0px 0px 20px 0px;
}

.collect_dividend_wrap .info_wrap .info_list .caption{
    display: table-cell;
    padding: 0px 40px 0px 0px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
}

.collect_dividend_wrap .info_wrap .info_list .text{
    display: table-cell;
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 2.5em;
}


.collect_dividend_wrap .info_wrap .title{
    font-weight: bold;
    line-height: 2em;
}

.collect_dividend_wrap .info_wrap .content{
    padding: 20px 0px 0px;
}

.collect_dividend_wrap .info_wrap .content p{
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 2em;
}

.collect_dividend_wrap .info_wrap .caption{
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.5em;
}


.collect_dividend_wrap .other_collect_dividend img{
    margin: 0px 0px 10px;
}

