
:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.flex{
    display: flex;
}

/* 頁籤 - start */
.GoodStore .item_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding:0px 70px 0px 15px;
    margin: 0px auto 40px;
}

.GoodStore .item_wrap:after{
    content: "";
    flex: auto;
    width: 70%;
    height: 1px;
    position: absolute;
    background: #888;
}

.GoodStore .item_wrap .title{
    width: unset;
    padding-right: 15px;
    background: #fff;
    z-index: 1;
}

.GoodStore .item_wrap .item_list {
    width: unset;
    padding-left: 15px;
    align-items: unset;
    justify-content: unset;
    margin: unset;
    background: #fff;
    z-index: 1;
}

.GoodStore .item_wrap .item_list a{
    text-align: center;
    width: 120px;
}

.GoodStore .item_wrap .item_list a:after{
    display: none;
}

.GoodStore .item_wrap .item_list i{
    width: 1px;
    height: 25px;
    background: #888;
}
/* 頁籤 - end */


.goodies_member_wrap {
    padding: 0px 70px 0px 15px;
}

.goodies_member_wrap .banner {
    margin: 0px auto 50px;
    border-radius: 0px 55px;
    border: 1px solid #aaa;
    overflow: hidden;
}

.goodies_member_wrap h2.caption {
    color: var(--main_color1);
    font-weight: bold;
    margin: 0px 0px 50px 0px;
}

.goodies_member_wrap h2.caption span {
    margin: 0px 20px 0px 0px;
}

.goodies_member_wrap .step_main_wrap{
    display: flex;
    align-items: center;
    margin: 0px auto 80px 6%;
}

.goodies_member_wrap .step_main_wrap .step_img{
    width: 15%;
    min-width: 170px;
    padding: 20px;
    margin: 0px auto 0px;
    text-align: right;
    background: #ebcce3;
    position: relative;
    border: 1px solid #aaa;
    border-radius: 0px 15px;
}

.goodies_member_wrap .step_one:before{
    content: "1";
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    top: 36px;
    left: 40px;
}


.goodies_member_wrap .step_two:before{
    content: "2";
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    top: 36px;
    left: 40px;
}

.goodies_member_wrap .step_three:before{
    content: "3";
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    top: 36px;
    left: 40px;
}


.goodies_member_wrap .step_wrap{
    display: block;
    width: 80%;
    margin: 0px auto 0px;
}

.goodies_member_wrap .list_frame {
    padding: 15px 20px 15px 80px;
    margin: 0px;
    text-align: left;
    border-radius: 0px 15px;
}

.goodies_member_wrap .list_frame ul{
    margin: 0px auto 10px;
}

.goodies_member_wrap .list_frame ul i {
    width: 1px;
    height: 25px;
    margin: 13px 10px;
    background: #888;
}

.goodies_member_wrap .list_frame li{
    text-align: center;
}

.goodies_member_wrap .list_frame li img{
    width: 135px;
}

.goodies_member_wrap .arrow{
    margin: 0px auto 30px;
    text-align: center;
}

.goodies_member_wrap .arrow img{
    max-width: 100px;
}

.goodies_member_wrap .step_one{

    position: relative;
}


.goodies_member_wrap .list_frame p {
    letter-spacing: 1px;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px auto 10px;
}

.goodies_member_wrap .list_frame p img {
    max-width: 150px;
}

.goodies_member_wrap .btn {
    display: inline-block;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px 20px;
    margin: 0px;
    background: var(--main_color1);
    border-radius: 0px 10px;
}

.goodies_member_wrap .list_wrap {}

.goodies_member_wrap .list_wrap .list {
    width: 90%;
    max-width: 100%;
    height: 230px;
    display: flex;
    align-items: start;
    margin: 0 auto 50px;
    border: 1px solid #ccc;
    border-radius: 0 20px 0 20px;
    overflow: hidden;
}

.goodies_member_wrap .list_wrap .image_wrap {
    width: 30%;
}

.goodies_member_wrap .list_wrap .text_wrap {
    width: 73%;
    padding: 10px 35px;
    line-height: 1.5em;
    overflow: hidden;
}

.goodies_member_wrap .list_wrap .text_wrap span{
    margin-left: 10px;
}

.goodies_member_wrap .list_wrap .text_wrap .caption .date{
    text-align: right;
}

.goodies_member_wrap .list_wrap .text_wrap span a{
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    padding: 2px 20px;
    border: 1px solid #a581d2;
    border-radius: 0px 10px;
}

.goodies_member_wrap .list_wrap .text_wrap .caption {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
    letter-spacing: 1px;
    line-height: 2.2em;
    color: #333;
}

.goodies_member_wrap .list_wrap .text_wrap .caption_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goodies_member_wrap .list_wrap .text_wrap p {
    line-height: 1.2em;
}


.margin_box{
    padding: 0px 70px 0px 15px;
}

.margin_box .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px 0px 15px;
}

.margin_box .title h1{
    color: #555;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

.margin_box .title .good_store{
    color: #555;
    font-size: 1em;
    font-weight: bold;
}

.good_store_warp{
    padding: 0px 70px 0px 15px;
}