

.Index {
    padding: 0px;
}

  .rent_cash {
    color: red;
    font-weight: bold;
    transform: scale(1.5);
    margin-right: 1em;
  }

  .commodity_list .commodity .title.big {
    text-align: center;
  }

  .commodity h3.title.big>a {
    font-size: 12pt;
    letter-spacing: 0px;
  }

  .commodity h3.title.big_2>a {
    font-size: 10pt;
  }

  .webmap a:hover {
    color: #fff;
  }

  .webmap a {
      color: #000;
      margin: 0 1em;
      vertical-align: sub;
      line-height: 3em;
  }

  .webmap {
      background-color: #e5e5e5;
      width: 100%;
      text-align: center;
      margin: auto;
      padding-top: 5px;
  }

  .webmap > ul {
    display: inline-flex;
    margin: 1em 3%;
}

.webmap > ul > li {
    text-align: start;
    font-weight: bold;
}

.webmap > ul > li > a {
    color: #000;
    font-weight: bold;
}

.webmap > ul > li > ul {
    margin-top: 1em;
}

.webmap > ul > li > ul > li {
    text-align: start;
    padding-left: 7px;
    font-weight: normal;
}

.webmap > ul > li > ul > li > a {
    font-size: 11pt;
    text-align: start;
}

.webmap > ul > li > ul > li > a:hover {
    color: #f0047f;
}

.share_infor_box, .share_infor_box .l, .share_infor_box img {
  all: unset;
}

.linkto {
    margin-top: -3em;
}

.linkto img {
    /* padding: 0 1em; */
    padding: 0 .3em;
    width: 2em;
}

.linkto a {
    margin: 0px;
}

  footer .A1786_footer {
    height: 64px;
    /* background-color: #f0047f; */
    padding: 3px 0 0px;
    padding-top: 6px;

    background-color: #e5e5e5;
    border-top: 3px solid #f0047f;
  }

  footer .footer div, footer .footer a {
    color: #000;
  }



  footer table {
    height: 100%;
    vertical-align: middle;
  }

  footer table td {
    vertical-align: middle;
  }

  .footer img {
    height: 12pt;
    margin-right: 5pt;
  }

  .b_right_line {
    border-right: 1px solid #777;
  }

  .no_width {
    width: max-content !important;
  }

  .head_div label a {
    color: #777;
    font-size: 16px;
  }

  .head_div .r label {
    /* width: 3em; */
    text-align: center;
    /* padding: 0 .5em; */
    padding: 0 2.5%;
    line-height: 1em;
  }

  .head_div .r .tab label a {
    font-size: 14pt;
  }

  .head_div .r .tab label.free a {
    color: #d9167d;
  }

  .head_div .r .row.search label {
    width: 80%;
  }

  .head_div .tab label.title_broder {
    margin: 0px;
    vertical-align: text-top;
  }

  .head_div .r label img {
    width: 1em;
}

  .head_div .r .row.search label a {
    font-size: 20pt;
    color: #d9167d;
  }


  .head_div .r label a {
    font-size: 10pt;
  }

  .head_div .r label:nth-child(5) {
    width: 10em;
}

  .head_div .l img {
    width: auto;
    margin: 1em auto;
    max-height: 7em;
  }

  .head_div {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: #fff;
  }

  .head_div .r {
    margin-top: 1.5em;
    line-height: 1em;
    text-align: end;
}

  .head_div .l, .head_div .m {
    text-align: center;
  }


  .head_div div {
    vertical-align: middle;
    line-height: 9em;
    background: #fff;
  }

  .head_div .m label {
    line-height: 1em;
  }

  .head_div .m .row {
    height: 4em;
    line-height: 5em;
    position: relative;
  }

  .head_div .r .row {
    line-height: 1em;
  }

  .head_div .m select {
    border: 0px;
  }

  .head_div .search select {
    top: 44%;
  }

  .head_div .search .sales {
    position: absolute;
    left: 13%;
  }

  .head_div .search .city {
    position: absolute;
    left: 24%;
    /* border-left: 1px solid #aaa; */
  }

  .head_div .search input[type="text"] {
    width: 90%;
    height: 2em;
    border-radius: 20px;
    border: 1px solid #777;
    padding-left: 34%;
    vertical-align: middle;
  }

  .head_div .search input[type="text"]::placeholder{
    font-size:12pt;
    text-align:start;
  }

  .head_div .search .fa-search {
    position: absolute;
    right: 7%;
    width: 20px;
    top: 44%;
    height: auto;
  }

  .head_div .search2 select, .head_div .search2 input {
    background: #e5e5e5;
    padding: .5em;
    border-radius: 10px;
    border: 0px;
}

.head_div .search2 .fa-search {
    position: absolute;
    right: 4%;
    width: 20px;
    top: 50%;
    height: auto;
    color: #999;
}

.head_div .search2 input::placeholder {
    color: #999;
    text-align: start;
    font-size: 14pt;
}

.head_div .search2 select {
    width: 20%;
    font-weight: bold;
}

.head_div .search2 input[type="text"] {
    width: 55%;
}

  .head_div .tab label {
    /* width: 1em; */
    margin: 0 1.5%;
  }



  .head_div .tab label a {
    font-size: 18pt;
  }

  .search {
    line-height: 4.5em !important;
  }


  .type_class {
    text-align: center;
    margin: 2em 0px;
  }

  .type_class label {
    width: 8vw;
    font-weight: bold;
  }

  .type_class label a {
    color: #000;
  }

  .type_class label a:hover {
    color: #b55283;
  }

  .type_class label a.active {
    color: #FFFFFF;
    padding: 0px;
  }

  .introduction div.r li {
    margin-left: 50%;
  }

  .introduction div li {
    width: 20em;
    text-align: start;
    margin: auto;
    line-height: 2.5em;
    list-style: disc;
    text-shadow: #ffffff 0.1em 0.1em 0.2em, #ffffff -0.1em -0.1em 0.2em, #ffffff -0.1em 0.1em 0.2em, #ffffff 0.1em -0.1em 0.2em;
    margin-left: 15%;
  }

  .introduction div {
    background: #ffffff96;
    height: 25em;
  }

  .introduction div ul {
    margin: 2em 0;
  }

  .introduction .l .H_light {
    color: #d9167d;
    font-size: 22pt;
  }

  .introduction .r .H_light {
    color: #9a762c;
    font-size: 22pt;
  }

  .introduction .H_light {
    margin-right: .5em;
    text-shadow: #f1ebeb 0.1em 0.1em 0.2em;
  }

  .introduction div.r {
    padding-right: 50px;
  }

  .introduction div.r li:first-child {
    margin-left: 45%;
  }

  .introduction div li:first-child {
    font-weight: bold;
    margin-left: 10%;
  }


  .introduction div li.nostyle {
    list-style: none;
  }

  .imitate_btn {
    background: #d9167d;
    color: #fff;
    border-radius: 0 10px;
    padding: 5px 20px;
  }

  .img_table img {
    margin: 1%;
    width: 33%;
  }

  .img_table {
      text-align: center;
      /* display: inline-table; */
  }

  .img_table.a {
      width: 80%;
      margin: auto;
  }

  .text_box {
    text-align: center;
    margin: 3em;
  }
  .A1786_row {
    width: 90%;
    margin: auto;
    margin-bottom: 3em;
  }

  .A1786_row .slick-slide {
    margin: .5em;
  }

  button.slick-arrow {
    top: 35%;
  }

  button.slick-arrow:before {
    color: #d9167d;
  }

  .A1786_row .commodity .photo_row{
    height: auto;
  }

  .link_group ul {
    display: flex;
    justify-content: center;
    margin: 2em 0;
    margin-top: 5em;
  }

  .link_group li {
    width: 10%;
    margin: 0 3%;
  }

  button.slick-arrow:before {
    display: none;
}

.slick-slider {
    margin: 2em auto;
    width: 100%;
}

  .commodity_list .commodity {
    border: 0px !important;
  }

  .photo_row .img {
    min-height: 231px;
    max-height: 231px;
  }
  .bg {
    height: 300px;
    background: url('/themes/Rent/img/1786/1786 Banner-210315.jpg');
    background-attachment: fixed;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 9em !important;
  }
