:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.bold{
    font-weight: bold;
}

.red{
    color: red;
}

/* 頁籤 - start */
.item_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding:0px 70px 0px 15px;
    margin: 0px auto 40px;
}

.item_wrap:after{
    content: "";
    flex: auto;
    width: 70%;
    height: 1px;
    position: absolute;
    background: #888;
}

.item_wrap .title {
    width: unset;
    padding-right: 15px;
    background: #fff;
    z-index: 1;
    color: var(--main_color1);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

.item_wrap .item_list {
    width: unset;
    padding-left: 15px;
    margin: unset;
    background: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: unset;
}

.item_wrap .item_list a{
    text-align: center;
    width: 120px;
    position: relative;
    color: var(--text_light_color);
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
}

.item_wrap .item_list a.active {
    color: #555;
    font-size: 1.2em;
    line-height: 1.2em;
}

.item_wrap .item_list a:after{
    display: none;
}

.item_wrap .item_list i{
    width: 1px;
    height: 25px;
    background: #888;
    display: inline-block;
}
/* 頁籤 - end */





.join_life_wrap{
    padding: 0px 70px 0px 15px;
}

.join_life_wrap .banner {
    margin: 0px auto 80px;
    border: 1px solid #aaa;
    border-radius: 0px 35px;
    overflow: hidden;
}

.join_life_wrap .content_block_wrap img{
    width: 100%;
}

.join_life_wrap .content_block_wrap {
    display: flex;
    align-items: center;
    margin: 0px auto 50px;
}

.join_life_wrap .content_block_wrap .caption{
    color: var(--main_color1);
    font-weight: bold;
    line-height: 2em;
    padding: 0px;
    display: inline-block;
}

.join_life_wrap .content_block_wrap .caption.text-left{
    padding: 0px 0px 0px 120px;
}

.join_life_wrap .content_block_wrap .caption span{
    padding: 0px;
    margin: 0px 10px 0px 0px;
}

.join_life_wrap .text_wrap{
    text-align: center;
    width: 50%;
}

.join_life_wrap .text_wrap ul.cption_wrap{
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0px auto 20px;
}

.join_life_wrap .text_wrap ul.cption_wrap li{
    margin: 0px auto 0px;
    font-size: 1.2em;
    font-weight: bold;
}

.join_life_wrap .text_wrap ul.cption_wrap li img {
    width: 30px;
    margin-right: 5px;
}

.join_life_wrap .text_wrap ul.profession_wrap{
    text-align: left;
}

.join_life_wrap .text_wrap ul.profession_wrap img.star{
    margin-right: 5px;
}

.join_life_wrap .text_wrap ul.profession_wrap li{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3.5em;
}

.join_life_wrap .text_wrap ul.profession_wrap li .star{
    width: 30px;
    margin-right: 10px;
}

.join_life_wrap .text_wrap ul.profession_wrap li .text{
    width: 240px;
    font-size: 1.2em;
}

.join_life_wrap .text_wrap ul.profession_wrap li img{
    width: 140px;
    margin-right: 10px;
}

.join_life_wrap .image_wrap{
    width: 50%;
    border: 1px solid #aaa;
    border-radius: 0px 50px;
    overflow: hidden;
}

.join_life_wrap .content_block_wrap p {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 30px;
}

.join_life_wrap .content_block_wrap img.share{
    width: 55%;
    margin-top: 50px;
}

/* 新聞輪播 */
#news_wrap {
    text-align: center;
    width: 80%;
    margin: 0px auto 0px;
}

#news_frame li {
    height: 60px;
    padding: 10px;
    list-style: none;
    text-align: center;
    /*border-bottom: 1px dotted #aaa;*/
    background: unset;
    overflow: hidden;
}

#news_frame li a{
    display: block;
    color: #555;
    font-size: 1.1em;
    line-height: 2em;
    letter-spacing: 2px;
    transition: .2s;
}


#news_frame li:hover {
    background: #FFF;
}

#news_frame li:hover a{
    color: var(--main_color1);
    font-size: 1.3em;
    font-weight: bold;
}
