:root {
	--main_color1: #532789;
	--main_color2: #fff100;
	--text_normal_color: #555;
	--text_dark_color: #222;
	--text_light_color: #aaa;
}

.none{
	display: none!important
}

.activity_wrap{

}

.activity_wrap .banner{
	border-radius: 0px 55px;
	overflow: hidden;
}
.in_life .list_wrap
.activity_wrap .title_wrap{
	padding: 30px 0px;
}

.in_life .list_wrap > li{
	width: 1300px;
}

.in_life .list_wrap .content .caption1{
	font-size: 26px;
}

.in_life .list_wrap .content .caption2{
	font-size: 20px;
}

.in_life .list_wrap .info {
	font-size: 20px;
}

.activity_wrap .title_wrap .explanation, .activity_wrap .title_wrap .content{
	display: table;
	width: 100%;
}

.activity_wrap .title_wrap .explanation .caption, .activity_wrap .title_wrap .content .caption{
	display: table-cell;
	vertical-align: top;
	width: 10%;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 2em;
}

.activity_wrap .title_wrap .explanation .list, .activity_wrap .title_wrap .content .list{
	display: table-cell;
}

.activity_wrap .title_wrap .explanation .list ul, .activity_wrap .title_wrap .content .list ul{
	overflow: auto;
	padding: 0px 40px;
}

.activity_wrap .title_wrap .list ul li{
	width:50%;
	float: left;
	list-style: decimal;
	font-size: 1.3em;
	letter-spacing: 1px;
	line-height: 2.5em;
}

.activity_wrap .title_wrap hr{
	border-top: 1px solid #aaa;
}


.activity_wrap .info_wrap {
	display: table;
	width: 100%;
	padding: 40px 0px 40px;
}

.activity_wrap .info_wrap .left{
	display: table-cell;
	width: 55%;
	vertical-align: top;
	padding: 0px 40px 0px 0px;
}

.activity_wrap .info_wrap .right{
	display: table-cell;
	width: 45%;
	vertical-align: top;
	padding: 0px 0px 0px 40px;
}

.activity_wrap .info_wrap .info_list{
	display: table;
	margin: 0px 0px 20px 0px;
}

.activity_wrap .info_wrap .info_list .caption{
	display: table-cell;
	padding: 0px 40px 0px 0px;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 2em;
}

.activity_wrap .info_wrap .info_list .text{
	display: table-cell;
	font-size: 1em;
	letter-spacing: 1px;
	line-height: 2.5em;

}


/* 報名欄位 */
.activity_wrap .info_wrap .sign_up_wrap {
	padding: 15px 25px 30px;
	margin-top: 50px;
	background: #fff;
	border: 2px solid #aaa;
	border-radius: 0px 30px;
}

.activity_wrap .info_wrap .sign_up_wrap .title {
	padding: 15px;
	margin: 0px auto 20px;
	color: var(--main_color1);
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #555;
}

.activity_wrap .info_wrap .form-group {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 0px auto 10px;
}


/* 仿google輸入框 start */
.activity_wrap .info_wrap input {}

.activity_wrap .info_wrap input[type="radio"]{
	width: 15px;
	height: 15px;
}


fieldset {
	padding: 3rem 2rem 1.5rem;
}

.activity_wrap .info_wrap legend {
	padding: 0 0.5rem;
}

.activity_wrap .info_wrap .hidden--visually {
	border: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.activity_wrap .info_wrap .form {
	background-color: #fff;
}

.activity_wrap .info_wrap .floating {
	position: relative;
	text-align: left;
	width: 50%;
	margin: 0px 10px 0px;
	background-color: var(--field__background);
	transition: background-color 0.2s ease;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 0px 0px 0px 60px;
}

.activity_wrap .info_wrap .floating.frist{
	width: 47%;
	margin: 0px 42px 0px 10px;
}

.activity_wrap .info_wrap .floating.phone {

}

/* 輸入框前面有米字號 */
.activity_wrap .info_wrap .floating::before {
	content: "*";
	font-size: 24px;
	color: red;
	position: absolute;
	top: 6px;
	left: 0px;
}

/* 輸入框前面沒有米字號 */
.activity_wrap .info_wrap .no_required::before {
	content: "";
}

.activity_wrap .info_wrap .floating img.icon{
	width: 40px;
	position: absolute;
	top: 2px;
	left: 15px;
}


.activity_wrap .info_wrap .full {
	width: 100%;
}

.activity_wrap .info_wrap .floating:hover,
.activity_wrap .info_wrap .floating:focus-within {
	background-color: var(--field__background--hover);
}

.activity_wrap .info_wrap .floating__input {
	width: 100%;
	display: block;
	background: none;
	border-width: 0;
	padding: 20px 10px 2px 0px;
	font-size: 18px;
	line-height: 20px;
	position: relative;
	border-bottom: 1px solid #aaa;
	transition: border-color 0.2s ease;
}


.activity_wrap .info_wrap .floating:hover .floating__input {
	border-color: var(--input__border--hover);
}

.activity_wrap .info_wrap .floating__input::placeholder {
	color: rgba(0, 0, 0, 0);
}

.activity_wrap .info_wrap .floating__label {
	display: block;
	position: relative;
	max-height: 0;
	padding: 0px 10px 0px 0px;
	font-size: 16px;
	font-weight: 500;
	pointer-events: none;
}

.activity_wrap .info_wrap .floating__label::before {
	color: var(--normal_color);
	content: attr(data-content);
	display: inline-block;
	filter: blur(0);
	backface-visibility: hidden;
	transform-origin: left top;
	transition: transform 0.2s ease;
	top: 5px;
	left: 0px;
	position: relative;
}

.activity_wrap .info_wrap .floating__label::after {
	bottom: 1rem;
	content: "";
	height: 0.1rem;
	position: absolute;
	transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
	opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
	opacity: 0;
	left: 0;
	top: 100%;
	margin-top: -0.1rem;
	transform: scale3d(0, 1, 1);
	width: 100%;
	background-color: var(--color__accent);
}

.floating__input:focus+.floating__label::after {
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

.floating__input:placeholder-shown+.floating__label::before {
	transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus+.floating__label::before {
	font-size: 18px;
	transform: translate3d(0, -3rem, 0) scale3d(0.82, 0.82, 1);
}

.floating__input:focus+.floating__label::before {
	color: var(--color__accent);
}

.activity_wrap .info_wrap .info_wrap_wrap .info_wrap {
	width: 100%;
	display: flex;
}
/* 仿google輸入框 end */

.activity_wrap .info_wrap .info_wrap {
	width: 100%;
	display: flex;
	margin: 0px auto 10px;
}

.activity_wrap .info_wrap .phone{
	padding: 0px 0px 0px 50px;
}

.activity_wrap .info_wrap .phone img.icon{
	left: 5px;
}

.activity_wrap .info_wrap .radio_wrap{
	display: flex;
	justify-content: start;
	align-items: center;
}

.activity_wrap .info_wrap .radio_wrap .radio {
	width: 80px;
	margin: 0px;
	font-size: 16px;
	font-weight: normal;
}

.activity_wrap .info_wrap .agree{
	padding: 40px 15px 10px;
	margin: 40px 0px 0px;
	border-top: 2px solid #aaa;
}

.activity_wrap .info_wrap .agree label{
	font-size: .85em;
}

.activity_wrap .info_wrap .agree p{
	color: red;
	font-size: .85em;
	padding-left: 18px;
	font-weight: bold;
}

.activity_wrap .info_wrap .btn_wrap{
	margin: 20px 0px 20px;
	text-align: center;
}

.activity_wrap .info_wrap .btn_wrap .btn{
	width: 120px;
	color: #fff500;
	font-size: 1.2em;
	font-weight: bold;
	background: #512779;
	letter-spacing: 5px;
	border-radius: 0px 5px;
}

.activity_wrap .html_edit{
	padding: 20px 30px 20px 15px;
}

.activity_wrap .verification {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.activity_wrap .verification .caption{
	width: 7vw;
	padding: 0px 0px 0px 20px;
}

.activity_wrap .verification img.icon{
	margin: 0px 10px 0px;
}

.activity_wrap .verification .floating{
	width: 100%;
	padding: 0px;
}

.activity_wrap .verification .floating::before{
	content: "*";
	font-size: 24px;
	color: red;
	position: absolute;
	top: 6px;
	left: -190px;
}

.activity_wrap .other_activity{
	margin: 0px;
}

.activity_wrap .other_activity img{
	margin: 0px 0px 10px;
}

.in_life .list ul.info li {
	margin-left: 70px!important;
}

.in_life .list_wrap .info > li span {
	width: 50px!important;
	left: -55px!important;
}

.in_life .list_wrap .content .text{
	font-size: 20px;
}














