/* 頁籤 - start */

form#sumbit_data {
    margin: auto;
}

form#sumbit_data img {
    /* width: 100%; */
}

.applyform {
    background: #ECECEA;
}

input.no_border, select.no_border {
    border: 0px !important;
}
.join_life_wrap {
    width: 90%;
}

input.inp {
    width: 5em !important;
}

select.inp {
    width: 7em !important;
}
.post_ID input.inp {
    width: 6rem !important;
}
input.inp {
    width: 6em !important;
}
.row_3 .form_item input.inp {
}

.row_4 .form_item input.inp {
    width: 12em !important;
}



.item_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0px auto 40px;
    padding: 0px 70px 0px 15px;
}

.item_wrap:after{
    content: "";
    flex: auto;
    width: 70%;
    height: 1px;
    position: absolute;
    background: #aaa;
}

.item_wrap .title{
    width: unset;
    padding-right: 15px;
    background: #fff;
    z-index: 1;
    color: var(--main_color1);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

.item_wrap .item_list {
    width: unset;
    padding-left: 15px;
    align-items: unset;
    justify-content: unset;
    margin: unset;
    background: #fff;
    z-index: 1;
    display: flex;
}

.item_wrap .item_list a{
    text-align: center;
    width: 120px;
    position: relative;
    color: var(--text_light_color);
    font-size: 1.1em;
    /* font-weight: bold; */
    letter-spacing: 1px;
}

.item_wrap .item_list a:after{
    display: none;
}

.item_wrap .item_list i{
    width: 1px;
    height: 25px;
    background: #888;
}

.item_wrap .item_list a.active {
    color: #555;
    font-size: 1.2em;
    line-height: 1.2em;
}

.item_wrap .item_list a:hover{
    color: var(--main_color1);
}
/* 頁籤 - end */

.applyform {
  /* width: 70%; */
  margin: auto;
  /* border: 3px solid #999; */
  border-radius: 0px 20px;
  padding: 50px 35px;
}

.applyform img {
    height: 30px;
}

.svg {
    display: none;
}

.row_1,.row_1_1,.row_3,.row_6_1 {
  justify-content: unset !important;
  text-align: start;
}

.row_6_1 {
    word-spacing: 1em;
    height: 295pt;
}

.row_1 div, .row_3 div, .row_4 div, .row_4_1 div, .row_1_1 div, .row_6 div,.row_6_1 div {
    /* margin: 0px 1em; */
    word-spacing: 1em;
    margin-right: 12px;
    display: inline;
}

.row_2 span.title,.row_6_1 input[type="radio"],.row_6_1_1 input[type="checkbox"] {
    margin-left: 12px;
}

.row_1,.row_2,.row_3,.row_4,.row_4_1,.row_1_1,.row_6_1 {
    display: flex;
    justify-content: space-between;
}

.post_ID {
    word-spacing: 5px;
}

.post_ID {
    margin-bottom: 0.5em;
}

.row_1,.row_2,.row_3,.row_4,.row_4_1,.row_5,.row_6,.row_6_1,.row_1_1,.row_6_1_1 {
    margin: 2em 0;
    text-align: center;
    display: block;
}

.post_ID input.post_ID_n {
  width: 1em;
  height: 1em;
  /* margin: 0px 3px; */
  font-size: 12pt;
}

.post_ID input.inp {
    width: 12rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.must {
    color: red;
    font-size: 18pt;
    font-weight: bold;
    margin: 2px;
    vertical-align: text-top;
    display: none;
}

.bank_ID input.bank_ID_n {
  position: absolute;
  width: 90%;
  border: 0px;
  left: 2px;
  text-align: center;
  top: 5px;
  background: unset;
}


nput.nobor{
    border: 0px;
    width: 1em;
    text-align: center;
}

input.inp._1em{
  /* width: 2rem !important; */
  margin: 8px 0;
}

input.inp._10em {
    width: 24rem !important;
    margin: 8px 0;
}

input.inp_bottom_line {
    border: 0px;
    border-bottom: 1px solid;
    width: 6.5em !important;
}

input.inp,select.inp,input.inp_bottom_line {
    border-radius: 5px;
    margin: 0px 10px;
}

.row_1 input.inp {
    /* margin-left: 8px; */
    width: 10em;
}

.row_1_1 div select.inp,input.inp._1em {
    margin-right: 1em;
}

.row_3 .form_item input.inp {
    width: 10em;
    /* margin-left: 8px; */
}

.row_4 .form_item input.inp {
    width: 19em !important;
    /* margin-left: -1.5em */
}


.row_4 span.title {
    /* letter-spacing: 2em; */
}

.row_4 .form_item {
    width: 100%;
}

.row_5_1 {
    margin: 1% 0%;
}

.row_5 {
    word-spacing: 2rem;
}

span.bank_txt_1 {
    margin: 2%;
}

.row_6_1_1 input[type="checkbox"] {
    vertical-align: text-top;
}

.row_5 input[type="radio"],.row_6_1_1 input[type="checkbox"] {width: 25px;height: 17px;}

td.row_5_td {
    padding: 1rem;
}

.row_6 .form_item input.inp:last-child {
    border: 0px;
}

.row_6 .form_item input.inp {
    margin-left: 8px;
}

.row_6 {
    word-spacing: 1rem;
        padding-left: 1.5em;
}

.row_6 input[type="radio"] {
    width: 25px;
    height: 17px;
}

.row_6_1 input.inp {
    width: 10em !important;
}


.row_7 {
    margin: auto;
    text-align: center;
    width: max-content;
    margin-top: 50px;
}

.row_7 .form_item {
    margin: 0px 1em;
}

.SMS.submit {
    margin-top: 30px;
    width: 70%;
    border-radius: 10px;
    background: #512779;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 5px;
    display: inline;
    font-size: 12pt;
    margin-right: 15px;
}
.submit img {
    min-width: 100%;
    height: 100px;
    margin-top: 50px;
}
.submit {
  width: 100%;
  border-radius: 0 10px;
  text-align: center;
  margin: auto;
  padding: 5px 30px;
  bottom: 17%;
  font-size: 16pt;
  color: #53268a;
  font-weight: bold;
  border: 2px solid #53268a;
}

.submit{cursor: pointer;}

.submit:hover {
    color: #fff;
    background: #53268a;
}

.step_01 {
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
    /* background: url(/themes/Rent/img/joinmaster/banner_01_arrow.svg);
    background-size: cover;
    background-position-y: -9px;
    background-position-x: -30px; */
}

.step_01 img {
    width: inherit !important;
}
.join_life_wrap.step2 {
    display: none;
}
