/*

Template 2107 New Spot

http://www.tooplate.com/view/2107-new-spot

COLOR CODES

	Primary (Pink):   #CC0064
	Secondary (Blue): #0095BF

*/

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #eee; */
    color: #6c6c6c;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

.tm-container {
    background-color: white;
    max-width: 1400px;
    margin: auto;
}

.tm-site-title {
    color: #cc0064;
    font-size: 2.6rem;
    line-height: 3rem;
    margin-top: 200px;
    margin-left:50px;
}

.tm-site-subtitle {
    color: #0095bf;
    font-size: 1.5rem;
    margin-bottom: 80px;
    margin-left:50px;
}

.tm-section-1 {
    height: 750px;
    background-image: url(/themes/Rent/img/joinlife/img_1.jpg);
    background-size: cover;
    -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0px 100%);
    clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0px 100%);
    /* background-position: center -95px; */
    background-repeat: no-repeat;
    padding-top: 75px;
}

.tm-section-3 {
    height: 790px;
    background-image: url(/themes/Rent/img/joinlife/1201/spot-bg-02.jpg);
    background-size: cover;
    -webkit-clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
    clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.tm-color-primary {
    color: #cc0064;
    margin:0px 0px 45px 60px;
}

.tm-color-secondary {
    color: #0095bf;
}

.tm-btn-primary {
    color: white;
    background-color: #cc0064;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
    background-color: #f21b85;
}

.tm-btn-secondary {
    color: white!important;
    background-color: #0095bf;
}

.tm-btn-secondary:hover,
.tm-btn-secondary:focus {
    background-color: #44cbf1;
}

.tm-bg-circle-white {
    /* background-color: rgba(255,255,255,0.3); */
    color: #6c6c6c;
    padding: 15px 15px;
    border-radius: 50%;
    width: 450px;
    height: 450px;
}
.tm-bg-circle-white2 {
    /* background-color: white; */
    color: #6c6c6c;
    padding: 75px 81px 75px 90px;
    border-radius: 50%;
    width: 550px;
    height: 550px;
}

.tm-bg-circle-pad-2 {
    padding-left: 20px;
}

p,
ul {
    line-height: 2;
    font-weight: 300;
}

ul {
    margin: 0;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed>li {
    text-indent: 0px;
    font-size: 1.2rem;
    font-weight: 500;
}

ul.dashed>li:before {
    /* content: "-"; */
    content: "";
    margin-right: 5px;
    text-indent: -5px;
}

.btn {
    padding: 10px 30px;
    font-size: 1.15rem;
    font-weight: 300;
    border-radius: 8px;
    width: 150px;
}

a.btn:hover {
    color: white;
    text-decoration: none;
}

.tm-flex-center-v {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.tm-text-container {
    max-width: 420px;
}

.tm-circle-img {
    width: 550px;
    border-radius: 15px;

}
.tm-circle-img2 {
    width: 250px;
    margin:15px 0px 0px 0px;
    border-radius: 10px;
    boder:1px solid #e1e1e1;
}

.tm-circle-img-container {
    text-align: right;
}

.tm-contact-form {
    max-width: 280px;
}

.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #cc0064;
}

.form-control:focus {
    box-shadow: none;
    border-color: #cc0064;
    border-width: 2px;
}

.tm-send-btn {
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.tm-footer-link {
    color: #6c6c6c;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
    color: #cc0064;
    text-decoration: none;
}

@media (min-width: 576px) {
    .container {
        max-width: none;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1050px;
    }
}

@media (max-width: 992px) {
    .tm-bg-circle-white {
        margin-left: auto;
        margin-right: auto;
    }
    .tm-section-left {
        margin: 50px auto;
    }
    .tm-circle-img-container {
        text-align: center;
    }
    .tm-contact-form {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .tm-contact-right {
        margin-bottom: 50px;
    }
    .tm-footer-text {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: 576px) {
    .tm-bg-circle-white {
        border-radius: 100px;
        width: 100%;
        height: auto;
        padding: 50px;
    }
    img {
        max-width: 100%;
    }
    .tm-section-1,
    .tm-section-3 {
        height: auto;
    }
    .tm-section-1 {
        padding-bottom: 90px;
        -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 92%, 0px 100%);
        clip-path: polygon(0px 0px, 100% 0px, 100% 92%, 0px 100%);
    }
    .tm-section-3 {
        padding-top: 100px;
        padding-bottom: 100px;
        -webkit-clip-path: polygon(0px 0px, 100% 8%, 100% 92%, 0px 100%);
        clip-path: polygon(0px 0px, 100% 8%, 100% 92%, 0px 100%);
    }
    .tm-circle-img-container {
        margin-bottom: 30px;
    }
}


.center {
    margin: 0 auto;
    text-align: center;
}

.m00 {
    margin: 0px;
}

.m30 {
    margin: 30px;
}

.m030 {
    margin: 0px 30px;
}

.m00300 {
    margin: 0px 0px 30px 0px;
}

.m300 {
    margin: 30px 0px;
}

.m60 {
    margin: 60px;
}

.m600150 {
    margin: 60px 0px 15px 0px;
}

.m600300 {
    margin: 60px 0px 30px 0px;
}
.m1000300 {
    margin: 100px 0px 30px 0px;
}

.m15 {
    margin: 15px;
}

.m00150 {
    margin: 0px 0px 15px 0px;
}

.m00300 {
    margin: 0px 0px 30px 0px;
}

.m015 {
    margin: 0px 15px;
}

.m150 {
    margin: 15px 0px;
}

.p00 {
    padding: 0px;
}

.p30 {
    padding: 30px;
}

.p030 {
    padding: 0px 30px;
}

.p300 {
    padding: 30px 0px;
}

.p15 {
    padding: 15px;
}

.p015 {
    padding: 0px 15px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: none;
    border-radius: 4px;
}

.map-all {
    display: flex;
}

.map {
    margin: 15px;
}

.map img {
    border-radius: 15px;
    border: 1px solid rgb(192, 192, 192);
    transform: scale(1, 1);
    transition: all 0.3s ease-out;
}

.map img:hover {
    transform: scale(1.1, 1.1);
}

.word ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin: 15px;
}

.word ul li {
    margin: 10px;
    padding: 40px;
    background-color: #fff500;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    border-radius: 50%;
    line-height: 50px;
}

.word ul li:nth-of-type(1) {
    background-color: #fff500;
    color: #333;
}

.word ul li:nth-of-type(2) {
    background-color: #FFC107;
    color: #333;
}

.word ul li:nth-of-type(3) {
    background-color: #53268a;
}

.word ul li:nth-of-type(4) {
    background-color: #666;
}

img {
    border-radius: 15px;
}

.custom-file label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 16px;
}

.custom-control label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 16px;
}

.form-group {
    font-size: 16px;
}

iframe {
    margin: 65px 5px 2px 80px;
    border-radius: 10px;
    box-sizing: border-box;
    /* width: 89%; */
}

.logo-txt {
    font-size: 50px;
    font-weight: 700;
    margin: 30px 0px 0px 0px;
}

.logo-txt-s {
    font-size: 28px;
    font-weight: 300;
    margin: 0px 0px 60px 0px;
}

.article-1 {
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    margin: 30px;
}

.bg-2 {
    background-color: #e1e1e1;
    /* border-radius: 20px; */
    padding: 30px 15px 15px 15px;
    border-bottom-left-radius:100px ;
    border-top-right-radius:100px ;
}

.bg-light-gray {
    margin: 0 auto;
    text-align: center;
}

.timeline-panel {
    margin-top: 15px 30px 0px 30px;
}

.contact {
    background-color: #e1e1e1;
}

.year-1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.year-1:hover {
    background-color: #fff500!important;
    color: #333!important;
    font-size: 55px;
}

.gototop{
    width:50px;
    height:50px;
    line-height:50px;
    font-family:verdana;
    text-align:center;
    background:#F63E3E;
    color:#fff;
    position:fixed;
    bottom:20px;
    right:30px;
    border-radius:50%;
    text-decoration:none;
    cursor: pointer;
    /*先隱藏*/
    display:none;
  }
  .txt-40 {
      font-style: 40px;
      font-weight: 500;
  }

  article.JoinLife {
    width: 90%;
    position: relative;
    /* padding-top: 110px; */
    overflow: hidden;
    background-color: #fff;
    letter-spacing: 1px;
}
