
@media screen and (min-width: 1441px){
    .row_134 {
    display: flex;
}

.row_134 > div {
    width: 50%;
}

.row_134 > div:first-child {
    border-right: 1px solid;
    margin-right: 1em;
}

select.inp {
    width: 6em !important;
}

.applyform * {
    font-size: 15pt;
}

input[type="radio"] {
    height: 16pt !important;
    width: 24pt !important;
    vertical-align: text-top;
}
input.inp::placeholder{
    font-size:14pt;
    text-align: center;
}
}
