@media (min-width: 1200px) and (max-width: 1600px) {
    html .rent_list li a,
    html .rent_list li .title {
        font-size: 18px;
    }
}

@media (max-width: 1600px) {
    html .main_bar {
        min-height: 108px;
    }
    html .main_menu>ul>li>a {
        padding: 0 1.2vw;
    }
    html .main_menu .menu a {
        padding: 0 15px;
        font-size: 8pt;
    }
}

@media (max-width: 1360px) {
    html .main_menu .menu a {
        padding: 0 10px;
    }
}

@media (max-width: 1200px) {
    html .main_menu>ul>li>a {
        padding: 0 0.5em;
    }
}