<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">

{foreach $web2_data as $key =>$value}

    {if $key%3==0}<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">{/if}

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

            <a href="https://www.lifegroup.house/manage/Welcome?id_diversion={$value.id_diversion}">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><img src="{$value.img}" style="width: 200px;height: 200px;"></div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><span>{$value.name}</span></div>

            </a>

        </div>

    {if ($key%3==2) || $key==$web2_long}</div>{/if}

{/foreach}

</div>
1231313
