<div id="Web_1280__11" style="transform-origin: 0px 0px;">
	<img id="shutterstock_1584979828" src="\themes\Okrent\img\login\shutterstock_1584979828.png" srcset="\themes\Okrent\img\login\shutterstock_1584979828.png 1x, shutterstock_1584979828@2x.png 2x">

	<div id="Group_603">
		<svg class="Line_57" viewBox="0 0 17 16">
			<path id="Line_57" d="M 17 0 L 0 16">
			</path>
		</svg>
		<svg class="Line_58" viewBox="0 0 17 16">
			<path id="Line_58" d="M 17 0 L 0 16">
			</path>
		</svg>
	</div>
	<div id="Group_834">
		<input id="Rectangle_2446" class="inp Rectangle_2446" type="text" name="ID" value="" placeholder="姓名" maxlength="20" required="required">
		<!-- <svg class="Rectangle_2446">
			<rect id="Rectangle_2446" rx="0" ry="0" x="0" y="0" width="326" height="48">
			</rect>
		</svg> -->
		<div id="_bf">
			<span>姓名</span>
		</div>
	</div>
	<div id="Group_839">
		<svg class="Rectangle_112">
			<rect id="Rectangle_112" rx="4" ry="4" x="0" y="0" width="327" height="48">
			</rect>
		</svg>
		<div id="Component_18__1">
			<svg class="Path_10" viewBox="0 0 16 16">
				<path id="Path_10" d="M 8 0 L 6.545454978942871 1.454545497894287 L 12.05194854736328 6.961039066314697 L 0 6.961039066314697 L 0 9.038961410522461 L 12.05194854736328 9.038961410522461 L 6.545454978942871 14.54545497894287 L 8 16 L 16 8 L 8 0 Z">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Line_59" viewBox="0 0 327 1">
		<path id="Line_59" d="M 0 0 L 327 0">
		</path>
	</svg>
	<div id="_x">
		<span>註冊</span>
	</div>
	<div id="_y">
		<span><a href="\Login">登入</a></span>
	</div>
	<svg class="Line_60" viewBox="0 0 162 5">
		<path id="Line_60" d="M 0 0 L 162 0">
		</path>
	</svg>
	<div id="Group_231">
		<div id="Group_197">
			<div id="Group_28"><a href="/">
				<img id="Group_27" src="\themes\Okrent\img\login\Group_27.png" srcset="\themes\Okrent\img\login\Group_27.png 1x, Group_27@2x.png 2x">


			</div>
			<div id="Group_35">
				<div id="Group_30">
					<img id="Group_29" src="\themes\Okrent\img\login\\themes\Okrent\img\login\Group_29.png" srcset="\themes\Okrent\img\login\Group_29.png 1x, Group_29@2x.png 2x">


				</div>
			</div>
			<div id="Group_36">
				<div id="Group_32">
					<img id="Group_31" src="\themes\Okrent\img\login\\themes\Okrent\img\login\Group_31.png" srcset="\themes\Okrent\img\login\Group_31.png 1x, Group_31@2x.png 2x">


				</div>
			</div>
			<div id="Group_34">
				<img id="Group_33" src="\themes\Okrent\img\login\\themes\Okrent\img\login\Group_33.png" srcset="\themes\Okrent\img\login\Group_33.png 1x, Group_33@2x.png 2x">


			</a></div>
		</div>
	</div>
	<div id="Group_835">
		<svg class="Rectangle_122">
			<rect id="Rectangle_122" rx="0" ry="0" x="0" y="0" width="327" height="48">
			</rect>
		</svg>
		<div id="ID">
			<input class="inp" type="text" name="ID" value="" placeholder="請輸入手機號碼" maxlength="20" required="required">
			<!-- <span>09033581098</span> -->
		</div>
		<div id="_bf">
			<span>手機號碼</span>
		</div>
		<svg class="Path_20819" viewBox="3.024 0 10.512 20.952">
			<path id="Path_20819" d="M 11.66399955749512 20.95199966430664 L 11.66399955749512 20.95199966430664 L 11.73600006103516 20.95199966430664 L 11.80799961090088 20.95199966430664 L 11.88000011444092 20.95199966430664 L 11.95199966430664 20.95199966430664 L 12.02400016784668 20.95199966430664 L 12.0959997177124 20.8799991607666 L 12.16800022125244 20.8799991607666 L 12.23999977111816 20.8799991607666 L 12.3120002746582 20.8799991607666 L 12.3120002746582 20.8080005645752 L 12.38399982452393 20.8080005645752 L 12.45600032806396 20.8080005645752 L 12.52799987792969 20.73600006103516 L 12.60000038146973 20.73600006103516 L 12.67199993133545 20.73600006103516 L 12.67199993133545 20.66399955749512 L 12.74400043487549 20.66399955749512 L 12.74400043487549 20.59199905395508 L 12.81599998474121 20.59199905395508 L 12.88799953460693 20.59199905395508 L 12.88799953460693 20.52000045776367 L 12.96000003814697 20.52000045776367 L 12.96000003814697 20.44799995422363 L 13.0319995880127 20.44799995422363 L 13.10400009155273 20.37599945068359 L 13.17599964141846 20.30400085449219 L 13.17599964141846 20.23200035095215 L 13.2480001449585 20.23200035095215 L 13.2480001449585 20.15999984741211 L 13.31999969482422 20.08799934387207 L 13.31999969482422 20.01600074768066 L 13.39200019836426 19.94400024414063 L 13.39200019836426 19.87199974060059 L 13.46399974822998 19.79999923706055 L 13.46399974822998 19.72800064086914 L 13.46399974822998 19.6560001373291 L 13.46399974822998 19.58399963378906 L 13.53600025177002 19.51199913024902 L 13.53600025177002 19.44000053405762 L 13.53600025177002 19.36800003051758 L 13.53600025177002 19.29599952697754 L 13.53600025177002 19.22400093078613 L 13.53600025177002 19.15200042724609 L 13.53600025177002 19.07999992370605 L 13.53600025177002 1.871999979019165 L 13.53600025177002 1.799999952316284 L 13.53600025177002 1.728000044822693 L 13.53600025177002 1.656000018119812 L 13.53600025177002 1.51199996471405 L 13.53600025177002 1.440000057220459 L 13.53600025177002 1.368000030517578 L 13.46399974822998 1.296000003814697 L 13.46399974822998 1.223999977111816 L 13.46399974822998 1.151999950408936 L 13.39200019836426 1.080000042915344 L 13.39200019836426 1.008000016212463 L 13.31999969482422 0.9359999895095825 L 13.31999969482422 0.8640000224113464 L 13.31999969482422 0.7919999957084656 L 13.2480001449585 0.7919999957084656 L 13.2480001449585 0.7200000286102295 L 13.17599964141846 0.6480000019073486 L 13.10400009155273 0.5759999752044678 L 13.0319995880127 0.5040000081062317 L 12.96000003814697 0.5040000081062317 L 12.96000003814697 0.4320000112056732 L 12.88799953460693 0.4320000112056732 L 12.88799953460693 0.3600000143051147 L 12.81599998474121 0.3600000143051147 L 12.74400043487549 0.2879999876022339 L 12.67199993133545 0.2879999876022339 L 12.67199993133545 0.2160000056028366 L 12.60000038146973 0.2160000056028366 L 12.52799987792969 0.2160000056028366 L 12.52799987792969 0.1439999938011169 L 12.45600032806396 0.1439999938011169 L 12.38399982452393 0.1439999938011169 L 12.3120002746582 0.07199999690055847 L 12.23999977111816 0.07199999690055847 L 12.16800022125244 0.07199999690055847 L 12.0959997177124 0 L 12.02400016784668 0 L 11.95199966430664 0 L 11.88000011444092 0 L 11.80799961090088 0 L 11.73600006103516 0 L 11.66399955749512 0 L 8.279999732971191 0 L 8.279999732971191 0.9359999895095825 L 9.576000213623047 0.9359999895095825 L 9.64799976348877 0.9359999895095825 L 9.720000267028809 1.008000016212463 L 9.720000267028809 1.080000042915344 L 9.720000267028809 1.151999950408936 L 9.720000267028809 1.223999977111816 L 9.720000267028809 1.296000003814697 L 9.720000267028809 1.368000030517578 L 9.64799976348877 1.368000030517578 L 9.576000213623047 1.368000030517578 L 8.279999732971191 1.368000030517578 L 8.279999732971191 2.375999927520752 L 12.60000038146973 2.375999927520752 L 12.60000038146973 17.56800079345703 L 8.279999732971191 17.56800079345703 L 8.279999732971191 18.28800010681152 L 8.35200023651123 18.28800010681152 L 8.423999786376953 18.28800010681152 L 8.496000289916992 18.28800010681152 L 8.567999839782715 18.28800010681152 L 8.640000343322754 18.28800010681152 L 8.640000343322754 18.36000061035156 L 8.711999893188477 18.36000061035156 L 8.784000396728516 18.36000061035156 L 8.855999946594238 18.43199920654297 L 8.928000450134277 18.50399971008301 L 9 18.50399971008301 L 9 18.57600021362305 L 9.071999549865723 18.64800071716309 L 9.144000053405762 18.71999931335449 L 9.144000053405762 18.79199981689453 L 9.144000053405762 18.86400032043457 L 9.215999603271484 18.86400032043457 L 9.215999603271484 18.93600082397461 L 9.215999603271484 19.00799942016602 L 9.215999603271484 19.07999992370605 L 9.215999603271484 19.15200042724609 L 9.288000106811523 19.22400093078613 L 9.215999603271484 19.22400093078613 L 9.215999603271484 19.29599952697754 L 9.215999603271484 19.36800003051758 L 9.215999603271484 19.44000053405762 L 9.215999603271484 19.51199913024902 L 9.144000053405762 19.58399963378906 L 9.144000053405762 19.6560001373291 L 9.144000053405762 19.72800064086914 L 9.071999549865723 19.72800064086914 L 9.071999549865723 19.79999923706055 L 9 19.79999923706055 L 9 19.87199974060059 L 8.928000450134277 19.94400024414063 L 8.855999946594238 19.94400024414063 L 8.855999946594238 20.01600074768066 L 8.784000396728516 20.01600074768066 L 8.711999893188477 20.08799934387207 L 8.640000343322754 20.08799934387207 L 8.567999839782715 20.08799934387207 L 8.567999839782715 20.15999984741211 L 8.496000289916992 20.15999984741211 L 8.423999786376953 20.15999984741211 L 8.35200023651123 20.15999984741211 L 8.279999732971191 20.15999984741211 L 8.279999732971191 20.95199966430664 L 11.66399955749512 20.95199966430664 Z M 8.279999732971191 0 L 4.967999935150146 0 L 4.895999908447266 0 L 4.823999881744385 0 L 4.751999855041504 0 L 4.679999828338623 0 L 4.607999801635742 0 L 4.535999774932861 0 L 4.464000225067139 0.07199999690055847 L 4.320000171661377 0.07199999690055847 L 4.248000144958496 0.07199999690055847 L 4.248000144958496 0.1439999938011169 L 4.176000118255615 0.1439999938011169 L 4.104000091552734 0.1439999938011169 L 4.032000064849854 0.2160000056028366 L 3.960000038146973 0.2160000056028366 L 3.888000011444092 0.2879999876022339 L 3.815999984741211 0.2879999876022339 L 3.74399995803833 0.3600000143051147 L 3.671999931335449 0.4320000112056732 L 3.599999904632568 0.5040000081062317 L 3.528000116348267 0.5040000081062317 L 3.528000116348267 0.5759999752044678 L 3.456000089645386 0.5759999752044678 L 3.456000089645386 0.6480000019073486 L 3.384000062942505 0.6480000019073486 L 3.384000062942505 0.7200000286102295 L 3.312000036239624 0.7919999957084656 L 3.240000009536743 0.8640000224113464 L 3.240000009536743 0.9359999895095825 L 3.240000009536743 1.008000016212463 L 3.167999982833862 1.080000042915344 L 3.167999982833862 1.151999950408936 L 3.095999956130981 1.223999977111816 L 3.095999956130981 1.296000003814697 L 3.095999956130981 1.368000030517578 L 3.095999956130981 1.440000057220459 L 3.095999956130981 1.51199996471405 L 3.023999929428101 1.656000018119812 L 3.023999929428101 1.728000044822693 L 3.023999929428101 1.799999952316284 L 3.023999929428101 1.871999979019165 L 3.023999929428101 19.07999992370605 L 3.023999929428101 19.15200042724609 L 3.023999929428101 19.22400093078613 L 3.023999929428101 19.29599952697754 L 3.095999956130981 19.36800003051758 L 3.095999956130981 19.44000053405762 L 3.095999956130981 19.51199913024902 L 3.095999956130981 19.58399963378906 L 3.095999956130981 19.6560001373291 L 3.167999982833862 19.72800064086914 L 3.167999982833862 19.79999923706055 L 3.167999982833862 19.87199974060059 L 3.240000009536743 19.94400024414063 L 3.240000009536743 20.01600074768066 L 3.312000036239624 20.08799934387207 L 3.312000036239624 20.15999984741211 L 3.384000062942505 20.23200035095215 L 3.456000089645386 20.30400085449219 L 3.456000089645386 20.37599945068359 L 3.528000116348267 20.37599945068359 L 3.528000116348267 20.44799995422363 L 3.599999904632568 20.44799995422363 L 3.671999931335449 20.52000045776367 L 3.74399995803833 20.59199905395508 L 3.815999984741211 20.59199905395508 L 3.888000011444092 20.66399955749512 L 3.960000038146973 20.73600006103516 L 4.032000064849854 20.73600006103516 L 4.104000091552734 20.73600006103516 L 4.104000091552734 20.8080005645752 L 4.176000118255615 20.8080005645752 L 4.248000144958496 20.8080005645752 L 4.320000171661377 20.8799991607666 L 4.464000225067139 20.8799991607666 L 4.535999774932861 20.8799991607666 L 4.607999801635742 20.95199966430664 L 4.679999828338623 20.95199966430664 L 4.751999855041504 20.95199966430664 L 4.823999881744385 20.95199966430664 L 4.895999908447266 20.95199966430664 L 4.967999935150146 20.95199966430664 L 8.279999732971191 20.95199966430664 L 8.279999732971191 20.15999984741211 L 8.208000183105469 20.15999984741211 L 8.13599967956543 20.15999984741211 L 8.064000129699707 20.15999984741211 L 7.992000102996826 20.08799934387207 L 7.920000076293945 20.08799934387207 L 7.848000049591064 20.08799934387207 L 7.848000049591064 20.01600074768066 L 7.776000022888184 20.01600074768066 L 7.703999996185303 19.94400024414063 L 7.631999969482422 19.94400024414063 L 7.631999969482422 19.87199974060059 L 7.559999942779541 19.87199974060059 L 7.559999942779541 19.79999923706055 L 7.48799991607666 19.72800064086914 L 7.48799991607666 19.6560001373291 L 7.415999889373779 19.6560001373291 L 7.415999889373779 19.58399963378906 L 7.415999889373779 19.51199913024902 L 7.343999862670898 19.44000053405762 L 7.343999862670898 19.36800003051758 L 7.343999862670898 19.29599952697754 L 7.343999862670898 19.22400093078613 L 7.343999862670898 19.15200042724609 L 7.343999862670898 19.07999992370605 L 7.343999862670898 19.00799942016602 L 7.343999862670898 18.93600082397461 L 7.415999889373779 18.93600082397461 L 7.415999889373779 18.86400032043457 L 7.415999889373779 18.79199981689453 L 7.48799991607666 18.71999931335449 L 7.48799991607666 18.64800071716309 L 7.559999942779541 18.64800071716309 L 7.559999942779541 18.57600021362305 L 7.631999969482422 18.50399971008301 L 7.703999996185303 18.50399971008301 L 7.703999996185303 18.43199920654297 L 7.776000022888184 18.43199920654297 L 7.776000022888184 18.36000061035156 L 7.848000049591064 18.36000061035156 L 7.920000076293945 18.36000061035156 L 7.992000102996826 18.28800010681152 L 8.064000129699707 18.28800010681152 L 8.13599967956543 18.28800010681152 L 8.208000183105469 18.28800010681152 L 8.279999732971191 18.28800010681152 L 8.279999732971191 17.56800079345703 L 4.032000064849854 17.56800079345703 L 4.032000064849854 2.375999927520752 L 8.279999732971191 2.375999927520752 L 8.279999732971191 1.368000030517578 L 6.984000205993652 1.368000030517578 L 6.912000179290771 1.368000030517578 L 6.912000179290771 1.296000003814697 L 6.840000152587891 1.296000003814697 L 6.840000152587891 1.223999977111816 L 6.840000152587891 1.151999950408936 L 6.840000152587891 1.080000042915344 L 6.912000179290771 1.008000016212463 L 6.912000179290771 0.9359999895095825 L 6.984000205993652 0.9359999895095825 L 8.279999732971191 0.9359999895095825 L 8.279999732971191 0 Z">
			</path>
		</svg>
	</div>
	<div id="Group_836">
		<svg class="Rectangle_122_bi">
			<rect id="Rectangle_122_bi" rx="0" ry="0" x="0" y="0" width="327" height="48">
			</rect>
		</svg>
		<div id="_bj">
			<input class="inp" type="password" name="password" value="" placeholder="輸入密碼" maxlength="20" required="required">
			<!-- <span>●●●●●●●</span> -->
		</div>
		<div id="_bk">
			<span>密碼</span>
		</div>
		<svg class="Path_20820" viewBox="2.376 42.12 11.808 14.472">
			<path id="Path_20820" d="M 8.279999732971191 43.27199935913086 L 8.279999732971191 43.27199935913086 L 8.279999732971191 42.11999893188477 L 9.215999603271484 42.26399993896484 L 10.07999992370605 42.47999954223633 L 10.87199974060059 42.9119987487793 L 11.59200000762939 43.48799896240234 L 12.16800022125244 44.20800018310547 L 12.60000038146973 44.92800140380859 L 12.81599998474121 45.86399841308594 L 12.88799953460693 46.72800064086914 L 11.59200000762939 46.72800064086914 L 11.59200000762939 46.08000183105469 L 11.52000045776367 45.57600021362305 L 11.44799995422363 45.28799819946289 L 11.15999984741211 44.85599899291992 L 10.94400024414063 44.42399978637695 L 10.51200008392334 44.13600158691406 L 10.15200042724609 43.84799957275391 L 9.791999816894531 43.63199996948242 L 9.288000106811523 43.48799896240234 L 8.784000396728516 43.27199935913086 L 8.279999732971191 43.27199935913086 Z M 8.279999732971191 56.59199905395508 L 8.279999732971191 55.29600143432617 L 9.576000213623047 55.29600143432617 L 8.928000450134277 53.35200119018555 L 9.288000106811523 53.06399917602539 L 9.503999710083008 52.84799957275391 L 9.720000267028809 52.41600036621094 L 9.791999816894531 51.98400115966797 L 9.791999816894531 51.69599914550781 L 9.720000267028809 51.40800094604492 L 9.503999710083008 51.19200134277344 L 9.359999656677246 50.97600173950195 L 9.144000053405762 50.7599983215332 L 8.855999946594238 50.61600112915039 L 8.640000343322754 50.54399871826172 L 8.279999732971191 50.54399871826172 L 8.279999732971191 49.39199829101563 L 12.88799953460693 49.39199829101563 L 13.17599964141846 49.39199829101563 L 13.39200019836426 49.4640007019043 L 13.82400035858154 49.82400131225586 L 14.11200046539307 50.18399810791016 L 14.18400001525879 50.47200012207031 L 14.18400001525879 50.6879997253418 L 14.18400001525879 55.29600143432617 L 14.18400001525879 55.51200103759766 L 14.11200046539307 55.79999923706055 L 13.82400035858154 56.23199844360352 L 13.39200019836426 56.52000045776367 L 13.17599964141846 56.59199905395508 L 12.88799953460693 56.59199905395508 L 8.279999732971191 56.59199905395508 Z M 5.039999961853027 46.08000183105469 L 5.039999961853027 46.08000183105469 L 5.111999988555908 45.57600021362305 L 5.184000015258789 45.28799819946289 L 5.400000095367432 44.85599899291992 L 5.688000202178955 44.42399978637695 L 6.047999858856201 44.13600158691406 L 6.407999992370605 43.84799957275391 L 6.840000152587891 43.63199996948242 L 7.343999862670898 43.48799896240234 L 7.776000022888184 43.27199935913086 L 8.279999732971191 43.27199935913086 L 8.279999732971191 42.11999893188477 L 7.415999889373779 42.26399993896484 L 6.480000019073486 42.47999954223633 L 5.688000202178955 42.9119987487793 L 5.039999961853027 43.48799896240234 L 4.464000225067139 44.20800018310547 L 4.032000064849854 44.92800140380859 L 3.74399995803833 45.86399841308594 L 3.671999931335449 46.72800064086914 L 3.671999931335449 48.74399948120117 L 5.039999961853027 48.74399948120117 L 5.039999961853027 46.08000183105469 Z M 8.279999732971191 49.39199829101563 L 8.279999732971191 50.54399871826172 L 7.992000102996826 50.54399871826172 L 7.703999996185303 50.61600112915039 L 7.48799991607666 50.7599983215332 L 7.199999809265137 50.97600173950195 L 7.056000232696533 51.19200134277344 L 6.912000179290771 51.40800094604492 L 6.840000152587891 51.69599914550781 L 6.840000152587891 51.98400115966797 L 6.912000179290771 52.41600036621094 L 7.056000232696533 52.84799957275391 L 7.343999862670898 53.06399917602539 L 7.631999969482422 53.35200119018555 L 6.984000205993652 55.29600143432617 L 8.279999732971191 55.29600143432617 L 8.279999732971191 56.59199905395508 L 3.671999931335449 56.59199905395508 L 3.456000089645386 56.59199905395508 L 3.240000009536743 56.52000045776367 L 2.808000087738037 56.23199844360352 L 2.447999954223633 55.79999923706055 L 2.375999927520752 55.51200103759766 L 2.375999927520752 55.29600143432617 L 2.375999927520752 50.6879997253418 L 2.375999927520752 50.47200012207031 L 2.447999954223633 50.18399810791016 L 2.808000087738037 49.82400131225586 L 3.240000009536743 49.4640007019043 L 3.456000089645386 49.39199829101563 L 3.671999931335449 49.39199829101563 L 8.279999732971191 49.39199829101563 Z">
			</path>
		</svg>
	</div>
	<div id="Group_837">
		<svg class="Rectangle_2447">
			<rect id="Rectangle_2447" rx="0" ry="0" x="0" y="0" width="327" height="48">
			</rect>
		</svg>
		<div id="_bo">
			<input class="inp" type="password" name="password" value="" placeholder="確認密碼" maxlength="20" required="required">
			<!-- <span>●●●●●●●</span> -->
		</div>
		<div id="_bp">
			<span>確認密碼</span>
		</div>
		<svg class="Path_20955" viewBox="2.376 42.12 11.808 14.472">
			<path id="Path_20955" d="M 8.279999732971191 43.27199935913086 L 8.279999732971191 43.27199935913086 L 8.279999732971191 42.11999893188477 L 9.215999603271484 42.26399993896484 L 10.07999992370605 42.47999954223633 L 10.87199974060059 42.9119987487793 L 11.59200000762939 43.48799896240234 L 12.16800022125244 44.20800018310547 L 12.60000038146973 44.92800140380859 L 12.81599998474121 45.86399841308594 L 12.88799953460693 46.72800064086914 L 11.59200000762939 46.72800064086914 L 11.59200000762939 46.08000183105469 L 11.52000045776367 45.57600021362305 L 11.44799995422363 45.28799819946289 L 11.15999984741211 44.85599899291992 L 10.94400024414063 44.42399978637695 L 10.51200008392334 44.13600158691406 L 10.15200042724609 43.84799957275391 L 9.791999816894531 43.63199996948242 L 9.288000106811523 43.48799896240234 L 8.784000396728516 43.27199935913086 L 8.279999732971191 43.27199935913086 Z M 8.279999732971191 56.59199905395508 L 8.279999732971191 55.29600143432617 L 9.576000213623047 55.29600143432617 L 8.928000450134277 53.35200119018555 L 9.288000106811523 53.06399917602539 L 9.503999710083008 52.84799957275391 L 9.720000267028809 52.41600036621094 L 9.791999816894531 51.98400115966797 L 9.791999816894531 51.69599914550781 L 9.720000267028809 51.40800094604492 L 9.503999710083008 51.19200134277344 L 9.359999656677246 50.97600173950195 L 9.144000053405762 50.7599983215332 L 8.855999946594238 50.61600112915039 L 8.640000343322754 50.54399871826172 L 8.279999732971191 50.54399871826172 L 8.279999732971191 49.39199829101563 L 12.88799953460693 49.39199829101563 L 13.17599964141846 49.39199829101563 L 13.39200019836426 49.4640007019043 L 13.82400035858154 49.82400131225586 L 14.11200046539307 50.18399810791016 L 14.18400001525879 50.47200012207031 L 14.18400001525879 50.6879997253418 L 14.18400001525879 55.29600143432617 L 14.18400001525879 55.51200103759766 L 14.11200046539307 55.79999923706055 L 13.82400035858154 56.23199844360352 L 13.39200019836426 56.52000045776367 L 13.17599964141846 56.59199905395508 L 12.88799953460693 56.59199905395508 L 8.279999732971191 56.59199905395508 Z M 5.039999961853027 46.08000183105469 L 5.039999961853027 46.08000183105469 L 5.111999988555908 45.57600021362305 L 5.184000015258789 45.28799819946289 L 5.400000095367432 44.85599899291992 L 5.688000202178955 44.42399978637695 L 6.047999858856201 44.13600158691406 L 6.407999992370605 43.84799957275391 L 6.840000152587891 43.63199996948242 L 7.343999862670898 43.48799896240234 L 7.776000022888184 43.27199935913086 L 8.279999732971191 43.27199935913086 L 8.279999732971191 42.11999893188477 L 7.415999889373779 42.26399993896484 L 6.480000019073486 42.47999954223633 L 5.688000202178955 42.9119987487793 L 5.039999961853027 43.48799896240234 L 4.464000225067139 44.20800018310547 L 4.032000064849854 44.92800140380859 L 3.74399995803833 45.86399841308594 L 3.671999931335449 46.72800064086914 L 3.671999931335449 48.74399948120117 L 5.039999961853027 48.74399948120117 L 5.039999961853027 46.08000183105469 Z M 8.279999732971191 49.39199829101563 L 8.279999732971191 50.54399871826172 L 7.992000102996826 50.54399871826172 L 7.703999996185303 50.61600112915039 L 7.48799991607666 50.7599983215332 L 7.199999809265137 50.97600173950195 L 7.056000232696533 51.19200134277344 L 6.912000179290771 51.40800094604492 L 6.840000152587891 51.69599914550781 L 6.840000152587891 51.98400115966797 L 6.912000179290771 52.41600036621094 L 7.056000232696533 52.84799957275391 L 7.343999862670898 53.06399917602539 L 7.631999969482422 53.35200119018555 L 6.984000205993652 55.29600143432617 L 8.279999732971191 55.29600143432617 L 8.279999732971191 56.59199905395508 L 3.671999931335449 56.59199905395508 L 3.456000089645386 56.59199905395508 L 3.240000009536743 56.52000045776367 L 2.808000087738037 56.23199844360352 L 2.447999954223633 55.79999923706055 L 2.375999927520752 55.51200103759766 L 2.375999927520752 55.29600143432617 L 2.375999927520752 50.6879997253418 L 2.375999927520752 50.47200012207031 L 2.447999954223633 50.18399810791016 L 2.808000087738037 49.82400131225586 L 3.240000009536743 49.4640007019043 L 3.456000089645386 49.39199829101563 L 3.671999931335449 49.39199829101563 L 8.279999732971191 49.39199829101563 Z">
			</path>
		</svg>
	</div>
	<div id="Group_840">
		<img id="fb" src="\themes\Okrent\img\login\fb.png" srcset="\themes\Okrent\img\login\fb.png 1x, fb@2x.png 2x">

		<img id="Google" src="\themes\Okrent\img\login\Google.png" srcset="\themes\Okrent\img\login\Google.png 1x, Google@2x.png 2x">

		<img id="Line_logo" src="\themes\Okrent\img\login\Line_logo.png" srcset="\themes\Okrent\img\login\Line_logo.png 1x, Line_logo@2x.png 2x">

	</div>
	<div id="Group_838">
		<input id="Path_20956" class="inp Path_20956" type="text" name="ID" value="" placeholder="手機驗證碼" maxlength="20" required="required">
		<!-- <svg class="Path_20956" viewBox="0 0 327 48">
			<path id="Path_20956" d="M 0 0 L 327 0 L 327 48 L 0 48 L 0 0 Z">
			</path>
		</svg> -->
		<svg class="Rectangle_721">
			<rect id="Rectangle_721" rx="4" ry="4" x="0" y="0" width="71" height="34">
			</rect>
		</svg>
		<div id="ID1288">
			<span>1288</span>
		</div>
		<div id="Group_227">
			<svg class="Path_667" viewBox="1.744 1.125 8.059 9.03">
				<path id="Path_667" d="M 6.652797698974609 4.816680908203125 C 6.995272636413574 4.344938278198242 7.460300445556641 3.802685499191284 8.106637954711914 3.665024042129517 C 7.693653106689453 3.272185087203979 7.178261756896973 2.988467454910278 6.622579574584961 2.857521533966064 C 5.757997512817383 2.645992517471313 4.809475898742676 2.798763275146484 4.062409400939941 3.283936738967896 C 3.310307264328003 3.76071572303772 2.764697551727295 4.554787635803223 2.605211496353149 5.431121826171875 C 2.43061637878418 6.30577564239502 2.63207221031189 7.245903968811035 3.152499914169312 7.967787742614746 C 3.66789174079895 8.69638729095459 4.485466957092285 9.198348045349121 5.366836547851563 9.320899963378906 C 5.663984298706055 9.36790657043457 5.96784782409668 9.364548683166504 6.264994621276855 9.329294204711914 C 6.303606986999512 9.304112434387207 6.367402076721191 10.12504577636719 6.348935127258301 10.123366355896 C 5.986313819885254 10.16533660888672 5.616978645324707 10.16869449615479 5.25435733795166 10.11161518096924 C 4.15642261505127 9.958844184875488 3.140748739242554 9.33265209197998 2.504483461380005 8.431137084960938 C 1.853109121322632 7.532978057861328 1.604646921157837 6.362854957580566 1.819533348083496 5.278350830078125 C 2.024346828460693 4.188809394836426 2.699224233627319 3.203353881835938 3.630958318710327 2.612416505813599 C 4.561013221740723 2.009727478027344 5.739530563354492 1.816665410995483 6.812283515930176 2.081915855407715 C 7.497233390808105 2.244759559631348 8.135177612304688 2.592270851135254 8.645532608032227 3.075765132904053 C 8.680787086486816 2.374027013778687 8.808376312255859 1.598421335220337 9.076984405517578 1.125 C 9.850911140441895 2.733290195465088 10.01039695739746 4.590042114257813 9.535297393798828 6.058992385864258 C 9.306980133056641 5.310247421264648 8.771442413330078 4.808286666870117 8.204008102416992 4.628654479980469 C 7.638253211975098 4.440629005432129 7.06913948059082 4.54471492767334 6.652797698974609 4.816680908203125">
				</path>
			</svg>
			<svg class="Rectangle_1561">
				<rect id="Rectangle_1561" rx="0" ry="0" x="0" y="0" width="13.85" height="13.85">
				</rect>
			</svg>
		</div>
		<div id="_b">
			<span>請輸入驗證碼</span>
		</div>
		<!-- <div id="ID1288_b">
			<span>1288</span>
		</div> -->
	</div>
</div>
