

<div class="bottom_fix_div">
</div>

{include file="$tpl_dir./search_bar.tpl"}

<div class="container-fluid">
        <header style="max-width: 960px;">

        </header>


        <div id="tm-bg"></div>


        <div id="tm-wrap-case">
            <div class="tm-main-content">

                <!-- 次頁主內容 -->
                <article>





                </article>

            </div>
            <!-- .tm-main-content -->

                <div class="details">
        			<div class="details__bg details__bg--down" style="opacity: 0; transform: none;">
        				<button class="details__close" style="opacity: 0; transform: translateY(100%);"><svg class="svg-inline--fa fa-times fa-w-11 fa-2x icon--cross tm-fa-close" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-2x fa-times icon--cross tm-fa-close"></i> Font Awesome fontawesome.com --></button>
        				<div class="details__description" style="opacity: 0;"></div>
        			</div>
        			</div></div>


        <div class="details">
			<div class="details__bg details__bg--down" style="opacity: 0; transform: none;">
				<button class="details__close" style="opacity: 0; transform: translateY(100%);"><i class="fas fa-2x fa-times icon--cross tm-fa-close"></i></button>
				<div class="details__description" style="opacity: 0;"></div>
			</div>
			</div></div>
    </div>

    <div class="container-fluid main" id="main">

        <div class="breadcrumbs">
            <p>{$breadcrumbs_html}{if $sidname} &gt; {$sidname}{/if}</p><br>
        </div>


<form action="/Orderrequest2" method="post" enctype="application/x-www-form-urlencoded" class="form_wrap">
<div class="main">
	<div class="r">
	</div>
		<div class="l">
			<div class="row tabs"></div>
			<div class="row IDtitle">　　帳號<select name="international_code" id="international_code"><option value="+886">TW(+886)</option></select><input type="type" id="user" name="user" maxlength="100"  value="" placeholder="請輸入手機號碼"></div>
			<div class="row ID"></div>
			<div class="row Pswtitle">　　密碼<input type="password" id="password" name="password" maxlength="20"  value="" placeholder="英數混合6~12碼"></div>
			<div class="row Psw"></div>
			<div class="row Pswchecktitle">確認密碼<input type="password" id="check_password" name="check_password" value="" placeholder=""></div>
			<div class="row Pswcheck"></div>
			<div class="row nametitle">　　姓名<input type="text" id="name" name="name" value="" placeholder="" maxlength="20" ><input type="radio" name="gender" value="0" checked="checked">女士 <input type="radio"  value="1" name="gender">先生 <input type="radio"  value="1" name="gender">商號</div>
			<div class="row name"></div>
			<div class="row nicknametitle">　　暱稱<input type="text" id="nickname" name="nickname" value="" placeholder="" maxlength="20"></div>
			<div class="row nickname"></div>
			<div class="row checkCode">
				<div>取得驗證碼</div>
				<div><input type="text" value="" name="captcha" placeholder="驗證碼" maxlength="16"></div>
				<div><button type="button" id="tel_submit">點選取得驗證碼</button></div>
			</div>
			<div class="row checkCode">
				<div>身分別：</div>
				<div><input type="radio" name="member_v" value="0" checked="checked">一般會員 <input type="radio" name="member_v" value="1" checked="checked">達人會員</div>
			</div>
<div class="row btn">
<div><input type="checkbox" id="agree" name="agree" value="1" checked="true">我已閱讀並同意裝修達人的【服務條款】與【隱私權聲明】及會員同意條款</div>
</div>
<div class="row btn">
	<div><a href="#"><button type="submit" style="background-color: orange;border: 0px;padding: 0px;"  id="submitAdd{$table}" name="submitAdd{$table}" value="1">立即註冊</button></a></div>
</div>


		</div>
</div>
</form>

{*
        <div class="row">
          <div class="col-sm-1 "></div>
          <div class="col-sm-10 ">
                <div class="col-xs-12 col-sm-12 form_1 forms_div">

                  <img src="/themes/Epro/img/case/orderrequest_img_1.jpg">

                  {include file="tab1.tpl"}

                </div><div class="col-xs-12 col-sm-12 form_2 forms_div">

                  <img src="/themes/Epro/img/case/orderrequest_img_2.jpg">

                  {include file="tab2.tpl"}

                </div>
          </div>
          <div class="col-sm-1 "></div>
        </div>
*}

    </div>
