<div class="col-sm-12 tab_1 tabs">

  <ul>

    <li class="title has_txt required">帳　號:<input type="text" class="org_bor" ></li>
    <li class="content"></li>
    <li class="title has_txt required">密　碼:<input type="text" class="org_bor" ></li>
    <li class="content"></li>
    <li class="content buttons"><button type="button" class="Previous" onclick="show_prev(this)">上一步</button><button type="button" class="next">下一步</button></li>

  </ul>
</div>
