.all_in_one_social_login{
	text-align: center;
}
.all_in_one_social_login .facebook{
	color:#fff;
	background-color: #4267b2;
}
.all_in_one_social_login .button{
	display: inline-block;
	font-size: 14px;
	border-radius: 3px;
	margin: 6px 1%;
}
.all_in_one_social_login .button .txt{
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}
.all_in_one_social_login .facebook span{
	height: 16px;
	margin: 6px;
	vertical-align: middle;
	display: inline-block;
}
.all_in_one_social_login .facebook span svg{
	height: 16px;
	width: 16px;
}