{include file="$tpl_dir./mobile/menu_buoy.tpl"}
<p>
<img src="\themes\App\mobile\img\expertAdvisor\banner.svg">

  <input type="hidden" id="start_form" value="{if $smarty.session.id_member}start{/if}">
<div class="txt">
  <div class="title">
  隨時隨地透過分享<br>
為自己開創多元收入</div>
<img src="\themes\App\mobile\img\expertAdvisor\slogan.svg">
<!-- <div class="slogan"><span>免推銷</span><span>免費用</span><span>免屯貨</span><span>非保險</span><span>傳銷</span></div> -->
<!-- <div class="content">加入生活達人只要分享生活相關平台資凯給朋友,<br>
再回饋給生活體系,除了享有生活好康外。<br>
還能開啟多元的永情收入。</div>
</div> -->

<img src="\themes\App\mobile\img\expertAdvisor\content.svg">
<!-- <img class="groupLink svg" src="\themes\App\mobile\img\expertAdvisor\groupLink.svg"> -->
<img src="\themes\Rent\img\expertadvisor\banner_3.svg" style="width: 100%;">
<div class="applyformbk" style="display:none">
<form action="/ExpertAdvisor"  enctype="multipart/form-data" method="post" id="sumbit_data" >
  <div class="applyform form1" style="display:none">
    加入生活
  <div class="form_item"><span class="must">*</span><span class="title">姓名</span><input class="inp" type="text" name="name" value="{$smarty.session.name}" maxlength="20" placeholder="Name" required="required"></div>
  <div class="form_item"><span class="title">暱稱</span><input class="inp" type="text"  name="nickname" value="{$smarty.session.nickname}" maxlength="20"  required="required" placeholder="nickname"></div>
  <div class="form_item birthday"><span class="must">*</span><span class="title">生日</span>
    <input type="hidden" name="birthday">
    <select class="inp" name="birthday_y" id="birthday_y" required="required">{for $i=2020;$i>=1090;$i--}<option value="{$i}">{$i}</option>{/for}</select>年
    <select class="inp" name="birthday_m" id="birthday_m" required="required">{for $i=1;$i<=12;$i++}<option value="{$i}">{$i}</option>{/for}</select>月
    <select class="inp" name="birthday_d" id="birthday_d" required="required">{for $i=1;$i<=31;$i++}<option value="{$i}">{$i}</option>{/for}</select>日
    <!-- <input class="inp" type="text" placeholder="birthday"> -->
  </div>
  <div class="form_item"><span class="must">*</span><span class="title">手機</span><input class="inp" type="text" name="phone" value="{$smarty.session.user}"  maxlength="20" required="required" placeholder="0912345678" ></div>
  <div class="form_item"><span class="must">*</span><span class="title">Line lD</span><input class="inp" type="text" name="line_id" maxlength="32" required="required" placeholder="Line"></div>
  <div class="form_item"><span class="must">*</span><span class="title">電郵</span><input class="inp" type="email" name="email" maxlength="128" required="required" placeholder="eMail"></div>

  <div class="form_item"><span class="must">*</span><span class="title">通訊地址</span>
    <div class="post_ID">
      <input type="hidden" name="postal" maxlength="6">
      <input class="post_ID_txt" name="post_ID_txt" type="text" value="郵遞區號">
      <input class="post_ID_n" name="postal_1" type="number" maxlength="1" onkeyup="document.getElementsByClassName('post_ID_n')[1].focus()">
      <input class="post_ID_n" name="postal_2" type="number" maxlength="1" onkeyup="document.getElementsByClassName('post_ID_n')[2].focus()">
      <input class="post_ID_n" name="postal_3" type="number" maxlength="1" onkeyup="document.getElementsByClassName('post_ID_n')[3].focus()">
      <input class="post_ID_n" name="postal_4" type="number" maxlength="1" onkeyup="document.getElementsByClassName('post_ID_n')[4].focus()">
      <input class="post_ID_n" name="postal_5" type="number" maxlength="1" >
  </div>
  <select name="id_county" id="id_county" >
      <option value="" disabled selected><span>縣市</span></option>
      {foreach $county as $k => $v}
        <option value="{$v.id_county}">{$v.county_name}</option>
      {/foreach}
  </select>
    <select name="id_city" id="id_city">
    <option disabled selected><span>鄉鎮區</span></option>
  </select>
  <input type="text" class="inp" name="address" maxlength="255" placeholder="詳細地址">
  <!-- <input type="text" class="inp" placeholder="街路">
  <input type="text" class="inp" placeholder="段">
  <input type="text" class="inp" placeholder="巷">
  <input type="text" class="inp" placeholder="弄">
  <div class="showinline">
  <input type="text" class="inp" placeholder="號">
  <input type="text" class="inp" placeholder="之">
  </div><div class="showinline">
  <input type="text" class="inp" placeholder="樓">
  <input type="text" class="inp" placeholder="之">
  </div>
  <input type="text" class="inp" placeholder="室"> -->
  </div>
  <div class="form_item">
    <select class="massang_from" id="message_source" name="message_source">
      <option disabled selected>訊息來源</option>
      <option value="0">友人分享</option> <option class="webapp" value="1">其他網站APP</option> <option class="humanbank" value="2">人力銀行</option><option class="other" value="3">其他</option>
    </select>

    </div>
    <div class="form_item massang_from_inp" id="webapp" style="display:none"><span class="title">
      其他網站APP</span><input class="inp" type="text" name="other_url" maxlength="128" placeholder="網站或APP名稱">
    </div>
    <div class="form_item massang_from_inp" id="humanbank" style="display:none"><span class="title">
      人力銀行</span><input class="inp" type="text" name="other_intermediary" maxlength="128"  placeholder="人力銀行名稱">
    </div>
  <div class="form_item massang_from_inp" id="other" style="display:none"><span class="title">
    其他</span><input class="inp" type="text" name="other" placeholder="填入後將獲得大集大利紅利點數100點喔!">
  </div>
  <div class="form_item" id="who_push"><span class="title">
    推薦人分享代碼</span><input class="inp" name="recommend_id_member" maxlength="20" type="number" placeholder="填入後將獲得大集大利紅利點數100點喔!">
  </div>
  <!-- <div class="form_item" style="display: flex;">
  <div class="SMS submit"> 發送驗證碼 </div><input class="inp" type="text" placeholder="請輸入手機驗證碼">
  </div> -->

  <div class="form_item">
  <!-- <div class="submit"> <img src="\themes\App\mobile\img\expertAdvisor\button_empty_180t.svg" class="submit_img"> </div> -->

    <!-- <div class="SMS submit"> 發送驗證碼 </div><input class="inp" type="text" placeholder="請輸入手機驗證碼"> -->
    <div class="submit" onclick="$(this).parents('.applyform').hide(100);$('.form2').show(200)">
        下一步
    </div>

  </div>
  </div>
  <div class="applyform form2" style="display:none">
    <div class="form_item"><span class="must">*</span><span class="title">上傳身分證正面</span><div class="camera_icon file_0 photo_upload"><i class="fas fa-camera"></i></div><span class="statement" style="display:none">僅供申請生活達人之用，不得移為他用</span><img id="file_0_0" src="" style="display: none"><input class="inp" type="file" id="file_0" name="id_img[]"  data-value="0" onchange="get_file_img('file_0')" required="required"></div>
    <div class="form_item"><span class="must">*</span><span class="title">上傳身分證反面</span><div class="camera_icon file_1 photo_upload"><i class="fas fa-camera"></i></div><span class="statement" style="display:none">僅供申請生活達人之用，不得移為他用</span><img id="file_1_0" src="" style="display: none"><input class="inp" type="file" id="file_1" name="id_img[]"  data-value="1" onchange="get_file_img('file_1')" required="required"></div>
    <div class="form_item"><span class="must">*</span><span class="title">身分證字號</span><input class="inp" type="text" name="identity" maxlength="10" placeholder="ID number"  required="required"></div>
    <div class="form_item">
    <!-- <span class="title">獎金入款帳目</span>
    <p>&nbsp</p> -->
    <span class="">紅包獎金撥入帳戶</span><br>
    <span class="title"><span class="must">*</span>銀行名稱</span>
    <input class="inp" type="text"  name="bank" id="bank" placeholder="中國信託" required="required">
    <span class="title"><span class="must">*</span>銀行代碼</span>
    <input class="inp" type="number"  name="bank_code" placeholder="822" maxlength="4" required="required">
    <!-- <select>
      <option disabled selected>銀行</option>
      <option >國泰世華</option>
      <option >中國信託</option>
    </select> -->
    <input class="inp" type="text" name="branch"  placeholder="分行名稱" required="required">
    <!-- <select>
      <option disabled selected>銀行代碼</option>
      <option >013</option>
      <option >004</option>
    </select> -->
    <span class="bank_txt_0">金融機構存款帳號(分行別、科目、編號、檢查號碼)</span>
      <input type="hidden" name="bank_account" maxlength="32">
    <div class="bank_ID">
      <input class="bank_ID_n" name="bank_account_1" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[1].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_2" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[2].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_3" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[3].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_4" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[4].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_5" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[5].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_6" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[6].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_7" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[7].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_8" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[8].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_9" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[9].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_10" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[10].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_11" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[11].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_12" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[12].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_13" type="number" maxlength="1" onkeyup="document.getElementsByClassName('bank_ID_n')[13].focus()" onfocus="this.value=''" required="required">
      <input class="bank_ID_n" name="bank_account_14" type="number" maxlength="1"  required="required">
    </div>
    <!-- <span class="bank_txt_1">※限用中國信託、國泰世華帳戶非上述2家銀行者須自行負擔每次轉帳之手續費15元</span> -->
    </div>
    <div class="form_item"><span class="must">*</span><span class="title">上傳存摺正面</span><div class="camera_icon file_2 photo_upload"><i class="fas fa-camera"></i></div><span class="statement" style="display:none">僅供申請生活達人之用，不得移為他用</span><img src="" id="file_2_0" style="display: none"><input class="inp" type="file" id="file_2" name="account_img[]" data-value="0" onchange="get_file_img('file_2')" required="required"></div>
    <div class="form_item"><span class="must">*</span><span class="title">上傳存摺反面</span><div class="camera_icon file_3 photo_upload"><i class="fas fa-camera"></i></div><span class="statement" style="display:none">僅供申請生活達人之用，不得移為他用</span><img src="" id="file_3_0" style="display: none"><input class="inp" type="file" id="file_3" name="account_img[]" data-value="1" onchange="get_file_img('file_3')" required="required"></div>
    <div class="form_item">
        <div class="post_ID i_agree">
            <input type="checkbox" name="agree"><span class="title">我已閲讀並同意生活樂租的【服務條款】與【隱私權聲明】及會員同意條款</span>

        </div>
    </div>
    <div class="submit" onclick="$(this).parents('.applyform').hide(100);$('.form1').show(200)">
      上一步
    </div>
    <div class="submit" onclick="submit_data()">
        送出
    </div>
  </div>
</form>
<p>&nbsp</p ><p>&nbsp</p> <p>&nbsp</p>

</div>
<div class="button">
<img src="\themes\App\mobile\img\expertAdvisor\button_180t.svg">
</div>
{$master_message_js}
