<section class="slider_center links">
  {include file="../../tpl/group_link.tpl"}
</section>
<div style="position: absolute;
    top: 0px;
    left: 0px;z-index: 99999;">WEB_DNS:{WEB_DNS}:{stripos('shar.help',WEB_DNS)==true}</div>
<script>
    $(".slider_center").slick({
        dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 5,
        slidesToScroll: 5
    });
</script>
