<div class="t_container top">
    <div class="top_0">
        <a href="####">登入</a> | <a href="####">註冊</a>
    </div>
    <div class="top_1">
        <img src="/themes/Okrent/img/list/logo_w_f.png">
    </div>
    <div class="top_2">
        <span>共享趣</span> <span>工具設備</span> <span>可輸入關鍵字</span>
        <i class="fas fa-search"></i>
    </div>
    <div class="top_3">
         <a href="####">快速上架</a> | <a href="####">喜愛清單</a>
    </div>
    <div class="top_4"><img src="/themes/Okrent/img/list/hb.png"></div>    
</div>
