<div class="col-2 left_mune">
    <div class="navigation">
    {if $smarty.get.id_main_class}<span>{foreach $head_main_class as $key =>$value}{if $value.id_main_class==$smarty.get.id_main_class}{$value.title}{/if}{/foreach}</span>{else}共享趣</span>{/if}
    {if $smarty.get.id_product_class}<span> > {foreach $head_product_class as $key =>$value}{if $value.id_product_class==$smarty.get.id_product_class}{$value.title}{/if}{/foreach}</span>{/if}
    {if $smarty.get.id_product_class_item}<span> > {foreach $head_product_class_item as $key =>$value}{if $value.id_product_class_item==$smarty.get.id_product_class_item}{$value.title}{/if}{/foreach}</span>{/if}
    </div>
    <!-- <span>物品所在位置</span> -->
    <span>{if $smarty.get.county}{$smarty.get.county}.{$smarty.get.city}{/if}</span>
    <ul>
      <li class="zone options">
      <a href="#" class="dropdown-toggle">地區</a>
    <ul data-role="dropdown" style="display: block;" class="city options"><li><a href="#" onclick="county_city(this)"></a></li>
        <!-- {if !empty($smarty.get.id_product_class)}
            {foreach $head_product_class_item as $key => $value}
                <li><a href="/list2?id_product_class_item={$value.id_product_class_item}{foreach $smarty.get as $k => $v}&{$k}={$v}{/foreach}">{$value.title}</a></li>
            {/foreach}
        {/if} -->
    </ul></li></ul>
    <li class="options price_reg">租金範圍
        <div><input type="text">~<input type="text"></div></li>
    <li class="options Sort">排序
        <div>
            <input type="checkbox" name="sort[]" value="1" {if strstr(1,$smarty.get.sort)} checked {/if}>更新時間<br>
            <input type="checkbox" name="sort[]" value="2" {if strstr(2,$smarty.get.sort)} checked {/if}>金額(低到高)<br>
            <input type="checkbox" name="sort[]" value="3" {if strstr(3,$smarty.get.sort)} checked {/if}>待租/換中<br>
            <input type="checkbox" name="sort[]" value="4" {if strstr(4,$smarty.get.sort)} checked {/if}>評價數(高到低)<br>
            <input type="checkbox" name="sort[]" value="5" {if strstr(5,$smarty.get.sort)} checked {/if}>點閱數(高到低)<br>
        </div>
    </li>

    <ul class="options">
        <li class="other_watching">其他人也看了...
            <div>
                <ul class="content_ul">
                    {foreach $other_look_product as $k_o => $v_o}
                        <li class="content_li">
                            <ul class="content_1">
                                <li><a href='/item' target='_blank'><img style="width: 100%;    height: 100%;    max-width: 80%;    margin: 10%" src="{$v_o.img}"></a></li>
                                <li class="down_area"><div class="title"><a href='/item' target='_blank'>{$v_o.name}</a></div><div class="context">{$v_o.title}</div>
                                </li>
                            </ul>
                        </li>
                    {/foreach}
                </ul>
            </div>
        </li>
    </ul>
</div>
