
<div class="row top_fn">
  <div class="fff"></div>
  <ul class="logo">
    <li><a href="/"><img src="/themes/Okrent/img/index/fn_1_1231.png"></a></li>

  </ul>
  <ul>
    <li><a href="/list3?id_main_class=1"><img src="/themes/Okrent/img/index/fn_27.png"></a></li>
    <li><a href="/list3?id_main_class=2"><img src="/themes/Okrent/img/index/fn_33.png"></a></li>

    <li><a href="/list3?id_main_class=3"><img src="/themes/Okrent/img/index/fn_29.png"></a></li>
    <li><a href="####"><img src="/themes/Okrent/img/index/fn_34.png"></a></li>

  </ul>
  <ul>
    <li><a href="/list3?id_main_class=4"><img src="/themes/Okrent/img/index/fn_30.png"></a></li>

    <li><a href="####"><img src="/themes/Okrent/img/index/fn_31.png"></a></li>

    <li><a href="####"><img src="/themes/Okrent/img/index/fn_32.png"></a></li>

  </ul>
</div>
