

<div class="bottom_fix_div">
</div>

{include file="$tpl_dir./search_bar.tpl"}

<div class="container-fluid">
        <header style="max-width: 960px;">

        </header>


        <div id="tm-bg"></div>


        <div id="tm-wrap-case">
            <div class="tm-main-content">

                <!-- 次頁主內容 -->
                <article>





                </article>

            </div>
            <!-- .tm-main-content -->

                <div class="details">
        			<div class="details__bg details__bg--down" style="opacity: 0; transform: none;">
        				<button class="details__close" style="opacity: 0; transform: translateY(100%);"><svg class="svg-inline--fa fa-times fa-w-11 fa-2x icon--cross tm-fa-close" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-2x fa-times icon--cross tm-fa-close"></i> Font Awesome fontawesome.com --></button>
        				<div class="details__description" style="opacity: 0;"></div>
        			</div>
        			</div></div>


        <div class="details">
			<div class="details__bg details__bg--down" style="opacity: 0; transform: none;">
				<button class="details__close" style="opacity: 0; transform: translateY(100%);"><i class="fas fa-2x fa-times icon--cross tm-fa-close"></i></button>
				<div class="details__description" style="opacity: 0;"></div>
			</div>
			</div></div>
    </div>

    <div class="container-fluid main" id="main">

        <div class="breadcrumbs">
            <p>{$breadcrumbs_html}{if $sidname} &gt; {$sidname}{/if}</p><br>
        </div>




        <div class="row">
            <div class="col-xs-12 col-sm-2">
                {include file="../../page_left.tpl"}
            </div>
            <div class="col-xs-12 col-sm-10">


                <div>
                  <h3 class="center m030">&nbsp</h3>
                  {for $i=0;$i<4;$i++}
                    <div class="desk">

                        <div class="avi">

                            <div class="card-deck">
                              {for $avi=0;$avi<4;$avi++}
                                <div class="card">
                                    <a href="/Masterprofile"> <img src="/themes/Epro/img/index/people_1.jpg" alt=""></a>
                                    <div class="card-body">
                                        <h5 class="card-title">房屋退租及入住清潔服務</h5>
                                        <p class="card-text">預算<snap class="right-1">$500<small>/坪</small></snap></p>
                                        <p class="card-text">地點</p>
                                        <p class="card-text"><i class="fas fa-eye"></i> 9999 人關注</p>
                                        <!-- <p class="card-text"><i class="fas fa-eye"></i> 1225 關注</p> -->
                                        <!-- <p class="card-text" style="text-align: right;"><i class="far fa-thumbs-up"></i> 225</p> -->
                                    </div>
                                    <!-- <div class="center m15">
                                        <button type="button" class="btn btn-success btn-md ">我要詢問</button>
                                    </div> -->
                                </div>
                                {/for}
                            </div>

                        </div>

                    </div>
                    {/for}
                    <div class="m00600">
                        <div class="row justify-content-center align-items-center m15">
                            <!-- *** 分頁page-1 *** -->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            &lt;</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                    <!-- === END CONTENT === -->
                </div>
            </div>
        </div>
    </div>
