/* 物件 */
.device_icon [class*="icon_"], [class*="icon_"].device_icon,
.transportation_icon [class*="icon_"], [class*="icon_"].transportation_icon{
	content: " ";
}
.device_icon [class*="icon_"], [class*="icon_"].device_icon,
.transportation_icon [class*="icon_"], [class*="icon_"].transportation_icon{
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.device_icon [class*="icon_"], [class*="icon_"].device_icon{
	width: 1.333em;
	height: 1em;
}
.transportation_icon [class*="icon_"], [class*="icon_"].transportation_icon{
	width: 1em;
	height: 1em;
}
.device_icon.icon_01, .device_icon .icon_01{
	background-image: url(../img/icon/device/device_icon_01.svg);
}
.device_icon.icon_02, .device_icon .icon_02{
	background-image: url(../img/icon/device/device_icon_02.svg);
}
.device_icon.icon_03, .device_icon .icon_03{
	background-image: url(../img/icon/device/device_icon_03.svg);
}
.device_icon.icon_04, .device_icon .icon_04{
	background-image: url(../img/icon/device/device_icon_04.svg);
}
.device_icon.icon_05, .device_icon .icon_05{
	background-image: url(../img/icon/device/device_icon_05.svg);
}
.device_icon.icon_06, .device_icon .icon_06{
	background-image: url(../img/icon/device/device_icon_06.svg);
}
.device_icon.icon_07, .device_icon .icon_07{
	background-image: url(../img/icon/device/device_icon_07.svg);
}
.device_icon.icon_08, .device_icon .icon_08{
	background-image: url(../img/icon/device/device_icon_08.svg);
}
.device_icon.icon_09, .device_icon .icon_09{
	background-image: url(../img/icon/device/device_icon_09.svg);
}
.device_icon.icon_10, .device_icon .icon_10{
	background-image: url(../img/icon/device/device_icon_10.svg);
}
.device_icon.icon_11, .device_icon .icon_11{
	background-image: url(../img/icon/device/device_icon_11.svg);
}
.device_icon.icon_12, .device_icon .icon_12{
	background-image: url(../img/icon/device/device_icon_12.svg);
}
.device_icon.icon_13, .device_icon .icon_13{
	background-image: url(../img/icon/device/device_icon_13.svg);
}
.device_icon.icon_14, .device_icon .icon_14{
	background-image: url(../img/icon/device/device_icon_14.svg);
}
.device_icon.icon_15, .device_icon .icon_15{
	background-image: url(../img/icon/device/device_icon_15.svg);
}
.device_icon.icon_16, .device_icon .icon_16{
	background-image: url(../img/icon/device/device_icon_16.svg);
}
.device_icon.icon_17, .device_icon .icon_17{
	background-image: url(../img/icon/device/device_icon_17.svg);
}
.device_icon.icon_18, .device_icon .icon_18{
	background-image: url(../img/icon/device/device_icon_18.svg);
}
.device_icon.icon_19, .device_icon .icon_19{
	background-image: url(../img/icon/device/device_icon_19.svg);
}

/* 交通工具 */
.transportation_icon.icon_01, .transportation_icon .icon_01{
	background-image: url(../img/icon/device/transportation_01.svg);
}
.transportation_icon.icon_02, .transportation_icon .icon_02{
	background-image: url(../img/icon/device/transportation_02.svg);
}
.transportation_icon.icon_03, .transportation_icon .icon_03{
	background-image: url(../img/icon/device/transportation_03.svg);
}
.transportation_icon.icon_04, .transportation_icon .icon_04{
	background-image: url(../img/icon/device/transportation_04.svg);
}
.transportation_icon.icon_05, .transportation_icon .icon_05{
	background-image: url(../img/icon/device/transportation_05.svg);
}