.goto_header{
    z-index: 3;
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.goto_header > img{
    width : 50px;
}