.top_fn div {
    font-size: 1.2vw;
}

.top_fn>.left a:hover {
    font-weight: bold;
    font-size: 1.3vw;
    padding: 0px;
}

.top_fn>.right a:hover {
    font-weight: bold;
    font-size: 1.3vw;
    padding: 0px;
}

.top_fn>.mid a:hover {
    font-weight: bold;
    font-size: 1.4vw;
    padding: 0px;
}

.top_fn>.mid>a {
    color: #25b7aa;
    padding: 6px;
}

.main {
    /*position: fixed;*/
}