
:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;

    --color__accent: #333;
    --field__background: #fff;
    --field__background--hover: #fff;
    --input__border: #aaa;
    --input__border--hover: #222;
    --label__color: #999;
}

.none{
    display: none;
}

.clear {
    clear: both;
}

.m_b_20 {
    margin-bottom: 10px;
}

.m_b_20 {
    margin-bottom: 20px;
}

.m_b_30 {
    margin-bottom: 30px;
}

.no_border {
    border-right: none !important;
}

html *, body * {
    font-size: 18px;
}

body{
    min-width: 1200px;
}

.main_bar {
    height: 9vw;
    min-height: 60px;
}

.main_bar img {
    width: 100%;
}

.display_content{
    max-width: 100%;
}

.content_class{
    top :110px!important;
}

.uk-slideshow ul.uk-margin{
    z-index: 99;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background-color: unset;
}

/* 麵包屑 - start */
article {
    width: 100%;
    max-width: 1600px;
    min-width: 1250px;
    /*margin: 0px auto;*/
    padding: 0px 80px 0px 15px;
}

article .breadcrumb {
    margin-bottom: unset;
    background-color: unset;
    padding: 35px 0px 35px;
}

article .breadcrumb .breadcrumb-item a{
    font-size: 16px;
}
/* 麵包屑 - end */


.house_search_view_postion{
    position: relative;
}

.house_search_view {
    position: absolute;
    top: -62px;
    right: 20px;
    font-size: 16px;
    padding: 0px;
    line-height: 25px;
}

.house_search_view .view_number {
    font-size: 28px;
    line-height: 25px;
    padding: 0px 5px;
}

.house_search_view img {
    width: 20px;
}

.main_caption{
    padding: 0px;
    margin: 0px 0px 20px;;
}

.main_caption h3{
    font-size: 26px;
    font-weight: bold;
    color: var(--text_normal_color);
}

.main_caption span{
    font-size: 30px;
    font-weight: bold;
    color: var(--text_normal_color);
    line-height: 25px;
    margin-right: 10px;
}



/* 吉屋快搜-主框架 - start */
.house_search hr{
    border-top: 1px solid #ccc;
}

.house_search {
    width: 100%;
    position: relative;
}

.house_search .data_wrap {
    width: 60%;
    max-width: 930px;
    padding-right: 30px;
    float: left;
}

.house_search .data_wrap .object_view {

}

/* 圖片小圖預覽列表 */
.house_search .spec-preview {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #DFDFDF;
    border-radius: 0px 20px;
}

.house_search .spec-scroll {
    width: 100%;
    clear: both;
    margin-top: 5px;
}

.house_search .spec-scroll .prev {
    float: left;
    margin-right: 4px;
}

.house_search .spec-scroll .next {
    float: right;
}

.house_search .spec-scroll .prev,
.house_search .spec-scroll .next {
    display: block;
    text-align: center;
    width: 15px;
    height: 120px;
    line-height: 115px;
    border: 1px solid #CCC;
    background: #EBEBEB;
    cursor: pointer;
    text-decoration: none;
}

.house_search .spec-scroll .items {
    float: left;
    position: relative;
    left: 12px;
    width: 93%;
    height: 120px;
    overflow: hidden;
}

.house_search .spec-scroll .items ul {
    position: absolute;
    width: 999999px;
    height: auto;
}

.house_search .spec-scroll .items ul li {
    float: left;
    width: 210px;
    margin: 0px;
    text-align: center;
}

.house_search .spec-scroll .items ul li img {
    border: 1px solid #CCC;
    padding: 2px;
    width: 95%;
    height: auto;
    border-radius: 0px 10px;
}

.house_search .spec-scroll .items ul li img:hover {
    border: 2px solid #53268a;
    padding: 1px;
}

/* 商品物件展示 - end */

/* 資料區塊 - start */
/* 共用設定 */
section .list_wrap .list .info{
    line-height: 20px;
    letter-spacing: 2px;
}
/* 共用設定 - end */

.house_search section{
    margin: 30px auto 30px;
}

.house_search .data_wrap .base_data {
    width: 100%;
}

.house_search .data_wrap h3.caption {
    font-size: 28px;
    line-height: 50px;
    font-weight: bold;
    color: #715086;
    padding: 0px 0px 10px 5px;
    margin-bottom: 10px;
}

.house_search .base_data .list_wrap {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
}

.base_data .list {
    min-width: 50%;
    padding: 0px 3px 0px;
}

.base_data .list_full {
    width: 100%;
}

.base_data .title {
    float: left;
    min-width: 100px;
    padding: 0px 10px 0px 0px;
    color: var(--text_normal_color);
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    background: #ececec;
    border-right: 1px solid #999;
}

.base_data .info {
    min-width: 85px;
    float: left;
    color: var(--text_normal_color);
    font-size: 18px;
    padding: 0px 0px 0px 15px;
}

.base_data .info_2 {
    min-width: 100px;
    float: left;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    padding: 10px 0px 0px 115px;
}

.base_data .info span{
    font-size: 14px;
}

/* 資料區塊 - end */
/* 商品物件展示 - end */




/* 右側資訊欄 - start */
.house_search .user_info_wrap {
    /* position: fixed; */
    width: 40%;
    max-width: 600px;
    float: right;
    margin: 0px auto 10px;
    background: #f0f0ee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #999;
}

.house_search .user_info_wrap .postion_for_qrcode {
    position: relative;
}

.house_search .user_info_wrap .qr_code {
    position: absolute;
    bottom: 50px;
    right: 0px;
}

.house_search .user_info_wrap .qr_code img {
    width: 100%;
    height: auto;
}

.house_search .user_info_wrap .caption {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0px auto 10px;
}

.house_search .user_info_wrap .caption span {
    color: e17419;
    font-size: 30px;
    font-weight: bold;
}

.house_search .user_info_wrap .list_wrap {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

.house_search .user_info_wrap .number_wrap{
    position: relative;
}

.house_search .number_wrap .number_list{
    position: absolute;
    top: -38px;
    right: 0px;
    list-style: none;
}

.house_search .user_info_wrap .list {
    width: 50%;
    padding: 0px;
}

.house_search .user_info_wrap .list_full {
    width: 100%;
}

.house_search .user_info_wrap .title {
    float: left;
    width: auto;
    height: 25px;
    /* min-width: 85px;	 */
    padding: 0px 5px 0px 0px;
    color: var(--text_normal_color);
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    border-right: 1px solid #999;
}

.house_search .user_info_wrap .info {
    width: auto;
    float: left;
    color: var(--text_normal_color);
    font-size: 18px;
    padding: 0px 0px 0px 10px;
}

.house_search .user_info_wrap .user_info {
    margin: 15px auto 10px;
    display: flex;
}

.house_search .user_info_wrap .user_info img {
    width: 100%;
    max-width: 110px;
}

.house_search .user_info_wrap .user_info .text {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    float: left;
    padding: 0px 0px 0px 20px;
}

.house_search .user_info_wrap .user_info .text span {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 45px;
}

.house_search .user_info_wrap .user_info .text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    margin: 0px;
}

.house_search .user_info_wrap .user_info .text p:nth-of-type(2){
    margin: 0px 0px 10px;
}

.house_search .user_info_wrap .user_info .category_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.house_search .user_info_wrap .user_info .category_wrap .category{
    position: relative;
    width: 25%;
    min-width: 70px;
}

.house_search .user_info_wrap .user_info .category_wrap .category p{
    line-height: 30px;
}

.house_search .user_info_wrap .user_info .category_wrap .category:after{
    content: "";
    height: 80%;
    position: absolute;
    top: 4px;
    left: 85%;
    border-right: 1px solid #ccc;
}

.house_search .user_info_wrap .box_wrap {
    width: 75%;
}

.house_search .user_info_wrap .box {
    max-width: 320px;
    min-width: 260px;
    height: 35px;
    color: var(--text_normal_color);
    font-size: 18px;
    padding: 6px;
    letter-spacing: 1px;
    margin: 0px auto 0px;
    border-radius: 0px 5px;
    border: 1px solid #555;
    text-align: center;
    background: #fff;
}

.house_search .user_info_wrap .phone_info {
    background: var(--main_color1);
    border-radius: 0px 25px;
    padding: 10px 20px 10px;
    margin: 20px 35% 10px 0px;
}

.house_search .user_info_wrap .phone_info .number {
    color: #fff;
    font-size: 1.6em;
    line-height: 40px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.house_search .user_info_wrap .phone_info .number img {
    margin-right: 15px;
}

.house_search .user_info_wrap .phone_info hr {
    margin: 5px auto 5px;
    border-style: dashed;
}

/* 右側資訊欄 - end */


/* 設備提供 - start */
.house_search .equipment_provided{

}

.house_search .equipment_provided .title{
    width: 120px;
    padding: 8px 0px 0px 5px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    float: left;
}

.house_search .equipment_provided .title2{
    height: 70px;
}

.house_search .equipment_provided .title3{
    height: 103px;
}

.house_search .equipment_provided .list_wrap{
}


.house_search .equipment_provided .list_wrap .list{
    width: 26%;
    margin: 0px 0px 5px 5px;
    float: left;
}

.house_search .equipment_provided .list_wrap .list .item{
    font-size: 16px;
    padding: 2px 5px;
    border-radius: 5px;
}

.house_search .equipment_provided .list_wrap .list .item img{
    width: 50px;
    padding: 2px 5px;
    margin-right: 10px;
}
/* 設備提供 - end */


/* 出租條件 - start */
.house_search .rental_conditions{

}

.house_search .rental_conditions .info{
    min-width: 100px;
}
/* 出租條件 - end */


/* 生活機能 - start */
.house_search .life{
}

.house_search .life .list_wrap {
}

.house_search .life .list_wrap .list{
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 0px 5px 0px;
}

.house_search .life .list_wrap .list .title{
    float: left;
    min-width: 50px;
    height: 20px;
    padding: 0px 10px 0px 5px;
    margin-right: 5px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    border-right: 1px solid #999;
    letter-spacing: 5px;
}

.house_search .life .list_wrap .list .info{
    font-size: 18px;
    padding: 0px 0px 5px 15px;
}
/* 生活機能 - end */

/* 交通 - start */
.house_search .traffic{
}

thead{
    background: #eee7ff;
}

.table th {
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}

.table td {
    font-size: 18px;
    text-align: center;
}

.table tr td:nth-child(1){
    background: #eee;
}

/* 交通 - end */


/* 社區介紹 - start */
.house_search .community{
}

.house_search .community .list_wrap{
    width: 100%;
    display: flex;
    justify-content: start;
}

.house_search .community .list_wrap .list{
    width: 60%;
}

.house_search .community .list_wrap .full{
    width: 100%;
}

.house_search .community .list_wrap .list .title{
    float: left;
    min-width: 90px;
    /* text-align: center; */
    height: 22px;
    padding: 0px 10px 0px 5px;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    border-right: 1px solid #999;
}

.house_search .community .list_wrap .list .title2{

}

.house_search .community .list_wrap .list .info{
    min-width: 80px;
    float: left;
    font-size: 18px;
    padding: 5px 0px 0px 15px;
}
/* 社區介紹 - end */



/* 特色 - start */
.house_search .characteristic{

}

.house_search .characteristic .caption{
    font-weight: bold;
    color: #715086;
    padding: 0px 0px 10px 5px;
}

.house_search .characteristic .list{
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    padding: 0px 0px 0px 25px;
    position: relative;
}

.house_search .characteristic .list1{
    font-size: 18px;
    line-height: 26px;
    margin: 0px;
    padding: 0px 0px 0px 5px;
}

.house_search .characteristic .list:before {
    content: "★";
    position: absolute;
    left: 5px;
}
/* 特色 - end */



/* 底部開放區塊 - start */
.house_search .full_block{
    width: 100%;
    padding: 0px;
}

.house_search .full_block .caption{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color: #715086;
    padding: 0px 0px 10px 5px;
    margin-bottom: 10px;
}
/* 底部開放區塊 - end */


/* google map - start */
.house_search .full_block .google_map{
    width: 100%;
    height: 750px;
}
/* google map - end */

/* 推薦 - start */
.house_search .full_block .commodity_list{
    margin: 30px auto 100px;
}

.house_search .full_block .commodity_list .commodity{
    padding: 15px;
}

.house_search .full_block .commodity_list .photo_row img.img {
    transition: transform .5s ease;
}

.house_search .full_block .commodity_list .photo_row:hover img.img {
    transform: scale(1.3);
}

.house_search .full_block .commodity_list .commodity .title.big{
    font-size: 20px;
}

.house_search .full_block .commodity_list .commodity .title{
    font-size: 18px;
}

.house_search .full_block .commodity_list .commodity data div{
    font-size: 18px;
    color: var(--text_normal_color);
    letter-spacing: 1px;
}

.photo_row price {
    font-size: 32px;
}

/* 推薦 - end */




/* Footer - start */
footer nav{
    height: 40px;
    line-height: unset;
    font-size: unset;
}

footer nav a {
    font-size: 18px;
    line-height: 40px;
    padding: 0px 5px;
    margin: 0px 27px;
    border: unset;
}

footer .footer {
    padding: 25px 0px 30px;
}

.footer table{
    text-align: center;
}

.footer_txt1 span {
    font-size: 18px;
    margin: 0px 15px 0px 0px
}

.footer_txt1 {
    font-size: 18px;
}

.footer_txt2 span {
    font-size: 18px;
    margin: 0px 20px 0px 0px
}

.footer_txt2 {
    font-size: 18px;
}
/* Footer - end */
#map {
    height: 100%;
}
