:root {
	--main_color1: #532789;
	--main_color2: #fff100;
	--normal_color: #555;
	--dark_color: #222;
	--light_color: #aaa;
}

#search_box_big {
	line-height: 30px;
}

#search_box_big {
	margin: 10px auto 30px;
	position: relative;
}

#search_box_big hr {
	border-top: 1px solid #aaa;
}

#search_box_big .county_city {
	cursor: pointer;
	min-width: 130px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	border-radius: 0 5px;
	background: var(--main_color1);
	display: inline-block;
	max-width: calc(100% - 50%);
	margin: 7px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 10px;
}

#search_box_big label {
	width: 170px;
	height: 50px;
	padding: 0 8px 0px 30px;
	border: 1px solid #ccc;
	margin: 7px;
	line-height: 48px;
	font-size: 16px;
	font-weight: initial;
	min-width: 8em;
	text-align: center;
	border-radius: 0 5px;
	position: relative;
}

#search_box_big .county_div label{
	padding: 0 8px 0px 0px;
}

#search_box_big label img{
	width: 50px;
	position: absolute;
	left: 5px;
}

#search_box_big label:hover {
	border: 1px solid var(--main_color1);
}

#search_box_big spam.county,
#search_box_big spam.city {
	display: inline-block;
}

#search_box_big .county_div,
#search_box_big .city_div {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 4px;
	border-radius: 3px;
	box-shadow: 0 0 10px #909090;
}

#search_box_big input[type="checkbox"],
#search_box_big input[type="radio"] {
	display: none;
}

#search_box_big input[type="number"] {
	height: 30px;
	vertical-align: top;
	margin-top: 7px;
	width: 110px;
}

#search_box_big input[type="checkbox"]:checked+label,
#search_box_big input[type="radio"]:checked+label,
#search_box_big label.active {
	/* border: 1px solid var(--main_color1); */
	/* font-weight: bold; */
	/* background-color: var(--main_color1); */
	/* color: #fff; */
	/* border-radius: 0 5px; */
	font-weight: bold;
	border: 2px solid var(--main_color1);
	border-radius: 0 5px;
}

.search_forms_wrap .search_div {
	position: relative;
	padding-left: 5em;
	margin-bottom: 10px;
}

.search_forms_wrap .search_div i {
	vertical-align: middle;
}

.search_forms_wrap .search_div strong {
	position: absolute;
	left: 0;
	top: 7px;
}

#search_box_big .ui-widget.ui-widget-content {
	border: 1px solid #ccc;
	height: 10px;
	border-radius: 5px;
	position: relative;
	margin: 15px 0;
}

#search_box_big .room {
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	color: #e67a1f;
	font-weight: bold;
	margin-right: 0.5em;
}

#search_box_big .ui-state-default {
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	border-radius: 15px;
	margin-top: -3px;
	background-color: #512779;
	margin-left: -5px;
	z-index: 2;
}

#search_box_big .ui-slider-horizontal .ui-slider-range {
	background-color: #ccc;
	height: 10px;
	position: absolute;
}

#search_box_big unit {
	vertical-align: bottom;
	margin-left: 5px;
}

#search_box_big #search_forms spam.txt {
	border: unset;
}

.search_table {
	display: table;
	width: 100%;
}

.search_table>* {
	display: table-cell;
	vertical-align: middle;
}

.w290 {
	width: 290px;
	padding-left: 7px;
}

.w40 {
	width: 40px;
}

.search_div .search_input {
	width: calc(50% - 5em);
	position: absolute;
	right: 0;
	top: 7px;
}

.search_div .search_input .field {
	border-bottom: 1px solid #aaa;
	width: calc(100% - 40px);
	padding: 0 10px;
}

.search_div .search_input input::placeholder {
	font-size: 18px;
}

.search_div .search_input .btn_wrap {
	width: 110px;
	display: table-cell;
}

.search_div .search_input button {
	background: unset;
	outline: unset;
	border: unset;
	padding: unset;
}

.search_div .search_input button img {
	width: 30px;
}

#search_box_big .tag_div {
	display: inline-block;
	width: calc(100% - 230px);
	vertical-align: top;
}

#search_box_big .tag_div samp {
	border: 1px solid var(--main_color1);
	background-color: #fff;
	padding: 4px 5px;
	font-size: 12px;
	vertical-align: top;
	float: left;
	line-height: 1em;
	margin: 0 3px 6px;
	border-radius: 0 5px;
}

#search_box_big .tag_div samp i {
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 4px;
}

#search_box_big .tag_div em {
	color: var(--main_color1);
}

#search_box_big .close_all {
	position: absolute;
	top: 0;
	right: 0;
}

#search_box_big .tag_div samp {
	min-width: 8em;
	text-align: center;
	position: relative;
	padding-right: 20px;
}

.search_list_wrap .search_icon img {
	display: block;
	width: 80%;
	height: auto;
}

.range_name_color {
	color: var(--main_color1);
	padding: 2px;
	font-size: .9em;
	text-align: center;
	background: unset;
	border: 2px solid var(--main_color1);
	border-radius: 30px;
}

.search_1{
	background-color: #fff100!important;
	color: #532789!important;
	padding: 12px!important;
	border-radius: 10px!important;
}