{*<ol class="rent_type">*}
{*	<li class="{if empty($id_type)}active{/if}"><a href="/geely_for_rent?id_type=">{l s="總覽"}</a></li>{foreach $rent_type as $i => $item}<li class="{if $item.id_geely_for_rent_type == $id_type}active{/if}"><a href="/geely_for_rent?id_type={$item.id_geely_for_rent_type}">{$item.title}</a></li>{/foreach}*}
{*</ol>*}
<div class="item_wrap">
	<div class="title">新聞資訊</div>
	<div class="item_list">
		<a class="{if empty($id_type)}active{/if}" href="/geely_for_rent?id_type=">{l s="總覽"}</a>
		{foreach $rent_type as $i => $item}
			<i></i>
			<a class="{if $item.id_geely_for_rent_type == $id_type}active{/if}" href="/geely_for_rent?id_type={$item.id_geely_for_rent_type}">{$item.title}</a>
		{/foreach}
	</div>
</div>
