<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>


{$pr}
<hr>
<h1>{$entry_url}</h1>
<hr>
SERCERT_KEY:{$SECERT_KEY}
<hr>
payload:{$payload}
<hr>
DIGEST:{$DIGEST}
<hr>
{$APIKEY}
<hr>

<button type="button" onclick="post_fetch('https://uat-onlinepay.jkopay.app/platform/entry')">
  Jkos POST https uat-onlinepay.jkopay.app
</button>

  <script>
  function post_fetch(path) {

      var params={
        "platform_order_id":1,
        "store_id":"bd0e0dd4-8607-11eb-948d-0050568403ed",
        "currency":"TWD",
        "total_price":999,
        "final_price":998,
        "unredeem":"",
        "valid_time":"",
        "confirm_url":"",
        "result_url":"",
        "result_display_url":"",
        "payment_type":"onetime",
        "escrow":"false",
        "products fields":"",
        "products.name":"",
        "products.img":"",
        "products.unit_count":"",
        "products.unit_price":"",
        "products.unit_final_price":""
          };
    params=JSON.stringify(params);
    console.log((params));
    // var SERCERT_KEY=encodeURIComponent("Ad4wuyBCfJQrRiQrP7KmQN_TEQrKbTYWM_ehYk1vOuaaF6Yc443CG8QqRYU3cww5d1VQ0acHD3oskw4ek8QBw");
    var SERCERT_KEY=encodeURIComponent("Ad4wu-yBCfJQrRiQrP7KmQN_TEQrKbTYWM_ehYk1vOuaaF6Yc443CG8QqRYU3cww5d1VQ0acHD3oskw4ek8QBw");

    var DIGESTs=encodeURIComponent(CryptoJS.HmacSHA256(params, SERCERT_KEY));

    // var DIGESTBase64 = CryptoJS.enc.Base64.stringify(DIGESTs);
    // console.log(DIGESTBase64);

    var myheader={
        "Access-Control-Allow-Origin" : "",
        "Content-Type":"application/json",
        "Api-Key":"CE9YLfHiVCbi4u2ceMXdqD4LqURTlCNTbocy",
        "DIGEST": DIGESTs
      };


      console.log("Api-Key : CE9YLfHiVCbi4u2ceMXdqD4LqURTlCNTbocy");
      console.log("SERCERT_KEY : "+SERCERT_KEY);
      console.log("params : "+params);
      console.log("DIGEST : "+ DIGESTs );

    fetch(path,{
      method: 'POST',  headers:myheader, body:params, mode: 'cors'
    })
    .then(function(response) {
        // 處理 response
        console.log("response:");
        console.log(response);
        console.log("response.result_object="+response.body);
        console.log("params : "+params);
    }).catch(function(err) {
        // 錯誤處理
        console.log("err:");
        console.log(err);
    });

  }


  </script>
