<form action="#" method="post" id="form" name="form" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputFile">請選擇檔案</label>
        <input type="file" id="import" name="import"  />
        <input type="hidden" id="test" name="test" value="test123">
    </div>
    <input type="button"  class="btn btn-warning" value="匯入">
</form>