
<!-- <div class="top_more"><span class="more">挖寶趣 | 交換趣 | 環保捐贈 | 願望清單</span></div> -->

<div class="containerx">
  <svg class="Rectangle_2498">
		<rect id="Rectangle_2498" rx="10" ry="10" x="0" y="0" width="996" height="111">
		</rect>
	</svg>






















	<div id="_3">
		<span> 3人露營帳篷</span>
	</div>
	<div id="_bz">
		<span>品牌</span>
	</div>
	<div id="_b">
		<span>型號</span>
	</div>
	<div id="_ca">
		<span>規格</span>
	</div>
	<div id="_cb">
		<span>體積</span>
	</div>
	<div id="Group_931">
		<div id="Places">
			<svg class="Rectangle_305">
				<rect id="Rectangle_305" rx="0" ry="0" x="0" y="0" width="26" height="26">
				</rect>
			</svg>
			<svg class="Path_114" viewBox="0.025 -0.05 22.502 27.308">
				<path id="Path_114" d="M 11.21212959289551 16.19898223876953 C 13.93447017669678 16.19898223876953 15.97622489929199 13.98707675933838 15.97622489929199 11.43488216400146 C 15.97622489929199 8.882684707641602 13.93447017669678 6.500637054443359 11.21212959289551 6.500637054443359 C 8.489785194396973 6.500637054443359 6.44802713394165 8.712538719177246 6.44802713394165 11.26473617553711 C 6.44802713394165 13.81693363189697 8.659932136535645 16.19898223876953 11.21212959289551 16.19898223876953 Z M 3.215245485305786 3.267855405807495 C 7.639053821563721 -1.155951619148254 14.78520202636719 -1.155951619148254 19.20900917053223 3.267855405807495 C 23.6328182220459 7.691661357879639 23.6328182220459 14.83780956268311 19.20900917053223 19.2616138458252 L 11.21212959289551 27.25849914550781 L 3.215245485305786 19.2616138458252 C -1.038415193557739 14.83780956268311 -1.038415193557739 7.691661357879639 3.215245485305786 3.267855405807495 Z">
				</path>
			</svg>
		</div>
		<div id="_cc">
			<span>桃園市</span>
		</div>
	</div>
	<div id="_cd">
		<span>白白屋</span>
	</div>
	<img id="Rectangle_2449" src="/themes/Okrent/img/list/Rectangle_2449.png" srcset="/themes/Okrent/img/list/Rectangle_2449.png 1x, Rectangle_2449@2x.png 2x">

	<div id="Repeat_Grid_9">
		<div id="Repeat_Grid_9_0" class="">
			<img id="Rectangle_2450" src="/themes/Okrent/img/list/Rectangle_2450.png" srcset="/themes/Okrent/img/list/Rectangle_2450.png 1x, Rectangle_2450@2x.png 2x">

		</div>
		<div id="Repeat_Grid_9_1" class="">
			<img id="Rectangle_2450_ce" src="/themes/Okrent/img/list/Rectangle_2450_ce.png" srcset="/themes/Okrent/img/list/Rectangle_2450_ce.png 1x, Rectangle_2450_ce@2x.png 2x">

		</div>
		<div id="Repeat_Grid_9_2" class="">
			<img id="Rectangle_2450_cg" src="/themes/Okrent/img/list/Rectangle_2450_cg.png" srcset="/themes/Okrent/img/list/Rectangle_2450_cg.png 1x, Rectangle_2450_cg@2x.png 2x">

		</div>
		<div id="Repeat_Grid_9_3" class="">
			<img id="Rectangle_2450_ci" src="/themes/Okrent/img/list/Rectangle_2450_ci.png" srcset="/themes/Okrent/img/list/Rectangle_2450_ci.png 1x, Rectangle_2450_ci@2x.png 2x">

		</div>
	</div>
	<svg class="Line_92" viewBox="0 0 537 1">
		<path id="Line_92" d="M 0 0 L 537 0">
		</path>
	</svg>
	<svg class="Path_81" viewBox="699.535 67.243 20 16.796">
		<path id="Path_81" d="M 709.5098876953125 82.44507598876953 L 709.5667724609375 82.44507598876953 C 713.7221069335938 80.50971221923828 716.169677734375 78.17591094970703 717.3082275390625 75.89901733398438 C 717.934326171875 74.70366668701172 718.1620483398438 73.50829315185547 718.1051025390625 72.48370361328125 C 718.0482177734375 71.45909881591797 717.7066650390625 70.60527038574219 717.1943359375 69.97911834716797 C 716.6251220703125 69.35298156738281 715.8851928710938 68.89759826660156 715.0313110351563 68.84068298339844 C 714.3482055664063 68.72683715820313 713.6082763671875 68.95452880859375 712.7544555664063 69.35298156738281 C 711.900634765625 69.80836486816406 710.9898681640625 70.54834747314453 710.0791015625 71.51602172851563 L 709.5098876953125 72.14216613769531 L 709.5098876953125 69.86527252197266 L 709.6237182617188 69.97911834716797 C 710.420654296875 69.12529754638672 711.2744750976563 68.49915313720703 712.1282348632813 68.10070037841797 C 713.2097778320313 67.53147888183594 714.2344360351563 67.30379486083984 715.2020874023438 67.36070251464844 C 716.4544067382813 67.53147888183594 717.5359497070313 68.15762329101563 718.2759399414063 69.06837463378906 C 719.015869140625 69.92220306396484 719.47119140625 71.06064605712891 719.5281372070313 72.42678070068359 C 719.5851440429688 73.67906951904297 719.3004150390625 75.10211944580078 718.5604858398438 76.58208465576172 C 717.2512817382813 79.14358520507813 714.575927734375 81.81891632080078 709.8513793945313 83.925048828125 L 709.5667724609375 84.03888702392578 L 709.5098876953125 84.03888702392578 L 709.5098876953125 82.44507598876953 Z M 709.5098876953125 72.14216613769531 L 708.9976196289063 71.45909881591797 C 707.2329711914063 69.2391357421875 705.3545532226563 68.49915313720703 703.8745727539063 68.72683715820313 C 702.9638061523438 68.89759826660156 702.1669921875 69.46682739257813 701.6546630859375 70.26373291015625 C 701.0853881835938 71.11756896972656 700.8577880859375 72.31292724609375 701.028564453125 73.56522369384766 C 701.4269409179688 76.35440063476563 703.8176879882813 79.76972198486328 709.5098876953125 82.44507598876953 L 709.5098876953125 84.03888702392578 L 709.2822265625 83.925048828125 C 702.7361450195313 80.96509552001953 700.060791015625 77.03746795654297 699.60546875 73.79290771484375 C 699.3777465820313 72.14216613769531 699.71923828125 70.66218566894531 700.40234375 69.52375030517578 C 701.142333984375 68.32838439941406 702.2807006835938 67.53147888183594 703.64697265625 67.30379486083984 C 705.4115600585938 67.01918029785156 707.517578125 67.70223999023438 709.5098876953125 69.86527252197266 L 709.5098876953125 72.14216613769531 Z">
		</path>
	</svg>
	<div id="ID38">
		<span>38</span>
	</div>
	<div id="Group_848">
		<svg class="Rectangle_2455">
			<rect id="Rectangle_2455" rx="0" ry="0" x="0" y="0" width="532" height="67">
			</rect>
		</svg>
	</div>
	<div id="Group_847">
		<svg class="Rectangle_2451">
			<rect id="Rectangle_2451" rx="26" ry="26" x="0" y="0" width="196" height="52">
			</rect>
		</svg>
		<div id="_cq">
			<span>留言</span>
		</div>
	</div>
	<svg class="Line_93" viewBox="0 0 1147 1">
		<path id="Line_93" d="M 0 0 L 1147 0">
		</path>
	</svg>
	<svg class="Line_98" viewBox="0 0 1147 1">
		<path id="Line_98" d="M 0 0 L 1147 0">
		</path>
	</svg>
	<div id="_ct">
		<span>介紹說明</span>
	</div>
	<svg class="Line_94" viewBox="0 0 439 1">
		<path id="Line_94" d="M 0 0 L 439 0">
		</path>
	</svg>
	<svg class="Line_95" viewBox="0 0 439 1">
		<path id="Line_95" d="M 0 0 L 439 0">
		</path>
	</svg>
	<svg class="Line_96" viewBox="0 0 439 1">
		<path id="Line_96" d="M 0 0 L 439 0">
		</path>
	</svg>
	<svg class="Line_97" viewBox="0 0 439 1">
		<path id="Line_97" d="M 0 0 L 439 0">
		</path>
	</svg>
	<div id="DOLOMITI_6__3__210_________">
		<span>大峡谷最大的家庭和团体帐篷！隧道式DOLOMITI 6的杆子是预先弯曲的，形成几乎直立的侧壁，给人非凡的空间感。<br><br>它设有两个独立的睡眠隔间，每个隔间可容纳3人，并为行李和设备留出足够的空间。<br><br>整个大前庭高2.10米，即使有更多的人也可以坐在一起。<br><br>大型防蝇罩通风罩可确保适当的通风和良好的内部气候，许多窗户可让光线进入帐篷。<br><br>特征：<br><br>隧道帐篷建设。<br><br>所有杆均预弯曲且具有相同的长度。</span><br>
	</div>
	<div id="DOLOMITI_">
		<span>DOLOMITI </span>
	</div>
	<div id="DOLOMITI_-3ppl">
		<span>DOLOMITI -3ppl</span>
	</div>
	<div id="ID34">
		<span>3~4人</span>
	</div>
	<div id="ID35x_75">
		<span>Ø35x 75厘米</span>
	</div>
	<svg class="Rectangle_2456">
		<rect id="Rectangle_2456" rx="20" ry="20" x="0" y="0" width="798" height="164">
		</rect>
	</svg>
	<div id="Group_920">
		<img id="Image_1" src="/themes/Okrent/img/list/Image_1.png" srcset="/themes/Okrent/img/list/Image_1.png 1x, Image_1@2x.png 2x">

		<div id="_c">
			<span>留言板</span>
		</div>
	</div>
	<svg class="Line_113" viewBox="0 0 1 74">
		<path id="Line_113" d="M 0 0 L 0 74">
		</path>
	</svg>
	<div id="Group_930">
		<div id="_da">
			<span>評價</span>
		</div>
		<div id="ID5">
			<span>5</span>
		</div>
	</div>
	<div id="Group_929">
		<div id="_dc">
			<span>共享數量</span>
		</div>
		<div id="ID103">
			<span>103</span>
		</div>
	</div>
	<img id="Rectangle_2499" src="/themes/Okrent/img/list/Rectangle_2499.png" srcset="/themes/Okrent/img/list/Rectangle_2499.png 1x, Rectangle_2499@2x.png 2x">

	<div id="Group_932">
		<svg class="Rectangle_2500">
			<rect id="Rectangle_2500" rx="15" ry="15" x="0" y="0" width="90" height="30">
			</rect>
		</svg>
		<div id="_dh">
			<span>追蹤</span>
		</div>
	</div>
	<div id="Group_936">
		<div id="_-_20201208">
			<span>出租中 </span><span style="color:rgba(232,255,220,1);">-</span><span> </span><span style="color:rgba(212,229,156,1);">可租日2020.12.08</span>
		</div>
		<div id="sharing_icon">
			<img id="Group_14_w" src="/themes/Okrent/img/list/Group_14_w.png" srcset="/themes/Okrent/img/list/Group_14_w.png 1x, Group_14_w@2x.png 2x">


		</div>
	</div>
	<div id="Group_934">
		<svg class="Path_21_dn" viewBox="1253.88 46.728 12.363 11.925">
			<path id="Path_21_dn" d="M 1253.880126953125 52.70943450927734 L 1263.510620117188 46.7279052734375 L 1266.24267578125 47.30305480957031 L 1257.5 52.70943450927734 L 1266.24267578125 58.11583709716797 L 1263.510620117188 58.65263366699219 L 1253.880126953125 52.70943450927734 Z">
			</path>
		</svg>
		<svg class="Path_22_do" viewBox="1270.872 41.544 5.645 6.35">
			<path id="Path_22_do" d="M 1273.694091796875 47.89361953735352 C 1275.242797851563 47.89361953735352 1276.516357421875 46.46108245849609 1276.516357421875 44.71881103515625 C 1276.516357421875 42.97653198242188 1275.242797851563 41.54399871826172 1273.694091796875 41.54399871826172 C 1272.145263671875 41.54399871826172 1270.871826171875 42.97653198242188 1270.871826171875 44.71881103515625 C 1270.871826171875 46.46108245849609 1272.145263671875 47.89361953735352 1273.694091796875 47.89361953735352">
			</path>
		</svg>
		<svg class="Path_23_dp" viewBox="1270.872 62.568 5.645 6.311">
			<path id="Path_23_dp" d="M 1273.694091796875 68.87889862060547 C 1275.242797851563 68.87889862060547 1276.516357421875 67.48507690429688 1276.516357421875 65.70409393310547 C 1276.516357421875 63.96181488037109 1275.242797851563 62.56800079345703 1273.694091796875 62.56800079345703 C 1272.145263671875 62.56800079345703 1270.871826171875 63.96181488037109 1270.871826171875 65.70409393310547 C 1270.871826171875 67.48507690429688 1272.145263671875 68.87889862060547 1273.694091796875 68.87889862060547">
			</path>
		</svg>
		<svg class="Path_24_dq" viewBox="1252.152 52.056 5.644 6.35">
			<path id="Path_24_dq" d="M 1254.974243164063 58.40561676025391 C 1256.523071289063 58.40561676025391 1257.79638671875 56.97308349609375 1257.79638671875 55.23080825805664 C 1257.79638671875 53.4885368347168 1256.523071289063 52.05599975585938 1254.974243164063 52.05599975585938 C 1253.425537109375 52.05599975585938 1252.152099609375 53.4885368347168 1252.152099609375 55.23080825805664 C 1252.152099609375 56.97308349609375 1253.425537109375 58.40561676025391 1254.974243164063 58.40561676025391">
			</path>
		</svg>
	</div>
	<svg class="Rectangle_2452">
		<rect id="Rectangle_2452" rx="0" ry="0" x="0" y="0" width="532" height="76">
		</rect>
	</svg>
	<svg class="Rectangle_2495">
		<rect id="Rectangle_2495" rx="0" ry="0" x="0" y="0" width="532" height="76">
		</rect>
	</svg>
	<div id="_dt">
		<span>租期</span>
	</div>
	<div id="_du">
		<span>預約</span>
	</div>
	<div id="_dv">
		<span>租金</span>
	</div>
	<div id="ID5000">
		<span>$5000</span>
	</div>
	<svg class="Rectangle_2495_dx">
		<rect id="Rectangle_2495_dx" rx="0" ry="0" x="0" y="0" width="532" height="117">
		</rect>
	</svg>
	<svg class="Rectangle_2501">
		<rect id="Rectangle_2501" rx="0" ry="0" x="0" y="0" width="532" height="117">
		</rect>
	</svg>
	<div id="_dz">
		<span>押金</span>
	</div>
	<div id="ID5000_d">
		<span>$5000</span>
	</div>
	<div id="Group_945">
		<div id="Group_923">
			<div id="ID5_d">
				<span>5日</span>
			</div>
			<div id="ID10">
				<span>10日</span>
			</div>
			<div id="ID15">
				<span>15日</span>
			</div>
			<div id="ID30">
				<span>30日</span>
			</div>
		</div>
	</div>
	<div id="_d">
		<span>付款</span>
	</div>
	<div id="Group_949">
		<div id="ATM">
			<span>ATM</span>
		</div>
	</div>
	<div id="Group_964">
		<div id="_eb">
			<span>信用卡</span>
		</div>
	</div>
	<div id="Group_953">
		<img id="Ellipse_54" src="/themes/Okrent/img/list/Ellipse_54.png" srcset="/themes/Okrent/img/list/Ellipse_54.png 1x, Ellipse_54@2x.png 2x">

		<img id="Ellipse_50" src="/themes/Okrent/img/list/Ellipse_50.png" srcset="/themes/Okrent/img/list/Ellipse_50.png 1x, Ellipse_50@2x.png 2x">

		<div id="_ef">
			<span>有附睡袋嗎?</span>
		</div>
		<div id="_eg">
			<span>沒有哦~</span>
		</div>
		<svg class="Line_99" viewBox="0 0 769.5 1">
			<path id="Line_99" d="M 0 0 L 769.5 0">
			</path>
		</svg>
		<svg class="Line_100" viewBox="0 0 771 1">
			<path id="Line_100" d="M 0 0 L 771 0">
			</path>
		</svg>
		<div id="ID2020-11-12">
			<span>2020-11-12</span>
		</div>
		<div id="ID2020-11-12_ek">
			<span>2020-11-12</span>
		</div>
	</div>
	<div id="_el">
		<span>運費</span>
	</div>
	<svg class="store-alt-solid" viewBox="0.051 0 17 17">
		<path id="store-alt-solid" d="M 8.55063533782959 12.74999904632568 L 3.450153827667236 12.74999904632568 L 3.450153827667236 7.437496662139893 L 1.749992489814758 7.437496662139893 L 1.749992489814758 15.9375 C 1.749992489814758 16.52519416809082 2.129872560501099 16.99999809265137 2.600073099136353 16.99999809265137 L 9.400715827941895 16.99999809265137 C 9.870916366577148 16.99999809265137 10.2507963180542 16.52519416809082 10.2507963180542 15.9375 L 10.2507963180542 7.437496662139893 L 8.55063533782959 7.437496662139893 L 8.55063533782959 12.74999904632568 Z M 16.90799140930176 4.721481800079346 L 14.64199352264404 0.4714815318584442 C 14.4826021194458 0.1759737133979797 14.21695327758789 -2.861022721845075e-06 13.93270683288574 -2.861022721845075e-06 L 3.168564558029175 -2.861022721845075e-06 C 2.884318828582764 -2.861022721845075e-06 2.618668556213379 0.1759737133979797 2.461935043334961 0.4714815318584442 L 0.1959394663572311 4.721481800079346 C -0.1812837272882462 5.428708553314209 0.2225044518709183 6.374997138977051 0.9025688171386719 6.374997138977051 L 16.20135879516602 6.374997138977051 C 16.87876892089844 6.374997138977051 17.28255462646484 5.428708553314209 16.90799140930176 4.721481800079346 Z M 13.65111827850342 16.46874809265137 C 13.65111827850342 16.76093482971191 13.84238719940186 16.99999809265137 14.07615947723389 16.99999809265137 L 14.92623996734619 16.99999809265137 C 15.16001129150391 16.99999809265137 15.35127925872803 16.76093482971191 15.35127925872803 16.46874809265137 L 15.35127925872803 7.437496662139893 L 13.65111827850342 7.437496662139893 L 13.65111827850342 16.46874809265137 Z">
		</path>
	</svg>
	<div id="_en">
		<span>面交</span>
	</div>
	<div id="face-smile">
		<svg class="face-smile_ep" viewBox="0 8 17 17">
			<path id="face-smile_ep" d="M 6.865120887756348 16.22580337524414 C 7.290120601654053 15.58487796783447 7.382660865783691 14.94737720489502 7.403224945068359 14.30644798278809 C 7.386088371276855 13.66552257537842 7.290120601654053 13.02802276611328 6.865120887756348 12.38709449768066 C 6.590927124023438 11.97580337524414 6.004838466644287 11.99637031555176 5.744355201721191 12.38709449768066 C 5.319355010986328 13.02802276611328 5.226814270019531 13.66552257537842 5.206249713897705 14.30644798278809 C 5.223387241363525 14.94737720489502 5.319355010986328 15.58487796783447 5.744355201721191 16.22580337524414 C 6.021975517272949 16.63709259033203 6.608064651489258 16.61652946472168 6.865120887756348 16.22580337524414 Z M 11.25221824645996 16.22580337524414 C 11.67721748352051 15.58487796783447 11.7697582244873 14.94737720489502 11.79032135009766 14.30644798278809 C 11.77318477630615 13.66552257537842 11.67721843719482 13.02802276611328 11.25221824645996 12.38709449768066 C 10.97802352905273 11.97580337524414 10.39193439483643 11.99637031555176 10.13144969940186 12.38709449768066 C 9.706450462341309 13.02802276611328 9.613910675048828 13.66552257537842 9.593344688415527 14.30644798278809 C 9.610481262207031 14.94737720489502 9.706449508666992 15.58487796783447 10.13144969940186 16.22580337524414 C 10.40907192230225 16.63709259033203 10.99516201019287 16.61652946472168 11.25221824645996 16.22580337524414 Z M 8.5 7.999999046325684 C 3.804435253143311 7.999999046325684 0 11.80443382263184 0 16.49999618530273 C 0 21.1955623626709 3.804435253143311 25 8.5 25 C 13.19556427001953 25 17 21.1955623626709 17 16.49999618530273 C 17 11.80443382263184 13.19556427001953 7.999999046325684 8.5 7.999999046325684 Z M 8.5 23.35483741760254 C 4.719556331634521 23.35483741760254 1.645161151885986 20.28044509887695 1.645161151885986 16.49999618530273 C 1.645161151885986 12.71955394744873 4.719556331634521 9.645158767700195 8.5 9.645158767700195 C 12.28044414520264 9.645158767700195 15.35483741760254 12.71955394744873 15.35483741760254 16.49999618530273 C 15.35483741760254 20.28044509887695 12.28044414520264 23.35483741760254 8.5 23.35483741760254 Z M 12.11935424804688 18.16572380065918 C 11.23165416717529 18.4502010345459 9.912096977233887 18.61471557617188 8.5 18.61471557617188 C 7.087902545928955 18.61471557617188 5.771774291992188 18.4502010345459 4.880644798278809 18.16572380065918 C 4.541330337524414 18.05947303771973 4.215725898742676 18.34737777709961 4.273991584777832 18.69011688232422 C 4.544758319854736 20.30786323547363 6.7177414894104 21.43205451965332 8.5 21.43205451965332 C 10.28225803375244 21.43205451965332 12.45181465148926 20.30443572998047 12.72600746154785 18.69011688232422 C 12.78084659576416 18.35423278808594 12.4620943069458 18.05947303771973 12.11935424804688 18.16572380065918 Z">
			</path>
		</svg>
	</div>
	<div id="Group_954">
		<div id="_er">
			<span>貨運</span>
		</div>
		<div id="shipping-fast-solid">
			<svg class="shipping-fast-solid_et" viewBox="0 0 17 17">
				<path id="shipping-fast-solid_et" d="M 16.57500076293945 11.68750095367432 L 16.14999961853027 11.68750095367432 L 16.14999961853027 8.098241806030273 C 16.14999961853027 7.676561832427979 16.0145320892334 7.271483898162842 15.77546977996826 6.972655773162842 L 13.12187671661377 3.655663967132568 C 12.8828125 3.356835842132568 12.55875015258789 3.187499761581421 12.22140693664551 3.187499761581421 L 11.05000114440918 3.187499761581421 L 11.05000114440918 1.59374988079071 C 11.05000114440918 0.7138671875 10.47890663146973 0 9.774999618530273 0 L 2.974999904632568 0 C 2.271093845367432 0 1.700000047683716 0.7138671875 1.700000047683716 1.59374988079071 L 1.700000047683716 3.187499761581421 L 0.2124999165534973 3.187499761581421 C 0.09562490880489349 3.187499761581421 -9.956944069244855e-08 3.307031393051147 -9.956944069244855e-08 3.453125 L -9.956944069244855e-08 3.984374761581421 C -9.956944069244855e-08 4.130468368530273 0.09562490880489349 4.25 0.2124999165534973 4.25 L 7.4375 4.25 C 7.554375171661377 4.25 7.650001049041748 4.369531631469727 7.650001049041748 4.515624523162842 L 7.650001049041748 5.046875 C 7.650001049041748 5.192968845367432 7.554375171661377 5.3125 7.4375 5.3125 L 1.06249988079071 5.3125 C 0.9456248879432678 5.3125 0.8499999642372131 5.432031631469727 0.8499999642372131 5.578125476837158 L 0.8499999642372131 6.109374523162842 C 0.8499999642372131 6.255467891693115 0.9456248879432678 6.374999523162842 1.06249988079071 6.374999523162842 L 6.587500095367432 6.374999523162842 C 6.704375267028809 6.374999523162842 6.800000190734863 6.49453067779541 6.800000190734863 6.640624046325684 L 6.800000190734863 7.171875 C 6.800000190734863 7.317968368530273 6.704375267028809 7.4375 6.587500095367432 7.4375 L 0.2124999165534973 7.4375 C 0.09562490880489349 7.4375 -9.956944069244855e-08 7.557032108306885 -9.956944069244855e-08 7.703125 L -9.956944069244855e-08 8.234375 C -9.956944069244855e-08 8.380468368530273 0.09562490880489349 8.5 0.2124999165534973 8.5 L 5.737500190734863 8.5 C 5.854374885559082 8.5 5.949999809265137 8.619531631469727 5.949999809265137 8.765625 L 5.949999809265137 9.296874046325684 C 5.949999809265137 9.44296932220459 5.854374885559082 9.5625 5.737500190734863 9.5625 L 1.700000047683716 9.5625 L 1.700000047683716 13.8125 C 1.700000047683716 15.57226467132568 2.842187404632568 17 4.25 17 C 5.65781307220459 17 6.800000190734863 15.57226467132568 6.800000190734863 13.8125 L 10.20000076293945 13.8125 C 10.20000076293945 15.57226467132568 11.34218883514404 17 12.75 17 C 14.15781402587891 17 15.3000020980835 15.57226467132568 15.3000020980835 13.8125 L 16.57500076293945 13.8125 C 16.80875015258789 13.8125 17 13.57343673706055 17 13.28124809265137 L 17 12.21874904632568 C 17 11.92656230926514 16.80875015258789 11.68750095367432 16.57500076293945 11.68750095367432 Z M 4.25 15.40625 C 3.546093940734863 15.40625 2.974999904632568 14.6923828125 2.974999904632568 13.8125 C 2.974999904632568 12.93261623382568 3.546093940734863 12.21874904632568 4.25 12.21874904632568 C 4.953906059265137 12.21874904632568 5.52500057220459 12.93261623382568 5.52500057220459 13.8125 C 5.52500057220459 14.6923828125 4.953906059265137 15.40625 4.25 15.40625 Z M 12.75 15.40625 C 12.04609489440918 15.40625 11.47500038146973 14.6923828125 11.47500038146973 13.8125 C 11.47500038146973 12.93261623382568 12.04609489440918 12.21874904632568 12.75 12.21874904632568 C 13.45390701293945 12.21874904632568 14.02500057220459 12.93261623382568 14.02500057220459 13.8125 C 14.02500057220459 14.6923828125 13.45390701293945 15.40625 12.75 15.40625 Z M 14.875 8.5 L 11.05000114440918 8.5 L 11.05000114440918 4.78125 L 12.22140693664551 4.78125 L 14.875 8.098241806030273 L 14.875 8.5 Z">
				</path>
			</svg>
		</div>
		<div id="ID100">
			<span>$100</span>
		</div>
	</div>
	<div id="Group_941">
		<div id="ID7-11">
			<span>7-11</span>
		</div>
		<div id="ID60">
			<span>$60</span>
		</div>
	</div>
	<div id="Group_942">
		<div id="Group_956">
			<div id="_e">
				<span>全家</span>
			</div>
			<div id="ID60_e">
				<span>$60</span>
			</div>
		</div>
	</div>
	<div id="Group_943">
		<div id="_fa">
			<span>萊爾富</span>
		</div>
		<div id="ID60_fa">
			<span>$60</span>
		</div>
	</div>
	<div id="Group_955">
		<div id="OK_Mart">
			<span>OK Mart</span>
		</div>
		<div id="ID60_fb">
			<span>$60</span>
		</div>
	</div>
	<div id="Group_939">
		<div id="_fb">
			<span>郵寄</span>
		</div>
		<div id="ID100_fa">
			<span>$100</span>
		</div>
		<div id="Group_937">
			<svg class="Path_20975" viewBox="0 0.001 20.531 3.753">
				<path id="Path_20975" d="M 7.097251415252686 0.2346350699663162 L 19.59250450134277 0.2346350699663162 L 13.4335470199585 3.518662214279175 L 0.937355101108551 3.518662214279175 L 7.097251415252686 0.2346350699663162 Z M 7.039077281951904 0.001000000047497451 L 0 3.754173517227173 L 13.49265956878662 3.754173517227173 L 20.53079986572266 0.001000000047497451 L 7.039077281951904 0.001000000047497451 Z">
				</path>
			</svg>
			<svg class="Path_20976" viewBox="0 4.001 13.246 13.246">
				<path id="Path_20976" d="M 0.2345733493566513 4.235573768615723 L 13.01131439208984 4.235573768615723 L 13.01131439208984 17.01231384277344 L 0.2345733493566513 17.01231384277344 L 0.2345733493566513 4.235573768615723 Z M 0 17.24688720703125 L 13.24588775634766 17.24688720703125 L 13.24588775634766 4.00100040435791 L 0 4.00100040435791 L 0 17.24688720703125 Z">
				</path>
			</svg>
			<svg class="Path_20977" viewBox="14.117 0 7.285 16.999">
				<path id="Path_20977" d="M 14.3515739440918 13.60806941986084 L 14.3515739440918 7.830059051513672 L 14.3515739440918 3.895794153213501 L 21.16827392578125 0.3837620317935944 L 21.16827392578125 11.08593654632568 L 21.16827392578125 11.47251415252686 L 16.73577880859375 14.76310920715332 L 14.3515739440918 16.53366851806641 L 14.3515739440918 13.60806941986084 Z M 14.11700057983398 3.753173589706421 L 14.11700057983398 7.830059051513672 L 14.11700057983398 13.60806941986084 L 14.11700057983398 16.99906349182129 L 16.8746452331543 14.95170593261719 L 21.40191078186035 11.59073829650879 L 21.40191078186035 11.08593654632568 L 21.40191078186035 0 L 14.11700057983398 3.753173589706421 Z">
				</path>
			</svg>
			<svg class="Path_20978" viewBox="15.076 3.725 2.522 2.717">
				<path id="Path_20978" d="M 17.5980339050293 4.76691198348999 L 15.09560394287109 6.442704677581787 L 15.07590103149414 5.401198863983154 L 17.57832717895508 3.725406646728516 L 17.5980339050293 4.76691198348999 Z">
				</path>
			</svg>
			<svg class="Line_114" viewBox="0 0 13.136 0.5">
				<path id="Line_114" d="M 0 0 L 13.13610744476318 0">
				</path>
			</svg>
		</div>
	</div>
	<div id="Group_960">
		<svg class="Union_3" viewBox="0 0 74.001 63.688">
			<path id="Union_3" d="M 43.14892578125 53.55024719238281 C 41.149658203125 53.79381942749023 39.094970703125 53.92078399658203 37.0009765625 53.92078399658203 C 16.5654296875 53.92078399658203 0 41.84998321533203 0 26.96039199829102 C 0 12.07079696655273 16.5654296875 0 37.0009765625 0 C 57.435302734375 0 74.000732421875 12.07079696655273 74.000732421875 26.96039199829102 C 74.000732421875 35.51209259033203 68.536865234375 43.13376235961914 60.013427734375 48.07295608520508 L 54.541015625 63.6884765625 L 43.14892578125 53.55024719238281 Z">
			</path>
		</svg>
		<div id="_fj">
			<span>悄稍話</span>
		</div>
	</div>
	<div id="ID2020120820201212">
		<span>2020.12.08~2020.12.12</span>
	</div>
	<div id="Component_159__1" class="Component_159___1">
		<div id="Group_288">
			<svg class="Rectangle_1596">
				<rect id="Rectangle_1596" rx="6" ry="6" x="0" y="0" width="12" height="12">
				</rect>
			</svg>
			<div id="Component_274__2" class="Component_274___2">
				<svg class="Rectangle_1577">
					<rect id="Rectangle_1577" rx="2" ry="2" x="0" y="0" width="18" height="15">
					</rect>
				</svg>
				<svg class="Line_39" viewBox="0 0 3 2.928">
					<path id="Line_39" d="M 0 0 L 0 2.927532434463501">
					</path>
				</svg>
				<svg class="Line_40" viewBox="0 0 3 2.928">
					<path id="Line_40" d="M 0 0 L 0 2.927532434463501">
					</path>
				</svg>
				<svg class="Path_701" viewBox="1165 2266.8 6.371 5.855">
					<path id="Path_701" d="M 1164.999877929688 2269.2109375 L 1166.721923828125 2272.65478515625 L 1171.371337890625 2266.7998046875">
					</path>
				</svg>
			</div>
		</div>
	</div>

	<img id="line_pay" src="/themes/Okrent/img/list/line_pay.png" srcset="/themes/Okrent/img/list/line_pay.png 1x, line_pay@2x.png 2x">

	<img id="google_pay" src="/themes/Okrent/img/list/google_pay.png" srcset="/themes/Okrent/img/list/google_pay.png 1x, google_pay@2x.png 2x">

	<img id="apple_pay" src="/themes/Okrent/img/list/apple_pay.png" srcset="/themes/Okrent/img/list/apple_pay.png 1x, apple_pay@2x.png 2x">

	<div id="Group_965">
		<img id="ID7-11_fy" src="/themes/Okrent/img/list/ID7-11_fy.png" srcset="/themes/Okrent/img/list/ID7-11_fy.png 1x, ID7-11_fy@2x.png 2x">

		<img id="familyMart" src="/themes/Okrent/img/list/familyMart.png" srcset="/themes/Okrent/img/list/familyMart.png 1x, familyMart@2x.png 2x">

		<img id="Hi-life" src="/themes/Okrent/img/list/Hi-life.png" srcset="/themes/Okrent/img/list/Hi-life.png 1x, Hi-life@2x.png 2x">

		<img id="okMart" src="/themes/Okrent/img/list/okMart.png" srcset="/themes/Okrent/img/list/okMart.png 1x, okMart@2x.png 2x">

	</div>
</div>
