:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --normal_color: #555;
    --dark_color: #222;
    --light_color: #aaa;
}

.flex{
    display: flex;
    align-items: center;
}

.separate{
    background-color: #ccc;
    height: 1px;
}

.segmentation{
    width: 100%;
    border-top: 1px dashed #555;
    margin: 30px auto 20px;
}

.none{
    display: none!important;
}

body *{
    font-family: 'cwTeXYen', sans-serif;
}

.store_registered_wrap input::placeholder{
    color: #888;
    font-size: 1em;
    text-align:left;
}

.store_registered_wrap{
    max-width: 1000px;
    margin: 0px auto;
    padding: 10px 15px 20px;
}

.store_registered_wrap .form-group{
    margin-bottom: 10px;
}

.store_registered_wrap .form-group .control-label{
    width: 25%;
    min-width: 150px;
    padding: 0px 15px 0px 0px;
    margin: 0px;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--normal_color);
    letter-spacing: 0px;
    text-align: right;
    position: relative;
}

.store_registered_wrap .form-group .full{
    width: 100%;
    display: flex;
}

.store_registered_wrap .form-group .form-control{
    width: 100%;
    height: 30px;
    padding: 0px 15px;
    font-size: 1em;
    font-weight: normal;
    color: var(--normal_color);
    letter-spacing: 1px;
    border: unset;
    border-bottom: 1px solid #ccc;
    box-shadow: unset;
    border-radius: unset;
}

.store_registered_wrap .form-group .form-control select option{
    font-size: 16px;
}

.store_registered_wrap .form-group .radio_wrap{
    margin: 0px 0px 0px 30px;
    display: flex;
    align-items: center;
}

.store_registered_wrap .form-group .radio_wrap .radio{
    min-width: 15vw;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.store_registered_wrap .poptip_wrap{
    position: relative;
    display: none;
}

.store_registered_wrap .poptip_wrap .frame{
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    height: 200px;
    padding: 15px;
    background: var(--main_color1);
    border-radius: 0px 15px;
    z-index: 15;
}

.store_registered_wrap .poptip_wrap .frame  hr{
    margin: 10px auto 20px;
}

.store_registered_wrap .poptip_wrap .frame .caption{
    color: #fff;
    font-size: 2.5em;
    font-weight: normal;
}

.store_registered_wrap .poptip_wrap .frame .content{
}

.store_registered_wrap .poptip_wrap .frame .content p{
    color: #fff;
    font-size: 1.3em;
    font-weight: normal;
}


.store_registered_wrap .form-check{
    width: 28%;
    display: flex;
    align-items: center;
}

.store_registered_wrap input[type="checkbox"]{
    width: 18px;
    height: 18px;
}

.store_registered_wrap .form-check input{
    margin: -10px 5px 0px 0px;
}

.store_registered_wrap .form-check label{
    font-size: 15px;
    line-height: 25px;
}

.store_registered_wrap .label{
    padding: 0px;
    color: var(--normal_color);
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: unset;
}

.store_registered_wrap .label span{
    color: var(--normal_color);
    font-size: .7em;
    letter-spacing: 1px;
}

.store_registered_wrap .form-group .form-control.no_border{
    border: unset;
}

.store_registered_wrap .form-group .upload_btn{
    color: #fff;
    padding: 5px 10px;
    background: #aaa;
    border-radius: 2px;
}

.store_registered_wrap .form-group .upload_btn span{
    margin: 0px 0px 0px 10px;
    font-size: .8em;
}

.store_registered_wrap .upload_wrap{
    min-width: 290px;
    margin: 40px auto;
}

.store_registered_wrap .upload_wrap .form-group{
    margin-bottom: 20px;
}

.store_registered_wrap .upload_wrap .label_caption{
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0px 0px 1px;
}

.store_registered_wrap .upload_wrap .upload_btn{
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
}

.store_registered_wrap .form-group .upload_img{
    position: relative;
    padding: 5px 0px 5px;
}

.store_registered_wrap .form-group .upload_img .delete{
    color: #555;
    background: #fff;
    position: absolute;
    bottom: 15px;
    right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 0px 5px;
    border: 2px solid #555;
}

.store_registered_wrap .form-group .upload_img img{
    margin: 0px auto 5px;
    border-radius: 0px 10px;
}

.store_registered_wrap .agree{
    position: relative;
    margin-bottom: 10px;
    max-width: 700px;
    margin: 20px auto 11px;
}

.store_registered_wrap .agree label{
    font-size: 1em;
    margin: 0px 0px 0px 30px;
}

.store_registered_wrap .agree input{
    position: absolute;
    top: 24px;
    left: 42px;
    z-index: 2;
}


.store_registered_wrap .send{
    margin: 40px auto 20px;
}

.store_registered_wrap .send .btn{
    width: 125px;
    font-size: 20px;
    color: #fff;
    background: #512779;
    letter-spacing: 5px;
    border-radius: 0px 5px;
    position: relative;
    margin: 0px auto;
}



.image-uploader{
    border: unset;
    cursor: cell;
}

.iui-cloud-upload:before{
    content: "";
    background-image: url(../註冊_files/upload.png);
    display: block;
    z-index: 99;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 32px;
    background-repeat: no-repeat;
}

.image-uploader .uploaded .uploaded-image{
    background: unset;
    /* left: -3vw; */
}
.image-uploader .uploaded .uploaded-image img{
    left: 0px;
}


.store_registered_wrap .form-group .upload_btn span {
    margin: 0px ;
    font-size: 1.2em;
}

.image-uploader .uploaded .uploaded-image .delete-image{
    top: unset;
    bottom: .2rem;
    border-radius: 0px 10px;
    background-color: rgba(255, 0, 0, 0.5);
}

.iui-close:before {
    content: "X";
    font-family: 'cwTeXYen', sans-serif;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
    display: block;
    z-index: 99;
    top: 6px;
    left: -9px;
    width: 50px;
    height: 32px;
    padding: 0px;
    margin: 0px;
    position: absolute;
}

.ui-mobile label, .ui-controlgroup-label{
    margin: 0 3em 0;
}

#AddStore .ui-select{
    width:100%;
}

#AddStore .ui-select .ui-btn{
    padding: 0px 50px 0px 10px
}

#AddStore .store_registered_wrap .form-group .form-control{
    border: unset;
    line-height: 2em;
}

#AddStore .store_registered_wrap .form-check label{
    margin: 0px 0px 0px 35px;
}

#AddStore .ui-btn.ui-checkbox-off:after{
    content: none;
}

.ui-icon-check:after, html .ui-btn.ui-checkbox-on.ui-checkbox-on:after{
    content: none;
}

.store_registered_wrap .radio, .checkbox {
    display: flex;
    width: 15%;
}

.store_registered_wrap .ui-checkbox, .store_registered_wrap .ui-radio{
    margin: 0px 20px;
}

.store_registered_wrap .radio+.radio, .store_registered_wrap .checkbox+.checkbox{
    margin-top: unset;
}