
:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

.none{
    display: none!important
}

.take_goodies_wrap{
    margin: 0px 0px 20px;
}

.take_goodies_wrap .banner{
    position: relative;
    margin: 0px;
}

.take_goodies_wrap .banner .postion{
    position: absolute;
    top: 43vw;
    left: 30px;
}

.take_goodies_wrap .banner .caption{
    font-size: 5.5vmin;
    color: var(--main_color1);
    font-weight: bold;
    line-height: 5.5vmin;
}

.take_goodies_wrap .banner .text{
    font-size: 3.5vmin;
}

.take_goodies_wrap .commodity_wrap{

}

.take_goodies_wrap .commodity_wrap ul{
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

.take_goodies_wrap .commodity_wrap ul li{
    list-style: none;
    width: 49.5%;
    padding: 5px 0px 0px 5px;
    margin: 0px 0px 1px;
    float: left;

}
.take_goodies_wrap .commodity_wrap ul li .frame_wrap{
    outline: 1px solid #aaa;
}

.take_goodies_wrap .commodity_wrap ul li .frame_wrap .info_content{
    text-align: center;
    height: 132px;
    padding: 10px;
    overflow: hidden;
}

.take_goodies_wrap .commodity_wrap .commodity .info_content .name{
    height: 50px;
    width: 160px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.take_goodies_wrap .commodity_wrap .commodity .info_content .point{
    color: red;
    font-size: 1.3em;
    font-weight: bold;
}

.take_goodies_wrap .commodity_wrap .commodity .info_content .point span{
    font-size: .8em;
}

.take_goodies_wrap .commodity_wrap .commodity .info_content .amount{
    font-size: 1em;
}

.take_goodies_wrap .commodity_wrap .commodity .info_content .amount span{
    font-size: 1.3em;
}