:root {
    --form_box_shadow: rgb(255 255 255 / 50%);
}

.title {
    text-align: center;
    font-size: 1rem;
    color: #3f0a81;
    font-weight: bold;
    margin: 15px;
}
.post_ID.i_agree .title {
    text-align: start;
    font-size: 1.2rem;
    color: #3f0a81;
    font-weight: bold;
    margin: 15px;
    padding-left: 2em;
}
.showinline {
    display: flex;
}
.slogan {
    text-align: center;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}

.slogan span {
    margin: 9pt;
}

.content {
    text-align: center;
    margin: 18px;
}

.button {
  width: 100%;
    background: #fff;
    margin-bottom: 60px;
  }

.groupLink.svg{
  margin: 50px 0px;
}


.button img {
    width: max-content;
    height: min-content;
    cursor: pointer;
}


.applyform {
  width: 90%;
margin: auto;
/* border: 5px solid #ff000070; */
border-radius: 20px;
padding: 20px;
/* position: absolute; */
top: 50px;
background: #fff;
/* left: 5%; */
z-index: 99;
box-shadow: 4px 4px 3px var(--form_box_shadow), -4px -4px 3px var(--form_box_shadow), -4px 4px 3px var(--form_box_shadow), 4px -4px 3px var(--form_box_shadow);
}

.applyformbk {
    position: fixed;
    background: #0000006e;
    width: 100%;
    height: 100%;
    z-index: 98;
    top: 0px;
    overflow: scroll;

}

.applyform .form_item {
    margin: 20px 0px;
}

input[type='file']{
  display:none;
}

.statement {

  position: absolute;
  top: 50%;
  left: 0px;
  color: #fff;

}


.camera_icon {
    text-align: center;
    height: 50px;
    background: #eee;
    border-radius: 10px;
    margin: 10px;
}

.camera_icon svg {
    vertical-align: -webkit-baseline-middle;
    font-size: 2em;
    color: #aaa;
    height: inherit;
}

.bank_ID,.post_ID {
    display: flex;
}

.post_ID div {
    margin: 10px 5px;
    height: 1.5em;
    margin-bottom: 0px;
}

.post_ID div input.post_ID_n {
    padding: 0px;
    text-align: center;
    height: 1em;
    min-height: 1.5em;
}

input.bank_ID_n {
    padding: 5px;
}

.must{
  color: red;
}

span.bank_txt_0 {
    font: small-caption;
    color: #aaa;
}

span.bank_txt_1 {
    font: small-caption;
    color: #aaa;
}

.inp::placeholder {
  text-align:start;
}

input.post_ID_txt {
    padding: 0px;
    border: 0px;
    background: #fff;
    width: 5rem;
    text-align: center;
}

.SMS.submit{
  margin-top: 30px;
    width: 70%;
    border-radius: 10px;
    background: #512779;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 5px;
    display: inline;
    font-size: 12pt;
    margin-right: 15px;
}

/* .submit {
  width: 100%;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  margin: auto;
  padding: 5px;
  bottom: 17%;
  font-size: 16pt;
} */

.birthday .ui-select {
    width: 80%;
    display: inline-block;
    margin-right: 5%;
    vertical-align: middle;
}

.submit {
  width: 100%;
  border-radius: 0 10px;
  text-align: center;
  margin: auto;
  padding: 5px 30px;
  bottom: 17%;
  font-size: 16pt;
  color: #53268a;
  font-weight: bold;
  border: 2px solid #53268a;
}

.submit{cursor: pointer;}

.submit:hover {
    color: #fff;
    background: #53268a;
}
