td.c_1 {
  width: 10%;
  min-width: 8rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  /* line-height: 5rem; */
  text-align: start;
}

td.c_2 {
    /* width: 90%; */
    vertical-align: -webkit-baseline-middle;
    padding-bottom: 1em;
}

td.c_2 a.ui-link {
    font-size: 1rem;
    font-weight: bold;
}

.menu_buoy buoy{
  width: 33%
}

.search_select .icon, #search_box .icon {
    width: 24px;
    position: absolute;
    right: 0px;
    top: 7px;
}

#search_box>div {
    display: table-cell;
    position: relative;
}

#search_box {
    width: 10%;
    margin: 0px 0px 0px 0px;
}

#search_box {
    /* display: table;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px; */
    margin-left: 100px;
}

#search_form{
  padding: 0 !important;
  margin-top: 0 !important;
}

.zone {
    margin: 20px 0;
}

.zone .top_bar {
    font-size: 1.2rem;
    text-align: center;
    background: #eee;
    padding: 5px 0;
    font-weight: bold;
}

.search {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #eee;
}

.search span.notify {
    margin-right: 5px;
}

.photo {
    position: relative;
}

.notify span{text-decoration: underline;}

.icons ul {
    list-style: none;
    width: 100%;
    /* display: flex; */
    margin: 0px;
    /* padding: 20px 15px; */
}
.icons {
    width: 100%;
    text-align: center;
}

.icons ul li {
    width: 100%;
    margin: auto;
    padding: 5px 0;
}

.icons ul li div {
    width: 100%;
    /* margin: auto; */
    margin-bottom: 20px;
    margin-top: -40px;
}

table.menu_buoy_main {
    width: 100%;
}

.bottoms {
    display: flex;
    margin-bottom: 50px;
}

.bottoms div {
    width: 50%;
    text-align: center;
}

.bottoms div a {
    border: 1px solid;
    padding: 5px 15px;
    border-radius: 20px;
}

.bottoms div a:active {
    background: #512779;
    color: #fff;
}

div.form1 {
    left: 10%;
    display: grid;
    bottom: 0px;
    width: 80%;
    background: #fff;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.form1bk {
    background: #999999d4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    overflow: scroll;

}

div.form1 .form_item {
    /* display: flex; */
}

div.form1 .form_item .ui-radio {
  width: 2rem;
    display: inline-block;
}

div.form2 {
    left: 10%;
    display: grid;
    bottom: 0px;
    width: 80%;
    background: #fff;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.form2bk {
    background: #999999d4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    overflow: scroll;

}

div.form2 .form_item {
    /* display: flex; */
}

div.form2 .form_item .ui-radio {
  width: 2rem;
    display: inline-block;
}

.title {
    text-align: center;
    font-size: 1.6rem;
    color: #3f0a81;
    font-weight: bold;
    margin: 15px;
}

.inp::placeholder {
  text-align:start;
}

.SMS.submit{
  margin-top: 30px;
}

.submit {
  width: 95%;
  border-radius: 20px;
  background: #512779;
  color: #fff;
  text-align: center;
  margin: auto;
  padding: 5px;

}

span.bank_txt {
    font: small-caption;
    max-width: 17rem !important;
    display: block;
    padding-left: 3rem;
}

.form_item .ui-checkbox {
    display: contents;
}

.form_item .ui-checkbox {
    display: contents;
}
