.title {
    text-align: center;
    font-size: 1.6rem;
    color: #666563;
    font-weight: bold;
    margin: 15px;
}

.slogan {
    text-align: center;
    color: #552a7c;
    font-size: 1.5rem;
    font-weight: bold;
    word-spacing: 7pt;
    margin-bottom: 7pt;
}

.slogan span {
    margin: 9pt;
}

.content {
    text-align: center;
    margin: 18px;
    color: #666563;
}

.button {width: 100%;background: #fff;margin: 25pt 0;display: flex;}

.button img {
    width: max-content;
    height: min-content;
    cursor: pointer;
}


.slogan2 {
    text-align: center;
    color: #666563;
    font-size: 1.5rem;
    font-weight: bold;
}

.buttons {
    width: 50%;
}


.buttons a {
    padding: 8px 15px;
    border-radius: 25px;
}

.buttons.join_1 a {
    background: #4f2477;
    color: #fff;
}

.buttons.join_2 a {
    background: #fff500;
    color: #4f2477;
}
