.photo_row img.img {
    transition: transform .5s ease;
    border-top: 0;
    border-left: 0;
    width: 100%;
    height: 168px;
}

data.rows_content h3 a,
data.rows_content div,
data.rows_content price {
    color: #FFF !important;
    font-size: 10pt !important;
    line-height: 16pt;
}

.commodity collect {
    position: absolute;
    display: inline-block;
    width: 8%;
    top: 6%;
    right: 6%;
}

.b_div label {
    margin-left: 10px;
    text-decoration: underline;
}

.commodity .photo_row {
    border-radius: 0;
    overflow: hidden;
    position: relative;
}

.photo_row img.img {
    transition: transform .5s ease;
    border-top: 0;
    border-left: 0;
    width: 100%;
    height: 200px;
}

.rows_content {
    margin: 0 0 0 0;
}

.rows_content h3 {
    margin: 0 0 0 0;
}

.commodity .title_2 a>img {
    height: 1em;
    width: 1em;
    margin-right: 5px;
}

.commodity .title_2>img {
    height: 1em;
    width: 1em;
    margin-right: 5px;
}

data.rows_content {
    position: absolute;
    bottom: 0px;
    background: #3636363d;
    width: 100%;
    display: flex;
    height: 45px;
}

h3.title {
    line-height: 10pt;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.title_2 {
    text-shadow: black 0.1em 0.1em 0.2em;
}

.title_2 a {
    color: #FFF !important;
    display: flex;
}

.title_2 a:visited {
    color: #FFF !important;
}

data.rows_content price {
    position: absolute;
    top: 21px;
    right: 0px;
    padding-right: 5px;
    text-shadow: black 0.1em 0.1em 0.2em;
    letter-spacing: 4px;
    font-size: 12pt !important;
}

.photo_row>price {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 20pt;
    color: #FFF;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.photo_row dl,
.photo_row ul,
.photo_row ol {
    margin: 0rem;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.fa-map-marked-alt:after {
    content: " ";
}

.breadcrumb{
    width: 90%;
    margin: auto;
    font-size: 1vw;
    margin-bottom: 8px;
}

/* 109.10.08 */

.select_box {
  position: fixed;
  background: var(--main_color1);
  border-radius: 15px;
  width: 90%;
  left: 5%;
  z-index: 99;
  border: 4px solid #00000040;
  /* height: 90%; */
  /* top: 7%; */
  /* padding: 65% 20px; */
  padding: 10px;
  bottom: 2%;
  display: none;
  overflow: auto;
  max-height: 90%;
}

.select_box .b_div {
    margin: auto;
}

.select_box_bk {
  position: fixed;
width: 100%;
height: 94%;
background: #71508ed4;
bottom: 0px;
left: 0px;
z-index: 98;
display: none;
opacity: 0;
}

    .select_box ul {
        /* background: #eee; */
        border-radius: 5px !important;
        display: block !important;
        text-align: center;
    }

    

    .select_box li {
      /* background: #eee; */
  border-radius: 5px !important;
  display: inline-block;
  margin: 4px !important;
  font-size: 16pt;
  width: 8.6rem !important;
  line-height: 1em;
  text-align: center !important;
  font-weight: bold;
    }

  /* .select_box li {
      background: #eee;
      border-radius: 5px !important;
      display: inline-block;
      margin: 2px 1px !important;
      }

.buttons_checkes {
    color: #eee !important;
    font-size: 2vh !important;
    overflow: unset;
    height: 3.2vh;
    background: #666 !important;
} */

.close_window {
  border: 1px outset;
  background: #fff0;
  padding: 5px;
  width: 60%;
  border-radius: 7px;
  margin-top: 20px;
  /* height: 10px; */
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  padding: 2%;
  /* position: fixed; */
  bottom: 30px;
  background: #eee;
  z-index: 1;
  margin: auto;
  position: fixed;
  margin-left: 12.5%;
}

.close_window_x {
  border: 1px outset;
  background: #fff0;
  padding: 5px;
  width: 60%;
  border-radius: 7px;
  margin-top: 10px;
  height: 50px;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  padding: 6%;
  opacity: 0;
  margin: auto;
}
