@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(lds.css);
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
    text-shadow: unset;
}

:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

#cms {
    padding: 0 15px;
}

body {
    -moz-user-select: none;
    -webkit-user-select: none;
}

.ui-mobile .ui-page-active {
    -webkit-overflow-scrolling: touch;
}

.color_w {
    /* color: #fff !important; */
}

textarea:focus,
input:focus,
select:focus,
option:focus,
button:focus {
    outline: none;
}

.clear {
    clear: both;
}

img {
    width: 100%;
}

.border_r {
    border-right: 1px solid #605e5d;
}

body {
    font-family: 'cwTeXYen', sans-serif;
    min-width: 320px;
}

input::-webkit-input-placeholder {
    color: #828282;
}

input::-moz-placeholder {
    color: #828282;
}

input:-moz-placeholder {
    color: #828282;
}

input:-ms-input-placeholder {
    color: #828282;
}

.banner_area {
    position: relative;
}


/* 我的最愛 Start */

@keyframes heart {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}

.favorite {
    position: absolute;
    width: 8%;
    top: 4%;
    right: 4%;
}

.favorite.on img {
    -webkit-animation-name: heart;
    animation-name: heart;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/* 我的最愛 End */

.separate {
    width: 90%;
    background-color: #ccc;
    height: 1px;
    position: absolute;
    top: 14px;
    left: 5%;
}

.title_banner.s {
    display: block;
    overflow: unset;
    margin: 10px auto 10px;
}

.title_banner {
    position: relative;
    padding: 20px 15px 10px 15px;
    white-space: nowrap;
    overflow: auto;
    display: table;
    width: 100%;
}

.title_banner.s>.slide_title {
    width: 4em;
    text-align: center;
    padding-left: 15px;
    left: 0;
    line-height: 30px;
    top: 0;
    position: absolute;
}

.title_banner>div {
    display: table-cell;
}

.title_banner>div>nav {
    display: table;
    vertical-align: sub;
    margin-top: unset !important;
    margin-bottom: unset;
    margin-left: unset;
    justify-content: space-around;
    width: 100%;
    margin-bottom: unset;
}

.border_t {
    border-top: 2px solid #aaa9a9;
}

.border_b {
    border-bottom: 2px solid #a9a7a7;
}

.no_border_r {
    border-right: unset !important;
}

.button {
    cursor: pointer;
}


/* 滑鼠浮標 Start*/

.menu_buoy {
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    margin: 0 15px;
    padding: 10px 3px;
}

.menu_buoy a {
    padding: unset !important;
}

.menu_buoy>div a:first-child {
    padding-left: unset !important;
}

.menu_buoy>div a:last-child {
    padding-right: unset !important;
}

.menu_buoy bottom {
    width: 100%;
    height: 2px;
    background-color: #4a257b;
    position: absolute;
    left: 0;
    bottom: 9px;
}

.menu_buoy buoy,
.search_content buoy {
    position: absolute;
    height: 6px;
    bottom: -4px;
    background-color: #4a257b;
    display: inline-block;
    border-radius: 6px;
}

.search_content select {
    width: 4em;
}

.menu_buoy b {
    display: inline-block;
    width: 0.5em;
}

.menu_buoy div {
    display: table;
    border-bottom: 2px solid #4a257b;
    position: relative;
    margin: 0 auto;
}


/* 滑鼠浮標 End*/

.menu_shadow {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.side_menu {
    position: absolute;
    top: 0;
    left: -320px;
    z-index: 100;
    width: 320px;
    height: 100%;
    font-size: 18px;
    overflow-y: auto;
    background: var(--main_color1);
    text-shadow: none;
    max-width: 100vw;
}

.side_menu .close_btn {
    position: absolute;
    right: 0px;
}

.close_btn>img {
    width: 25px;
}

.side_menu .logo {
    padding: 10px 50px;
    background: var(--main_color2);
}

.ui-mobile-viewport .title .logo img {
    width: 70%;
}

.side_menu .login_div .login {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    line-height: 20px;
    padding: 5px 25px;
    border: 1px solid #b171ff;
    border-radius: 0 10px;
    margin: 30px auto 10px;
    display: inline-block;
}

.side_menu .caption {
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    font-weight: normal;
    line-height: 25px;
}

.side_menu .nav_body {
    padding: 5px 5px 20px;
}

.side_menu ul {
    margin-bottom: 30px;
    padding-left: 40px;
}

.side_menu hr {
    margin: 5px auto;
    border-top: 1px solid #b171ff;
}

.side_menu li {
    list-style: none;
    padding-left: 39px;
    position: relative;
}

.side_menu li.list img {
    width: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    margin-left: -39px;
}

.side_menu li.list svg {
    width: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    margin-left: -39px;
    color: #FFF;
}

.side_menu li.list a {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 40px;
}

.side_menu li.list .underline {
    text-decoration: underline !important;
    margin-left: -35px;
}


/* 背景全螢幕 */

.bg_full {
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
}


/* 幻燈片 Start */

.uk-slideshow ul.uk-margin {
    margin-top: -20px !important;
    margin-bottom: 0;
    padding-bottom: 10px;
    position: relative;
    z-index: 9;
}


/* 幻燈片 End */


/* 共用 Start */

div.ui-header img.ui-title,
div.ui-header a.ui-title {
    padding: unset;
    height: 26px;
    width: u;
    margin-top: 7px !important;
}

div.ui-header .ui-title a {
    margin-top: unset !important;
    line-height: 40px;
    margin-left: -0.2em;
}

div.ui-header .ui-title a img {
    height: 26px;
    line-height: 40px;
}

.my_search {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../img/triangle_pic.png") no-repeat right center transparent;
    background-size: 10px;
    background-position-x: calc(100% - 0.5vw);
}

html .ui-overlay-a,
html .ui-page-theme-a,
html .ui-page-theme-ahtml .ui-panel-wrapper {
    color: #605e5d;
}

.ui-content {
    padding: unset;
    min-height: calc(100vh - 103px);
    overflow-x: unset;
}

.ui-page-theme-a a,
.ui-page-theme-a a:hover,
.ui-page-theme-a a:active,
.ui-page-theme-a a:visited,
.ui-page-theme-a a:focus,
.ui-page-theme-a a:focus-within,
a,
a:hover,
a:active,
a:visited,
a:focus,
a:focus-within {
    text-decoration: unset !important;
    color: #512779;
}

nav {
    text-align: center;
    line-height: 40px;
}

nav a,
nav a:hover,
nav a:active,
nav a:visited,
nav a:focus,
nav a:focus-within {
    color: #727171 !important;
    line-height: 30px;
    font-size: 10pt;
    padding: 0 4px;
    display: table-cell;
}


/* header Start */

.ui-header {
    top: 0px;
    border-width: 0px;
}

.ui-header img.ui-title {
    margin: 0 auto !important;
}

.ui-header,
#footer.footer {
    text-indent: 0.2em;
    position: fixed;
    width: 100%;
    min-height: 40px;
    z-index: 10;
}

.ui-header .ui-title {
    font-size: 1.3em;
    padding: 9px 0;
}

.ui-header h2.ui-title {
    padding: unset;
    height: 40px;
}

.ui-header .open_btn img {
    width: 80%;
}


/* header End */


/* footer Start */

#footer.footer {
    background-color: #fff;
    bottom: 0px;
}

.footer img {
    width: 45px;
    display: block;
    margin: 0 auto;
    margin-bottom: 3px;
}

.footer {
    display: table;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border: unset;
    height: 60px;
    font-size: 12px;
    font-weight: 100;
    z-index: 2;
}

.footer>div {
    display: table-cell;
    text-align: center;
}

.footer>div a {
    padding-top: 10px;
    display: block;
    padding-bottom: 5px;
}


/* footer End */

.open_btn {
    position: absolute;
    z-index: 2;
    top: .3125em;
    right: .3125em;
}

.close_btn,
.open_btn {
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.close_btn {
    top: 5px;
}

.color_page {
    background-color: #fff500 !important;
}

body>.page {
    z-index: 1;
    height: 100%;
}


/* 共用 End */


/* 歡迎頁 Start */

#Welcome {
    position: relative;
}


/* Version 1 Start */


/*#welcome .welcome_bg{*/


/*	background-image: url("../img/welcome/welcome_bg2.png") ;*/


/*	position: relative;*/


/*	height: calc(100vh - 100px);*/


/*	background-attachment: unset;*/


/*}*/


/*#welcome .blessing{*/


/*	position: absolute;*/


/*	left: 50%;*/


/*	margin-left: -80px;*/


/*	width: 160px;*/


/*	top: 70px;*/


/*}*/


/* Version 1 End */

#welcome .welcome_bg {
    background-image: url("../img/welcome/welcome_bg3.png");
    position: relative;
    height: calc(100vh - 40px);
    background-attachment: unset;
}

#welcome div.blessing {
    text-align: center;
    margin-top: 70px;
    position: absolute;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

#welcome img.blessing {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    top: 70px;
}

#welcome .all_loho {
    position: absolute;
    bottom: 30px;
    width: 260px;
    left: 50%;
    margin-left: -130px;
}


/* 歡迎頁 End */


/* 首頁 Start */

.house_search {
    position: relative;
    margin: 0 15px;
    border-top: 2px solid #727171;
    border-bottom: 2px solid #727171;
    padding: 10px 0;
}

.house_search_pic {
    position: relative;
    width: 98%;
    height: 30px;
    margin: auto;
}

.slide_area nav a {
    transition: 0.15s all ease-in;
    -moz-transition: 0.15s all ease-in;
    -ms-transition: 0.15s all ease-in;
    -o-transition: 0.15s all ease-in;
    line-height: 22px;
    padding: 0 1.5vw;
    display: table-cell;
}

.slide_area nav a.active {
    font-size: 1.1em;
}

.slide_title {
    font-size: 1.1em;
    padding-right: 3vw;
    font-weight: bold;
    line-height: 22px;
    background-color: #fff;
    position: relative;
    width: 1%;
}

.slide_title2 {
    font-size: 17px;
    color: #333;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 10px;
    text-shadow: 0 0 0;
    background-color: #fff;
    display: inline-block !important;
    line-height: 30px;
}

.pgae[data-role="page"],
.ui-page-theme-a {
    background-color: #fff;
}

.slide_title .icon {
    height: 30px;
    margin-right: 0.2em;
}

#search_form {
    padding: 0 15px;
    margin-top: 22px;
    display: none;
}

#search_form select.form-control {
    width: calc(100% / 6);
    padding: 6px 0px 6px 2px;
    border-color: #aaa9a9;
}


/* 搜尋 */

.search_select {
    width: 90%;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    display: table;
    height: 36px;
    padding: 6px 6px;
    position: relative;
    margin: auto;
}

.search_select .icon,
#search_box .icon {
    width: 24px;
    position: absolute;
    right: 0px;
    top: 10px;
}

.search_select>* {
    display: table-cell;
    border: unset;
    border-right: 1px solid #e1e1e1;
    font-size: 16px;
    font-weight: bold;
    padding: 0 3px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align: center;
    text-align-last: center;
    background-color: #fff;
    font-family: 'cwTeXYen', sans-serif;
    width: 500px;
    line-height: 22px;
    margin: 2px 0;
}

.search_select>* a {
    color: #727171 !important;
    display: block;
    font-size: 18px;
}

.search_select>*:last-child {
    border-right: unset;
}

#search_box {
    display: table;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.search_btn {
    width: 40px;
}

.search_btn .btn {
    background-color: #848589;
    color: #fff;
}

#search_box>div {
    display: table-cell;
    position: relative;
}

.new_store_wrap {
    min-height: 10vmin;
    text-align: center;
    padding: 0;
    margin: 0;
    background: url(../img/coupon/new_store.png) center center / cover;
    background-position: center center;
    display: block;
}

.field {
    width: 90%;
    border: 0;
    border-bottom: 2px solid #727171;
    line-height: 30px;
    border-radius: 0;
    margin-left: 18px;
}

input::-webkit-input-placeholder {
    text-align: center;
    font-size: 14px;
}

input::-moz-placeholder {
    text-align: center;
    font-size: 14px;
}

input:-moz-placeholder {
    text-align: center;
    font-size: 14px;
}

input:-ms-input-placeholder {
    text-align: center;
    font-size: 14px;
}


/* 首頁 End */


/* 房屋 Start */

.house_area {
    display: table-cell;
    font-size: 2.8vw;
    padding: 0 5px;
    position: relative;
}

.house_wrapper {
    display: table;
    width: 100%;
}

.house_area .house_photo {
    position: relative;
    overflow: hidden;
    border-radius: 0 20px 0 20px;
    color: #fff;
    text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}

.house_area .house_text {
    margin: 15px 0;
    position: relative;
}

.house_area .house_type {
    font-size: 7vw;
    font-weight: bolder;
    left: 7%;
    top: 4%;
}

.house_area .house_casename {
    bottom: 5%;
    left: 5%;
    font-size: 3vw;
    font-weight: bolder;
}

.house_area .house_price {
    right: 5px;
    bottom: 0;
}

samp.price {
    color: #3b1382;
    font-size: 1.5em;
}


/* 房屋 End */


/* 生活好康 Start */

.menu_buoy div {
    width: 100%;
}

.menu_buoy.minor div {
    width: 90%;
}

#coupon .menu_buoy b {
    width: 1.5em;
}

.search_content {
    position: relative;
}

.search_content select,
.search_content a {
    font-family: unset !important;
}

.search_content select {
    display: inline-block;
    border: unset;
    font-size: 16px;
    font-weight: bold;
    padding: 0 6px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align-last: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    text-align: center;
    background-color: #fff;
    text-align: -webkit-center;
    margin-right: calc(25% - 4em);
}

.search_content {
    position: relative;
    margin: 0 15px;
    /* text-align:justify; */
    text-justify: distribute-all-lines;
    /* text-align-last:justify; */
    padding: 0;
}

.search_content>div {
    padding: 0 6px;
}

.search_content .button {
    font-size: 16px;
    padding: 2px;
}

.search_content button.button {
    border: unset;
    background-color: unset;
    display: inline-block;
    width: 26px;
}

.search_content .pic_btn {
    margin-right: calc(25% - 52px);
}

.search_content .map_btn {
    color: #848589 !important;
    display: inline-block;
    width: 26px;
    vertical-align: middle;
}


/* 店家 Start */

.store {
    position: relative;
    margin: 10px 0;
}

#Store ul.uk-slideshow-items {
    height: 60vw;
}

.store .offer a {
    font-weight: unset;
    padding: 2px 6px;
    display: block;
    line-height: 16px;
}

.store .title,
.store .career {
    display: inline-block;
    vertical-align: middle;
}

.store .title {
    font-size: 1.4em;
    font-weight: bolder;
    padding-right: 5px;
}

.store .career {
    padding: 0 5px;
    border-left: 1px solid #605e5d;
    line-height: 0.9em;
}

.store .hot,
.store .offer {
    position: relative;
    padding-left: 4em;
    margin-bottom: 0.5em;
    min-height: 20px;
}

.store .hot>div:not(.subtitle) {
    padding-left: -6px;
}

.store .hot .subtitle i {
    display: inline-block;
    width: 1em;
    position: absolute;
    right: 2.7em;
    top: -3px;
}

.store .hot samp,
.hot samp {
    display: inline-block;
    color: unset;
    background: unset;
    font-family: unset;
    line-height: 16px;
    padding: 2px 6px;
    font-size: 16px;
}

.store .hot .subtitle,
.store .offer .subtitle {
    text-align: right;
    position: absolute;
    width: 4em;
    left: 0;
    border-right: 1px solid #848589;
    padding-right: 6px;
    line-height: 0.9em;
    margin-top: 0.2em;
}

.store .popularity {
    display: inline-block;
    position: relative;
    float: right;
}

.store .popularity img {
    width: 0.8em;
    margin: 0 1px;
}

.store .img {
    margin: 10px 0;
    position: relative;
}

.store .main_title {
    margin-bottom: 0.5em;
}

.want .text {
    margin-left: 12%;
    margin-right: 15px;
}

.give a.ui-link {
    font-size: 20px;
}

.give .text {
    margin-left: 12%;
    margin-top: 1em;
    margin-right: 15px;
}

.give .text ul {
    padding-left: 20px;
}

.store_list_loading {
    display: none;
}


/* 店家 End */


/* 生活好康 End */


/* 搜尋店家 Start */

#search_store .store .item {
    box-shadow: 0px 5px 5px #d7d7d7;
    margin-bottom: 10px;
    padding: 15px;
}


/* 搜尋店家 End */


/* 商家頁 Start */

.store_content {
    padding: 25px 10%;
}

.store_content>div {
    padding-left: 5em;
    position: relative;
    min-height: 1em;
    margin-bottom: 1em;
    font-size: 4.8vw;
}

.store_content .title,
.store_content .career {
    padding-left: unset;
}

.store_content label {
    font-size: 4.8vw;
    width: 4.5em;
    text-align: right;
    position: absolute;
    margin-left: -5em;
    padding-right: 0.5em;
    border-right: 1px solid #605e5d;
}

.store_content .title {
    font-size: 9vw;
    margin-bottom: 0.225vw;
    font-weight: bold;
}

.store_content .career {
    font-size: 5.5vw;
    margin-bottom: 1em;
}

.store_content label i {
    width: 1em;
    position: absolute;
    left: 0.2em;
    bottom: 0.1em;
    line-height: 1em;
}

.offer a {
    display: block;
}

.store_content .popularity img,
.store_content .star img {
    display: inline-block;
    width: 1.5em;
    vertical-align: middle;
    margin-right: 0.2em;
}

.store_content>div samp {
    font-size: 1em;
    font-family: unset;
    line-height: 1em;
}

.store_content .hot>div {
    margin-left: -6px;
}

.store_content .time_1,
.store_content .time_2 {
    display: inline-block;
}

.store_content .time_2 {
    float: right;
}


/* 商家頁 End */


/* 給星星彈跳視窗 Start */

.swal2-center .swal2-confirm.swal2-styled {
    display: inline-block !important;
    background-color: #512779;
    width: 80%;
}

.my_give_div {
    margin-top: 20px;
}

.my_give {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: text-bottom;
    margin-left: 0.5em;
}

.my_give img {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
}

.swal2-actions {
    width: 100%;
}

#map {
    width: 100%;
    margin-top: 10px;
    height: 100%;
    min-height: calc(100vh - 197px);
}


/* 找好康屋頂 Start */

.item_wrap_box {
    margin-top: 25px;
}

.banner {
    margin-bottom: 10px;
}

.store_box .item_wrap {
    margin: 0 10px 20px;
}

.store_box .item_wrap>div {
    width: 50%;
}

.store_box .item_wrap .item_more a {
    font-size: 3vw;
    color: #fff;
    background: #4f2480;
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: normal;
    letter-spacing: 2px;
    text-shadow: 0 0;
}

.store_box .item_wrap>.item {
    height: 40vw;
    position: relative;
    margin: 10% auto 0px;
    padding: 15px 2vw 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
}

.store_box .item_wrap>.item:nth-child(odd) {
    float: right;
}

.store_box .item_wrap>.item:nth-child(even) {
    float: left;
}

.store_box .item_wrap>.item:nth-child(1) {
    height: unset;
    border: unset;
    border-radius: unset;
    margin: unset;
    padding: unset;
}

.store_box .item_wrap .item_new {
    margin: 3vw 28% 1vw;
    width: 40%;
}

.store_box .item_wrap .item>a {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.store_box .item_wrap .item_more {
    text-align: right;
    margin-bottom: 10px;
}

.store_box .item_wrap .item_more a:hover {
    color: #eec81f;
}

.store_box .item_wrap>.item:nth-child(2):before,
.store_box .item_wrap>.item:nth-child(3):before {
    height: 25vw;
    content: "";
    display: block;
    position: absolute;
    top: -9vw;
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(100% + 10px);
}

.store_box .item_wrap>.item:nth-child(2):before {
    width: 51vw;
    left: -10px;
    background-image: url('../img/roof_01.png');
}

.store_box .item_wrap>.item:nth-child(3):before {
    right: -10px;
    background-image: url('../img/roof_02.png');
}

.store_box .item_wrap>.item:nth-child(4) {
    margin-top: 0;
}

.store_box .item_wrap .img_frame {
    display: block;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    min-height: 20.5vw;
}

.store_box .item_wrap .info {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    bottom: -2%;
    display: block;
    padding: 6px 10px 6px 8px;
    color: #333;
    background: #fff;
    border-radius: 0px 15px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 找好康屋頂 End */


/* 登入 Start */

.login_wrap {
    height: 100%;
    width: 94%;
    max-width: 360px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 210px;
}

.bg_101 {
    background-image: url('../img/login/bg_101.jpg');
}

.bg_beach {
    background-image: url('../img/login/bg_beach.jpg');
}

.bg_store {
    background-image: url('../img/login/bg_store.jpg');
    background-size: 440px;
    background-repeat: no-repeat;
    background-position: top center;
}

.login_wrap .input_div {
    margin-bottom: 8px;
    padding: 0 40px;
}

.login_wrap .btn_div {
    margin-top: 20px;
}

.login_wrap .btn_div>div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.login_wrap .label {
    color: #555;
    font-size: 22px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 5px;
    margin: 0px auto;
    text-shadow: none;
    padding: unset;
    display: inline-block;
    width: 2.5em;
    text-align: right;
}

.login_wrap .confirm_btn {
    width: 92px;
    line-height: 32px;
    padding: unset;
    font-family: 'cwTeXYen', sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    padding-left: 2px;
    color: #53268A;
    text-shadow: none;
    background-color: transparent;
    text-align: center;
    border: 2px solid #53268A;
    margin: 0 auto 10px;
}

.login_wrap .c:hover {
    background-color: #FFF100;
}

.login_wrap .form-group>* {
    display: inline-block;
}

.login_wrap .forget {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
}

.login_wrap .input_frame {
    font-size: 22px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #999;
    border-radius: 0;
    font-weight: bold;
    outline: 0;
    color: #555;
    width: calc(100% - 2.5em - 15px);
    display: inline-block;
    padding: 0 10px;
    line-height: 48px;
    margin-left: 15px;
}

.login_wrap .confirm_btn:hover {
    background-color: #FFF100;
}

.login_wrap input[type="checkbox"] {
    height: 22px;
    width: 22px;
    vertical-align: bottom;
    margin-right: 0.5em;
}


/* 快速搜尋 Start */

#flash_search>form>div,
#flash_search label {
    font-size: 16px;
}

#flash_search .type_div {
    display: table;
    text-align: center;
}

#flash_search .type_div>* {
    display: table-cell;
}

#flash_search>form>* {
    width: 100%;
    line-height: 20px;
    border-bottom: 1px solid #aaa;
}

#flash_search label {
    display: inline-block;
    margin-bottom: unset;
}

#flash_search input[type=radio]:checked+label {
    color: #53268A;
    font-weight: bold;
}

#flash_search .select span {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: calc(100% - 4em - 20px);
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#flash_search a {
    font-weight: unset;
}


/* 快速搜尋 End */


/* 要好康 Start */

#want_coupon .want_btn {
    position: absolute;
    top: 67%;
    right: 10%;
    color: #fff;
    font-size: 5vmin;
    font-weight: initial;
    letter-spacing: 2px;
    padding: 5px 10px;
    background: var(--main_color1);
    border-radius: 0 10px;
}

#want_coupon .want1,
#want_coupon .want2 {
    display: block;
    position: relative;
}

#want_coupon .want2 .link {
    position: absolute;
    top: 68%;
    left: 25%;
    color: #ef1e7c;
    font-size: 4.3vw;
}


/* 要好康 End */


/* 給好康 Start */

#give_coupon .text_area {
    text-align: center;
    margin: 20px auto;
}

#give_coupon .text_area p {
    margin: unset;
}

#give_coupon .join {
    text-align: center;
}

#give_coupon .join a {
    color: #fff;
    font-size: 20px;
    font-weight: initial;
    padding: 5px 15px;
    border-radius: 0px 10px;
    background: var(--main_color1);
}

#give_coupon .recognition_wrap {
    padding: 0px 5vw 0px;
    margin: 20px auto 30px;
    display: flex;
    align-items: center;
}

#give_coupon .recognition_wrap .label {
    width: 35%;
}

#give_coupon .recognition_wrap p {
    color: #de5082;
    margin: 0px;
}


/* 給好康 End */

.activity_list_wrap .list {
    position: relative;
}


/* 活動分享 Start */

.activity_list_wrap .list {
    position: relative;
}

.activity_list_wrap .list .label {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 40%;
}

.activity_list_wrap .list .label .caption1 {
    color: #532789;
    font-size: 5.5vmin;
    margin: 0 0 3px;
}

.activity_list_wrap .list .label .caption2 {
    color: #555;
    font-size: 4vmin;
}


/* 活動分享 End */


/* 登入 End*/

@media (max-width: 450px) {
    .item_wrap .info {
        font-size: 4vw;
    }
}


/* 給星星彈跳視窗 End */

@media (max-width: 360px) {
    /* 歡迎頁 Start */
    #welcome .all_loho {
        margin-left: -40%;
        width: 80%;
    }
    #welcome .blessing {
        margin-left: -22.2%;
        width: 44.4%;
    }
    /* 歡迎頁 End */
}

@media (max-width: 500px) {
    .search_select>* {
        width: unset;
    }
}

@media (max-width: 350px) {
    body .search_select,
    body .search_select>* {
        font-size: 4.5vw;
    }
}
/* 關於麵包屑 */
.breadcrumb{
    font-size: 1vw;
    margin: 0 15px;
    padding: 0;
    background-color: unset;
}

.breadcrumb a {
    color: #333!important;
}

.breadcrumb>li+li:before {
    content: '>';
}
/* 關於麵包屑　end */

/* 2020.10.18 */

.ui-page-theme-a a.ui-btn-left img {
    height: 30px;
    padding: 5px 0;
}


/* 21.01.14 */

.free {
    position: absolute;
    border: 0px;
    color: red;
    width: max-content;
    height: min-content;
    top: -13px;
    text-indent: inherit;
    border-radius: 0px;
    font-variant: all-small-caps;
}

/* 21.01.14 END */
