{* <div class="panel panel-default"> *}
        {* <div class="panel-heading" {$form.name} onclick="collapse_data(this)">{$form.title}(點選收合)</div> *}
        {* <div class="panel-body" style="display: none;"> *}
        <div class="panel-body" >
            <div class="form_data">
            <div>
            {if $smarty.session.id_admin =="74" || $smarty.session.id_admin =="1" || $smarty.session.id_admin =="13" || $smarty.session.id_admin =="88"}
            <script>
            var tag = 0;
            $(function(){
            $("#add").click(function(){
                $('#mt tbody').append('<tr><td><input type="text" id="develop_ag_new[]" name="develop_ag_new[]" value="" size="10"></td>'+
                '<td><input type="text" id="sales_ag[]" name="sales_ag[]" sales_ag="" size="10"></td>'+
                '<td><input type="text" id="store[]" name="store[]" value="" size="10"></td>'+
                '<td><input type="text" id="agaMountPer[]" name="agaMountPer[]" value="" size="10"></td>'+
                '<td><input type="text" id="agMoney1[]" name="agMoney1[]" value="" size="10"></td>'+
                '<td><input type="text" id="agMoney2[]" name="agMoney2[]" value="" ></td>'+
                '<td><input type="text" id="agMoney3[]" name="agMoney3[]" value=""></td>'+
                '<td><input type="date" id="develop_date[]" name="develop_date[]" value="" size="10"></td></tr>');
                tag++;
            });
            $("#del").click(function(){
                $("#mt tbody tr:last").remove();
            });
            })
            </script>
            {else}
            <script>
            var tag = 0;
            $(function(){
            $("#add").click(function(){
                $('#mt tbody').append('<tr><td><input type="text" id="develop_ag_new[]" name="develop_ag_new[]" value="" size="10"></td>'+
                '<td><input type="text" id="sales_ag[]" name="sales_ag[]" sales_ag="" size="10"></td>'+
                '<td><input type="text" id="store[]" name="store[]" value="" size="10"></td>'+
                '<td><input type="text" id="agMoney1[]" name="agMoney1[]" value="" size="10"></td>'+
                '<td><input type="text" id="agMoney3[]" name="agMoney3[]" value=""></td>'+
                '<td><input type="date" id="develop_date[]" name="develop_date[]" value="" size="10"></td></tr>');
                tag++;
            });
            $("#del").click(function(){
                $("#mt tbody tr:last").remove();
            });
            })
            </script>
            {/if}
            {if $smarty.session.id_admin =="74" || $smarty.session.id_admin =="1" || $smarty.session.id_admin =="13" || $smarty.session.id_admin =="88"}
                <table width="100%" border="1" id="mt">
                <tr>
                    <td class="main_t_2 input-group-addon">仲介費實績</td>
                    <td colspan="3"><input type="text" id="agaMount" name="agaMount" value="{$read_agaMount}"  disabled="disabled"></td>
                    <td class="main_t_2 input-group-addon">契據</td>
                    <td><input type="text" id="ag_con" name="ag_con" value="{$read_ag_con}" ></td>
                </tr>
                <tr>
                    <td class="main_t_2 input-group-addon">開發 AG</td>
                    <td class="main_t_2 input-group-addon">銷售 AG</td>
                    <td class="main_t_2 input-group-addon">店別</td>
                    <td class="main_t_2 input-group-addon">仲介業績%</td>
                    <td class="main_t_2 input-group-addon">仲介費獎金</td>
                    <td class="main_t_2 input-group-addon">代管業績%</td>
                    <td class="main_t_2 input-group-addon">代管費獎金</td>
                    <td class="main_t_2 input-group-addon">成交日期</td>
                </tr>
                {if !empty($ag_history2)}
                    {foreach $ag_history2 as $k=>$v }
                    <tr>
                        <td><input type="text" id="develop_ag_new[]" name="develop_ag_new[]" value="{$v.develop_ag}" size="10">
                        <input type="hidden" id="AGBounsID[{$k}]" name="AGBounsID[{$k}]" value="{$v.AGBounsID}">
                        </td>
                        <td><input type="text" id="sales_ag[]" name="sales_ag[]" value="{$v.sales_ag}" size="10"></td>
                        <td><input type="text" id="store[]" name="store[]" value="{$v.store}" size="10"></td>
                        <td><input type="text" id="agaMountPer[]" name="agaMountPer[]" value="{$v.agaMountPer}" size="10"></td>
                        <td><input type="text" id="agMoney1[]" name="agMoney1[]" value="{$v.agMoney1}" size="10"></td>
                        <td><input type="text" id="agMoney2[]" name="agMoney2[]" value="{$v.agMoney2}" ></td>
                        <td><input type="text" id="agMoney3[]" name="agMoney3[]" value="{$v.agMoney3}"></td>
                        <td><input type="date" id="develop_date[]" name="develop_date[]" value="{$v.develop_date}" size="10"></td>
                    </tr>
                    {/foreach}
                {/if}
                <tr>
                	<td><input type="button" value="新增AG" id="add"><input type="button" value="刪除AG" id="del"></td>
                    <td colspan="4" align="right"  style="color:red">是否更新:</td>
                    <td><input type="radio" id="upd" name="upd" value="2" checked>不更新<input type="radio" id="upd" name="upd" value="0">更新<input type="radio" id="upd" name="upd" value="1">新增
                    {* <td style="color:red"><input type="radio" id="upd" name="upd" value="2" checked>不更新<input type="radio" id="upd" name="upd" value="1">新增 *}
                    </td>
                </tr>
                </table>
            {else}
            <table width="100%" border="1" id="mt">
                <tr>
                    <td class="main_t_2 input-group-addon">仲介費實績</td>
                    <td colspan="2"><input type="text" id="agaMount" name="agaMount" value="{$read_agaMount}" disabled="disabled"></td>
                    <td class="main_t_2 input-group-addon">契據</td>
                    <td><input type="text" id="ag_con" name="ag_con" value="{$read_ag_con}" ></td>
                </tr>
                <tr>
                    <td class="main_t_2 input-group-addon">開發 AG</td>
                    <td class="main_t_2 input-group-addon">銷售 AG</td>
                    <td class="main_t_2 input-group-addon">店別</td>
                    <td class="main_t_2 input-group-addon">仲介費獎金</td>                  
                    <td class="main_t_2 input-group-addon">代管費獎金</td>
                    <td class="main_t_2 input-group-addon">成交日期</td>
                </tr>
                {if !empty($ag_history2)}
                    {foreach $ag_history2 as $k=>$v }
                    <tr>
                        <td><input type="text" id="develop_ag_new[]" name="develop_ag_new[]" value="{$v.develop_ag}" size="10"></td>
                        <td><input type="text" id="sales_ag[]" name="sales_ag[]" value="{$v.sales_ag}" size="10"></td>
                        <td><input type="text" id="store[]" name="store[]" value="{$v.store}" size="10"></td>
                        <td><input type="text" id="agMoney1[]" name="agMoney1[]" value="{$v.agMoney1}" size="10"></td>                       
                        <td><input type="text" id="agMoney3[]" name="agMoney3[]" value="{$v.agMoney3}" ></td>
                        <td><input type="date" id="develop_date[]" name="develop_date[]" value="{$v.develop_date}" size="10"></td>
                    </tr>
                    {/foreach}
                {/if}
                <tr>
                	<td><input type="button" value="新增AG" id="add"><input type="button" value="刪除AG" id="del"></td>
                    <td colspan="4" align="right" style="color:red">是否更新:</td>
                    {* <td><input type="radio" id="upd" name="upd" value="2" checked>不更新<input type="radio" id="upd" name="upd" value="0">更新<input type="radio" id="upd" name="upd" value="1">新增 *}
                    <td style="color:red"><input type="radio" id="upd" name="upd" value="2" checked>不更新<input type="radio" id="upd" name="upd" value="1">新增
                    </td>
                </tr>
                </table>
            {/if}    
                </div>
            </div>
        </div>
