<div class="panel panel-default">
        <div class="panel-heading" {$form.name} onclick="collapse_data(this)">{$form.title}(點選收合)</div>
        <div class="panel-body" style="display: none;">
            <div class="form_data">
                <table width="100%" border="1">
                <tr>
                    <td>開發 AG</td>
                    <td>詳情</td>
                </tr>
                {foreach $ag_recode2 as $k=>$v }
                <tr>
                    <td>{$v.ag} <span style=color:red>({$v.total})</span></td>
                    <td><a href="https://lifegroup.house/manage/RentHouseAGDetails" target="_blank">連結</a></td>
                </tr>
                {/foreach}
                </table>
                <table>
                    <tr align="right">
                    <td style="color:red">總計：{$v.total2}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
