<ol class="breadcrumb">	{foreach from=$breadcrumbs2 key=i item=$breadcrumbs2_val}<li class="breadcrumb-item{if count($breadcrumbs2) == $i+1} active{/if}"><a href="{$breadcrumbs2_val['href']}">{$breadcrumbs2_val['title']}</a></li>{/foreach}</ol>