<form method="post" enctype="multipart/form-data"> 
<table width="100%" border="1">
  <tr>
    <td><input type="file" id="excel" name="excel"><input type="submit" name="submit"></td>
  </tr>
</table>
</form>