{*      {include file="../../modules/FloatShare/float_share.tpl"}*}
      </article>
      {if $display_footer}
            <footer>
                  <div class="footer" style="background-color:#98027f">
                        <table>

                              <tr>
                                    <td>
                                          <div class="footer_txt1"><span>生活資產管理股份有限公司</span> Life Property Investment Management CO.,LTD.</div>
                                          <div class="footer_txt2"><span>生活集團版權所有</span> Copyright © Life Group 2000 ALL right reserde</div>
                                          <div colspan="0" rowspan="0" style="vertical-align: middle;color: #fff;position: absolute;right: 23%;top: 28%;">
                                              <a href="/statement" style="color: #fff;font-size: 8pt;">相關聲明</a>
                                          </div>
                                    </td>

                              </tr>
                        </table>
                  </div>
                  {include file="../../../../modules/DesigningFooter/designingfooter.tpl"}
            </footer>
      {/if}
      </div>
</body>
</html>
