<div class="t_container top">
    <div class="row">
        <div class="t_col_2 search">
            <div>
                <div class="path">
                    <span>生活集團〉生活樂購〉Home</span>
                </div>
                <img src="img\favicon.png">
                <input type="text" placeholder="清淨神器">
                <div class="zoomIMG"></div>
            </div>
        </div>
        <div class="t_col_10 munes">
            <div class="mune">
                <div class="t_container">
                    <ul>
                        <li><img src="img\L_go_06.png"><span>喜愛追蹤</span></li>
                        <li><img src="img\L_go_08.png"><span>購物車</span></li>
                        <li><img src="img\L_go_10.png"><span>常見問題</span></li>
                        <li><img src="img\L_go_12.png"><span>我的樂購</span></li>
                        <li><img src="img\L_go_16.png"><span>一登入</span></li>
                    </ul>
                    <div class="flex">
                        <div class="marquee_wrap">
                            <marquee direction="left" scrollamount="10" behavior="scroll">
                                <img src="img/lifego/star.svg" alt="" class="">慶祝母親節 全館優惠中到5/10止
                                <img src="img/lifego/star.svg" alt="" class="">慶祝母親節 全館優惠中到5/10止
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>