</article>
{if $group_link=='1'}
{include file="group_link.tpl"}
{/if}
<img src="/themes/LifeHouse/img/lifego/bottom_hr.svg" style=" width: 90%; margin-left: 5%;">
<footer>
  <table>
    <tbody>
      <tr>
        <td class="le" rowspan="2">{$footer_txt1}</td>
        <td class="ri txt_1">{$footer_txt2}</td>
      </tr>
      <tr>
        <td class="ri txt_2">{$footer_txt3}</td>
      </tr>
    </tbody>
  </table>
  {*include file="../../../../modules/DesigningFooter/designingfooter.tpl"*}
</footer>
