<div class="t_container top">
    <div class="row">
        <div class="t_col_2 search">
            <div>
                <div class="path">
                    <span>{$breadcrumb}</span>
                </div>
                <a href="/LifeGo"><img class="lifego_logo" src="/themes/LifeHouse/img/lifego/lifego_logo.png"></a>

            </div>
        </div>
        <div class="t_col_10 munes">
            <div class="mune">
                <div class="path">
                    <span></span>
                </div>
                <div class="t_container">
                    <ul>
                        <li><img src="/themes/LifeHouse/img/lifego/L_go_06.png"><span>喜愛追蹤</span></li>
                        <li><img src="/themes/LifeHouse/img/lifego/L_go_08.png"><span>購物車</span></li>
                        <li><img src="/themes/LifeHouse/img/lifego/L_go_10.png"><span>常見問題</span></li>
                        <li><img src="/themes/LifeHouse/img/lifego/L_go_12.png"><span>樂購買家</span></li>
                        <li><img src="/themes/LifeHouse/img/lifego/L_go_14.png"><span>樂購賣家</span></li>
                        <li><img src="/themes/LifeHouse/img/lifego/L_go_18.png"><span>會員中心</span></li>
                        <li><img src="/themes/LifeHouse/img/lifego/L_go_20.png"><span>登入 | 註冊</span></li>
                    </ul>
                </div>
            </div>
            <!--<div class="flex row">
                {foreach $product_class_arr as $k => $v}
                    <div class="header_img"><a href="/LifeGo?id_product_class={$v.id_product_class}"><img src="{$v.img_header}"></a></div>
                {/foreach}
            </div>-->
        </div>
    </div>
</div>
<div class="t_container wrap">
  <div class="row">
  <div class="t_col_2 search in_txt">
    <!-- <input type="text" placeholder="清淨神器">
    <div class="zoomIMG"></div> -->
  </div>
  <div class="t_col_10">
    <div class="marquee_wrap">
        <marquee direction="left" scrollamount="10" behavior="scroll">
            <img src="{$marquee.img}" alt="" class="">{$marquee.title}
        </marquee>
    </div>
    </div>
    </div>
</div>
