<table width="100%" border="1">
  <tr>
    <td><div align="center">建物</div></td>
    <td><div align="center">主建</div></td>
    <td><div align="center">附屬</div></td>
    <td><div align="center">共用</div></td>
    <td><div align="center">車位</div></td>
    <td><div align="center">增建</div></td>
    <td><div align="center">權狀</div></td>
    <td><div align="center">使用</div></td>
  </tr>
  <tr>
    <td><div align="center">地 | 建號</div></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
  </tr>
  <tr>
    <td><div align="center">面積/m</div></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
  </tr>
  <tr>
    <td><div align="center">持分</div></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
  </tr>
  <tr>
    <td><div align="center">換算坪數</div></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
    <td><input class="form-control" type="text"/></td>
  </tr>
</table>
