
<table width="100%" border="0">
  <tr>
    <td class="main_t_2 input-group-addon">精選</td>
    <td class="main_t_2 input-group-addon">{if $ad_choose_top == "首頁精選"}
    <input type="radio" id="ad_choose_top" name="ad_choose_top" value="首頁精選" checked>首頁精選
    {else}
    <input type="radio" id="ad_choose_top" name="ad_choose_top" value="首頁精選">首頁精選
    {/if}
    {if $ad_choose_top == "內頁推薦"}
    <input type="radio" id="ad_choose_top" name="ad_choose_top" value="內頁推薦" checked>內頁推薦
    {else}
    <input type="radio" id="ad_choose_top" name="ad_choose_top" value="內頁推薦">內頁推薦
    {/if}
    {if $ad_choose_top == "置頂"}
    <input type="radio" id="ad_choose_top" name="ad_choose_top" value="置頂" checked>置頂
    {else}
    <input type="radio" id="ad_choose_top" name="ad_choose_top" value="置頂">置頂
    {/if}</td>
    <td class="main_t_2 input-group-addon">排序:</td>
    <td class="main_t_2 input-group-addon"><input type="text" id="position1" name="position1" value="{$position1}"></td>
    <td class="main_t_2 input-group-addon">刊登期間:</td>
    <td class="main_t_2 input-group-addon"><input type="date" id="ad_sdate1" name="ad_sdate1" value="{$ad_sdate1}"> ~ <input type="date" id="ad_edate1" name="ad_edate1" value="{$ad_edate1}">
    
    </td>
  </tr>
  <tr>
    <td class="main_t_2 input-group-addon">刊登方案</td>
    <td class="main_t_2 input-group-addon">{if $ad_choose_type == "首頁精選"}
    <input type="radio" id="ad_choose_type" name="ad_choose_type" value="首頁精選" checked>首頁精選
    {else}
    <input type="radio" id="ad_choose_type" name="ad_choose_type" value="首頁精選">首頁精選
    {/if}
    {if $ad_choose_type == "內頁推薦"}
    <input type="radio" id="ad_choose_type" name="ad_choose_type" value="內頁推薦" checked>內頁推薦
    {else}
    <input type="radio" id="ad_choose_type" name="ad_choose_type" value="內頁推薦">內頁推薦
    {/if}
    {if $ad_choose_type == "置頂"}
    <input type="radio" id="ad_choose_type" name="ad_choose_type" value="置頂" checked>置頂
    {else}
    <input type="radio" id="ad_choose_type" name="ad_choose_type" value="置頂">置頂
    {/if}</td>
    <td class="main_t_2 input-group-addon">排序:</td>
    <td class="main_t_2 input-group-addon"><input type="text" id="position2" name="position2" value="{$position2}"></td>
    <td class="main_t_2 input-group-addon">刊登期間:</td>
    <td class="main_t_2 input-group-addon"><input type="date" id="ad_sdate2" name="ad_sdate2" value="{$ad_sdate2}"> ~ <input type="date" id="ad_edate2" name="ad_edate2" value="{$ad_edate2}">
    
    </td>
  </tr>
  <tr>
    <td class="main_t_2 input-group-addon">刊登類別</td>
    <td class="main_t_2 input-group-addon">免費刊登：
    {if $ad_choose_payment_type == "房東"}
    <input type="radio" id="ad_choose_payment_type" name="ad_choose_payment_type" value="房東" checked>房東
    {else}
    <input type="radio" id="ad_choose_payment_type" name="ad_choose_payment_type" value="房東">房東
    {/if}
    {if $ad_choose_payment_type == "代理人"}
    <input type="radio" id="ad_choose_payment_type" name="ad_choose_payment_type" value="代理人" checked>代理人
    {else}
    <input type="radio" id="ad_choose_payment_type" name="ad_choose_payment_type" value="代理人">代理人
    {/if}
    {if $ad_choose_payment_type == "仲介"}
    <input type="radio" id="ad_choose_payment_type" name="ad_choose_payment_type" value="仲介" checked>仲介
    {else}
    <input type="radio" id="ad_choose_payment_type" name="ad_choose_payment_type" value="仲介">仲介
    {/if}</td>
    <td class="main_t_2 input-group-addon">費用:</td>
    <td class="main_t_2 input-group-addon"><input type="text" id="ad_price" name="ad_price" value="{$ad_price}"></td>
    <td class="main_t_2 input-group-addon">付費:</td>
    <td class="main_t_2 input-group-addon">{if $ad_payment == "超商"}
      <input type="radio" id="ad_payment" name="ad_payment" value="超商" checked>
      超商
      {else}
      <input type="radio" id="ad_payment" name="ad_payment" value="超商">
      超商
      {/if}
      {if $ad_payment == "刷卡"}
      <input type="radio" id="ad_payment" name="ad_payment" value="刷卡" checked>
      刷卡
      {else}
      <input type="radio" id="ad_payment" name="ad_payment" value="刷卡">
      刷卡
      {/if}
      {if $ad_payment == "匯款"}
      <input type="radio" id="ad_payment" name="ad_payment" value="匯款" checked>
      匯款
      {else}
      <input type="radio" id="ad_payment" name="ad_payment" value="匯款">
      匯款
      {/if} </td>
  </tr>
  <tr>
    <td class="main_t_2 input-group-addon">收費刊登</td>
    <td class="main_t_2 input-group-addon">
    {if $ad_choose_payment_type1 == "系統"}
    <input type="radio" id="ad_choose_payment_type1" name="ad_choose_payment_type1" value="系統" checked>系統
    {else}
    <input type="radio" id="ad_choose_payment_type1" name="ad_choose_payment_type1" value="系統">系統
    {/if}
    {if $ad_choose_payment_type1 == "加盟店"}
    <input type="radio" id="ad_choose_payment_type1" name="ad_choose_payment_type1" value="加盟店" checked>加盟店
    {else}
    <input type="radio" id="ad_choose_payment_type1" name="ad_choose_payment_type1" value="加盟店">加盟店
    {/if}</td>
    <td class="main_t_2 input-group-addon">&nbsp;</td>
    <td class="main_t_2 input-group-addon"></td>
    <td class="main_t_2 input-group-addon"></td>
    <td class="main_t_2 input-group-addon">
    
    </td>
  </tr>
  <tr>
    <td class="main_t_2 input-group-addon">總機</td>
    <td class="main_t_2 input-group-addon"><input type="text" id="clode_number" name="clode_number" value="{$clode_number}"></td>
    <td class="main_t_2 input-group-addon">&nbsp;</td>
    <td class="main_t_2 input-group-addon">&nbsp;</td>
    <td class="main_t_2 input-group-addon">更新:</td>
    <td class="main_t_2 input-group-addon">
    <input type="radio" id="new_ad_update" name="new_ad_update" value="0" checked>不更新
    <input type="radio" id="new_ad_update" name="new_ad_update" value="1">更新
    <input type="radio" id="new_ad_update" name="new_ad_update" value="2">新增
    </td>
  </tr>
</table>
