<div class="panel panel-default">
        <div class="panel-heading" {$form.name} onclick="collapse_data(this)">{$form.title}(點選收合)
        </div>
        <div class="panel-body" style="display: none;">
            <div class="form_data">
<table width="100%" border="1">
  <tr>
    <td>租約： </td>
    <td><input type="text" name="lease" value="{$lease}" size="10"></td>
    <td>順序：</td>
    <td><input type="text" name="leaseSequence" value="{$leaseSequence}" size="10"></td>
    <td>來源：</td>
    <td><input type="text" name="source" value="{$source}" size="10"></td>
    <td>姓名：</td>
    <td><input type="text" name="userName" value="{$userName}" size="10"></td>
  </tr>
</table>
</div>
</div>
</div>