<table width="100%" border="0">
  <tr>
    <td class="input-group-addon">狀態記錄</td>
    <td>
    <select id="newtype" name="newtype">
        <option value="請選擇狀態">請選擇狀態</option>
    	<option value="租件狀態記錄">租件狀態記錄</option>
        <option value="售件狀態記錄">售件狀態記錄</option>
    </select>
    </td>
    <td class="input-group-addon">開案日期</td>
    <td><input type="date" id="createtime" name="createtime" value="{$submit_date}"></td>
    <td class="input-group-addon">原因</td>
    <td colspan="3">
      <input type="radio" id="newreason" name="newreason" value="新建案">新建案
      <input type="radio" id="newreason" name="newreason" value="重新上架">重新上架
      <input type="radio" id="newreason" name="newreason" value="其他">其他
    </td>
  </tr>
  <tr>
    <td colspan="2" rowspan="3">&nbsp;</td>
    <td class="input-group-addon">下架日期</td>
    <td><input type="date" id="offtime" name="offtime" value="{$offtime}"></td>
    <td class="input-group-addon">原因</td>
    <td colspan="3">
      <input type="radio" id="newreason" name="newreason" value="成交">成交
      <input type="radio" id="newreason" name="newreason" value="邀約暫停">邀約暫停
      <input type="radio" id="newreason" name="newreason" value="出租下架">出租下架
      <input type="radio" id="newreason" name="newreason" value="停租轉售">停租轉售
      <input type="radio" id="newreason" name="newreason" value="黑名單">黑名單
    </td>
  </tr>
  <tr>
    <td class="input-group-addon">更新日期</td>
    <td><input type="date" id="uptime" name="uptime" value="{$uptime}"></td>
    <td class="input-group-addon">原因</td>
    <td colspan="3"><input type="radio" id="newreason" name="newreason" value="更正">
      更正
      <input type="radio" id="newreason" name="newreason" value="其他">
      其他 </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="input-group-addon" style="color:red">經辦</td>
    <td><input type="text" style="color:red" id="person" name="person" value="{$smarty.session.name}" size="10" disabled="disabled"></td>
    <td class="input-group-addon" style="color:red">是否更新</td>
    <td><input type="radio" id="type_reason" name="type_reason" value="0" checked style="color:red">
      不新增
      <input type="radio" id="type_reason" name="type_reason" value="1">
      新增</td>
  </tr>
</table>
