<div class="panel panel-default">
        <div class="panel-heading" {$form.name} onclick="collapse_data(this)">{$form.title}(點選收合)
        </div>
<div class="panel-body" >
            <div class="form_data">
<table width="100%" border="1">
  <tr>
    <td class="main_t_2 input-group-addon" style="color:red">租約:<br/>目前合約編號：{$leaseSequence}</td>
    <td><input type="text" id="lease_relation" name="lease_relation" value="" size="10"></td>
    <td class="main_t_2 input-group-addon">姓名:</td>
    <td><input type="text" id="userName_relation" name="userName_relation" value="{$userName_relation}" size="10"></td>
    <td class="main_t_2 input-group-addon">稱謂:</td>
    <td><input type="text" id="leasetitle_relation" name="leasetitle_relation" value="{$leasetitle_relation}" size="10"></td>
    <td class="main_t_2 input-group-addon">關係:</td>
    <td><input type="text" id="relation_relation" name="relation_relation" value="{$relation_relation}" size="10"></td>
    </tr>
  <tr>
    <td class="main_t_2 input-group-addon" style="color:red">生日:</td>
    <td><input type="date" id="birthday_relation" name="birthday_relation" value="{$birthday_relation}" size="10"></td>
    <td class="main_t_2 input-group-addon">身分證:</td>
    <td><input type="text" id="userID_relation" name="userID_relation" value="{$userID_relation}" size="10"></td>
    <td class="main_t_2 input-group-addon" style="color:red">手機1:</td>
    <td><input type="text" id="mobile1_relation" name="mobile1_relation" value="{$mobile1_relation}" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="10" size="10"></td>
    <td class="main_t_2 input-group-addon">手機2:</td>
    <td><input type="text" id="mobile2_relation" name="mobile2_relation" value="{$mobile2_relation}" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="10" size="10"></td>
    </tr>
  <tr>
    <td class="main_t_2 input-group-addon">Line ID:</td>
    <td><input type="text" id="lineID_relation" name="lineID_relation" value="{$lineID_relation}" size="10"></td>
    <td class="main_t_2 input-group-addon">市話H:</td>
    <td><input type="text" id="tel_h_relation" name="tel_h_relation" value="{$tel_h_relation}" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="10" size="10"></td>
    <td class="main_t_2 input-group-addon">市話O:</td>
    <td><input type="text" id="tel_o_relation" name="tel_o_relation" value="{$tel_o_relation}" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="10" size="10"></td>
    <td class="main_t_2 input-group-addon">E-mail:</td>
    <td><input type="email" id="email_relation" name="email_relation" value="{$email_relation}" size="10"></td>
    </tr>
  <tr>
    <td class="main_t_2 input-group-addon">戶籍地址:</td>
    <td colspan="3"><input type="text" id="residenceAddress_relation" name="residenceAddress_relation" value="{$residenceAddress_relation}" size="50"></td>
    <td class="main_t_2 input-group-addon">聯絡地址:</td>
    <td colspan="3"><input type="text" id="contractAddress_relation" name="contractAddress_relation" value="{$contractAddress_relation}" size="50"></td>
  </tr>
  <tr>
    <td class="main_t_2 input-group-addon">住家地址:</td>
    <td colspan="3"><input type="text" id="homeAddress_relation" name="homeAddress_relation" value="{$homeAddress_relation}" size="50"></td>
    <td class="main_t_2 input-group-addon">公司地址:</td>
    <td colspan="3"><input type="text" id="businessAddress_relation" name="businessAddress_relation" value="{$businessAddress_relation}" size="50"></td>
  </tr>
  <tr>
    <td class="main_t_2 input-group-addon">公司寶號:</td>
    <td><input type="text" id="bussinessNumber_relation" name="bussinessNumber_relation" value="{$bussinessNumber_relation}" size="10"></td>
    <td class="main_t_2 input-group-addon">工作|職稱:</td>
    <td><input type="text" id="worktitle_relation" name="worktitle_relation" value="{$worktitle_relation}" size="10"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="main_t_2 input-group-addon" style="color:red">是否更新：</td>
    <td>
      <input type="radio" id="updd_relation" name="updd_relation" value="0" checked />不更新
      <input type="radio" id="updd_relation" name="updd_relation" value="1" />新增
      </td>
  </tr>
</table>
</div>
</div>
</div>
