 <script>
            var tag = 0;
            $(function(){
            $("#add").click(function(){
                $('#mt tbody').append('<tr><td style="width:45%"><input type="text" id="size[]" name="size[]" value="" size=50></td>'+
                '<td  style="width:45%"><input type="text" id="options[]" name="options[]" size=50></td></tr>');
                tag++;
            });
            $("#del").click(function(){
                $("#mt tbody tr:last").remove();
            });
            })
            </script>

<table width="100%" border="1" id="mt">
  <tr>
    <td class="main_t_2 input-group-addon" style="width:45%">規格</td>
    <td class="main_t_2 input-group-addon" style="width:45%">選項</td>
    <td style="width:10%"><input type="button" value="+" id="add"><input type="button" value="-" id="del"></td>
  </tr>
  {if !empty($catch_history)}
        {foreach $catch_history as $k=>$v }
        <tr>
            <td style="width:45%"><input type="text" id="size[]" name="size[]" value="{$v.product_size}" size="50"></td>
            <td style="width:45%"><input type="text" id="options[]" name="options[]" value="{$v.product_optine}" size="50"></td>
        </tr>
        {/foreach}
    {/if}
  <tr>
  {* <td colspan="3" style="color:red">是否更新:<input type="radio" id="upd" name="upd" value="0" checked>不更新<input type="radio" id="upd" name="upd" value="1">更新<input type="radio" id="upd" name="upd" value="2">新增</td> *}
  <td colspan="3" style="color:red">是否更新:<input type="radio" id="upd" name="upd" value="0" checked>不更新<input type="radio" id="upd" name="upd" value="2">新增</td>

  </tr>
</table>
