 <script>
            var tag1 = 0;
            $(function(){
            $("#add1").click(function(){
                $('#asd tbody').append('<tr><td><input type="checkbox" id="check1[]" name="check1[]"></td>'+
                '<td style="width:20%"><input type="text" id="product_small[]" name="product_small[]" value="" size=10> ~ '+
                '<input type="text" id="product_big[]" name="product_big[]" size="10"></td>'+
                '<td  style="width:20%"><input type="text" id="product_each_price[]" name="product_each_price[]" size=10></td></tr>');
                tag1++;
            });
            $("#del1").click(function(){
                $("#asd tbody tr:last").remove();
            });
            })
            </script>

<table width="100%" border="1" id="asd">
  <tr>
  	<td class="main_t_2 input-group-addon" style="width:10%">優惠價</td>
    <td class="main_t_2 input-group-addon" style="width:40%">件數</td>
    <td class="main_t_2 input-group-addon" style="width:20%">單價</td>
    <td style="width:10%"><input type="button" value="+" id="add1"><input type="button" value="-" id="del1"></td>
  </tr>
  {if !empty($product_discount1)}
        {foreach $product_discount1 as $k=>$v }
        <tr>
        	<td align="center">{if $k == 0}<input type="checkbox" id="check1[]" name="check1[]" value="{$k}">{/if}</td>
            <td style="width:40%"><input type="text" id="product_small[]" name="product_small[]" value="{$v.product_small}" size="10"> ~ <input type="text" id="product_big[]" name="product_big[]" value="{$v.product_big}" size="10"></td>
            <td><input type="text" id="product_each_price[]" name="product_each_price[]" value="{$v.product_each_price}" size="20"></td>
        </tr>
        {/foreach}
    {/if}
  <tr>
  <td colspan="3" style="color:red">是否更新:<input type="radio" id="upd2" name="upd2" value="0" checked>不更新<input type="radio" id="upd2" name="upd2" value="2">新增</td>

  </tr>
</table>
