{if !empty($recording_data)}
    {*foreach $recording_data as $r_d_k =>$r_d_v*}
    {foreach $recording_data as $k=>$v}
        <div class="input-group fixed-width-lg">
            <span class="input-group-addon">狀態記錄</span>
            <input type="text" style="color:red" class="form-control" name="newtype" id="newtype" value="{$new_houst_type}" disabled="disable">
            <span class="input-group-addon">執行時間</span>
            <input class="form-control" type="date" name="note[]" value="{$v.note}" disabled="disabled">
            <span class="input-group-addon">記錄人:{$v.name}</span>
            <input class="form-control" type="hidden" name="first_name[]" value="{$v.id_admin}" disabled="disabled">
            <span class="input-group-addon">記錄時間</span>
            <input class="form-control" type="date" name="create_time[]" value="{$v.create_time}" disabled="disabled">
            <input class="form-control" type="hidden" name="create_time[]" value="{$v.create_time}" disabled="disabled">
        </div>
        <div class="input-group fixed-width-lg">
            <span class="input-group-addon">原因</span>
            <input class="form-control" type="text" name="description[]" style="color:red" value="{$v.reason}" maxlength="64" disabled="disabled">
            <input class="form-control" type="hidden" name="log_type[]" value="{$v.record}" disabled="disabled">
        </div>
        <div class="input-group fixed-width-lg">
            <span class="input-group-addon">敘述</span>
            <textarea  class="form-control"  name="description[]" disabled="disabled">{$v.description}</textarea>
            <input class="form-control" type="hidden" name="log_type[]" value="{$v.record}" disabled="disabled">
        </div>
    {/foreach}
{/if}
<br/><br/>
<div class="input-group fixed-width-lg">
    <span class="input-group-addon">狀態記錄</span>
    <input type="text" style="color:red" class="form-control" name="newtype" id="newtype" value="{$new_houst_type}" disabled="disable">
    <input type="hidden" style="color:red" class="form-control" name="newtype1" id="newtype1" value="{$new_houst_type}">
    {* <select id="newtype" name="newtype"  class="form-control">
        <option value="請選擇狀態">請選擇狀態</option>
    	<option value="租件狀態記錄">租件狀態記錄</option>
        <option value="售件狀態記錄">售件狀態記錄</option>
    </select> *}
    <span class="input-group-addon">執行時間</span>
    <input class="form-control" type="date" name="note[]">
    <span class="input-group-addon">記錄人:{$smarty.session.name}</span>
    <input class="form-control" type="hidden" name="first_name[]" value="{$smarty.session.id_admin}">
    <span class="input-group-addon">記錄時間</span>
    <input class="form-control" type="date" name="create_time[]" value="{date("Y-m-d")}" disabled="disabled">
    <input class="form-control" type="hidden" name="create_time[]" value="{date("Y-m-d")}">
    <span class="input-group-addon" data-date="{date("Y-m-d")}" data-id_admin="{$smarty.session.id_admin}" data-name="{$smarty.session.name}"  onclick="add_data_record(this)" >+</span>
</div>
<div class="input-group fixed-width-lg">
    <span class="input-group-addon">原因</span>
    <input type="radio" name="reason" value="新建案">新建案
    <input type="radio" name="reason" value="重新上架">重新上架
    <input type="radio" id="reason" name="reason" value="成交">成交
      <input type="radio" id="reason" name="reason" value="邀約暫停">邀約暫停
      <input type="radio" id="reason" name="reason" value="出租下架">出租下架
      <input type="radio" id="reason" name="reason" value="停租轉售">停租轉售
      <input type="radio" id="reason" name="reason" value="黑名單">黑名單
    <input type="radio" name="reason" value="其他">其他

</div>
<div class="input-group fixed-width-lg">
    <span class="input-group-addon">敘述</span>
    <textarea class="form-control" type="text" name="description[]"></textarea>
    <input class="form-control" type="hidden" name="log_type[]" value="record" disabled="disabled">
</div>
