<table width="100%" border="1">
  <tr>
    <td class="input-group-addon">開案日期：<input class="form-control" type="text" name="update_time[]" value="{$v.update_time}"></td>
    <td class="input-group-addon">原因:<br/><br/><input type="checkbox">新進案<input type="checkbox">重新上架<input type="checkbox">其他</td>
    <td class="input-group-addon">經辦：<input type="text"  size="5"></td>
    <td class="input-group-addon">上架時間：<input class="form-control" type="date" name="note[]" value="{$v.note}"></td>
  </tr>
  <tr>
    <td class="input-group-addon">下架日期：<input class="form-control" type="date" name="note[]" value="{$v.note}"></td>
    <td class="input-group-addon">原因:<br/><br/><input type="checkbox">成交<input type="checkbox">邀約暫停<input type="checkbox">出租下架<input type="checkbox">停租轉售<input type="checkbox">黑單</td>
    <td class="input-group-addon">經辦：<input type="text"  size="5"></td>
    <td class="input-group-addon">做業時間：<input class="form-control" type="date" name="note[]" value="{$v.note}"></td>
  </tr>
  <tr>
    <td class="input-group-addon">更新日期：<input class="form-control" type="date" name="note[]" value="{$v.note}"></td>
    <td class="input-group-addon">原因:<br/><br/><input type="checkbox">更正<input type="checkbox">其他</td>
    <td class="input-group-addon">經辦：<input type="text"  size="5"></td>
    <td class="input-group-addon">做業時間：<input class="form-control" type="date" name="note[]" value="{$v.note}"></td>
  </tr>
</table>
