<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">時間</th>
        <th scope="col">大門遙控器</th>
        <th scope="col">磁扣大門遙控器</th>
        <th scope="col">車道大門遙控器</th>
        <th scope="col">鐵門大門遙控器</th>
        <th scope="col">增減</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"><input class="form-control" type="date" name="key_time" value=""></th>
        <td><div class="input-group fixed-width-lg"><input class="form-control" type="text" name="key_door_type[]" value="" maxlength="20"><span class="input-group-addon">式</span><input class="form-control" type="text" name="key_door_num[]" value="" maxlength="11"><span class="input-group-addon">組</span></div></td>
        <td><div class="input-group fixed-width-lg"><input class="form-control" type="text" name="induction_type[]" value="" maxlength="20"><span class="input-group-addon">式</span><input class="form-control" type="text" name="induction_num[]" value="" maxlength="11"><span class="input-group-addon">組</span></div></td>
        <td><div class="input-group fixed-width-lg"><input class="form-control" type="text" name="lane_type[]" value="" maxlength="20"><span class="input-group-addon">式</span><input class="form-control" type="text" name="lane_num[]" value="" maxlength="11"><span class="input-group-addon">組</span></div></td>
        <td><div class="input-group fixed-width-lg"><input class="form-control" type="text" name="iron_gate_type[]" value="" maxlength="20"><span class="input-group-addon">式</span><input class="form-control" type="text" name="iron_gate_num[]" value="" maxlength="11"><span class="input-group-addon">組</span></div></td>
        <td><button onclick="add_data_key(this)">+</button></td>
    </tr>
    </tbody>
</table>


