<table width="100%" border="0">
  {* <tr>
    <td class="main_t_2 input-group-addon">案名主標</td>
    <td colspan="3"><input type="text" size="25" id="landTitle1" name="landTitle1" value="{$landTitle1}"></td>
    <td class="main_t_2 input-group-addon">副標</td>
    <td colspan="4"><input type="text" size="25" id="landTitle2" name="landTitle2" value="{$landTitle2}"></td>
  </tr> *}
  <tr>
    <td class="main_t_2 input-group-addon">棟號</td>
    <td><input type="text" size="5" id="landBuilderNumber" name="landBuilderNumber" value="{$landBuilderNumber}"></td>
    <td class="main_t_2 input-group-addon">鄰近地標</td>
    <td colspan="6"><input type="text" size="35" id="landLandMark" name="landLandMark" value="{$landLandMark}"></td>
  </tr>
  <tr>
    <td class="main_t_2 input-group-addon">建物</td>
    <td class="main_t_2 input-group-addon">主建</td>
    <td class="main_t_2 input-group-addon">附屬</td>
    <td class="main_t_2 input-group-addon">共用</td>
    <td class="main_t_2 input-group-addon">共用</td>
    <td class="main_t_2 input-group-addon">車位</td>
    <td class="main_t_2 input-group-addon">增建</td>
    <td class="main_t_2 input-group-addon">權狀</td>
    <td class="main_t_2 input-group-addon">使用</td>
  </tr>
  <tr>
    <td class="main_t_2 input-group-addon">地|建號</td>
    <td><input type="text" size="5" id="land_1" name="land_1" value="{$land_1}"></td>
    <td><input type="text" size="5" id="land_2" name="land_2" value="{$land_2}"></td>
    <td><input type="text" size="5" id="land_3" name="land_3" value="{$land_3}"></td>
    <td><input type="text" size="5" id="land_4" name="land_4" value="{$land_4}"></td>
    <td><input type="text" size="5" id="land_5" name="land_5" value="{$land_5}"></td>
    <td><input type="text" size="5" id="land_6" name="land_6" value="{$land_6}"></td>
    <td><input type="text" size="5" id="land_7" name="land_7" value="{$land_7}"></td>
    <td><input type="text" size="5" id="land_8" name="land_8" value="{$land_8}"></td>
  </tr>
  <tr>
    <td class="main_t_2 input-group-addon">面積/㎡</td>
    <td><input type="text" size="5" id="land_9" name="land_9" value="{$land_9}"></td>
    <td><input type="text" size="5" id="land_10" name="land_10" value="{$land_10}"></td>
    <td><input type="text" size="5" id="land_11" name="land_11" value="{$land_11}"></td>
    <td><input type="text" size="5" id="land_12" name="land_12" value="{$land_12}"></td>
    <td><input type="text" size="5" id="land_13" name="land_13" value="{$land_13}"></td>
    <td><input type="text" size="5" id="land_14" name="land_14" value="{$land_14}"></td>
    <td><input type="text" size="5" id="land_15" name="land_15" value="{$land_15}"></td>
    <td><input type="text" size="5" id="land_16" name="land_16" value="{$land_16}"></td>
  </tr>
  <tr>
    <td class="main_t_2 input-group-addon">持分</td>
    <td><input type="text" size="5" id="land_17" name="land_17" value="{$land_17}"></td>
    <td><input type="text" size="5" id="land_18" name="land_18" value="{$land_18}"></td>
    <td><input type="text" size="5" id="land_19" name="land_19" value="{$land_19}"></td>
    <td><input type="text" size="5" id="land_20" name="land_20" value="{$land_20}"></td>
    <td><input type="text" size="5" id="land_21" name="land_21" value="{$land_21}"></td>
    <td><input type="text" size="5" id="land_22" name="land_22" value="{$land_22}"></td>
    <td><input type="text" size="5" id="land_23" name="land_23" value="{$land_23}"></td>
    <td><input type="text" size="5" id="land_24" name="land_24" value="{$land_24}"></td>
  </tr>
  <tr>
    <td class="main_t_2 input-group-addon">換算坪數</td>
    <td><input type="text" size="5" id="land_25" name="land_25" value="{$land_25}"></td>
    <td><input type="text" size="5" id="land_26" name="land_26" value="{$land_26}"></td>
    <td><input type="text" size="5" id="land_27" name="land_27" value="{$land_27}"></td>
    <td><input type="text" size="5" id="land_28" name="land_28" value="{$land_28}"></td>
    <td><input type="text" size="5" id="land_29" name="land_29" value="{$land_29}"></td>
    <td><input type="text" size="5" id="land_30" name="land_30" value="{$land_30}"></td>
    <td><input type="text" size="5" id="land_31" name="land_31" value="{$land_31}"></td>
    <td><input type="text" size="5" id="land_32" name="land_32" value="{$land_32}"></td>
  </tr>
</table>
