
<!-- <div class="top_more"><span class="more">挖寶趣 | 交換趣 | 環保捐贈 | 願望清單</span></div> -->
<div class="containerx">
  <div class="row">
  {include file="$tpl_dir./page_left.tpl"}
<div class="col-8 right_mune">
<div class="rows_1">


  {$thumbsup="<svg style='vertical-align: initial;margin-right: 3px;' class='Path_198' viewBox='0 0 12.317 14.977'>       <path id='Path_198' d='M 0 13.40062522888184 L 0 5.517904281616211 L 4.729632377624512 0 L 4.729632377624512 0 C 5.833213329315186 0 6.621484756469727 1.182408094406128 6.148521900177002 2.207161664962769 L 4.729632377624512 5.517904281616211 L 10.72050094604492 5.517904281616211 C 11.66642665863037 5.517904281616211 12.45469951629639 6.385004043579102 12.297043800354 7.330930233001709 L 11.27229118347168 13.63710594177246 C 11.11463642120361 14.42537879943848 10.48401832580566 14.97716903686523 9.695746421813965 14.97716903686523 L 1.576544165611267 14.97716903686523 C 0.7094448208808899 14.97716903686523 0 14.26772403717041 0 13.40062522888184 Z'>       </path>      </svg>"}

  {$here="<svg style='margin-left: -4em;' class='Path_114' viewBox='0.025 -0.05 13 15.777'>        <path id='Path_114' d='M 6.488138198852539 9.337522506713867 C 8.060915946960449 9.337522506713867 9.240498542785645 8.059638977050781 9.240498542785645 6.585159778594971 C 9.240498542785645 5.110679626464844 8.060915946960449 3.734498977661133 6.488138198852539 3.734498977661133 C 4.915359020233154 3.734498977661133 3.735774517059326 5.012381076812744 3.735774517059326 6.486861228942871 C 3.735774517059326 7.961341857910156 5.013657569885254 9.337522506713867 6.488138198852539 9.337522506713867 Z M 1.868100047111511 1.866824150085449 C 4.423865795135498 -0.6889412999153137 8.552409172058105 -0.6889412999153137 11.10817432403564 1.866824150085449 C 13.66394138336182 4.422589302062988 13.66394138336182 8.551133155822754 11.10817432403564 11.10689640045166 L 6.488138198852539 15.72693729400635 L 1.868100047111511 11.10689735412598 C -0.5893667936325073 8.551133155822754 -0.5893667936325073 4.422589302062988 1.868100047111511 1.866824150085449 Z'>        </path>       </svg>"}



  {$l_titel=array("<a href='/item' target='_blank'>露營帳篷</a>",
  "<a href='/item' target='_blank'>門、屋頂、側邊、內帳都有寬廣通風網確保帳蓬內空氣循環採光透明窗 附屬配件：頂掛式外帳、營柱、營釘、營繩、槌子、收納袋....</a>",
  "3人",
  "<img src='/themes/LifeHouse/img/lifego/Ellipse_2x.png' style='width: 60px;position: absolute;    margin-left: -6rem;'>白白屋 {$thumbsup}5<!-- <i class='far fa-thumbs-up'></i> --> {$here}桃園市",
  "",
  "<img src='/themes/Okrent/img/list/Group_27_fu.png' alt='' style='width: 22px;    height: 22px;    margin-right: 1rem;'> <input type='text'> &nbsp&nbsp5日<label></label>&nbsp&nbsp10日<label></label>&nbsp&nbsp15日<label></label>&nbsp&nbsp30日")}

  {$l_titel_s=array("font-size: 18pt;",
  "width: 23rem;position: absolute;",
  "height: 1rem;",
  "position: absolute;word-spacing: 6rem;line-height: 4rem;margin-left: 6rem;font-weight: bold;",
  "position: absolute;padding-top:5pt;word-spacing: 15px;margin-left: 6rem;",
  "position: absolute;display: flex;word-spacing: 7pt;")}

  {$l_c=array("","","","","","")}
  {$l_c_s=array("","","","","","")}

  {$r_titel=array("","","","","","")}
  {$r_c=array("","","","","","")}
  {$r_c_s=array("display: flex;margin-left: -2rem;","","","","","")}




  <div class="rows_1">

    <div class="content">
 {for $ii=0;$ii<8;$ii++}
      <div class="items">
        <img class="ch_icon" src='/themes/Okrent/img/list/Group_14.png' alt=''> <span class="renting_type">出租中</span> <span class="book_rent"><span class="book_rent_date">2020.12.12</span></span>
      <div class="prodocu">
        <!-- <div class="heart">
                                    <img src="/themes/LifeHouse/img/lifego/heart.svg" alt="">
                                    <div class="quantity">123</div>
                                </div> -->
          <div class="photo">
            <div class="p_broder">
              <div class="heart"><div class='heart_in'></div><img src='/themes/LifeHouse/img/lifego/heart_red.svg' alt=''>38</div>
              <span>
            <a href='/item' target='_blank'><img src="/themes/Okrent/img/list/Path_78_ez2x.png"></a>
            </span></div>
          </div>
          <div class="infor">
            <ul>


  {for $i=0;$i<sizeof($l_titel);$i++}

              <li>
              <ul class="row row_{$i} p_name">
                <li class="l"><span style="{$l_titel_s[$i]}">{$l_titel[$i]}</span></li>
                <li class="c_l"><span style="{$l_c_s[$i]}">{$l_c[$i]}</span></li>
                <li class="r"><span style="{$r_titel_s[$i]}">{$r_titel[$i]}</span></li>
                <li class="c_r"><span style="{$r_c_s[$i]}">{$r_c[$i]}</span></li>
              </ul>
              </li>
   {/for}

            </ul>

          </div>
      </div>
      {if $ii==0}
      <span class="hot_push">人氣推薦</span>
      {/if}
      <div class="new">

        <div class="p_broder"><span><a href='/item' target='_blank'><img src="/themes/Okrent/img/list/Rectangle_2x.png"></a>

            </span></div>

            <div class="content">
<img class="hot_push_ch_icon" src='/themes/Okrent/img/list/Group_14.png' alt=''>
<span class="title"><a href='/item' target='_blank'>露營帳篷</a><span><p></p>
<span class="content_txt"><a href='/item' target='_blank'>門、屋頂、側邊、內帳都有寬廣通風網確保帳蓬內空氣循環採光透明窗 附屬配件：頂掛</a>
    </span>

</span></span></div>
      </div>
      </div>
{/for}
  </div>
  <div id="Group_14">
		<svg class="Rectangle_8">
			<rect id="Rectangle_8" rx="8" ry="8" x="0" y="0" width="44" height="44">
			</rect>
		</svg>
		<div id="Repeat_Grid_2">
			<div id="Repeat_Grid_2_0" class="Repeat_Grid_2">
				<div id="ID1" class="ID2">
					<span>1</span>
				</div>
			</div>
			<div id="Repeat_Grid_2_1" class="Repeat_Grid_2">
				<div id="ID2" class="ID2">
					<span>2</span>
				</div>
			</div>
			<div id="Repeat_Grid_2_2" class="Repeat_Grid_2">
				<div id="ID3" class="ID2">
					<span>3</span>
				</div>
			</div>
			<div id="Repeat_Grid_2_3" class="Repeat_Grid_2">
				<div id="">
					<span>...</span>
				</div>
			</div>
			<div id="Repeat_Grid_2_4" class="Repeat_Grid_2">
				<div id="ID22" class="ID2">
					<span>22</span>
				</div>
			</div>
		</div>
		<svg class="Path_126" viewBox="391 2068 16 26">
			<path id="Path_126" d="M 407 2068 L 391 2081 L 407 2094">
			</path>
		</svg>
		<svg class="Path_127" viewBox="391 2068 16 26">
			<path id="Path_127" d="M 391 2068 L 407 2081 L 391 2094">
			</path>
		</svg>
	</div>
</div>
</div>
</div>
</div>

{$js}
