{$css}
{$js}
{include file="$tpl_dir./search_bar.tpl"}

<div class="containerx">
  <div class="row" style="    margin: 5em 0;">

    <p style="
    text-align: center;
    font-size: xxx-large;
"><strong>裝修達人刊登規則</strong></p>
<p><strong>本刊登規則適用於</strong><strong>『</strong><strong>裝修達人</strong><strong>』</strong><strong>發案、接案等相關刊登服務的需求</strong>，任何相關刊登服務的需求，您都應遵守本規則的各項要求，本規則並為本網站服務條款之一部分，與服務條款內容具有同一效力。</p>
<p>&nbsp;</p>
<p style="
    font-weight: bold;
">第一條 成為會員</p>
<p>當您同意成為裝修達人(以下簡稱為「本網站」)的會員後，若有刊登外包發案的需要，須至本網站首頁登錄您的資訊，加入本網站會員後，按照指示行操作帳戶功能並刊登資訊即可。</p>
<p>&nbsp;</p>
<p style="
    font-weight: bold;
">第二條 刊登案件與接案規範</p>
<ol style="
    list-style: decimal;
    padding-left: 2rem;
">
<li>您不得在本網站刊登虛偽不實的訊息，如果造成自身損失時，您必須自行負責。如果成他人損失或損害時，您也必須自行對相關受害人的損失損害依據相關法律負起對應的法律責任。</li>
<li>您必須對自己刊登於本網站之訊息，保證為真實有效。如說明不明確造成糾紛發生時，會員應自行負責。</li>
<li>在使用本網站期間，若您獲得發包案客戶之資料及案件資料，或是接案會員相關資料，您承諾只能使用在自身接/發案之用，不得將這些資料轉供任何第三人查詢、持有或使用，也不得轉作為其他不符合本網站要求的任何商業或非商業之利用。</li>
<li>會員不得將其帳號、密碼，轉供其他第三人使用。</li>
<li>若會員有違反前述各條款情形，本網站有權立即終止會員服務，就第三人或是本網站因而所生的各項損失，您同意負擔損害賠償責任，同時並應支付<strong>懲罰性違約金新台幣参拾萬元</strong>予本網站。本網站另有權對侵害他人權利的會員，停止其會員資格及相關服務。</li>
<li>本網站有權視情況終止會員帳戶服務與刪除所有資料。對於會員若有重複刊登商品事由或其他違規行為，本網站有權對此進行刪除或修改。</li>
<li>發案方刊登及訂閱期間內，若有接案會員投訴、申訴、反應、檢調警機關、媒體或民意代表揭露發案方之行為涉嫌不法情事或嚴重不當者，發案方同意外包網得暫停網路外包案件之刊登及相關服務，或限制、調整本網站所提供之會員權限，直至發案方澄清事實之日止。</li>
<li>發案方刊登之案件內容，如依法應標示警語、需註明而未標示，或成人、賭博等商品未經主管機關許可時，不得刊登於本網站網頁，本網站有權不經通知逕行將該廣告移除或修正。若逕自刊登而致使本網站被調查、追訴、索賠或處以行政罰鍰時，發案方應負責全額賠償本網站因此所受之損失，外包網有權立即終止合約關係拒絕提供本服務。</li>
<li>發案方明瞭本網站僅提供網路外包案件資訊刊登服務，本網站無法保證發案方於刊登期間內一定尋得需求之人才，亦不保證應徵人才之品質、品格、能力或其所填接案資料之完整與真實，發案方仍須依面試程序或其他方法進行人才篩選及過濾。發案方與接案會員發生之任何爭議，應由發案方與接案會員雙方自行依循正當法律途徑解決，與本網站無涉。</li>
<li>會員應保證其自行上傳、刊登或轉載的任何logo、形象圖、產品圖片等相關圖文或廣告，並無侵害任何第三人之著作權、商標權等智慧財產權，或違反中華民國法律、公序良俗等情況。</li>
<li>為查證發案方之身分或資格，本網站得要求發案方提出必要證明文件（如：發案方身份證或營利事業登記證明文件）。本網站並有權建檔，於主管機關或司法機關依法查詢時提供之。</li>
<li>為避免接案會員受到困擾，發案方經營之商品或服務若屬於：</li>
</ol>
<p style="
    padding-left: 4rem;
">(1) 具多層次傳銷或保險業(不論有無依法設立登記或核備)者。</p>
<p style="
    padding-left: 4rem;
">(2) 刊登案件與刊登人實際製作內容或服務不符者。</p>
<p style="
    padding-left: 4rem;
">(3) 刊登案件數與刊登人事業規模或項目 / 範疇顯不相稱者。</p>
<p style="
    padding-left: 4rem;
">本網站經審核屬實後，得立即終止合約關係拒絕提供本服務。</p>

<p>&nbsp;</p>
<p style="
    font-weight: bold;
">第三條 未開放刊登發案服務的產業</p>
<ol style="
    list-style: decimal;
    padding-left: 2rem;
">
<li>本網站未開放給八大行業刊登或發案。
<p style="
    padding-left: 2rem;
">八大行業定義如下：</p>

<ul style="list-style: decimal !important;padding-left: 4rem !important;">
<li>舞廳業：指提供場所，備有舞伴供不特定人跳舞之營利事業。</li>
<li>舞場業：指提供場所，不備舞伴供不特定人跳舞之營利事業。</li>
<li>酒家業：指提供場所，供應酒、菜、或其他飲食物，並備有陪侍服務之營利事業。</li>
<li>酒吧業：指提供場所，備有服務生陪侍，供應酒類、飲料之營利事業。</li>
<li>特種咖啡茶室業：指提供場所，備有服務生陪侍，供應飲料之營利事業。</li>
<li>視聽歌唱業：指設置包廂或提供投幣、刷卡等伴唱視聽設備，供人歌唱之營利事業。但不包括該設備內置於可移動式獨立空間，無人服務且由消費者以自助付費使用者。</li>
<li>夜店業：指提供酒精類飲料與音樂，及提供演奏或表演等服務，並備有聲光、座位及舞池等設施，且主要營業時間為夜間至次日凌晨之營利事業。</li>
<li>三溫暖業：指提供冷、熱水池、蒸烤設備，供人沐浴之營利事業。</li>
<li>其他不限於以上範圍之特種營業、聲色場所等。</li>
</ul>

</li>
<li>業務性質屬銷售、徵招加盟商、創業或互惠之資訊<p>本網站不開放給包含但不限於派遣、人力仲介、保險、傳直銷等行業予相關經銷商、加盟商、合夥人等服務。本網站也不開放給刊登性質屬於產品介紹、業務開發銷售、經銷號召、無支薪試做、互惠或使用獎品或禮卷代替酬勞支付等類型。</p></li><li>刊登廣告不得與外包案件發案無關之相關資訊，內容不能有廣告、引人錯誤、刊登虛偽不實的訊息等情事，或藉由網站平台刊登貼文、廣告行銷、舉辦活動走秀等非發案之用途 。</li><li>重複刊登：<p>對於會員類似或重複刊登商品的事由或其他違規行為，本網站有權對刊登資料進行刪除或修改(包含但不限於您所刊登的物件資訊若有重覆，已違反網站規定請勿大量重複刊登，造成本站洗板等行為。</p></li><li>性別、身分等限制：<p>就業服務法第 5 條規定，雇主對求職人或所僱用員工，不得以種族、階級、語言、思想、宗教、黨派、籍貫、出生地、性別、性傾向、年齡、婚姻、容貌、五官、身心障礙或以往工會會員身分為由，予以歧視。</p></li><li>其他：<p>如破解、外掛、違反智慧財產權、違反公平交易法、涉及色情、個人隱私等，利用本網站平台功能使用之便利進行不法行為，均不開放刊登。</p></li></ol>










<p>&nbsp;</p>
<p style="
    font-weight: bold;
">第四條 會員停權規則</p>
<ol style="
    list-style: decimal;
    padding-left: 2rem;
">
<li>本網站有權視會員經營業務性質(派遣、人力仲介、保險、傳直銷)、或發包案件是否有違反法令、公序良俗之情事、或遭其他會員申訴紀錄，保留或調整全部或一部份服務之權利。 外包網有權對違規者停止其會員資格及相關服務。</li>
</ol>
<p>&nbsp;</p>
<p>注意：會員提供之公司基本資料或身份資料或勾選之內容須為真實，會員若為其他目的，或為獲取發案或接案會員之相關資料，而冒名或提供其它虛偽不實之資料刊登，會員已涉及違反刑法第二百十條偽造文書罪、刑法第三百三十九條第二項、第一項之詐欺得利罪、刑法第三百五十八條無故入侵電腦罪、第三百五十九條無故取得電磁紀錄罪，以及違反公平交易法第二十四條之規定。<br> </p>
<p>&nbsp;</p>



<p style="
    text-align: center;
    font-size: xxx-large;
"><strong>裝修達人服務聲明</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="
    font-weight: bold;
">服務聲明</p>
<p>本網站僅提供資訊參考平台，讓所有有裝修房屋需求的會員，可以在這平台上找尋自己需要的裝修達人資訊。</p>
<p>本網站中所呈現每個裝修達人的姓名、照片、圖形、專長、證照、廣告內容、或其他資料（以下合稱『內容』），無論這些內容採取公開張貼或私下傳送，如果有不實或違法情事，均為『內容』提供者的責任，與本網站無涉，我們對此不負任何責任。<br>本網站不會介入每一個個案的任何諮詢與交易。所有裝修達人的各項資訊，我們也不作任何實質或形式上之審查。如有發生任何糾紛時，與本網站無涉。</p>
<p>對於因刊登者所發表的內容，所引起與之相關的一切請求權、要求、實際或間接損害，不論性質為何、是否已知悉、是否可能發生，本網站及其代理人、員工及相關企業一概不負任何法律責任。<br><br>本網站內所刊登的全部圖文，屬於本網站所有的著作權，未經本網站事前書面同意，任何人不得擅自使用於本網站以外的環境。若有未經本網站同意的使用，所衍生的智慧財產權侵權行為，本網站定將進行智慧財產權維權行動。<br><br>本網站僅是作為裝修達人的各項資訊刊登之訊息交換平台，使用者於交易前仍應詳閱相關資料，並與資訊提供者詳細溝通裝修細節與金額。當您有疑問時，請在客服信箱留下您寶貴的意見。</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="
    text-align: center;
    font-size: xxx-large;
"><strong>保障隱私權聲明</strong></p>
<p>&nbsp;</p>
<p style="
    font-weight: bold;
">我們承諾保護及尊重您的個人隱私。</p>
<p>我們的營運活動均遵循法規要求，來保護會員的隱私及個人資料安全。我們所訂定的隱私權政策(下稱「本政策」)將讓您了解，我們可能蒐集之個人資料、如何利用與保護。</p>
<p>&nbsp;</p>
<p>您可自行決定是否登錄、訂購商品、請求產品支援服務；當您選擇使用本服務時，我們將會要求您提供特定資訊，使我們可以提供服務。若您將個人資料提供予我們，將被視為您接受本政策以及隨時更新後的內容。</p>
<p>&nbsp;</p>
<p style="
    font-weight: bold;
">蒐集的個人資料之範圍與使用目的</p>
<p>個人資料蒐集項目：<strong>您的姓名、郵寄地址</strong><strong>(</strong><strong>包含郵遞區號)</strong><strong>、電子郵件地址、電話及其他可識別您的身份的「個人資料」</strong></p>
<p>利用目的：</p>
<p>(1)用於寄送該行銷資料，當您訂閱我們的商品及其他特別優惠之行銷資料時；</p>
<p>(2)用於完成付款及產品運送等契約義務或其他優惠，當您完成在我們網站的產品訂購時；</p>
<p>(3)用於確認您的參加資格、告知活動動態或連繫贈獎事宜，當您參加我們舉辦的活動時；</p>
<p>(4)提供更符合您個人需求的服務、回覆您的提問或資訊查詢、滿意度調查及獲取意見回饋與使用者經驗調查及分析。</p>
<p>&nbsp;</p>
<p style="
    font-weight: bold;
">承諾事項：</p>
<p>(A)在上述之特定使用目的範圍內，我們可能將您所提供的部分個人資料，告知我們的供應商或協力廠商，且我們會確保該供應商或協力廠商嚴格遵守本政策。</p>
<p>(B)除為配合法令、主管機關或司法單位之要求、或為保全法律上的請求、抗辯或為防止詐騙或其他不法行為所必要以外，我們不會在與蒐集目的無關的範圍內，使用或移轉您的個人資料予第三人。</p>
<p>(c)我們不會要求您提供具有敏感性的個人資料，譬如您的政治、宗教信仰、醫療、健康紀錄、性取向、性生活、犯罪紀錄或基因等。也請您不要主動提供這類的訊息給我們。</p>
<p>&nbsp;</p>
<p style="
    font-weight: bold;
">Cookies的使用</p>
<p>我們使用「Cookies」(「用於辨識用戶資訊且儲存於您電腦的程式」)儲存您使用本服務網頁的習慣及偏好，讓您不用耗費時間重新輸入相同資訊，使您快速進入我們的網站來閱讀或是選購適合您的商品。若您將您的網頁瀏覽器設定為拒絕使用Cookies時，您可能因此無法使用我們網站的完整功能。</p>
<p>&nbsp;</p>
<p style="
    font-weight: bold;
">第三人網站及服務</p>
<p>我們的服務可能會提供他人網站之連結，或使用第三人提供之服務（包括但不限於Google），第三人若有蒐集個人資料的行為概與我們無涉。</p>
<p>&nbsp;</p>
<p>若您對您所提供給我們的個人資料有其他需求，歡迎利用本政策最後提供之電子郵件與我們聯繫。</p>
<p>&nbsp;</p>


  </div>
</div>
