<div class="main">
  <div class="storeapplication_wrap" style="margin: auto;">

    {include file="$tpl_dir./application_header.tpl"}

    {include file="$tpl_dir./controllers/StoreApplication/$application_page"}

</div>

</div>
    <div class="footer" style=""><img src="/themes/Okmaster/img/index/footer_logo.png">生活好科技有限公司 &nbsp; LIFE  MASTER  TECHNOLOGY  COMPANY &nbsp; 生活好科技·科技好生活</div>
</div>

{$js}
