<div class="list">
	<a id="tr_" class="ui-link" href="#" data-transition="slide">
		<div class="inline-block title orange_title">使用教學</div>
	</a>
	<a id="tr_" class="ui-link" href="/terms" data-transition="slide">
		<div class="inline-block title orange_title">使用者服務條款</div>
	</a>
	<a id="tr_" class="ui-link" href="/privacy" data-transition="slide">
		<div class="inline-block title orange_title">隱私權政策</div>
	</a>
</div>