<div class="relative footer_webmap" style="margin-top: 5em;">
	<!-- <img style="width: 100%;" src="\themes\Rent\img\index\0401\banner4.jpg"> -->
	{$footer_list_title['title']=array("樂租服務","租事順利","新聞資訊","in生活","加入生活","關於生活")}
	{$footer_list_title['買屋快搜']=array("條件搜尋","地圖搜尋")}
	{$footer_list_title['樂租服務']=array("房東專區","租客專區","稅費相關","補助津貼","社會住宅")}
	{$footer_list_title['租事順利']=array("租賃信用認證","安心租保險","押金信託保管","健康宅檢測","樂租履約保證","智能門鎖","二手家具電租借","超立淨加值方案","裝修達人居家裝修","好幫手生活服務")}
	{$footer_list_title['新聞資訊']=array("資訊","新聞","政策法令","租事觀點","租賃稅費")}
	{$footer_list_title['in生活']=array("生活好康","176歡樂購","活動分享","創富分享")}
	{$footer_list_title['加入生活']=array("生活家族","加盟體系","菁英招募")}
	{$footer_list_title['關於生活']=array("合作提案","服務條款","免責聲明","隱私權聲明")}
	<div class="row house_row">
		<div class="col-lg-9 house_row">
			<div class="row webmap house_row">

				{foreach $footer_list_title['title']  as $i => $v}
					<div class="map">
					<label>{$v}</label>
					{if sizeof($footer_list_title[$v])>0}
					<ul>
						{foreach $footer_list_title[$v] as $iv => $vv}
						<li>{$vv}</li>
						{/foreach}
					</ul>
					{/if}
					</div>
				{/foreach}
			</div>
		</div>
		<div class="col-lg-3 house_row">
			<div id="layers">
			<div id="layer1">
			<svg class="_1" viewBox="-907 -3021.638 40.001 40">
				<path id="_1" d="M -887.0004272460938 -2981.637939453125 C -892.3424682617188 -2981.637939453125 -897.3649291992188 -2983.71826171875 -901.1425170898438 -2987.49560546875 C -904.919921875 -2991.273193359375 -907.000244140625 -2996.295654296875 -907.000244140625 -3001.6376953125 C -907.000244140625 -3006.97998046875 -904.919921875 -3012.00244140625 -901.1425170898438 -3015.780029296875 C -897.3649291992188 -3019.557373046875 -892.3424682617188 -3021.6376953125 -887.0004272460938 -3021.6376953125 C -881.6582641601563 -3021.6376953125 -876.6356811523438 -3019.557373046875 -872.85791015625 -3015.780029296875 C -869.0802001953125 -3012.00244140625 -866.9996948242188 -3006.97998046875 -866.9996948242188 -3001.6376953125 C -866.9996948242188 -2996.295654296875 -869.0802001953125 -2991.273193359375 -872.85791015625 -2987.49560546875 C -876.6356811523438 -2983.71826171875 -881.6582641601563 -2981.637939453125 -887.0004272460938 -2981.637939453125 Z M -890.0460205078125 -3002.03369140625 L -890.0460205078125 -2989.433837890625 L -884.5992431640625 -2989.433837890625 L -884.5992431640625 -3002.03369140625 L -880.8975219726563 -3002.03369140625 L -880.3998413085938 -3006.238037109375 L -884.5992431640625 -3006.23779296875 L -884.5992431640625 -3008.735107421875 C -884.5992431640625 -3009.911376953125 -884.310546875 -3010.436279296875 -882.5994262695313 -3010.436279296875 L -880.3998413085938 -3010.436279296875 L -880.3998413085938 -3014.63818359375 L -884.06640625 -3014.63818359375 C -888.2018432617188 -3014.63818359375 -890.0460205078125 -3012.910888671875 -890.0460205078125 -3009.03759765625 L -890.0460205078125 -3006.23779296875 L -892.9998168945313 -3006.23779296875 L -892.9998168945313 -3002.03369140625 L -890.0460205078125 -3002.03369140625 Z">
				</path>
			</svg>
		</div>
		<div id="iconfinder_line_389169">
			<svg class="_17_je">
				<ellipse id="_17_je" rx="20" ry="20" cx="20" cy="20">
				</ellipse>
			</svg>
			<div id="_130">
				<svg class="_283" viewBox="97.393 121.688 25.855 24.567">
					<path id="_283" d="M 123.2484588623047 132.1846466064453 C 123.1500549316406 131.4302368164063 123.1336517333984 130.6512298583984 122.9286651611328 129.9214324951172 C 122.3218536376953 127.7976379394531 121.0918579101563 126.0592346191406 119.3534545898438 124.7144317626953 C 115.8684692382813 122.0248260498047 111.899658203125 121.2212219238281 107.6110534667969 121.9346313476563 C 104.8886566162109 122.3856201171875 102.4450378417969 123.4844360351563 100.4606475830078 125.4442291259766 C 97.4676513671875 128.3962249755859 96.61485290527344 131.8402252197266 98.1236572265625 135.4974365234375 C 99.59965515136719 139.0726318359375 102.5352478027344 141.0078277587891 106.11865234375 142.0820465087891 C 106.8484497070313 142.3034210205078 107.6110534667969 142.4100341796875 108.3490447998047 142.5658111572266 C 109.2346496582031 142.7544250488281 109.4560546875 143.0004425048828 109.4150543212891 143.8778228759766 C 109.3904571533203 144.3698425292969 109.2510528564453 144.8454284667969 109.2264556884766 145.3374328613281 C 109.2100524902344 145.6244201660156 109.2182464599609 146.0508270263672 109.3904571533203 146.1820220947266 C 109.5626525878906 146.3132171630859 109.9972534179688 146.2476348876953 110.2432556152344 146.1328277587891 C 110.8992462158203 145.8294219970703 111.5306701660156 145.4768218994141 112.1456451416016 145.0914306640625 C 115.1714477539063 143.2054290771484 118.0988616943359 141.1882171630859 120.5014495849609 138.5232238769531 C 122.1332550048828 136.7192230224609 123.182861328125 134.6774291992188 123.2484588623047 132.1846466064453 Z">
					</path>
				</svg>
				<div id="_131">
					<svg class="_285" viewBox="235.3 210.745 8.48 10.21">
						<path id="_285" d="M 237.4701995849609 215.1727294921875 C 237.4701995849609 216.6372985839844 237.4568634033203 218.0885620117188 237.4701995849609 219.5530700683594 C 237.4835052490234 220.3120574951172 237.2971343994141 220.9244995117188 236.4050750732422 220.9244995117188 C 235.5263214111328 220.9244995117188 235.3000183105469 220.3386688232422 235.3000183105469 219.5663909912109 C 235.3132934570313 217.1033020019531 235.2733612060547 214.6401672363281 235.3399505615234 212.1770935058594 C 235.3532562255859 211.7243194580078 235.6727905273438 211.1252288818359 236.0456085205078 210.8855895996094 C 236.6047821044922 210.5260620117188 237.1240692138672 210.9121551513672 237.4968414306641 211.4181213378906 C 238.8015594482422 213.1756286621094 240.1196441650391 214.9330596923828 241.6241455078125 216.9301910400391 C 241.6241455078125 215.1594543457031 241.6373901367188 213.6682586669922 241.6108093261719 212.1903533935547 C 241.5975341796875 211.4314270019531 241.7705993652344 210.8323211669922 242.6626586914063 210.779052734375 C 243.3948974609375 210.7391204833984 243.7676391601563 211.2184295654297 243.7676391601563 212.2169647216797 C 243.7676391601563 214.6534881591797 243.8076477050781 217.07666015625 243.7410583496094 219.5131988525391 C 243.7277221679688 219.9658355712891 243.4348449707031 220.5916290283203 243.0753479003906 220.8179626464844 C 242.4895629882813 221.1774597167969 241.9569702148438 220.7780303955078 241.5442810058594 220.2321319580078 C 240.26611328125 218.5146026611328 238.9746551513672 216.82373046875 237.6831665039063 215.1194610595703 C 237.6033630371094 215.1461334228516 237.5367736816406 215.1594543457031 237.4701995849609 215.1727294921875 Z">
						</path>
					</svg>
					<svg class="_286" viewBox="308.7 210.956 6.394 10.178">
						<path id="_286" d="M 310.9234619140625 213.1583557128906 C 310.9234619140625 213.7841186523438 310.9234619140625 214.2633972167969 310.9234619140625 214.8892211914063 C 311.8287658691406 214.8892211914063 312.7474365234375 214.8892211914063 313.65283203125 214.8892211914063 C 314.5848083496094 214.9024963378906 315.1439514160156 215.3285827636719 315.0907592773438 216.0342102050781 C 315.0108337402344 216.9129333496094 314.4116821289063 217.0860595703125 313.65283203125 217.0594177246094 C 312.7607727050781 217.0327758789063 311.8820495605469 217.0594177246094 310.9367065429688 217.0594177246094 C 310.9367065429688 217.7250671386719 310.9367065429688 218.2843017578125 310.9367065429688 218.9500427246094 C 311.8953857421875 218.9500427246094 312.8140258789063 218.9367065429688 313.7326965332031 218.9500427246094 C 314.6114196777344 218.9633178710938 315.1306762695313 219.3893432617188 315.0774230957031 220.0817565917969 C 315.0108337402344 220.8805541992188 314.4783020019531 221.1335144042969 313.7459716796875 221.1335144042969 C 312.4945068359375 221.1202087402344 311.2563171386719 221.1202087402344 310.0047912597656 221.1335144042969 C 309.139404296875 221.1335144042969 308.7000122070313 220.7474365234375 308.7000122070313 219.8553771972656 C 308.7000122070313 217.32568359375 308.7133483886719 214.7959899902344 308.7000122070313 212.2796020507813 C 308.7000122070313 211.40087890625 309.1127319335938 210.974853515625 309.9781799316406 210.9615173339844 C 311.2563171386719 210.9482116699219 312.5343627929688 210.9615173339844 313.8125610351563 210.9615173339844 C 314.5715026855469 210.9615173339844 315.0774230957031 211.3076477050781 315.0640869140625 212.079833984375 C 315.0507507324219 212.8654479980469 314.5048828125 213.1716613769531 313.7725524902344 213.1583557128906 C 312.8673095703125 213.1583557128906 311.9352416992188 213.1583557128906 310.9234619140625 213.1583557128906 Z">
						</path>
					</svg>
					<svg class="_287" viewBox="153.325 211.2 6.322 10.136">
						<path id="_287" d="M 155.5051727294922 219.1618804931641 C 156.5170288085938 219.1618804931641 157.4223937988281 219.1751861572266 158.3410186767578 219.1618804931641 C 159.0733337402344 219.1485748291016 159.6191711425781 219.3882446289063 159.6458435058594 220.2137145996094 C 159.6724395751953 221.1057739257813 159.0999755859375 221.3321075439453 158.3277435302734 221.3321075439453 C 157.1161499023438 221.3187866210938 155.9045715332031 221.3454132080078 154.6930389404297 221.3321075439453 C 153.7078247070313 221.3187866210938 153.3350219726563 220.9859161376953 153.3350219726563 220.0273132324219 C 153.3216552734375 217.5109100341797 153.3216552734375 214.9812469482422 153.3350219726563 212.46484375 C 153.3350219726563 211.7325744628906 153.6412200927734 211.2000122070313 154.4400787353516 211.2000122070313 C 155.2389068603516 211.2133331298828 155.5185089111328 211.7458801269531 155.5185089111328 212.4914398193359 C 155.4918670654297 214.6750030517578 155.5051727294922 216.8718414306641 155.5051727294922 219.1618804931641 Z">
						</path>
					</svg>
					<svg class="_288" viewBox="208.2 210.998 2.21 10.133">
						<path id="_288" d="M 210.4101104736328 216.0046844482422 C 210.4101104736328 217.2561798095703 210.4101104736328 218.5077514648438 210.4101104736328 219.7459869384766 C 210.4101104736328 220.5048522949219 210.2104034423828 221.1172790527344 209.3317108154297 221.130615234375 C 208.4663238525391 221.1439514160156 208.1999969482422 220.5714569091797 208.1999969482422 219.7991790771484 C 208.1999969482422 217.2961120605469 208.1999969482422 214.8063812255859 208.1999969482422 212.3033142089844 C 208.1999969482422 211.5577392578125 208.492919921875 211.0118408203125 209.2784576416016 210.9985504150391 C 210.1305389404297 210.9851837158203 210.4101104736328 211.5577392578125 210.4101104736328 212.3432464599609 C 210.3968353271484 213.5681457519531 210.4101104736328 214.7930450439453 210.4101104736328 216.0046844482422 Z">
						</path>
					</svg>
				</div>
			</div>
		</div>
		<div id="OUTLINE_copy_2">
			<div id="_133">
				<svg class="_289" viewBox="0 0 40 40">
					<path id="_289" d="M 20 0 C 8.953750610351563 0 0 8.954999923706055 0 20 C 0 31.04500007629395 8.953750610351563 40 20 40 C 31.04500007629395 40 40 31.04500007629395 40 20 C 40 8.954999923706055 31.04624938964844 0 20 0 Z M 20.21625137329102 30.7450008392334 C 14.27999973297119 30.7450008392334 9.471250534057617 25.93625068664551 9.471250534057617 20 C 9.471250534057617 14.06374931335449 14.28000068664551 9.255000114440918 20.21625137329102 9.255000114440918 C 23.11750030517578 9.255000114440918 25.54249954223633 10.32375144958496 27.40125274658203 12.05500030517578 L 24.37250137329102 15.08375072479248 L 24.37250137329102 15.07750034332275 C 23.2450008392334 14.00250053405762 21.81375122070313 13.45250034332275 20.21625137329102 13.45250034332275 C 16.67124938964844 13.45250034332275 13.79000091552734 16.44750022888184 13.79000091552734 19.99250030517578 C 13.79000091552734 23.53749847412109 16.67125129699707 26.53999710083008 20.21625137329102 26.53999710083008 C 23.4325008392334 26.53999710083008 25.62250137329102 24.69999694824219 26.07250022888184 22.17499732971191 L 20.21625137329102 22.17499732971191 L 20.21625137329102 17.9837474822998 L 30.3224983215332 17.9837474822998 C 30.45624923706055 18.70124816894531 30.52999877929688 19.45499801635742 30.52999877929688 20.23999786376953 C 30.52999877929688 26.38000106811523 26.42000007629395 30.7450008392334 20.21625137329102 30.7450008392334 Z">
					</path>
				</svg>
			</div>
		</div>
		</div>
		<div id="ID0800-010-568_03-358-1098__03">
			<span>客服：0800-010-568<br>電話：03-358-1098 <br>傳真：03-326-1098 <br>地址：330-0051桃園市桃園區新埔八街113 號<br>信箱：okrent@lifegroup.house</span><br>
			<span style="    font-size: 12px;    color: rgba(156,156,156,1); display: none;">Copyright ©1997 by Life Property InvestmentManagement Co., Ltd All Rights reserved</span>
		</div>
		</div>
	</div>
</div>
