<nav class="main_menu">
    <div class="content_width">
    <div class="logo_main"><img src="{$THEME_URL}/img/logo_main.svg"><a href="/" class="index"></a></div>
            <nav class="menu">
                <div class="menu_right">
                    <a href="https://www.okrent.house/#">刊登x廣告</a>{if !empty($smarty.session.id_member)}<a href="https://www.okrent.house/member">{$smarty.session.nickname}</a> <a href="https://www.okrent.house/member">會員中心</a> <a href="https://www.okrent.house/logout">登出</a>{else}<a href="https://www.okrent.house/Register">註冊</a><a href="https://www.okrent.house/login">登入</a>{/if}<a class="no_border" href="https://www.okrent.house/#">加盟店</a>
                </div>
            <ul class="menu_left">{foreach from=$main_menu key=i item=v}<li {if $v.color} class="nav_active_color" {/if} ><a href="{$v.href}" class="{if $v.active}active{/if}">{$v.text}</a>{if count($v.submenu)}<ul class="dropdown-menu" role="menu">{foreach from=$v.submenu key=j item=w}<li {* {if $w.color} class="nav_active_color"{/if} *} ><a href="{$w.href}" class="{if $w.active}active{/if} {$w.class}">{$w.text}</a></li>{/foreach}</ul>{/if}</li>{/foreach}
                {include file="../../modules/FloatShare/float_share.tpl"}</ul>
        </nav>
    </div>
</nav>