@charset "utf-8";


.About {
    width: 100%;
    position:relative;
    padding-top: 110px;
    overflow:hidden;
    background-color: #fff;
    letter-spacing: 1px;
}
@media  screen and (max-width: 1366px)  {
    .About {
        /*padding-top: 90px;*/
    }
}
@media  screen and (max-width: 1024px)  {
    .About {
        padding-top: 58px;
    }
}


/*BANNER*/
.About .banner  {
    height:550px;
    position:relative;
    margin-top:5%;
    background-image:url("/themes/Rent/img/about/banner.png");
    background-size: cover;
    background-position: 50% 0%;
}
.About .banner .txt_box {
    width: 500px;
    height: 100px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -250px;
    text-align:center;
}
.About .banner .txt_box .cht {
    line-height: 150%;
    color: #fefefe;
    letter-spacing: 2px;
    padding-top: 20px;
    font-size: 3.125rem;
}
.About .banner .txt_box .eng {
    line-height: 150%;
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
    .About .banner .txt_box .cht {
        font-size: 2.5rem;
    }
    .About .banner .txt_box .eng {
        font-size: 1rem;
    }
}
@media screen and (max-width: 1366px) {
    .About .banner  {
        height:350px;
    }
}
@media screen and (max-width: 1024px) {
    .About .banner  {
        background-position: 38% 50%;
    }
    .About .banner .txt_box {
        /*width: 160px;
        height: 160px;
        margin-top: -80px;
        margin-left: -80px;*/
    }
}
@media screen and (max-width: 768px) {
    .About .banner  {
        height:250px;
    }
}
h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: #ea5413;
}
h3{
    font-size: 2.5rem;
    color: #191919;
}
h4{
    font-size: 1.125rem;
    color: #191919;
}

@media screen and (max-width: 1280px) {
    h2,h3{
        font-size: 2rem;
    }
}
@media screen and (max-width: 768px) {
    h2,h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1rem;
    }
}

.list_box{
    position:relative;
    width:100%;
    height:auto;
    border-bottom:solid 1px #615c5c;
    max-width: 1500px;
    padding-bottom: 3%;
    margin: 3% auto 3% auto;
}

.left_pic{
    position:relative;
    width:100%;
    height:auto;
    max-width: 1500px;
    margin: 0 auto 0 auto;
}
.left_pic_box{
    position:relative;
    width:49%;
    display:inline-block;
    vertical-align: middle;
    text-align:right;
}
.left_pic_box img{
    position:relative;
    width:90%;
    height:auto;
}
.left_box_txt{
    position:relative;
    width:49%;
    display:inline-block;
    vertical-align: middle;
    text-align:center;
    color:#615c5c;
}

.right_pic{
    position:relative;
    width:100%;
    height:auto;
    max-width: 1500px;
    margin: 0 auto 0 auto;
}
.right_pic_box{
    position:relative;
    width:49%;
    display:inline-block;
    vertical-align: middle;
    text-align:left;
}
.right_pic_box img{
    position:relative;
    width:90%;
    height:auto;
}
.right_box_txt{
    position:relative;
    width:49%;
    display:inline-block;
    vertical-align: middle;
    text-align:center;
    color:#615c5c;
}
.story{
    position:relative;
    width:100%;
    height:auto;
    border-bottom:solid 1px #615c5c;
    max-width: 1500px;
    margin: 0 auto 0 auto;
}
.story_pic{
    position:relative;
    width:100%;
    height:auto;
    max-width: 1500px;
    margin: 0 auto 0 auto;
}
.story_left_box{
    position:relative;
    width:49%;
    vertical-align: middle;
    text-align:right;
    margin: 4% 0 4% 0;
}
.story_left_list{
    position:relative;
    width:80%;
    margin: 0 0 0 auto;
}
.story_left_list img{
    position:relative;
    width:100%;
    height:auto;
}
.story_left_year{
    color: #522678;
    font-weight: 500;
    font-size: 3.5rem;
    font-style:italic;
    margin: 5% 3% 5% auto;
    text-align:right;
}
.story_left_pic{
    position:relative;
    width:80%;
    margin: 0 0 0 auto;
    text-align:left;
}
.story_left_pic img{
    position:relative;
    width:100%;
    height:auto;
    margin-bottom: 3%;
}
.story_right_box{
    position:relative;
    width:49%;
    vertical-align: middle;
    text-align: left;
    margin: 4% 0 4% auto;
}
.story_right_list{
    position:relative;
    width:80%;
    margin: 0 auto 0 0;
}
.story_right_list img{
    position:relative;
    width:100%;
    height:auto;
}
.story_right_year{
    color: #522678;
    font-weight: 500;
    font-size: 3.5rem;
    font-style:italic;
    margin: 5% 3% 5% auto;
}
.story_right_pic{
    position:relative;
    width:80%;
    margin: 0 auto 0 0;
    text-align:left;
}
.story_right_pic img{
    position:relative;
    width:100%;
    height:auto;
    margin-bottom: 3%;
}
.story_right_pic_1{
    position:relative;
    width:49%;
    vertical-align: middle;
    text-align: left;
    display:inline-block;
}
.year2020{
    position:relative;
    width:49%;
    vertical-align: middle;
    text-align: left;
    display:inline-block;
}

.news_box{
    position:relative;
    width:100%;
    height:auto;
    border-bottom:solid 1px #615c5c;
    max-width: 1500px;
    padding-bottom: 3%;
    margin: 3% auto 3% auto;
}
.news_pic{
    position:relative;
    width:100%;
    height:auto;
    max-width: 1500px;
    margin: 0 auto 0 auto;
}
.news_pic_box{
    position:relative;
    width:49%;
    display:inline-block;
    vertical-align: middle;
    text-align:right;
}
.news_pic_box img{
    position:relative;
    width:90%;
    height:auto;
}
.news_box_txt{
    position:relative;
    width:49%;
    display:inline-block;
    vertical-align: middle;
    text-align:left;
    color:#615c5c;
    padding-left: 5%;
}
.news_right_pic{
    position:relative;
    width:100%;
    height:auto;
    max-width: 1500px;
    margin: 0 auto 0 auto;
}
.news_right_pic_box{
    position:relative;
    width:49%;
    display:inline-block;
    vertical-align: middle;
    text-align:right;
}
.news_right_pic_box img{
    position:relative;
    width:90%;
    height:auto;
}
.news_right_box_txt{
    position:relative;
    width:49%;
    display:inline-block;
    vertical-align: middle;
    text-align:left;
    color:#615c5c;
    padding-left: 5%;
}

.case_pic{
    position:relative;
    width:100%;
    height:auto;
    max-width: 1500px;
    padding-bottom: 3%;
    margin: 3% auto 3% auto;
    border-bottom:solid 1px #615c5c;
}
.case_pic_box{
    position:relative;
    width:49%;
    height: 40%;
    display:inline-block;
    vertical-align: middle;
    text-align:center;
    /*background-color:#fff;*/
    border-bottom:solid 1px #615c5c;
    content:"";
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
}
.case_box_txt{
    position:relative;
    width:49%;
    display:inline-block;
    vertical-align: middle;
    text-align:left;
    color:#615c5c;
    padding-left: 5%;
}
.case_box_txt img{
    position:relative;
    width:90%;
    height:auto;
}

.con_pic{
    position:relative;
    width:100%;
    height:auto;
    max-width: 1500px;
    margin: 0 auto 0 auto;
}
.con_pic_box{
    position:relative;
    width:49%;
    height: 40%;
    display:inline-block;
    vertical-align: middle;
    text-align:center;
    background-color:#dedede;
    content:"";
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
}
.con_box_txt{
    position:relative;
    width:49%;
    display:inline-block;
    vertical-align: middle;
    text-align:left;
    color:#615c5c;
    padding-left: 5%;
}
h1{
    color: #615c5c;
    font-weight: bold;
    font-size: 2.5rem;
}
h2{
    color: #615c5c;
    font-size: 1.35rem;
    margin-bottom: 3%;
}
h3{
    color: #522678;
    font-weight: 500;
    font-size: 2rem;
}
h4{
    color:#615c5c;
    font-size: 1.5rem;
    line-height: 180%;
}
h5{
    color:#615c5c;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 180%;
}
h6{
    color:#615c5c;
    font-weight: 350;
    font-size: 1.2rem;
    line-height: 180%;
}
p{
    color:#615c5c;
    font-weight: 350;
    font-size: 1.2rem;
    line-height: 180%;
}
.txt_bold{
    font-weight: bold;
    white-space: nowrap;
}
.txt_line{
    margin:0 1% 0 1%;
}
.txt_red{
    color:red;
    font-weight: bold;
    font-size: 1.8rem;
}
