/* 頁籤 - start */
.item_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0px 70px 0px 15px;
    margin: 0px auto 30px;
}

.item_wrap .title{
    width: unset;
    padding-right: 15px;
    background: #fff;
    z-index: 1;
}

.item_wrap .item_list {
    width: unset;
    padding-left: 15px;
    align-items: unset;
    justify-content: unset;
    margin: unset;
    background: #fff;
    z-index: 1;
    display :flex;
}

.item_wrap .item_list a{
    text-align: center;
    width: 150px;
    position: relative;
    color: var(--text_light_color);
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
}

.item_wrap .item_list a:hover{
    color: var(--main_color1);
}

.item_wrap .item_list a:after{
    display: none;
}

.item_wrap .title {
    color: var(--main_color1);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

.item_wrap .item_list a.active {
    color: var(--text_normal_color);
    font-size: 1.3em;
    margin: -4px 0px 0px;
}
/* 頁籤 - end */