:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;

}

.uk-dotnav>.uk-active>* {
    background-color: rgb(255 255 255) !important;
}

.uk-position-center-right {
    right: 1em !important;transform: scale(1.5) !important;
}

.uk-position-center-left {
    left: 1em !important;transform: scale(1.5) !important;
}

marquee {
    font-size: 2em;
    font-family: "HuaKangXiuFengTiFan-1";
}

.LilyHouse{
    display: none;
}

.t_container.top img {
    width: 100%;
}

.fn_bar a{
    color: #fff !important;
}

.fn_bar a{
  color: #426927 !important;
      text-shadow: white 0.2em 0.2em 0.2em, white -0.2em -0.2em 0.2em, white -0.2em 0.2em 0.2em, white 0.2em -0.2em 0.2em;
}

.fn_bar {
    position: absolute;
    /* right: 5%; */
    top: .5em;
    display: flex;
    width: 90%;
    font-size: 3rem;
    letter-spacing: 5px;
    color: #ccc;
    left: 0px;
    margin: 0px 5%;
    z-index: 99;
}

.fn_bar div {
    width: 50%;
    font-size: 14pt;
    font-weight: bold;
}

.fn_bar .R {
    text-align: end;
    z-index: 99;
}

.fn_bar svg {
    width: 4rem;
    margin-left: 12pt;
    fill:#ccc;
    cursor: pointer;
}
/*
.footer img {
    width: 7%;
    margin: 0% 4%;
} */

.footer img {
    width: 3%;
    margin: 1%;
}

.footer {
  background: #fff;
      color: #000;
      text-align: center;
      border-radius: 5px;
      font-size: 13pt;
}

.footer_2 {
    text-align: center;
    background: #96c237;
    color: #FFF;
    font-size: 11pt;
    line-height: 25pt;
}

.footer .spacing {
    margin: 0px 1%;
}
.t_container.mid img {
    width: 100%;
    /* height: 440px; */
}

.process_3 img {
    height: 272px !important;
}

.process_1 > img {
    display: none;
}

.t_container.mid .process_3 .content {
    width: 90%;
    margin: auto;
    position: relative;
}

.t_container.mid .process_3 {
    text-align: center;
    margin-top: 5%;

}

.t_container.mid .process_3 .title_txt,.content .title_txt span {
    color: #96c237;
    font-size: 3.3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.content .title_txt span{
  font-size: 2.2rem;
}

.t_container.mid .process_3 .txt {
    top: 30%;
    font-size: 3rem;
    margin-top: 3%;
    color: #fff;
}



.t_container.mid .process_3 .txt span {

    font-size: 3rem;
    font-weight: bold;
}

.t_container.mid .process_3 .txt {
    top: 30%;
    font-size: 2.2rem;
    margin-top: -5%;
    color: #fff;
    font-weight: bold;
}

.t_container.mid .process_3 .txt,.content .title_txt span {
    font-size: 1.4rem;
}

.t_container.mid .process_3 .txt.c_1 {
    position: absolute;
    width: 33.33333333333333333%;
    left: 2%;
}

.t_container.mid .process_3 .txt.c_2 {
    position: absolute;
    left: 35.333333%;
    width: 33.33333333333333333%;
}

.t_container.mid .process_3 .txt.c_3 {
    position: absolute;
    left: 68.666667%;
    width: 33.33333333333333333%;
}

.t_container.mid .process_3 label {
    padding: 30px;
    color: #fff;
    font-size: 3rem;
}

.t_container.mid .process_3 label {
    font-size: 2rem;
}

.process_1{
    position: relative;
    width: 100%;
    margin: auto;
}

.process_2{
    /* position: absolute; */
    top: 0px;
    left: 0px;
    width: 100%;
}

.process_2 div:not(.content):not(.r_full){
    width: 50%;
    font-size: 2.2rem;
    text-align: center;
    margin: auto;
    position: relative;
}

.process_2 div.content{
    margin-top: 15px;
    font-size: 2.2rem;
    /* font-weight: bold; */
}

.process_2 div.content {
    font-size: 1.4rem;
}

.process_2 div img{
  width: 100% !important;
    /* margin: 25px 0px; */
}

.process_2 div span{
    font-size: 3.3rem;
    font-weight: bold;
}

.process_2 div span{
    font-size: 2.3rem;
}

.process_2 ul li{
    display: flex;
}

.process_2 .r_full {
    width: 100%;
}

.process_2 div.r {
    margin-left: 0%;
}

.process_2 div.l {
    margin-right:  0%;
}

.process_2 .r0 img.icons {
    position: absolute;
    right: 186px;
    max-height: 61.162px;
    max-width: 61.162px;
    top: 77px;
    display: none;
}

.process_2 .r1 img.icons {
    position: absolute;
    display: none;
}

.process_2 .r3 img.icons {
    position: absolute;
    left: 240px;
    max-height: 95px;
    max-width: 95px;
    top: 117px;
    display: none;
}

.process_2 .r4 img.icons {
  position: absolute;
  right: 150px;
  max-height: 84.167px;
  max-width: 99px;
  top: 250px;
  display: none;
}

.process_2 .r5 img.icons_1 {
    position: absolute;
    left: 268px;
    max-height: 46.536px;
    max-width: 46.536px;
    top: 145px;
    display: none;
}

.process_2 .r5 img.icons_2 {
    position: absolute;
    left: 400px;
    max-height: 46.536px;
    max-width: 46.536px;
    top: 236px;
    display: none;
}

.t_container.bot,.t_container.bot .rows_1,.t_container.bot .rows_2,.t_container.bot .rows_4 {
        margin-top: 50px;
}

.t_container.bot {
        margin-top: 150px;
}

.rows_3 {
    height: 450px;
    background: #f9f9f9;
    position: relative;
}

.rows_3 i {
    position: absolute;
    top: 300px;
    font-size: 32pt;
    color: #0003;
}

.rows_3 i.fas.fa-chevron-left {
    left: 0px;
}

.rows_3 i.fas.fa-chevron-right {

    right: 0px;
}

.rows_4 {
    height: 450px;

}

.t_container.bot {
    margin-bottom:  10%;
}


.t_container.bot img{
    width: 100%;
}


.rows_1 .content,.rows_2 .content,.rows_3 .content,.rows_4 .content {
    margin-top: 40px;
    width: 100%;
    top: 0px;
}

.rows_1 .title_txt,.rows_2 .title_txt,.rows_3 .title_txt,.rows_4 .title_txt{
    color: #000;
    position: relative;
}

.rows_2 .title_txt img,.rows_2 .news_row > img {
    opacity: 0;
}

.content .title_txt span{
    color: #000;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    margin-top: -4%;
}

.rows_1 .content .title_txt span,.rows_2 .content .title_txt span{
    color: #000;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    margin-top: 4%;
}



.t_container.bot .heart {
  position: absolute;
  font-size: 20px;
  top: 10px;
  display: flex;
  right: 10px;
}

.t_container.bot .heart a {
    color: #fff;
}

.content_frame {
    position: relative;
}

.news_row section.slider.regular.slick-initialized.slick-slider {
    position: absolute;
    top: -24px;
    left: 0px;
    width: 100%;
    margin-top: 0%;
}



section.slider.regular.slick-initialized.slick-slider {
    height: 200px;
}

.news_row {
    position: relative;
}

section.slider.regular.slick-initialized.slick-slider .list.slick-slide {
    /* margin: 0 2%; */
}

.item_price {
    display: flex;
}

.item_price .item_price {
    width: 50%;
}

.text-center.price .text-center {
    text-align: right;
    font-size: 14pt;
    margin: auto;
}

.text-center.price .text-center span {
    color: red;
}

.price_original {
    height: 16pt;
    margin: auto 0;
    font-size: 8pt;
    text-align: left;
}

.price_original .outer {
    color: red;
    text-decoration: line-through;
}

.price_original .inner {
    color: #000;

}

.img_frame {
    margin-bottom: 4%;
    position: relative;
}

.slick-initialized .slick-slide {
    padding: 0 10px;
}


.rows_3 .content .news_row .content_ul,.rows_4 .content .news_row .content_ul {
    display: flex;
    width: 90%;
    margin: auto;
}


.rows_3 .content .news_row .content_ul ul{
    display: flex;
    padding: 0px;
}



li.content_li {
    width: 100%;
    margin: 0 2%;
    border: 1px solid #ccc;
    border-radius: 0 15px;
    background: #FFF;
}

.rows_3 .content .news_row .content_ul .content_li li:nth-child(2),
.rows_4 .content .news_row .content_ul .content_li li:nth-child(2) {
    margin: auto;
    text-align: center;
}

.rows_4 .content .news_row .content_ul .content_li li:nth-child(2) {
    margin: 1rem;
}

.rows_3 .content .news_row .content_ul li:nth-child(1) img,
.rows_4 .content .news_row .content_ul li:nth-child(1) img  {
    border-radius: 0 15px;
}

.rows_3 .news_row,.rows_4 .news_row {
    top: 14rem;
}

.rows_3 .news_row,.rows_4 .news_row {
    top: 10rem;
}

.rows_3 .title_txt,.rows_4 .title_txt {
    /* top: 3rem; */
    top: 10rem;
}

.rows_3 .content .news_row .content_ul li:nth-child(2) .title,
.rows_4 .content .news_row .content_ul li:nth-child(2) .title {
    font-size: 2rem;
    font-weight: bold;
}


.rows_3 .content .news_row .content_ul li:nth-child(2) .title,
.rows_4 .content .news_row .content_ul li:nth-child(2) .title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.rows_3 .content .news_row .content_ul li:nth-child(2) .context,
.rows_4 .content .news_row .content_ul li:nth-child(2) .context {
  width: 90%;margin: auto;height: 1.5em;overflow: hidden;
}

.rows_3 .content .news_row .content_ul li:nth-child(2) .more a,
.rows_4 .content .news_row .content_ul li:nth-child(2) .more a {
    color: red;
}


.rows_3 .content .news_row .content_ul li:nth-child(2) .more,
.rows_4 .content .news_row .content_ul li:nth-child(2) .more {
  text-align: start;
  width: 90%;
  margin: auto;
}

.display_content {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.process_2 ul {
    margin-top: 50px;
    padding-left:0px;
}

.heart_wrap {
    display: flex;
}

.heart_wrap > div {
    width: 50%;
}

.slick-slide img {
    width: 65%;
}

/* 109.10.09 */

.rows_1 .news_row > span,.rows_2 .news_row > span {
    position: absolute;
    bottom: 45px;
    left: 0px;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font-size: 14pt;
}

.row.index, .row.top_fn {
    margin: 0px !important;
}

.infor {}

.slick-slide .infor .p_name li {
  display: inline-flex;
      margin-left: 0px;
  /* width: 18%; */
  /* background: #1db9b9; */
}

.slick-slide .infor>ul li>li {
  width: 50%;
}

.slick-slide .infor>ul ul {
  margin: 10px 0;
}

.slick-slide .infor>ul {
  width: 100%;
  /* padding: 10px; */
  margin-top: 30px;
}

.p_name {
  width: 100%;
}

.p_name li {}

.slick-slide .infor {
  width: 100%;
}

.slick-slide .infor .p_name li span {
    height: auto;
    margin: auto 0;
}
ul.row.p_name .l span, ul.row.p_name .r span {
  border-right: 1px solid #0000002e;
  line-height: 8pt;
  margin: auto;
  padding-right: 2pt;
}

ul.row.p_name .c_l span, ul.row.p_name .c_r span {
  padding-left: 0pt;
overflow: hidden;
height: 18pt;
margin-bottom: 8pt;
}

ul.row.p_name .l span, ul.row.p_name .r span {
    text-align: right;
    width: 100%;
}

.slick-slide .infor .p_name .l, .slick-slide .infor .p_name .r {
    width: 7rem;
    display: none;
}

section.slider.regular.slick-initialized.slick-slider .list.slick-slide {
    /* width: 256px !important; */
}

.slick-slider .slick-track, .slick-slider .slick-list {
    /* width: unset !important; */
}

ul.row.p_name .c_l, ul.row.p_name .c_r {
    width: 40%;
}

ul.row.p_name .c_r {
    margin-left: 10px;
    position: absolute;
}

ul.row.p_name .c_l label,ul.row.p_name .c_r label {
    border: 1px solid #ccc;
    height: 8pt;
    margin: 0 2px;
}

.infor .heart {
    position: absolute;
    width: 25px !important;
    top: 0px !important;
    display: grid !important;
    right: 4px !important;
}

.fn_bar i {
  font-size: 24pt;
  vertical-align: super;
  /* border: 1px solid #fff; */
  border-radius: 50px;
  padding: 4px;
  color: #fff;
}

.t_container.top img.share {
  width: 50px;

  margin-left: 10px;
}

.t_container.top img.hb {
    width: 60px;

    margin-left: 10px;
    cursor: pointer;
}

section.slider_center.slick-initialized.slick-slider {
  width: 90%;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 100px;
}

/* 2020.10.27 */
li.content_li ul.content_1 {
    padding: 0px;
}

.news_row > img {
    height: 500px;
}

li.open_url {
    cursor: pointer;
}


#exchange_icon {
  position: absolute;
  width: 54.852px;
  height: 46.814px;
  right: 231px;
  top: 176px;
  overflow: visible;
  display: none;
}
#Group_53 {
    position: absolute;
    width: 52.304px;
    height: 21.329px;
    left: 2.548px;
    top: 0px;
    overflow: visible;
}
.Ellipse_46 {
    position: absolute;
    overflow: visible;
    width: 15.291px;
    height: 15.291px;
    left: 37.013px;
    top: 6.038px;
}
#Ellipse_46 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 1.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_652 {
    overflow: visible;
    position: absolute;
    width: 52.917px;
    height: 16.071px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_652 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 1.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
#Group_54 {
    position: absolute;
    width: 52.304px;
    height: 21.329px;
    left: 0px;
    top: 25.485px;
    overflow: visible;
}
.Ellipse_46_bp {
    position: absolute;
    overflow: visible;
    width: 15.291px;
    height: 15.291px;
    left: 0px;
    top: 0px;
}
#Ellipse_46_bp {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 1.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_652_bq {
    overflow: visible;
    position: absolute;
    width: 52.918px;
    height: 16.071px;
    left: 0.876px;
    top: 6.013px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_652_bq {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 1.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}


.infor .sec_r {
    display: flex;
    margin: 10px;
}
.infor .sec_r div {
    width: 50%;
}
.infor .L {
    text-align: left;
}
.infor  .R {
    text-align: right;
}
.infor .title {
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
}
.infor .context {
    font-size: 11pt;
    padding: 10px;
}
