/* 1211 add */

footer {
    top: 1700px;
}

article.Item {
    margin-left: -5%;
}

.containerx {
    margin-top: -7em !important;
}

/* 1211 add END */

.picture {
    height: 392px;
    width: 557px;
    margin: 10px;
}

.border {
    border: 3px solid #96c237 !important;
    border-radius: 0 25px;
}

.row.item > div {
    width: 50%;
}

.minipicture {
    width: 127px;
    height: 100px;
    margin: auto;
    border-radius: 0 15px !important;
}

.item_introduce {
    height: 585px;
    margin: 15px 0;
}

.message_title span {
    font-size: 18pt;
    margin: auto;
}
.info {
    display: grid;
}

.containerx {
    width: 1159px;
    margin: auto;
}

span.delivery img {
    width: 30px;
}

span.title {
    font-size: 1.6rem;
    font-weight: bold;
}

.info {
    display: grid;
    padding-left: 50px;
}

.containerx {width: 1159px;margin: auto;}

span.title_vice {
    font-size: 1rem;
}

span.title_vice {
    font-weight: bold;
}

span.HighLight {
    color: orange;
    font-size: 1.6rem;
    font-weight: bold;
}

span.price_o {
    font-weight: bold;
}

.type_icon img {
    width: 30px;
}

span.delivery {
    text-align: center;
    word-spacing: 3rem;
}

.type_icon img {
    margin-right: 5rem;
}

.photo img.heart {
    position: absolute;
    top: 1rem;
    right: 3rem;
    margin: 0px;
    width: 50px;
}

.photo img {
    width: 70px;
    margin-right: 6rem;
}

span.user_info .photo {
    display: contents;
}

span.user_info {
    word-spacing: 5rem;
}

span.payment {
    text-align-last: justify;
}

.row.minipictures {
    max-width: 577px;
    margin-top: 10px;
}

.rent_day img {
    width: 30px;
        vertical-align: bottom;
}

.rent_day {
    position: absolute;
    left: 13rem;
    top: 11rem;
}

.row.item {
    margin-top: 50px;
    margin-bottom: 30px;
}

img.thumbsup {
    width: 30px;
    vertical-align: text-bottom;
}

span.heart {
    position: absolute;
    right: 1rem;
    top: 0px;
    display: flex;
}

span.heart img {
    width: 1.6rem;
}

.row.message_title {
    margin: 30px 0;
    margin-top: 50px;
}

.row.arranged.border {
    height: 6rem;
    margin-bottom: 150px;
}

.row.arranged.border .user {
    width: 12%;
    text-align: center;
    color: #96c237;
    font-weight: bold;
}

.row.arranged.border .command, .row.arranged.border label.line, .row.arranged.border .user{
  margin: auto 0;
}

.row.arranged.border .command {
    text-align: start;
    padding-left: 3%;
}

.row.arranged.border label.line {
    border: 3px solid #96c237;
    height: 60%;

}
#Rectangle_2498 {
  fill: rgba(246,246,246,1);
}
.Rectangle_2498 {
  position: absolute;
  overflow: visible;
  width: 996px;
  height: 111px;
  left: 142px;
  top: 143px;
}
#Path_1 {
  fill: rgba(147,182,35,1);
}
.Path_1 {
  overflow: visible;
  position: absolute;
  width: 1280px;
  height: 109.296px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_1 {
  fill: transparent;
  stroke: rgba(142,142,143,1);
  stroke-width: 0.8500000238418579px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Line_1 {
  overflow: visible;
  position: absolute;
  width: 0.85px;
  height: 14.76px;
  left: 1002.93px;
  top: 47.304px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
  fill: rgba(255,255,255,1);
}
.Path_2 {
  overflow: visible;
  position: absolute;
  width: 27.521px;
  height: 14.256px;
  left: 967.28px;
  top: 47.52px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
  fill: rgba(255,255,255,1);
}
.Path_3 {
  overflow: visible;
  position: absolute;
  width: 27.585px;
  height: 14.184px;
  left: 1011.955px;
  top: 47.52px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
  fill: rgba(255,255,255,1);
}
.Path_11 {
  overflow: visible;
  position: absolute;
  width: 20.025px;
  height: 22.536px;
  left: 875.268px;
  top: 36.792px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_12 {
  fill: rgba(255,255,255,1);
}
.Path_12 {
  overflow: visible;
  position: absolute;
  width: 6.592px;
  height: 7.416px;
  left: 890.156px;
  top: 53.496px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
  fill: rgba(255,255,255,1);
}
.Path_13 {
  overflow: visible;
  position: absolute;
  width: 13.366px;
  height: 14.964px;
  left: 893.856px;
  top: 57.585px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_14 {
  fill: rgba(255,255,255,1);
}
.Path_14 {
  overflow: visible;
  position: absolute;
  width: 114.182px;
  height: 34.848px;
  left: 433.686px;
  top: 37.728px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_15 {
  fill: rgba(255,255,255,1);
}
.Path_15 {
  overflow: visible;
  position: absolute;
  width: 148.231px;
  height: 34.848px;
  left: 706.403px;
  top: 37.728px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_16 {
  fill: rgba(255,255,255,1);
}
.Path_16 {
  overflow: visible;
  position: absolute;
  width: 114.182px;
  height: 34.848px;
  left: 569.756px;
  top: 37.728px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_18 {
  fill: rgba(95,94,94,1);
}
.Path_18 {
  overflow: visible;
  position: absolute;
  width: 95.941px;
  height: 15.984px;
  left: 733.093px;
  top: 47.16px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_19 {
  fill: rgba(255,255,255,1);
}
.Path_19 {
  overflow: visible;
  position: absolute;
  width: 114.182px;
  height: 34.848px;
  left: 297.167px;
  top: 37.728px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_933 {
  position: absolute;
  width: 27.138px;
  height: 32.76px;
  left: 1113.08px;
  top: 41.544px;
  overflow: visible;
}
#Path_21 {
  fill: rgba(255,255,255,1);
}
.Path_21 {
  overflow: visible;
  position: absolute;
  width: 23.169px;
  height: 22.392px;
  left: 1.537px;
  top: 5.184px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
  fill: rgba(255,255,255,1);
}
.Path_22 {
  overflow: visible;
  position: absolute;
  width: 10.497px;
  height: 11.808px;
  left: 16.641px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_23 {
  fill: rgba(255,255,255,1);
}
.Path_23 {
  overflow: visible;
  position: absolute;
  width: 10.497px;
  height: 11.736px;
  left: 16.641px;
  top: 21.024px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_24 {
  fill: rgba(255,255,255,1);
}
.Path_24 {
  overflow: visible;
  position: absolute;
  width: 10.497px;
  height: 11.808px;
  left: 0px;
  top: 10.512px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_25 {
  fill: rgba(255,255,255,1);
}
.Path_25 {
  overflow: visible;
  position: absolute;
  width: 39.81px;
  height: 3.888px;
  left: 1173.115px;
  top: 42.12px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_26 {
  fill: rgba(255,255,255,1);
}
.Path_26 {
  overflow: visible;
  position: absolute;
  width: 39.81px;
  height: 3.888px;
  left: 1173.115px;
  top: 69.048px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_27 {
  fill: rgba(255,255,255,1);
}
.Path_27 {
  overflow: visible;
  position: absolute;
  width: 39.81px;
  height: 3.888px;
  left: 1173.115px;
  top: 55.584px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_605 {
  position: absolute;
  width: 157.976px;
  height: 51.912px;
  left: 65.731px;
  top: 28.728px;
  overflow: visible;
}
#Path_4 {
  fill: rgba(255,255,255,1);
}
.Path_4 {
  overflow: visible;
  position: absolute;
  width: 85.204px;
  height: 29.304px;
  left: 72.771px;
  top: 11.304px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
  fill: rgba(255,255,255,1);
}
.Path_5 {
  overflow: visible;
  position: absolute;
  width: 22.082px;
  height: 24.768px;
  left: 47.746px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
  fill: rgba(255,255,255,1);
}
.Path_6 {
  overflow: visible;
  position: absolute;
  width: 14.361px;
  height: 14.976px;
  left: 51.626px;
  top: 4.896px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
  fill: rgba(255,255,255,1);
}
.Path_7 {
  overflow: visible;
  position: absolute;
  width: 22.082px;
  height: 24.84px;
  left: 47.746px;
  top: 27.072px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
  fill: rgba(255,255,255,1);
}
.Path_8 {
  overflow: visible;
  position: absolute;
  width: 14.104px;
  height: 15.036px;
  left: 51.755px;
  top: 31.962px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_9 {
  fill: rgba(255,255,255,1);
}
.Path_9 {
  overflow: visible;
  position: absolute;
  width: 45.187px;
  height: 51.552px;
  left: 0px;
  top: 0.144px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
  fill: rgba(255,255,255,1);
}
.Path_10 {
  overflow: visible;
  position: absolute;
  width: 9.793px;
  height: 12.024px;
  left: 35.394px;
  top: 19.872px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1 {
  fill: rgba(0,0,0,0);
}
.Rectangle_1 {
  position: absolute;
  overflow: visible;
  width: 1280px;
  height: 109.296px;
  left: 0px;
  top: 0px;
}
#Group_13 {
  position: absolute;
  width: 1280px;
  height: 127.656px;
  left: 0px;
  top: 2272px;
  overflow: visible;
}
#Group_12 {
  position: absolute;
  width: 1280px;
  height: 127.656px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
# {
  left: 325px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(126,126,126,1);
}
#_bw {
  left: 596px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(126,126,126,1);
}
#_bx {
  left: 459px;
  top: 40px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(126,126,126,1);
}
#_3 {
  left: 672px;
  top: 293px;
  position: absolute;
  overflow: visible;
  width: 188px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(0,0,0,1);
}
#_bz {
  left: 684px;
  top: 1033px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#_b {
  left: 685px;
  top: 1096px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#_ca {
  left: 685px;
  top: 1160px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#_cb {
  left: 685px;
  top: 1223px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#Group_931 {
  position: absolute;
  width: 48px;
  height: 68px;
  left: 691px;
  top: 167px;
  overflow: visible;
}
#Places {
  position: absolute;
  width: 26px;
  height: 28.824px;
  left: 11px;
  top: 0px;
  overflow: visible;
}
#Rectangle_305 {
  fill: transparent;
}
.Rectangle_305 {
  position: absolute;
  overflow: visible;
  width: 26px;
  height: 26px;
  left: 0px;
  top: 0px;
}
#Path_114 {
  fill: rgba(94,94,94,1);
}
.Path_114 {
  overflow: visible;
  position: absolute;
  width: 22.502px;
  height: 27.309px;
  left: 1.814px;
  top: 1.515px;
  transform: matrix(1,0,0,1,0,0);
}
#_cc {
  left: 0px;
  top: 47px;
  position: absolute;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(94,94,94,1);
}
#_cd {
  left: 368px;
  top: 154px;
  position: absolute;
  overflow: visible;
  width: 52px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: rgba(0,0,0,1);
}
#Rectangle_2449 {
  position: absolute;
  width: 546px;
  height: 469px;
  left: 81px;
  top: 297px;
  overflow: visible;
}
#Repeat_Grid_9 {
  position: absolute;
  width: 551px;
  height: 103px;
  left: 82px;
  top: 780px;
  overflow: hidden;
}
#Repeat_Grid_9_0 {
  position: absolute;
  width: 120px;
  height: 103px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_2450 {
  position: absolute;
  width: 120px;
  height: 103px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Repeat_Grid_9_1 {
  position: absolute;
  width: 120px;
  height: 103px;
  left: 142px;
  top: 0px;
  overflow: visible;
}
#Rectangle_2450_ce {
  position: absolute;
  width: 120px;
  height: 103px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Repeat_Grid_9_2 {
  position: absolute;
  width: 120px;
  height: 103px;
  left: 284px;
  top: 0px;
  overflow: visible;
}
#Rectangle_2450_cg {
  position: absolute;
  width: 120px;
  height: 103px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Repeat_Grid_9_3 {
  position: absolute;
  width: 120px;
  height: 103px;
  left: 426px;
  top: 0px;
  overflow: visible;
}
#Rectangle_2450_ci {
  position: absolute;
  width: 120px;
  height: 103px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Line_92 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_92 {
  overflow: visible;
  position: absolute;
  width: 537px;
  height: 1px;
  left: 672.5px;
  top: 342.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_81 {
  fill: rgba(255,0,35,1);
  stroke: rgba(0,0,0,0);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_81 {
  overflow: visible;
  position: absolute;
  width: 21.005px;
  height: 18.113px;
  left: 1163.661px;
  top: 314.519px;
  transform: matrix(1,0,0,1,0,0);
}
#ID38 {
  left: 1187px;
  top: 312px;
  position: absolute;
  overflow: visible;
  width: 23px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Group_848 {
  position: absolute;
  width: 532px;
  height: 67px;
  left: 678px;
  top: 806px;
  overflow: visible;
}
#Rectangle_2455 {
  fill: rgba(255,0,0,1);
}
.Rectangle_2455 {
  position: absolute;
  overflow: visible;
  width: 532px;
  height: 67px;
  left: 0px;
  top: 0px;
}
#Group_847 {
  position: absolute;
  width: 196px;
  height: 52px;
  left: 542px;
  top: 2116px;
  overflow: visible;
  cursor: pointer;
}
#Rectangle_2451 {
  fill: rgba(147,182,35,1);
}
.Rectangle_2451 {
  position: absolute;
  overflow: visible;
  width: 196px;
  height: 52px;
  left: 0px;
  top: 0px;
}
#_cq {
  left: 81px;
  top: 11px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,255,255,1);
}
#Line_93 {
  fill: transparent;
  stroke: rgba(190,190,190,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_93 {
  overflow: visible;
  position: absolute;
  width: 1147px;
  height: 1px;
  left: 65.5px;
  top: 915.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_98 {
  fill: transparent;
  stroke: rgba(190,190,190,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_98 {
  overflow: visible;
  position: absolute;
  width: 1147px;
  height: 1px;
  left: 65.5px;
  top: 1591.5px;
  transform: matrix(1,0,0,1,0,0);
}
#_ct {
  left: 584px;
  top: 949px;
  position: absolute;
  overflow: visible;
  width: 113px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: rgba(0,0,0,1);
}
#Line_94 {
  fill: transparent;
  stroke: rgba(190,190,190,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_94 {
  overflow: visible;
  position: absolute;
  width: 440px;
  height: 1px;
  left: 684.5px;
  top: 1075.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_95 {
  fill: transparent;
  stroke: rgba(190,190,190,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_95 {
  overflow: visible;
  position: absolute;
  width: 440px;
  height: 1px;
  left: 681.5px;
  top: 1143.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_96 {
  fill: transparent;
  stroke: rgba(190,190,190,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_96 {
  overflow: visible;
  position: absolute;
  width: 440px;
  height: 1px;
  left: 685.5px;
  top: 1207.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_97 {
  fill: transparent;
  stroke: rgba(190,190,190,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_97 {
  overflow: visible;
  position: absolute;
  width: 440px;
  height: 1px;
  left: 690.5px;
  top: 1270.5px;
  transform: matrix(1,0,0,1,0,0);
}
#DOLOMITI_6__3__210_________ {
  left: 82px;
  top: 1036px;
  position: absolute;
  overflow: visible;
  width: 523px;
  /* white-space: nowrap; */
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#DOLOMITI_ {
  left: 842px;
  top: 1035px;
  position: absolute;
  overflow: visible;
  width: 93px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#DOLOMITI_-3ppl {
  left: 842px;
  top: 1099px;
  position: absolute;
  overflow: visible;
  width: 133px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#ID34 {
  left: 842px;
  top: 1164px;
  position: absolute;
  overflow: visible;
  width: 50px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#ID35x_75 {
  left: 842px;
  top: 1223px;
  position: absolute;
  overflow: visible;
  width: 105px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#Rectangle_2456 {
  fill: rgba(255,255,255,1);
  stroke: rgba(147,182,35,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_2456 {
  position: absolute;
  overflow: visible;
  width: 798px;
  height: 164px;
  left: 241px;
  top: 1942px;
}
#Group_920 {
  position: absolute;
  width: 149px;
  height: 43px;
  left: 566px;
  top: 1616px;
  overflow: visible;
}
#Image_1 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 0px;
  top: 3px;
  overflow: visible;
}
#_c {
  left: 53px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 97px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: rgba(0,0,0,1);
}
#Line_113 {
  fill: transparent;
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_113 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 74px;
  left: 569.5px;
  top: 161.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_930 {
  position: absolute;
  width: 32px;
  height: 66px;
  left: 858px;
  top: 169px;
  overflow: visible;
}
#_da {
  left: 0px;
  top: 45px;
  position: absolute;
  overflow: visible;
  width: 33px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(94,94,94,1);
}
#ID5 {
  left: 8px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 17px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgba(94,94,94,1);
}
#Group_929 {
  position: absolute;
  width: 64px;
  height: 66px;
  left: 1008px;
  top: 170px;
  overflow: visible;
}
#_dc {
  left: 0px;
  top: 45px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(94,94,94,1);
}
#ID103 {
  left: 9px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 48px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgba(94,94,94,1);
}
#Rectangle_2499 {
  position: absolute;
  width: 139px;
  height: 91px;
  left: 202px;
  top: 152px;
  overflow: visible;
}
#Group_932 {
  position: absolute;
  width: 90px;
  height: 30px;
  left: 466px;
  top: 184px;
  overflow: visible;
}
#Rectangle_2500 {
  fill: rgba(147,182,35,1);
}
.Rectangle_2500 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 108px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#_dh {
  left: 25px;
  top: 1px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,255,255,1);
}
#Group_936 {
  position: absolute;
  width: 286.932px;
  height: 37.707px;
  left: 817.068px;
  top: 821px;
  overflow: visible;
}
#_-_20201208 {
  left: 48.932px;
  top: 5.707px;
  position: absolute;
  overflow: visible;
  width: 239px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,255,255,1);
}
#sharing_icon {
  position: absolute;
  width: 37.707px;
  height: 37.707px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_14 {
  position: absolute;
  width: 37.707px;
  height: 37.707px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_934 {
  position: absolute;
  width: 14.497px;
  height: 17.5px;
  left: 1131.08px;
  top: 314px;
  overflow: visible;
}
#Path_21_dn {
  fill: rgba(147,182,35,1);
}
.Path_21_dn {
  overflow: visible;
  position: absolute;
  width: 12.363px;
  height: 11.925px;
  left: 0.826px;
  top: 2.788px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_22_do {
  fill: rgba(147,182,35,1);
}
.Path_22_do {
  overflow: visible;
  position: absolute;
  width: 5.645px;
  height: 6.35px;
  left: 8.852px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_23_dp {
  fill: rgba(147,182,35,1);
}
.Path_23_dp {
  overflow: visible;
  position: absolute;
  width: 5.645px;
  height: 6.311px;
  left: 8.852px;
  top: 11.189px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_24_dq {
  fill: rgba(147,182,35,1);
}
.Path_24_dq {
  overflow: visible;
  position: absolute;
  width: 5.644px;
  height: 6.35px;
  left: 0px;
  top: 5.594px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2452 {
  fill: rgba(246,246,246,1);
}
.Rectangle_2452 {
  position: absolute;
  overflow: visible;
  width: 532px;
  height: 76px;
  left: 675px;
  top: 451px;
}
#Rectangle_2495 {
  fill: rgba(255,255,255,1);
}
.Rectangle_2495 {
  position: absolute;
  overflow: visible;
  width: 532px;
  height: 76px;
  left: 675px;
  top: 375px;
}
#_dt {
  left: 917px;
  top: 402px;
  position: absolute;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(0,0,0,1);
}
#_du {
  left: 917px;
  top: 478px;
  position: absolute;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(0,0,0,1);
}
#_dv {
  left: 684px;
  top: 402px;
  position: absolute;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(0,0,0,1);
}
#ID5000 {
  left: 766px;
  top: 404px;
  position: absolute;
  overflow: visible;
  width: 48px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(0,0,0,1);
}
#Rectangle_2495_dx {
  fill: rgba(255,255,255,1);
}
.Rectangle_2495_dx {
  position: absolute;
  overflow: visible;
  width: 532px;
  height: 117px;
  left: 675px;
  top: 527px;
}
#Rectangle_2501 {
  fill: rgba(246,246,246,1);
}
.Rectangle_2501 {
  position: absolute;
  overflow: visible;
  width: 532px;
  height: 117px;
  left: 675px;
  top: 644px;
}
#_dz {
  left: 684px;
  top: 478px;
  position: absolute;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(0,0,0,1);
}
#ID5000_d {
  left: 766px;
  top: 480px;
  position: absolute;
  overflow: visible;
  width: 48px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(0,0,0,1);
}
#Group_945 {
  position: absolute;
  width: 218px;
  height: 22px;
  left: 985px;
  top: 402px;
  overflow: visible;
}
#Group_923 {
  position: absolute;
  width: 218px;
  height: 22px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#ID5_d {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 27px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: rgba(147,182,35,1);
}
#ID10 {
  left: 57px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(126,126,126,1);
}
#ID15 {
  left: 122px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(126,126,126,1);
}
#ID30 {
  left: 182px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 37px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(126,126,126,1);
}
#_d {
  left: 684px;
  top: 548px;
  position: absolute;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(0,0,0,1);
}
#Group_949 {
  position: absolute;
  width: 38px;
  height: 24px;
  left: 756px;
  top: 553px;
  overflow: visible;
}
#ATM {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 39px;
  white-space: nowrap;
  text-align: left;
  font-family: Calibri;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  color: rgba(126,126,126,1);
}
#Group_964 {
  position: absolute;
  width: 58px;
  height: 24px;
  left: 832px;
  top: 553px;
  overflow: visible;
}
#_eb {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 59px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  color: rgba(126,126,126,1);
}
#Group_953 {
  position: absolute;
  width: 772px;
  height: 151.5px;
  left: 254px;
  top: 1684px;
  overflow: visible;
}
#Ellipse_54 {
  position: absolute;
  width: 58px;
  height: 58px;
  left: 0px;
  top: 80px;
  overflow: visible;
}
#Ellipse_50 {
  position: absolute;
  width: 58px;
  height: 58px;
  left: 706px;
  top: 0px;
  overflow: visible;
}
#_ef {
  left: 574px;
  top: 16px;
  position: absolute;
  overflow: visible;
  width: 112px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#_eg {
  left: 73px;
  top: 99px;
  position: absolute;
  overflow: visible;
  width: 73px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Line_99 {
  fill: transparent;
  stroke: rgba(190,190,190,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_99 {
  overflow: visible;
  position: absolute;
  width: 769.5px;
  height: 1px;
  left: 2.5px;
  top: 67.5px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_100 {
  fill: transparent;
  stroke: rgba(190,190,190,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_100 {
  overflow: visible;
  position: absolute;
  width: 771px;
  height: 1px;
  left: 0.5px;
  top: 151.5px;
  transform: matrix(1,0,0,1,0,0);
}
#ID2020-11-12 {
  left: 3px;
  top: 43px;
  position: absolute;
  overflow: visible;
  width: 87px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(190,190,190,1);
}
#ID2020-11-12_ek {
  left: 685px;
  top: 132px;
  position: absolute;
  overflow: visible;
  width: 87px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(190,190,190,1);
}
#_el {
  left: 684px;
  top: 670px;
  position: absolute;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(0,0,0,1);
}
#store-alt-solid {
  fill: rgba(126,126,126,1);
}
.store-alt-solid {
  overflow: visible;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 739px;
  top: 718px;
  transform: matrix(1,0,0,1,0,0);
}
#_en {
  left: 758px;
  top: 672px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
}
#face-smile {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 739px;
  top: 673px;
  overflow: visible;
}
#face-smile_ep {
  fill: rgba(126,126,126,1);
}
.face-smile_ep {
  overflow: visible;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_954 {
  position: absolute;
  width: 81.523px;
  height: 19px;
  left: 843px;
  top: 672px;
  overflow: visible;
}
#_er {
  left: 18px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
}
#shipping-fast-solid {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0px;
  top: 1px;
  overflow: visible;
}
#shipping-fast-solid_et {
  fill: rgba(126,126,126,1);
}
.shipping-fast-solid_et {
  overflow: visible;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#ID100 {
  left: 49.523px;
  top: 1px;
  position: absolute;
  overflow: visible;
  width: 33px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
  letter-spacing: 0.24px;
}
#Group_941 {
  position: absolute;
  width: 60.648px;
  height: 16.2px;
  left: 785px;
  top: 719px;
  overflow: visible;
}
#ID7-11 {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 28px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
}
#ID60 {
  left: 36.648px;
  top: 0.2px;
  position: absolute;
  overflow: visible;
  width: 25px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
  letter-spacing: 0.24px;
}
#Group_942 {
  position: absolute;
  width: 60.648px;
  height: 19px;
  left: 886px;
  top: 716px;
  overflow: visible;
}
#Group_956 {
  position: absolute;
  width: 60.648px;
  height: 19px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#_e {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
}
#ID60_e {
  left: 36.648px;
  top: 2px;
  position: absolute;
  overflow: visible;
  width: 25px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
  letter-spacing: 0.24px;
}
#Group_943 {
  position: absolute;
  width: 77.648px;
  height: 19px;
  left: 986px;
  top: 716px;
  overflow: visible;
}
#_fa {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 43px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
}
#ID60_fa {
  left: 53.648px;
  top: 2px;
  position: absolute;
  overflow: visible;
  width: 25px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
  letter-spacing: 0.24px;
}
#Group_955 {
  position: absolute;
  width: 84.648px;
  height: 16px;
  left: 1104px;
  top: 719px;
  overflow: visible;
}
#OK_Mart {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 53px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
}
#ID60_fb {
  left: 60.648px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 25px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
  letter-spacing: 0.24px;
}
#Group_939 {
  position: absolute;
  width: 84.891px;
  height: 19.092px;
  left: 965px;
  top: 671px;
  overflow: visible;
}
#_fb {
  left: 24px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
}
#ID100_fa {
  left: 52.891px;
  top: 2.894px;
  position: absolute;
  overflow: visible;
  width: 33px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(126,126,126,1);
  letter-spacing: 0.24px;
}
#Group_937 {
  position: absolute;
  width: 20.531px;
  height: 17px;
  left: 0px;
  top: 2.092px;
  overflow: visible;
}
#Path_20975 {
  fill: rgba(147,182,35,1);
  stroke: rgba(126,126,126,1);
  stroke-width: 0.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_20975 {
  overflow: visible;
  position: absolute;
  width: 20.766px;
  height: 4.253px;
  left: 0px;
  top: 0.001px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_20976 {
  fill: rgba(147,182,35,1);
  stroke: rgba(126,126,126,1);
  stroke-width: 0.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_20976 {
  overflow: visible;
  position: absolute;
  width: 13.746px;
  height: 13.746px;
  left: 0px;
  top: 3.754px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_20977 {
  fill: rgba(147,182,35,1);
  stroke: rgba(126,126,126,1);
  stroke-width: 0.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_20977 {
  overflow: visible;
  position: absolute;
  width: 7.785px;
  height: 17.906px;
  left: 13.246px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_20978 {
  fill: rgba(147,182,35,1);
  stroke: rgba(126,126,126,1);
  stroke-width: 0.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Path_20978 {
  overflow: visible;
  position: absolute;
  width: 3.027px;
  height: 3.642px;
  left: 14.146px;
  top: 3.495px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_114 {
  fill: transparent;
  stroke: rgba(126,126,126,1);
  stroke-width: 0.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.Line_114 {
  overflow: visible;
  position: absolute;
  width: 13.136px;
  height: 0.5px;
  left: 3.209px;
  top: 2.039px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_960 {
  position: fixed;
    width: 74.001px;
    height: 63.688px;
    right: 6%;
    bottom: 5%;
    overflow: visible;
    z-index: 9;
    cursor: pointer;
}
#Union_3 {
  fill: rgba(147,182,35,1);
}
.Union_3 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  overflow: visible;
  position: absolute;
  width: 92px;
  height: 81.688px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#_fj {
  left: 17px;
  top: 17px;
  position: absolute;
  overflow: visible;
  width: 40px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: rgba(255,255,255,1);
}
#ID2020120820201212 {
  left: 1016px;
  top: 482px;
  position: absolute;
  overflow: visible;
  width: 149px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(147,182,35,1);
}
#Component_159__1 {
  position: absolute;
  width: 17.77px;
  height: 16.466px;
  left: 989px;
  top: 481px;
  overflow: visible;
}
#Group_288 {
  position: absolute;
  width: 17.77px;
  height: 16.466px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_1596 {
  fill: transparent;
}
.Rectangle_1596 {
  position: absolute;
  overflow: visible;
  width: 12px;
  height: 12px;
  left: 2px;
  top: 1.8px;
}
#Component_274__2 {
  position: absolute;
  width: 17.77px;
  height: 16.466px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_1577 {
  fill: transparent;
  stroke: rgba(147,182,35,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1577 {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 0px;
  top: 1.8px;
}
#Line_39 {
  fill: transparent;
  stroke: rgba(147,182,35,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_39 {
  overflow: visible;
  position: absolute;
  width: 3px;
  height: 5.928px;
  left: 5.066px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_40 {
  fill: transparent;
  stroke: rgba(147,182,35,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_40 {
  overflow: visible;
  position: absolute;
  width: 3px;
  height: 5.928px;
  left: 12.948px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_701 {
  fill: transparent;
  stroke: rgba(147,182,35,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_701 {
  overflow: visible;
  position: absolute;
  width: 10.492px;
  height: 10.738px;
  left: 6.193px;
  top: 6.305px;
  transform: matrix(1,0,0,1,0,0);
}
#___ {
  left: 1140px;
  top: 2197px;
  position: absolute;
  overflow: visible;
  width: 127px;
  white-space: nowrap;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: rgba(255,0,0,1);
  letter-spacing: 0.24px;
}
#line_pay {
  position: absolute;
  width: 74px;
  height: 27px;
  left: 913px;
  top: 554px;
  overflow: visible;
}
#google_pay {
  position: absolute;
  width: 74px;
  height: 27px;
  left: 1007px;
  top: 554px;
  overflow: visible;
}
#apple_pay {
  position: absolute;
  width: 74px;
  height: 27px;
  left: 1101px;
  top: 554px;
  overflow: visible;
}
#Group_965 {
  position: absolute;
  width: 354px;
  height: 27px;
  left: 736px;
  top: 601px;
  overflow: visible;
}
#ID7-11_fy {
  position: absolute;
  width: 74px;
  height: 27px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#familyMart {
  position: absolute;
  width: 74px;
  height: 27px;
  left: 94px;
  top: 0px;
  overflow: visible;
}
#Hi-life {
  position: absolute;
  width: 74px;
  height: 27px;
  left: 186px;
  top: 0px;
  overflow: visible;
}
#okMart {
  position: absolute;
  width: 74px;
  height: 27px;
  left: 280px;
  top: 0px;
  overflow: visible;
}
