.picture {
    height: 392px;
    width: 557px;
    margin: 10px;
}

.border {
    border: 3px solid #96c237 !important;
    border-radius: 0 25px;
}

.row.item > div {
    width: 50%;
}

.minipicture {
    width: 127px;
    height: 100px;
    margin: auto;
    border-radius: 0 15px !important;
}

.item_introduce {
    height: 585px;
    margin: 15px 0;
}

.message_title span {
    font-size: 18pt;
    margin: auto;
}
.info {
    display: grid;
}

.containerx {
    width: 1159px;
    margin: auto;
}

span.delivery img {
    width: 30px;
}

span.title {
    font-size: 1.6rem;
    font-weight: bold;
}

.info {
    display: grid;
    padding-left: 50px;
}

.containerx {width: 1159px;margin: auto;}

span.title_vice {
    font-size: 1rem;
}

span.title_vice {
    font-weight: bold;
}

span.HighLight {
    color: orange;
    font-size: 1.6rem;
    font-weight: bold;
}

span.price_o {
    font-weight: bold;
}

.type_icon img {
    width: 30px;
}

span.delivery {
    text-align: center;
    word-spacing: 3rem;
}

.type_icon img {
    margin-right: 5rem;
}

.photo img.heart {
    position: absolute;
    top: 1rem;
    right: 3rem;
    margin: 0px;
    width: 50px;
}

.photo img {
    width: 70px;
    margin-right: 6rem;
}

span.user_info .photo {
    display: contents;
}

span.user_info {
    word-spacing: 5rem;
}

span.payment {
    text-align-last: justify;
}

.row.minipictures {
    max-width: 577px;
    margin-top: 10px;
}

.rent_day img {
    width: 30px;
        vertical-align: bottom;
}

.rent_day {
    position: absolute;
    left: 13rem;
    top: 11rem;
}

.row.item {
    margin-top: 50px;
    margin-bottom: 30px;
}

img.thumbsup {
    width: 30px;
    vertical-align: text-bottom;
}

span.heart {
    position: absolute;
    right: 1rem;
    top: 0px;
    display: flex;
}

span.heart img {
    width: 1.6rem;
}

.row.message_title {
    margin: 30px 0;
    margin-top: 50px;
}

.row.arranged.border {
    height: 6rem;
    margin-bottom: 150px;
}

.row.arranged.border .user {
    width: 12%;
    text-align: center;
    color: #96c237;
    font-weight: bold;
}

.row.arranged.border .command, .row.arranged.border label.line, .row.arranged.border .user{
  margin: auto 0;
}

.row.arranged.border .command {
    text-align: start;
    padding-left: 3%;
}

.row.arranged.border label.line {
    border: 3px solid #96c237;
    height: 60%;

}
