#search_box_big .search_forms_wrap .county_city {
  cursor: pointer;
  min-width: 200px;
  height: 45px;
  max-width: calc(100% - 50%);
  padding: 5px 10px 5px 10px;
  margin: 10px 6px;
  color: #fff;
  font-size: 1.1em;
  line-height: 33px;
  font-weight: bold;
  text-align: center;
  border-radius: 0 10px;
  background: var(--main_color1);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#search_box_big .search_forms_wrap .county label {
  font-size: 1.1em;
  padding: 0 5px 0px 5px;
  line-height: 40px;
}

#search_box_big .search_forms_wrap .city label {
  font-size: 1.1em;
  padding: 0 5px 0px 5px;
  line-height: 40px;
}

#search_box_big .search_forms_wrap label {
  width: 170px;
  min-width: 8em;
  height: 45px;
  padding: 5px 10px 5px 60px;
  margin: 10px 6px;
  line-height: 33px;
  font-size: 1em;
  font-weight: initial;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 0 10px;
  position: relative;
}

#search_box_big .search_forms_wrap label img {
  width: 45px;
  margin: 0px auto 0px;
  position: absolute;
  top: 0px;
  left: 5px;
}

#search_box_big .search_forms_wrap label:hover {
  border: 1px solid var(--main_color1);
}

#search_box_big .search_forms_wrap spam.county,
#search_box_big .search_forms_wrap spam.city {
  display: inline-block;
}

#search_box_big .search_forms_wrap .county_div,
#search_box_big .search_forms_wrap .city_div {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 4px;
  border-radius: 3px;
  box-shadow: 0 0 10px #909090;
}

#search_box_big .search_forms_wrap input[type="checkbox"]:checked+label,
#search_box_big .search_forms_wrap input[type="radio"]:checked+label,
#search_box_big .search_forms_wrap label.options {
  border: 2px solid var(--main_color1);
  font-weight: bold;
  color: #333;
  background: unset;
}

.search_forms_wrap {
  box-shadow: 0px 6px 15px #aaa;
  width: 1200px;
  border-radius: 0px 30px;
  margin: 0px auto;
}

.searcounty_sch_content {
  padding: 50px 50px 50px 100px;
}

.search_div .search_input {
  width: calc(50% - 5em);
  position: absolute;
  right: 20%;
  top: 20px;
}

#search_box_big .search_forms_wrap .pattern {
  width: 400px;
  display: inline-block;
  position: relative;
  left: 62px;
}

#search_box_big .search_forms_wrap .pattern .search_table {
  display: table;
  width: 100%;
  position: absolute;
  top: -29px;
  left: -25px;
}

#search_box_big .search_forms_wrap .pattern .w150 {
  display: table-cell;
  vertical-align: middle;
  width: 150px;
  padding: 0px 0px 0px 10px;
}

#search_box_big .ui-widget.ui-widget-content {
  width: 65%;
}

.big_box .search_btn, .search_btn {
  border-radius: 0px 10px;
}

#search_box_big .search_forms_wrap input[type="number"] {
  height: 30px;
  vertical-align: top;
  margin-top: 7px;
  width: 110px;
  padding: 0px 0px 0px 10px;
  border: 1px solid #aaa;
  border-radius: 0px 10px;
}

.tag_div img {
  width: 35px;
}

.tag_div samp {
  margin: 0px 5px 10px;
}

.t_container.bot .rows_2, .t_container.bot .rows_3, .t_container.bot .rows_1 {
  margin-top: 10%;
}

.t_container.bot .rows_2 {
  margin-bottom: 80px;
}

.rows_3 {
  height: 50%;
  background: #f5f6f6;
}

.rows_1 {
  margin-top: 30px;
}

.t_container.bot {
  margin-bottom: : 10%;
}

.t_container.bot img {
  width: 100%;
}

.rows_1 .content, .rows_2 .content, .rows_3 .content, .rows_4 .content {
  margin-top: 1%;
  width: 100%;
  top: 0px;
}

.rows_1 .title_txt, .rows_2 .title_txt, .rows_3 .title_txt, .rows_4 .title_txt {
  color: #000;
  position: relative;
  height: 120px;
}

.content .title_txt span {
  /* color: #000;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  margin-top: 2%; */
}

.t_container.bot .heart {
  position: absolute;
  width: 20px;
  top: 0px;
  display: flex;
  right: 45px;
}

.t_container.bot .share_sicon {
  position: absolute;
  width: 20px;
  top: 0px;
  display: flex;
  right: 45px;
}

.content_frame {
  position: relative;
}

.news_row section.slider_center.slick-initialized.slick-slider {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-top: 5%;
}

section.slider_center.slick-initialized.slick-slider {
  height: 200px;
  margin-top: 150px;
}


section.slider_center.slick-initialized.slick-slider .list.slick-slide {
  /* margin: 0 2%; */
}

.item_price {
  display: flex;
}

.item_price .item_price {
  width: 50%;
}

.item_price .text-center {
  text-align: center;
  font-size: 16pt;
  margin: auto;
}

.item_price .text-center span {
  color: red;
}

.price_original {
  height: 16pt;
  margin: auto 0;
}

.price_original .out {
  color: red;
  text-decoration: line-through;
}

.price_original .in {
  color: #000;
}

.img_frame {
  margin-bottom: 10%;
}

.slick-initialized .slick-slide {
  padding: 0 10px;
}

.news_row>img {
  /* opacity: 0; */

  height: 600px;
  position: absolute;
    min-width: 1280px;
}

.title_txt img {
    position: absolute;
    min-width: 1280px;
}

.page_number {
  width: 100%;
  text-align: center;
  margin-top: -60px;
}

ul.row.p_name .r i {
    color: #ccc;
}

.share_sicon {
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: center;
}

.share_sicon img {
    width: 30px !important;
}

.heart {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
}

.heart i {
    color: #bbb;
}

.heart img {
    width: 45px;
}

.prodocu .photo {
  margin: auto;
}

.infor {}

.prodocu .infor .p_name li {
  display: inline-flex;
  width: 18%;
  /* background: #1db9b9; */
}

.prodocu .infor>ul li>li {
  width: 50%;
}

.prodocu .infor>ul ul {}

.prodocu .infor>ul {
  width: 100%;
  padding: 10px;
  margin: 0px;
}

.p_name {
    width: 100%;
    margin: auto;
}

.p_name li {}

.prodocu .infor {
  width: 60%;
}

.prodocu .infor .p_name li img {
    width: 30px;
    vertical-align: bottom;
}

.prodocu .infor .p_name li input {
    width: 80px;
    border: 0px;
}

.prodocu .photo img {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  border: 1px solid #cccccc96;
}

.prodocu .infor .p_name .l, .prodocu .infor .p_name .r {
  width: 12rem;
}

.prodocu .infor .p_name .r {
    text-align: right;
}

ul.row.row_0.p_name .l span, ul.row.row_0.p_name .c_r span {
  font-size: 14pt;
  font-weight: bold;
}

ul.row.p_name .l span, ul.row.p_name .r span {
  /* border-right: 1px solid #000; */
  line-height: 14pt;
  margin: auto;
  padding-right: 0pt;

  width: 100%;
}

ul.row.p_name span{
  font-size: 14pt;
}

ul.row.p_name .l span {
    text-align: start;
}

.prodocu .infor .p_name li span label {
    border: 1px solid #ccc;
    height: 8pt;
    margin: 0 4px;
}

ul.row.p_name li {
  height: 28pt;
}

span {}

.prodocu .infor .p_name li span {
  height: auto;
  margin: auto 0px;
}

ul.row.p_name .c_l span, ul.row.p_name .c_r span {
  /* padding-left: 5pt; */
}

.new .content .title {
    font-size: 18pt !important;
}
.new .content span {
    color: #000 !important;
}

.t_container.mid .process_3 .content {
  width: 90%;
  margin: auto;
  position: relative;
}

.t_container.mid .process_3 {
  text-align: center;
  margin-top: 5%;
}

.t_container.mid .process_3 .title_txt, .content .title_txt span {
  /* color: red;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 3%;
  text-align: center; */
}

.t_container.mid .process_3 .txt {
  top: 30%;
  font-size: 3rem;
  margin-top: 3%;
}

.t_container.mid .process_3 .txt span {
  font-size: 5rem;
  font-weight: bold;
}

.t_container.mid .process_3 .txt.c_1 {
  position: absolute;
  width: 33.33333333333333333%;
}

.t_container.mid .process_3 .txt.c_2 {
  position: absolute;
  left: 33.33333333333333333%;
  width: 33.33333333333333333%;
}

.t_container.mid .process_3 .txt.c_3 {
  position: absolute;
  left: 66.666666666666666666%;
  width: 33.33333333333333333%;
}

.display_content {
  width: 100%;
  margin: auto;
  overflow: hidden;
}





span.more {
  font-size: 13pt;
  padding: 60px;
}

.top_more {
  width: 100%;
  padding: 40px;
  padding-bottom: 0px;
}


.fn_bar a {
  color: #ccc;
}

.fn_bar {
  position: absolute;
  right: 5%;
  top: 5%;
  display: flex;
  width: 9em;
  font-size: 3rem;
  letter-spacing: 5px;
  color: #ccc;
}

.fn_bar svg {
  width: 4rem;
  margin-left: 12pt;
  fill: #ccc;
}


.t_container.mid img {
  width: 100%;
}

/* 2020.10.21 */

.prodocu .photo .p_broder {
    height: 250px;
    width: 250px;
    border: 3px solid #96c237;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 15px;
    background: #fff;
}

.new .p_broder {
    height: 142px;
    width: 250px;
    border: 3px solid #96c237;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 15px;
    margin: 10px 50px;
}


.links .slick-slide img {
    width: 80%;
}

.row {
    display: flex;
}

.rows_1 .content {
    /* margin-top: 40px; */
    width: 100%;
    top: 0px;
}

.rows_1 .content .news_row .content_ul li:nth-child(1) img {
    border-radius: 0 15px;
    width: 100%;
}

.rows_1 .content .news_row .content_ul {
    display: flex;
    width: 100%;
    margin: auto;
    top: 0%;
    position: absolute;
    padding: 0 10px;
    padding-right: 0px;
    margin-left: 10px;
}


li.content_li ul.content_1 {
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 20px 20px 0 0;
}
li.content_li ul li {
    border-radius: 20px 20px 0 0;
}

li.content_li ul li img {
    border-radius: 20px 20px 0 0;
}

li.content_li ul.content_1 .title {
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
}

li.content_li ul.content_1 .context {
    font-size: 11pt;
    padding: 10px;
}

ul.content_1 .R {
    text-align: right;
}
ul.content_1 .L {
    text-align: left;
}
ul.content_1 .sec_r {
    display: flex;
    margin: 10px;
}
ul.content_1 .sec_r div {
    width: 50%;
}

li.content_li {
    width: 100%;
    margin: 0 1%;
    background: #FFF;
    position: relative;
    border-radius: 20px 20px 0 0;
}

.content .title_txt span {
    color: #000;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    margin-top: 5%;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.rows_1 .title_txt {
    /* top: 10rem; */
}

.news_row {
    position: relative;
    height: 600px;
}

.rows_1 .content .news_row .content_ul .content_li li.thre_r {
    margin: 1rem;
}

.rows_1 .content .news_row .content_ul li.thre_r .title {
  font-size: 12pt;
font-weight: bold;
text-align: center;
}

.rows_1 .content .news_row .content_ul li.thre_r .context {
    font-size: 8pt;
    text-align: center;
    width: 15em;
}

.rows_1 .content .news_row .content_ul li.thre_r .more {
    text-align: start;
}

.rows_1 .content .news_row .content_ul li.thre_r .more a {
    color: red;
}

.rows_1 .news_row > span {
  position: absolute;
  bottom: 65px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 14pt;
}

a, a:hover, a:active, a:visited, a:focus, a:focus-within {
    text-decoration: none;
    color: #333 !important;
}

/*
.other_watching{
  margin-top: 50px !important;
}

.other_watching .content_li {
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-top: 30px !important;
}

.other_watching .content_li img {
    border-radius: 20px 20px 0 0;
}


.other_watching, .other_watching .content_li, .other_watching .content_li img, .left_mune .other_watching li,.other_watching .context {
    padding: 0px !important;
}

.other_watching li.content_li ul.content_1 {
    border: 0px;
} */



.other_watching li.content_li ul.content_1 .context{
    font-size: 9pt;
}

.other_watching li.content_li ul.content_1 .title{
  font-size: 13pt;
  font-weight: bold;
}

.other_watching li.content_li ul.content_1 .down_area{
  padding: 12px !important;
  line-height: 1.2em;
}

.rows_1.nobk .title_txt img {
    opacity: 0;
}

.rows_1.nobk .news_row > img {
    opacity: 0;
}

li.options.price_reg input {
    width: 46%;
    border: 0px;
    border-bottom: 1px solid #ccc;
}

.container, .container2{
  max-width: 100% !important;
}

footer {
    margin-top: 150px !important;
}
