:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
}

marquee {
    font-size: 2em;
    font-family: "HuaKangXiuFengTiFan-1";
}

.LilyHouse{
    display: none;
}

.fn_bar a{
    color: #ccc;
}

.fn_bar {
    position: absolute;
    right: 5%;
    top: 5%;
    display: flex;
    width: 9em;
    font-size: 3rem;
    letter-spacing: 5px;
    color: #ccc;
}

.fn_bar svg {
    width: 4rem;
    margin-left: 12pt;
    fill:#ccc;
}

span.more {
    font-size: 13pt;
    padding: 60px;
}

.top_more {
    width: 100%;
    padding: 40px;
}

.t_container.bot {
    width: 1280px;
    margin: auto;
}

.t_container.bot {
    margin-top: 0px !important;
}

.t_container.mid .process_3 .content {
    width: 90%;
    margin: auto;
    position: relative;
}

.t_container.mid .process_3 {
    text-align: center;
    margin-top: 5%;

}

.t_container.mid .process_3 .title_txt,.content .title_txt span {
    color: #96c237;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3%;
    text-align: center;
}

.t_container.mid .process_3 .txt {
    top: 30%;
    font-size: 3rem;
    margin-top: 3%;
}

.t_container.mid .process_3 .txt span {

    font-size: 5rem;
    font-weight: bold;
}

.t_container.mid .process_3 .txt.c_1 {
    position: absolute;

    width: 33.33%;

}

.t_container.mid .process_3 .txt.c_2 {
    position: absolute;

    left: 33.33%;
    width: 33.33%;

}

.t_container.mid .process_3 .txt.c_3 {
    position: absolute;

    left: 66.67%;
    width: 33.33%;

}

.display_content {
    width: 100%;
    margin: auto;
}


.t_container.bot .rows_1,.t_container.bot .rows_2,.t_container.bot .rows_3,.t_container.bot .rows_4 {
    margin-top: 10%;
}

.t_container.bot .rows_2 {
    margin-bottom: 80px;
}

.rows_2 {
    margin: 50px 0;
}

.rows_3 {
    height: 50%;
    background: #dededc;
}

.rows_4 {
    height: 80%;

}

.t_container.bot {
    margin-bottom:  10%;
}


.t_container.bot img{
    width: 100%;
}


.rows_1 .content,.rows_2 .content,.rows_3 .content,.rows_4 .content {
    margin-top: 1%;
    width: 100%;
    top: 0px;
}

.rows_1 .title_txt,.rows_2 .title_txt,.rows_3 .title_txt,.rows_4 .title_txt{
    color: #000;
    position: relative;
}

.content .title_txt span{
    color: #000;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    margin-top: 2%;
}

.t_container.bot .heart {
    position: absolute;
    width: 20px;
    top: 0px;
    display: flex;
    right: 45px;
}

.content_frame {
    position: relative;
}

.news_row section.slider_center.slick-initialized.slick-slider {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-top: 5%;
}

section.slider_center.slick-initialized.slick-slider {
    height: 150px;
}

.news_row {
    position: relative;
}

section.slider_center.slick-initialized.slick-slider .list.slick-slide {
    /* margin: 0 2%; */
}

.item_price {
    display: flex;
}

.item_price .item_price {
    width: 50%;
}

.item_price .text-center {
    text-align: center;
    font-size: 16pt;
    margin: auto;
}

.item_price .text-center span {
    color: #96c237;
}

.price_original {
    height: 16pt;
    margin: auto 0;
}

.price_original .out {
    color: #96c237;
    text-decoration: line-through;
}

.price_original .in {
    color: #000;

}

.img_frame {
    margin-bottom: 10%;
}

.slick-initialized .slick-slide {
    padding: 0 10px;
}

.title_txt img {
    opacity: 0;
}

.news_row > img {
    opacity: 0;
}

.page_number {
    width: 100%;
    text-align: center;
    margin-top: -60px;
}

/* 2020.10.20 */
ul.slick-dots {
    bottom: 0px;
}

.slick-dots {
    counter-reset: my-awesome-counter;
}

.slick-dots li {
    counter-increment: my-awesome-counter;
    margin: 10px;
}


.slick-dots li:last-child button:before {
content: counter(my-awesome-counter) "" !important;
}


.slick-dots li button:before {
    content: counter(my-awesome-counter) " ‧" !important;
    font-size: 14pt;
    font-weight: bold;

}

.slick-dots li button:before {
    font-size: 20px !important;
}

.slick-slide .infor .p_name li {
  display: inline-flex;
      margin-left: 0px;
  /* width: 18%; */
  /* background: #1db9b9; */
}

.slick-slide .infor>ul li>li {
  width: 50%;
}

.slick-slide .infor>ul ul {
  margin: 10px 0 !important;
    padding: 0px;
    display: block;
}

.slick-slide .infor>ul {
  width: 100%;
  padding: 0px;
  margin-top: 30px;
}

.slick-slide img{
  width: 100%;
}

.p_name {
  width: 100%;
}

.slick-slide .infor {
  width: 100%;
}

.slick-slide .infor .p_name li span {
    height: auto;
    margin: auto 0;
}
ul.row.p_name .l span, ul.row.p_name .r span {
  border-right: 1px solid #0000002e;
  line-height: 8pt;
  margin: auto;
  padding-right: 2pt;
}

ul.row.p_name .c_l span, ul.row.p_name .c_r span {
  padding-left: 0pt;
overflow: hidden;
height: 14pt !important;
margin-bottom: 8pt !important;
}

ul.row.p_name .l span, ul.row.p_name .r span {
    text-align: right;
    width: 100%;
}

.slick-slide .infor .p_name .l, .slick-slide .infor .p_name .r {
    width: 7rem;
    display: none;
}

ul.row.p_name .c_l, ul.row.p_name .c_r {
    width: 40%;
    color: #999;
}

ul.row.p_name .c_r {
    margin-left: 10px;
    position: absolute;
}

ul.row.p_name .c_l label,ul.row.p_name .c_r label {
    border: 1px solid #ccc;
    height: 8pt;
    margin: 0 2px;
}

.infor .heart {
  position: absolute;
  width: 33px !important;
  top: 0px !important;
  display: grid !important;
  right: 4px !important;
}

.img_frame {
    margin-bottom: 4%;
    position: relative;
}

.heart {
  position: absolute;
  font-size: 20px;
  top: 10px;
  display: flex;
  right: 10px;
}

.slick-list.draggable {
    width: 80%;
    margin: auto;
}

.links .slick-slide img {
    width: 80%;
}

li.slick-active button {
    background: #ccc !important;
    height: 20pt !important;
    width: 10pt !important;
    text-align: center;
}

footer {
    margin-top: 150px !important;
}
