.mediaViewInfo {
	--web-view-name: Web 1280 – 10;
	--web-view-id: Web_1280__10;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1280__10;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}



#Web_1280__10 {
	position: absolute;
	width: 1280px;
	height: 800px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1280 – 10;
	--web-view-id: Web_1280__10;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#shutterstock_1592527234 {
	position: absolute;
	width: 561px;
	height: 800px;
	left: 719px;
	top: 0px;
	overflow: visible;
}
#Rectangle_122 {
	fill: rgba(255,255,255,1);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_122 {
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 48px;
	left: 188px;
	top: 415px;
}
#ID {
	left: 227px;
	top: 431px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,182,35,1);
}
# {
	left: 188px;
	top: 396px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}
#Rectangle_122_p {
	fill: rgba(255,255,255,1);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_122_p {
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 48px;
	left: 187px;
	top: 489px;
}
#_q {
	left: 227px;
	top: 505px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,182,35,1);
}
#_r {
	left: 187px;
	top: 470px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}
#_s {
	left: 332px;
	top: 559px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(147,182,35,1);
}
#Group_842 {
	position: absolute;
	width: 327px;
	height: 48px;
	left: 188px;
	top: 587px;
	overflow: visible;
	cursor: pointer;
}
#Rectangle_112 {
	fill: rgba(147,182,35,1);
}
.Rectangle_112 {
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Component_18__1 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 154px;
	top: 16px;
	overflow: visible;
}
#Path_10 {
	fill: rgba(255,255,255,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_603 {
	position: absolute;
	width: 17px;
	height: 17px;
	left: 1235.5px;
	top: 24px;
	overflow: visible;
}
#Line_57 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_57 {
	overflow: visible;
	position: absolute;
	width: 21.241px;
	height: 20.241px;
	left: 0px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_58 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_58 {
	overflow: visible;
	position: absolute;
	width: 17px;
	height: 16px;
	transform: translate(-1235.5px, -24px) matrix(1,0,0,1,1235.5,24.5) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Line_59 {
	fill: transparent;
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_59 {
	overflow: visible;
	position: absolute;
	width: 327px;
	height: 1px;
	left: 187.5px;
	top: 359.5px;
	transform: matrix(1,0,0,1,0,0);
}
#_ {
	left: 413px;
	top: 329px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -5px;
	text-align: left;
	font-family: ITC Avant Garde Gothic Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(147,182,35,1);
}
#_ba {
	left: 252px;
	top: 329px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -5px;
	text-align: left;
	font-family: ITC Avant Garde Gothic Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(147,182,35,1);
}
#Line_60 {
	fill: transparent;
	stroke: rgba(147,182,35,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_60 {
	overflow: visible;
	position: absolute;
	width: 167px;
	height: 5px;
	left: 188.5px;
	top: 359.5px;
	transform: matrix(1,0,0,1,0,0);
}
#__ {
	left: 455px;
	top: 538px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(147,182,35,1);
}
#__ a,#_ a{

	color: rgba(147,182,35,1) !important;
}
#Group_231 {
	position: absolute;
	width: 262.514px;
	height: 149.811px;
	left: 219.671px;
	top: 165.385px;
	overflow: visible;
}
#Group_197 {
	position: absolute;
	width: 262.514px;
	height: 149.811px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_28 {
	position: absolute;
	width: 80.232px;
	height: 81.366px;
	left: 88.597px;
	top: 0px;
	overflow: visible;
}
#Group_27 {
	position: absolute;
	width: 80.232px;
	height: 81.366px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_35 {
	position: absolute;
	width: 38.387px;
	height: 38.335px;
	left: 0px;
	top: 102.375px;
	overflow: visible;
}
#Group_30 {
	position: absolute;
	width: 38.387px;
	height: 38.335px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_29 {
	position: absolute;
	width: 38.387px;
	height: 38.335px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_36 {
	position: absolute;
	width: 38.335px;
	height: 38.335px;
	left: 224.178px;
	top: 102.375px;
	overflow: visible;
}
#Group_32 {
	position: absolute;
	width: 38.335px;
	height: 38.335px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_31 {
	position: absolute;
	width: 38.335px;
	height: 38.335px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_34 {
	position: absolute;
	width: 168.372px;
	height: 55.588px;
	left: 49.458px;
	top: 94.223px;
	overflow: visible;
}
#Group_33 {
	position: absolute;
	width: 168.372px;
	height: 55.588px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_20819 {
	fill: rgba(147,182,35,1);
}
.Path_20819 {
	overflow: visible;
	position: absolute;
	width: 10.512px;
	height: 20.952px;
	left: 203.024px;
	top: 429px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_20820 {
	fill: rgba(147,182,35,1);
}
.Path_20820 {
	overflow: visible;
	position: absolute;
	width: 11.808px;
	height: 14.472px;
	left: 203.376px;
	top: 506.12px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2279 {

    margin: 0px;
    box-shadow: inset 0px 0px 4px 0px rgba(147,182,35,1);
}
.Rectangle_2279 {
	position: absolute;
	overflow: visible;
	width: 12.5px;
	height: 12.41px;
	left: 316.288px;
	top: 561.92px;
}
#Group_841 {
	position: absolute;
	width: 224px;
	height: 40px;
	left: 240px;
	top: 679px;
	overflow: visible;
}
#fb {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
#Google {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 92px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
#Line_logo {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 184px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}

input.inp::-webkit-input-placeholder { /* Edge */
  color: rgba(147,182,35,1);
  text-align: start;
}

input.inp:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(147,182,35,1);
  text-align: start;
}

input.inp::placeholder {
  color: rgba(147,182,35,1);
  text-align: start;
}


/* 1214 */

#Group_835 {
  position: absolute;
  width: 327px;
  height: 67px;
  left: 146px;
  top: 350px;
  overflow: visible;
}
#Rectangle_122_b {
  fill: rgba(255,255,255,1);
  stroke: rgba(147,182,35,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_122_b {
  position: absolute;
  overflow: visible;
  width: 327px;
  height: 48px;
  left: 0px;
  top: 19px;
}
#ID0933581098 {
  left: 114px;
  top: 35px;
  position: absolute;
  overflow: visible;
  width: 79px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(147,182,35,1);
}
#_b {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 41px;
  white-space: nowrap;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: rgba(147,182,35,1);
}
#Path_20819 {
  fill: rgba(147,182,35,1);
}
.Path_20819 {
  overflow: visible;
  position: absolute;
  width: 10.512px;
  height: 20.952px;
  left: 15.024px;
  top: 33px;
  transform: matrix(1,0,0,1,0,0);
}
#ID886 {
  left: 182px;
  top: 383px;
  position: absolute;
  overflow: visible;
  width: 33px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(147,182,35,1);
}
#Path_21771 {
  fill: rgba(0,0,0,0);
  stroke: rgba(147,182,35,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_21771 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 30.167px;
  left: 246.667px;
  top: 377.499px;
  transform: matrix(1,0,0,1,0,0);
}
#Dropdown {
  position: absolute;
  width: 9.4px;
  height: 6.1px;
  left: 229px;
  top: 390.001px;
  overflow: visible;
}
#Path_36 {
  fill: rgba(147,182,35,1);
}
.Path_36 {
  overflow: visible;
  position: absolute;
  width: 9.4px;
  height: 6.1px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}

#Path_20819 {
	fill: rgba(147,182,35,1);
}
.Path_20819 {
	overflow: visible;
	position: absolute;
	width: 10.512px;
	height: 20.952px;
	left: 15.024px;
	top: 33px;
	transform: matrix(1,0,0,1,0,0);
}

#_bo {
	left: 148px;
	top: 434px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}


	#Rectangle_122 {
	fill: rgba(255,255,255,1);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_122 {
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 48px;
	left: 148px;
	top: 453px;
}

	#Path_20820 {
	fill: rgba(147,182,35,1);
}
.Path_20820 {
	overflow: visible;
	position: absolute;
	width: 11.808px;
	height: 14.472px;
	left: 163.376px;
	top: 470.12px;
	transform: matrix(1,0,0,1,0,0);
}

/* 1214 END*/
