.left_mune ul.city.options {
    border: 0px solid #96c237;
}

.left_mune ul.options {
    border: 1px solid #96c237;
    border-radius: 10px;
    margin: 25px 0px;
}
.left_mune ul {
    padding: 0px;
    margin: 0px;
}
/*
.left_mune ul:not(.content_ul) {
    border: 1px solid #96c237;
    border-radius: 20px;
} */



.left_mune li.options {
    font-size: 1.2rem;
    border: 1px solid #96c237;
    border-radius: 10px;
    margin: 25px 0px;
    text-align: center;
    padding: 0.6rem;
    font-weight: bold;
}

.left_mune li.zone {
    text-align: start;
}

li[class*='county_'] {
    text-align: start;
}

li.options.Sort,li.options.price_reg {
    text-align: start;
    padding: 15px 10px;
    list-style: none;
}

li.options.price_reg div {
    display: flex;
}

li.options.Sort input {
    margin: 0 5px;
    height: 20px;
    width: 20px;
}

.other_watching .content_li img {
    border-radius: 0px 0px 0 0; */
}
.other_watching {
    /* margin-top: 50px !important; */
    text-align: start !important;
    margin-left: 15px !important;
}
.left_mune .other_watching li {
    margin: 0px;
}
.other_watching .content_li {
    /* border: 2px solid #ccc; */
    border-radius: 20px;
    /* margin-top: 30px !important; */
}

.other_watching li.content_li ul.content_1 {
    border: 0px;
}
.left_mune .other_watching li {
    margin: 0px;
}
.other_watching li.content_li ul.content_1 .down_area {
    padding: 12px !important;
    line-height: 1.2em;
}
.other_watching, .other_watching .content_li, .other_watching .content_li img, .left_mune .other_watching li, .other_watching .context {
    padding: 0px !important;
}
.left_mune li {
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 5px 0px;
    /* margin-right: 2rem; */
    text-align: center;
    padding: 0.6rem;
    font-weight: bold;
}
.other_watching li.content_li ul.content_1 .title {
    font-size: 13pt;
    font-weight: bold;
}
.other_watching li.content_li ul.content_1 .context {
    font-size: 9pt;
}
.left_mune {
    margin-top: 35px;
    padding-right: 30px !important;
    padding-left: 30px !important;
}


.right_mune {
    margin-left: -30px;
}

.navigation {
    position: absolute;
    top: -50px;
    width: max-content;
}

.left_mune span {
    font-size: 1.4rem;
    font-weight: bold;
}

.navigation span {
    font-size: 12pt;
}

.left_mune .city.options li.active{
   background: #e8e8e8;
}

.left_mune .city.options li ul li.active{
    background: #bebebe;
}
