.mediaViewInfo {
	--web-view-name: Web 1280 – 11;
	--web-view-id: Web_1280__11;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1280__11;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}



#Web_1280__11 {
	position: absolute;
	width: 1280px;
	height: 800px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1280 – 11;
	--web-view-id: Web_1280__11;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#shutterstock_1584979828 {
	position: absolute;
	width: 561px;
	height: 800px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_603 {
	position: absolute;
	width: 17px;
	height: 17px;
	left: 1235.5px;
	top: 24px;
	overflow: visible;
}
#Line_57 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_57 {
	overflow: visible;
	position: absolute;
	width: 21.241px;
	height: 20.241px;
	left: 0px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_58 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_58 {
	overflow: visible;
	position: absolute;
	width: 17px;
	height: 16px;
	transform: translate(-1235.5px, -24px) matrix(1,0,0,1,1235.5,24.5) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_834 {
	position: absolute;
	width: 326px;
	height: 67px;
	left: 744px;
	top: 272px;
	overflow: visible;
}
#Rectangle_2446 {
	border: 1px solid rgba(147,182,35,1);
    padding: 12px;
    color: rgba(147,182,35,1);
}
.Rectangle_2446 {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 48px;
	left: 0px;
	top: 19px;
}
# {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}
#Group_839 {
	position: absolute;
	width: 327px;
	height: 48px;
	left: 744px;
	top: 647px;
	overflow: visible;
	cursor: pointer;
}
#Rectangle_112 {
	fill: rgba(147,182,35,1);
}
.Rectangle_112 {
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Component_18__1 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 154px;
	top: 16px;
	overflow: visible;
}
#Path_10 {
	fill: rgba(255,255,255,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_59 {
	fill: transparent;
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_59 {
	overflow: visible;
	position: absolute;
	width: 327px;
	height: 1px;
	left: 743.5px;
	top: 260.5px;
	transform: matrix(1,0,0,1,0,0);
}
#_x {
	left: 969px;
	top: 230px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -5px;
	text-align: left;
	font-family: ITC Avant Garde Gothic Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(147,182,35,1);
}
#_y {
	left: 808px;
	top: 230px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -5px;
	text-align: left;
	font-family: ITC Avant Garde Gothic Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(147,182,35,1);
}

#_y a {
    color: rgba(147,182,35,1) !important;
}

#Line_60 {
	fill: transparent;
	stroke: rgba(147,182,35,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_60 {
	overflow: visible;
	position: absolute;
	width: 167px;
	height: 5px;
	left: 909.5px;
	top: 260.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_231 {
	position: absolute;
	width: 262.514px;
	height: 149.811px;
	left: 775.671px;
	top: 66.385px;
	overflow: visible;
}
#Group_197 {
	position: absolute;
	width: 262.514px;
	height: 149.811px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_28 {
	position: absolute;
	width: 80.232px;
	height: 81.366px;
	left: 88.597px;
	top: 0px;
	overflow: visible;
}
#Group_27 {
	position: absolute;
	width: 80.232px;
	height: 81.366px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_35 {
	position: absolute;
	width: 38.387px;
	height: 38.335px;
	left: 0px;
	top: 102.375px;
	overflow: visible;
}
#Group_30 {
	position: absolute;
	width: 38.387px;
	height: 38.335px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_29 {
	position: absolute;
	width: 38.387px;
	height: 38.335px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_36 {
	position: absolute;
	width: 38.335px;
	height: 38.335px;
	left: 224.179px;
	top: 102.375px;
	overflow: visible;
}
#Group_32 {
	position: absolute;
	width: 38.335px;
	height: 38.335px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_31 {
	position: absolute;
	width: 38.335px;
	height: 38.335px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_34 {
	position: absolute;
	width: 168.372px;
	height: 55.588px;
	left: 49.458px;
	top: 94.223px;
	overflow: visible;
}
#Group_33 {
	position: absolute;
	width: 168.372px;
	height: 55.588px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_835 {
	position: absolute;
	width: 327px;
	height: 67px;
	left: 744px;
	top: 347px;
	overflow: visible;
}
#Rectangle_122 {
	fill: rgba(255,255,255,1);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_122 {
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 48px;
	left: 0px;
	top: 19px;
}
#ID {
	left: 39px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,182,35,1);
}
#_bf {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}
#Path_20819 {
	fill: rgba(147,182,35,1);
}
.Path_20819 {
	overflow: visible;
	position: absolute;
	width: 10.512px;
	height: 20.952px;
	left: 15.024px;
	top: 33px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_836 {
	position: absolute;
	width: 327px;
	height: 67px;
	left: 743px;
	top: 423px;
	overflow: visible;
}
#Rectangle_122_bi {
	fill: rgba(255,255,255,1);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_122_bi {
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 48px;
	left: 0px;
	top: 19px;
}
#_bj {
	left: 40px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,182,35,1);
}
#_bk {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}
#Path_20820 {
	fill: rgba(147,182,35,1);
}
.Path_20820 {
	overflow: visible;
	position: absolute;
	width: 11.808px;
	height: 14.472px;
	left: 16.376px;
	top: 36.12px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_837 {
	position: absolute;
	width: 327px;
	height: 67px;
	left: 743px;
	top: 498px;
	overflow: visible;
}
#Rectangle_2447 {
	fill: rgba(255,255,255,1);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2447 {
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 48px;
	left: 0px;
	top: 19px;
}
#_bo {
	left: 40px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,182,35,1);
}
#_bp {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}
#Path_20955 {
	fill: rgba(147,182,35,1);
}
.Path_20955 {
	overflow: visible;
	position: absolute;
	width: 11.808px;
	height: 14.472px;
	left: 16.376px;
	top: 36.12px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_840 {
	position: absolute;
	width: 224px;
	height: 40px;
	left: 796px;
	top: 715px;
	overflow: visible;
}
#fb {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
#Google {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 92px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
#Line_logo {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 184px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
#Group_838 {
	position: absolute;
	width: 327px;
	height: 60px;
	left: 743px;
	top: 574px;
	overflow: visible;
}
#Path_20956 {
	margin-top: 5px;
	border: 1px solid rgba(147,182,35,1);
		padding: 12px;
		color: rgba(147,182,35,1);
}
.Path_20956 {
	overflow: visible;
	position: absolute;
	width: 327px;
	height: 48px;
	left: 0px;
	top: 12px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_721 {
	fill: rgba(255,255,255,1);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_721 {
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 34px;
	left: 233px;
	top: 24px;
}
#ID1288 {
	left: 249px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Chiller;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(147,182,35,1);
}
#Group_227 {
	position: absolute;
	width: 13.85px;
	height: 13.85px;
	left: 309px;
	top: 29.4px;
	overflow: visible;
}
#Path_667 {
	fill: rgba(147,182,35,1);
}
.Path_667 {
	overflow: visible;
	position: absolute;
	width: 8.059px;
	height: 9.03px;
	left: 2.928px;
	top: 1.889px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1561 {
	fill: rgba(0,0,0,0);
}
.Rectangle_1561 {
	position: absolute;
	overflow: visible;
	width: 13.85px;
	height: 13.85px;
	left: 0px;
	top: 0px;
}
#_b {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Chiller;
	font-style: normal;
	font-weight: normal;
	font-size: 7px;
	color: rgba(147,182,35,1);
}
#ID1288_b {
	left: 19px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(147,182,35,1);
}

input.inp::-webkit-input-placeholder { /* Edge */
  color: rgba(147,182,35,1);
  text-align: start;
}

input.inp:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(147,182,35,1);
  text-align: start;
}

input.inp::placeholder {
  color: rgba(147,182,35,1);
  text-align: start;
}

/* 1214 */

#_c {
	left: 1092px;
	top: 270px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}
#Path_21784 {
	fill: rgba(147,182,35,1);
}
.Path_21784 {
	overflow: visible;
	position: absolute;
	width: 5.146px;
	height: 16.105px;
	left: 1079px;
	top: 269px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_155__142 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 970px;
	top: 267px;
	overflow: visible;
}
#Rectangle_465 {
	fill: transparent;
	stroke: rgba(212,229,156,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_465 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Rectangle_2471 {
	fill: rgba(147,182,35,1);
}
.Rectangle_2471 {
	position: absolute;
	overflow: visible;
	width: 10px;
	height: 10px;
	left: 5px;
	top: 5px;
}
#Component_155__143 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 1054px;
	top: 267px;
	overflow: visible;
}

	#_cy {
	left: 1029px;
	top: 271px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}
#Group_1669 {
	position: absolute;
	width: 27.157px;
	height: 16px;
	left: 996px;
	top: 269px;
	overflow: visible;
}

	#Group_1663 {
	position: absolute;
	width: 69px;
	height: 15px;
	left: 928px;
	top: 617.615px;
	overflow: visible;
}

	#Heart {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 812px;
	top: 346.615px;
	overflow: visible;
}
#Heart_co {
	fill: rgba(147,182,35,1);
}

	#Group_1658 {
	position: absolute;
	width: 80px;
	height: 25px;
	left: 1031px;
	top: 563.615px;
	overflow: visible;
}

	#ID1288 {
	left: 818px;
	top: 561.615px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(147,182,35,1);
}

	#_ci {
	left: 800px;
	top: 537.615px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Chiller;
	font-style: normal;
	font-weight: normal;
	font-size: 7px;
	color: rgba(147,182,35,1);
}

	#Dropdown {
	position: absolute;
	width: 9.4px;
	height: 6.1px;
	left: 882px;
	top: 426.616px;
	overflow: visible;
}

	#Path_21771 {
	fill: rgba(0,0,0,0);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_21771 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 30.167px;
	left: 899.667px;
	top: 414.114px;
	transform: matrix(1,0,0,1,0,0);
}
	#ID886 {
	left: 835px;
	top: 419.615px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,182,35,1);
}
#Group_835 {
	position: absolute;
	width: 327px;
	height: 67px;
	left: 799px;
	top: 386.615px;
	overflow: visible;
}	#Component_64__1 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 1097px;
	top: 496.615px;
	overflow: visible;
}	#Group_836 {
	position: absolute;
	width: 327px;
	height: 67px;
	left: 799px;
	top: 462.615px;
	overflow: visible;
}	#_b {
	left: 800px;
	top: 310.615px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}	#Rectangle_2667 {
	fill: rgba(255,255,255,1);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2667 {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 48px;
	left: 800px;
	top: 330.615px;
}	#Union_1 {
	fill: rgba(147,182,35,1);
}
.Union_1 {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 810px;
	top: 269.615px;
	transform: matrix(1,0,0,1,0,0);
}	#_by {
	left: 800px;
	top: 233.615px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}	#Rectangle_2446 {
	fill: rgba(255,255,255,1);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2446 {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 48px;
	left: 800px;
	top: 254px;
}	#Group_603 {
	position: absolute;
	width: 17px;
	height: 17px;
	left: 1235.5px;
	top: 24px;
	overflow: visible;
}	#Rectangle_2674 {
	fill: rgba(255,255,255,1);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2674 {
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 48px;
	left: 799px;
	top: 553.615px;
}	#Rectangle_465_c {
	fill: transparent;
	stroke: rgba(212,229,156,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_465_c {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
}	#Rectangle_122_ca {
	fill: rgba(255,255,255,1);
	stroke: rgba(147,182,35,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_122_ca {
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 48px;
	left: 0px;
	top: 19px;
}	#Rectangle_2666 {
	fill: rgba(147,182,35,1);
}
.Rectangle_2666 {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 25px;
	left: 0px;
	top: 0px;
}	#_cm {
	left: 15px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(255,255,255,1);
}	#Group_1663 {
	position: absolute;
	width: 69px;
	height: 15px;
	left: 928px;
	top: 617.615px;
	overflow: visible;
}
#Group_1662 {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_576 {
	fill: rgba(147,182,35,1);
}
.Rectangle_576 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}
#Group_77 {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 3.5px;
	top: 3.5px;
	overflow: visible;
}
#Rectangle_460 {
	fill: transparent;
}
.Rectangle_460 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
}
#Checkbox {
	fill: rgba(255,255,255,1);
}
.Checkbox {
	overflow: visible;
	position: absolute;
	width: 8px;
	height: 5.517px;
	left: 0px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}	#_cw {
	left: 25px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(147,182,35,1);
	text-decoration: underline;
}	#_cc {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}	#Rectangle_1450 {
	fill: transparent;
}
	#Path_36 {
	fill: rgba(147,182,35,1);
}
.Path_36 {
	overflow: visible;
	position: absolute;
	width: 9.4px;
	height: 6.1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}	#ID0933581098 {
	left: 114px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(147,182,35,1);
}	#ID6-12 {
	left: 40px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(147,182,35,1);
}#_ca {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(147,182,35,1);
}

#Component_64__1 {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 1097px;
	top: 496.615px;
	overflow: visible;
}
#Path_10 {
	fill: rgba(147,182,35,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}

/* 1214 END*/
