<!-- <div class="top_more"><span class="more">挖寶趣 | 交換趣 | 環保捐贈 | 願望清單</span></div> -->
<div class="containerx">
  <div class="row">
      {include file="$tpl_dir./page_left.tpl"}
      <div class="col-8 right_mune">
         {foreach $product as $k =>$v}
          <div class="rows_1 nobk row_{$k}">
              <div class="content">
                  <div class="news_row">
                    {for $i=0;$i<2;$i++}
                      <ul class="anset">
                        <img class="Group_1682" src="/themes/Okrent/img/list/Group 1682.png">
                          <li class="set_1">
                              <div class="items">
                                  <div class="prodocu">
                                      <img class="photo" src="/themes/Okrent/img/list/Ellipse_277.png" alt="">

                                      <div class="infor">
                                          <ul>
                                              <li>
                                                  <ul class="row row_0 p_name">
                                                      <li class="ID" style=""><span style="">{$v.ID}</span></li>
                                                  </ul>
                                              </li>
                                              <li>
                                                  <ul class="row row_1 p_name">
                                                      <li class="title" style=""><span style="">{$v.title}</span></li>
                                                  </ul>
                                              </li>
                                              <li>
                                                  <ul class="row row_2 p_name">
                                                      <li class="name" style=""><span style="">{$v.name}</span></li>
                                                  </ul>
                                              </li>

                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="set_2">
                              <div class="items">
                                  <div class="prodocu">
                                      <img class="photo" src="/themes/Okrent/img/list/Ellipse_278_dw.png" alt="">

                                      <div class="infor">
                                          <ul>
                                              <li>
                                                  <ul class="row row_0 p_name">
                                                      <li class="exchange_name" style=""><span style="">{$v.exchange_name}</span></li>
                                                  </ul>
                                              </li>


                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                      {/for}

                  </div>
              </div>
          </div>
          {/foreach}

          <div id="Group_14">
          		<svg class="Rectangle_8">
          			<rect id="Rectangle_8" rx="8" ry="8" x="0" y="0" width="44" height="44">
          			</rect>
          		</svg>
          		<div id="Repeat_Grid_2">
          			<div id="Repeat_Grid_2_0" class="">
          				<div id="ID1">
          					<span>1</span>
          				</div>
          			</div>
          			<div id="Repeat_Grid_2_1" class="">
          				<div id="ID2">
          					<span>2</span>
          				</div>
          			</div>
          			<div id="Repeat_Grid_2_2" class="">
          				<div id="ID3">
          					<span>3</span>
          				</div>
          			</div>
          			<div id="Repeat_Grid_2_3" class="">
          				<div id="">
          					<span>...</span>
          				</div>
          			</div>
          			<div id="Repeat_Grid_2_4" class="">
          				<div id="ID22">
          					<span>22</span>
          				</div>
          			</div>
          		</div>
          		<svg class="Path_126" viewBox="391 2068 16 26">
          			<path id="Path_126" d="M 407 2068 L 391 2081 L 407 2094">
          			</path>
          		</svg>
          		<svg class="Path_127" viewBox="391 2068 16 26">
          			<path id="Path_127" d="M 391 2068 L 407 2081 L 391 2094">
          			</path>
          		</svg>
          	</div>

      </div>

</div>

{$js}
