{*<div class="item_wrap menu">*}
{*<a{if $page== "tenant"} class="active"{/if} href="/tenant">租客篇</a><a{if $page== "landlord"} class="active"{/if} href="/landlord">房東篇</a>*}
{*</div>*}
<div class="item_wrap">
    <div class="title">樂租服務</div>
    <div class="item_list">
        <a {if $page=='tenant'} class="active" {/if} href="/tenant">租客篇</a>
        <i></i>
        <a {if $page=='landlord'} class="active" {/if} href="/landlord">房東篇</a>
    </div>
</div>



