:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
    --color__accent: #333;
    --field__background: #fff;
    --field__background--hover: #fff;
    --input__border: #aaa;
    --input__border--hover: #222;
    --label__color: #999;
}

article {
    width: 100%;
    max-width: 1600px;
    min-width: 1250px;
    margin: 0px auto;
    padding: 0px 80px 0px 15px;
}

/* 蜂窩圖 - start */
/* 蜂巢work圖　start */
.entrance_wrap_bk{
    position: absolute;
    width: 100%;
    height: 1258px;
    background-repeat: no-repeat;
}

@media (max-width: 1200px){
    .entrance_wrap_bk{top:60px;
    }
}

@media (min-width: 1200px){
    .entrance_wrap_bk{top:4.2vw;
    }
}

@media (min-width: 1980px){
  .welcome_wrap .entrance_wrap
  {
    margin: 80px auto !important;
  }
}
/* 蜂巢work圖　end */

.welcome_wrap {
    padding: 95px 0px 0px;
}

.welcome_wrap .entrance_wrap {
    margin: 0px auto;
    position: relative;
    width: 90%;
    max-width: 1258px;
    margin-bottom:80px;
}

.welcome_wrap .entrance_wrap a {
    position: absolute;
    width: 17.5%;
    margin-left: -8.75%;
    margin-top: -6.4%;
}

.entrance_wrap .top_1 {
    top: 12.7%;
}

.entrance_wrap .top_2 {

    top: 24.6%;
}

.entrance_wrap .top_3 {
    top: 38.3%;
}

.entrance_wrap .top_4 {
    top: 50%;
}

.entrance_wrap .top_5 {
    top: 62%;
}

.entrance_wrap .top_6 {
    top: 73%;
}

.entrance_wrap .top_7 {
    top: 86%;
}

.entrance_wrap .left_1 {
    left: 22.2%;
}

.entrance_wrap .left_2 {
    left: 36%;
}

.entrance_wrap .left_3 {
    left: 50.2%;
}

.entrance_wrap .left_4 {
    left: 64.1%;
}

.entrance_wrap .left_5 {
    left: 78.2%;
}

.entrance_wrap .list a {
    display: inline-block;
}

.welcome_wrap .entrance_wrap a img {
    transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
}

.welcome_wrap .entrance_wrap a:hover img {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.welcome_wrap .entrance_wrap .circle {
    border-radius: 50%;
    background-color: #fff100;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    animation: scaleIn 2s infinite cubic-bezier(.16, .19, .20, .12);
    margin-top: -90px;
}

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .3;
    }

    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

/* 蜂窩圖 - end */


.none{
    display: none;
}

.clear {
    clear: both;
}

.no_border {
    border-right: none !important;
}

html *, body * {
    font-size: 18px;
}

body{
    min-width: 1200px;
}

.main_bar {
    height: 9vw;
    min-height: 60px;
}

.main_bar img {
    width: 100%;
}

.display_content{
    max-width: 100%;
}

.uk-slideshow ul.uk-margin{
    z-index: 99;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background-color: unset;
}


#map {
    height: 100%;
}

.data_wrap .object_view .jqzoom img{
    /* height: 440px; */
}

/* Slider */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    padding-left: 15px;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#bottom_partner{
    margin-top: 150px;
    margin-bottom: -38px;
    width: 90%;
    padding-left: 7%;

}

.company_wrap{
    padding-top:0px
}

/* 圖片小圖預覽列表 */
.spec-preview {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #DFDFDF;
    border-radius: 0px 20px;
}

.spec-scroll {
    /* width: 100%; */
    clear: both;
    margin-top: 5px;
    width: 90%;
    margin: auto;
}

.spec-scroll .prev {
    float: left;
    margin-right: 4px;
}

.spec-scroll .next {
    float: right;

}

.spec-scroll .prev,
.spec-scroll .next {
    display: block;
    text-align: center;
    width: 15px;
    height: 30px;
    line-height: 115px;
    border: 1px solid #CCC;
    background: #EBEBEB;
    cursor: pointer;
    text-decoration: none;
    background-color:#512675;
    color:#fef501;
    opacity:0.4;
}

/* table start */

.items  img{
    display: none;
}

.items td {
    text-align: center;
}

.items strong{
    margin-right: 20px;
}

.items td:nth-of-type(1) span{
    color: #53268a;
}

.items strong{
    border-right: 1px solid #777;
}

.items span{
    padding-right: 18px;
    color: gray;
}

/* table end */

.spec-scroll .items {
    position: relative;
    height: 32px;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
}

.spec-scroll .items ul {
    position: absolute;
    width: 999999px;
    height: auto;
}

.spec-scroll .items ul li {
    float: left;
    width: 210px;
    margin: 0px;
    text-align: center;
    margin-right:30px;
}
.spec-scroll .items ul li img {
    border: 1px solid #CCC;
    padding: 2px;
    width: 95%;
    height: auto;
    border-radius: 0px 10px;

}

.spec-scroll .items ul li img:hover {
    border: 2px solid #53268a;
    padding: 1px;
}

/* 商品物件展示 - end */
