:root {
    --main_color1: #532789;
    --main_color2: #fff100;
    --text_normal_color: #555;
    --text_dark_color: #222;
    --text_light_color: #aaa;
    --text_caption_hot_color: #ce1b6d;
    --text_caption_offer_color: #3482c4;
    --text_caption_new_color: #ea8112;
}

.happy_shopping_wrap .right_area_wrap .caption span img {
    width: 22px;
    padding: 0px;
}

.happy_shopping_wrap h2 {
    height: 14px;
    font-size: 18pt;
    font-weight: bold;
}

.happy_shopping_wrap h2.hot {
    color: var(--text_caption_hot_color);
}

.happy_shopping_wrap h2.offer {
    color: var(--text_caption_offer_color);
}

.happy_shopping_wrap h2.new {
    color: var(--text_caption_new_color);
}

.heart img {
    width: auto;
}

.happy_shopping_wrap h2.caption {
    color: var(--main_color1);
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}

.happy_shopping_wrap h2.caption span {
    margin: 0px 20px 0px 0px;
}

.happy_shopping_wrap .slider {
    margin: 0px auto 0px;
}

.slick-dots {
    bottom: -45px !important;
    bottom: auto;
    padding: 10px 0;
    background: #EBEBEB;
}

.slick-dots li button:before {
    font-size: 12px;
}

.slick-dots {
    counter-reset: my-awesome-counter;
}

.slick-dots li {
    counter-increment: my-awesome-counter;
}

.slick-dots li button:before {
    content: counter(my-awesome-counter);
    font-size: 14pt;
    font-weight: bold;
    font-family: "HuaKangXiuFengTiFan-1";
}

.main_area_wrap .slick-prev:before {
    color: #888;
    content: "\f104";
    font-size: 35px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
}

.main_area_wrap .slick-next:before {
    color: #888;
    content: "\f105";
    font-size: 35px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
}

.main_area_wrap {
    display: flex;
}


/* 跑馬燈 - start */

.happy_shopping_wrap .marquee_wrap {
    width: 100%;
    padding: 0px 20px 0px 20px;
    margin: 10px auto 30px;
}

.happy_shopping_wrap .marquee_wrap marquee {
    color: #333;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 2.2em;
}

.happy_shopping_wrap .marquee_wrap marquee img {
    margin: 0px 15px 0px 100px;
    width: 30px;
}


/* 跑馬燈 - end */


/* 搜尋列 - start */

.LifeGo .top_area_wrap .menu_wrap .search_wrap {
    width: 25%;
    margin: 0px auto 0px;
}

.LifeGo .top_area_wrap .menu_wrap .search_wrap form {
    width: 100%;
    position: relative;
}

.LifeGo .top_area_wrap .menu_wrap .search_wrap input {
    width: 90%;
    padding: 10px;
    margin: 0px;
    font-size: 1em;
    border: 1px solid #888;
    border-radius: 0px 0px 0px 10px;
}

.LifeGo .top_area_wrap .menu_wrap .search_wrap input::placeholder {
    font-size: 1.1em;
}

.LifeGo .top_area_wrap .menu_wrap .search_wrap button {
    padding: 10px;
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 3px;
    background: #fff;
    outline: unset;
    border: 1px solid #888;
    border-left: unset;
    border-radius: 0px 10px 0px 0px;
}


/* 搜尋列 - end */


/* 類別選單 - end */

.main_area_wrap {
    display: flex;
}


/* 類別子選單 - start */

.left_area_wrap .sub_menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px 0px 0px;
}

.left_area_wrap .sub_menu i {
    width: 1px;
    height: 25px;
    margin: 10px auto 0px;
    background: #888;
}

.left_area_wrap .sub_menu li.item {
    width: 100%;
    height: 59px;
    margin: 0px auto 0px;
    border: 1px solid #fff;
    border-radius: 0px 10px;
    transition: .2s;
}

.left_area_wrap .sub_menu li.item:nth-child(even) {
    /* border: 1px solid #888; */
    border-radius: 0px 10px;
    background: #eee;
}

.left_area_wrap .sub_menu li:hover {
    border: 2px solid var(--main_color1);
}

.left_area_wrap .sub_menu li:hover p {
    color: var(--main_color1);
    font-size: 1.2em;
}

.left_area_wrap .sub_menu li.item a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 14px 0px 10px;
}

.left_area_wrap .sub_menu li.active p {
    color: var(--main_color1);
    font-size: 1.2em;
    font-weight: bold;
}

.left_area_wrap .sub_menu .item img {
    width: 57px;
    height: auto;
    position: absolute;
    top: -2px;
    left: 27px;
}

.left_area_wrap .sub_menu .item p {
    color: #888;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px auto 0px;
    transition: .2s;
}


/* 類別子選單 - end */

.happy_shopping_wrap h2.hot {
    color: var(--text_caption_hot_color);
}

.happy_shopping_wrap h2.offer {
    color: var(--text_caption_offer_color);
}

.happy_shopping_wrap h2.new {
    color: var(--text_caption_new_color);
}

.happy_shopping_wrap h2.caption span {
    margin: 0px 20px 0px 0px;
}

.happy_shopping_wrap .slider {
    margin: 0px auto 0px;
}

.happy_shopping_wrap .slider .list {
    padding: 0px 15px;
    /*height: 150px;*/
}

.happy_shopping_wrap .slider .list .img_frame {
    width: 100%;
    /*height: 105px;*/
    border-radius: 0px 10px;
    background: white;
}

.happy_shopping_wrap .slick-prev {
    top: 20%;
    left: -30px;
    display: none !important;
}

.happy_shopping_wrap .slick-prev:before {
    color: #888;
    content: "\f104";
    font-size: 35px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
}

.happy_shopping_wrap .slick-next {
    top: 20%;
    right: -30px;
    display: none !important;
}

.happy_shopping_wrap .slick-next:before {
    color: #888;
    content: "\f105";
    font-size: 35px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
}

.happy_shopping_wrap .slider.hot .slick-prev:before {
    color: var(--text_caption_hot_color);
}

.happy_shopping_wrap .slider.hot .slick-next:before {
    color: var(--text_caption_hot_color);
}

.happy_shopping_wrap .slider.offer .slick-prev:before {
    color: var(--text_caption_offer_color);
}

.happy_shopping_wrap .slider.offer .slick-next:before {
    color: var(--text_caption_offer_color);
}

.happy_shopping_wrap .slider.new .slick-prev:before {
    color: var(--text_caption_new_color);
}

.happy_shopping_wrap .slider.new .slick-next:before {
    color: var(--text_caption_new_color);
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame {
    padding: 10px 7px;
    background: white;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .number {
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .caption {
    padding: 0px;
    margin: 0px auto 20px;
    color: #555;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    letter-spacing: 1px;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .caption2 {
    padding: 0px;
    margin: 0px auto 0px;
    letter-spacing: 1px;
    font-size: 8pt;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .heart_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px auto 10px; */
    height: 28px;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .list_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto 20px;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .list_wrap .list {
    color: #555;
    font-size: 1em;
    font-weight: unset;
    text-align: center;
    letter-spacing: 1px;
    padding: 0px 8px 0px;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .list_wrap i {
    width: 1px;
    height: 25px;
    background: #aaa;
    display: inline-block;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .heart_wrap .price_original {
    color: #555;
    font-size: 10pt;
    font-weight: unset;
    letter-spacing: 0px;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .heart_wrap .price_original span.outer {
    color: red;
    text-decoration: line-through;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .heart_wrap .price_original span.inner {
    color: #000;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .heart_wrap .heart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .heart_wrap img {
    width: 30px;
    height: 100%;
    margin: 0px 5px 0px 0px;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .price {
    color: red;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 1px;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .directions {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin: 0px 0px 20px 8px;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .directions img {
    width: 25px;
    margin: 0px 10px 0px 0px;
}

.LifeGo .top_area_wrap .menu_wrap .marquee_wrap img {
    width: auto;
}

.item_wrap .item img {
    width: auto;
}

.main_area_wrap .right_area_wrap .caption img {
    width: auto;
}

:focus {
    border: unset;
    outline: unset;
}

body .LifeGo {
    padding: 0px!important;
}



section.slider.regular.slick-initialized.slick-slider.slick-dotted {
    /*height: 410px;*/
}

.display_content {
    overflow: hidden;
}
