/* 頁籤 - start */

.item_wrap {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    padding: 0px 30px 10px 15px;
    margin: 0px auto 0px;
    background: #fff;
}

.item_wrap .title {
    width: unset;
    padding-right: 15px;
    background: #fff;
    z-index: 1;
}

.item_wrap .title img {
    width: 85%;
}

.item_wrap .item_list {
    width: 60%;
    padding-left: 15px;
    margin: 0px;
    display: flex;
    align-items: unset;
    justify-content: unset;
    background: #fff;
    z-index: 1;
}

.item_wrap .item_list .item {
    width: auto;
    margin: 0px auto 0px;
    display: flex;
    align-items: center;
}

.item_wrap .item_list .item img {
    width: 40px;
}

.item_wrap .item_list .item a {
    color: var(--text_light_color);
    font-size: .9em;
    font-weight: unset;
    letter-spacing: 1px;
    text-align: left;
    width: auto;
    line-height: 2em;
    margin: 0px auto 0px 10px;
    position: relative;
}

.item_wrap .item_list a:hover {
    color: var(--main_color1);
}

.item_wrap .item_list a:after {
    display: none;
}

.item_wrap .item_list a.active {
    color: #333;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    padding: 0px;
    margin: 0px auto 0px 10px;
}

.item_wrap .item_list .item {
    width: auto;
    margin: 0px auto 0px;
    display: flex;
    align-items: center;
}

.search_wrap {
    width: 15%;
    margin: 0px auto 7px 0px;
}

.search_wrap form {
    width: 100%;
    position: relative;
}

.search_wrap input {
    width: 90%;
    padding: 5px 10px;
    margin: 0px;
    font-size: 1em;
    border: 1px solid #aaa;
    border-radius: 0px 0px 0px 10px;
}

.search_wrap button {
    padding: 5px 10px;
    margin: 0px;
    position: absolute;
    top: 0px;
    right: 3px;
    background: #fff;
    outline: unset;
    border: 1px solid #aaa;
    border-left: unset;
    border-radius: 0px 10px 0px 0px;
}


/* 頁籤 - end */

.flex {
    display: flex;
    height: 50px;
}

:focus {
    border: unset;
    outline: unset;
}


/* 類別選單 - start */

.top_area_wrap .menu_wrap {
    padding: 20px 40px 20px;
    margin: 0px auto 10px;
    border: 1px solid #f7c200;
    border-radius: 0px 45px;
    background: #fff;
}

.top_area_wrap .menu_wrap .menu {
    display: flex;
    margin: 0px auto 10px;
}

.top_area_wrap .menu_wrap .menu i {
    width: 1px;
    height: 25px;
    margin: 70px auto 0px;
    background: #888;
}

.top_area_wrap .menu_wrap .menu .item {
    margin: 0px auto 0px;
    text-align: center;
}

.top_area_wrap .menu_wrap .menu .item a {
    text-align: center;
}

.top_area_wrap .menu_wrap .menu .item a.active p {
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
}

.top_area_wrap .menu_wrap .menu .item img {
    width: 50px;
    height: auto;
    margin: 0px auto;
}

.top_area_wrap .menu_wrap .menu .item p {
    margin: 0px;
    color: #999;
    font-size: .9em;
    font-weight: unset;
}

.search_wrap input::placeholder {
    font-size: 1.1em;
}