:root {
  --main_color1: #532789;
  --main_color2: #fff100;
  --text_normal_color: #555;
  --text_dark_color: #222;
  --text_light_color: #aaa;
  --text_caption_hot_color: #f299bf;
  --text_caption_offer_color: #3482c4;
  --text_caption_new_color: #ea8112;
}

body .LifeGoProduct {
  padding: 0px !important;
}

/* 跑馬燈 - start */
.main .marquee_wrap {
  width: 100%;
  padding: 0px 20px 0px 20px;
  margin: 10px auto 30px;
}

.main .marquee_wrap marquee {
  color: #333;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 2.2em;
}

.main .marquee_wrap marquee img {
  margin: 0px 15px 0px 100px;
  width: 30px;
}

/* 跑馬燈 - end */
.m-lang-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-lang-switcher li {
  height: 100%;
}

.m-lang-switcher a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.detail-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 30px;
  width: calc(100% + 200px);
  -ms-grid-columns: 1fr 200px;
  grid-template-columns: 1fr 200px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.detail-box>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.detail-box>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.detail-box .accent {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 30px;
  font-weight: bold;
  color: purple;
  line-height: 20px;
}

.detail-box .icon {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  /*background: #000000;*/
}

.detail-box-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-box-left>div:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
}

.detail-box-left>div:nth-child(2) {
  margin-right: 30px;
}

.more-btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  color: #9b9b9e;
}

.more-btn-container {
  padding-bottom: 10px;
  text-align: right;
}

.more-btn .icon-down {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  /*background: #000000;*/
}

.main__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 40px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  padding-bottom: 100px;
}

.main__top>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main__top>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.main__top-left-img {
  /*padding-bottom: 40px;*/
}

.main__top-left-img-inner {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100%;
  background: #F0EDED;
}

.main__top-left-img-inner::before {
  content: '';
  display: block;
  padding-bottom: 80%;
}

.main__top-left-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0 15px;
  margin-bottom: 20px;
}

.main__top-left-nav-img {
  padding-bottom: 56.25%;
  background: #000000;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.main__top-right-inner {
  max-width: calc(100% - 150px);
}

.main__title {
  /* padding-bottom: 30px; */
  font-size: 32px;
  font-weight: bold;
  /* display: flex; */
}

.main__slogan {
  padding-bottom: 30px;
  font-size: 1.2em;
}

.price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1;
}

.price>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.price>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.price__origin-label, .price__special-label {
  margin-right: 20px;
}

.price__origin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.price__origin-label {
  font-size: 18px;
}

.price__origin-price {
  position: relative;
  margin-right: 10px;
  font-size: 28px;
}

.price__origin-price::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff0000;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.price__origin-unit {
  font-weight: bold;
}

.price__special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
  line-height: 28px;
}

.price__special-price {
  margin-right: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #ff0000;
}

.price__special-unit {
  font-weight: bold;
}

.pay-method {
  font-size: 24px;
}

.choose-way {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  padding-bottom: 20px;
}

.choose-way>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.choose-way>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.choose-way>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.choose-way__single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.choose-way__single-icon {
  display: block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  /*background: #000000;*/
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 30px;
  color: #ffffff;
  background: purple;
  border-radius: 5px;
  line-height: 1;
}

.main__bottom-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 40px 10fr;
  grid-template-columns: 2.5fr 10fr;
  grid-gap: 0 40px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.main__bottom-container>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main__bottom-container>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.main__bottom-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: purple;
}

.main__bottom-title .icon {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  /*background: #000000;*/
}

.img {
  width: 100%;
  background: #000000;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.img:not(:last-child) {
  margin-bottom: 25px;
}

.img::before {
  content: '';
  display: block;
  background: #000000;
  margin-bottom: 25px;
  padding-bottom: 56.25%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info-box {
  min-height: 100%;
  border: 1px solid #9a9a9a;
  border-top-right-radius: 50px;
}

.info-box__tab {
  display: -ms-grid;
  display: grid;
  font-weight: bold;
  text-align: center;
  color: purple;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  line-height: 70px;
}

.info-box__tab>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.info-box__tab>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.info-box__tab-left {
  border-right: 1px solid #9a9a9a;
}

.info-box__tab-left, .info-box__tab-right {
  cursor: pointer;
}

.info-box-content-question {
  -ms-grid-columns: 2fr 10fr;
  grid-template-columns: 2fr 10fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.info-box-content-question>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.info-box-content-question>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.info-box-content-question, .info-box-content-answer {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 140px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid #9a9a9a;
  margin-bottom: 20px;
  border-left: 0;
  border-right: 0;
}

.info-box-content-question-left, .info-box-content-answer-left {
  position: relative;
}

.info-box-content-question-left::before, .info-box-content-answer-left::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 1px;
  height: 100px;
  background: #9a9a9a;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.info-box-content-question-left, .info-box-content-question-right, .info-box-content-answer-left, .info-box-content-answer-right {
  padding-right: 35px;
  padding-left: 35px;
}

.info-box-content-question-name, .info-box-content-answer-name {
  margin-bottom: 10px;
}

.info-box-content-answer {
  background: #F0EDED;
  -ms-grid-columns: 10fr 2fr;
  grid-template-columns: 10fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.info-box-content-answer>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.info-box-content-answer>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.main .row .left ul li.actions {
  padding: unset !important;
}

:root {
  --main_color1: #532789;
  --main_color2: #fff100;
  --text_normal_color: #555;
  --text_dark_color: #222;
  --text_light_color: #aaa;
}

.main .row .left ul li.hot_product .items {
  height: 110px;
  width: 85%;
  background: blanchedalmond;
  border-radius: 0 15px;
  border: 1px solid #ccc;
  margin: 15px 0;
}

.main .row .left ul li.hot_product {
  text-align: center;
}

.title {
  font-size: 14pt;
  font-family: Microsoft JhengHei;
  color: var(--main_color1);
  padding-right: 10%;
}

.title img {
  width: 20px;
  margin: 0 5px;
}

.main {
  padding-top: 10px !important;
}

.main__top-right-inner {
  max-width: none !important;
}

.main__title span {
  font-size: medium;
}

.main__slogan li {
  list-style-image: url(/themes/LifeHouse/img/lifegoproduct/list.png);
  margin-left: 3em;
}

.main__top-right-right-inner {
  width: 20%;
  margin-right: -20px;
}

.main__top-right {
  display: flex;
}

.detail-order input {
  border-radius: 10px;
  border: 2px solid pink;
  width: 100%;
  padding-left: 21%;
  BOX-SHADOW: 0 0 BLACK;
}

.detail-order .inp_txt {
  position: relative;
  width: 50%;
  cursor: pointer;
}

.detail-order .inp_txt i {
  position: absolute;
  /* top: 8px; */
  -webkit-text-fill-color: pink;
}

.detail-order .inp_txt i.fas.fa-plus {
  right: 0%;
  border-left: 1px solid pink;
  padding: 8px;
}

.detail-order .inp_txt i.fas.fa-minus {
  left: 0%;
  border-right: 1px solid pink;
  padding: 8px;
}

.detail-order {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.detail-order div {
  margin: 3%;
  border-radius: 10px;
}

.detail-order .btn {
  background: #7dcef4;
}

.main__top-right-right-inner>div {
  right: 0px;
  text-align: end;
}

.main__top-right-right-inner i {
  width: 44%;
  text-align: center;
}

.main__top-left-nav-img {
  height: 90px;
  background: pink;
}

.info-box__tab {
  color: var(--main_color1) !important;
}

.info-box-content-answer {
  background: #FFF !important;
}

.info-box-content-question, .info-box-content-answer {
  margin-bottom: -2px !important;
}

.main__top-left i.far.fa-heart {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 2em;
  -webkit-text-fill-color: #ccc;
}

.main__top-left {
  position: relative;
}

.main__top-left-img-inner {
  background: url('/themes/LifeHouse/img/lifegoproduct/product_photo_1.jpg');
  background-size: 100% !important;
  background-repeat-y: no-repeat !important;
  background-position: center !important;
}

.main__top-left-nav-img:nth-child(1) {
  background: url(/themes/LifeHouse/img/lifegoproduct/product_photo_2.jpg);
  background-size: 100%;
  background-repeat-y: no-repeat;
  background-position: center;
}

.main__top-left-nav-img:nth-child(2) {
  background: url(/themes/LifeHouse/img/lifegoproduct/product_photo_3.jpg);
  background-size: 100%;
  background-repeat-y: no-repeat;
  background-position: center;
}

.main__top-left-nav-img:nth-child(3) {
  background: url(/themes/LifeHouse/img/lifegoproduct/product_photo_4.jpg);
  background-size: 100%;
  background-repeat-y: no-repeat;
  background-position: center;
}

.main__top-left-nav-img:nth-child(4) {
  background: url(/themes/LifeHouse/img/lifegoproduct/product_photo_5.jpg);
  background-size: 100%;
  background-repeat-y: no-repeat;
  background-position: center;
}

.main__top-right-right-inner>div>div {
  text-align: start;
}

.main__top {
  padding: 0px !important;
}

.info-box {
  min-height: 35em !important;
  border-bottom-left-radius: 50px !important;
}

marquee {
  font-size: 2em;
  font-family: "HuaKangXiuFengTiFan-1";
}

.main .row .left ul li.hot_product .items img {
  border-radius: 0 15px;
}
