:root {
  --text_caption_hot_color: #ce1b6d;
  --text_caption_offer_color: #3482c4;
  --text_caption_new_color: #ea8112;
}

*{
  font-family: Microsoft JhengHei !important;
}

@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

@font-face {
  font-family: "xHuaKangXiuFengTiFan-1";
  src: url("/css/font-wind/HuaKangXiuFengTiFan-1.woff2") format("woff2"), url("/css/font-wind/HuaKangXiuFengTiFan-1.woff") format("woff"), url("/css/font-wind/HuaKangXiuFengTiFan-1.ttf") format("truetype"), url("/css/font-wind/HuaKangXiuFengTiFan-1.eot") format("embedded-opentype"), url("/css/font-wind/HuaKangXiuFengTiFan-1.svg") format("svg");
}

@font-face {
  font-family: "FA5F";
  src: url("/css/font-awesome/fa-solid-900.woff2") format("woff2"), url("/css/font-awesome/fa-solid-900.woff") format("woff"), url("/css/font-awesome/fa-solid-900.ttf") format("truetype"), url("/css/font-awesome/fa-solid-900.eot") format("embedded-opentype"), url("/css/font-awesome/fa-solid-900.svg") format("svg");
}

.happy_shopping_wrap .slick-prev {
  display: none !important;
}

.happy_shopping_wrap .slick-next {
  display: none !important;
}

.happy_shopping_wrap .slick-prev:before {
  color: #888;
  content: "\f104";
  font-size: 35px;
  font-weight: bold;
  font-family: "FA5F";
}

.happy_shopping_wrap .slick-next:before {
  color: #888;
  content: "\f105";
  font-size: 35px;
  font-weight: bold;
  font-family: "FA5F";
}

body {
  font-family: Microsoft JhengHei;
  font-size: 16px;
}

.mune,
.main .left,
.right_area_wrap .hot,
.right_area_wrap .new,
.right_area_wrap .offer {
  font-family: "HuaKangXiuFengTiFan-1";
}

.path {
  height: 1em;
  display: none;
}

.path span {
  position: absolute;
}

.t_col_2.search .path {
  color: #FFF;
}

.t_col_2.search {
  padding-right: 15px;
  /* width: 10em; */
  padding-right: 0px;
  margin: auto;
  height: 100%;
  margin-left: 0px;

}

.t_col_2.search.in_txt {
  margin: auto;
  text-align: center;
}

.search input[type="text"] {
  width: 100%;
  height: 35px;
  border-radius: 0 10px;
  margin: 5px 0;
  background: url(/themes/LifeHouse/img/lifego/search-solid.svg);
  background-position-x: 96%;
  background-position-y: center;
  background-size: 9%;
  background-repeat: no-repeat;
}

.search input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  padding: 6px;
}

.search input[type="text"]::placeholder {
  /* Chrome/Opera/Safari */
  padding: 6px;
}

.search input[type="text"]:-ms-input-placeholder {
  /* Chrome/Opera/Safari */
  padding: 6px;
}

.search img {
  width: 100%;
}

.search img.lifego_logo {
  /* width: 90%; */
}

.top div {
  margin: 10px 0;
}

.t_container.top div.mune .t_container {
  /* margin-top: 18px; */
}

.main .row .left ul li:not(.actions) span {
  margin: auto;
color: black;
margin-left: 5px;
position: absolute;
text-align-last: justify;
width: 40%;
font-size: 12pt;
top: 30%;
font-weight: bold;
}

.main .row .left ul li:not(.actions) {
  display: flex;
  width: 100%;
  font-size: 16pt;
  height: 59px;
  /*border-bottom: 1px solid #ccc;*/
  position: relative;
  padding: 0 18%;
}

.main .row .left ul li:not(.actions) img {
  width: 38px;
  /*margin-left: 28px;*/
  margin-top: -6px;
}

.main .row .left ul li:not(.actions) .border {
  width: 80%;
  border-bottom: 1px solid #cccccc78;
  height: 1px;
  position: absolute;
  bottom: 0px;
  right: 10%;
}

.main .row .left ul li.actions {
  position: relative;
  padding: 10px 0 10px 0;
  background: #fff;
}

.main .row .left ul li.last {
    background: #fff;
    height: 10px;
}

.mune ul {
  display: flex;
}

.top div ul {
  list-style: none;
}

.t_col_3.search {
  margin: auto 0;
}

.search .zoomIMG {
  position: absolute;
  right: 15px;
  /* width: 23px; */
  top: 23px;
    /* overflow: hidden; */
    /* height: 22px; */
    /* z-index: 9; */
}


.search .search {
    position: relative;
    width: 66%;
    margin: auto;
    padding: 15px 0;
}

.zoomIMG img {
  opacity: 0.4;
  width: 16px;
}

.top .munes {
  margin: 5px auto;
  position: relative;
}

.mune img {
  height: 33px;
  vertical-align: bottom;
  width: auto;
  margin: 0 7px;
}

.mune i {
  font-size: 20px;
  vertical-align: text-top;
}

.main .right table img {
  padding: 10px;
  vertical-align: text-top;
}

.main .right td {
  position: relative;
  /* width: 33.33333333333333%;
 */
  width: 25.0000000000%;
  height: 228px;
}

.main .right .bottom_txt,
.main .row .left ul li.actions .bottom_txt {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-family: "HuaKangXiuFengTiFan-1";
  background: #ffffffb8;
  z-index: 999;
  font-size: 16pt;
  font-weight: bold;
}

.main .row .left ul li.actions a {
  color: black;
}

.mune li {
  font-size: 14pt;
}

.text-center {
  background: #EDECEB;
  padding: 20px 0;
  padding-bottom: 30px;
}

.text-center.price {
  background: none;
  letter-spacing: 0px !important;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .price span::before {
  color: #000;
  content: "優惠";
}

.regular.slick-initialized.slick-slider {
  background: #EDECEB;
}

.slick-slide img {
  width: 100%;
  border-radius: 0px 10px;
}

.t_container.bottom {
  margin: 30px 0%;
  padding-left: 10px;
  padding-right: 10px;
}

.t_container.top,
.t_container.wrap,
.t_container.main {
  margin: 0px 5%;
}

.t_container.main {
  margin-top: -25px;
}

/* 按照比例來寫 */
.t_col_1 {
  width: 8%;
}

.t_col_2 {
  width: 16%;
}

.t_col_10 {
  width: 82% !important;
}

.t_col_11 {
  width: 92%;
}

.t_col_40 {
  width: 40% !important;
}

.t_col_50 {
  width: 50% !important;
}

.t_col_20 {
  width: 20% !important;
}

.main .left ul {
  /* width: 10em; */
  margin: auto;
}

.top .mune {
  margin: auto;
  width: max-content;
}

/* .top .mune ul li {
      margin-right: 40px;
    } */
.top div ul li {
  margin: 0 7px;
  border-radius: 5px;
  padding: 2px;
}

.top div ul li span {
    opacity: 0;
}

.top div ul li:nth-child(1), .top div ul li:nth-child(5) {
  /* background: #f19ec2; */
}

.top div ul li:nth-child(2), .top div ul li:nth-child(6) {
  /* background: #7dcef4; */
}

.top div ul li:nth-child(3) {
  /* background: #bbd051; */
}

.top div ul li:nth-child(4) {
  /* background: #f2c91f; */
}

.t_container.top .row {
  height: 4.7em;
}

.hr {
  background: url(/themes/LifeHouse/img/lifego/hr.png);
  height: 30%;
  background-size: 80%;
  background-repeat-y: no-repeat;
  width: 100%;
  position: absolute;
  left: 28px;
  /* background-position: center; */
}

@media (max-width: 1980px) {
  .wrap {
    height: 2vh;
    margin-bottom: 0px !important;
    /* margin-top: 4vh !important; */
    margin-top: -3vh !important;
  }

  marquee img {
    width: 2vh !important;
    margin-right: 1vw !important;
  }

  marquee {
    font-size: 16pt !important;
  }

  .hr {
    height: 33% !important;
  }
}

@media (max-width: 1280px) {
  .wrap {
    /* height: 4vh !important;
    margin-top: 1vh !important;
    margin-bottom: 0vh !important; */
    height: 3vh !important;
    margin-top: -2vh !important;
    margin-bottom: 1vh !important;
  }
}

marquee span {
  vertical-align: middle;
}

.heart_div {
  display: flex;
  position: relative;
  font-size: 8pt;
}

.heart_div .number {
  margin-right: 65% !important;
}

.heart_div .heart {
  display: flex;
  position: absolute;
  right: 0px;
}

/*.happy_shopping_wrap .slider .list {*/
/*	margin: 0px 15px;*/
/*	background: #FFF;*/
/*	border-radius: 0px 10px;*/
/*}*/
.slick-track {
  padding-bottom: 20px;
}

.caption a {
  color: #000;
  text-align: center;
  display: table-footer-group;
  font-size: 8pt;
}

.page_number {
  margin: 20px auto;
  width: 195px;
  font-size: 14pt;
}

.links {
  width: 100%;
  margin: 20px;
}

footer table {
  width: 900px;
}

td.le img {
  height: 80px;
  width: auto;
}

td.ri {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

td.ri span {
  font-variant-caps: unicase;
}

footer {
  /*background: #B4D8E2;*/
  border-radius: 15px;
  margin: 20px;
  padding: 10px 0;
}

.heart_div {
  display: flex;
  position: relative;
}

.main .row .left ul li a {
  transition: font-size 0.3s, font-weight 0.3s, text-shadow 0.3s;
}

.main .row .left ul li a:hover {
  /* text-decoration-line: blink;
      font-size: larger;
      font-size: 16pt;
      font-weight: bold;
      text-shadow: black 0.1em 0.1em 0.2em; */
  color: #FFF;
}

.main .row .left ul li:not(.actions):nth-child(1):hover,
.main .row .left ul li:not(.actions):nth-child(5):hover,
.main .row .left ul li:not(.actions):nth-child(9):hover,
.main .row .left ul li:not(.actions):nth-child(13):hover,
.main .row .left ul li:not(.actions):nth-child(17):hover,
.main .row .left ul li:not(.actions):nth-child(21):hover {
  background: #f19ec2;
}

.main .row .left ul li:not(.actions):nth-child(2):hover,
.main .row .left ul li:not(.actions):nth-child(6):hover,
.main .row .left ul li:not(.actions):nth-child(10):hover,
.main .row .left ul li:not(.actions):nth-child(14):hover,
.main .row .left ul li:not(.actions):nth-child(18):hover,
.main .row .left ul li:not(.actions):nth-child(22):hover {
  background: #7dcef4;
}

.main .row .left ul li:not(.actions):nth-child(3):hover,
.main .row .left ul li:not(.actions):nth-child(7):hover,
.main .row .left ul li:not(.actions):nth-child(11):hover,
.main .row .left ul li:not(.actions):nth-child(15):hover,
.main .row .left ul li:not(.actions):nth-child(19):hover,
.main .row .left ul li:not(.actions):nth-child(23):hover {
  background: #bbd051;
}

.main .row .left ul li:not(.actions):nth-child(4):hover,
.main .row .left ul li:not(.actions):nth-child(8):hover,
.main .row .left ul li:not(.actions):nth-child(12):hover,
.main .row .left ul li:not(.actions):nth-child(16):hover,
.main .row .left ul li:not(.actions):nth-child(20):hover,
.main .row .left ul li:not(.actions):nth-child(24):hover {
  background: #f2c91f;
}

marquee {
  width: 90%;
  position: absolute;
  right: 0;
  margin: 0 5%;
  color: #e94f1f;
  font-size: 14pt;
  font-family: "HuaKangXiuFengTiFan-1";
  font-weight: bold;
}

marquee img {
  width: 1em;
}

section.slider_center.slick-initialized.slick-slider .slick-list.draggable {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.slick-dots {
  counter-reset: my-awesome-counter;
}

.slick-dots li {
  counter-increment: my-awesome-counter;
  margin: 10px;
}

.slick-dots li button:before {
  /* content: counter(my-awesome-counter) "‧"; */
  content: counter(my-awesome-counter) "";
  font-size: 14pt;
  font-weight: bold;
  font-family: "HuaKangXiuFengTiFan-1";
  width: 30px;
}

.hot .slick-dots li.slick-active button:before {
    background: var(--text_caption_hot_color);
    color:#fff;
}

.offer .slick-dots li.slick-active button:before {
    background: var(--text_caption_offer_color);
    color:#fff;
}

.new .slick-dots li.slick-active button:before {
    background: var(--text_caption_new_color);
    color:#fff;
}

.slick-dots li:last-child button:before {
  content: counter(my-awesome-counter);
}

.flex.row .header_img {
  text-align: center;
}

.flex.row .header_img img {
  width: 35px;
}

.main .row .left ul li:not(.actions) .border_Lv2 {
  width: 60%;
  border-bottom: 1px solid #cccccc78;
  height: 1px;
  position: absolute;
  bottom: 0px;
  right: 10%;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .caption2 {
  font-weight: bold;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .caption {
  height: 1em;
  overflow: hidden;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .heart_wrap {
  align-items: baseline;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .heart_wrap .price_original {
  font-size: 9pt;
}

/* 109.10.06 */
.display_content {
  width: 1280px;
  margin: auto;
}

td.t_col_40.L_1 {
  height: 380px;
}

.main .right td:not(.L_1) img {
  /* height: 190px; */
}

.t_container.main .t_col_10.right {
  padding-left: 10px;
  padding-right: 28px;
}

.t_container.wrap {
  width: 90%;
  margin: auto;
}

marquee {
  position: unset;
  width: 93%;
  margin-left: 23px !important;
}

.t_container.wrap {
  height: 4vh !important;
  margin-top: -4vh !important;
  display: none;
}

.t_container.wrap marquee {
  margin: 7px;
}

.search input[type="text"] {
  width: 88%;
  height: 30px;
  border-radius: 5px;
  /* margin: 5px auto; */
  background: url(/themes/LifeHouse/img/lifego/search-solid.svg);
  background-position-x: 96%;
  background-position-y: center;
  background-size: 9%;
  background-repeat: no-repeat;
  font-size: 10pt;
  vertical-align: text-bottom;
  background: #fff;
}

.marquee_wrap {
  text-align: left;
}

.t_col_2.left:not(.actions) {
  margin-top: 12px !important;
    background: #eeefef;
    border-radius: 15px;
}

.main .left ul {
  /* padding-left: 8px; */
}

td.t_col_40.L_1 img {
  height: 100%;
}

.happy_shopping_wrap .right_area_wrap .slider .content_frame .price {
  font-size: 11pt;
}

.happy_shopping_wrap .right_area_wrap .caption span img {
  width: 210px;
  margin: -104px;
}

.heart img {
  width: 14px;
}

section.slider_center.slick-initialized.slick-slider img {
  width: 100px;
}

td.ri.txt_2 {
  font-size: 10pt;
}

.main .row .left ul li.actions.sep_line {
  /* margin: 10px; */
  background: #fff;
}

.heart_wrap div {
  padding: 0px !important;
}

.heart_wrap {
  height: max-content !important;
}

.heart_wrap.bottom div {
  width: 100%;
  text-align: end;
}

.heart_wrap.top {
  margin-top: 10px;
}

.heart_wrap.top div {
  margin: 0px;
}

/* 2020.10.22 */
.main .right td img {
  border-radius: 20px;
}

.row.actions {
    position: absolute;
    /* width: 100%; */
    top: 910px;
}

.t_col_2.left.actions {
    width: 210px;
}

.t_col_2.left {
    width: 18% !important;
}

li.actions.hot_product .title img {
    width: 12%;
}
