@charset "utf-8";
@import url(rwd.css);
.none {
    display: none;
}

img {
    width: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: '微軟正黑體', 'cwTeXYen', sans-serif;
    font-size: 1.355vw;
}

body {
    width: 100%;
    min-width: 1200px;
    height: 100%;
    padding: 0;
    margin: 0 auto 0;
    /* max-width: 1920px; */
}

.flexbox {
    display: flex;
    justify-content: center;
}


/* header start */

.header {
    /*position: relative;*/
    position: fixed;
    z-index: 99999;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/welcom/welcome_header_bg.svg');
    background-size: 100%;
}

.header .nav_wrap {
    margin-left: 31.25%;
}

.header .nav_wrap .nav {
    padding: 3px 11%;
    display: flex;
}

.header .nav_wrap .nav .list {
    width: 20%;
    text-align: center;
    position: relative;
}

.header .nav_wrap .nav .list a {
    font-weight: bold;
    color: #ddd;
}

.header .nav_wrap .nav .list>a {
    /*line-height: 5.1vw;*/
    line-height: 4.1vw;
    /*font-size: 1rem;*/
    font-size: 0.8rem;
    padding: unset;
}

.header .nav_wrap .nav .list .dropdown-menu a {
    font-size: 0.7rem;
    line-height: 2.1vw;
    text-align: center;
}

.header .nav_wrap .nav .list a.no_border:after {
    border-right: none !important;
}

.header .nav_wrap .nav>.list>a:after {
    content: "";
    height: 25px;
    position: absolute;
    right: 0;
    border-right: 1px solid #777;
    top: 50%;
    margin-top: -13px;
}

.header .nav_wrap .nav .list a:hover {
    color: #fff;
    font-weight: bold;
}

.header .nav .open>a,
.header .nav .open>a:hover,
.header .nav .open>a:focus {
    background-color: transparent;
}

.header .nav_wrap ul.nav li:nth-of-type(1) ul.dropdown-menu {
    left: -11px;
    top: 50px;
}

.header .nav_wrap ul.nav li:nth-of-type(2) ul.dropdown-menu {
    left: -4px;
    top: 50px;
}

.header .nav_wrap ul.nav li:nth-of-type(3) ul.dropdown-menu {
    left: -3px;
    top: 50px;
}

.header .nav_wrap ul.nav li:nth-of-type(4) ul.dropdown-menu {
    left: -6px;
    top: 50px;
}

.header .nav_wrap ul.nav li:nth-of-type(5) ul.dropdown-menu {
    left: -3px;
    top: 50px;
}

.header .nav_wrap ul.nav li:nth-of-type(6) ul.dropdown-menu {}

.header .nav_wrap .nav>li>a:hover,
.header .nav_wrap .nav>li>a:focus {
    background: none;
}

.header .nav_wrap .dropdown-menu {
    /*top: 4.9vw;*/
    top: 4vw;
    left: 0px;
    background: #653196f0;
    border-radius: 0 0 5px 5px;
    margin: unset;
    padding: unset;
    min-width: 8vw;
}

.header .nav_wrap .nav .list .dropdown-menu a {
    padding: 7px 23px;
}

.header .nav_wrap .dropdown-menu a:hover {
    color: #fff;
    font-weight: bold;
    background: #af95c7;
}

.header .nav_wrap .nav .list .yellow {
    color: yellow;
}

.header .nav_wrap .nav .list .Register {
    font-size: 15px;
    text-align: right;
    padding-right: 7px;
    margin-right: 50px;
}

.header .nav_wrap .nav .list .Login {
    font-size: 15px;
    text-align: left;
    padding-left: 5px;
    margin-left: -51px;
}


/* header end */


/* 區塊圖 - start */

.welcome_wrap .banner_wrap {
    width: 100%;
    height: auto;
    margin: 0 auto 0;
}

.welcome_wrap .banner_wrap .banner {
    margin: 30px 5% 30px;
}


/* 區塊圖 - end */


/* 相關公司 - start */

.welcome_wrap .company_wrap .list_wrap {
    height: auto;
    margin: 7.25% auto;
    text-align: center;
    display: block;
}

.welcome_wrap .company_wrap .list_wrap .list {
    /*margin: 0 17px;*/
    /*border: 1px solid #aaa;*/
    border-radius: 0;
    overflow: hidden;
    transition: .2s;
    display: inline-block;
    max-width: 260px;
    width: 16%;
}

.welcome_wrap .company_wrap .list_wrap .list:hover {
    border: 1px solid #532789;
}

.welcome_wrap .company_wrap .list_wrap .list a {
    display: block;
}


/* 相關公司 - end */


/* Copyright - start */

.welcome_wrap .copyright {
    position: relative;
    font-size: 0.846rem;
    line-height: 25px;
    color: #555;
    text-align: center;
}

.welcome_wrap .copyright span {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    line-height: 25px;
}

.welcome_wrap .copyright a {
    position: absolute;
    right: 8%;
    color: #333;
    font-size: 0.846rem;
    font-weight: bold;
    line-height: 25px;
}


/* footer Start */


.footer img {
    width: 5%;
    margin: 1%;
}

.footer .spacing {
    margin: 0px 1em;
}

footer nav {
    height: 40px;
    line-height: 40px;
    background-color: #fff500;
    color: #3b1382;
    font-size: 15px;
    letter-spacing: 0.1em;
    padding: 0 4%;
    text-align: center;
    font-weight: bold;
}

footer nav a {
    padding: 0 32px;
    line-height: 40px;
    display: inline-block;
    font-size: 1rem;
}

footer nav a:last-child {
    border-right: unset;
}

footer .footer {
    text-align: center;
    /* background-color: #53268a; */
}

footer .footer,
footer .footer a {
    letter-spacing: 1px;
    color: #000;
}

footer .footer {
    padding: 10px 0 10px;
    position: relative;
}

footer .footer div {
    margin-bottom: 10px;
    color: #fff;
}

footer .footer div:last-child {
    margin-bottom: unset;
}

.footer_txt1 span {
    font-size: 10px;
    margin-right: 15px;
}

.footer_txt2 span {
    font-size: 10px;
    margin-right: 15px;
}

.footer_txt1 {
    font-size: 10px;
}

.footer_txt2 {
    font-size: 10px;
}

.footer_txt3 {
    font-size: 10px;
}

.footer_txt1,
.footer_txt2,
.footer_txt3 {
    letter-spacing: 1px;
}

.footer_txt3 span {
    font-size: 12px;
    letter-spacing: 1px;
}

footer table {
    width: 96%;
    margin: 0 auto;
}

.qrcode img {
    width: 70%;
}

footer .qrcode {
    width: 90px;
    display: inline-block;
}

footer table td {
    vertical-align: top;
}

.qr_code_td {
    width: 16%;
    text-align: left;
}


/* footer End */
