@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(../../Rent/css/page.css);
@import url(right_share.css);
body>div.display_content{
	padding-top: 45px;
}
img{
	width: 100%;
}
a,a:hover,a:active,a:visited,a:focus,a:focus-within{
	text-decoration:none;
	color: #512779;
}
body{
	font-family:'cwTeXYen', sans-serif;
}
@keyframes scaleIn {
	from {
		transform: scale(.5, .5);
		opacity: .3;
	}
	to {
		transform: scale(1.2, 1.2);
		opacity: 0;
	}
}
.clear {
	clear: both;
}
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	width: 900px;
	height: 100%;
	padding: 0;
	margin: 0 auto;
}
.flexbox {
	display: flex;
	justify-content: center;
}
.header {
	width: 100%;
	height: 45px;
	background-image: url('../img/welcom/welcome_header_bg.jpg');
	background-repeat: no-repeat;
	position: fixed;
	width: 900px;
	top: 0;
	z-index: 2;
}
.header .nav_wrap {
	margin-left: 330px;
}
.header .nav_wrap .nav {
	padding: 0 15px;
	display: flex;
}
.header .nav_wrap .nav .list {
	width: 20%;
	text-align: center;
	position: relative;
}
.header .nav_wrap .nav .list a {
	font-size: 16px;
	color: #fff;
	padding: 10px 24px;
}
.header .nav_wrap .nav .list a.no_border:after {
	border-right: none !important;
}
.header .nav_wrap .nav > .list > a:after {
	content: "";
	width: 8px;
	height: 15px;
	position: absolute;
	top: 13px;
	right: 0;
	border-right: 1px solid #777;
}
.header .nav_wrap .nav .list a:hover {
	color: #fff;
	font-weight: bold;
}
.header .nav .open > a, .header .nav .open > a:hover, .header .nav .open > a:focus {
	background-color: transparent;
}
.header .nav_wrap .nav > li > a:hover, .header .nav_wrap .nav > li > a:focus {
	background: none;
}
.header .nav_wrap .dropdown-menu {
	top: 42px;
	min-width: 140px;
	background: rgba(101, 49, 150, 0.94);
}
.header .nav_wrap .dropdown-menu a:hover {
	color: #fff;
	font-weight: bold;
	background: #af95c7;
}
.welcome_wrap {
}
/* 蜂窩圖 - start */
.welcome_wrap .entrance_wrap {
	width: 730px;
	height: 450px;
	margin: 30px auto 30px;
	background-image: url('../img/welcom/welcome_honeycomb.png');
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.welcome_wrap .entrance_wrap .list_wrap_1 {
	width: 100%;
	position: absolute;
	top: 29px;
}
.welcome_wrap .entrance_wrap .list_wrap_2 {
	width: 100%;
	position: absolute;
	top: 102px;
}
.welcome_wrap .entrance_wrap .list_wrap_3 {
	width: 100%;
	position: absolute;
	top: 170px;
}
.welcome_wrap .entrance_wrap .list_wrap_4 {
	width: 100%;
	position: absolute;
	top: 240px;
}
.welcome_wrap .entrance_wrap .list_wrap_5 {
	width: 100%;
	position: absolute;
	top: 315px;
}
.welcome_wrap .entrance_wrap .list {
	margin: 0 50px 0;
	padding: 0 5px;
	position: relative;
}
.welcome_wrap .entrance_wrap .list a {
	display: block;
}
.welcome_wrap .entrance_wrap .list a img {
	transition: transform .3s ease;
}
.welcome_wrap .entrance_wrap .list a:hover img {
	transform: scale(1.2);
}
.welcome_wrap .entrance_wrap .list .circle {
	border-radius: 50%;
	background-color: deepskyblue;
	width: 150px;
	height: 150px;
	position: absolute;
	top: -23px;
	left: -4px;
	opacity: 0;
	animation: scaleIn 2s infinite cubic-bezier(.16, .19, .20, .12);
}
/* 蜂窩圖 - end */
/* 區塊圖 - start */
.welcome_wrap .banner_wrap {
	width: 690px;
	height: auto;
	margin: 0 auto 0;
}
.welcome_wrap .banner_wrap .banner {
	margin: 30px auto 30px;
}
/* 區塊圖 - end */
/* 相關公司 - start */
.welcome_wrap .company_wrap {
}
.welcome_wrap .company_wrap .list_wrap {
	width: 690px;
	height: auto;
	margin: 70px auto 70px;
	display: flex;
}
.welcome_wrap .company_wrap .list_wrap .list {
	margin: 0 0 0 15px;
	border: 1px solid #ddd;
	border-radius: 0;
	overflow: hidden;
	transition: .2s;
}
.welcome_wrap .company_wrap .list_wrap .list:nth-child(1) {
	margin: 0;
}
.welcome_wrap .company_wrap .list_wrap .list:hover {
	border: 1px solid #532789;
}
.welcome_wrap .company_wrap .list_wrap .list a {
	display: inline-block;
}
.welcome_wrap{

}
/* 相關公司 - end */
/* Copyright - start */
.welcome_wrap .copyright {
	position: relative;
	font-size: 12px;
	line-height: 12px;
	color: #aaa;
	text-align: center;
	margin: 0 auto 15px;
}
.welcome_wrap .copyright span {
	font-size: 16px;
	line-height: 16px;
}
.welcome_wrap .copyright a {
	position: absolute;
	right: 5.5%;
	color: #555;
	font-size: 14px;
	line-height: 19px;
}
/* Copyright - end */
.footer {
	width: 100%;
	height: 45px;
	padding: 14px 5px;
	text-align: center;
	background-image: url('../img/welcom/welcome_footer_bg.jpg');
	background-repeat: no-repeat;
	display: flex;
}
.footer .info_1 {
	width: 70%;
	font-size: 14px;
	line-height: 19px;
	color: #fff;
}
.footer .info_2 {
	width: 30%;
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
}