@media screen and (max-width: 1024px) {
    nav.change{    height: 55px;
        background-color: rgba(0, 0, 0, 0.7);}

    .logo {
        margin: auto;
    }
    .navbar .menu li.page-link.page-link2{ margin-left: 0;}
    .logo.mo.exist{ display: block;}
    .logo.pc.exist{ display: none;}
    #greybg {
        display   : none;
        position  : fixed;
        left      : 0;
        top       : 0;
        width     : 100%;
        height    : 100%;
        background: #000;
        opacity   : .6;
        z-index   : 3;
        display   : none;
    }

    .logo.mo {
        position  : fixed;
        display   : block;
        left      : 30px;
        top       : 10px;
        z-index   : 2;
        background:url(../img/welcom/042021/logo_w.svg) left center no-repeat;

    }

    /*mobile選單*/
    #mobile_menu_labIcon {
        display   : block;
        position  : fixed;
        right     : 30px;
        top       : 10px;
        margin-top: 5px;
        z-index   : 1000;
    }

    #menu_mobile {
        width    : 100%;
        height   : auto;
        margin   : 0 auto;
        font-size: 1em;
        position : relative;
        display  : block;
    }

    .hamburger {
        cursor : pointer;
        display: block;
    }

    .hamburger2 {
        cursor : pointer;
        width  : 30px;
        height : 30px;
        display: block;
    }

    .hamburger2 .line {
        width           : 30px;
        height          : 3px;
        background-color: #d09623;
        display         : block;
        margin          : 4px auto;
        transition      : all 0.3s ease-in-out;
        border-radius   : 50px;
    }

    .hamburger2:hover {
        cursor: pointer;
    }

    .hamburger .line {
        width             : 30px;
        height            : 3px;
        background-color  : #fff;
        display           : block;
        margin            : 4px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition     : all 0.3s ease-in-out;
        transition        : all 0.3s ease-in-out;
        border-radius     : 50px;
    }

    .hamburger .line.black_line {
        background-color: #000;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    #hamburger-1.is-active .line:nth-child(2) {
        opacity: 0;
    }

    #hamburger-1.is-active .line:nth-child(1) {
        transform       : translateY(3px) rotate(45deg);
        background-color: #fff;
    }

    #hamburger-1.is-active .line:nth-child(3) {
        transform       : translateY(-11px) rotate(-45deg);
        background-color: #fff;
    }

    .mobile-menu {
        display: block;
        margin : 20px;
    }

    .mobile-menu>i {
        cursor: pointer;
    }

    .width91 {
        width: 100%;
    }

    .navbar {
        position        : absolute;
        top             : 0px;
        left            : -900px;
        border-radius   : 0;
        will-change     : top;
        background-color: #fff;
        color           : #000;
        width           : 70%;
        height          : 100vh;
        transition      : left .3s;
        display         : flex;
        align-items     : center;
    }

    .navbar--is-visible {
        top       : 0px;
        left      : 0;
        z-index   : 2;
        overflow-y: scroll;
        transition: left .3s;
    }

    .navbar .menu a {
        color: #000;
    }

    .hasDropdown {
        min-height : 50px;
        display    : flex;
        align-items: center;
    }

    .navbar .menu li:hover a.hasDropdown {
        color: #fff;
    }

    .navbar .menu li {
        position      : relative;
        flex-direction: column;
        transition    : initial;
        width         : 100%;
        min-height    : 50px;
        margin        : 0;
        padding       : 0;
    }

    .navbar .menu li:hover {
        background-color: initial;
    }

    .navbar .menu li.is-selected {
        position        : relative;
        background-color: #8f3985;
    }

    .navbar .menu li.is-selected a {
        color: #fff;
    }

    .navbar .menu li.page-link {
        display       : flex;
        flex-direction: initial;
    }

    .navbar .menu li.page-link:hover {
        color: #000;
    }

    .container {
        position     : relative;
        display      : flex;
        overflow     : hidden;
        max-height   : 0;
        margin-bottom: 0;
    }

    .container__list {
        display       : flex;
        flex-direction: column;
        width         : 100%;
    }

    a.hasDropdown:after {
        display: none;
    }

    .container--is-visible {
        max-height: 1000px !important;
    }

    .container__list .container__listItem:nth-child(n + 11) {
        display: none;
    }

    .container.has-multi .container__list-multi:not(:first-child) {
        display: none;
    }

    .menu .container.has-multi .container__list {
        margin-right: 0;
        border-right: 0;
    }

    .navbar .menu li .container__listItem {
        flex-basis: 100%;
        width     : 100%;
        padding   : 10px 0;
    }

    .mobile-menu {
        display: block;
        margin : 20px;
    }

    .mobile-menu>i {
        cursor: pointer;
    }

    .navbar .menu {
        flex-direction: column;
        width         : 100%;
    }

    .container {
        position      : static;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        overflow      : hidden;
        max-height    : 0;
        margin-bottom : 0;
        transition    : all .3s ease;
        width         : 100%;
    }

    a.hasDropdown:after {
        display: none;
    }

    .container--is-visible {
        max-height: 1000px !important;
    }

    .container__list .container__listItem:nth-child(n + 11) {
        display: none;
    }

    .container.has-multi .container__list-multi:not(:first-child) {
        display: none;
    }

    .menu .container.has-multi .container__list {
        margin-right: 0;
        border-right: 0;
    }

    .share_white {
        margin: 0 10px 0 0;
    }

    .mo,
    .navbar .menu li .logo.mo {
        display: block;
    }

    .pc {
        display: none;
    }

    .RelatedLink.owl-carousel .owl-item img {
        width: 100%;
    }

    .RelatedLink.owl-carousel .owl-item img {
        width: 100%;
    }
}

@media screen and (max-width: 805px) {
    .main {
        min-height: 1150px;
    }

    .Beehive_form {
        width     : 646px;
        min-height: 700px;
    }

    .decoration_expert {
        top : 65px;
        left: calc(-1.6% + 147.59px);
    }

    .house {
        left: calc(50% - 12%);
        top : 2.6px;
    }

    .good_helper {
        left: calc(-1.6% + 364px);
        top : 65px;
    }

    .life_lease {
        left: calc(50% - 12%);
        top : 129px;
    }

    .Sharing_circle {
        top : 319px;
        left: calc(-1.6% + 147px);
    }

    .happy_shopping {
        left: calc(50% - 12%);
        top : 256px;
    }

    .Ultra_clean {
        left: calc(50% - 12%);
        top : 382px;
    }

    .Good_life {
        left: calc(-1.6% + 364px);
        top : 191.385px;
    }
}

@media screen and (max-width: 730px) {
    .new_boder {
        flex-wrap: wrap; height: auto;
    }

    .new_boder a {
        width:50%;    margin: 0;
    }

    .new_boder a:nth-child(1),
    .new_boder a:nth-child(2),
    .new_boder a:nth-child(3),
    .new_boder a:nth-child(4) {
        margin:1px 0 0 0;
    }
    .new_boder a:nth-child(5) {
        width:100%;
    }
    a.banner img {
        width:100%;
        height: 100%;
    }
    .owl-theme .owl-nav [class*=owl-]{ font-size: 30px;}
}

@media screen and (max-width: 646px) {
    .black.flex {
        overflow: hidden;
    }
}

/* @media screen and (max-width: 646px) {
    .Beehive_form {
        width: 100%;
    }
} */
