.form-group{
    margin: auto;
}

.no_padding{
    padding-right: 0px;
    padding-left: 0px;
}

.no_padding_left{
    padding-left: 0px;
}

.no_padding_right{
    padding-right: 0px;
}

.width_control div{
    width: 100%;
}

.width_control div select{
    width: 50% !important;
}