/* 1200px ~ 1920px*/
@media (min-width: 1920px){
	html, .rwd_16_26{
		font-size: 26px;
	}
	.rwd_14_22{
		font-size: 22px;
	}
}
@media (min-width: 1200px){
	html, .rwd_16-26{
		font-size: 1.355vw;
	}
	.rwd_14-22{
		font-size: 0.846rem;
	}
	.rwd_13-21{
		font-size: 0.8rem;
	}
	/* Menu Stare */
	html .header .nav_wrap .nav > .list > a:after {
		height: 1.6vw;
		margin-top: -0.8vw;
	}
	/* Menu End */
}
@media (max-width: 1200px){
	html body{
		font-size: 16px;
	}
	footer .footer{
		font-size: 16px;
		line-height: 49px;
	}
	/* Menu Stare */
	html .header{
		height: 60px;
	}
	html .header .nav_wrap .nav .list>a{
		line-height: 60px;
		font-size: 16px;
	}
	html .header .nav_wrap .nav .list .dropdown-menu a{
		font-size: 13px;
		line-height: 25px;
	}
	html .header .nav_wrap .dropdown-menu {
		top: 60px;
	}
	/* Menu End */
	/* 歡迎頁版權宣告 Start*/
	body .welcome_wrap .copyright{
		font-size: 14px;
	}
	body .welcome_wrap .copyright span{
		font-size: 16px;
	}
	/**/
}