<div data-role="content" id="Coupon" class="ui-content" role="main">
    {include file="$tpl_dir./mobile/coupon/min_menu.tpl"}
    <div class="activity_list_wrap">
        {foreach from=$as_arr key=i item=item}
            <div class="list">
                {if $item.id_in_life=='9'}
                <a class="ui-link" href="CollectPoints">
                   {else}
                    <a class="ui-link" href="#">
                    {/if}
                    {if !empty($item.img)}<img class="" src="{$item.img}">
                        <div class="label">
                            <div class="caption1">{$item.title1}</div>
                            <div class="caption2">{$item.title2}</div>
                        </div>
                    {else}
                        <img class="" src="">
                    {/if}</a>
            </div>
            {foreachelse}
            <div>找不到資料</div>
        {/foreach}
    </div>
</div>
