
<table class="menu_buoy_main">
  <tr>
  <td class="c_1"><img src="/themes/App/mobile/img/managepage/top_banner.jpg"></td>
  </tr>
  <tr>
  <td class="c_2">
    {include file="$tpl_dir./mobile/menu_buoy.tpl"}
{*    <nav class="menu_buoy">*}
{*    <div>*}
{*            {foreach $menu_buoy_managepage as $k=>$v}*}
{*                <a class="menu_buoy_managepage" href="{$v.a}" class="{if $v.active=='1'}active{/if} ui-link" {if $v.onclick}onclick="{$v.onclick}"{/if} {if $v.data_a}data-a="{$v.data_a}"{/if} {if $v.data_class}data-class="{$v.data_class}"{/if}>{$v.title}</a>*}
{*            {/foreach}*}

{*            <buoy style="left: 0px; right: 318px;"></buoy>*}
{*    </div>*}
{*  </nav>*}

  </td>
</tr>
<tr>
  <td class="c_3 icons">
    {$x=1}
    {for $i=0;$i<3;$i++}
    <ul>
      {for $j=0;$j<3;$j++}
    <li><div class="L"><img class=""="icon icon_{$x}" src="/themes/App/mobile/img/managepage/00{$x}.0311.png"></div></li>
    {$x=$x+1}
      {/for}
    </ul>
    {/for}
    </td>
</tr>
</table>



<!-- 搜尋ber END-->
