

<div class="bottom_fix_div">
</div>

{include file="$tpl_dir./search_bar.tpl"}

<div class="container-fluid">
        <header style="max-width: 960px;">

        </header>


        <div id="tm-bg"></div>


        {include file="../../page_banner.tpl"}


        <div class="details">
			<div class="details__bg details__bg--down" style="opacity: 0; transform: none;">
				<button class="details__close" style="opacity: 0; transform: translateY(100%);"><i class="fas fa-2x fa-times icon--cross tm-fa-close"></i></button>
				<div class="details__description" style="opacity: 0;"></div>
			</div>
			</div></div>
    </div>

    <div class="container-fluid main" id="main">

        <div class="breadcrumbs">
            <p>{$breadcrumbs_html}{if $sidname} &gt; {$sidname}{/if}</p><br>
        </div>




        <div class="row profile">

            <div class="col-sm-8 data_wrap">

              <div class="object_view">


             <div id="preview" class="spec-preview"> <span class="jqzoom"><img jqimg="https://www.okrent.house/img/rent_house/1/1/8/2/5/3.jpg" src="/themes/Epro/img/master/profile-02.jpg" style="width: 100%; height: 600px; margin-top: -264px;"></span> </div>
             <!--縮圖開始-->
             <input type="hidden" id="jqimg_s" value="2">
             <div class="spec-scroll"> <a class="prev">∧</a> <a class="next">∨</a>
                 <div class="items">
                     <ul>
                                                      <li style="width: 166px;"><img alt="" bimg="https://www.okrent.house/img/rent_house/1/1/8/2/5/1 (1).jpg" src="/themes/Epro/img/master/profile-03.jpg" onmousemove="preview(this);" style="width: 166px;">
                             </li>
                                                      <li style="width: 166px;"><img alt="" bimg="https://www.okrent.house/img/rent_house/1/1/8/2/5/2.jpg" src="/themes/Epro/img/master/profile-04.jpg" onmousemove="preview(this);" style="width: 166px;">
                             </li>
                                                      <li style="width: 166px;"><img alt="" bimg="https://www.okrent.house/img/rent_house/1/1/8/2/5/3.jpg" src="/themes/Epro/img/master/profile-05.jpg" onmousemove="preview(this);" style="width: 166px;">
                             </li>
                                                      <li style="width: 166px;"><img alt="" bimg="https://www.okrent.house/img/rent_house/1/1/8/2/5/7.jpg" src="/themes/Epro/img/master/profile-06.jpg" onmousemove="preview(this);" style="width: 166px;">
                             </li>
                                                      <li style="width: 166px;"><img alt="" bimg="https://www.okrent.house/img/rent_house/1/1/8/2/5/4.jpg" src="/themes/Epro/img/master/profile-03.jpg" onmousemove="preview(this);" style="width: 166px;">
                             </li>
                                                      <li style="width: 166px;"><img alt="" bimg="https://www.okrent.house/img/rent_house/1/1/8/2/5/5.jpg" src="/themes/Epro/img/master/profile-04.jpg" onmousemove="preview(this);" style="width: 166px;">
                             </li>

                                              </ul>
                 </div>
             </div>
             <!--縮圖結束-->
             <div class="clear"></div>
         </div>
         <div class="row pro_service_depiction" >

             <div class="row pro_service_name" >開關插座維修</div>
             <div class="row pro_detail" >
               <span class="title_1">報價<span><span class="hl">$1000</span> 起~<span class="hl">$3000</span></span></span>
                <span class="title_2">區域<ul><li>新北市|淡水區</li><li>台北市|松山區-信義區</li></ul></span>
             </div>
             <div class="row pro_service_call" >
               <span class="tab_1">留言</span><span class="tab_2">預約</span><span class="tab_3">呼叫</span>
             </div>

             <div class="row pro_service_content" >
               <div class="row pro_service_head" ><span>服務詳情</span></div>
               <div class="row pro_service_page" ><span>服務內容</span></div>
               <div class="row pro_service_txt">
                 <p>和成電動曬衣機安裝,均無線遙控器遙升降</p>
                  <p>若陽台無插座則需配電配線,現場另計</p>
                  <p>&nbsp;</p>
                  <p>單桿:適合兩人,或單人套房使用</p>
                  <p>實用款:適合小家庭一周清洗量(需評估陽台天花板與空間)</p>
                  <p>實用款:適合小家庭一周清洗量(需評估陽台天花板與空間)</p>
                  <p>旗艦款:為實用款再加上雙對流風扇、負離子空氣淨化、紫外線殺菌燈</p>
                  <p>&nbsp;</p>
                  <p>產地台灣,本體皆附照明,可取代原有的陽台燈</p>
                  <p>歡迎洽詢 洪老閱</p>
                  <p>或加LINE1D@speedshow</p>
               </div>
               <div class="row pro_service_page" ><span>服務說明</span></div>
                <div class="row pro_service_txt">
                  <p><span style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">用電危害預防，電雖然帶給我們許多方便，卻也衍生出許多問題；因此預防用電之危害常識應與用電的其他知識與技術同樣的重要。正確地使用家電設備，以及避免不必要之行為是預防人體感電之不二法門。</span><br style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px;" /><span style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">(1)避免同一插座同時使用多種用電量較大的電器產品。</span><br style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px;" /><span style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">(2)延長線盡量選擇具保險絲安全裝置，當使用容量過載時，即自 動切斷電源開關，避免引發電氣災害。</span><br style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px;" /><span style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">(3)不隨意捆綁電線，以免造成電氣災害。</span><br style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px;" /><span style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">(4)電線外皮為 PVC 材質，耐高溫標準值是 60&deg;C，在高負載用電 下，捆綁電線會導至散熱不易，容易造成電線走火。回收舊電器使用，應特別注意電線是否老化、脆裂。</span><br style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px;" /><span style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">(5)若無法確定電器用品之安全性，需經專業人士檢查後方可使 用，以免發生意外。勿將手指或插頭以外金屬物品插入插座中，以免造成觸電。</span><br style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px;" /><span style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">(6)牆壁上不用的插座最好先行封閉，且不可插進金屬物品，以防發生 意外。</span><br style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px;" /><span style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">(7)電線走火時，應立即切斷電源，電源未切斷前，切勿用水潑覆其上， 以防導電。勿將手指或插頭以外金屬、導電物品插入插座中，以免造成觸電。</span><br style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px;" /><span style="color: #000000; font-family: 'Microsoft JhengHei', Arial; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">(8)牆壁上不用的插座最好先行利用插座安全墊片封閉，以防發生意外。</span></p>
                </div>
               <div class="row pro_service_page" ><span>關於我</span></div>
                 <div class="row pro_service_txt">
                 您好,我們是即時修水電工程行,負責人洪國超,擁有國家級甲級電匠特考合格,在2004年創立即時修水電工程行,至今已十五餘年,培養許多優秀認真負責的師傅,擁有經濟部審查合格,行政院勞委會審查合格,甲種、乙種電,丙級室内配線以及特定瓦斯裝修技術士等多種專利執照,同時也是中部和成淋浴拉門總代理,每年安裝上千堂淋浴拉門,給您最專業、安全的服務,是您可信賴的專業團隊!
                 </div>
               <div class="row pro_service_page" ><span>評價</span></div>
               <div class="row pro_service_txt stars">
                     <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-9x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                     <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-9x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                     <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-9x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                     <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-9x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                     <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z" class=""></path></svg>
                     <button type="button">
                     <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z" class=""></path></svg>我要評價
                   </button>
               </div>
               <div class="row pro_service_page" ><span>其他服務</span></div>
               <div class="row pro_service_txt more">
                 {$img=array("profile-07.jpg","profile-08.jpg","profile-09.jpg","profile-10.jpg")}
                 {for $i=0;$i<4;$i++}<div class="more">
                   <img src="/themes/Epro/img/master/{$img[$i]}">
                   <h4>水電安裝/修繕</h4>
                   <span>
                   快速獲得修繕、清潔報價給你最快速、最專業的叫修體驗</span>
                 </div>{/for}
              </div>
             </div>

         </div>
            </div>
            <div class="col-sm-4">
                <div class="row pro_photo" ><a href="/Profile"><img src="/themes/Epro/img/master/profile-03.jpg"></a></div>
                <div class="row pro_name"><span>生活居家裝修企業社</span></div>
                <div class="row pro_introduction"><ul>
                  <li><svg class="svg-inline--fa fa-tools fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tools" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M501.1 395.7L384 278.6c-23.1-23.1-57.6-27.6-85.4-13.9L192 158.1V96L64 0 0 64l96 128h62.1l106.6 106.6c-13.6 27.8-9.2 62.3 13.9 85.4l117.1 117.1c14.6 14.6 38.2 14.6 52.7 0l52.7-52.7c14.5-14.6 14.5-38.2 0-52.7zM331.7 225c28.3 0 54.9 11 74.9 31l19.4 19.4c15.8-6.9 30.8-16.5 43.8-29.5 37.1-37.1 49.7-89.3 37.9-136.7-2.2-9-13.5-12.1-20.1-5.5l-74.4 74.4-67.9-11.3L334 98.9l74.4-74.4c6.6-6.6 3.4-17.9-5.7-20.2-47.4-11.7-99.6.9-136.6 37.9-28.5 28.5-41.9 66.1-41.2 103.6l82.1 82.1c8.1-1.9 16.5-2.9 24.7-2.9zm-103.9 82l-56.7-56.7L18.7 402.8c-25 25-25 65.5 0 90.5s65.5 25 90.5 0l123.6-123.6c-7.6-19.9-9.9-41.6-5-62.7zM64 472c-13.2 0-24-10.8-24-24 0-13.3 10.7-24 24-24s24 10.7 24 24c0 13.2-10.7 24-24 24z"></path></svg>
                    <span>服務項目:#裝潢設計</span></li>
                  <li><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z" class=""></path></svg>
                    <span>服務評價:尚無評價</span></li>
                  <li><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="address-card" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-address-card fa-w-18 fa-7x"><path fill="currentColor" d="M512 32H64C28.7 32 0 60.7 0 96v320c0 35.3 28.7 64 64 64h448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64zm32 384c0 17.6-14.4 32-32 32H64c-17.6 0-32-14.4-32-32V96c0-17.6 14.4-32 32-32h448c17.6 0 32 14.4 32 32v320zm-72-128H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm0-64H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm0-64H360c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h112c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zM208 288c44.2 0 80-35.8 80-80s-35.8-80-80-80-80 35.8-80 80 35.8 80 80 80zm0-128c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zm46.8 144c-19.5 0-24.4 7-46.8 7s-27.3-7-46.8-7c-21.2 0-41.8 9.4-53.8 27.4C100.2 342.1 96 355 96 368.9V392c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8v-23.1c0-7 2.1-13.8 6-19.6 5.6-8.3 15.8-13.2 27.3-13.2 12.4 0 20.8 7 46.8 7 25.9 0 34.3-7 46.8-7 11.5 0 21.7 5 27.3 13.2 3.9 5.8 6 12.6 6 19.6V392c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8v-23.1c0-13.9-4.2-26.8-11.4-37.5-12.3-18-32.9-27.4-54-27.4z" class=""></path></svg>
                    <span>達人簡歷:</span><p>
                  <span>從事水電裝修、居家修繕、清潔服務的老聞們看過來,刊登您的店家資訊完全免費。<p>
省下至少10萬元的行銷預算,還能工作接不完,快上裝修達人宅任務免費刊登!快速拓展客源。免費刊登商家資料。一鍵獲取報價。<p>
抵家服務。服務:找外包工作,找兼差工作,找專業人オ。<p>
快速獲得修繕、清潔報價有水電家電維修、裝潢、清潔等需求給你最快速、最專業的叫修體驗!<p>
免費刊登服務,拓展客源每天超過3萬筆業主不用出門也能讓生意上門。<p></span></li>
                </ul></div>
        </div>
    </div>
