{include file="$tpl_dir./mobile/menu_buoy.tpl"}
<div class="document">
    <div class="rich_share_wrap">
        <section class="one">
            <h4 class="">永續收入</h4>
            <p class=""><span><img src="themes/App/mobile/img/wealthsharing/right.svg" alt="" class=""></span>生活達人 紅包輕鬆賺</p>
        </section>
        <section class="two">
            <h4 class="">被動收入</h4>
            <p class="">樂租房東 投資收益<span><img src="themes/App/mobile/img/wealthsharing/left.svg" alt="" class=""></span></p>
        </section>
        <section class="three">
            <h4 class="">永續收入</h4>
            <p class=""><span><img src="themes/App/mobile/img/wealthsharing/right.svg" alt="" class=""></span>生活樂租加盟事業</p>
        </section>

        <img class="bg" src="themes/App/mobile/img/wealthsharing/bg.JPG" alt="">
    </div>
</div>
