<div class="welcome_bg bg_full">
{if !empty($app_welcome_scrolling)}
	<div class="blessing">{$app_welcome_scrolling}</div>
{else}
	<img class="blessing" src="{$THEME_URL}/img/welcome/blessing2.png">
{/if}