<section class="slider_center">
    <div>
        <a href="https://www.lifegroup.house/"><img src="/themes/Rent/img/index/logo-b-01.png"></a>
    </div>
    <div>
        <a href="https://www.okdeal.house/"><img src="/themes/Rent/img/index/logo-b-02.png"></a>
    </div>
    <div>
        <a href="https://www.okmaster.life/ "><img src="/themes/Rent/img/index/logo-b-03_202101.png"></a>
    </div>
    <div>
        <a href=" "><img src="/themes/Rent/img/index/logo-b-04_202101.png"></a>
    </div>
    <div>
        <a href=""><img src="/themes/Rent/img/index/logo-b-05_202101.png"></a>
    </div>
    <div>
        <a href=""><img src="/themes/Rent/img/index/logo-b-06_202101.png"></a>
    </div>
    <div>
        <a href=" https://www.okpt.life"><img src="/themes/Rent/img/index/logo-b-07_202101.png"></a>
    </div>
    <div>
        <a href="https://www.shar.help"><img src="/themes/Rent/img/index/logo-b-08_202101.png"></a>
    </div>
    <div>
        <a href="https://www.epro.house  "> <img src="/themes/Rent/img/index/logo-b-09_202101.png"></a>
    </div>
</section>
<script>
    $(".slider_center").slick({
        dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 9,
        slidesToScroll: 9
    });
</script>
