{*<nav class="main_menu">*}
{*    <div class="content_width">*}
{*    <div class="logo_main"><img src="{$THEME_URL}/img/logo_main.svg"><a href="/" class="index"></a></div>*}

{*    </div>*}
{*</nav>*}