.help_block{
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	display: none;
	max-width: 100%;
	max-height: 100%;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 200;
}
.help_block>*{
	z-index: 201;
}
.help_block_previous,
.help_block_next,
.close_help_block,
.help_block>a.open_help_book,
.help_block h3.title{
	z-index: 205;
	position: fixed;
	display: inline-block;
	font-size: 30px;
	color: #fff;
	margin: unset;
}
.help_block_previous,
.help_block_next,
.close_help_block,
.help_block_previous:hover,
.help_block_next:hover,
.close_help_block:hover,
.help_block_previous:focus,
.help_block_next:focus,
.close_help_block:focus{
	display: none;
	color: #fff;
	bottom: 15px;
	text-shadow: 0 0 5px rgb(0, 0, 0);
}
.help_block_previous{
	left: 15px;
}
.help_block>a.open_help_book{
	top: 0px;
}
.help_block_next,
.help_block>a.open_help_book{
	right: 15px;
}
.help_block h3.title{
	right: 50px;
	font-size: 20px;
	line-height: 40px;
	text-shadow: 0 0 5px rgb(0, 0, 0);
}
.close_help_block{
	margin-left: -1em;
	left: 50%;
}
.open_help_book{
	cursor: pointer;
}
.help_block_content,
.help_block_menu,
.help_block_menu li ul{
	display: none;
}
.help_block_menu{
	right: 15px;
	position: fixed;
	margin: unset;
	background-color: #fff;
	max-height: 80vh;
	box-shadow: 0 0 6px #b6b6b6;
	padding: 0.5em;
	text-align: left;
	z-index: 300;
	overflow: auto;
	max-width: 100vw;
	top: 40px;
}
.help_block_menu h3{
	text-align: center;
	font-size: 20px;
	margin: 0px;
}
.close_help_block_menu{
	float: unset;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}
.help_block_menu li{
	padding-left: 1em;
	line-height: 1.5em;
}
.help_block_menu>li{
	margin-top: 0.5em;
}
.help_block_menu li ul li{
	line-height: 1.5em;
}
.help_block_menu li a.active{
	color: #0066ff;
}
.help_block_menu .chapter{
	margin-right: 0.5em;
}
.help_block_content{
	white-space: nowrap;
	left: 50vw;
	top: 40px;
	z-index: 203;
	background-color: #fff;
	display: inline-block;
	position: absolute;
	box-shadow: 0 0 5px #fff;
	border-radius: 3px;
	padding: 2px 5px;
	max-width: calc(100vw - 30px);
	border: 1px solid #000;
}
.help_block_menu
.help_block_up,
.help_block_left,
.help_block_right,
.help_block_bottom{
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}
.help_book_shine{
	transition: box-shadow 0.3s;
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	-o-transition: box-shadow 0.3s;
	-ms-transition: box-shadow 0.3s;
	box-shadow: 0 0 10px #f00, 0 0 10px #f00, 0 0 10px #f00;
	background-color: #fff;
}
.help_book_shine,
.help_book_shine.active,
.help_book_shine:hover{
	z-index: 202;
}
.help_block_s{
	position: sticky;
}
.help_block_tip{
	position: absolute;
	display: inline-block;
	background-color: #fff;
	width: 10px;
	height: 10px;
	transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	z-index: 202;
}
.tip_bottom,
.tip_top,
.tip_left,
.tip_right{
	border: 1px solid #000;
	z-index: 204;
}
.tip_top{
	margin-top: -3px;
}
.tip_bottom{
	margin-top: -5px;
}
.tip_bottom,
.tip_top{
	margin-left: -5px;
}
.tip_left,
.tip_right{
	top: -5px;
}
.tip_left,
.tip_right{
	top: -5px;
}
.tip_top{
	border-top: 0px;
	border-left: 0px;
}
.tip_bottom{
	border-bottom: 0px;
	border-right: 0px;
}