{$css}
<div class="start" style="position: absolute;width: 100%;height: 960px;left: 0px;top: 0px;z-index: 9999;">
  <div class="img" style="position: absolute;display: grid;font-size: 19pt;text-align: center;line-height: 80px;text-decoration: underline;">
  <img src="/themes/Okmaster/img/index/fn_1_1109_c.png" >
  <!-- <a href="##" style="    color: #ffffff78;">進入好科技，科技好生活</a> -->
  </div>
</div>
{include file="$tpl_dir./page_head.tpl"}
{include file="../../../../../../modules/FloatShare/float_share.tpl"}

    <div class="t_container" style="position: relative;">

      <div class="top fn_bar">


          <div class="top_L"><a href="/Login">登入</a> | <a href="/Signup">註冊</a></div>


          <div class="top_R">

            <!-- <a href="####"><img src="/themes/Okmaster/img/index/top_R_1.png"></a>

           <a href="####"><img src="/themes/Okmaster/img/index/top_R_2.png"></a> -->

          <img class="share" src="/themes/Okmaster/img/index/top_R_1w.png">
          <img class="hb" src="/themes/Okmaster/img/index/top_R_2w.png">



          </div>


      </div>



      <div class="head_div">
          <img src="/themes/Okmaster/img/index/1100310s.jpg">

      </div>
      {include file="$tpl_dir./top_fn.tpl"}
    </div>

    {$background_c=array(
      "#f6f7f1","#f4fafa","#fceee5","#fce7e6","#e2f1ea","#d4ebdb","#f2e8de","#fff;border: 1px solid #81c2d4","#fff;border: 1px solid #81c2d4","#fae5ee","#e6f5fc")}

    {$txt_h2_href=array("www.okmaster.life/Housecheck",
    "www.okmaster.life/Sterilization",
    "okpt.life",
    "okpt.life",
    "www.okrent.tw",
    "www.okrent.tw",
    "www.okrent.house/smart_lock",
    "www.lifegroup.house/LifeGo",
    "www.okmaster.life/Store",
    "www.lifegroup.house/LifeGo",
    "www.okmaster.life/Store")}
    {$group=array(
    "a",
    "a",
    "b",
    "b",
    "c",
    "c",
    "e",
    "f",
    "f",
    "g",
    "g")}

    {$txt_h2=array(
    "<img src='/themes/Okmaster/img/index/1091016-6_1.png'><br>好宅健康檢測 為您的健康把關",
    "<img src='/themes/Okmaster/img/index/1091016-6_1.png'>",
    "<img style='width: 30% !important;margin: -50px 0;' src='/themes/Okmaster/img/index/logo-b-07.png'><br>包 辦 生 活 大 小 事",
    "<img style='width: 30% !important;margin: -50px 0;' src='/themes/Okmaster/img/index/logo-b-07.png'><br>好 幫 手 生 活 服 務",
    "<img style='width: 30% !important;' src='/themes/Okrent/img/index/fn_1_1231.png'>",
    "<img style='width: 30% !important;' src='/themes/Okrent/img/index/fn_1_1231.png'>",
    "智能門鎖",
    "<img style='width: 30% !important;margin: -50px 0;' src='/themes/Okmaster/img/index/logo-b-06.png'><br>",
    "<img style='width: 30% !important;margin: -50px 0;' src='/themes/Okmaster/img/index/logo-b-10.png'><br>",
    "<img style='width: 30% !important;margin: -50px 0;' src='/themes/Okmaster/img/index/logo-b-06.png'><br>",
    "<img style='width: 30% !important;margin: -50px 0;' src='/themes/Okmaster/img/index/logo-b-10.png'><br>")}<!-- 生活樂購 &nbsp 購物商城 --><!-- 生活好康 &nbsp 特約商店 -->



    {$txt_h3=array(
      "全國第一家提供室内健康指數檢測服務^PM2.5 | 甲醛 | 黴菌 | 揮發物質^一氧化碳 | 室内綜合指數 等^幫您的健康把關",
      "清淨問題 就交給清淨對策^滅菌率高達99.99%安全 環保^消毒 | 滅菌 | 除味 | 防疫 <span class='height_light' style='font-weight: bold;text-shadow: 2px 2px 2px rgb(175 200 204),-2px -2px 2px rgb(175 200 204),2px 0px 2px rgb(175 200 204),0px 2px 2px rgb(175 200 204);'>一錠搞定</span>",
      "陪伴孩子成長不能等^和親愛的家人 朋友 度過美好時光 無可取代^好幫手完成生活中的瑣事^讓你的生活更美好!",
    "打工 | 兼差 | 接案 | SOHO | 當幫手 我最行^發展/斜槓職涯 增加收入 拓展社交^快來加入好幫手",
    "以租代買 經濟又環保^何必買? 租|換就好^發揮共享經濟效益",
    "出租物品 | 坐收租金^創造出被動式收入的同時^多了淨空的空間^還能賺取被動式收入",
    "讓小偷無從下 “鎖”^想闖空門 &nbsp連門都没有^出門免帶一大串鑰匙^不怕没帶 也不擔心掉",
    "購物享紅利積點換好康^豐富的優質商品 讓你歡樂購",
    "加入生活好康會員 即能享有好康優惠",
    "廣為告知 面面俱到^社群互動 轉介分享^多元廣宣及活動 吸引多方來客",
    "快來加入生活好康特約商店^將優質商品 | 服務 讓更多人知道")}

    {$txt_h3=array(
      "全國第一家提供室内健康指數檢測服務^幫您的健康把關^<img src='/themes/Okmaster/img/index/1091016-5-R.png' style='    width: 50% !important;    margin-top: 10px;'>",
      "清淨問題 就交給清淨對策^滅菌率高達99.99%安全 環保^消毒 | 滅菌 | 除味 | 防疫 <span class='height_light' style='font-weight: bold;text-shadow: 2px 2px 2px rgb(175 200 204),-2px -2px 2px rgb(175 200 204),2px 0px 2px rgb(175 200 204),0px 2px 2px rgb(175 200 204);'>一錠搞定</span>",
      "陪伴孩子成長不能等^和親愛的家人 朋友 度過美好時光 無可取代^好幫手完成生活中的瑣事^讓你的生活更美好!",
    "打工 | 兼差 | 接案 | SOHO | 當幫手 我最行^發展/斜槓職涯 增加收入 拓展社交^快來加入好幫手",
    "以租代買 經濟又環保^何必買? 租|換就好^發揮共享經濟效益",
    "出租物品 | 坐收租金^創造出被動式收入的同時^多了淨空的空間^還能賺取被動式收入",
    "讓小偷無從下 “鎖”^想闖空門 &nbsp連門都没有^出門免帶一大串鑰匙^不怕没帶 也不擔心掉",
    "購物享紅利積點換好康^豐富的優質商品 讓你歡樂購",
    "加入生活好康會員 即能享有好康優惠",
    "廣為告知 面面俱到^社群互動 轉介分享^多元廣宣及活動 吸引多方來客",
    "快來加入生活好康特約商店^將優質商品 | 服務 讓更多人知道")}

    {$img=array(
      "1091016-5.png",
      "1091016-6.png",
      "1091016-1.png",
      "1091016-2.png",
      "1091016-3.png",
      "1091016-4.png",
      "1091016-7.png",
      "1091016-8.png",
      "1091016-9.png",
      "1091016-10.png",
      "1091016-11.png"
      )}

    {$change_RL=7}

    <div class="line">
      <ul class="fix_win" style="position: fixed; display:none">

      </ul>

      <ul class="fix_win_2" style="position: fixed; display:none">

      </ul>
      {$only='<!--<i class="far fa-circle only"></i>-->'}
      {for $i=0;$i<count($txt_h2);$i++}
      {if $i<$change_RL}
      <ul class="R_txt{if $group[$i]==$group[$i+1]} group{/if}{if $group[$i]!=$group[$i+1] && $group[$i]!=$group[$i-1]} single{/if}" style="position: relative;">
        <il class="L" onclick="window.open('https://{$txt_h2_href[$i]}','_blank ')">
          <img src="/themes/Okmaster/img/index/{$img[$i]}">
        </il>
        <il class="Blus_line _{$i}_line">{if $group[$i]!=$group[$i+1] && $group[$i]!=$group[$i-1]}{$only}{/if}{if $group[$i]==$group[$i+1]}<i class="far fa-circle"></i>{else}<i class="far fa-circle"></i>{/if}</il>
        <il class="R txt" onclick="window.open('https://{$txt_h2_href[$i]}','_blank ')">
          <div class="bk" style="background:{$background_c[$i]}"></div>
          <div class="cnt">
          <span>
          <h2>{$txt_h2[$i]}</h2>
          <h3>{str_replace('^', '<br>', $txt_h3[$i])}</h3>
        </span></div>
        </il>
      </ul>
      {else}
      <ul style="position: relative;" class="{if $group[$i]==$group[$i+1]}group{/if}{if $group[$i]!=$group[$i+1] && $group[$i]!=$group[$i-1]} single{/if}">
      <il class="L txt" onclick="window.open('https://{$txt_h2_href[$i]}','_blank ')">
        <div class="bk" style="background:{$background_c[$i]}"></div>
        <div class="cnt">
        <span>
        <h2>{$txt_h2[$i]}</h2>
        <h3>{str_replace('^', '<br>', $txt_h3[$i])}</h3>
      </span></div>
      </il>
      <il class="Blus_line">{if $group[$i]!=$group[$i+1] && $group[$i]!=$group[$i-1]}{$only}{/if}{if $group[$i]==$group[$i+1]}<i class="far fa-circle"></i>{else}<!--<i class="far fa-circle bottom"></i>-->{/if}</il>
      <il class="R" onclick="window.open('https://{$txt_h2_href[$i]}','_blank ')">
        <img src="/themes/Okmaster/img/index/{$img[$i]}">

      </il>
      </ul>
      {/if}
      {$i=$i+1}{if $i<count($txt_h2)}
      {if $i<$change_RL}
      <ul style="position: relative;" class="{if $group[$i]==$group[$i+1]}group{/if}{if $group[$i]!=$group[$i+1] && $group[$i]!=$group[$i-1]} single{/if}">
      <il class="L txt" onclick="window.open('https://{$txt_h2_href[$i]}','_blank ')">
        <div class="bk" style="background:{$background_c[$i]}"></div>
        <div class="cnt">
        <span>
        <h2>{$txt_h2[$i]}</h2>
        <h3>{str_replace('^', '<br>', $txt_h3[$i])}</h3>
      </span></div>
      </il>
      <il class="Blus_line">{if $group[$i]!=$group[$i+1] && $group[$i]!=$group[$i-1]}{$only}{/if}{if $group[$i]==$group[$i+1]}<i class="far fa-circle"></i>{else}<!--<i class="far fa-circle bottom"></i>-->{/if}</il>
      <il class="R" onclick="window.open('https://{$txt_h2_href[$i]}','_blank ')">
        <img src="/themes/Okmaster/img/index/{$img[$i]}">
      </il>
      </ul>

      {else}

      <ul class="R_txt{if $group[$i]==$group[$i+1]} group{/if}{if $group[$i]!=$group[$i+1] && $group[$i]!=$group[$i-1]} single{/if}" style="position: relative;">
        <il class="L" onclick="window.open('https://{$txt_h2_href[$i]}','_blank ')">
          <img src="/themes/Okmaster/img/index/{$img[$i]}">
        </il>
        <il class="Blus_line">{if $group[$i]!=$group[$i+1] && $group[$i]!=$group[$i-1]}{$only}{/if}{if $group[$i]==$group[$i+1]}<i class="far fa-circle"></i>{else}<!--<i class="far fa-circle bottom"></i>-->{/if}</il>
        <il class="R txt" onclick="window.open('https://{$txt_h2_href[$i]}','_blank ')">
          <div class="bk" style="background:{$background_c[$i]}"></div>
          <div class="cnt">
          <span>
          <h2>{$txt_h2[$i]}</h2>
          <h3>{str_replace('^', '<br>', $txt_h3[$i])}</h3>
        </span></div>
        </il>
      </ul>
      {/if}
      {/if}
      {/for}
      <ul class="B" style="height: 400px">
        <il class="L">

        </il>
        <il class="R"></i>

        </il>
      </ul>
      <div class="section_bottom"></div>
    </div>
    <div class="bottom_fix_div" style="display: block;"></div>
    <div class="bottom_fix_div b2" style="display: block;"></div>
