<style>
img.R_img {
    padding-left: 10px;
    padding-bottom: 10px;
}

.map {
    background: url("/themes/App/mobile/img/patner/rainbow.png");
}

img.L_img {
    padding-right: 10px;
    padding-bottom: 10px;
}
</style>
{include file="$tpl_dir./mobile/menu_buoy.tpl"}
<p>

<div class="map">
  <img  class="R_img" src="\themes\App\mobile\img\patner\photo_1.png">


  <img  class="L_img" src="\themes\App\mobile\img\patner\photo_2.png">


  <img  class="R_img" src="\themes\App\mobile\img\patner\photo_3.png">


  <img  class="L_img" src="\themes\App\mobile\img\patner\photo_4.png">


  <img  class="R_img" src="\themes\App\mobile\img\patner\photo_5.png">


  <img  class="L_img" src="\themes\Okrent\img\index\1091222_1_banner_2.JPG">


  <img  class="R_img" src="\themes\App\mobile\img\patner\photo_7.png">

</div>
