<div class="row">
  <div class="cell-1"></div>
  <div class="propaganda cell-6">
    <label class="qut_link">樂搜商品</label>
    <label class="qut_link link_1">配件</label>
    <label class="qut_link link_2">包包</label>
    <label class="qut_link link_3">外套</label>
    <label class="qut_link link_4">長褲</label>
  </div>
  <div class="propaganda cell-4"><div class="row"><div class="tit_text cell-2">優惠</div><div class="con_text cell-10">於4/25~5/10活動期間,特定品項提供買一送一優惠 ~ ~ </div></div></div>
  <div class="cell-1"></div>
</div>
