{$hrefs=array("#",
"https://www.okrent.house/",
"https://www.okdeal.house/",
"https://www.okmaster.life",
"https://www.okmaster.life/Cleansolution",
"https://www.okrent.house/Store",
"https://www.lifegroup.house/LifeGo",
"https://www.okpt.life",
"https://www.okrent.tw",
"#",
"https://www.epro.house")}

{$filert_for=array("#",
"#",
"#",
"okrent.house",
"#",
"#",
"#",
"#",
"#",
"#",
"#")}

{$alts=array("生活集團 | 生活樂租.生活房屋.裝修達人.好幫手 | 生活資產股份有限公司│生活資產管理股份有限公司",
"生活樂租 讓您租事順利 租屋就是快又好l代租 託管 包租 租屋管理│生活樂租",
"生活房屋",
"生活好科技 | 科技好生活-各類平台服務優化您的生活品質 | 清淨對策 | 好幫手生活服務 | 共享圈 租換平台 | 智能門鎖 | 生活樂購 | 生活好康 | 生活好科技",
"生活好科技 | 清淨對策",
"生活好康│生活樂租",
"生活樂購│生活資產管理股份有限公司",
"好幫手 生活服務 | 包辦生活大小事 | 兼差 打工 接案 SOHO 案源多 媒合快│好幫手",
"共享圈│生活樂租",
"樂租集團 | 生活好科技│生活樂租",
"生活樂租 租事順利 | 代租‧代管‧包租‧租管服務‧樂租信用認證‧安心租履約保證‧ 安心租保險‧樂租投資收益憑證‧生活樂租加盟體系 | 租屋 管理 領導品牌 | 租屋就是快又好")}

{$pic=array("#",
"okrent.house",
"okdeal.house",
"okmaster.life",
"Cleansolution",
"Store",
"LifeGo",
"okpt.life",
"shar.help",
"lifegroup.house",
"epro.house")}

{for $i=0;$i<sizeof($hrefs);$i++}
  {if $hrefs[$i]!="#" && $pic[$i]!="#" && $alts[$i]!="#" && !stripos(WEB_DNS,$filert_for[$i]) && !stripos(WEB_DNS,$pic[$i]) && WEB_DNS!=$pic[$i]}
    <div>
          <!-- WEB_DNS: -->{*stripos(WEB_DNS,$pic[$i])*}<a href="{$hrefs[$i]}"><img src="/img/footer_icon/{$pic[$i]}.png" alt="{$alts[$i]}"></a>
    </div>
  {/if}
{/for}
