@charset "UTF-8";

@font-face {
  font-family: "HuaKangXiuFengTiFan-1";
  src: url("HuaKangXiuFengTiFan-1.woff2") format("woff2"),
       url("HuaKangXiuFengTiFan-1.woff") format("woff"),
       url("HuaKangXiuFengTiFan-1.ttf") format("truetype"),
       url("HuaKangXiuFengTiFan-1.eot") format("embedded-opentype"),
       url("HuaKangXiuFengTiFan-1.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}