


<div class="rows_1">
    <div class="content">
        <div class="title_txt">
            <img src="/themes/Okrent/img/index/1090918_10_01.png">
            <span>NEW</span>
        </div>

        {$l_titel=array("<h5><b>露營帳篷</b></h5>","白白屋","<b><span style='font-size: 14pt;color: #ff7c00;'>600</span></b>元/日","可租日<label></label>2020-11-10","","")}
        {$l_c=array("","","","","","")}
        {$l_c_s=array("margin-bottom: 20px !important;color: #000;height: 2.25rem !important;","","position: absolute;    margin-top: -20px;    line-height: 12pt;","position: absolute;margin-top: -20px;","","")}
        {$r_titel=array("瀏覽次數<label></label>&nbsp &nbsp &nbsp &nbsp 38","桃園市桃園區","","","","")}
        {$r_c=array("","","","","","")}
        {$r_c_s=array("position: fixed;margin-top: 5px;","","","","","")}

        <div class="news_row">
            <section class="slider regular">
                {foreach $caption_data1 as $key => $value}
                    <div class="list">
                        <div class="img_frame">

                          <a href="LifeGoProduct?item_id={$value.item_id}"><img src="/themes/Okrent/img/index/1090918_12.png"></a></div>
                        <div class="content_frame">

                          <div class="infor">
                            <div class="heart"><a><i class="far fa-heart"></i></a></div>
                            <ul>


                          {for $i=0;$i<sizeof($l_titel);$i++}

                              <li>
                              <ul class="row row_{$i} p_name">
                                <li class="l"><span style="{$l_titel_s[$i]}"></span></li>
                                <li class="c_l"><span style="{$l_c_s[$i]}">{$l_titel[$i]}{$l_c[$i]}</span></li>
                                <li class="r"><span style="{$r_titel_s[$i]}"></span></li>
                                <li class="c_r"><span style="{$r_c_s[$i]}">{$r_titel[$i]}{$r_c[$i]}</span></li>
                              </ul>
                              </li>
                          {/for}

                            </ul>

                          </div>

                        </div>
                    </div>
                {/foreach}
            </section>
        </div>
    </div>
</div>

<div class="rows_2">
    <div class="content">
        <div class="title_txt">
            <img src="/themes/Okrent/img/index/1090918_10_01.png">
            <span>HOT</span></div>
        <div class="news_row">
            <section class="slider regular">
                {foreach $caption_data1 as $key => $value}
                    <div class="list">
                        <div class="img_frame"><a href="LifeGoProduct?item_id={$value.item_id}"><img src="/themes/Okrent/img/index/1090918_13.png"></a></div>

                        <div class="content_frame">

                          <div class="infor">
                            <div class="heart"><a><i class="far fa-heart"></i></a></div>
                            <ul>


                          {for $i=0;$i<sizeof($l_titel);$i++}

                              <li>
                              <ul class="row row_{$i} p_name">
                                <li class="l"><span style="{$l_titel_s[$i]}"></span></li>
                                <li class="c_l"><span style="{$l_c_s[$i]}">{$l_titel[$i]}{$l_c[$i]}</span></li>
                                <li class="r"><span style="{$r_titel_s[$i]}"></span></li>
                                <li class="c_r"><span style="{$r_c_s[$i]}">{$r_titel[$i]}{$r_c[$i]}</span></li>
                              </ul>
                              </li>
                          {/for}

                            </ul>

                          </div>

                        </div>


                        <!-- <div class="content_frame">
                            <div style="" class="heart_div">
                                <div class="number">{$value.item_number}</div>
                                <div class="heart">
                                    <img src="/themes/LifeHouse/img/lifego/heart.svg" alt="" style="width: 20px;">
                                    <div class="quantity">{$value.favorite}</div>
                                </div>
                            </div>
                            <div class="caption"><a href="LifeGoProduct">{$value.main_title}</a></div>
                            <div class="caption2">{$value.title}</div>
                            <div class="heart_wrap">
                                <div class="price_original">原價 <span class="outer"><span class="inner">{$value.price_original}日/</span></span>元</div>
                                <div class="text-center price">
                                    <div class="text-center"><span>$ {$value.price}</span>/日</div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                {/foreach}
            </section>
        </div>
    </div>
</div>
{$js}
